<template>
    <div id="home"
         class="home-banner"
         ref="homepage"
         @wheel="onMouseScroll"
    >


        <div class="animation" v-show="loading">
            <div class="slide-home"
                 ref="slideHome">
                <div class="slide-home__blue__screen"></div>
                <div class="slide-home__grey__screen"></div>
            </div>
            <div class="slide-out" ref="slideOut">
                <div class="slide-out__blue__screen"></div>
                <div class="slide-out__white__screen"></div>
            </div>
        </div>
        <div class="hompage__video_wrapper">
            <canvas id="noise" ref="noise"
                    class="noise">
            </canvas>
            <video
                    id="video"
                    class="homepage__video"
                    autoplay
                    loop
                    muted
                    ref="video">
                <source :src="require('@/assets/homepage-video.mp4')"
                        type="video/webm">
            </video>
        </div>
        <div class="home-banner__wrapper">
            <div class="home-banner__phone">
                <div class="home-banner__bread" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <div itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="https://mobios.ua/">
                            <span itemprop="name">Веб студия</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </div>

                    <div itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <link itemprop="item" href="https://mobios.ua/#">
                        <a itemprop="item" href="https://mobios.ua/#">
                            <span itemprop="name">Создание и продвижение сайтов</span>
                        </a>
                        <!--                        <span itemprop="name"> | Студия разработки сайтов</span>-->
                        <meta itemprop="position" content="2">
                    </div>
                </div>
                <a href="tel:+380678887516">+38 (067) 888 75 16</a>
            </div>
            <div class="home-banner__title">
                <div class="homepage__title"
                    ref="slideTitle">
                    <h1 class="top">WEB-СТУДИЯ MOBIOS</h1>
                    <span class="title__animated_str">
                        <span class="title__animated_str_text one">
                            <span class="title__animated_str_moving_block one"></span>
                            <span class="title__animated_str_moving_text one">WEB <br/></span>
                        </span>
                    </span>
                    <span class="title__animated_str two">
                        <span class="title__animated_str_text two">
                            <span class="title__animated_str_moving_block two"></span>
                            <span class="title__animated_str_moving_text two">Разработка<br/></span>
                        </span>
                    </span>
                    <span class="title__animated_str two">
                        <span class="title__animated_str_text two">
                            <span class="title__animated_str_moving_block two"></span>
                            <span class="title__animated_str_moving_text two small">и продвижение</span>
                        </span>
                    </span>
                    <span class="static">Позаботимся о вашем бизнесе, как о своем</span>
                </div>
            </div>
            <button class="home-banner__btn" @click="showPopup()">Let’s talk :)</button>
        </div>
        <transition name="slide-up" appear>
             <span class="homepage__view_our_projects">
                <span class="homepage__horizontal_line"></span>
                <div class="swipe-up">
                    <img src="~@/assets/swipe-up.png"
                         alt="">
                </div>
                <div class="mouse">
                    <div class="scroll"></div>
                </div>
                View our <br> projects
            </span>
        </transition>

        <modal name="open-popup-form" class="popupForm"  :adaptive="true" :resizable="true" :height="550" :maxWidth="540">
            <span class="closeFormPopup" @click="closePopup()"></span>
            <send-mail-form></send-mail-form>
        </modal>
        <vue-recaptcha
                :sitekey="sitekey"
                ref="invisibleRecaptcha"
                size="invisible"
                :loadRecaptchaScript="true"></vue-recaptcha>
    </div>
</template>

<script>
    import SendMailForm from "../SendMailForm.vue";
    import VueRecaptcha from 'vue-recaptcha';
    export default {
        name: 'home',
        data() {
            return {
                // videoSrc: true,
                // loading: false,
                // loadingPage: false,
                // complete: false,
                loading: true,
                sitekey: '6Le9SsUUAAAAAJ-I7GFodhZ7QQ5oQadzKlhYP9Jv',
            }
        },
        mounted() {
            this.runAnimation();
            this.touchListener();
            this.noiseFX();
        },
        methods: {
            touchListener() {
                let touchstartY = 0;
                let touchendY = 0;
                let el = document.querySelector('#home');
                el.addEventListener('touchstart', (event) => {
                    touchstartY = event.changedTouches[0].screenY;
                }, false);

                el.addEventListener('touchend', (event) => {
                    touchendY = event.changedTouches[0].screenY;
                    if (touchendY < touchstartY && (touchstartY - touchendY) > 150) this.onMouseScroll({deltaY: 1});
                    if (touchendY > touchstartY && (touchendY - touchstartY) > 150) this.onMouseScroll({deltaY: -1});
                }, false);
            },
            runAnimation() {
                this.$refs.slideHome.style.display = 'block';
                this.$refs.slideTitle.style.display = 'flex';
                setTimeout(() => {
                    this.loading = false;
                    this.$refs.slideHome.style.display = 'none';
                }, 1500)
            },
            onMouseScroll: function (e) {

                if (Math.sign(e.deltaY) === 1) {
                    this.loading = true;
                    this.$refs.slideOut.style.display = 'block';
                    setTimeout(() => this.$router.push('/portfolio'), 800);
                }
            },

            playVideo() {
                this.$refs.video.play();
            },
            noiseFX: function () {
                const noise = () => {
                    let canvas, ctx;

                    let wWidth, wHeight;

                    let noiseData = [];
                    let frame = 0;

                    let loopTimeout;


                    // Create Noise
                    const createNoise = () => {
                        const idata = ctx.createImageData(wWidth, wHeight);
                        const buffer32 = new Uint32Array(idata.data.buffer);
                        const len = buffer32.length;

                        for (let i = 0; i < len; i++) {
                            if (Math.random() < 0.5) {
                                buffer32[i] = 0xff000000;
                            }
                        }

                        noiseData.push(idata);
                    };


                    // Play Noise
                    const paintNoise = () => {
                        if (frame === 9) {
                            frame = 0;
                        } else {
                            frame++;
                        }

                        ctx.putImageData(noiseData[frame], 0, 0);
                    };


                    // Loop
                    const loop = () => {
                        paintNoise(frame);

                        loopTimeout = window.setTimeout(() => {
                            window.requestAnimationFrame(loop);
                        }, (1000 / 25));
                    };


                    // Setup
                    const setup = () => {
                        wWidth = window.innerWidth;
                        wHeight = window.innerHeight;

                        canvas.width = wWidth;
                        canvas.height = wHeight;

                        for (let i = 0; i < 10; i++) {
                            createNoise();
                        }

                        loop();
                    };


                    // Reset
                    let resizeThrottle;
                    const reset = () => {
                        window.addEventListener('resize', () => {
                            window.clearTimeout(resizeThrottle);

                            resizeThrottle = window.setTimeout(() => {
                                window.clearTimeout(loopTimeout);
                                setup();
                            }, 200);
                        }, false);
                    };


                    // Init
                    const init = (() => {
                        //canvas = document.getElementById('noise');
                        canvas = this.$refs.noise;
                        ctx = canvas.getContext('2d');

                        setup();
                    })();
                };
                noise();
            },


            showPopup () {
                this.$modal.show('open-popup-form');
            },
            closePopup(){
                this.$modal.hide('open-popup-form');
            }
        },
        components: {
            'send-mail-form': SendMailForm,
            VueRecaptcha
        },
        created() {

        },

        destroyed() {
            window.removeEventListener('scroll', this.onMouseScroll);
        }
    }
</script>

<style lang="scss">
    .home {
        .animation {
            z-index: 2;
        }

        .lines{
            display: none;
        }
        .contacts__form_wrapper{
            border: 6px solid #fff;
        }
        .contacts__form_text,
        .contacts__input:not(.submit),
        .contacts__input + label{
            transition: none;
            width: 100%;
        }
        .contacts__input.submit{
            transition: none;
            transform: scale(1);
        }
    }

    #home {
        .noise {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .05;
        }
        .title__animated_str_text {
            display: inline-block;
            position: relative;
            left: 0;
            top: 0;
            font: 900 86px 'Geometria', Sans-Serif;
            line-height: 86px;
            color: #fff;
            text-transform: uppercase;
            @media (max-width: 1400px) {
                font-size: 56px;
                line-height: 1.2;
            }
            @media (max-width: 1024px) {
                font-size: 36px;
                line-height: 36px;
            }
        }
        .title__animated_str_moving_text {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
            &.one{
                font-size: 160px;
                line-height: 140px;
                @media screen and (max-width: 1550px){
                    font-size: 120px;
                    line-height: 95px;
                }
            }
            &.two{
                font-size: 100px;
                line-height: 100px;
                @media screen and (max-width: 1550px){
                    font-size: 60px;
                    line-height: 60px;
                }
                &.small{
                    font-size: 40px;
                    line-height: 40px;
                    @media screen and (max-width: 1550px){
                        font-size: 28px;
                        line-height: 28px;
                    }
                    @media screen and (max-width: 1366px){
                        font-size: 18px;
                        line-height: 18px;
                    }
                }
            }

        }
        .title__animated_str_moving_block {
            left: -100%;
            display: block;
            height: 100%;
            background: #fff;
            position: absolute;
            width: 100%;
            @media (max-width: 1024px) {
                display: none;
            }
        }
        .title__animated_str_moving_block {
            &.one {
                animation: whiteBlockLeft 0.7s ease-out 1.2s;
                animation-fill-mode: forwards;
            }
            &.two {
                animation: whiteBlockLeft 0.7s ease-out 1.3s;
                animation-fill-mode: forwards;
            }
        }
        .title__animated_str_moving_text {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            &.one {
                animation: textWidth 0.8s ease-out 1.3s 1 normal forwards;
            }
            &.two {
                animation: textWidth 0.8s ease-out 1.4s 1 normal forwards;
            }
            @media (max-width: 1024px) {
                white-space: inherit;
                animation: none !important;
                width: auto;

            }
        }
        .next-page {
            width: 100vw;
            position: absolute;
            height: 100vh;
            overflow: hidden;
            z-index: 9999;
            .white_screen {
                animation: nextPage 1s;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
                background: #fff;
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 100vh;
            }
            .blue_screen {
                background: #00b4db;
                animation: nextPage 1s;
                animation-fill-mode: forwards;
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 100vh;
            }

        }
    }

    .hompage__video_wrapper{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 100vw;
            height: 100vh;
            position: absolute;
            z-index: -1;
            background-color: rgba(170, 170, 170, 0.7);
        }
        @media (max-width: 1024px){
            &:before{
                top: -55px;
                height: calc(100vh + 55px);
            }
        }
    }

    .title__animated_str {
        //position: relative;
        width: max-content;
        overflow: hidden;
        display: inherit;
        @media (max-width: 1024px) {
            width: auto;
        }
    }

    .noise {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .05;
    }

    .homepage__video {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        object-fit: cover;
    }

    .homepage__title {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        .top{
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            line-height: 24px;
            position: relative;
            top: -10%;
            opacity: 0;
            animation: slideDown 0.7s ease-out 1.2s;
            animation-fill-mode: forwards;
            margin: 0;
        }
        .static{
            color: #fff;
            font-size: 24px;
            line-height: 24px;
            max-width: 250px;
            border-left: 2px solid #fff;
            padding: 5px 10px;
            position: absolute;
            left: 425px;
            top: 60px;
            opacity: 0;
            animation: slideLeft 0.7s ease-out 1.2s;
            animation-fill-mode: forwards;
            @media screen and (max-width: 1550px) {
                top: 42px;
                left: 125px;
                font-size: 18px;
                line-height: 18px;
                max-width: 185px;
            }
        }
    }

    .home-banner{
        &__bread{
            display: flex;
            justify-content: flex-end;
            div{
                margin: 0 5px;
            }
            span{
                font-size: 14px;
            }
        }
        &__wrapper{
            height: 100vh;
            padding-left: calc(100% / 12);
            display: flex;
            flex-direction: column;
        }
        &__title{
            margin-top: 8%;
        }
        &__phone{
            text-align: right;
            margin-top: 30px;
            position: relative;
            top: -10%;
            opacity: 0;
            animation: slideDown 1s ease-out 1.2s;
            animation-fill-mode: forwards;
            a{
                font-size: 24px;
                color: #fff;
                display: inline-block;
                margin-left: auto;
                &:hover{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        &__btn{
            border: 2px solid #fff;
            width: 250px;
            height: 50px;
            background: transparent;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            transition: all .3s;
            margin-top: 25px;

            position: relative;
            top: -10%;
            opacity: 0;
            animation: slideDown 1s ease-out 1.2s;
            animation-fill-mode: forwards;
            &:hover{
                color: #000;
                background: #fff;
            }
        }
    }

    .homepage__view_our_projects {
        font: 400 18px 'Geometria', Sans-Serif;
        line-height: 18px;
        color: #fff;
        position: fixed;
        bottom: 10.5%;
        left: 24.5%;
        transition: all .75s ease 2s;
        padding-left: 50px;

        display: inline-block;
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 1.2;
            display: flex;
            align-items: center;
            padding-left: 0;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            .swipe-up {
                margin-right: 10px;
            }
        }
    }

    .homepage__horizontal_line {
        width: 2px;
        height: 270px;
        position: absolute;
        left: -26px;
        bottom: -135px;
        display: block;
        background: #fff;
        @media (max-width: 1800px) {
            height: 250px;
        }
        @media (max-width: 1550px) {
            height: 220px;
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }

    @keyframes nextPage {
        0% {
            top: 100vh;
        }
        100% {
            top: 0vh;
        }
    }

    @keyframes blue_screen_moves_right {
        0% {
            left: -100%;
        }
        40% {
            left: 0;
        }
        60% {
            left: 0;
        }
        100% {
            left: 100%;
        }
    }

    @keyframes blue_screen_moves_from_bottom_to_top {
        0% {
            bottom: -100%;
        }
        40% {
            bottom: 0;
        }
        60% {
            bottom: 0;
        }
        100% {
            bottom: 100%;
        }
    }

    @keyframes white_screen_appears {
        0% {
            opacity: 0;
        }
        49% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes social_link_appear {
        0% {
            left: -100%;
        }
        40% {
            left: 0;
        }
        60% {
            left: 0;
        }
        100% {
            left: 100%;
        }
    }

    @keyframes gray_screen_desapears {
        0% {
            opacity: 1;
        }
        49% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes hide_div {
        0% {
            opacity: 1;
        }
        99% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes textWidth {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes whiteBlockLeft {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }

    @keyframes slideDown {
        0% {
            top: -30px;
            opacity: 0;
        }
        100% {
            top: 0px;
            opacity: 1;
        }
    }

    @keyframes slideLeft {
        0% {
            left: 225px;
            opacity: 0;
        }
        100% {
            left: 425px;
            opacity: 1;
        }
    }
    @media screen and (max-width: 1550px){
        @keyframes slideLeft {
            0% {
                left: 125px;
                opacity: 0;
            }
            100% {
                left: 325px;
                opacity: 1;
            }
        }
    }
</style>
