<template>
    <section>
        <carousel :items="3"
                  :dots="false"
                  :nav="false"
                  :slideBy="1"
                  v-if="!reloadCarousel"
                  :lazyLoad="false"
                  ref="carousel"
                  :loop="false"
                  :responsive="{0:{items:2},1024:{items:3}}">
            <template slot="prev">
                <transition name="fade">
                    <span class="custom__prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.38" height="8.968" viewBox="0 0 14.38 8.968">
                          <path id="Прямоугольник_5_копия" data-name="Прямоугольник 5 копия" class="cls-1" d="M1877,540.313h12.78v0.593H1877v-0.593Zm9.34-3.7-0.43.43,3.87,3.874,0.43-.43Zm3.62,3.69,0.42,0.427-3.82,3.839-0.42-.426Z" transform="translate(-1876.5 -536.094)"/>
                        </svg>
                    </span>
                </transition>
            </template>
            <template slot="next">
                <transition name="fade">
                    <span class="custom__next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.38" height="8.968" viewBox="0 0 14.38 8.968">
                          <path id="Прямоугольник_5_копия" data-name="Прямоугольник 5 копия" class="cls-1" d="M1877,540.313h12.78v0.593H1877v-0.593Zm9.34-3.7-0.43.43,3.87,3.874,0.43-.43Zm3.62,3.69,0.42,0.427-3.82,3.839-0.42-.426Z" transform="translate(-1876.5 -536.094)"/>
                        </svg>
                    </span>
                </transition>
            </template>

            <div class="owl-container" v-for="array in itemCarousel">
                <div class="item" v-for="item in array"
                     v-on:mouseover="playingVideo()"
                     v-on:mouseleave="pauseVideo()"
                     @click="showPopup()"
                     :data-videoSrc="item.video">
                    <video muted="muted" v-if="showVideoImgValue">
                        <source :src=item.video autoplay="false" type="video/mp4">
                    </video>
                    <img v-if="!showVideoImgValue" :src="item.imgSrc" alt="">
                </div>
            </div>
        </carousel>
        <modal name="open-popup-video" class="popupVideo"  :adaptive="true" :resizable="true" :width="1000" height="600">
            <span class="closeVideoPopup" @click="closePopup()"></span>
            <video id="popupVideo" controls autoplay loop>
                <source :src="popupVideoSrc" type="video/mp4">
            </video>
        </modal>
    </section>
</template>
<script>
    import carousel from "vue-owl-carousel";


    export default {
        name: 'portfolio',
        data: function () {
            return {
                items: [
                    {
                        video: require('@/assets/motion-design/videos/motion-v1.mp4'),
                        imgSrc: require('@/assets/motion-design/prj-1.jpg')
                    },
                    {
                        video: require('@/assets/motion-design/videos/motion-v2.mp4'),
                        imgSrc: require('@/assets/motion-design/prj-2.jpg')
                    },
                    {
                        video: require('@/assets/motion-design/videos/motion-v3.mp4'),
                        imgSrc: require('@/assets/motion-design/prj-5.jpg')
                    },
                    {
                        video: require('@/assets/motion-design/videos/motion-v4.mp4'),
                        imgSrc: require('@/assets/motion-design/prj-4.jpg')
                    },
                    {
                        video: require('@/assets/motion-design/videos/motion-v5.mp4'),
                        imgSrc: require('@/assets/motion-design/prj-5.jpg')
                    },
                    {
                        video: require('@/assets/motion-design/videos/motion-v6.mp4'),
                        imgSrc: require('@/assets/motion-design/prj-6.jpg')
                    },
                    {
                        video: require('@/assets/motion-design/videos/motion-v7.webm'),
                        imgSrc: require('@/assets/motion-design/prj-7.jpg')
                    },
                    {
                        video: require('@/assets/motion-design/videos/motion-v8.mp4'),
                        imgSrc: require('@/assets/motion-design/prj-8.jpg')
                    },
                    {
                        video: require('@/assets/motion-design/videos/motion-v9.mp4'),
                        imgSrc: require('@/assets/motion-design/prj-9.jpg')
                    },
                    // {
                    //     video: require('@/assets/processBg.webm')
                    // },
                    // {
                    //     video: require('@/assets/processBg.webm')
                    // },
                    // {
                    //     video: require('@/assets/processBg.webm')
                    // },
                ],

                popupVideoSrc: '',

                countItems: 3,
                reloadCarousel: false,

                showVideoImgValue: true,
            }
        },
        mounted(){
            this.showVideoImg();
            window.addEventListener('resize', () => {
                this.showVideoImg();
            });
        },
        watch:{
        },
        methods:{

            playingVideo: function(e){
                event.target.querySelector('video').play();
            },
            pauseVideo: function(){
                event.target.querySelector('video').pause();
            },
            showPopup () {
                this.$modal.show('open-popup-video');
                this.popupVideoSrc = event.target.getAttribute('data-videoSrc');
                // document.getElementById('popupVideo').play();
            },
            closePopup(){
                this.$modal.hide('open-popup-video');
            },
            showVideoImg() {
                if(window.innerWidth < 1025){
                    this.showVideoImgValue = false;
                }else{
                    this.showVideoImgValue = true;
                }
            }
        },
        components:{carousel},
        computed:{
            itemCarousel(){
                const COUNT_ITEMS = this.countItems;
                let resultArray = [[]];
                let counterItems = 0;
                this.items.map((item,index)=>{
                    if(resultArray[counterItems].length === COUNT_ITEMS){
                        counterItems++;
                        resultArray[counterItems] = [];
                    }
                    resultArray[counterItems].push(item);
                });
                return resultArray
            },
        },
    }
</script>
<style lang="scss">
    #portfolio{
        position: relative;
        transform: translate(0);
        overflow: hidden;
        margin-left: -70px;
        padding-left: 70px;
        @media (max-width: 1024px){
            padding-right: 0;
            padding-left: 0;
            margin-left: 0;
            transform: none;
        }
        .custom__prev,.custom__next{
            position: absolute;
            z-index: 2;
            width: 42px;
            height: 42px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border-radius: 100%;
            transition: all .3s;
            svg{
                fill: #272727;
            }
            @media screen and (max-width: 1024px){
                height: 34px;
                width: 34px;
            }
        }
        .custom__prev{
            left: 115px;
            transform: rotate(-180deg) translateY(50%);
            @media screen and (max-width: 1024px){
                left: 15px;
            }
            &:hover{
                transform: rotate(-180deg) translateY(50%) scale(1.1);
            }
        }
        .custom__next{
            right: 80px;
            display: none;
            @media screen and (max-width: 1024px){
                display: flex;
                right: 15px;
            }
            &:hover{
                transform: translateY(-50%) scale(1.1);
            }
        }
        .owl-carousel{
            height: 100vh;
            @media screen and (max-width: 1024px) {
                height: auto;
            }
            .owl-stage{
                height: 100%;
            }
            .owl-container{
                height: 100vh;
                @media screen and (max-width: 1024px) {
                    height: 640px;
                }
                @media screen and (max-width: 600px){
                    height: 280px;
                }
                .item{
                    width: 100%;
                    height: 33.3%;
                    position: relative;
                    border: 1px solid #fff;
                    overflow: hidden;
                    cursor: pointer;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url('~@/assets/motion-design/portfolio_screen.png');
                        z-index: 1;
                        opacity: 0.65;
                        transition: .25s ease-in;
                        @media (max-width: 1550px){
                            background-size: 100% 101%;
                        }
                    }
                    &:hover{
                        &:before{
                            opacity: 0;
                        }
                    }
                    video{
                        width: 100%;
                        height: auto;
                        position: relative;
                        min-height: 100%;
                        object-fit: cover;
                    }
                    img{
                        min-width: 100%;
                        min-height: 100%;
                    }
                }
            }
        }
        .owl-dots {
            bottom: 25px;
            position: absolute;
            display: flex;
            counter-reset: dots;
            @media (max-width: 1024px){
                bottom: 5px;
            }
        }
        .owl-dot{
            font-size: 24px;
            color: white;
            font-weight: 300;
            margin-left: 40px;
            transition: .35s ease-in-out;
            position: relative;
            width: 45px;
            height: 45px;
            &:after{
                content: "";
                width: 7px;
                height: 7px;
                background: #fff;
                border-radius: 50%;
                position: absolute;
                left: -23px;
                bottom: 15px;
                transition: .35s ease-in-out;
            }
            &:before {
                counter-increment:dots;
                transition: font-size 0.25s linear;
                content: "0" counter(dots);

            }
            &.active,&:hover{
                &:before{
                    font-size: 36px;
                    transition: .35s ease-in-out;
                    line-height: 36px;
                }
            }
            span{
                display: none;
            }
            &:first-child{
                &:after{
                    display: none;
                }
            }
            @media screen and(max-width: 1024px){
                font-size: 18px;
                margin-left: 25px;
                width: 32px;
                height: 32px;
                &.active{
                    font-size: 24px;
                }
                &:after{
                    width: 3px;
                    height: 3px;
                    left: -13px;
                }
            }
        }
        .owl-carousel .owl-stage{
            transition: all 0.7s ease 0s !important;
        }
        .popupVideo{
            video{
                width: 100%;
                height: 100%;
            }
        }
        .v--modal-overlay .v--modal-box{
            background: transparent;
            box-shadow: none;
        }
        .closeVideoPopup{
            position: absolute;
            width: 30px;
            height: 30px;
            right: 5px;
            top: 10px;
            cursor: pointer;
            z-index: 2;
            background-color: #fff;
            border-radius: 50%;
            transition: all .3s;
            &:hover{
                transform: scale(1.1);
            }
            &:before{
                content: '';
                height: 20px;
                width: 1px;
                background-color: #222;
                transform: rotate(45deg);
                position: absolute;
                top: 5px;
                left: 15px;
            }
            &:after{
                content: '';
                height: 20px;
                width: 1px;
                background-color: #222;
                transform: rotate(-45deg);
                position: absolute;
                top: 5px;
                left: 15px;
            }
        }
        .v--modal-overlay {
            background: rgba(0, 0, 0, 0.5);
        }
    }

</style>
