<template>
    <div class="container">
        <span class="additional_services__page_title">Дополнительные услуги</span>

        <div class="additional_services__grid">

            <div class="additional_services__item">
                <div class="additional_services__icon">
                    <img src="~@/assets/web-development/seo.svg"
                         alt="">
                </div>
                <p>SEO <br>ОПТИМИЗАЦИЯ</p>
            </div>

            <div class="additional_services__item">
                <div class="additional_services__icon">
                    <img src="~@/assets/web-development/contextual.svg"
                         alt="">
                </div>
                <p>Контекстная <br>реклама</p>
            </div>

            <div  class="additional_services__item">
                <div class="additional_services__icon">
                    <img src="~@/assets/web-development/smm.svg"
                         alt="">
                </div>
                <p>Smm/smo</p>
            </div>

            <div class="additional_services__item">
                <div class="additional_services__icon">
                    <img src="~@/assets/web-development/analysis.svg"
                         alt="">
                </div>
                <p>Анализ <br>конкурентов</p>
            </div>

            <div class="additional_services__item">
                <div class="additional_services__icon">
                    <img src="~@/assets/web-development/branding.svg"
                         alt="">
                </div>
                <p>Создание бренда</p>
            </div>

            <div class="additional_services__item">
                <div class="additional_services__icon">
                    <img src="~@/assets/web-development/Naming.svg"
                         alt="">
                </div>
                <p>Naming</p>
            </div>

            <div class="additional_services__item">
                <div class="additional_services__icon">
                    <img src="~@/assets/web-development/marketing.svg"
                         alt="">
                </div>
                <p>маркетинг</p>
            </div>

            <div class="additional_services__item">
                <div class="additional_services__icon">
                    <img src="~@/assets/web-development/seo-audit.svg"
                         alt="">
                </div>
                <p>Seo аудит</p>
            </div>

        </div>

    </div>
</template>

<script>

    export default {
        name: "services",
        data() {
            return {
            }
        },
        components: {
        },
        computed: {
        },
        methods: {

        },
        mounted: function () {
        },
        watch: {
        },
    }
</script>

<style lang="scss">
    .additional_services{
        background: #f1f1f1;
        position: relative;
        height: 100vh;
        @media screen and (max-width: 1024px) {
            height: auto;
        }
        .container{
            max-width: 1540px;
            padding: 0 30px;
            width: 100%;
            @media screen and (max-width: 1023px){
                padding: 0 15px;
            }
        }

        &__page_title{
            font-size: 64px;
            color: #222222;
            text-align: center;
            text-transform: uppercase;
            font-weight: 900;
            display: block;
            &--white{
                color: #fff;
            }
            @media screen and (max-width: 1550px){
                font-size: 48px;
            }
            @media screen and (max-width: 1280px){
                font-size: 42px;
            }
            @media screen and (max-width: 1024px){
                font-size: 36px;
            }
            @media screen and (max-width: 768px){
                font-size: 18px;
            }
        }
        &__grid{
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
        }
        &__item{
            flex-basis: 25%;
            padding: 50px 0 50px 50px;
            border-right: 1px solid #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
            transition: all .3s;
            &:hover{
                text-decoration: none;
                .additional_services__icon{
                    img{
                        transform: scale(1.1);
                        @media screen and (max-width: 1024px){
                            transform: none;
                        }
                    }
                }
            }
            &:nth-child(4n){
                border-right: none;
            }
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8){
                border-bottom: none;
            }
            @media screen and (max-width: 1550px){
                padding-left: 30px;
            }
            @media screen and (max-width: 1366px){
                padding-top: 30px;
                padding-bottom: 30px;
            }
            @media screen and (max-width: 1023px){
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px 0;
            }
            @media screen and (max-width: 550px) {
                flex-basis: 50%;
                padding: 20px 0;
                &:nth-child(2n){
                    border-right: none;
                }
                &:nth-child(5),
                &:nth-child(6){
                    border-bottom: 1px solid #d0d0d0;
                }
            }
        }
        &__icon{
            height: 100px;
            width: 110px;
            text-align: center;
            position: relative;
            transition: all .3s;
            @media screen and (max-width: 1550px){
                height: 70px;
                width: 80px;
            }
            @media screen and (max-width: 1200px){
                height: 55px;
                width: 60px;
            }
            &:after{
                content: '';
                width: 2px;
                height: 55px;
                background-color: #00b4db;
                position: absolute;
                top: calc(100% + 15px);
                left: calc(50% - 1px);
                @media screen and (max-width: 1200px) {
                    left: 14px;
                }
                @media screen and (max-width: 1023px){
                    display: none;
                }
            }
            img{
                height: 100%;
                max-width: 100%;
                transition: all .3s;
            }
        }
        p{
            color: #222222;
            font-size: 20px;
            line-height: 24px;
            font-weight: 900;
            text-transform: uppercase;
            padding: 0 0 0 70px;
            margin: 15px 0px;
            display: flex;
            align-items: center;
            min-height: 60px;
            @media screen and (max-width: 1366px){
                    font-size: 16px;
                    line-height: 20px;
            }
            @media screen and (max-width: 1200px){
                font-size: 14px;
                line-height: 16px;
                padding: 0 0 0 35px;
            }
            @media screen and (max-width: 1023px){
                padding-left: 0;
                font-size: 12px;
                text-align: center;
            }
            @media screen and (max-width: 550px){
                margin: 14px 0 0;
                min-height: auto;
            }
        }
        &__body{
            height: 85vh;
            display: flex;
            align-items: center;
            @media screen and (max-width:1366px){
                height: 88vh;
            }
            @media screen and (max-width:1024px){
                height: auto;
            }
        }

        &__footer{
            background-color: #222831;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 15vh;
            -webkit-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
            overflow: hidden;
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: transparent;
                background-image: url("~@/assets/slice.png");
                background-repeat: repeat;
                background-size: 8px;
                z-index: 2;
            }
            .container{
                position: relative;
                z-index: 2;
            }

            a{
                &:hover,&:focus{
                    color: #fff;
                    text-decoration: none;
                }
            }

            #setka{
                width: 300px;
                height: 300px;
            }
            .canvas_wrapper{
                z-index: 1;
                width: 300px;
                height: 300px;
            }
            @keyframes slidein {
                0% {
                    height: 15vh;
                }

                100% {
                    height: 543px;
                }
            }
            @keyframes slideout {
                0% {
                    height: 543px;
                }

                100% {
                    height: 15vh;
                }
            }
            @media screen and (max-width: 1550px){
                @keyframes slidein {
                    0% {
                        height: 112px;
                    }

                    100% {
                        height: 450px;
                    }
                }
                @keyframes slideout {
                    0% {
                        height: 450px;
                    }

                    100% {
                        height: 112px;
                    }
                }
            }
            @media screen and (max-width: 1024px){
                @keyframes slidein {
                    0% {
                        height: 265px;
                    }

                    100% {
                        height: 600px;
                    }
                }
                @keyframes slideout {
                    0% {
                        height: 600px;
                    }

                    100% {
                        height: 265px;
                    }
                }
            }
            @media screen and (max-width: 480px){
                @keyframes slidein {
                    0% {
                        height: 265px;
                    }

                    100% {
                        height: 500px;
                    }
                }
                @keyframes slideout {
                    0% {
                        height: 500px;
                    }

                    100% {
                        height: 265px;
                    }
                }
            }
            &.hideForm{
                animation-duration: 1s;
                animation-name: slideout;
            }
            &.expanded{
                height: 543px;
                padding: 20px 0;
                animation-duration: 1s;
                animation-name: slidein;
                @media screen and (max-width: 1550px){
                    height: 450px;
                }
                @media screen and (max-width: 1024px){
                    height: 600px;
                    .additional_services__footer__grid{
                        flex-direction: column;
                    }
                    .send_mail_form__wrapper{
                        margin: 20px 0;
                    }
                }
                @media screen and (max-width: 480px){
                    height: 500px;
                    padding-top: 45px;
                }
                .send_mail_form__wrapper{
                    height: auto;
                }
                .contacts__form_wrapper{
                    opacity: 1;
                    visibility: visible;
                }
            }
            .send_mail_form__wrapper{
                -webkit-transition: 1s ease-in-out;
                transition: 1s ease-in-out;
                height: 0;
            }
            .contacts__form_wrapper{
                -webkit-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                position: relative;
                opacity: 0;
                visibility: hidden;
            }
            &__grid{
                display: flex;
                align-items: center;
                justify-content: space-between;
                -webkit-transition: .35s ease-in-out;
                transition: .35s ease-in-out;
                @media screen and (max-width: 1024px){
                    flex-direction: column;
                }
            }
            &_col{
                @media screen and (max-width: 1024px){
                    &:first-of-type{
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    &:last-of-type{
                        margin-top: 30px;
                    }
                }
            }
            &_tel {
                font-size: 24px;
                line-height: 30px;
                font-weight: 700;
                color: #fff;
                letter-spacing: .48px;
                padding-left: 70px;
                display: block;
                @media screen and (max-width: 1366px){
                    font-size: 22px;
                }
                @media screen and (max-width: 1200px){
                    padding: 0;
                    font-size: 18px;
                }
                @media screen and (max-width: 550px){
                    font-size: 24px;
                }
            }
            &_email {
                font-size: 18px;
                line-height: 30px;
                font-weight: 700;
                color: #fff;
                letter-spacing: .36px;
                padding-left: 70px;
                @media screen and (max-width: 1366px){
                    font-size: 16px;
                    line-height: 18px;
                }
                @media screen and (max-width: 1200px){
                    padding: 0;
                    font-size: 14px;
                }
                @media screen and (max-width: 550px){
                    font-size: 18px;
                }
            }
            &_adress {
                font-size: 14px;
                letter-spacing: .28px;
                font-weight: 700;
                color: #fff;
                display: inline-block;
                text-align: left;
                margin-right: 130px;
                @media screen and (max-width: 1200px){
                    margin: 0;
                }
                @media screen and (max-width: 1024px){
                    text-align: center;
                }
            }
            &_btn {
                display: block;
                width: 223px;
                height: 52px;
                background-color: #fff;
                border: 2px solid #fff;
                color: #222;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: .36px;
                text-transform: uppercase;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;
                transition: all .3s;
                &:hover{
                    background-color: transparent;
                    color: #fff;
                }
                @media screen and (max-width: 1366px){
                    font-size: 14px;
                    height: 45px;
                }
            }
            .scale-enter-active{
                animation: scale-in .3s;
            }
            .scale-leave-active {
                animation: scale-in .3s reverse;
            }
            @keyframes scale-in {
                0% {
                    transform: scale(0);
                }
                100% {
                    transform: scale(1);
                }
            }

            @media screen and (max-width:1366px){
                height: 12vh;
            }
            @media screen and (max-width:1024px){
                height: 265px;
                position: relative;
                top: 0;
                left: 0;
                padding: 40px 0 30px;
                margin-top: 30px;
            }

        }
        .shrink_footer_btn {
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
            @media screen and (max-width:480px) {
                top: -20px;
            }
            &:before,
            &:after{
                content: "";
                width: 12px;
                height: 12px;
                border: 2px solid #fff;
                position: absolute;
                display: block;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:before {
                border-left: 0;
                border-bottom: 0;
                top: 5px;
                left: -7px;
            }
            &:after {
                border-right: 0;
                border-top: 0;
                top: 5px;
                left: 7px;
            }
        }

        @media screen and (max-width: 1024px) {
            padding: 35px 0 0;
        }
    }
</style>
