@font-face {
    font-family: 'Geometria-Italic';
    src: url('Geometria-Italic.woff') format('woff'),
        url('Geometria-Italic.svg#Geometria-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-ExtraLight';
    src: url('Geometria-ExtraLight.woff') format('woff'),
        url('Geometria-ExtraLight.svg#Geometria-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-MediumItalic';
    src: url('Geometria-MediumItalic.woff') format('woff'),
        url('Geometria-MediumItalic.svg#Geometria-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-ExtraBoldItalic';
    src: url('Geometria-ExtraBoldItalic.woff') format('woff'),
        url('Geometria-ExtraBoldItalic.svg#Geometria-ExtraBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Bold';
    src: url('Geometria-Bold.woff') format('woff'),
        url('Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-HeavyItalic';
    src: url('Geometria-HeavyItalic.woff') format('woff'),
        url('Geometria-HeavyItalic.svg#Geometria-HeavyItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-ExtraLightItalic';
    src: url('Geometria-ExtraLightItalic.woff') format('woff'),
        url('Geometria-ExtraLightItalic.svg#Geometria-ExtraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-ExtraBold';
    src: url('Geometria-ExtraBold.woff') format('woff'),
        url('Geometria-ExtraBold.svg#Geometria-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-BoldItalic';
    src: url('Geometria-BoldItalic.woff') format('woff'),
        url('Geometria-BoldItalic.svg#Geometria-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria.woff') format('woff'),
        url('Geometria.svg#Geometria') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Light';
    src: url('Geometria-Light.woff') format('woff'),
        url('Geometria-Light.svg#Geometria-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-LightItalic';
    src: url('Geometria-LightItalic.woff') format('woff'),
        url('Geometria-LightItalic.svg#Geometria-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Thin';
    src: url('Geometria-Thin.woff') format('woff'),
        url('Geometria-Thin.svg#Geometria-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-ThinItalic';
    src: url('Geometria-ThinItalic.woff') format('woff'),
        url('Geometria-ThinItalic.svg#Geometria-ThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url('Geometria-Medium.woff') format('woff'),
        url('Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Heavy';
    src: url('Geometria-Heavy.woff') format('woff'),
        url('Geometria-Heavy.svg#Geometria-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

