<template>
    <u-animate-container
            :config="config">
        <main class="amore">
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина детской одежды - Amore mio"
                description="Разработка интернет-магазина для компании Amore mio - продажа детской одежды и обуви. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="container">
            <div class="amore__top">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="amore__top-img"
                >
                    <img class="img-responsive" src="~@/assets/images/amore/top-mock.png" alt="">
                </u-animate>
                <div>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            el="h2"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="amore__title"
                    >
                        Amore mio
                    </u-animate>

                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            el="h1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="amore__subtitle"
                    >
                        
                    Разработка интернет-магазина детской одежды
                    </u-animate>

                    <div class="btn-wrap">
                        <a class="btn" rel="nofollow" href="//amoremio-ua.com/" target="_blank">Перейти на сайт</a>
                    </div>
                    <u-animate
                            name="bounceIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            el="p"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="amore__task"
                    >
                        <b>Задача:</b> создать удобный, полностью адаптивный <br> интернет-магазин детской одежды
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="container color__container">
            <div class="color">
                <div class="color__example">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            el="h3"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="amore__name amore__name_color"
                    >
                        Цветовое решение
                    </u-animate>
                    <div class="color__in">
                        <u-animate
                                name="fadeInUp"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__wrap"
                        >
                            <div class="color__inner color__inner_brown"></div>
                            <p class="color__name">#74675f</p>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="0.5s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__wrap"
                        >
                            <div class="color__inner color__inner_blue"></div>
                            <p class="color__name">#809ec6</p>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__wrap"
                        >
                            <div class="color__inner color__inner_green"></div>
                            <p class="color__name">#b7dc7c</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0.7s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__wrap"
                        >
                            <div class="color__inner color__inner_red"></div>
                            <p class="color__name">#ff7171</p>
                        </u-animate>
                    </div>
                </div>
                <u-animate
                        name="bounceInRight"
                        delay="0.7s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="color__img"
                >
                    <img src="~@/assets/images/amore/color-img.png" alt="">
                </u-animate>
            </div>
        </section>
        <section class="container">
            <div class="typo">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="typo__img"
                >
                    <img src="~@/assets/images/amore/note-mock.png" alt="">
                </u-animate>
                <div class="typo__txt">
                    <u-animate
                            name="bounceIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            el="h3"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="amore__name amore__name_color"
                    >
                        Шрифтовое решение
                    </u-animate>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="typo__inner"
                    >
                        <p class="typo__bellico">Bellico</p>
                        <p class="typo__coquette">CoquetteC</p>
                        <div>
                            <p class="typo__cs">Clear Sans</p>
                            <p class="typo__cs_ex typo__cs_b">Bold</p>
                            <p class="typo__cs_ex typo__cs_r">Regular</p>
                            <p class="typo__cs_ex typo__cs_l">Light</p>
                        </div>
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="container prev">
            <div class="row">

                <u-animate
                        name="fadeIn"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-md-8 col-md-offset-2"
                >
                    <img class="img-responsive prev__shad" src="~@/assets/images/amore/home.jpg" alt="">
                </u-animate>

                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-md-2 dn9922"
                >
                    <p class="prev__name">
                        Домашняя
                    </p>
                    <p class="prev__name prev__name_right prev__name_line">
                        страница
                    </p>
                </u-animate>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6 prev__catalog">
                        <div class="prev__catalog-name dn992">
                            <p class="prev__name">
                                Страница
                            </p>
                            <p class="prev__name prev__name_right">
                                каталога
                            </p>
                        </div>
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img class="img-responsive prev__shad" src="~@/assets/images/amore/cataloge.jpg" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
            <div class="row">
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-md-6 col-md-offset-6 prev__p-page"
                >
                    <img class="img-responsive prev__shad" src="~@/assets/images/amore/product-page.jpg" alt="">
                </u-animate>
            </div>
            <div class="row">
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="prev__phone"
                >
                    <img src="~@/assets/images/amore/iphone5.png" alt="">
                </u-animate>
            </div>
        </section>
        <section class="container func__container">
            <div class="func">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        el="h3"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="amore__name amore__name_color"
                >
                <h3>
                    Функционал
                </h3>
                </u-animate>
                <div class="func__wrap">
                    <div class="func__list">
                        <u-animate
                                name="bounceIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                el="h3"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="func__inner"
                        >
                            <span class="func__number func__number_1">1</span>
                            <p class="func__name"><span>CMS</span> Opencart PRO</p>
                        </u-animate>
                        <u-animate
                                name="bounceIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                el="h3"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="func__inner"
                        >
                            <span class="func__number">2</span>
                            <p class="func__name"><span>Framework</span> Bootstrap 3</p>
                        </u-animate>
                        <u-animate
                                name="bounceIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                el="h3"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="func__inner"
                        >
                            <span class="func__number">3</span>
                            <p class="func__name"><span>Полностью</span> адаптивен</p>
                        </u-animate>
                        <u-animate
                                name="bounceIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                el="h3"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="func__inner"
                        >
                            <span class="func__number">4</span>
                            <p class="func__name">Онлайн <span>оплата</span></p>
                        </u-animate>
                    </div>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="func__img"
                    >
                        <img src="~@/assets/images/amore/func-img.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="container another__container">
            <u-animate
                    name="bounceIn"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    el="h3"
                    animateClass="animated"
                    :begin="false"
                    class="amore__name amore__name_another"
            >
                Другие страницы
            </u-animate>
            <div class="row">
                <u-animate
                        name="fadeInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-md-8"
                >
                    <img class="img-responsive prev__shad" src="~@/assets/images/amore/contact.jpg" alt="">
                </u-animate>
            </div>
            <div class="row">
                <u-animate
                        name="fadeInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-md-7 col-md-offset-5 another__404"
                >
                    <img class="img-responsive prev__shad" src="~@/assets/images/amore/notfound.jpg" alt="">
                </u-animate>
            </div>
        </section>
        <section class="bottom">
            <div class="bottom__wrap">
                <img class="bottom__img" src="~@/assets/images/amore/bottom.gif" alt="">
            </div>
            <h5 class="bottom__name">Amore mio</h5>
        </section>
    </main>
    </u-animate-container>

</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    .amore__top, .color {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        -webkit-box-pack: justify
    }

    .amore__title, .amore__title::after {
        font-family: Bellico;
        letter-spacing: 2.9px;
        color: #74675f
    }

    body, html {
        overflow-x: hidden
    }
    p, h2, h3{
        margin: 0;
    }

    @font-face {
        font-family: Bellico;
        src: url(~@/assets/fonts/amore/Bellico.eot?#iefix) format("embedded-opentype"), url(~@/assets/fonts/amore/Bellico.otf) format("opentype"), url(~@/assets/fonts/amore/Bellico.woff) format("woff"), url(~@/assets/fonts/amore/Bellico.ttf) format("truetype"), url(~@/assets/fonts/amore/Bellico.svg#Bellico) format("svg");
        font-weight: 400;
        font-style: normal
    }

    @font-face {
        font-family: CoquetteC;
        src: url(~@/assets/fonts/amore/CoquetteC.eot?#iefix) format("embedded-opentype"), url(~@/assets/fonts/amore/CoquetteC.woff) format("woff"), url(~@/assets/fonts/amore/CoquetteC.ttf) format("truetype"), url(~@/assets/fonts/amore/CoquetteC.svg#CoquetteC) format("svg");
        font-weight: 400;
        font-style: normal
    }

    @font-face {
        font-family: ClearSans;
        src: url(~@/assets/fonts/amore/ClearSans-Bold.eot?#iefix) format("embedded-opentype"), url(~@/assets/fonts/amore/ClearSans-Bold.woff) format("woff"), url(~@/assets/fonts/amore/ClearSans-Bold.ttf) format("truetype"), url(~@/assets/fonts/amore/ClearSans-Bold.svg#ClearSans-Bold) format("svg");
        font-weight: 700;
        font-style: normal
    }

    @font-face {
        font-family: ClearSans;
        src: url(~@/assets/fonts/amore/ClearSans-Medium.eot?#iefix) format("embedded-opentype"), url(~@/assets/fonts/amore/ClearSans-Medium.woff) format("woff"), url(~@/assets/fonts/amore/ClearSans-Medium.ttf) format("truetype"), url(~@/assets/fonts/amore/ClearSans-Medium.svg#ClearSans-Medium) format("svg");
        font-weight: 400;
        font-style: normal
    }

    @font-face {
        font-family: ClearSans;
        src: url(~@/assets/fonts/amore/ClearSans-Light.eot?#iefix) format("embedded-opentype"), url(~@/assets/fonts/amore/ClearSans-Light.woff) format("woff"), url(~@/assets/fonts/amore/ClearSans-Light.ttf) format("truetype"), url(~@/assets/fonts/amore/ClearSans-Light.svg#ClearSans-Light) format("svg");
        font-weight: 300;
        font-style: normal
    }

    .amore {
        background: url(~@/assets/images/amore/amore-bg.png) center/cover no-repeat, #fff4f0;
        padding-top: 40px
    }

    .amore__top {
        display: flex;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .amore__top-img {
        position: relative;
        z-index: 1
    }

    .amore__title {
        font-size: 139px;
        line-height: 91px;
        position: relative
    }

    .amore__title::after {
        content: 'Amore mio';
        opacity: .05;
        font-size: 228px;
        position: absolute;
        top: -20px;
        right: -180px;
        width: 816px
    }

    .amore__task::before, .color__inner::after, .func__number::after, .prev__name_line::before {
        content: ''
    }

    .amore__subtitle {
        color: #74675f;
        font-family: CoquetteC;
        font-size: 28px;
        line-height: 29.81px;
        letter-spacing: .8px;
        text-align: center;
        margin-top: 5px
    }

    .amore__task {
        color: #222;
        font-family: ClearSans;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        padding-left: 25px;
        position: relative;
        margin-left: 20px;
        margin-top: 120px
    }

    .amore__task::before {
        width: 1px;
        height: 43px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #809ec6
    }

    .amore__name {
        color: #74675f;
        font-family: CoquetteC;
        font-size: 68px;
        font-weight: 400;
        letter-spacing: 1.7px
    }

    .amore__name_color {
        margin-bottom: 80px
    }

    .amore__name_another {
        margin-bottom: 40px;
        text-align: center
    }

    .color {
        display: flex;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .color__container {
        margin-top: 170px
    }

    .color__in {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        max-width: 450px
    }

    .color__inner {
        width: 45px;
        height: 45px;
        position: relative;
        -webkit-border-radius: 50%;
        border-radius: 50%
    }

    .color__inner::after {
        display: block;
        width: 58px;
        height: 59px;
        border: 1px solid #74675f;
        position: absolute;
        top: -7px;
        left: -7px;
        -webkit-border-radius: 50%;
        border-radius: 50%
    }

    .color__wrap, .typo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox
    }

    .color__inner_brown {
        background-color: #74675f
    }

    .color__inner_blue {
        background-color: #809ec6
    }

    .color__inner_blue::after {
        border-color: #809ec6
    }

    .color__inner_green {
        background-color: #b7dc7c
    }

    .color__inner_green::after {
        border-color: #b7dc7c
    }

    .color__inner_red {
        background-color: #ff7171
    }

    .color__inner_red::after {
        border-color: #ff7171
    }

    .color__wrap {
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        max-width: 151px;
        margin-bottom: 70px
    }

    .typo, .typo__inner {
        -webkit-box-pack: justify
    }

    .color__name {
        margin: 0;
        color: #222;
        font-family: ClearSans;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: .45px
    }

    .typo__inner, .typo__txt {
        margin-left: auto
    }

    .typo {
        display: flex;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative
    }

    .typo__bellico {
        color: #74675f;
        font-family: Bellico;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 1.2px
    }

    .typo__coquette, .typo__cs {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: .7px
    }

    .typo__coquette {
        color: #74675f;
        font-family: CoquetteC;
        line-height: 70px
    }

    .prev__name, .typo__cs, .typo__cs_ex {
        color: #74675f;
        font-family: ClearSans
    }

    .typo__cs {
        margin-top: 13px
    }

    .typo__cs_ex {
        font-size: 16px;
        letter-spacing: .4px;
        text-align: center
    }

    .typo__cs_b {
        font-weight: 700
    }

    .typo__cs_r {
        font-weight: 400
    }

    .typo__cs_l {
        font-weight: 300
    }

    .typo__img {
        position: absolute;
        left: -140px;
        top: -90px;
        z-index: 2
    }

    .typo__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 100%;
        max-width: 514px
    }

    .prev {
        position: relative;
        margin-top: 247px
    }

    .prev__catalog {
        margin-top: -2625px
    }

    .prev__catalog-name {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 100%;
        max-width: 180px;
        position: absolute;
        top: -160px;
        left: -20px
    }

    .prev__p-page {
        margin-top: -1155px
    }

    .prev__phone {
        position: absolute;
        bottom: 110px;
        left: 20px;
        z-index: 2
    }

    .prev__name, .prev__name_line, .prev__shad {
        position: relative
    }

    .prev__shad {
        -webkit-box-shadow: 0 -26px 51px 3px rgba(0, 0, 1, .06);
        box-shadow: 0 -26px 51px 3px rgba(0, 0, 1, .06);
        z-index: 1
    }

    .prev__name {
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: .7px
    }

    .prev__name_right {
        text-align: right
    }

    .prev__name_line::before {
        display: block;
        width: 200px;
        height: 1px;
        position: absolute;
        top: 0;
        left: -38px;
        background-color: #74675f
    }

    .func__inner, .func__wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox
    }

    .func__wrap {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .func__number {
        color: #809ec6;
        font-family: CoquetteC;
        font-size: 48px;
        font-weight: 400;
        position: relative;
        z-index: 1
    }

    .func__number::after {
        display: block;
        width: 79px;
        height: 79px;
        background-color: #fff;
        position: absolute;
        left: -26px;
        top: -10px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: -1
    }

    .bottom, .bottom__img, .bottom__wrap {
        position: relative
    }

    .func__number_1::after {
        left: -31px
    }

    .func__inner {
        padding-left: 30px;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-bottom: 80px
    }

    .func__name {
        margin-left: 55px;
        color: #222;
        font-family: ClearSans;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: .72px
    }

    .bottom__name, .func__name span {
        font-weight: 400
    }

    .func__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        max-width: 691px
    }

    .func__container {
        margin-top: 60px
    }

    .func__img {
        margin-top: -130px;
        margin-right: 40px
    }

    .another__404 {
        margin-top: -450px
    }

    .another__container {
        position: relative;
        z-index: 2
    }

    .bottom {
        background: #fff4f0;
        margin-top: -230px;
        padding-bottom: 40px
    }

    .bottom__wrap {
        width: 100%;
        max-width: 645px;
        height: 645px;
        margin: 0 auto;
        background: #fff;
        -webkit-border-radius: 50%;
        border-radius: 50%
    }

    .bottom__img {
        margin-top: 160px;
        z-index: 1
    }

    .bottom__name {
        opacity: .05;
        color: #74675f;
        font-family: Bellico;
        font-size: 360px;
        letter-spacing: 2.9px;
        position: absolute;
        top: 170px;
        left: 50%;
        margin: 0 0 0 -650px
    }

    .btn-wrap {
        width: 100%;
        max-width: 220px;
        background: #FF7171;
        margin: 50px auto
    }

    .btn {
        display: block;
        color: #fff;
        padding: 10px;
        font-family: ClearSans;
        font-weight: 300;
        font-size: 16px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        text-align: center
    }

    .btn:hover {
        color: #fff;
        letter-spacing: 1px
    }

    @media screen and (max-width: 1200px) {
        .amore__title::after, .color__img, .typo__img {
            display: none
        }

        .amore__title {
            font-size: 99px
        }

        .amore__top {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .color__container {
            margin-top: 70px
        }
    }

    @media screen and (max-width: 992px) {
        .bottom__name, .dn992, .func__img {
            display: none
        }

        .another__404, .prev__catalog, .prev__p-page {
            margin-top: 40px
        }
    }

    @media screen and (max-width: 767px) {
        .amore__title {
            font-size: 75px
        }

        .func__inner {
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            margin-bottom: 30px
        }

        .amore__task, .prev {
            margin-top: 40px
        }

        .amore__subtitle {
            font-size: 18px;
            line-height: 100%
        }

        .prev__phone {
            display: none
        }

        .amore__name_color {
            margin-bottom: 50px
        }

        .amore__name {
            font-size: 45px
        }

        .amore__task {
            margin-left: 0
        }

        .typo__inner {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .bottom__wrap {
            height: initial
        }

        .bottom__img {
            width: 100%
        }
    }

    @media screen and (max-width: 400px) {
        .color__wrap {
            max-width: 120px
        }

        .color__name {
            font-size: 13px
        }

        .bottom {
            margin-top: -170px
        }
    }
</style>