<template>
    <u-animate-container
            :config="config">
        <main class="bankov-spa" id="bankov-spa">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта для строительной компании Bankow-Spa"
                description="Разработка корпоративного сайта Bankow-Spa для компании Bankow, разработан на фреймворке Laravel. Адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <div class="bankov_spa_main">
            <div class="row no-margin">
                <div class="container">
                    <div class="col-xs-12">
                        <h1 class="white-text text main-sub">Разработка корпоративного сайта для строительной компании</h1>
                        <p class="white-text text main-name">Баньковъ-SPA</p>
                        <img class="responsive-img middle-pic logo_bankov-spa" src="~@/assets/images/bankov-spa/logo.png">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 center"
                        >
                            <a class="btn read-more" tabindex="-1" href="http://bankow-spa.ru/" rel="nofollow" target="blank">Перейти на сайт</a>
                        </u-animate>
                    </div>
                </div>
            </div>
        </div>
        <div class="bankov_spa_develop">
            <div class="row no-margin">
                <div class="container">
                    <u-animate
                            name="slideInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p class="text sub main-sub white-text">О проекте</p>
                        <p class="border_white"></p>
                        <p class="text sub white-text about">Для компании "Баньков-SPA" был разработан корпоративный сайт,
                            который подробно рассказывает об услугах компании,
                            наглядно демонстрирует выполненные работы с помощью ярких красочных галерей и все это в удобной и
                            хорошо структурированной форме</p>
                    </u-animate>
                    <u-animate
                            name="slideInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p class="text sub main-sub white-text">Инструменты разработки</p>
                        <p class="border_white"></p>
                        <div class="tools">
                            <ul class="text sub white-text">
                                <li>Concept design</li>
                                <li>Web UI/UX Design</li>
                                <li>Web Development</li>
                                <li>Front-End: фреймворк Materialize</li>
                                <li>Back-End: фреймворк Laravel 5</li>
                            </ul>
                        </div>
                    </u-animate>
                </div>
            </div>
        </div>
        <div class="bankov_spa_uikit">
            <div class="row no-margin">
                <div class="container">
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6 top"
                    >
                        <p class="text name">UI KIT</p>

                        <p class="text sub">Разработан персонально под каждую страницу. Каждый элемент дизайна тщательно продуман
                            и отрисован. Все элементы выдержаны в едином стиле и цветовой гамме</p>
                    </u-animate>

                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6 top"
                    >
                        <img class="responsive-img middle-pic mockup_uikit" src="~@/assets/images/bankov-spa/uikit.png">
                    </u-animate>
                </div>
            </div>
        </div>
        <div class="bankov_spa_individual">
            <div class="row no-margin">
                <div class="container">
                    <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <p class="text name white-text">Проработка страниц</p>
                        <p class="text sub white-text aligncenter">Каждая страница индивидуально продумана и проработана с учетом требований
                            заказчика. На страницах реализована удобная и интуитивно понятная навигация логичное размещение смысловых блоков</p>
                    </u-animate>
                </div>
            </div>
        </div>
        <div class="bankov_spa_adminka">
            <div class="col-xs-12 for_admin">
                <u-animate
                        name="slideInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="about_admin"
                >
                    <p class="text name">Админпанель</p>
                    <p class="text sub">Разработана индивидуально под заказчика. Сайт оснащен удобной
                        Система управления (CMS), которая позволяет без труда обновлять материалы</p>
                </u-animate>
            </div>
        </div>
        <div class="icons_bankov_spa">
            <div class="row no-margin">
                <div class="container">
                    <u-animate
                            name="slideInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <p class="text name">Иконки</p>
                        <p class="text sub">Для сайта разработаны иконки</p>
                    </u-animate>
                    <u-animate
                            name="zoomInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon1.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon2.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon3.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon4.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon5.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon6.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon7.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon8.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon9.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon10.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon11.png">
                            </div>
                        </div>
                        <div class="parrent_icon col-xs-6 col-md-3 col-lg-1">
                            <div class="for_bankov_icon">
                                <img class="bankov-icon middle-pic responsive-img"
                                     src="~@/assets/images/bankov-spa/icon12.png">
                            </div>
                        </div>
                    </u-animate>
                </div>
            </div>
        </div>
        <div class="bankov_spa_variants">
            <div class="row no-margin">
                <div class="container">
                    <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"s
                    >
                        <p class="text name white-text">Варианты</p>
                        <p class="text sub white-text">Было разработано несколько вариантов дизайна</p>
                    </u-animate>
                    <u-animate
                            name="slideInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <img class="responsive-img middle-pic page_bankov-spa"
                             src="~@/assets/images/bankov-spa/Bankov2-1400_v2.png">
                    </u-animate>
                    <u-animate
                            name="slideInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <img class="responsive-img middle-pic page_bankov-spa" src="~@/assets/images/bankov-spa/Bankov_v2.png">
                    </u-animate>
                    <u-animate
                            name="slideInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <img class="responsive-img middle-pic page_bankov-spa big-page"
                             src="~@/assets/images/bankov-spa/Bankov.png">
                    </u-animate>
                </div>
            </div>
        </div>
        <div class="bankov_spa_all_pages">
            <div class="row no-margin">
                <u-animate
                        name="fadeIn"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="container"
                >
                    <p class="text name">Дизайн</p>
                    <p class="text sub">В результате проделанной работы был отрисован и утвержден окончательнеый
                        вариант дизайна</p>
                </u-animate>
            </div>
            <div class="row no-margin">
                <u-animate
                        name="slideInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12"
                >
                    <img class="responsive-img middle-pic page_bankov-spa"
                         src="~@/assets/images/bankov-spa/Bankov2-1400_v2.png">
                </u-animate>
                <u-animate
                        name="slideInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12"
                >
                    <img class="responsive-img middle-pic page_bankov-spa"
                         src="~@/assets/images/bankov-spa/1-BankovSPA-gal.png">
                </u-animate>


                <u-animate
                        name="slideInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12 col-md-6"
                >
                    <img class="responsive-img middle-pic page_bankov-spa"
                         src="~@/assets/images/bankov-spa/2-BankovSPA-gal_kat.png">
                </u-animate>

                <u-animate
                        name="slideInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12 col-md-6"
                >
                    <img class="responsive-img middle-pic page_bankov-spa"
                         src="~@/assets/images/bankov-spa/3-BankovSPA-gal_foto.png">
                </u-animate>
            </div>
            <div class="row no-margin">
                <u-animate
                        name="slideInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12 col-md-6"
                >
                    <img class="responsive-img middle-pic page_bankov-spa"
                         src="~@/assets/images/bankov-spa/BankovSPA-new.png">
                </u-animate>
                <u-animate
                        name="slideInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12 col-md-6"
                >
                    <img class="responsive-img middle-pic page_bankov-spa"
                         src="~@/assets/images/bankov-spa/BankovSPA-new_read.png">
                </u-animate>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-xs-12 col-md-5 col-lg-3 parent">
                    <div class="photo">
                        <img class="responsive-img" src="~@/assets/images/bankov-spa/ico2.png">
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-9">
                    <blockquote>
                        <q>Вместо устаревшего запутанного сайта мы получили современный, удобный и красивый. Спасибо!
                            Мы ждем увеличения конверсии и будем продолжать сотрудничество с командой MOBIOS
                        </q><br><br>
                        <cite></cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row bottom">
            <div class="container slide_8 centered">
                <div class="aligncenter col-100 case-1 load center">
                    <img class="responsive-img" src="~@/assets/images/bankov-spa/ico1.png" width="55" height=""
                         alt="разработка интернет-магазина"><br/>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 center"
                    >
                        <a class="btn-1 read-more" tabindex="-1" href="http://bankow-spa.ru/" rel="nofollow" target="blank">Перейти на сайт</a>
                    </u-animate>
                </div>
            </div>
        </div>
    </main>
    </u-animate-container>
</template>
<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @font-face {
        font-family: 'Gotham Pro';
        src: url('~@/assets/fonts/GothamPro/GothamPro.eot');
        src: url('~@/assets/fonts/GothamPro/GothamPro.eot') format('embedded-opentype'),
        url('~@/assets/fonts/GothamPro/GothamPro.woff') format('woff'),
        url('~@/assets/fonts/GothamPro/GothamPro.ttf') format('truetype');
    }
    @font-face {
        font-family: 'HelveticaNeueCyrLight';
        src: url('~@/assets/fonts/HelveticaNeueCyrLight.eot');
        src: url('~@/assets/fonts/HelveticaNeueCyrLight.eot') format('embedded-opentype'),
        url('~@/assets/fonts/HelveticaNeueCyrLight.woff2') format('woff2'),
        url('~@/assets/fonts/HelveticaNeueCyrLight.woff') format('woff'),
        url('~@/assets/fonts/HelveticaNeueCyrLight.ttf') format('truetype'),
        url('~@/assets/fonts/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight') format('svg');
    }
    @font-face {
        font-family: 'HelveticaNeueCyrMedium';
        src: url('~@/assets/fonts/HelveticaNeueCyrMedium.eot');
        src: url('~@/assets/fonts/HelveticaNeueCyrMedium.eot') format('embedded-opentype'),
        url('~@/assets/fonts/HelveticaNeueCyrMedium.woff2') format('woff2'),
        url('~@/assets/fonts/HelveticaNeueCyrMedium.woff') format('woff'),
        url('~@/assets/fonts/HelveticaNeueCyrMedium.ttf') format('truetype'),
        url('~@/assets/fonts/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium') format('svg');
    }
    .center{
        text-align: center;
    }
    p{
        margin: 0;
    }
    ul li{
        list-style: none;
    }

    .bankov-spa .text {
        text-align: center;
    }

    .bankov-spa .name {
        font: 160% 'HelveticaNeueCyrMedium';
        line-height: 1.5em;
    }

    .bankov-spa .sub {
        font: 100% 'HelveticaNeueCyrLight';
        margin: 20px 0;
        line-height: 1.5em;
        letter-spacing: 2px;
    }


    .bankov-spa .main-name {
        font: 260% 'HelveticaNeueCyrMedium';
        line-height: 1em;
    }

    .bankov-spa .main-sub {
        font: 150% 'HelveticaNeueCyrLight';
        line-height: 1em;
        letter-spacing: 2px;
    }
    .bankov-spa .white-text {
        color: white;
    }

    .bankov-spa .grey_text {
        color:#757575;
    }

    .bankov-spa #btn {
        font: 110% 'helveticaneuecyrlight';
        display: block;
        margin: 40px auto;
        background-color: #ff841e;
        color: white;
        max-width: 281px;
        text-align: center;
        padding: 17px 50px;
        text-transform: uppercase;
    }
    .bankov-spa #btn:hover {
        -webkit-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
    }
    .bankov-spa blockquote {
        font-size: 14px;
        line-height: 17px;
        position: relative;
        font-style: normal;
        padding: 34px 47px;
        border: 2px solid #babbbc;
        border-radius: 4px;
        margin-top: 0;
        min-height: 168px;
        font-family: 'Gotham Pro';
        font-weight: 500;
    }
    .bankov-spa blockquote:after {
        content: '';
        background: url(~@/assets/images/essa-toys/arrow1.png) no-repeat;
        width: 9px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: -9px;
        margin: -8px 0 0;
    }
    .bankov-spa .photo {
        width: 168px;
        height: 168px;
        background-color: transparent;
        border: 1px solid #c2c2c2;
        padding: 20px;
        border-radius: 84px;
        margin: 0 auto;
    }
    .bankov-spa .parent {
        margin-bottom: 10px;
    }
    .bankov-spa .middle-pic {
        display: block;
        margin: 0 auto;
    }
    .bankov-spa .no-margin {
        margin: 0;
    }
    .bankov-spa .bankov_spa_main {
        background: url(~@/assets/images/bankov-spa/back.png) no-repeat center;
        background-size: cover;
        padding: 50px 0;
    }
    .bankov-spa .bankov_spa_develop {
        background: #216c9f;
        padding: 2%;
    }
    .bankov-spa .bankov_spa_develop ul li:before {
        content: "\2714   "
    }
    .bankov-spa .bankov_spa_develop ul li {
        margin: 15px 0;
        text-align: left;
        line-height: 1.2em;
    }
    .bankov-spa .tools {
        width: 75%;
    }
    .bankov-spa .about {
        text-align: left;
        letter-spacing: 2px;
    }
    .bankov-spa .border_white {
        border-bottom: 1px solid white;
        width: 100%;
    }
    .bankov-spa .bankov_spa_individual {
        background: url(~@/assets/images/bankov-spa/slide5.png) 0 0 no-repeat;
        background-size: cover;
        height:500px;
        padding-top: 25px;
    }
    .bankov-spa .for_admin {
        background: url(~@/assets/images/bankov-spa/slide7_03.png) center 125px no-repeat;
        height: 640px;
        background-size: 800px;
        background-color: #fff;
    }
    .bankov-spa .mockup_uikit {
        margin: 30px auto;
        max-width: 100%;
    }

    .bankov-spa .parrent_icon {
        float: none!important;
        display: inline-block;
        margin-left: -5px !important;
        vertical-align: top;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .bankov-spa .bankov-icon {
        width: 62px;
        margin-bottom: 20px;
    }
    .bankov-spa .bankov_spa_variants {
        background: url(~@/assets/images/bankov-spa/4_02.png) center;
    }

    .bankov-spa .page_bankov-spa {
        -webkit-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        margin-bottom: 30px;
    }

    .bankov-spa .big-page {
        max-width: 1400px!important;
        width:100%;
    }
    .bankov-spa .icons_bankov_spa {
        background: #f5f5f5;
    }

    .bankov-spa .top {
        margin-top: 20%;
    }
    .bankov-spa img {
        max-width: 100%;
    }
    .bankov-spa .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat #ff9c00;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 15px 0;
        z-index: 10;
    }
    .bankov-spa .read-more:hover {
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none;
        z-index: 10;
    }
    .bankov-spa .btn-1.read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat #ff9c00;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 15px 0;
        z-index: 10;
    }
    .bankov-spa .btn-1.read-more:hover {
        background: url(~@/assets/images/e-crewing/arrowBtnRight-hover.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #000;
        color: #000;
        text-decoration: none;
        z-index: 10;
    }
    .bankov-spa .bottom {
        margin-bottom: 70px;
    }
    .bankov-spa .name {
        font: 160% 'HelveticaNeueCyrMedium';
        line-height: 1.5em;
        margin: 20px 0;
    }
    .bankov-spa .white-text {
        color: white;
        margin: 10px 0;
    }
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
        margin-bottom: 30px;
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
            padding-top: 50px;
        }
    }

    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
            padding-top: 50px;
        }
    }
</style>