<template>
    <u-animate-container
            :config="config">
        <main class="banzai">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта по продаже билетов Banzai на фреймворке Laravel 5"
                description="Разработка сайта для компании Banzai - продажа билетов на любые мероприятия в Ярославле на фреймворке Laravel 5. Адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__logo">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/banzai/logo.png" alt="" class="header__logo-image">
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <u-animate
                                name="fadeInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img src="~@/assets/images/banzai/head-laptop.png" alt="" class="header__banner">
                        </u-animate>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">1</span>
                            </div>
                            <div class="header__inner-content">
                                <h1 class="header__inner-content-title">Разработка сайта на Laravel 5</h1>
                                <div class="header__inner-content-sub">
                                    <img src="~@/assets/images/banzai/laptop.svg" alt="" class="header__inner-content-sub-icon">
                                    <img src="~@/assets/images/banzai/smartphone.svg" alt="" class="header__inner-content-sub-icon">
                                    <img src="~@/assets/images/banzai/tablet.svg" alt="" class="header__inner-content-sub-icon">
                                </div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">2</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Подбор фирменных цветов</span>
                                <div class="header__inner-content-sub flex">
                                    <span class="header__inner-content-sub-color header__inner-content-sub-color-red">#ee2b28</span>
                                    <span class="header__inner-content-sub-color header__inner-content-sub-color-yelow">#f1ca41</span>
                                </div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">3</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Подбор фирменных шрифтов</span>
                                <div class="header__inner-content-sub">
                                    <span class="header__inner-content-sub-title">Geometria</span>
                                    <span class="header__inner-content-sub-fonts">а б в г д е ё ж з и й к л м н о
                        п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                                </div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner mg-l"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">4</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Разработка остальных страниц сайта</span>
                                <div class="header__inner-content-sub">
                                    <ul class="header__inner-content-list">
                                        <li><p>Главная</p></li>
                                        <li><p>Категория </p></li>
                                        <li><p>Мероприятие</p></li>
                                        <li><p>Акции</p></li>
                                        <li><p>Вопросы</p></li>
                                        <li><p>Кассы</p></li>
                                        <li><p>Вход</p></li>
                                        <li><p>Личный кабинет</p></li>
                                        <li><p>404</p></li>
                                        <li><p>Оплата                      </p></li>
                                        <li><p>Корзина</p></li>
                                        <li><p>Новость</p></li>
                                        <li><p>Место проведения</p></li>
                                        <li><p>Места</p></li>
                                        <li><p>Сертификат</p></li>
                                    </ul>
                                </div>
                            </div>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-page">
                            <u-animate
                                    name="slideInDown"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>Главная</span>
                            </u-animate>
                            <u-animate
                                    name="slideInUp"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <span>страница</span>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="home__image"
                        >
                            <img src="~@/assets/images/banzai/home-image.jpg" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="font">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <u-animate
                                name="slideInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="title-page"
                        >
                            <span>Цветовое и шрифтовое
                              решение</span>
                        </u-animate>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-3">
                            <div class="font__color">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="font__color-hex"
                                >
                                    #ee2b28
                                </u-animate>
                                <u-animate
                                        name="fadeIn"
                                        delay="0.2s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="font__color-grad red"
                                ></u-animate>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-2">
                            <u-animate
                                    name="bounceIn"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/banzai/font-logo.png" alt="" class="font__logo">
                            </u-animate>
                        </div>
                        <div class="col-sm-3 col-md-2 col-lg-2">
                            <div class="font__color">
                                <u-animate
                                        name="slideInRight"
                                        delay="0.4s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="font__color-grad ylow"
                                ></u-animate>
                                <u-animate
                                    name="fadeIn"
                                    delay="0"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span class="font__color-hex">#f1ca41</span>
                            </u-animate>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-lg-offset-4">
                            <div class="font__family">
                                <u-animate
                                        name="fadeIn"
                                        delay="0.4s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="font__family-name">Geometria</span>
                                </u-animate>
                                <u-animate
                                        name="fadeInDown"
                                        delay="0.6s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="font__family-text">а б в г д е ё ж з и й к л м н о
                          п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                                </u-animate>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="adaptive">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-7 col-lg-8">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img src="~@/assets/images/banzai/adaptive-img.png" alt="" class="adaptive__img">
                        </u-animate>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <span class="adaptive__title">Адаптив</span>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <span class="adaptive__sub">Все страницы были полностью адаптированы
                      под основные устройства, а также
                      соблюдена кроссбраузерность</span>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="adaptive__icon"
                        >
                            <img src="~@/assets/images/banzai/laptop-w.svg" alt="">
                            <img src="~@/assets/images/banzai/smartphone-w.svg" alt="">
                            <img src="~@/assets/images/banzai/tablet-w.svg" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="functional">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="functional__title">
                            <u-animate
                                    name="fadeIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>Функционал</span>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="functional__list">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/banzai/lara-logo.png" alt="" class="functional__list-icon">
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span class="functional__list-name">laravel 5</span>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="functional__list">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/banzai/vue-logo.png" alt="" class="functional__list-icon">
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span class="functional__list-name">Vue.js</span>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="functional__list">
                            <u-animate
                                    name="fadeIn"
                                    delay="0"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/banzai/bootstrap-logo.png" alt="" class="functional__list-icon">
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span class="functional__list-name">Bootstrap 4</span>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <u-animate
                                name="fadeInDown"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="functional__sub">Был реализован конструктор залов, а также генерация билетов</p>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="category">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-page">
                            <u-animate
                                    name="slideInDown"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>Страница</span>
                            </u-animate>
                            <u-animate
                                    name="slideInUp"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>Категории</span>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="category__image"
                        >
                            <img src="~@/assets/images/banzai/category-img.png" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="merpage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-page">
                            <u-animate
                                    name="slideInDown"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>Страница</span>
                            </u-animate>
                            <u-animate
                                    name="slideInUp"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>Мероприятия</span>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="merpage__image"
                        >
                            <img src="~@/assets/images/banzai/merpage-image.png" alt="">
                        </u-animate>
                    </div>
                    <div class="col-lg-7 col-lg-offset-5">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="merpage__image-btm"
                        >
                            <img src="~@/assets/images/banzai/merpage-img-btm.png" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="allpage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-page">
                            <u-animate
                                    name="slideInDown"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>Остальные</span>
                            </u-animate>
                            <u-animate
                                    name="slideInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>Страницы</span>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-1.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-3.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-5.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-9.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-11.jpg" alt="">
                                </u-animate>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-2.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-4.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-6.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-8.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-10.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-12.jpg" alt="">
                                </u-animate>
                            </div>
                            <div class="col-lg-12">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="allpage__image"
                                >
                                    <img src="~@/assets/images/banzai/allpage-13.jpg" alt="">
                                </u-animate>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="thankyou">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="thankyou__main"
                            >
                                Спасибо
                            </u-animate>
                            <u-animate
                                    name="fadeInDown"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="thankyou__sub"
                            >
                                За просмотр
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @font-face {
        font-family: "Geometria";
        src: url("~@/assets/fonts/Geometria/Geometria-Heavy.svg") format("svg"),
        url("~@/assets/fonts/Geometria/Geometria-Heavy.woff") format("woff"); }

    @font-face {
        font-family: "Geometria-Black";
        src:url("~@/assets/fonts/Geometria/Geometria-ExtraBold.woff") format("woff2"); }

    @font-face {
        font-family: "Geometria-Bold";
        src: url("~@/assets/fonts/Geometria/Geometria-Bold.svg") format("svg"),
        url("~@/assets/fonts/Geometria/Geometria-Bold.woff") format("woff2"); }

    @font-face {
        font-family: "Geometria-ExtraBold";
        src: url("~@/assets/fonts/Geometria/Geometria-ExtraBold.svg") format("svg"),
        url("~@/assets/fonts/Geometria/Geometria-ExtraBold.woff") format("woff2"); }

    @font-face {
        font-family: "Geometria-Light";
        src: url("~@/assets/fonts/Geometria/Geometria-Light.svg") format("svg"),
        url("~@/assets/fonts/Geometria/Geometria-Light.woff") format("woff2"); }

    .text-right {
        text-align: right; }

    .text-left {
        text-align: left; }

    .text-center {
        text-align: center; }

    body, html {
        overflow-x: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: GothamPro, sans-serif; }

    .relative {
        position: relative; }

    .banzai {
        max-width: 1920px;
        margin: 0 auto; }
    .banzai .header {
        position: relative;
        padding-top: 48px;
        background-color: #f5f5f5;
        padding-bottom: 30px; }
    .banzai .header__banner {
        width: 986px;
        height: auto;
        position: relative;
        right: 300px;
        z-index: 1; }
    .banzai .header__logo {
        margin-bottom: 35px;
        position: relative; }
    .banzai .header__logo:before {
        content: '';
        position: absolute;
        left: 0;
        width: 40%;
        height: 1px;
        background-color: #ee2b28;
        top: 0;
        bottom: 0;
        margin: auto; }
    .banzai .header__logo:after {
        content: '';
        position: absolute;
        right: 0;
        width: 40%;
        height: 1px;
        background-color: #ee2b28;
        top: 0;
        bottom: 0;
        margin: auto; }
    .banzai .header__logo-image {
        display: block;
        margin: 0 auto;
        position: relative; }
    .banzai .header__image_absolute {
        position: absolute;
        bottom: 0px;
        right: 573px;
        top: 373px; }
    .banzai .header .mg-l {
        margin-left: 0px; }
    .banzai .header__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0px;
        margin-bottom: 25px; }
    .banzai .header__inner-num {
        position: relative;
        bottom: 13px;
        margin-right: 14px; }
    .banzai .header__inner-num-border {
        display: block;
        width: 38px;
        height: 38px;
        background-color: #ededed;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: #000;
        font: 24px/20px Geometria;
        letter-spacing: 0.6px; }
    .banzai .header__inner-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .banzai .header__inner-content-title {
        display: block;
        color: #000;
        font: 18px/20px Geometria;
        font-weight: 700;
        letter-spacing: 0.5px; 
        margin: 0 0 21px;}
    .banzai .header__inner-content .flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
    .banzai .header__inner-content-sub-icon {
        width: auto;
        height: 26px;
        display: inline-block;
        margin-right: 5px; }
    .banzai .header__inner-content-sub-color {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        padding-left: 50px;
        position: relative;
        margin-top: 10px;
        color: #000;
        font: 16px/16px Geometria-Light; }
    .banzai .header__inner-content-sub-color-red {
        margin-right: 28px; }
    .banzai .header__inner-content-sub-color-red:before {
        content: '';
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 0;
        top: -6px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #ee2b28; }
    .banzai .header__inner-content-sub-color-yelow:before {
        content: '';
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 0;
        top: -6px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #f1ca41; }
    .banzai .header__inner-content-sub-title {
        color: #000;
        font: 16px/18px Geometria;
        letter-spacing: 0.45px;
        display: block;
        color: #ee2b28; }
    .banzai .header__inner-content-sub-fonts {
        color: #000;
        font: 14px/18px Geometria-Light;
        letter-spacing: 0.9px;
        display: block;
        width: 51%;
        margin-top: 10px; }
    .banzai .header__inner-content-list {
        list-style-position: inside;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        padding-left: 0px;
        margin-top: 0; }
    .banzai .header__inner-content-list li {
        color: #000; }
    .banzai .header__inner-content-list li p {
        color: #000;
        font: 14px/24px Geometria;
        font-weight: 700;
        letter-spacing: 0.4px;
        display: inline;
        color: #ee2b28; }
    .banzai .title-page {
        position: relative;
        padding-bottom: 64px; }
    .banzai .title-page:before {
        content: '';
        position: absolute;
        right: -24px;
        top: 0;
        background-color: #fff;
        width: 1px;
        height: 100%; }
    .banzai .title-page span {
        color: #ffffff;
        font: 66px/60px Geometria;
        text-transform: uppercase;
        letter-spacing: 1.32px;
        display: block;
        text-align: right; }
    .banzai .home {
        position: relative; }
    .banzai .home:before {
        content: '';
        position: absolute;
        width: 100%;
        top: -220px;
        left: 0;
        height: 1000px;
        background: url("~@/assets/images/banzai/home-bg.png") no-repeat; }
    .banzai .home .title-page {
        margin-right: 35px; }
    .banzai .home__image {
        -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.17);
        box-shadow: 0 0 43px rgba(0, 0, 0, 0.17); }
    .banzai .home__image img {
        width: 100%;
        height: auto;
        display: block; }
    .banzai .font .title-page {
        padding: 0;
        margin: 110px 0 88px 0; }
    .banzai .font .title-page span {
        color: #222;
        text-align: center; }
    .banzai .font__color {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 15px; }
    .banzai .font__color-hex {
        color: #222222;
        font: 24px/18px Geometria-Bold;
        text-transform: uppercase;
        letter-spacing: 0.6px; }
    .banzai .font__color-grad {
        display: block;
        width: 15px;
        height: 72px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        position: relative; }
    .banzai .font__color .red:before,
    .banzai .font__color .ylow:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 1px dashed #d8d8d8;
        height: 1px;
        width: 45px; }
    .banzai .font__color .red {
        background-color: #ee2b28; }
    .banzai .font__color .red:before {
        left: 15px; }
    .banzai .font__color .ylow {
        background-color: #f1ca41; }
    .banzai .font__color .ylow:after {
        right: 15px; }
    .banzai .font__logo {
        width: 98px;
        height: auto;
        margin: 0 auto;
        display: block;
        position: relative; }
    .banzai .font__family {
        margin-top: 60px; }
    .banzai .font__family-name {
        display: block;
        color: #222222;
        font: 24px/36px Geometria-ExtraBold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.6px; }
    .banzai .font__family-text {
        color: #222222;
        font: 14px/18px Geometria-Light;
        letter-spacing: 1.05px;
        text-align: center;
        display: block; }
    .banzai .adaptive {
        background: url("~@/assets/images/banzai/adaptive-bg.png") no-repeat bottom;
        -webkit-background-size: cover;
        background-size: cover;
        padding-top: 250px; }
    .banzai .adaptive__img {
        display: block;
        position: relative;
        top: -189px; }
    .banzai .adaptive__title {
        color: #ffffff;
        font: 66px/60px Geometria;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.32px;
        text-align: right;
        display: block;
        margin-bottom: 25px; }
    .banzai .adaptive__sub {
        text-align: right;
        display: block;
        color: #fff;
        font: 18px/24px Geometria-Light;
        letter-spacing: 0.36px; }
    .banzai .adaptive__icon {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
    .banzai .adaptive__icon img {
        height: 26px;
        width: auto;
        display: inline-block;
        margin-left: 20px;
        margin-top: 32px; }
    .banzai .functional {
        margin-top: -50px; }
    .banzai .functional__title {
        margin-bottom: 147px; }
    .banzai .functional__title span {
        display: block;
        color: #222222;
        font: 66px/60px Geometria;
        text-transform: uppercase;
        letter-spacing: 1.32px;
        text-align: center;
        position: relative; }
    .banzai .functional__title span:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 183px;
        height: 221px;
        background: url("~@/assets/images/banzai/func-logo-bg.png") no-repeat center; }
    .banzai .functional__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
    .banzai .functional__list-icon {
        height: 85px;
        width: auto;
        display: block; }
    .banzai .functional__list-name {
        color: #222;
        font: 18px/60px Geometria-Bold;
        text-transform: uppercase;
        letter-spacing: 0.36px; }
    .banzai .functional__sub {
        color: #222;
        font: 18px/26px Geometria-Bold;
        letter-spacing: 0.36px;
        text-align: center;
        margin-top: 50px; }
    .banzai .category {
        background: url("~@/assets/images/banzai/category-bg.png") no-repeat top;
        position: relative; }
    .banzai .category:after {
        content: '';
        position: absolute;
        background: url("~@/assets/images/banzai/merpage-bg.png");
        bottom: 0;
        left: 0;
        height: 250px;
        width: 100%;
        z-index: -1; }
    .banzai .category .title-page {
        margin: 150px 50px 0 0; }
    .banzai .category .title-page span {
        color: #222; }
    .banzai .category .title-page:before {
        background-color: #222; }
    .banzai .category__image {
        -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.17);
        box-shadow: 0 0 43px rgba(0, 0, 0, 0.17); }
    .banzai .category__image img {
        width: 100%;
        height: auto;
        display: block; }
    .banzai .merpage {
        background: url("~@/assets/images/banzai/merpage-bg.png") no-repeat top;
        position: relative; }
    .banzai .merpage:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: url("~@/assets/images/banzai/merpage-bg-btm.png") no-repeat bottom;
        width: 100%;
        height: 100%;
        z-index: -1; }
    .banzai .merpage .title-page {
        margin: 107px 0 0 50px; }
    .banzai .merpage .title-page span {
        color: #222;
        text-align: left; }
    .banzai .merpage .title-page:before {
        background-color: #222;
        right: auto;
        left: -25px; }
    .banzai .merpage__image {
        -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.17);
        box-shadow: 0 0 43px rgba(0, 0, 0, 0.17); }
    .banzai .merpage__image img {
        width: 100%;
        height: auto;
        display: block; }
    .banzai .merpage__image-btm {
        margin-top: -350px; }
    .banzai .merpage__image-btm img {
        width: 1060px;
        height: 850px; }
    .banzai .allpage {
        position: relative;
        padding-bottom: 200px; }
    .banzai .allpage:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("~@/assets/images/banzai/footer-bg.png") no-repeat bottom;
        z-index: -1; }
    .banzai .allpage .title-page {
        margin: 100px 50px 0 0px; }
    .banzai .allpage .title-page span {
        color: #222; }
    .banzai .allpage .title-page:before {
        background-color: #222; }
    .banzai .allpage__image {
        -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.17);
        box-shadow: 0 0 43px rgba(0, 0, 0, 0.17);
        margin-bottom: 30px; }
    .banzai .allpage__image img {
        width: 100%;
        height: auto;
        display: block; }
    .banzai .allpage .thankyou {
        margin-top: -180px; }
    .banzai .allpage .thankyou__main {
        color: #fff;
        font: 104px/104px Geometria;
        text-transform: uppercase;
        letter-spacing: 2.08px;
        display: block;
        text-align: right; }
    .banzai .allpage .thankyou__sub {
        color: #fff;
        font: 54px/54px Geometria-Bold;
        text-transform: uppercase;
        letter-spacing: 1.08px;
        text-align: right;
        display: block; }

    @media only screen and (max-width: 1550px) {
        .banzai .header__banner {
            width: 750px;
            right: 150px; }
        .banzai .home:before {
            top: -120px; }
        .banzai .adaptive__img {
            top: -152px; }
        .banzai .merpage__image-btm {
            margin-top: -200px; }
        .banzai .merpage__image-btm img {
            width: 100%;
            height: auto; } }

    @media only screen and (max-width: 1024px) {
        .banzai .header__banner {
            margin-top: 100px;
            width: 100%;
            right: 0;
            height: auto; }
        .banzai .header__inner-content-list {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2; }
        .banzai .home:before {
            top: -180px; }
        .banzai .adaptive__img {
            top: 0px;
            width: 100%;
            height: auto; }
        .banzai .allpage .thankyou {
            margin-top: 0; }
        .banzai .allpage {
            padding-bottom: 80px; }
        .banzai .functional {
            margin-top: 50px; }
        .banzai .adaptive {
            background-position: top; } }

    @media only screen and (max-width: 768px) {
        .banzai .header__banner {
            margin-top: -20px;
            margin-bottom: 20px; }
        .banzai .home:before {
            top: -230px; }
        .banzai .adaptive {
            padding-top: 227px;
            margin-bottom: 90px; }
        .banzai .adaptive__title {
            margin-top: -70px;
            margin-bottom: 10px; }
        .banzai .adaptive__icon img {
            margin-top: 15px; } }

    @media only screen and (max-width: 425px) {
        .banzai .title-page span {
            font: 26px/27px Geometria; }
        .banzai .merpage .title-page {
            margin-top: 50px; }
        .banzai .title-page {
            padding-bottom: 30px; }
        .banzai .font .title-page {
            margin-top: 70px; }
        .banzai .font__color {
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around; }
        .banzai .adaptive__img {
            display: none; }
        .banzai .adaptive__title {
            margin-top: 50px; }
        .banzai .adaptive {
            padding: 100px 0 120px 0; }
        .banzai .functional__title span {
            font: 42px/64px Geometria; }
        .banzai .functional__title span:before {
            width: 130px;
            height: 110px;
            top: -5px;
            -webkit-background-size: contain;
            background-size: contain; }
        .banzai .adaptive {
            margin-bottom: 0; }
        .banzai .functional__title {
            margin-bottom: 80px; }
        .banzai .functional {
            margin-top: 20px; }
        .banzai .functional__list {
            margin-bottom: 20px; }
        .banzai .allpage .title-page {
            margin-top: 50px; }
        .banzai .allpage .thankyou__main {
            font: 70px/70px Geometria; }
        .banzai .allpage .thankyou__sub {
            font: 32px/32px Geometria-Bold; }
        .banzai .font__color .red:before, .banzai .font__color .ylow:after {
            display: none; } }

    @media only screen and (max-width: 375px) {
        .banzai .header__inner-content-list li p {
            font: 12px/18px Geometria; }
        .banzai .font__logo {
            display: none; }
        .banzai .adaptive__title {
            font: 42px/42px Geometria; }
        .banzai .functional__title span {
            font: 32px/30px Geometria; }
        .banzai .allpage .thankyou__main {
            font: 52px/52px Geometria; }
        .banzai .header {
            padding-top: 28px; } }

    @media only screen and (max-width: 320px) {
        .banzai .font .title-page {
            margin-bottom: 20px; } }
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }

</style>