<template>
    <u-animate-container
            :config="config">

        <main class="baybay">
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина косметики Baybay на фреймворке Laravel 5"
                description="Разработка интернет-магазина косметики для компании Baybay на Framework Laravel 5. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="container relative">
            <div class="baybay__top">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="baybay__logo"
                >
                    <div class="baybay__logo-inner">
                        <img src="@/assets/images/baybay//bay-logo.png" alt="">
                    </div>
                    <h1 class="baybay__header baybay__border">Разработка интернет-магазина <span>косметики</span></h1>
                    <p class="baybay__norm-txt">Интернет-магазин <b>Baybay</b> предоставляет все виды <br> косметических средств высочайшего качества.</p>
                </u-animate>

                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="baybay__mock"
                >
                    <img src="@/assets/images/baybay//full-mock.png" alt="">

                    <p class="linkToSite">
                        <a href="https://baybay.com.ua/">перейти на сайт</a>
                    </p>
                </u-animate>
            </div>
        </section>

        <u-animate
                name="bounceIn"
                delay="0s"
                duration="1s"
                :iteration="1"
                :offset="0"
                animateClass="animated"
                :begin="false"
                class="baybay__fragment-to-bottom baybay__fragment-to-bottom_1"
        >
            <img src="@/assets/images/baybay//fragment-tobottom.png" alt="">
        </u-animate>

        <section class="container baybay__aim">
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <h5 class="baybay__head ">Задача:</h5>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <p class="baybay__norm-txt">
                            Создать современный удобный интернет-магазин по продаже косметической продукции и с уникальной системой начислений бонусов и акций.
                        </p>
                    </u-animate>
                </div>
                <u-animate
                        name="fadeInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="baybay__aim-img"
                >
                    <img src="@/assets/images/baybay//aim-fragment.png" alt="">
                </u-animate>
            </div>
        </section>

        <section class="container baybay__color">
            <u-animate
                    name="bounceInRight"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
            >
                <h5 class="baybay__head baybay__head_right baybay__color_name baybay__border_bottom">COLOR</h5>
            </u-animate>
            <div class="baybay__color-cont">

                <u-animate
                        name="fadeInUp"
                        delay="0.3s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="baybay__color-wrap"
                >
                    <div>
                        <img src="@/assets/images/baybay//color1.png" alt="">
                    </div>
                    <div>
                        <p class="baybay__color-name">#EA5798</p>
                    </div>
                </u-animate>

                <u-animate
                        name="fadeInUp"
                        delay="0.5s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="baybay__color-wrap"
                >
                    <div>
                        <img src="@/assets/images/baybay//color2.png" alt="">
                    </div>
                    <div>
                        <p class="baybay__color-name">#32a3b7</p>
                    </div>
                </u-animate>

                <u-animate
                        name="fadeInUp"
                        delay="0.7s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="baybay__color-wrap"
                >
                    <div>
                        <img src="@/assets/images/baybay//color3.png" alt="">
                    </div>
                    <div>
                        <p class="baybay__color-name">#f66449</p>
                    </div>
                </u-animate>

                <u-animate
                        name="fadeInUp"
                        delay="0.9s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="baybay__color-wrap"
                >
                    <div>
                        <img src="@/assets/images/baybay//color4.png" alt="">
                    </div>
                    <div>
                        <p class="baybay__color-name">#ffca00</p>
                    </div>
                </u-animate>

                <u-animate
                        name="fadeInUp"
                        delay="1.1s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="baybay__color-wrap"
                >
                    <div>
                        <img src="@/assets/images/baybay//color5.png" alt="">
                    </div>
                    <div>
                        <p class="baybay__color-name">#222222</p>
                    </div>
                </u-animate>
            </div>
        </section>

        <div class="baybay__fragment-to-bottom baybay__fragment-to-bottom_2 baybay__fragment-to-bottom_right">
            <u-animate
                    name="fadeInLeft"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
            >
            <img src="@/assets/images/baybay//fragment-tobottom.png" alt="">
            </u-animate>
        </div>

        <section class="container baybay__typo">
            <div>
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                <p class="baybay__border_bottom baybay__border_bottom_left baybay__head">TYPOGRAPHY</p>
                </u-animate>
                <div class="baybay__typo-wrap">
                    <div class="baybay__typo-inner">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="baybay__typo-head">GEOMETRIA</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="baybay__typo-example">а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я</p>
                        </u-animate>
                    </div>
                    <div class="baybay__typo-inner-exa">
                        <u-animate
                                name="fadeInUp"
                                delay="0.3s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="baybay__typo-fonts baybay__typo-heavy">Heavy</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0.5s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="baybay__typo-fonts baybay__typo-bold">Bold</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0.7s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="baybay__typo-fonts baybay__typo-reg">Regular</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0.9s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <p class="baybay__typo-fonts baybay__typo-light">Light</p>
                        </u-animate>
                    </div>
                </div>
            </div>
            <u-animate
                    name="bounceInRight"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="baybay__typo-img"
            >
                <img src="@/assets/images/baybay//typo-fragment.png" alt="">
            </u-animate>
        </section>

        <section class="relative baybay__home-cont">
            <u-animate
                    name="bounceInLeft"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="baybay__fragment-to-top baybay__fragment-to-top_left baybay__home-line"
            >
                <img src="@/assets/images/baybay//fragment-totop.png" alt="">
            </u-animate>
            <div class="container baybay__home">
                <div class="row">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img class="baybay__home-frag" src="@/assets/images/baybay//home-frag.png" alt="">
                    </u-animate>

                    <p class="baybay__home-txt">Home page baybay</p>
                    <div class="row">
                        <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-lg-7 col-lg-offset-1"
                        >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//home.jpg" alt="">
                        </u-animate>

                        <div class="col-lg-4">
                            <u-animate
                                    name="bounceInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="baybay__home-head-wrap"
                            >
                                <h5 class="baybay__home-head">Home</h5>
                                <p class="baybay__home-head text-right">Page</p>
                            </u-animate>

                            <u-animate
                                    name="bounceIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="baybay__home-descr"
                            >
                                <p class="baybay__norm-txt text-right">
                                    Верстка на фреймворке <br>
                                    <b>Founation 6</b>
                                </p>
                                <span class="baybay__home-descr-num baybay__home-descr-num_right">1</span>
                            </u-animate>

                            <u-animate
                                    name="bounceIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="baybay__home-descr"
                            >
                                <span class="baybay__home-descr-num baybay__home-descr-num_left">2</span>
                                <p class="baybay__norm-txt">
                                    Для клиентской части функционала использовался фреймворк <b>Vue.js</b>
                                </p>
                            </u-animate>

                            <u-animate
                                    name="bounceIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="baybay__home-descr"
                            >
                                <p class="baybay__norm-txt text-right">
                                    Индивидуальное решенеие
                                    на фреймворке <b>Laravel 5</b>
                                </p>
                                <span class="baybay__home-descr-num baybay__home-descr-num_right">3</span>
                            </u-animate>

                            <u-animate
                                    name="bounceInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__home-frag-2" src="@/assets/images/baybay//home-frag-2.png" alt="">
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container baybay__mobile-cont">
            <div class="baybay__mobile">
                <div class="baybay__mobile-pic">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img src="@/assets/images/baybay//mobile-frag.png" alt="">
                    </u-animate>

                    <u-animate
                            name="bounceIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="baybay__home-descr baybay__mobile-descr"
                    >
                        <span class="baybay__home-descr-num baybay__home-descr-num_left">4</span>
                        <p class="baybay__norm-txt">
                            Интернет-магазин был <b>полностью адаптирован</b> под все размеры экранов
                        </p>
                    </u-animate>
                </div>
                <div class="baybay__mobile-phone">
                    <div class="baybay__home-head-wrap baybay__mobile-name">
                        <u-animate
                                name="bounceIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <h5 class="baybay__home-head baybay__mobile-phone-head">MOBILE</h5>
                            </u-animate>
                        <p class="baybay__home-head text-right wow bounceIn">Version</p>
                    </div>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img src="@/assets/images/baybay//iphone.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="relative baybay__catalog-cont">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">

                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="baybay__home-head-wrap baybay__catalog-name-wrap"
                        >
                            <h5 class="baybay__home-head">Cataloge page</h5>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img class="baybay__shad img-responsive" src="@/assets/images/baybay//catalog.jpg" alt="">
                        </u-animate>
                    </div>
                    <div class="col-lg-6 baybay__catalog-product relative">

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="baybay__home-head-wrap baybay__catalog-name-wrap baybay__catalog-name-wrap-product"
                        >
                            <h5 class="baybay__home-head">Product card <br> page</h5>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img class="baybay__shad img-responsive" src="@/assets/images/baybay//product.jpg" alt="">
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img class="baybay__catalog-frag" src="@/assets/images/baybay//catalog-frag.png" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
            <div class="baybay__fragment-to-top baybay__fragment-to-top_right baybay__catalog-line">
                <img src="@/assets/images/baybay//fragment-totop.png" alt="">
            </div>
        </section>

        <section class="baybay__func">
            <div class="container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="baybay__home-head-wrap baybay__catalog-name-wrap baybay__catalog-name-wrap-product baybay__func-bef"
                >
                    <h5 class="baybay__home-head">Functional</h5>
                </u-animate>
                <div class="row baybay__func-advant">

                    <u-animate
                            name="fadeInUp"
                            delay="0.3s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-lg-3"
                    >
                        <img class="baybay__func-cat-img" src="@/assets/images/baybay//import.png" alt="">
                        <p class="baybay__norm-txt text-center">Возможность <b>импорта</b><br> товаров из <b>1С</b></p>
                    </u-animate>

                    <u-animate
                            name="fadeInUp"
                            delay="0.5s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-lg-3"
                    >
                        <img class="baybay__func-cat-img" src="@/assets/images/baybay//controls.png" alt="">
                        <p class="baybay__norm-txt text-center">Предусмотрена возможность создания <b>фильтров</b> и <b>свойств</b> товаров</p>
                    </u-animate>

                    <u-animate
                            name="fadeInUp"
                            delay="0.7s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-lg-3"
                    >
                        <img class="baybay__func-cat-img" src="@/assets/images/baybay//curriculum.png" alt="">
                        <p class="baybay__norm-txt text-center">Реализован индивидуальный <b>подбор товаров</b> исходя из предварительного <b>анкетирования</b></p>
                    </u-animate>

                    <u-animate
                            name="fadeInUp"
                            delay="0.9s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-lg-3"
                    >
                        <img class="baybay__func-cat-img" src="@/assets/images/baybay//piggy-bank.png" alt="">
                        <p class="baybay__norm-txt text-center">Была разработана уникальная система <b>начисления бонусов</b> за покупки</p>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="baybay__other relative">
            <u-animate
                    name="bounceInLeft"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="baybay__fragment-to-top baybay__fragment-to-top_left baybay__other-line"
            >
                <img src="@/assets/images/baybay//fragment-totop.png" alt="">
            </u-animate>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">

                            <u-animate
                                    name="bounceInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="baybay__home-head-wrap baybay__catalog-name-wrap baybay__catalog-name-wrap-product baybay__other-name"
                            >
                                <h5 class="baybay__home-head">Other pages</h5>
                            </u-animate>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 baybay__other-first">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//1-1.jpg" alt="">
                            </u-animate>

                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//1-2.jpg" alt="">
                            </u-animate>

                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//1-3.jpg" alt="">
                            </u-animate>

                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//1-4.jpg" alt="">
                            </u-animate>
                        </div>
                        <div class="col-lg-4 col-md-4 baybay__other-sec">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//2-1.jpg" alt="">
                            </u-animate>

                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img class="baybay__shad img-responsive" src="@/assets/images/baybay//2-2.jpg" alt="">
                            </u-animate>

                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//2-3.jpg" alt="">
                            </u-animate>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//3-1.jpg" alt="">
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//3-2.jpg" alt="">
                            </u-animate>

                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//3-3.jpg" alt="">
                            </u-animate>

                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//3-4.jpg" alt="">
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="baybay__shad img-responsive" src="@/assets/images/baybay//3-5.jpg" alt="">
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
            <div class="baybay__end-wrap">
                <h4 class="baybay__end">BAYBAY</h4>
                <div class="port-link-wrap" style="position: relative; z-index: 12;">
                    <a class="port-link port-link_black" href="http://baybay.com.ua/" rel="nofollow" target="_blank">Посмотреть сайт</a>
                </div>
            </div>
            <div class="baybay__fragment-to-bottom baybay__fragment-to-bottom_right baybay__other-frag">
                <img src="@/assets/images/baybay//fragment-tobottom.png" alt="">
            </div>
        </section>
    </main>

    </u-animate-container>

</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style lang="scss" scoped>
    *{
        margin: 0;
        padding: 0;
    }
    .baybay, .baybay__logo-inner, .relative {
        position: relative
    }

    @font-face {
        font-family: GeometriaHeavy;
        src: url(~@/assets/fonts/Geometria/Geometria-Heavy.woff) format("woff")
    }

    @font-face {
        font-family: GeometriaBold;
        src: url(~@/assets/fonts/Geometria/Geometria-Bold.woff) format("woff")
    }

    .text-right {
        text-align: right
    }

    .text-left {
        text-align: left
    }

    .text-center {
        text-align: center
    }

    @font-face {
        font-family: GeometriaRegular;
        src: url(~@/assets/fonts/Geometria/Geometria-Medium.woff) format("woff");
    }

    @font-face {
        font-family: GeometriaLight;
        src: url(~@/assets/fonts/Geometria/Geometria-Light.woff) format("woff");
    }

    body, html {
        overflow-x: hidden
    }


    .port-link-wrap {
        text-align: center;
        position: relative;
        z-index: 12;
    }
    .port-link {
        text-transform: uppercase;
        padding: 15px 40px;
        border: 2px solid #cc3743;
        transition: all .3s ease;
        color: #000;
    }

    .baybay {
        padding-top: 50px;
        padding-bottom: 130px
    }
    @media screen and (min-width: 1024px){
        .baybay .container{
            width: 960px;
        }
    }

    @media screen and (min-width: 1320px){
        .baybay .container{
            width: 1160px;
        }
    }

    .linkToSite a{
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        padding: 10px 25px;
        background-color: #EA5798;
        border: 2px solid #EA5798;
        transition: all .3s;
        position: absolute;
        bottom: 20%;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .linkToSite a:hover{
        text-decoration: none;
        color: #EA5798;
        background-color: #fff;
    }

    .baybay__shad {
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .1);
        box-shadow: 0 0 16px rgba(0, 0, 0, .1)
    }

    .baybay__logo {
        margin-top: 110px;
        z-index: 2;
    }

    .baybay__logo-inner::after {
        content: 'BAYBAY';
        opacity: .05;
        color: #cd5895;
        font-family: GeometriaBold;
        font-size: 269px;
        font-weight: 700;
        line-height: 66.41px;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: -210px
    }

    .baybay__border::before, .baybay__border_bottom::after {
        content: '';
        display: block;
        background-color: #eb5798;
        height: 1px
    }

    .baybay__border {
        margin-top: 30px;
        padding-top: 40px;
        position: relative;
        margin-bottom: 40px
    }

    .baybay__border::before {
        width: 530px;
        position: absolute;
        top: 0
    }

    .baybay__border_bottom {
        position: relative;
        padding-bottom: 40px
    }

    .baybay__border_bottom::after {
        width: 460px;
        position: absolute;
        bottom: 0;
        right: 0
    }

    .baybay__border_bottom_left::after {
        right: initial;
        left: 0
    }

    .baybay__fragment-to-bottom {
        position: absolute;
        left: 0;
        z-index: -1;
    }

    .baybay__fragment-to-bottom_1 {
        top: 460px
    }

    .baybay__fragment-to-bottom_2 {
        top: 1200px
    }

    .baybay__fragment-to-bottom_right {
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
        left: initial;
        right: 0
    }

    .baybay__fragment-to-top {
        position: absolute
    }

    .baybay__fragment-to-top_left {
        left: 0
    }

    .baybay__fragment-to-top_right {
        right: 0;
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1)
    }

    .baybay__top {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .baybay__norm-txt {
        font-family: GeometriaRegular;
        color: #222;
        font-size: 16px;
        line-height: 24px
    }

    .baybay__header {
        font-family: GeometriaBold;
        color: #222;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px
    }

    .baybay__header span {
        color: #eb5798
    }

    .baybay__mock {
        position: absolute;
        right: -175px;
        z-index: 1;
    }

    .baybay__head {
        color: #222;
        font-family: GeometriaHeavy;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 30px
    }

    .baybay__head_right {
        text-align: right
    }

    .baybay__aim {
        margin-top: 250px;
        position: relative
    }

    .baybay__aim-img {
        position: absolute;
        left: -50px;
        top: -240px
    }

    .baybay__color {
        margin-top: 100px
    }

    .baybay__color_name::before {
        content: 'PRESENTATION';
        opacity: .05;
        color: #000;
        font-family: GeometriaBold;
        font-size: 83px;
        text-transform: uppercase;
        position: absolute;
        right: -70px;
        top: -60px
    }

    .baybay__color-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        max-width: 135px
    }

    .baybay__color-name {
        padding-top: 10px;
        position: relative;
        color: #222;
        font-family: GeometriaRegular;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 15px
    }

    .baybay__color-name::before {
        content: '';
        display: block;
        width: 102px;
        height: 1px;
        background-color: #ccc;
        position: absolute;
        top: 0;
        left: -20px;
        z-index: -1
    }

    .baybay__color-cont, .baybay__typo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }

    .baybay__home, .baybay__typo-img {
        position: relative
    }

    .baybay__color-cont {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 70px
    }

    .baybay__typo {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 200px
    }

    .baybay__typo-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .baybay__typo-inner {
        width: 100%;
        max-width: 347px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-right: 30px;
        margin-top: 10px;
        border-right: 1px solid #ccc
    }

    .baybay__typo-inner-exa {
        margin-top: 75px
    }

    .baybay__typo-head {
        color: #222;
        font-family: GeometriaHeavy;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        text-transform: uppercase;
        text-align: right
    }

    .baybay__typo-example {
        color: #000;
        font-family: GeometriaRegular;
        font-size: 16px;
        letter-spacing: 1.2px;
        text-align: right
    }

    .baybay__typo-fonts {
        color: #eb5798;
        font-size: 16px;
        line-height: 30px
    }

    .baybay__typo-heavy {
        font-family: GeometriaHeavy
    }

    .baybay__typo-bold {
        font-family: GeometriaBold
    }

    .baybay__typo-reg {
        font-family: GeometriaRegular
    }

    .baybay__typo-light {
        font-family: GeometriaLight
    }

    .baybay__home-descr-num, .baybay__home-head, .baybay__home-txt {
        font-family: GeometriaHeavy;
        text-transform: uppercase
    }

    .baybay__typo-img {
        margin-top: -210px;
        left: 115px
    }

    .baybay__home-cont {
        margin-top: 20px
    }

    .baybay__home-frag {
        position: absolute;
        top: 280px;
        left: -45px;
        z-index: 1
    }

    .baybay__home-frag-2 {
        position: absolute;
        bottom: -510px;
        right: 240px
    }

    .baybay__home-txt {
        opacity: .05;
        color: #000;
        font-size: 107px;
        letter-spacing: 12px;
        position: absolute;
        left: 0;
        top: 660px;
        -webkit-writing-mode: tb;
        -ms-writing-mode: tb;
        writing-mode: tb;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }

    .baybay__home-head {
        color: #222;
        font-size: 48px;
        line-height: 45px
    }

    .baybay__home-head-wrap {
        width: 100%;
        max-width: 233px;
        margin: 110px auto;
        padding-bottom: 20px;
        position: relative
    }

    .baybay__home-head-wrap::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 350px;
        background-color: #eb5798;
        z-index: -1
    }

    .baybay__home-descr, .baybay__mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }

    .baybay__home-descr {
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: 150px
    }

    .baybay__home-descr-num {
        opacity: .15;
        color: #32a3b7;
        font-size: 170px;
        margin-bottom: -40px
    }

    .baybay__home-descr-num_left {
        margin-right: 30px
    }

    .baybay__home-descr-num_right {
        margin-left: 30px
    }

    .baybay__home-line {
        top: 1020px
    }

    .baybay__mobile {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative
    }

    .baybay__mobile-descr {
        width: 100%;
        max-width: 395px;
        margin-left: 110px;
        margin-top: -50px;
        margin-bottom: 0
    }

    .baybay__mobile-cont {
        margin-top: -112px
    }

    .baybay__mobile-pic {
        position: absolute;
        top: 0;
        left: -47px
    }

    .baybay__mobile-phone {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-left: auto;
        margin-right: -110px;
        margin-top: 130px
    }

    .baybay__mobile-phone-head {
        margin-left: -90px
    }

    .baybay__mobile-name {
        margin: 40px auto;
        left: 140px
    }

    .baybay__mobile-name::after {
        right: -130px
    }

    .baybay__catalog-cont {
        margin-top: 100px
    }

    .baybay__catalog-name-wrap {
        max-width: none;
        margin: 40px auto
    }

    .baybay__catalog-name-wrap::after {
        right: initial;
        left: -20px
    }

    .baybay__catalog-name-wrap-product::after {
        left: 0
    }

    .baybay__catalog-line {
        right: -400px;
        top: -60px
    }

    .baybay__catalog-product {
        margin-top: 220px
    }

    .baybay__catalog-frag {
        position: absolute;
        bottom: -270px;
        right: -200px
    }

    .baybay__func-bef {
        position: relative
    }

    .baybay__func-bef::before {
        content: '';
        display: block;
        width: 250px;
        height: 250px;
        background: url(~@/assets/images/baybay/gear.png) center/contain no-repeat;
        position: absolute;
        left: 240px;
        top: -40px
    }

    .baybay__func-cat-img {
        display: block;
        margin: 0 auto 30px
    }

    .baybay__func-advant {
        margin-top: 180px
    }

    .baybay__other img {
        margin-bottom: 30px
    }

    .baybay__other-frag {
        bottom: 100px;
        z-index: -1;
        right: -130px
    }

    .baybay__other-name {
        margin-bottom: 60px
    }

    .baybay__other-line {
        top: 96px;
        left: -150px
    }

    .baybay__other-first {
        margin-top: 15px
    }

    .baybay__other-sec {
        margin-top: 80px
    }

    .baybay__end {
        opacity: .05;
        color: #cd5895;
        font-family: GeometriaBold;
        font-size: 269px;
        text-transform: uppercase;
        text-align: center
    }

    .baybay__end-wrap {
        margin-top: -210px;
        position: relative
    }

    @media screen and (max-width: 1200px) {
        .baybay__catalog-line, .baybay__home-frag-2, .baybay__home-txt, .baybay__mobile-pic {
            display: none
        }
        .baybay__mock {
            max-width: 850px
        }
        .baybay__home-head-wrap {
            margin: 40px auto
        }
        .baybay__home-descr, .baybay__home-descr-num {
            margin-bottom: 0
        }
        .baybay__home-descr {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            max-width: 450px;
            margin: 0 auto
        }
        .baybay__catalog-product {
            margin-top: 40px
        }
        .baybay__func-advant > div {
            width: 100%;
            max-width: 400px;
            margin: 0 auto 40px
        }
    }

    @media screen and (max-width: 992px) {
        .baybay__aim-img, .baybay__fragment-to-bottom, .baybay__fragment-to-top_left, .baybay__home-frag, .baybay__typo-img {
            display: none
        }
        .baybay__other-first, .baybay__other-sec {
            margin-top: 0
        }
        .baybay__other img {
            margin-left: auto;
            margin-right: auto
        }
        .baybay__mock {
            max-width: 660px
        }
        .baybay__typo {
            margin-top: 50px
        }
    }

    @media (max-width: 768px) {
        .baybay__end{
            font-size: 110px;
        }
    }

    @media screen and (max-width: 767px) {
        .baybay__aim, .baybay__catalog-cont, .baybay__func-advant, .baybay__logo {
            margin-top: 30px
        }
        .baybay__head, .baybay__header, .baybay__norm-txt {
            text-align: center
        }
        .baybay__mobile-phone, .baybay__top {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal
        }
        .baybay__catalog-frag, .baybay__logo-inner::after {
            display: none
        }
        .baybay__home-descr-num {
            line-height: 150px
        }
        .baybay__home-head {
            font-size: 33px;
            line-height: 35px;
            text-align: center
        }
        .baybay__mobile-phone img {
            width: 100%
        }
        .baybay__mobile-phone {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-right: 0
        }
        .baybay__home-head-wrap {
            left: 0
        }
        .baybay__mobile-phone-head {
            margin: 0
        }
        .baybay__head {
            font-size: 40px
        }
        .baybay__color_name::before {
            font-size: 37px;
            right: 0
        }
        .baybay__color-cont {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center
        }
        .baybay__color-wrap {
            -webkit-flex-basis: 25%;
            -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
            max-width: none;
            margin: 0 10px
        }
        .baybay__mock {
            position: static
        }
        .baybay__mock img {
            width: 100%;
            margin-top: 40px
        }
        .baybay__top {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }
    }
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
        margin-bottom: 30px;
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }


    @media (max-width: 490px) {
        .baybay__logo-inner{
            img{
                width: 100%;
            }
        }
        .baybay__end{
            font-size: 70px;
        }
    }

    @media (max-width: 350px) {
        .baybay__end{
            font-size: 50px;
        }
    }

    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }
</style>