<template>
    <u-animate-container
            :config="config">
        <main class="bereket">
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина мебели Bereket"
                description="Разработка интернет магазина для компании Bereket - продажа мебели и декора для дома. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="banner">
            <div class="container">
                <div class="banner__inner">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="banner__logo col-md-5 col-md-offset-1"
                    >
                        <div href="//bereket.od.ua/" target="_blank" rel="nofollow">
                            <img class="img-responsive" src="~@/assets/images/bereket/logo.png" alt="">
                        </div>
                        <h1 class="banner__name">Разработка интернет-магазина мебели</h1>
                    </u-animate>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="banner__img"
                    >
                        <img class="img-responsive" src="~@/assets/images/bereket/banner.png" alt="">
                    </u-animate>
                    <div class="banner__aim col-md-offset-1">
                        <u-animate
                                name="bounceInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                el="p"
                                animateClass="animated"
                                :begin="false"
                                class="banner__aim-txt"
                        >
                            <span>Задача:</span> Создать удобный, полностью адаптивный <br> интернет-магазин мебели
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="colors">
            <div class="container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name colors__section-name col-md-offset-1"
                >
                    <h3 class="section-name-big">Цветовое<span class="section-name-small">решение</span></h3>
                </u-animate>

                <div class="row">
                    <div class="colors__inner col-md-8 col-md-offset-2">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="colors__item colors__item_blue"
                        >
                            <p class="colors__name">#024e76</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="colors__item colors__item_red"
                        >
                            <p class="colors__name">#de656d</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="colors__item colors__item_green"
                        >
                            <p class="colors__name">#6db152</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="colors__item colors__item_gray"
                        >
                            <p class="colors__name">#e5edf1</p>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="fonts">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-4 fonts__chair"
                    >
                        <img src="~@/assets/images/bereket/chair.png" alt="">
                    </u-animate>
                    <div class="col-md-7">
                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section-name fonts__section-name"
                        >
                            <h3 class="section-name-big">Шрифтовое<span class="section-name-small">решение</span></h3>
                        </u-animate>
                        <div class="fonts__example-wrap">
                            <div class="fonts__wrap-m">
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        el="h5"
                                        animateClass="animated"
                                        :begin="false"
                                        class="fonts__name fonts__name_montserrat"
                                >
                                    Montserrat
                                </u-animate>
                                <div class="fonts__wrap">
                                    <u-animate
                                            name="fadeInUp"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                    >
                                        <ul class="fonts__list fonts__list_border">
                                            <li class="fonts__example fonts__example_m-bl">BLACK</li>
                                            <li class="fonts__example fonts__example_m-eb">Extrabold</li>
                                            <li class="fonts__example fonts__example_m fonts__example_m-b">Bold</li>
                                            <li class="fonts__example fonts__example_m fonts__example_m-m">Medium</li>
                                        </ul>
                                    </u-animate>
                                    <u-animate
                                            name="fadeInUp"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                    >
                                        <ul class="fonts__list">
                                            <li class="fonts__example fonts__example_m fonts__example_m-r">Regular</li>
                                            <li class="fonts__example fonts__example_m fonts__example_m-l">Light</li>
                                        </ul>
                                    </u-animate>
                                </div>
                            </div>

                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <h5 class="fonts__name fonts__name_oswald">Oswald</h5>
                                <ul class="fonts__list fonts__list_border">
                                    <li class="fonts__example fonts__example_o-b">BLACK</li>
                                </ul>
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="main">
            <div class="container">
                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name main__section-name"
                >
                    <h3 class="section-name-big">Главная<span class="section-name-small">страница</span></h3>
                </u-animate>
                <div class="row">
                    <div class="col-md-4">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="main__card-wrap"
                        >
                            <p class="main__card-txt">Карточка</p>
                            <img class="img-responsive" src="~@/assets/images/bereket/item-card.jpg" alt="">
                        </u-animate>

                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                el="h3"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="main__func"
                        >
                            Функционал
                        </u-animate>

                        <div class="main__func-wrap">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    el="h3"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="main__func-item"
                            >
                                <img src="~@/assets/images/bereket/func-1.png" alt="">
                                <p class="main__func-txt main__func-txt_left">CMS Opencart PRO</p>
                            </u-animate>

                            <u-animate
                                    name="fadeInUp"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    el="h3"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="main__func-item"
                            >
                                <p class="main__func-txt main__func-txt_right">Framework Bootstrap 3</p>
                                <img src="~@/assets/images/bereket/func-2.png" alt="">
                            </u-animate>

                            <u-animate
                                    name="fadeInUp"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    el="h3"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="main__func-item"
                            >
                                <img src="~@/assets/images/bereket/func-3.png" alt="">
                                <p class="main__func-txt main__func-txt_left">Конвертер валют</p>
                            </u-animate>

                            <u-animate
                                    name="fadeInUp"
                                    delay="0.6s"
                                    duration="1s"
                                    :iteration="1"
                                    el="h3"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="main__func-item"
                            >
                                <p class="main__func-txt main__func-txt_right">Полностью адаптивен</p>
                                <img src="~@/assets/images/bereket/func-4.png" alt="">
                            </u-animate>
                        </div>
                    </div>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-7 main__full"
                    >
                        <img class="img-responsive" src="~@/assets/images/bereket/home-page.jpg" alt="">
                        <div class="main__full-sofa">
                            <img src="~@/assets/images/bereket/sofa.png" alt="">
                        </div>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="catalog minus-mar">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section-name catalog__section-name"
                        >
                            <h3 class="section-name-big"><span class="section-name-small">страница</span>Каталога</h3>
                        </u-animate>
                    </div>
                </div>
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="col-md-6">
                        <img class="img-responsive cat-img" src="~@/assets/images/bereket/catalog.jpg" alt="">
                    </div>
                </u-animate>
            </div>
        </section>

        <section class="card minus-mar">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-4 col-md-offset-6"
                    >
                        <div class="section-name card__section-name">
                            <h3 class="section-name-big"><span class="section-name-small">страница</span>Товара</h3>
                        </div>
                    </u-animate>
                </div>
                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="col-md-9 col-md-offset-3 ">
                        <img class="img-responsive" src="~@/assets/images/bereket/product.jpg" alt="">
                    </div>
                </u-animate>
            </div>
        </section>

        <section class="bottom">
            <div class="container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="bottom__bed"
                >
                    <img src="~@/assets/images/bereket/bed.png" alt="">
                </u-animate>
                <div class="bottom__lamp">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            el="h3"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="bottom__lamp-anime"
                    >
                        Анимация
                    </u-animate>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            el="p"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="bottom__lamp-txt"
                    >
                        Сайт полностью интерактивен, а также адаптирован под все требуемые расширения экранов
                    </u-animate>
                </div>
                <div class="bottom__mock">
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <img class="img-responsive" src="~@/assets/images/bereket/bottom-mock.png" alt="">
                    </u-animate>
                    <u-animate
                            name="bounceIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section-name bottom__section-name col-md-offset-1"
                    >
                        <!--                    <h3 class="section-name-big">Спасибо<span class="section-name-small">за просмотр</span></h3>-->
                        <div class="port-link-wrap">
                            <a class="port-link port-link_black" href="//bereket.od.ua/" rel="nofollow" target="_blank">Посмотреть сайт</a>
                        </div>
                    </u-animate>
                </div>
                <div class="bottom__chair wow fadeInRight">
                    <img src="~@/assets/images/bereket/bottom-chair.png" alt="">
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @import "~@/assets/bootstrap/bootstrap.css";

    /** {*/
        /*margin: 0;*/
        /*padding: 0;*/
        /*border: 0;*/
        /*-webkit-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
        /*font-size: 100%;*/
        /*line-height: 100%*/
    /*}*/

    html {
        font-size: 10px
    }

    body, html {
        overflow-x: hidden
    }
    p, h2, h3{
        margin: 0;
    }

    .banner__inner, .banner__logo {
        position: relative
    }

    .banner__aim-txt, .banner__name {
        font-family: Montserrat;
        color: #222
    }

    .banner__logo::before, .colors__item::after, .colors__item::before, .colors__section-name::after {
        content: '';
        display: block
    }
    .center{
        text-align: center;
    }

    @font-face {
        font-family: Montserrat;
        src: url(~@/assets/fonts/bereket/Montserrat-Light.eot);
        src: url(~@/assets/fonts/bereket/Montserrat-Light.eot) format("embedded-opentype"), url(~@/assets/fonts/bereket/Montserrat-Light.woff) format("woff"), url(~@/assets/fonts/bereket/Montserrat-Light.ttf) format("truetype");
        font-weight: 300;
        font-style: normal
    }

    @font-face {
        font-family: Montserrat;
        src: url(~@/assets/fonts/bereket/Montserrat-Regular.eot);
        src: url(~@/assets/fonts/bereket/Montserrat-Regular.eot) format("embedded-opentype"), url(~@/assets/fonts/bereket/Montserrat-Regular.woff) format("woff"), url(~@/assets/fonts/bereket/Montserrat-Regular.ttf) format("truetype");
        font-weight: 400;
        font-style: normal
    }

    @font-face {
        font-family: Montserrat;
        src: url(~@/assets/fonts/bereket/Montserrat-Medium.eot);
        src: url(~@/assets/fonts/bereket/Montserrat-Medium.eot) format("embedded-opentype"), url(~@/assets/fonts/bereket/Montserrat-Medium.woff) format("woff"), url(~@/assets/fonts/bereket/Montserrat-Medium.ttf) format("truetype");
        font-weight: 500;
        font-style: normal
    }

    @font-face {
        font-family: Montserrat;
        src: url(~@/assets/fonts/bereket/Montserrat-Bold.eot);
        src: url(~@/assets/fonts/bereket/Montserrat-Bold.eot) format("embedded-opentype"), url(~@/assets/fonts/bereket/Montserrat-Bold.woff) format("woff"), url(~@/assets/fonts/bereket/Montserrat-Bold.ttf) format("truetype");
        font-weight: 700;
        font-style: normal
    }

    @font-face {
        font-family: "Montserrat - Extra Bold";
        src: url(~@/assets/fonts/bereket/Montserrat-ExtraBold.eot);
        src: url(~@/assets/fonts/bereket/Montserrat-ExtraBold.eot) format("embedded-opentype"), url(~@/assets/fonts/bereket/Montserrat-ExtraBold.woff) format("woff"), url(~@/assets/fonts/bereket/Montserrat-ExtraBold.ttf) format("truetype")
    }

    @font-face {
        font-family: "Montserrat - Black";
        src: url(~@/assets/fonts/bereket/Montserrat-Black.eot);
        src: url(~@/assets/fonts/bereket/Montserrat-Black.eot) format("embedded-opentype"), url(~@/assets/fonts/bereket/Montserrat-Black.woff) format("woff"), url(~@/assets/fonts/bereket/Montserrat-Black.ttf) format("truetype")
    }

    @font-face {
        font-family: Oswald;
        src: url(~@/assets/fonts/bereket/Oswaldbold.eot);
        src: url(~@/assets/fonts/bereket/Oswaldbold.eot) format("embedded-opentype"), url(~@/assets/fonts/bereket/Oswaldbold.woff) format("woff"), url(~@/assets/fonts/bereket/Oswaldbold.ttf) format("truetype");
        font-weight: 700;
        font-style: normal
    }

    .bereket {
        max-width: 1920px;
        margin: 0 auto
    }

    .banner__logo {
        z-index: 1;
        padding-top: 87px
    }

    .banner__logo::before {
        width: 137px;
        height: 612px;
        position: absolute;
        left: -122px;
        bottom: -550px;
        background: url(~@/assets/images/bereket/logo-frag.png) center/contain no-repeat
    }

    .banner__img {
        position: absolute;
        top: -170px;
        right: -180px
    }

    .banner__name {
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center
    }

    .fonts__section-name, .main__card-txt {
        text-align: right
    }

    .banner__aim {
        padding-top: 540px
    }

    .banner__aim-txt {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px
    }

    .banner__aim-txt span {
        font-weight: 700;
        text-transform: uppercase
    }

    .colors__name, .fonts__name, .section-name-big {
        font-weight: 400;
        text-transform: uppercase
    }

    .section-name {
        position: relative
    }

    .section-name-big {
        color: #222;
        font-family: "Montserrat - Extra Bold";
        font-size: 4.8rem;
        line-height: 5rem
    }

    .section-name-small {
        color: #de656d;
        font-size: 32px;
        display: block;
        text-align: right
    }

    .colors .section-name-big {
        max-width: 366px
    }

    .colors__section-name {
        margin-top: 65px
    }

    .colors__section-name::after {
        width: 22px;
        height: 22px;
        background-color: #fd656e;
        position: absolute;
        top: 30px;
        right: -27px
    }

    .colors__item {
        position: relative
    }

    .colors__item::before {
        width: 89px;
        height: 89px;
        border: 1px solid;
        -webkit-border-radius: 50%;
        border-radius: 50%
    }

    .colors__item::after {
        width: 61px;
        height: 61px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: 14px;
        top: 14px
    }

    .colors__inner, .fonts__wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }

    .colors__item_blue::before {
        border-color: #024e76
    }

    .colors__item_blue::after {
        background-color: #024e76
    }

    .colors__item_red::before {
        border-color: #de656d
    }

    .colors__item_red::after {
        background-color: #de656d
    }

    .colors__item_green::before {
        border-color: #6db152
    }

    .colors__item_green::after {
        background-color: #6db152
    }

    .colors__item_gray::before {
        border-color: #e5edf1
    }

    .colors__item_gray::after {
        background-color: #e5edf1
    }

    .colors__inner {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 110px;
        position: relative
    }

    .colors__inner::before, .fonts__section-name::after {
        content: '';
        position: absolute;
        display: block
    }

    .colors__inner::before {
        width: 12px;
        height: 12px;
        background-color: #fd656e;
        left: -225px;
        bottom: 30px
    }

    .colors__name {
        color: #222;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 63px;
        letter-spacing: 1.08px
    }

    .fonts {
        margin-top: 60px
    }

    .fonts__section-name::after {
        width: 193px;
        height: 526px;
        background: url(~@/assets/images/bereket/font-after.png) center/contain no-repeat;
        right: -145px;
        top: -10px
    }

    .fonts__chair {
        position: relative;
        left: -140px
    }

    .fonts__chair::before, .main__section-name::before {
        content: '';
        background: #fd656e;
        position: absolute
    }

    .fonts__chair::before {
        display: block;
        width: 2px;
        height: 1065px;
        bottom: -931px;
        left: 142px
    }

    .fonts__name {
        color: #024e76;
        font-size: 3.6rem;
        margin-bottom: 25px
    }

    .fonts__name_montserrat {
        font-family: "Montserrat - Extra Bold"
    }

    .fonts__name_oswald {
        font-family: Oswald
    }

    .fonts__wrap {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .fonts__wrap-m {
        -webkit-flex-basis: 362px;
        -ms-flex-preferred-size: 362px;
        flex-basis: 362px
    }

    .fonts__list {
        list-style: none;
        padding: 15px 0 10px 25px
    }

    .fonts__list_border {
        border-left: 2px solid #c4c4c4
    }

    .fonts__example {
        color: #222;
        font-size: 1.8rem;
        line-height: 30px
    }

    .main__card-txt, .main__full::after {
        opacity: .1;
        color: #000;
        text-transform: uppercase
    }

    .fonts__example_m {
        font-family: Montserrat
    }

    .fonts__example_m-b {
        font-weight: 700
    }

    .fonts__example_m-m {
        font-weight: 500
    }

    .fonts__example_m-r {
        font-weight: 400
    }

    .fonts__example_m-l {
        font-weight: 300
    }

    .fonts__example_m-bl {
        font-family: "Montserrat - Black"
    }

    .fonts__example_m-eb {
        font-family: "Montserrat - Extra Bold"
    }

    .fonts__example_o-b, .main__card-txt, .main__full::after {
        font-family: Oswald;
        font-weight: 700
    }

    .fonts__example-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 60px
    }

    .main__section-name {
        max-width: 376px;
        margin: 90px 210px 30px auto
    }

    .main__section-name::before {
        display: block;
        width: 22px;
        height: 22px;
        left: -410px;
        top: 15px
    }

    .main__card-txt {
        font-size: 36px;
        max-width: 291px
    }

    .main__card-wrap {
        position: relative;
        padding-top: 200px;
        margin-left: 30px
    }

    .main__card-wrap::after, .main__card-wrap::before {
        position: absolute;
        content: '';
        display: block
    }

    .main__card-wrap::before {
        width: 585px;
        height: 585px;
        background-color: #e5edf1;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: -1;
        left: -48px;
        top: -10px
    }

    .main__card-wrap::after {
        width: 152px;
        height: 73px;
        background: url(~@/assets/images/bereket/func-before.png) center/contain no-repeat;
        right: -40px;
        bottom: -60px;
        z-index: 1
    }

    .main__full {
        position: relative
    }

    .main__full::before {
        content: '';
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        background: #fd656e;
        left: -90px;
        top: 90px
    }

    .main__full::after {
        content: 'Home page';
        position: absolute;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        right: -77px;
        top: 257px;
        font-size: 64px;
        line-height: 100%
    }

    .bottom__lamp-anime, .main__func, .main__func-txt {
        font-weight: 400;
        color: #222
    }

    .main__full-sofa {
        position: absolute;
        right: -215px;
        top: 890px
    }

    .main__full-sofa::before {
        content: '';
        display: block;
        width: 2px;
        height: 1157px;
        background: #fd656e;
        position: absolute;
        bottom: -1144px;
        left: 314px
    }

    .main__func {
        font-family: "Montserrat - Extra Bold";
        font-size: 3.6rem;
        text-transform: uppercase;
        margin-top: 140px;
        padding-left: 48px;
        position: relative;
        margin-bottom: 81px
    }

    .main__func::after, .main__func::before {
        content: '';
        display: block;
        position: absolute
    }

    .main__func::before {
        width: 57px;
        height: 57px;
        background: #fd656e;
        left: -40px
    }

    .main__func::after {
        width: 204px;
        height: 1px;
        background: #fd656e;
        left: 16px;
        top: 44px
    }

    .main__func-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 60px
    }

    .bottom__section-name::after, .card .section-name::after, .card .section-name::before, .catalog .section-name::before {
        content: '';
        display: block;
        background: #fd656e
    }

    .main__func-txt {
        font-family: Montserrat;
        font-size: 1.8rem;
        line-height: 2.4rem;
        letter-spacing: .07rem
    }

    .main__func-txt_left {
        margin-left: -30px
    }

    .main__func-txt_right {
        margin-right: -30px
    }

    .catalog {
        margin-top: -640px
    }

    .catalog .section-name {
        margin-bottom: 20px
    }

    .catalog .section-name::before {
        width: 12px;
        height: 12px;
        position: absolute;
        top: -49px;
        left: 170px
    }

    .catalog .section-name-small {
        text-align: left
    }

    .catalog .section-name-big {
        text-align: right
    }

    .card {
        margin-top: -730px
    }

    .card .section-name {
        margin-bottom: 34px
    }

    .card .section-name::after, .card .section-name::before {
        position: absolute
    }

    .card .section-name::before {
        width: 57px;
        height: 57px;
        right: -96px;
        top: 26px
    }

    .card .section-name::after {
        width: 106px;
        height: 2px;
        right: -194px;
        top: 54px
    }

    .card .section-name-small {
        text-align: left
    }

    .bottom__chair, .card .section-name-big {
        text-align: right
    }

    .bottom {
        position: relative;
        padding-bottom: 60px
    }

    .bottom__section-name {
        max-width: 583px;
        margin-top: 120px
    }

    .bottom__section-name::after {
        width: 12px;
        height: 12px;
        position: absolute;
        bottom: -40px;
        left: 120px
    }

    .bottom .section-name-big {
        font-size: 7.2rem;
        line-height: 8rem
    }

    .bottom .section-name-small {
        font-size: 4.8rem
    }

    .bottom__bed {
        margin-left: -133px;
        margin-top: -320px
    }

    .bottom__lamp {
        width: 1025px;
        height: 1025px;
        background: url(~@/assets/images/bereket/lamp.png) center/contain no-repeat;
        position: relative;
        margin-left: 334px;
        margin-top: -1524px;
        z-index: -1
    }

    .bottom__lamp-anime {
        font-family: "Montserrat - Extra Bold";
        font-size: 48px;
        text-transform: uppercase;
        display: inline-block;
        position: absolute;
        left: 113px;
        top: 490px
    }

    .bottom__lamp-anime::after, .bottom__lamp-anime::before, .bottom__lamp-txt::before {
        content: '';
        display: block;
        background: #fd656e;
        position: absolute
    }

    .bottom__lamp-anime::after, .bottom__lamp-anime::before {
        width: 15px;
        height: 15px;
        top: 50%;
        margin-top: -7.5px
    }

    .bottom__lamp-anime::before {
        left: -28px
    }

    .bottom__lamp-anime::after {
        right: -28px
    }

    .bottom__lamp-txt {
        color: #222;
        font-family: Montserrat;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem;
        max-width: 264px;
        position: absolute;
        bottom: 61px;
        right: 218px;
        padding-top: 18px
    }

    .bottom__lamp-txt::before {
        width: 277px;
        height: 2px;
        top: 0;
        left: -110px
    }

    .bottom__mock {
        margin-top: -440px;
        margin-left: -25px
    }

    .bottom__chair {
        margin-right: -157px;
        margin-top: -380px
    }

    @media screen and (max-width: 1600px) {
        .bottom__lamp {
            margin-left: auto
        }

        .bottom__mock {
            margin-left: 0;
            max-width: 650px
        }

        .bottom__chair {
            margin-right: 0
        }

        .main__full-sofa {
            right: -80px
        }

        .main__full-sofa::before {
            left: 400px
        }

        .card .section-name::after {
            width: 56px;
            right: -149px
        }
    }

    @media screen and (max-width: 1200px) {
        .bottom__bed, .bottom__chair, .bottom__section-name::after {
            display: none
        }

        .bottom {
            padding-bottom: 120px
        }

        .catalog {
            margin-top: -340px
        }

        .fonts__chair::before {
            bottom: -901px
        }

        .main__func {
            padding-left: 21px
        }

        .main__full-sofa::before {
            bottom: -848px
        }

        .card .section-name::after {
            right: -131px
        }

        .bottom__lamp {
            margin-top: -410px
        }

        .bottom__mock {
            max-width: 540px
        }
    }

    @media screen and (max-width: 992px) {
        .colors__section-name::after, .main__full::after {
            right: 0
        }

        .banner__logo::before, .bottom__lamp-txt::before, .card .section-name::after, .card .section-name::before, .fonts__chair, .fonts__section-name::after, .main__card-wrap, .main__full-sofa, .main__full::before {
            display: none
        }

        .bottom__section-name {
            max-width: none;
            margin-top: 80px
        }

        .bottom__mock, .main__section-name {
            max-width: initial;
            margin: 0
        }

        .bottom__lamp {
            background: 0;
            width: auto;
            height: auto;
            margin: 0;
            text-align: center
        }

        .bottom__lamp-anime {
            position: relative;
            left: initial;
            top: initial
        }

        .bottom__lamp-txt {
            position: static;
            margin: 0 auto 20px
        }

        .main__func, .minus-mar {
            margin-top: 30px
        }

        .section-name-big, .section-name-small {
            text-align: center !important
        }

        .main__func-item {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center
        }

        .banner__img {
            top: 20px;
            right: 0
        }

        .banner__logo {
            padding-top: 40px
        }

        .banner__aim {
            padding-top: 400px
        }

        .cat-img {
            margin: 0 auto
        }

        .colors__inner {
            margin-top: 40px
        }

        .card {
            margin-bottom: 30px
        }
    }

    @media screen and (max-width: 767px) {
        html {
            font-size: 8px
        }

        .fonts__wrap-m {
            -webkit-flex-basis: initial;
            -ms-flex-preferred-size: initial;
            flex-basis: initial
        }

        .fonts__example-wrap {
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around
        }

        .banner__img {
            top: 70px
        }

        .banner__aim {
            padding-top: 62vw
        }

        .main__func-item {
            margin-bottom: 40px
        }
    }

    @media screen and (max-width: 450px) {
        .colors__section-name::after {
            display: none
        }

        .fonts__example-wrap, .fonts__wrap {
            margin-bottom: 20px
        }

        .colors__inner {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center
        }

        .colors__item {
            -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
            text-align: center
        }

        .colors__item::after {
            left: 50%;
            margin-left: -30.5px
        }

        .colors__item::before {
            margin: 0 auto
        }

        .fonts__example-wrap {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

        .main__func-txt_right {
            text-align: right
        }

        .bottom__lamp-anime {
            font-size: 31px
        }

        .bottom .section-name-big {
            font-size: 6.2rem;
            line-height: 6rem
        }

        .bottom .section-name-small {
            font-size: 3.8rem
        }
    }

    .port-link {
        font-family: Montserrat;
        color: #000;
        text-transform: uppercase;
        padding: 15px 40px;
        border: 2px solid #cc3743;
        transition: all .3s ease;
        text-align: center;
    }
    .port-link:hover {
        text-decoration: none;
        letter-spacing: 1px;
    }
    .port-link-wrap {
        text-align: center;
        position: relative;
    }
    @media (max-width: 540px){
        .section-name-big{
            font-size: 28px;
        }
        .main__func{
            font-size: 20px;
        }
    }
</style>