<template>
    <u-animate-container
            :config="config">
        <main>
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина увлажнителей и очистители воздуха Boneco"
                description="Разработка интернет-магазина для компании Boneco - увлажнители воздуха, воздухоочистители, увлажнители, очистители воздуха, климатическое оборудование."
                keywords=""
        />
        <!--end set meta data-->
        <div class="boneco_wrap">
            <main class="boneco">
                <div class="boneco__banner">
                    <div class="container">
                        <h1 class="main_page_title">Разработка интернет магазина увлажнителей воздуха</h1>
                        <div class="boneco__banner_inner">
                            <u-animate
                                    name="fadeInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="banner-mock" src="~@/assets/images/boneco/bnc-mockup-1.png" alt="">
                            </u-animate>
                            <u-animate
                                    name="fadeInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="boneco__banner_innerlogo"
                            >
                                <div>
                                    <a class="boneco__sitelink" rel="nofollow" href="https://www.boneco-shop.ru/">Cмотреть сайт</a>
                                </div>
                                <div style="margin-top: 70px">
                                    <img class="img-responsive boneco__logo" src="~@/assets/images/boneco/bnc-logo.png" alt="">
                                </div>
                            </u-animate>
                        </div>
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="row"
                        >
                            <div class="col-md-offset-1 col-md-6">
                                <p class="boneco__banner_txt">Увлажнители и очистители воздуха <strong>Boneco</strong> производятся всемирно
                                    известной швейцарской компанией <strong>Boneco AG</strong>, которая уже много
                                    лет занимает лидирующие позиции на международном рынке климатических приборов.</p>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="row"
                        >
                            <div class="col-md-offset-6 col-md-5">
                                <div class="boneco__banner_aim">
                                    <h5 class="boneco__boldhead boneco__boldhead-big">ЗАДАЧА:</h5>
                                    <p class="boneco__banner_txt-aim">Сделать редизайн интренет-магазина BONECO с адаптивной версткой</p>
                                </div>
                            </div>
                        </u-animate>
                    </div>
                </div>
                <div class="boneco__content">
                    <div class="boneco__topline boneco__topline-left-bottom"></div>
                    <!--top-lines-->
                    <div class="boneco__topline boneco__topline-left"></div>
                    <div class="boneco__topline boneco__topline-mid"></div>
                    <div class="boneco__topline boneco__topline-right"></div>
                    <!--top-lines-->

                    <!--content-->
                    <div class="boneco__color">
                        <div class="container">
                            <div class="row">
                                <span class="boneco__sidetxt boneco__sidetxt-typo boneco__sidetxt-60 boneco__sidetxt-left">TYPOGRAPHY</span>
                                <u-animate
                                        name="fadeInLeft"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-offset-1 col-sm-offset-4 col-md-5"
                                >
                                    <p class="boneco__boldhead">Proxima Nova</p>
                                    <p class="boneco__color_example">а б в г д е ё ж з и й к л м н о п р с т у ф х <br> ц ч ш щ ъ ы ь э ю я</p>
                                    <p class="boneco__color_inner">
                                        <span class="boneco__color_t boneco__color-PNBl">Black</span>
                                        <span class="boneco__color_t boneco__color-PNB">Bold</span>
                                        <span class="boneco__color_t boneco__color-PNSB">Semibold</span>
                                        <span class="boneco__color_t boneco__color-PNR">Regular</span>
                                        <span class="boneco__color_t boneco__color-PNL">Light</span>
                                    </p>
                                </u-animate>
                            </div>
                            <div class="row">
                                <span class="boneco__sidetxt boneco__sidetxt-110 boneco__sidetxt-right">COLOR</span>
                                <div class="col-md-offset-7 col-lg-3 col-md-4">
                                    <u-animate
                                            name="fadeInRight"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="boneco__color_wrap"
                                    >
                                        <p class="boneco__boldhead">Основные цвета</p>
                                        <div class="boneco__color_wrapinn">
                                            <div class="boneco__color_inn">
                                                <div class="boneco__color_rec boneco__color_rec-blue"></div>
                                                <span class="boneco__color_desc">#3a83a3</span>
                                            </div>
                                            <div class="boneco__color_inn">
                                                <div class="boneco__color_rec boneco__color_rec-red"></div>
                                                <span class="boneco__color_desc">#ed3441</span>
                                            </div>
                                            <div class="boneco__color_inn">
                                                <div class="boneco__color_rec boneco__color_rec-black"></div>
                                                <span class="boneco__color_desc">#222222</span>
                                            </div>
                                        </div>
                                    </u-animate>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boneco__pics">
                        <div class="container boneco__pics_wrap">
                            <div class="row">
                                <span class="boneco__sidetxt boneco__sidetxt-mob boneco__sidetxt-60 boneco__sidetxt-left">MOBILE</span>
                                <u-animate
                                        name="fadeInLeft"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-offset-1 col-md-3"
                                >
                                    <div class="bnc-img-dn">
                                        <img src="~@/assets/images/boneco/bnc-pic-1.png" alt="">
                                    </div>
                                </u-animate>
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-offset-1 col-md-6"
                                >
                                    <div class="boneco__pics_main_wrap">
                                        <p class="boneco__boldhead boneco__boldhead-pics">Главная страница</p>
                                        <img class="img-responsive boneco__pics_main" src="~@/assets/images/boneco/bnc-full.jpg" alt="">
                                    </div>
                                </u-animate>
                                <span class="boneco__sidetxt boneco__sidetxt-index boneco__sidetxt-180 boneco__sidetxt-right">HOME PAGE</span>
                            </div>
                            <div class="boneco__pics_itemsmall">
                                <div class="row">
                                    <span class="boneco__sidetxt boneco__sidetxt-norm boneco__sidetxt-28 boneco__sidetxt-left">Normal</span>
                                    <span class="boneco__sidetxt boneco__sidetxt-hov boneco__sidetxt-28">Hover</span>
                                    <u-animate
                                            name="fadeInLeft"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="col-md-3"
                                    >
                                        <div>
                                            <p class="boneco__boldhead">Дизайн карточки</p>
                                            <img class="boneco__pics_border" src="~@/assets/images/boneco/bnc-pic-2.jpg" alt="">
                                        </div>
                                    </u-animate>
                                </div>
                                <u-animate
                                        name="fadeInLeft"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="row"
                                >
                                    <div class="col-md-offset-2 col-md-3">
                                        <div class="boneco__pics_item_02">
                                            <img class="boneco__pics_border" src="~@/assets/images/boneco/bnc-pic-3.jpg" alt="">
                                        </div>
                                    </div>
                                </u-animate>
                            </div>
                            <div class="row">
                                <span class="boneco__sidetxt boneco__sidetxt-catalog boneco__sidetxt-120 boneco__sidetxt-left">CATALOG</span>
                                <span class="boneco__sidetxt boneco__sidetxt-product boneco__sidetxt-60 boneco__sidetxt-left">
                           PRODUCT
                        <span class="boneco__sidetxt boneco__sidetxt-60 boneco__sidetxt-product2">PAGE</span>
                       </span>
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-offset-1 col-md-6"
                                >
                                    <div class="boneco__pics_item_catalog">
                                        <p class="boneco__boldhead">Cтраница каталога</p>
                                        <img class="boneco__pics_shadow" src="~@/assets/images/boneco/bnc-pic-4.png" alt="">
                                    </div>
                                </u-animate>
                            </div>
                            <div class="row">
                                <u-animate
                                        name="fadeInRight"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-offset-4 col-md-6"
                                >
                                    <div class="boneco__pics_item_card">
                                        <p class="boneco__boldhead boneco__boldhead-card">Cтраница карточки товара</p>
                                        <img class="boneco__pics_shadow img-responsive" src="~@/assets/images/boneco/bnc-pic-5.png" alt="">
                                    </div>
                                </u-animate>
                            </div>
                            <div class="row boneco__sidetxt_wrap">
                                <span class="boneco__sidetxt boneco__sidetxt-mob2 boneco__sidetxt-60 boneco__sidetxt-right">MOBILE</span>
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-offset-9 col-md-3"
                                >
                                    <div class="boneco__pics_item_mob">
                                        <img class="bnc-img-dn" src="~@/assets/images/boneco/bnc-pic-6.png" alt="">
                                    </div>
                                </u-animate>
                            </div>
                            <div class="row boneco__pics_item_wrap">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <u-animate
                                            name="fadeInUp"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                    >
                                        <p class="boneco__boldhead">Остальные страницы</p>
                                        <img class="boneco__pics_shadow" src="~@/assets/images/boneco/bnc-pic-delivery.jpg" alt="">
                                    </u-animate>
                                </div>
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-4 col-sm-6 col-xs-12"
                                >
                                    <div class="boneco__pics_item_compare">
                                        <img class="boneco__pics_shadow" src="~@/assets/images/boneco/bnc-pic-compare.jpg" alt="">
                                    </div>
                                </u-animate>
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-4 col-sm-6 col-xs-12"
                                >
                                    <div class="boneco__pics_item_cart">
                                        <img class="boneco__pics_shadow img-responsive" src="~@/assets/images/boneco/bnc-pic-cart.jpg" alt="">
                                    </div>
                                </u-animate>
                            </div>
                            <div class="row boneco__pics_bottom">
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-3 col-sm-4 col-xs-12"
                                >
                                    <div class="boneco__pics_item_discount">
                                        <img class="boneco__pics_shadow img-responsive" src="~@/assets/images/boneco/bnc-pic-discount.png" alt="">
                                    </div>
                                </u-animate>
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-3 col-sm-4 col-xs-12"
                                >
                                    <div class="boneco__pics_item_news">
                                        <img class="boneco__pics_shadow img-responsive" src="~@/assets/images/boneco/news.png" alt="">
                                    </div>
                                </u-animate>
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-3 col-sm-4 col-xs-12"
                                >
                                    <div class="boneco__pics_item_news-inn">
                                        <img class="boneco__pics_shadow img-responsive" src="~@/assets/images/boneco/bnc-pic-news-inn.png" alt="">
                                    </div>
                                </u-animate>
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-md-3 col-sm-4 col-xs-12"
                                >
                                    <div class="boneco__pics_item_f04">
                                        <img class="boneco__pics_shadow img-responsive" src="~@/assets/images/boneco/bnc-pic-404.png" alt="">
                                    </div>
                                </u-animate>
                            </div>
                        </div>
                    </div>
                    <!--content-->

                    <!--vert-lines-->
                    <div class="boneco__line boneco__line-left-middle"></div>
                    <div class="boneco__line boneco__line-middle"></div>
                    <div class="boneco__line boneco__line-right-middle"></div>
                    <!--vert-lines-->
                </div>
            </main>
            <u-animate
                    name="fadeInUp"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="boneco__last"
                    style="padding-bottom: 180px"
            >
                <div class="container">
                    <span class="boneco__sidetxt-last boneco__sidetxt-120">OTHER PAGES</span>
                    <span class="boneco__last_more">And more...</span>
                    <img class="img-responsive boneco__logo" src="~@/assets/images/boneco/bnc-logo.png" alt="">
                    <!--            <div class="boneco__sitelink_bottomwrap">-->
                    <!--                <a class="boneco__sitelink" rel="nofollow" href="#">Cмотреть сайт</a>-->
                    <!--            </div>-->
                </div>
            </u-animate>
        </div>
    </main>
    </u-animate-container>
</template>
<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    p, h2, h3, h4, h5{
        margin: 0;
    }
    .boneco__last, .boneco_wrap {
        overflow: hidden
    }

    .main_page_title{
        font-size: 20px;
    }

    @font-face {
        font-family: PNBlack;
        src: url(~@/assets/fonts/boneco/ProximaNovaBlack.eot);
        src: url(~@/assets/fonts/boneco/ProximaNovaBlack.eot) format("embedded-opentype"),
        url(~@/assets/fonts/boneco/ProximaNovaBlack.woff) format("woff"),
        url(~@/assets/fonts/boneco/ProximaNovaBlack.ttf) format("truetype")
    }

    @font-face {
        font-family: PNB;
        src: url(~@/assets/fonts/boneco/ProximaNovaBold.eot);
        src: url(~@/assets/fonts/boneco/ProximaNovaBold.eot) format("embedded-opentype"),
        url(~@/assets/fonts/boneco/ProximaNovaBold.woff) format("woff"),
        url(~@/assets/fonts/boneco/ProximaNovaBold.ttf) format("truetype")
    }

    @font-face {
        font-family: PNSB;
        src: url(~@/assets/fonts/boneco/ProximaNovaSemiBold.eot);
        src: url(~@/assets/fonts/boneco/ProximaNovaSemiBold.eot) format("embedded-opentype"),
        url(~@/assets/fonts/boneco/ProximaNovaSemiBold.woff) format("woff"),
        url(~@/assets/fonts/boneco/ProximaNovaSemiBold.ttf) format("truetype")
    }

    @font-face {
        font-family: PNR;
        src: url(~@/assets/fonts/boneco/ProximaNovaRegular.eot);
        src: url(~@/assets/fonts/boneco/ProximaNovaRegular.eot) format("embedded-opentype"),
        url(~@/assets/fonts/boneco/ProximaNovaRegular.woff) format("woff"),
        url(~@/assets/fonts/boneco/ProximaNovaRegular.ttf) format("truetype")
    }

    @font-face {
        font-family: PNLI;
        src: url(~@/assets/fonts/boneco/ProximaNovaLightItalic.eot);
        src: url(~@/assets/fonts/boneco/ProximaNovaLightItalic.eot) format("embedded-opentype"),
        url(~@/assets/fonts/boneco/ProximaNovaLightItalic.woff) format("woff"),
        url(~@/assets/fonts/boneco/ProximaNovaLightItalic.ttf) format("truetype")
    }

    .boneco {
        background: url(~@/assets/images/boneco/bnc-bg-2.png) 50% 51%/contain no-repeat,
        url(~@/assets/images/boneco/bnc-bg-3.png) bottom center/contain no-repeat;
        padding-bottom: 70px
    }

    .boneco__banner {
        background: url(~@/assets/images/boneco/boneco1.png) top center/100% no-repeat;
        padding-top: 113px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .boneco__banner_inner {
        position: relative
    }

    .boneco__banner_innerlogo {
        position: absolute;
        top: 90px;
        left: 405px;
        text-align: center
    }

    .boneco__banner_txt {
        font-family: PNR;
        color: #222;
        font-size: 16px;
        line-height: 24px;
        padding-top: 95px
    }

    .boneco__banner_txt-aim {
        color: #222;
        font-family: PNR;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px
    }

    .boneco__banner_aim {
        padding: 27px 0
    }

    .boneco__sitelink {
        width: 185px;
        height: 39px;
        border: 2px solid #cc3743;
        color: #222;
        font-family: PNB;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 30px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease
    }

    .boneco__sitelink:hover {
        background: #cc3743;
        color: #fff;
        text-decoration: none;
    }

    .boneco__sitelink_bottomwrap {
        margin-top: 35px;
        padding-bottom: 80px
    }

    .boneco__boldhead {
        color: #222;
        font-family: PNBlack;
        font-size: 28px;
        font-weight: 400
    }

    .boneco__boldhead-big {
        font-size: 36px
    }

    .boneco__color_desc, .boneco__color_example {
        color: #000;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.2px
    }

    .boneco__boldhead-pics {
        margin-bottom: 30px
    }

    .boneco__boldhead-card {
        position: relative;
        left: 295px
    }

    .boneco__color_t {
        margin-right: 47px
    }

    .boneco__color_wrap {
        margin-top: -40px
    }

    .boneco__color_inner {
        margin-top: 45px
    }

    .boneco__color_example {
        font-family: PNR
    }

    .boneco__color-PNBl {
        font-family: PNBlack
    }

    .boneco__color-PNB {
        font-family: PNB
    }

    .boneco__color-PNSB {
        font-family: PNSB
    }

    .boneco__color-PNR {
        font-family: PNR
    }

    .boneco__color-PNL {
        font-family: PNLI
    }

    .boneco__color_wrapinn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .boneco__color_inn {
        width: 69px;
        text-align: center
    }

    .boneco__color_rec {
        width: 48px;
        height: 48px;
        -webkit-box-shadow: -2px 3px 10px rgba(0, 0, 0, .17);
        box-shadow: -2px 3px 10px rgba(0, 0, 0, .17);
        margin: 22px auto 50px
    }

    .boneco__color_rec-blue {
        background-color: #3a83a3
    }

    .boneco__color_rec-red {
        background-color: #ed3441
    }

    .boneco__color_rec-black {
        background-color: #222
    }

    .boneco__color_desc {
        font-family: PNR;
        font-weight: 400
    }

    .boneco__last_more, .boneco__sidetxt, .boneco__sidetxt-last {
        font-family: PNBlack
    }

    .boneco__pics {
        margin-top: 60px
    }

    .boneco__pics_wrap {
        position: relative
    }

    .boneco__pics_main {
        -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, .1);
        box-shadow: 0 0 32px rgba(0, 0, 0, .1);
        opacity: .98;
        position: relative;
        z-index: 1
    }

    .boneco__pics_main_wrap {
        margin-top: 93px
    }

    .boneco__pics_border {
        border: 1px solid #d3d3d3;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
        box-shadow: 0 0 5px rgba(0, 0, 0, .15)
    }

    .boneco__pics_itemsmall {
        position: absolute;
        top: 835px;
        width: 100%
    }

    .boneco__pics_item_02 {
        margin-top: -112px
    }

    .boneco__pics_item_catalog {
        position: absolute;
        top: -390px
    }

    .boneco__pics_item_card {
        margin-top: 100px;
        margin-left: -10px
    }

    .boneco__pics_item_mob {
        position: absolute;
        top: -340px;
        right: 65px
    }

    .boneco__pics_item_compare {
        margin-top: 105px
    }

    .boneco__pics_item_cart {
        margin-top: 205px
    }

    .boneco__pics_item_news {
        margin-top: 60px
    }

    .boneco__pics_item_news-inn {
        margin-top: 75px
    }

    .boneco__pics_item_f04 {
        margin-top: 250px
    }

    .boneco__pics_item_wrap {
        margin-top: 119px
    }

    .boneco__pics_shadow {
        border: 1px solid #e8e8e8;
        border-bottom: none;
        -webkit-box-shadow: 0 -10px 25px rgba(0, 0, 0, .1);
        box-shadow: 0 -10px 25px rgba(0, 0, 0, .1)
    }

    .boneco__pics_bottom {
        position: absolute;
        width: 100%;
        bottom: -70px
    }

    .boneco__content::after, .boneco__content::before, .boneco__line, .boneco__topline {
        width: 1px;
        background: #efefef
    }

    .boneco__content {
        max-width: 1170px;
        margin: 0 auto;
        position: relative
    }

    .boneco__content::before {
        content: '';
        display: block;
        height: 1940px;
        position: absolute;
        top: -260px;
        left: 15px
    }

    .boneco__content::after {
        content: '';
        display: block;
        height: 4560px;
        position: absolute;
        top: -160px;
        right: 15px
    }

    .boneco__line {
        height: 4640px;
        position: absolute;
        top: -240px;
        z-index: -1
    }

    .boneco__line-left-middle {
        left: 300px
    }

    .boneco__line-middle {
        left: 585px
    }

    .boneco__line-right-middle {
        left: 870px
    }

    .boneco__topline {
        position: absolute
    }

    .boneco__topline-left-bottom {
        height: 2300px;
        top: 2100px;
        left: 15px
    }

    .boneco__topline-left {
        top: -350px;
        left: 50px;
        -webkit-transform: rotate(42deg);
        -moz-transform: rotate(42deg);
        -ms-transform: rotate(42deg);
        -o-transform: rotate(42deg);
        transform: rotate(42deg);
        height: 105px
    }

    .boneco__topline-mid {
        top: -320px;
        left: 303px;
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
        height: 80px
    }

    .boneco__topline-right {
        top: -330px;
        left: 556px;
        -webkit-transform: rotate(-35deg);
        -moz-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
        -o-transform: rotate(-35deg);
        transform: rotate(-35deg);
        height: 100px
    }

    .boneco__sidetxt {
        opacity: .15;
        color: #3a83a3;
        font-weight: 400;
        text-transform: uppercase;
        position: absolute;
        display: block
    }

    .boneco__sidetxt_wrap {
        position: relative
    }

    .boneco__sidetxt-left {
        left: -5px;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }

    .boneco__sidetxt-right {
        right: -28px;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }

    .boneco__sidetxt-60 {
        font-size: 60px
    }

    .boneco__sidetxt-110 {
        font-size: 110px
    }

    .boneco__sidetxt-120 {
        font-size: 120px
    }

    .boneco__sidetxt-180 {
        font-size: 180px;
        right: -61px
    }

    .boneco__sidetxt-28 {
        font-size: 28px;
        color: #5781a0
    }

    .boneco__sidetxt-typo {
        top: -110px
    }

    .boneco__sidetxt-mob {
        top: 450px
    }

    .boneco__sidetxt-index {
        top: 375px
    }

    .boneco__sidetxt-norm {
        text-transform: none;
        left: 256px;
        top: 50px
    }

    .boneco__sidetxt-hov {
        text-transform: none;
        top: 259px;
        left: 380px
    }

    .boneco__sidetxt-catalog {
        left: -27px;
        top: 1880px
    }

    .boneco__sidetxt-product {
        left: 279px;
        top: 2400px;
        display: block
    }

    .boneco__sidetxt-product2 {
        display: block;
        opacity: 1;
        left: -55px;
        top: 190px
    }

    .boneco__sidetxt-mob2 {
        top: 30px;
        right: -8px
    }

    .boneco__sidetxt-last {
        opacity: .15;
        color: #3a83a3;
        text-transform: uppercase
    }

    .boneco__last {
        text-align: center
    }

    .boneco__last_more {
        color: #222;
        font-size: 28px;
        font-weight: 400;
        display: block;
        margin-bottom: 40px;
        text-align: right;
        margin-right: 300px
    }

    .boneco__logo {
        margin: 0 auto
    }

    a:hover {
        text-decoration: none;
        color: inherit
    }

    @media screen and (max-width: 1199px) {
        .boneco__pics_itemsmall, .boneco__sidetxt-product, .ukrticket__aim_name-white::after, .ukrticket__aim_name-white::before, .ukrticket__aim_name_before::after {
            display: none
        }

        .presentation__typography-fonts {
            margin-left: 0;
            margin-top: 0
        }

        .presentation__index-descr-txt {
            font-size: 16px
        }

        .presentation__another {
            background: 0 0;
            height: auto
        }

        .presentation__another_inner > * {
            position: static;
            margin-bottom: 20px
        }

        .presentation__another_inner {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -moz-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between
        }

        .ukrticket__double-circle {
            width: 350px;
            height: 350px
        }

        .ukrticket__double-circle::after {
            width: 200px;
            height: 200px
        }

        .ukrticket__aim_name-instr::before {
            right: 0
        }

        .ukrticket__aim_name-instr::after {
            right: -30px
        }

        .ukrticket__another_pages_imgwrap {
            top: 450px
        }

        .boneco__pics_item_wrap {
            margin-top: 260px
        }

        .boneco__topline-right {
            height: 70px;
            top: -302px;
            left: 565px
        }

        .boneco__pics_item_f04 {
            margin-top: 100px
        }

        .boneco__pics_bottom {
            bottom: 0
        }

        .l-america__main_inner::before {
            right: -35px
        }

        .l-america__main_page {
            margin-bottom: -162px
        }

        .l-america__main_wrap_tooltip {
            bottom: 50px;
            right: 265px
        }

        .seo__cases-item {
            max-width: 32%
        }

        .seo__cases-item-txt {
            font-size: 15px;
            line-height: 20px;
        }
    }

    @media screen and (max-width: 991px) {
        .presentation__index-descr, .seo__form-wrap, .seo__position-inner {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -moz-box-orient: vertical;
            -moz-box-direction: normal
        }

        .l-america__other_inn::before, .presentation__another_inner-fst, .presentation__another_inner-sd, .presentation__banner::after, .presentation__banner::before, .presentation__index-descr-home, .presentation__index-descr-wrap::before, .presentation__typography-MS::after, .presentation__typography-PT::before {
            display: none
        }

        .presentation__descr-aim-head_another {
            max-width: none
        }

        .banner-mock, .presentation__index-fullpage {
            max-width: 100%
        }

        .presentation__index-descr {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .presentation__colorbox {
            margin-top: 40px;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around
        }

        .presentation__colorbox > * {
            margin-bottom: 20px;
            margin-right: 70px
        }

        .presentation__descr-aim-head_color {
            margin-left: auto;
            margin-right: auto
        }

        .presentation__another_inner {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }

        .presentation__index-descr-wrap {
            margin-bottom: 40px
        }

        .presentation__index-descr {
            margin-top: 50px
        }

        .presentation__descr-aim_instr {
            margin-top: 80px
        }

        .presentation__typography-PT {
            -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
            align-self: flex-start
        }

        .ukrticket__double-circle {
            left: 200px
        }

        .ukrticket__aim_descr_wrap {
            -webkit-box-ordinal-group: initial;
            -webkit-order: initial;
            -moz-box-ordinal-group: initial;
            -ms-flex-order: initial;
            order: initial;
            margin-right: 60px
        }

        .ukrticket__aim_descr-right {
            text-align: left
        }

        .bnc-img-dn, .boneco__pics_item_catalog, .boneco__pics_main_wrap {
            text-align: center
        }

        .ukrticket__aim_name-instr {
            right: 40px
        }

        .ukrticket__aim_descr_laravel, .ukrticket__aim_name-dev::after, .ukrticket__aim_name-dev::before, .ukrticket__main_full_wrap-another::after, .ukrticket__main_full_wrap::before {
            display: none
        }

        .ukrticket__aim_name_before-right::before {
            left: initial;
            right: 0
        }

        .ukrticket__another_pages_imgwrap {
            position: static;
            margin: 30px 0
        }

        .boneco__pics_main {
            margin: 0 auto
        }

        .boneco__banner_innerlogo {
            position: relative;
            top: initial;
            left: initial;
            z-index: 1;
            margin-top: 50px
        }

        .boneco__pics_bottom, .boneco__pics_item_catalog {
            position: static;
            margin-top: 50px
        }

        .boneco__sidetxt-catalog {
            top: 2880px
        }

        .banner-mock {
            display: block;
            margin: 0 auto
        }

        .boneco__line-right-middle, .boneco__pics_item_cart, .boneco__pics_item_f04, .l-america__content_girl, .l-america__content_tree_wrap, .l-america__content_wrap, .l-america__main_wrap_boy, .l-america__main_wrap_mockup, .l-america__treereverse {
            display: none
        }

        .boneco__content::after, .boneco__content::before, .boneco__line {
            top: -450px
        }

        .boneco__topline-mid, .boneco__topline-right {
            top: -513px
        }

        .boneco__topline {
            display: none;
        }

        .boneco__topline-left {
            top: -541px
        }

        .boneco__color_wrap, .boneco__pics_item_card {
            margin-top: 50px
        }

        .boneco__color_wrapinn {
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -moz-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start
        }

        .boneco__color_wrapinn > * {
            margin-right: 20px
        }

        .l-america__main_wrap_mobile {
            right: -20px
        }

        .l-america__main_wrap_tooltip {
            bottom: 160px;
            right: -5px
        }

        .l-america__yellow {
            padding-top: 160px
        }

        .l-america__content_aim {
            padding-top: 40px
        }

        .l-america__content_colorinner {
            margin-right: 52px
        }

        .l-america__bold-before-typo::before {
            margin: 0;
            font-size: 60px
        }

        .seo__cases-wrap {
            -webkit-flex-basis: initial;
            -ms-flex-preferred-size: initial;
            flex-basis: initial
        }

        .seo__form-wrap, .seo__position-inner {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .seo__form-action {
            margin: 20px 0 0
        }
    }

    @media screen and (max-width: 767px) {
        .seo__position, .seo__statistics, .seo__strategy, .seo__visiting, .seo__strategy-inner > div > div:first-of-type, .seo__strategy-list-inner {
            margin-bottom: 30px;
        }

        .boneco__banner_txt, .boneco__banner_txt-aim, .boneco__boldhead, .boneco__boldhead-card, .boneco__color_example, .boneco__color_inner, .boneco__last_more, .l-america__content_color-txt {
            text-align: center
        }

        .seo__strategy-inner, .seo__top-content, .ukrticket__another_typowrap {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -moz-box-orient: vertical;
            -moz-box-direction: normal
        }

        .boneco__content::after, .boneco__sidetxt, .l-america__main_inner::before, .presentation__boldheader, .presentation__descr-aim-head_another::before, .presentation__descr-aim-inner::before {
            display: none
        }

        .seo__top-head {
            margin-bottom: 15px
        }

        .boneco__color_wrapinn {
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }

        .boneco__banner {
            padding-top: 50px
        }

        .boneco__sidetxt-120 {
            font-size: 40px
        }

        .ukrticket__main_descriptions {
            margin: 0 15px
        }

        .presentation__logo-btn-wrap_another {
            margin-bottom: 40px
        }

        .boneco__pics_item_compare, .boneco__pics_item_news, .boneco__pics_item_news-inn, .boneco__pics_item_wrap, .presentation__descr-aim-head_color {
            margin-top: 40px
        }

        .presentation__descr-aim-head_typography {
            margin: 0 auto
        }

        .boneco__last_more {
            margin: 20px;
            display: block
        }

        .presentation__descr-aim {
            min-height: auto
        }

        .presentation__logo-logotxt {
            margin-left: 0;
            text-align: center
        }

        .presentation__descr {
            margin-top: 90px
        }

        .presentation__descr-aim-descr {
            font-size: 16px
        }

        .presentation__descr-aim-inner::after {
            width: 112px;
            height: 114px;
            -o-background-size: contain;
            background-size: contain
        }

        .boneco__pics_bottom, .presentation__descr-aim-head::after {
            width: initial
        }

        .presentation__descr-aim-head {
            font-size: 35px;
            margin: 20px auto
        }

        .presentation__descr-aim-head_instr {
            font-size: 24px
        }

        .bnc-img-dn, .ukrticket__double-circle {
            display: none
        }

        .ukrticket__aim_marg {
            margin-top: 20px
        }

        .ukrticket__another_typowrap {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 105px;
            padding-bottom: 15px
        }

        .ukrticket__another_typowrap > * {
            margin-bottom: 20px
        }

        .ukrticket__another_color_inner {
            margin: 100px auto 20px
        }

        .boneco__pics_main_wrap, .ukrticket__banner_sitelink-wrap_last {
            margin: 0
        }

        .boneco__pics_main, .boneco__pics_shadow {
            margin: 0 auto
        }

        .boneco__boldhead-card {
            position: static
        }

        .ukrticket__last {
            padding-top: 80px
        }

        .boneco__pics_shadow {
            max-width: 100%;
            display: block
        }

        .boneco__banner_txt {
            padding-top: 40px
        }

        .boneco__pics_item_card {
            margin-left: 0
        }

        .boneco__color_t {
            margin-right: 5px
        }

    }

    @media screen and (max-width: 560px) {
        .seo__cases, .ukrticket__another_color_inner {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -moz-box-orient: vertical;
            -moz-box-direction: normal
        }

        .seo__form-head {
            font-size: 39px
        }

        .boneco__line-middle, .boneco__topline-right {
            display: none
        }

        .boneco__boldhead {
            font-size: 20px
        }

        .ukrticket__banner_sitelink {
            font-size: 18px;
            width: 230px;
            height: 50px
        }

        .ukrticket__aim_descr_wrap {
            padding-left: 0
        }

        .ukrticket__another_color_inner {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .ukrticket__another_color_inner > * {
            margin-bottom: 20px
        }

        .presentation__colorbox {
            padding-right: 36px
        }

        .presentation__colorbox-inner {
            width: 52px;
            height: 52px;
            margin: 23px
        }

        .presentation__colorbox-wrap {
            width: 100px;
            height: 100px
        }

        .presentation__colorbox-inner::before {
            left: 10px
        }

        .presentation__colorbox-inner::after {
            left: 68px
        }

        .l-america__content_colorwrap {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }

        .l-america__content_colorwrap > * {
            margin-right: 101px;
            margin-top: 20px
        }

        .seo__cases {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .seo__cases > * {
            margin-top: 20px;
            max-width: none;
            height: 250px
        }

        .seo__cases-item-txt {
            font-size: 22px;
            line-height: 30px;
            top: 30px
        }
    }

    @media screen and (max-width: 450px) {
        .mobile-prev, .presentation__another_inner > * {
            max-width: 100%
        }

        .ukrticket__main_descriptions {
            position: relative;
            top: initial;
            margin: 0 20px 20px
        }

        .ukrticket__aim_name {
            text-align: center;
            font-size: 30px
        }

        .ukrticket__aim_name_before::before {
            left: 90px
        }
    }

    @media screen and (max-width: 320px) {
        .l-america__content_colorwrap > * {
            margin-right: 61px
        }

        .boneco__line-left-middle {
            left: 305px
        }

        .boneco__topline-mid, .boneco__topline-right {
            top: -536px
        }

        .boneco__topline-mid {
            top: -536px;
            left: 272px;
            -webkit-transform: rotate(-42deg);
            -moz-transform: rotate(-42deg);
            -ms-transform: rotate(-42deg);
            -o-transform: rotate(-42deg);
            transform: rotate(-42deg);
            height: 100px
        }
    }
</style>

