<template>
    <u-animate-container
            :config="config">
        <main>
        <!--set meta data-->
        <vue-headful
                title="Разработка новостного сайта Cosmopolis"
                description="Разработка новостного портала Cosmopolis. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="first-screen">
            <div class="info-wrap">
                <div class="logo-block">
                    <p>Cosmopolis</p>
                </div>
                <div class="list-wrap">
                    <div class="flexend">
                        <u-animate
                            name="fadeIn"
                            delay="0.4s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-item"
                        >
                            <p class="list-num">1</p>
                            <div class="info-title-wrap">
                                <h1 class="info-title">Разработка новостного портала</h1>
                                <div class="line"></div>
                                <div class="icons-block">
                                    <!--<svg  class="laptop" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.8 511.8" style="enable-background:new 0 0 511.8 511.8;" xml:space="preserve"><style type="text/css">.st0{fill:#000000;}</style><g><g><path class="st0" d="M440.1,314.7V68.6H71.7v246.1L0,443.2h511.8L440.1,314.7z M87.7,84.6h336.4v224.2H87.7V84.6z M84.4,324.8h343l57.2,102.5H27.2L84.4,324.8z"/></g></g><g><g><rect x="109.1" y="349.6" class="st0" width="297.3" height="16"/></g></g><g><g><rect x="222.4" y="383" class="st0" width="70.6" height="16"/></g></g></svg>-->
                                    <!--<svg class="smartphone" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 472.8 472.8" style="enable-background:new 0 0 472.8 472.8;" xml:space="preserve"><style type="text/css">.st0{fill:#000000;}</style><g><path class="st0" d="M358.8,0H114.1C97.6,0,84.1,13.4,84.1,29.9v412.9c0,16.5,13.4,29.9,29.9,29.9h244.7c16.5,0,29.9-13.4,29.9-29.9V29.9C388.7,13.4,375.3,0,358.8,0z M99.1,75.2h274.6v312.7H99.1V75.2z M114.1,15h244.7c8.2,0,14.9,6.7,14.9,14.9v35.3H99.1V29.9C99.1,21.7,105.8,15,114.1,15z M358.8,457.8H114.1c-8.2,0-14.9-6.7-14.9-14.9v-45h274.6v45C373.7,451.1,367,457.8,358.8,457.8z"/><path class="st0" d="M236.4,404.6c-13.5,0-24.6,11-24.6,24.6s11,24.6,24.6,24.6s24.6-11,24.6-24.6S250,404.6,236.4,404.6z M236.4,443.7c-8,0-14.6-6.5-14.6-14.6c0-8,6.5-14.6,14.6-14.6s14.6,6.5,14.6,14.6C251,437.1,244.4,443.7,236.4,443.7z"/><path class="st0" d="M202.4,47.6h68c2.8,0,5-2.2,5-5s-2.2-5-5-5h-68c-2.8,0-5,2.2-5,5S199.6,47.6,202.4,47.6z"/><path class="st0" d="M184.4,47.6c1.3,0,2.6-0.5,3.5-1.5c0.9-0.9,1.5-2.2,1.5-3.5s-0.5-2.6-1.5-3.5c-0.9-0.9-2.2-1.5-3.5-1.5c-1.3,0-2.6,0.5-3.5,1.5c-0.9,0.9-1.5,2.2-1.5,3.5s0.5,2.6,1.5,3.5C181.8,47.1,183.1,47.6,184.4,47.6z"/></g></svg>-->
                                    <!--<svg class="tablet" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 444 444" style="enable-background:new 0 0 444 444;" xml:space="preserve"><style type="text/css">.st0{fill:#000000;}</style><g><path class="st0" d="M372.7,0H71.3C56.8,0,45,11.8,45,26.3v391.5c0,14.5,11.8,26.3,26.3,26.3h301.5c14.5,0,26.3-11.8,26.3-26.3V26.3C399,11.8,387.2,0,372.7,0z M384,417.7c0,6.2-5.1,11.3-11.3,11.3H71.3c-6.2,0-11.3-5.1-11.3-11.3V26.3C60,20.1,65.1,15,71.3,15h301.5c6.2,0,11.3,5.1,11.3,11.3V417.7z"/><path class="st0" d="M369,47.9H75c-2.8,0-5,2.2-5,5v338.2c0,2.8,2.2,5,5,5h294c2.8,0,5-2.2,5-5V52.9C374,50.1,371.7,47.9,369,47.9L369,47.9z M364,386.1H80V57.9h284V386.1z"/><path class="st0" d="M222,406.5c-2,0-3.9,0.8-5.3,2.2c-1.4,1.4-2.2,3.3-2.2,5.3s0.8,3.9,2.2,5.3c1.4,1.4,3.3,2.2,5.3,2.2c2,0,3.9-0.8,5.3-2.2c1.4-1.4,2.2-3.3,2.2-5.3s-0.8-3.9-2.2-5.3C225.9,407.3,224,406.5,222,406.5z"/><path class="st0" d="M222,37.2c1.3,0,2.6-0.5,3.5-1.5s1.5-2.2,1.5-3.5s-0.5-2.6-1.5-3.5c-0.9-0.9-2.2-1.5-3.5-1.5c-1.3,0-2.6,0.5-3.5,1.5c-0.9,0.9-1.5,2.2-1.5,3.5c0,1.3,0.5,2.6,1.5,3.5C219.4,36.7,220.7,37.2,222,37.2z"/></g></svg>-->
                                </div>
                            </div>
                        </u-animate>

                        <u-animate
                                name="fadeIn"
                                delay="0.5s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="info-item"
                        >
                            <p class="list-num">2</p>
                            <div class="info-title-wrap">
                                <p class="info-title">Selection of corporate colors</p>
                                <div class="line"></div>
                                <div class="icons-block">
                                    <div class="color">
                                        <div class="black-color"></div>
                                        <p>#222222</p>
                                    </div>
                                    <div class="color">
                                        <div class="white-color"></div>
                                        <p>#ffffff</p>
                                    </div>
                                </div>
                            </div>
                        </u-animate>

                        <u-animate
                                name="fadeIn"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="info-item"
                        >
                            <p class="list-num">3</p>
                            <div class="info-title-wrap">
                                <p class="info-title">Selection of corporate fonts</p>
                                <div class="line"></div>
                                <div class="icons-block icons-font-block">
                                    <div class="font-block">
                                        <p class="alphaber-libre">Libre Baskerville</p>
                                        <div class="alphabet alphaber-libre">
                                            <p>a b c d e f g h i j k l m n o
                                                <br>
                                                p q r s t u v w x y z
                                            </p>
                                        </div>
                                    </div>
                                    <div class="font-block">
                                        <p class="alphabet-quicksand">Quicksand</p>
                                        <div class="alphabet alphabet-quicksand">
                                            <p>a b c d e f g h i j k l m n o
                                                <br>
                                                p q r s t u v w x y z
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </u-animate>

                        <u-animate
                                name="fadeIn"
                                delay="0.7s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="info-item"
                        >
                            <p class="list-num">4</p>
                            <div class="info-title-wrap">
                                <p class="info-title">Page development</p>
                                <div class="line"></div>
                                <div class="icons-block icons-block_list">
                                    <ul>
                                        <li>Main page</li>
                                        <li>Article</li>
                                    </ul>
                                    <ul>
                                        <li>Category</li>
                                        <li>Searching result</li>
                                    </ul>
                                </div>
                            </div>
                        </u-animate>

                    </div>
                </div>
            </div>

            <u-animate
                    name="fadeInRight"
                    delay="1s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="img-block"
            >
                <img src="~@/assets/images/cosmopolis/first-screen1.png" alt="">
            </u-animate>

        </section>

        <section class="main-page">
            <div class="title">
                <u-animate
                        name="bounceInDown"
                        delay="1.2s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="img-block"
                >
                    <h2>Main<br><span>page</span></h2>
                </u-animate>

                <u-animate
                        name="rotateIn"
                        delay="1.2s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="black-square"
                >
                </u-animate>
            </div>
            <div class="line"></div>
            <div class="img-block">
                <u-animate
                        name="zoomIn"
                        delay="1.2s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <img src="~@/assets/images/cosmopolis/main-page-bg.png" alt="">
                </u-animate>
            </div>
        </section>
        <section class="main-color">
            <div class="custom_container">
                <div class="color-title">
                    <u-animate
                            name="bounceInDown"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <h2>Color</h2>
                        <div class="line"></div>
                    </u-animate>

                    <u-animate
                            name="rotateIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="black-square"
                    >
                    </u-animate>
                </div>
                <div class="color-block">
                    <div>
                        <div class="color-item">
                            <u-animate
                                    name="zoomIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/cosmopolis/main-color-black.png" alt="">
                            </u-animate>
                        </div>
                        <p>#222222</p>
                    </div>
                    <div class="divider"></div>
                    <div>
                        <div class="color-item">
                            <u-animate
                                    name="zoomIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/cosmopolis/main-color-white.png" alt="">
                            </u-animate>
                        </div>
                        <p>#FFFFFF</p>
                    </div>
                </div>
                <div class="additional-colors">
                    <u-animate
                            name="rotateIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="black-square"
                    >
                    </u-animate>
                    <p class="additional-title">and additional colors</p>
                    <div>
                        <u-animate
                                name="fadeInUp"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="additional-item"
                        >
                            <div class="additional-line blue"></div>
                            <p>#517dd2</p>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="additional-item"
                        >
                            <div class="additional-line yellow"></div>
                            <p>#f8ea00</p>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="additional-item"
                        >
                            <div class="additional-line green"></div>
                            <p>#76d600</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0.8s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="additional-item"
                        >
                            <div class="additional-line red"></div>
                            <p>#f95e6c</p>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="1s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="additional-item"
                        >
                            <div class="additional-line violet"></div>
                            <p>#8300fa</p>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="1.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="additional-item"
                        >
                            <div class="additional-line lightblue"></div>
                            <p>#20def1</p>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="1.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="additional-item"
                        >
                            <div class="additional-line orange"></div>
                            <p>#f7a700</p>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="typography">
            <div class="custom_container">
                <u-animate
                        name="bounceInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <h2>Typography</h2>
                </u-animate>
                <div class="line"></div>
                <div class="typography-block">
                    <div class="alphabet alphabet-libre">
                        <p class="alphabet-title">Libre Baskerville</p>
                        <p>a b c d e f g h i j k l m n o
                            <br>
                            p q r s t u v w x y z
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="alphabet alphabet-quicksand">
                        <p class="alphabet-title">Quicksand</p>
                        <p>a b c d e f g h i j k l m n o
                            <br>
                            p q r s t u v w x y z
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="category">
            <div class="category_container">
                <div class="title">
                    <u-animate
                            name="bounceInDown"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <h2>Category<br><span>page</span></h2>
                        <div class="line"></div>
                    </u-animate>
                    <u-animate
                            name="rotateIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="black-square"
                    ></u-animate>
                </div>
                <div class="line"></div>
                <div class="img-block">
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img src="~@/assets/images/cosmopolis/categorypage.png" alt="">
                    </u-animate>
                </div>
            </div>
            <div class="each-category">
                <div class="custom_container">
                    <div class="each-category-title-block">
                        <p class="each-category-title">Each category has its own <span>color</span></p>
                        <u-animate
                                name="rotateIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="black-square"
                        >
                        </u-animate>
                    </div>
                </div>
                <div class="each-category-img-block">
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img src="~@/assets/images/cosmopolis/category-menu.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="article-page">
            <div class="custom_container">
                <div class="title">

                    <u-animate
                            name="rotateIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="black-squares"
                    >
                        <img src="~@/assets/images/cosmopolis/two-squares.png" alt="">
                    </u-animate>

                    <u-animate
                            name="bounceInDown"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="article-title-block"
                    >
                        <h2 >Article<br><span>page</span></h2>
                        <div class="line"></div>
                    </u-animate>
                </div>
                <div class="img-block">
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img src="~@/assets/images/cosmopolis/articlepage.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="functional">
            <div class="custom_container">
                <u-animate
                        name="bounceInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <h2>Functional</h2>
                </u-animate>
                <div class="line"></div>
                <div class="functional-block">
                    <u-animate
                            name="fadeInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="functional-item"
                    >
                        <p>cms<br><span>Wordpress</span></p>
                        <img src="~@/assets/images/cosmopolis/wp-logo.png" alt="">
                    </u-animate>

                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="functional-item"
                    >
                        <p>framework<br><span>Bootstrap 4</span></p>
                        <img src="~@/assets/images/cosmopolis/b-logo.png" alt="">
                    </u-animate>
                </div>
                <div class="info-block">
                    <div class="info-item">
                        <ul>
                            <li>3 unique language versions</li>
                            <li>More than 40 unique categories</li>
                        </ul>
                    </div>
                    <div class="info-item">
                        <u-animate
                                name="rotateIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="functional-item"
                        >
                            <img src="~@/assets/images/cosmopolis/two-squares(2).png" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="thanks">
            <h2>Thanks<br><span>for watching!</span></h2>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @font-face {
        font-family: 'Libre-Regular';
        src: url("~@/assets/fonts/libre/LibreBaskerville-Regular.eot");
        src: url("~@/assets/fonts/libre/LibreBaskerville-Regular.eot") format("embedded-opentype"),
        url("~@/assets/fonts/libre/LibreBaskerville-Regular.woff") format("woff"),
        url("~@/assets/fonts/libre/LibreBaskerville-Regular.woff2") format("woff2"),
        url("~@/assets/fonts/libre/LibreBaskerville-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: 'Libre-Bold';
        src: url("~@/assets/fonts/libre/LibreBaskerville-Bold.eot");
        src: url("~@/assets/fonts/libre/LibreBaskerville-Bold.eot") format("embedded-opentype"),
        url("~@/assets/fonts/libre/LibreBaskerville-Bold.woff") format("woff"),
        url("~@/assets/fonts/libre/LibreBaskerville-Bold.woff2") format("woff2"),
        url("~@/assets/fonts/libre/LibreBaskerville-Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: 'Quicksand-Regular';
        src: url("~@/assets/fonts/quicksand/Quicksand-Regular.eot");
        src: url("~@/assets/fonts/quicksand/Quicksand-Regular.eot") format("embedded-opentype"),
        url("~@/assets/fonts/quicksand/Quicksand-Regular.woff") format("woff"),
        url("~@/assets/fonts/quicksand/Quicksand-Regular.woff2") format("woff2"),
        url("~@/assets/fonts/quicksand/Quicksand-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: 'Quicksand-Bold';
        src: url("~@/assets/fonts/quicksand/Quicksand-Bold.eot");
        src: url("~@/assets/fonts/quicksand/Quicksand-Bold.eot") format("embedded-opentype"),
        url("~@/assets/fonts/quicksand/Quicksand-Bold.woff") format("woff"),
        url("~@/assets/fonts/quicksand/Quicksand-Bold.woff2") format("woff2"),
        url("~@/assets/fonts/quicksand/Quicksand-Bold.ttf") format("truetype");
    }

    img {
        width: 100%;
    }
    p, h2, h3, ul{
        margin: 0;
    }
    ul li{
        list-style: none;
    }
    .custom_container {
        width: 80%;
        margin: 0 auto;
    }
    .line {
        background-color: #272727;
        margin-top: 15px;
        margin-bottom: 50px;
        width: 160px;
        height: 1px;
    }
    .first-screen {
        background-color: #e0e2e7;
        display: flex;
        align-items: center;
    }
    .info-wrap {
        width: 50%;
    }
    .list-wrap .flexend {
        display: inline-block;
        padding-right: 100px;
    }
    .first-screen .img-block  {
        width: 50%;
    }
    .logo-block {
        background-color: #222222;
        width: 846px;
        height: 77px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 96px;
        margin-top: 65px;
        position: relative;
    }
    .logo-block p {
        color: #fff;
        font-size: 45px;
        font-family: 'Libre-Bold', sans-serif;
        text-transform: uppercase;
        text-align: right;
    }
    .icons-block {
        display: flex;
        align-items: center;
    }
    .icons-block svg:not(:last-child) {
        margin-right: 30px;
    }
    .laptop {
        width: auto;
        height: 32px;
    }
    .smartphone {
        width: auto;
        height: 32px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .tablet {
        width: auto;
        height: 32px;
    }
    .info-item {
        display: flex;
    }
    .info-item:not(:last-child) {
        margin-bottom: 35px;
    }
    .first-screen .line {
        width: 33px;
        height: 1px;
        margin-bottom: 20px;
    }
    .info-title {
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Libre-Regular', sans-serif;
        font-weight: 700;
        margin: 0;
    }
    .list-num {
        font-family: 'Libre-Regular', sans-serif;
        font-size: 36px;
        font-weight: 700;
        margin-right: 20px;
    }

    .info-title-block {
        display: flex;
    }
    .color {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }
    .color div {
        width: 30px;
        height: 30px;
        margin-right: 6px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
    }
    .color p {
        text-transform: uppercase;
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 14px;
    }
    .black-color {
        background-color: #222222;
    }
    .white-color {
        background-color: #ffffff;
    }
    .alphabet {
        font-size: 14px;
    }
    .alphaber-libre {
        font-family: 'Libre-Regular', sans-serif;
    }
    .alphabet-quicksand {
        font-family: 'Quicksand-Regular', sans-serif;
    }
    .font-block {
        width: 230px;
    }
    .font-block p {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .icons-block_list {
        display: flex;
        margin-left: 16px;
    }
    .icons-block_list ul {
        list-style: inherit;
        width: 114px;
    }
    .icons-block_list ul li {
        font-family: 'Quicksand-Regular';
        font-size: 14px;
    }
    .list-wrap {
        padding: 50px 0 70px;
        display: flex;
        justify-content: flex-end;
    }
    .flexend {
        position: relative;
    }
    .flexend:before {
        content: '';
        position: absolute;
        display: block;
        left: -120px;
        bottom: -220px;
        width: 100%;
        height: 100%;
        background: url('~@/assets/images/cosmopolis/Blog.png') no-repeat;
    }
    h2 {
        text-transform: uppercase;
        font-family: 'Libre-Bold';
        font-size: 64px;
    }
    h2 span {
        font-size: 36px;
    }
    .main-page {
        padding-left: 18.8vw;
        margin-top: -14px;
        position: relative;
    }
    .main-page:before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 85vw;
        height: 318px;
        background-color: #e0e2e7;
        z-index: -1;
    }

    .black-square {
        width: 50px;
        height: 50px;
        background-color: #222;
    }
    .main-page .title {
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .main-page .img-block {
        position: relative;
        display: inline-block;
    }
    .main-page .img-block:before{
        content: '';
        position: absolute;
        display: block;
        left: 62vw;
        top: 69px;
        background: #222;
        width: 146px;
        height: 146px;
    }
    .main-page .img-block:after {
        content: '';
        position: absolute;
        display: block;
        right: -104px;
        top: 300px;
        background: url('~@/assets/images/cosmopolis/main-page-grey.png') no-repeat;
        width: 92px;
        height: 804px;
    }
    .main-page .img-block img {
        width: 54vw;
        -webkit-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.1);
    }
    .main-color {
        position: relative;
        padding-top: 90px;
    }
    .main-color:before {
        content: '';
        position: absolute;
        display: block;
        top: -536px;
        left: 18.8vw;
        z-index: -1;
        background-color: #e0e2e7;
        width: 88.5vw;
        height: 1205px;
    }
    .main-color .line {
        margin: 20px auto;
    }
    .color-title {
        position: relative;
    }
    .color-title div {
        margin: 0 auto;
        text-align: center;
    }
    .main-color .black-square {
        position: absolute;
        right: 17.7vw;
    }
    .main-page:after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        z-index: -1;
        background-color: #e0e2e7;
        width: 33vw;
        height: 57.6vh;
        bottom: -110px;
    }
    .divider {
        width: 1px;
        height: 182px;
        background-color: #c3c3c3;
        margin: 0 65px;
    }
    .color-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .color-block div {
        display: flex;
        flex-direction: column;
    }
    .color-block p {
        font-family: 'Quicksand-Bold';
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }
    .additional-colors {
        margin-top: 80px;
        margin-bottom: 60px;
        position: relative;
    }
    .additional-colors .black-square {
        position: absolute;
        left: 7.5vw;
        top: -90px;
    }
    .additional-colors p {
        font-size: 24px;
        font-family: 'Libre-Bold', sans-serif;
        text-align: center;
        margin-bottom: 45px;
    }
    .additional-colors div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .additional-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5px;
    }
    .additional-item p {
        font-size: 18px;
        font-family: 'Quicksand-Regular', sans-serif;
        text-transform: uppercase;
    }
    .additional-line {
        width: 125px;
        height: 3px;
    }
    .blue {
        background-color: #517dd2;
    }
    .yellow {
        background-color: #f8ea00;
    }
    .green {
        background-color: #76d600;
    }
    .red {
        background-color: #f95e6c;
    }
    .violet {
        background-color: #8300fa;
    }
    .lightblue {
        background-color: #20def1;
    }
    .orange {
        background-color: #f7a700;
    }
    .typography {
        margin-top: 120px;
    }
    .typography .line {
        margin: 20px auto;
    }
    .typography h2 {
        text-align: center;
    }
    .typography-block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 70px auto 100px;
    }
    .typography-block .alphabet-title {
        margin-bottom: 30px;
        font-size: 18px;
    }
    .typography-block .alphabet {
        text-align: center;
    }
    .typography-block .alphabet-quicksand .alphabet-title {
        font-family: 'Quicksand-Bold', sans-serif;
    }
    .typography-block .alphabet-libre .alphabet-title {
        font-family: 'Libre-Bold', sans-serif;
    }
    .category {
        position: relative;
    }
    .category .line {
        margin: 20px 0;
    }
    .category_container {
        padding-left: 18.8vw;
    }
    .category:before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 1531px;
        height: 1106px;
        background-color: #e0e2e7;
        z-index: -1;
    }
    .category:after {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        bottom: -430px;
        width: 55vw;
        height: 1367px;
        background-color: #e0e2e7;
        z-index: -1;
    }

    .category .title {
        position: relative;
        width: 900px;
        padding-top: 70px;
    }
    .category .black-square {
        position: absolute;
        top: -26px;
        right: 0;
    }
    .category_container .title div .line {
        display: none;
    }
    .category .img-block img {
        width: 1043px;
    }
    .category .img-block {
        display: inline-block;
        position: relative;
    }
    .category .img-block:before {
        content: '';
        position: absolute;
        display: block;
        bottom: 181px;
        right: -85px;
        background: url('~@/assets/images/cosmopolis/categorypage-grey.png') no-repeat;
        height: 1183px;
        width: 92px;
    }
    .each-category {
        margin-top: 120px;
        text-align: center;
    }
    .each-category-title {
        position: relative;
        display: inline-block;
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 36px;
    }
    .each-category-title span {
        font-family: 'Quicksand-Bold', sans-serif;
    }
    .each-category .custom_container .each-category-title-block {
        position: relative;
        margin-bottom: 50px;
    }
    .each-category .black-square {
        position: absolute;
        right: 16vw;
        top: -90px;
    }
    .each-category-img-block img {
        width: 78vw;
        margin-left: auto;
        display: block;
    }
    .article-page {
        padding-top: 120px;
    }
    .article-page .title {
        display: flex;
        width: 55%;
        margin: 0 auto;
        justify-content: space-between;
    }
    .article-page .img-block img {
        width: 100%;
        margin: 0 auto;
    }
    .article-page .img-block {
        position: relative;
        text-align: center;
    }
    .article-page .img-block:before {
        content: '';
        position: absolute;
        left: -70px;
        bottom: 242px;
        background: url('~@/assets/images/cosmopolis/articlepage-grey.png') no-repeat;
        width: 92px;
        height: 1039px;
    }
    .functional h2 {
        text-align: center;
    }
    .functional {
        padding-top: 120px;
        position: relative;
    }
    .functional:before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: -226px;
        background-color: #e0e2e7;
        width: 50.4vw;
        height: 943px;
        z-index: -1;
    }
    .functional .line {
        margin: 20px auto;
    }
    .functional-block {
        display: flex;
        justify-content: center;
        margin-top: 120px;
        margin-bottom: 70px;
    }
    .functional-item {
        margin: 0px 112px;
    }
    .functional-item img {
        width: 38px;
        height: 38px;
    }
    .functional-item p {
        font-size: 14px;
        font-family: 'Quicksand-Regular', sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .functional p span {
        font-size: 24px;
        font-family: 'Libre-Bold', sans-serif;
        text-transform: initial;
    }
    .functional .info-block {
        display: flex;
        justify-content: center;
    }
    .functional .info-block ul {
        list-style: inherit;
        margin-right: 80px;
    }
    .functional .info-block ul li {
        font-family: 'Quicksand-Regular', sans-serif;
        font-size: 18px;
    }
    .functional .info-item:last-child {
        position: relative;
        left: 165px;
    }
    .thanks {
        text-align: center;
        margin-top: 202px;
        margin-bottom: 50px;
    }
    .thanks h2 {
        font-size: 100px;
        display: inline-block;
    }
    .thanks h2 span {
        font-family: 'Quicksand-Regular', sans-serif;
        text-transform: initial;
        font-size: 64px;
        margin-left: 50px;
        padding-left: 100px;
    }

    @media screen and (max-width: 1835px) {
        .category:after {
            height: 1263px;
        }
        .each-category .black-square {
            right: 9vw;
        }
    }
    @media screen and (max-width: 1610px) {
        .additional-line {
            width: 80px;
        }
        .additional-item p {
            font-size: 14px;
        }

    }

    @media screen and (max-width: 1480px) {
        .info-title {
            font-size: 14px;
        }
        .first-screen .line {
            margin: 10px 0;
        }
        .list-num {
            font-size: 24px;
        }
        .flexend:before {
            -webkit-background-size: 30% auto;
            background-size: 30% auto;
            width: 160px;
            bottom: -295px;
            left: -85px;
        }
        .font-block p {
            font-size: 13px;
        }
        .color p {
            font-size: 12px;
        }
        h2 {
            font-size: 42px;
        }
        h2 span {
            font-size: 30px;
        }
        .main-page .img-block img,
        .category .img-block img {
            width: 860px;
        }
        .main-page .img-block:before {
            width: 120px;
            height: 120px;
            left: 75vw;
            top: 35px;
        }
        .main-page .img-block:after,
        .category .img-block:before,
        .article-page .img-block:before {
            -webkit-background-size: 50% auto;
            background-size: 50% auto;
        }
        .article-page .img-block:before {
            left: -24px;
        }
        .main-page {
            padding-left: 5.8vw;
        }
        .main-page:before {
            height: 240px;
        }
        .first-screen .img-block {
            width: 40%;
        }
        .info-wrap {
            width: 60%;
        }
        .line {
            width: 120px;
        }
        .main-color:before {
            left: 0;
            width: 100%;
        }
        .additional-line {
            max-width: 100px;
        }
        .main-color .black-square {
            right: 7.5vw;
        }
        .category_container {
            width: 80%;
            margin: 0 auto;
            padding-left: 0;
        }
        .category .img-block {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        .category .img-block:before {
            right: 0;
        }
        .category:before {
            height: 600px;
        }
        .category_container {
            width: 100%;
        }
        .category .title {
            margin: 0 auto;
        }
        .category_container .line {
            display: none;
        }
        .category_container .title div .line {
            display: block;
        }
        .functional-block {
            margin-top: 80px;
        }
        .functional:before {
            height: 840px;
        }
        .functional {
            padding-top: 100px;
        }
    }
    @media screen and (max-width: 1199px) {
        .main-page .img-block:before {
            width: 90px;
            height: 90px;
            top: 45px;
        }
        .main-page .img-block img {
            width: 740px;
        }
        .list-wrap .flexend {
            padding-right: 0;
        }
        .each-category .black-square {
            right: 0;
        }
        .article-page .img-block:before {
            left: -35px;
        }
        .info-block .info-item img {
            width: 60px;
            height: 60px;
        }
        .thanks h2 {
            font-size: 60px;
        }
        .thanks h2 span {
            font-size: 34px;
        }
        .thanks {
            margin-top: 170px;
        }
    }
    @media screen and (max-width: 1060px) {
        .main-page .img-block:before {
            display: none;
        }
    }
    @media screen and (max-width: 1005px) {
        .category .img-block:before {
            right: -25px;
        }
    }
    @media screen and (max-width: 991px) {
        .first-screen {
            flex-direction: column;
            padding-bottom: 50px;
        }
        .first-screen .img-block {
            width: 100%;
        }
        .info-wrap {
            width: 100%;
        }
        .list-wrap {
            justify-content: center;
        }
        .main-page:before {
            display: none;
        }
        .main-page {
            padding-left: 0;
            margin: 55px auto 0;
            width: 80%;
        }
        .main-page .img-block img,
        .category .img-block img {
            width: 100%;
        }
        .main-page .img-block {
            width: 100%;
        }
        .additional-colors .black-square {
            display: none;
        }
        .main-color .black-square {
            top: 0;
        }
        .category_container{
            width: 80%;
            margin: 0 auto;
        }
        .category .img-block:before {
            right: -80px;
        }
        .category .title {
            width: 500px;
        }
        .each-category-img-block img {
            width: 95vw;
        }
        .each-category .black-square {
            width: 30px;
            height: 30px;
        }
        .each-category .custom_container {
            margin: 0;
        }
        .each-category .black-square {
            top: -40px;
        }
        .each-category-title {
            font-size: 32px;
        }
        .black-squares img {
            width: 60%;
        }
        .functional-item {
            margin: 0 55px;
        }
        .functional .info-block ul li {
            font-size: 15px;
        }
    }
    @media screen and (max-width: 880px) {
        .article-page .title {
            width: 80%;
        }
    }
    @media screen and (max-width: 850px) {
        .category .img-block:before {
            bottom: -300px;
        }
        .category:after {
            height: 1040px;
        }
        .functional .info-block .info-item:last-child {
            display: none;
        }
        .functional .info-block ul {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 767px) {
        .flexend:before {
            display: none;
        }
        .logo-block {
            width: 500px;
            padding-right: 40px;
            margin-top: 0;
        }
        .logo-block p {
            font-size: 30px;
        }
        .main-page:after {
            display: none;
        }
        .main-page .img-block {
            width: 100%;
        }
        .color-block p {
            font-size: 15px;
        }
        .divider {
            height: 155px;
        }
        .color-block {
            margin-top: 35px;
        }
        .additional-colors div {
            flex-wrap: wrap;
        }
        .additional-item {
            flex-basis: 20%;
        }
        .black-square {
            width: 35px;
            height: 35px;
        }
        .main-page .title {
            align-items: baseline;
            width: 400px;
        }
        .category .black-square {
            top: -17px;
        }
        .category .title {
            width: 400px;
        }
        .each-category {
            margin-top: 80px;
        }
        .category .black-square {
            display: none;
        }
        .article-page .img-block:before {
            bottom: 0;
        }
    }
    @media screen and (max-width: 700px) {
        .main-color:before {
            height: 800px;
            top: -125px;
        }
        .main-page .img-block:after {
            right: -98px;
        }
        .category:before {
            height: 440px;
        }
        .each-category-title {
            font-size: 28px;
        }
        .each-category .custom_container {
            width: 100%;
        }
        .category:after {
            height: 903px;
        }
        .article-page .title {
            width: 100%;
        }
    }
    @media screen and (max-width: 650px) {
        .functional-block {
            flex-direction: column;
            align-items: center;
        }
        .functional-item {
            margin: 15px 0;
            text-align: center;
        }
        .functional {
            padding-top: 60px;
        }
        .functional:before {
            height: 910px;
        }
        .thanks {
            margin-top: 120px;
        }
        .thanks h2 {
            font-size: 40px;
        }
        .thanks h2 span {
            font-size: 25px;
            padding-left: 80px;
        }
    }
    @media screen and (max-width: 610px) {
        .divider {
            margin: 0 25px;
        }
        .main-page .img-block:after,
        .category .img-block:before,
        .article-page .img-block:before {
            background-size: 30% auto;
        }
        .category .img-block:before {
            right: -87px;
        }
        .article-page .img-block:before {
            height: 610px;
            left: -23px;
        }
    }
    @media screen and (max-width: 545px) {
        .category:before {
            height: 325px;
        }
    }
    @media screen and (max-width: 510px) {
        .logo-block {
            width: 100%;
            height: 56px;
        }
        .logo-block p {
            font-size: 20px;
        }
        .list-num {
            font-size: 20px;
        }
        .icons-font-block {
            flex-direction: column;
            align-items: flex-start;
        }
        .list-wrap {
            padding-left: 10px;
            padding-right: 10px;
        }
        .black-square {
            width: 15px;
            height: 15px;
        }
        h2 {
            font-size: 30px;
        }
        h2 span {
            font-size: 20px;
        }
        .line {
            width: 70px;
        }
        .main-page .title {
            width: 170px;
        }
        .divider {
            margin: 0 35px;
        }
        .additional-item {
            flex-basis: 100%;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3px;
        }
        .additional-colors p {
            margin-bottom: 0;
        }
        .additional-title {
            margin-bottom: 25px !important;
        }
        .additional-line {
            margin-right: 10px;
        }
        .additional-item p {
            font-size: 13px;
        }
        .typography {
            margin-top: 140px;
        }
        .typography-block {
            flex-direction: column;
        }
        .typography .divider {
            width: 155px;
            height: 1px;
            margin: 25px 0;
        }
        .additional-colors {
            margin-top: 56px;
        }
        .category .img-block:before {
            bottom: -600px;
        }
        .category .black-square {
            top: 64px;
        }
        .category .title {
            width: 230px;
        }
        .main-page .img-block:after {
            right: -96px;
        }
        .each-category .custom_container .each-category-title-block {
            width: 90%;
            margin: 0 auto 40px;
        }
        .article-page {
            padding-top: 80px;
        }
        .black-squares img {
            width: 40%;
        }
        .functional-block {
            margin-top: 37px;
        }
        .functional:before {
            height: 860px;
        }
    }
    @media screen and (max-width: 400px) {
        .main-color:before {
            height: 713px;
            top: -61px;
        }
        .each-category-title {
            font-size: 21px;
        }
        .each-category{
            margin-top: 40px;
        }
        .category:after {
            height: 733px;
        }
    }
    @media screen and (max-width: 360px) {
        .category .img-block:before {
            bottom: 97px;
            height: 360px;
        }
        .article-title-block {
            position: relative;
            right: -26px;
        }
        .article-page .img-block:before {
            bottom: -65px;
        }
    }
    @media screen and (max-width: 350px) {
        .info-title {
            font-size: 13px;
        }
        .icons-block_list ul li {
            font-size: 12px;
        }
        .color-item img {
            width: 65%;
        }
        .color-block div {
            align-items: center;
        }
        .color-block p {
            font-size: 13px;
        }
        .main-page .img-block:after {
            top: 40px;
        }
    }
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
            padding-top: 50px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
            padding-top: 50px;
        }
    }
</style>