<template>
    <u-animate-container
            :config="config">
        <main>
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-портала DoggyDog Club"
                description="Разработка интернет-портала о собаках DoggyDog Club. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="first-screen">
            <div class="info-wrap">
                <div class="logo-grid">
                    <div class="logo-block">
                        <u-animate
                                name="rubberBand"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img src="~@/assets/images/doggydog-club/logo.png" alt="">
                        </u-animate>
                    </div>
                </div>
                <u-animate
                        name="bounceInDown"
                        delay="0.4s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="info-block"
                >
                    <h1 class="info-block-title">Разработка сайта домашних животных</h1>
                    <div class="icons-block">
                        <img src="~@/assets/images/doggydog-club/laptop.svg" alt="">
                        <img src="~@/assets/images/doggydog-club/smarphone.svg" alt="">
                        <img src="~@/assets/images/doggydog-club/tablet.svg" alt="">
                    </div>
                    <u-animate
                            name="bounceInDown"
                            delay="0.7s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="color-info-block"
                    >
                        <p class="info-block-title">Подбор фирменных цветов</p>
                        <div class="colors-wrap">
                            <div class="item">
                                <div class="circle yellow"></div>
                                <p>#f2cc66</p>
                            </div>
                            <div class="item">
                                <div class="circle  blue"></div>
                                <p>#a0d6d9</p>
                            </div>
                            <div class="item">
                                <div class="circle  green"></div>
                                <p>#adce78</p>
                            </div>
                            <div class="item">
                                <div class="circle  red"></div>
                                <p>#de4c68</p>
                            </div>
                        </div>
                    </u-animate>
                </u-animate>
                <u-animate
                        name="bounceInDown"
                        delay="1s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="font-info-block"
                >
                    <p class="info-block-title">Подбор фирменных шрифтов</p>
                    <p class="alphabet-title">GEOMETRIA</p>
                    <p class="alphabet-text">a б в г д е ё ж з и й к л м н о
                        <br>
                        п р с т у ф х ц ч ш щ ъ ы ь э ю я
                    </p>
                </u-animate>
            </div>
        </section>
        <section class="homepage">
            <div class="laptop-block">
                <img src="~@/assets/images/doggydog-club/laptop.png" alt="">
            </div>
            <u-animate
                name="zoomIn"
                delay="0s"
                duration="1s"
                :iteration="1"
                :offset="0"
                animateClass="animated"
                :begin="false"
                class="homepage-first"
            >
                <img  src="~@/assets/images/doggydog-club/homepage.png" alt="">
            </u-animate>
        </section>
        <section class="animation-section">
            <div class="custom_container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                <h2 class="section_title">АНИМАЦИЯ</h2>
                </u-animate>
                <div class="section_subtitle">
                    <div class="divider"></div>
                    <p>
                        С помощью анимации, портал получился живым.
                        Все функциональные элементы реализованы так, чтобы обратить внимание
                        пользователя для дальнейшего взаимодействия с ними
                    </p>
                </div>
                <div class="animation-video">
                    <video id="video_1" autoplay="autoplay" loop="loop">
                        <source src="~@/assets/images/doggydog-club/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    </video>
                </div>
            </div>
        </section>
        <section class="color-palette">
            <div class="custom_container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <h2 class="section_title">Цветовая палитра</h2>
                </u-animate>
                <p class="section_subtext">Основные цвета</p>
                <div class="color-palette-block">
                    <div class="color-palette-img-block">
                        <img src="~@/assets/images/doggydog-club/colorpalette-1.png" alt="">
                    </div>
                    <div class="pow-wrap">
                        <u-animate
                                name="bounceIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="item"
                        >
                            <div class="img-block">
                                <img src="~@/assets/images/doggydog-club/y-pow.png" alt="">
                            </div>
                            <p>#f2cc66</p>
                        </u-animate>
                        <u-animate
                                name="bounceIn"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="item"
                        >
                            <div class="img-block">
                                <img src="~@/assets/images/doggydog-club/g-pow.png" alt="">
                            </div>
                            <p>#adce78</p>
                        </u-animate>
                        <u-animate
                                name="bounceIn"
                                delay="0.8s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="item"
                        >
                            <div class="img-block">
                                <img src="~@/assets/images/doggydog-club/b-pow.png" alt="">
                            </div>
                            <p>#a0d6d9</p>
                        </u-animate>
                        <u-animate
                                name="bounceIn"
                                delay="1s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="item"
                        >
                            <div class="img-block">
                                <img src="~@/assets/images/doggydog-club/r-pow.png" alt="">
                            </div>
                            <p>#de4c68</p>
                        </u-animate>
                    </div>
                </div>
                <p class="section_subtext section_subtext_after">Дополнительные цвета</p>
                <div class="additional-color-wrap">
                    <div class="item">
                        <div class="circle ad-green"></div>
                        <p>#6bdf96</p>
                    </div>
                    <div class="item">
                        <div class="circle ad-rose"></div>
                        <p>#f177bc</p>
                    </div>
                    <div class="item">
                        <div class="circle ad-blue"></div>
                        <p>#84d7da</p>
                    </div>
                    <div class="item">
                        <div class="circle ad-violet"></div>
                        <p>#bf7efc</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="lettering">
            <div class="custom_container">
                <u-animate
                        name="bounceInDown"
                        delay="0.3s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="item"
                >
                    <h2 class="section_title">Шрифтовое решение</h2>
                </u-animate>
                <div class="lettering-block">
                    <p class="heavy-g">G</p>
                    <div class="alphabet-block">
                        <p class="alphabet-title">GEOMETRIA</p>
                        <p class="alphabet-text">a б в г д е ё ж з и й к л м н о
                            <br>
                            п р с т у ф х ц ч ш щ ъ ы ь э ю я
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="breed-page">
            <div class="custom_container">
                <u-animate
                        name="zoomInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <h2 class="section_title">Страница<br>подбора породы</h2>
                </u-animate>
            </div>
            <div class="breed-filter-page">
                <div class="breed-info">
                    <div class="pow-before">
                        <u-animate
                                name="zoomIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img src="~@/assets/images/doggydog-club/breed-filter.png" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="breed-single-page">
            <div class="custom_container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <h2 class="section_title">Страница породы</h2>
                </u-animate>
            </div>
            <div class="pages-wrap">
                <u-animate
                        name="zoomIn"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="page_1"
                >
                    <img src="~@/assets/images/doggydog-club/single-breed-page.png" alt="">
                </u-animate>
                <u-animate
                        name="zoomIn"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="page_2 img_shadow"
                >
                    <img src="~@/assets/images/doggydog-club/single-breed-page2.png" alt="">
                </u-animate>
                <u-animate
                        name="zoomIn"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="page_3 img_shadow"
                >
                    <img src="~@/assets/images/doggydog-club/single-breed-page3.png" alt="">
                </u-animate>
            </div>
        </section>
        <section class="webinars">
            <div class="custom_container">
                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <h2 class="section_title">Вебинары</h2>
                </u-animate>
                <div class="pages-wrap">
                    <div class="block_1">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="category-block"
                        >
                            <p class="category-title">Категории</p>
                            <ul class="category-list">
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/puppies.svg"  alt="">
                                    <p>Всё о щенках</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/kinology.svg"  alt="">
                                    <p>Кинология</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/veteran.svg"  alt="">
                                    <p>Ветеринария</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/razvedenie.svg"  alt="">
                                    <p>Разведение</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/goods.svg"  alt="">
                                    <p>Сопутствующие товары</p>
                                </li>
                            </ul>
                        </u-animate>
                        <u-animate
                                name="zoomIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="page_1 img_shadow"
                        >
                            <img src="~@/assets/images/doggydog-club/webinarpage1.png" alt="">
                        </u-animate>
                    </div>
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="page_2 img_shadow"
                    >
                        <img src="~@/assets/images/doggydog-club/webinarpage2.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class=" knowledge-base">
            <div class="custom_container">
                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="page_2 img_shadow"
                >
                    <h2 class="section_title">База знаний</h2>
                </u-animate>
                <div class="pages-wrap">
                    <div class="block_1">
                        <u-animate
                                name="slideInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="category-block"
                        >
                            <p class="category-title">Категории</p>
                            <ul class="category-list">
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/az.svg"  alt="">
                                    <p>Щенок от А до Я</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/food.svg"  alt="">
                                    <p>Уход, содержание и питание</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/dress.svg"  alt=""> <p>Воспитание и дрессировка</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/veteran.svg"  alt="">
                                    <p>Ветеринария</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/dogtypes.svg"  alt="">
                                    <p>Породы собак</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/pitomnik.svg"  alt="">
                                    <p>Для заводчиков<br>и питомников</p>
                                </li>
                                <li class="category-divider"></li>
                                <li class="category-item">
                                    <img src="~@/assets/images/doggydog-club/goods.svg"  alt="">
                                    <p>Сопутствующие товары</p>
                                </li>
                            </ul>
                        </u-animate>
                        <u-animate
                                name="zoomIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="page_1 img_shadow"
                        >
                            <img src="~@/assets/images/doggydog-club/kbase-page1.png" alt="">
                        </u-animate>
                    </div>
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="page_2 img_shadow"
                    >
                        <img src="~@/assets/images/doggydog-club/kbase-page2.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="user-profile">
            <div class="custom_container">
                <u-animate
                        name="bounceInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <h2 class="section_title">Страница профиля<br>пользователя</h2>
                </u-animate>
                <div class="pages-wrap">
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="page"
                    >
                        <img src="~@/assets/images/doggydog-club/userpage1.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="page"
                    >
                        <img src="~@/assets/images/doggydog-club/userpage2.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="page"
                    >
                        <img src="~@/assets/images/doggydog-club/userpage3.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="page"
                    >
                        <img src="~@/assets/images/doggydog-club/userpage4.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="page"
                    >
                        <img src="~@/assets/images/doggydog-club/userpage5.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="page"
                    >
                        <img src="~@/assets/images/doggydog-club/userpage6.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="page"
                    >
                        <img src="~@/assets/images/doggydog-club/userpage7.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="compare-page">
            <div class="custom_container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <h2 class="section_title">Страница сравнения</h2>
                </u-animate>
                <div class="page-wrap img_shadow">
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img src="~@/assets/images/doggydog-club/comparepage.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="thanks">
            <div class="custom_container">
                <div class="thanks-block">
                    <u-animate
                            name="tada"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <p>Спасибо<br><span>за просмотр</span></p>
                    </u-animate>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @font-face {
        font-family: 'Geometria-Heavy';
        src: url("~@/assets/fonts/baybay/Geometria-Heavy.woff") format("woff"),
        url("~@/assets/fonts/baybay/Geometria-Heavy.ttf") format("truetype");
    }

    @font-face {
        font-family: "Geometria-Regular";
        src: url("~@/assets/fonts/baybay/Geometria-Regular.eot") format("embedded-opentype"),
        url("~@/assets/fonts/baybay/Geometria-Regular.woff") format("woff"),
        url("~@/assets/fonts/baybay/Geometria-Regular.ttf") format("truetype");
    }

    body {
        font-family: 'Geometria-Regular', sans-serif;
    }
    p, h2, h3{
        margin: 0;
    }
    ul li{
        list-style: none;
    }

    .custom_container  {
        width: 60%;
        margin: 0 auto;
    }
    .icons-block {
        display: flex;
        align-items: center;
    }
    .icons-block img:not(:last-child) {
        margin-right: 30px;
    }
    .icons-block img{
        height: 26px;
    }
    .laptop {
        width: auto;
        height: 32px;
    }
    .smartphone {
        width: auto;
        height: 32px;
    }
    .tablet {
        width: auto;
        height: 32px;
    }
    .first-screen {
        background: url('~@/assets/images/doggydog-club/fs-bg.png') no-repeat;
        background-size: 100% auto;
        width: 100vw;
    }
    .logo-block {
        display: inline-block;
        margin-right: 7vw;
        width: 6.35vw;
        height: 6.35vw;
    }
    .logo-block img {
        width: 100%;
    }
    .info-wrap {
        display: grid;
        grid-template-columns: 3fr 2fr ;
        grid-auto-rows: 18vw;
        padding-top: 1.2vw;
    }
    .font-info-block {
        justify-self: center;
    }
    .logo-grid {
        justify-self: flex-end;
    }
    .info-block-title {
        font-family: 'Geometria-Regular', sans-serif;
        font-size: 18px;
        text-align: center;
        margin-bottom: 1.56vw;
    }
    .icons-block {
        justify-content: center;
    }
    .info-block {
        justify-self: flex-start;
    }
    .color-info-block {
        margin-top: 1.56vw;
    }
    .circle {
        width: 26px;
        height: 26px;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        border-radius: 22px;
        box-shadow: 0px 0px 0px 3px #fff inset;
        margin-right: 6px;
    }
    .yellow {
        background-color: #f2cc66;
        border: 1px solid #f2cc66;
    }
    .green {
        background-color: #adce78;
        border: 1px solid #adce78;
    }
    .blue {
        background-color: #a0d6d9;
        border: 1px solid #a0d6d9;
    }
    .red {
        background-color: #de4c68;
        border: 1px solid #de4c68;
    }
    .colors-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .colors-wrap .item {
        display: flex;
        align-items: center;
        flex-basis: 50%;
        justify-content: center;
    }
    .colors-wrap .item p {
        font-size: 14px;
        text-transform: uppercase;
    }
    .colors-wrap .item:first-child,
    .colors-wrap .item:nth-child(2) {
        margin-bottom: 10px;
    }
    .alphabet-title {
        font-family: 'Geometria-Heavy', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0.50vw;;
    }
    .alphabet-text {
        font-size: 14px;
        text-align: center;
    }
    .homepage {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -9vw;
    }
    .laptop-block {
        display: inline-block;
        position: relative;
    }
    .laptop-block::before {
        content: '';
        position: absolute;
        display: block;
        left: -90px;
        bottom: 0;
        background: url('~@/assets/images/doggydog-club/pow1.png') no-repeat;
        width: 98px;
        height: 372px;
    }
    .laptop-block::after {
        content: '';
        position: absolute;
        display: block;
        right: -67px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url('~@/assets/images/doggydog-club/pow2.png') no-repeat;
        width: 121px;
        height: 192px;
    }
    .homepage-first {
        margin-top: -88px;
        position: relative;
        z-index: -1;
    }
    .homepage-first::before {
        content: '';
        position: absolute;
        display: block;
        left: -254px;
        top: 360px;
        background: url('~@/assets/images/doggydog-club/homepage-1.png') no-repeat;
        height: 787px;
        width: 483px;
    }
    .homepage-first::after {
        content: '';
        position: absolute;
        display: block;
        right: -231px;
        top: 69px;
        background: url('~@/assets/images/doggydog-club/homepage-2.png') no-repeat;
        height: 470px;
        width: 483px;
    }
    .section_title {
        font-family: 'Geometria-Heavy', sans-serif;
        font-size: 48px;
        text-transform: uppercase;
        color: #444;
    }
    .animation-section {
        margin-top: 68px;
        position: relative;
    }
    .animation-section::before {
        content: '';
        position: absolute;
        display: block;
        width: 960px;
        height: 692px;
        background-color: #ecf7f7;
        z-index: -3;
        right: 0;
        top: -350px;
    }
    .section_subtitle {
        padding-left: 66px;
        display: flex;
        align-items: center;
        margin: 40px 0;
    }
    .section_subtitle p {
        font-size: 14px;
        width: 50%;
    }
    .divider {
        background-color: #f2cc66;
        width: 2px;
        height: 72px;
        margin-right: 30px;
    }
    .video {
        width: 846px;
        height: 451px;
        position: relative;
    }
    .animation-video {
        position: relative;
        display: inline-block;
        margin-bottom: 150px;
        margin-top: 25px;
    }
    .animation-video::before {
        content: '';
        position: absolute;
        display: block;
        right: -390px;
        top: -198px;
        z-index: -1;
        background: url('~@/assets/images/doggydog-club/dog.png');
        width: 556px;
        height: 527px;
    }
    .animation-video::after {
        content: '';
        position: absolute;
        left: -12px;
        top: -15px;
        width: 870px;
        height: 476px;
        border-radius: 25px;
        background: url('~@/assets/images/doggydog-club/1.png');
        z-index: 2;
        -webkit-box-shadow: inset 0px 0px 0px 15px rgba(230,230,230,1);
        -moz-box-shadow: inset 0px 0px 0px 15px rgba(230,230,230,1);
        box-shadow: inset 0px 0px 0px 15px rgba(230,230,230,1);
    }
    .section_subtext {
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        margin: 30px 0 50px;
    }
    .color-palette .section_title,
    .lettering .section_title {
        text-align: center;
    }
    .color-palette .custom_container {
        width: 1200px;
    }
    .pow-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 15px;
    }
    .pow-wrap .item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .color-palette-img-block {
        text-align: center;
    }
    .pow-wrap .item p {
        margin-top: 20px;
    }
    .additional-color-wrap .item,
    .pow-wrap .item p {
        font-family: 'Geometria-Regular', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
    }
    .ad-green {
        background: #6bdf96;
        border: 1px solid #6bdf96;
    }
    .ad-rose {
        background: #f177bc;
        border: 1px solid #f177bc;
    }
    .ad-blue {
        background: #84d7da;
        border: 1px solid #84d7da;
    }
    .ad-violet {
        background: #bf7efc;
        border: 1px solid #bf7efc;
    }
    .additional-color-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        margin: 0 auto;
    }
    .additional-color-wrap .item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section_subtext_after {
        margin: 65px 0 30px;
    }
    .lettering {
        margin-top: 80px;
    }
    .lettering-block {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .lettering-block::before {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        background: url('~@/assets/images/doggydog-club/pow1.png') no-repeat;
        width: 98px;
        height: 372px;
    }
    .heavy-g {
        font-size: 180px;
        font-family: 'Geometria-Heavy', sans-serif;
        color: #f2cc66;
    }
    .lettering .alphabet-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .lettering .alphabet-block .alphabet-title {
        font-size: 36px;
        font-family: 'Geometria-Regular', sans-serif;
    }
    .lettering-block div {
        margin: 0 30px;
    }
    .breed-filter-page {
        width: 1200px;
        margin: 50px auto 0;
        text-align: right;
    }
    .breed-filter-page div {
        display: inline-block;
        position: relative;
    }
    .breed-filter-page .breed-info::before {
        content: '';
        position: absolute;
        display: block;
        background: url('~@/assets/images/doggydog-club/breedpage1.png') no-repeat;
        left: -18%;
        top: 25%;
        width: 292px;
        height: 236px;
        z-index: 2;
    }
    .breed-filter-page .breed-info::after {
        content: '';
        position: absolute;
        display: block;
        background: url('~@/assets/images/doggydog-club/breedpage2.png') no-repeat;
        right: 3%;
        top: -4%;
        width: 389px;
        height: 214px;
        z-index: 2;
    }
    .breed-page {
        padding-top: 57px;
        position: relative;
    }
    .breed-page .custom_container {
        width: 1200px;
    }
    .breed-page::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 960px;
        height: 700px;
        background-color: #eff5e4;
        z-index: -2;
    }
    .pow-before {
        display: inline-block;
        position: relative;
    }
    .pow-before::before {
        content: '';
        position: absolute;
        display: block;
        left: -17%;
        background: url('~@/assets/images/doggydog-club/breedpage-pow.png');
        width: 93px;
        height: 301px;
        bottom: 40%;
    }
    .pow-before::after {
        content: '';
        position: absolute;
        display: block;
        left: -17%;
        background: url('~@/assets/images/doggydog-club/breedpage-iphone.png') no-repeat;
        width: 469px;
        height: 839px;
        bottom: 0;
        z-index: 5;
    }
    .breed-single-page {
        margin-top: 150px;
        position: relative;
    }
    .breed-single-page::before {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: -12%;
        background-color: #f2cc66;
        width: 960px;
        height: 767px;
        z-index: -2;
        opacity: 0.2;
    }
    .breed-single-page::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -10%;
        background-color: #ecf7f7;
        width: 960px;
        height: 767px;
        z-index: -2;
    }
    .breed-single-page .section_title {
        text-align: right;
        margin-bottom: 66px;
    }
    .breed-single-page .pages-wrap {
        width: 1090px;
        margin: 0 auto;
        height: auto;
        position: relative;
    }
    .breed-single-page .pages-wrap::after {
        content: '';
        position: absolute;
        display: block;
        background: url('~@/assets/images/doggydog-club/dog2.png') no-repeat;
        width: 406px;
        height: 381px;
        bottom: 0;
        right: 0;
    }
    .breed-single-page .page_1 {
        display: inline-block;
        position: relative;
        z-index: -1;
    }
    .breed-single-page .page_1::before {
        content: '';
        position: absolute;
        display: block;
        background: url('~@/assets/images/doggydog-club/singlebreed1.png') no-repeat;
        width: 329px;
        height: 354px;
        top: -5%;
        left: 5%;
    }
    .breed-single-page .page_1::after {
        content: '';
        position: absolute;
        display: block;
        background: url('~@/assets/images/doggydog-club/singlebreed2.png') no-repeat;
        width: 219px;
        height: 274px;
        top: 23%;
        right: -19%;
    }
    .breed-single-page .page_2 {
        margin-top: -1354px;
        text-align: right;
    }
    .breed-single-page .page_3 {
        margin-top: -953px;
    }
    .breed-single-page .page_1 img,
    .breed-single-page .page_1 .page_2 img,
    .breed-single-page .page_1 .page_3 img,
    .img_shadow  img{
        box-shadow: 0 0 51px rgba(0, 0, 0, 0.13);
    }
    .webinars {
        margin-top: 66px;
        padding-bottom: 270px;
        position: relative;
    }
    .webinars::before {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        bottom: -16%;
        background-color: #eff5e4;
        width: 960px;
        height: 767px;
        z-index: -2;
    }
    .webinars .section_title {
        text-align: right;
        margin-bottom: 66px;
    }
    .category-item {
        display: flex;
        align-items: center;
    }
    .category-item img {
        width: 36px;
        height: 36px;
        margin-right: 15px;
    }
    .category-item p {
        font-family: 'Geometria-Regular', sans-serif;
        font-size: 14px;
        color: #444;
    }
    .category-divider {
        height: 35px;
        width: 1px;
        border: 1px dashed #cfcfcf;
        margin-left: 18px;
    }
    .category-title {
        font-size: 24px;
        font-family: 'Geometria-Regular', sans-serif;
        text-transform: uppercase;
        margin-bottom: 50px;
        color: #444;
    }
    .webinars .custom_container {
        width: 1090px;
        margin: 0 auto;
        position: relative;
    }
    .webinars .block_1 {
        display: flex;
        justify-content: space-between;
    }
    .category-block {
        margin-top: 220px;
    }
    .webinars .page_2 {
        margin-top: -1720px;
    }
    .webinars .custom_container::before {
        content: '';
        position: absolute;
        display: block;
        width: 151px;
        height: 191px;
        background: url('~@/assets/images/doggydog-club/webinar-pow.png');
        bottom: -12%;
        left: 0;
    }
    .knowledge-base {
        margin-top: 112px;
        position: relative;
    }
    .knowledge-base .section_title {
        text-align: left;
        margin-bottom: 82px;
    }
    .knowledge-base .block_1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .knowledge-base .page_2 {
        margin-top: -643px;
        text-align: right;
        position: relative;
    }
    .knowledge-base .page_2::before {
        content: '';
        position: absolute;
        display: block;
        left: -2%;
        bottom: -3%;
        width: 480px;
        height: 410px;
        background: url('~@/assets/images/doggydog-club/dog3.png') no-repeat;
    }
    .knowledge-base::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: -3%;
        background-color: #f2cc66;
        width: 960px;
        height: 767px;
        z-index: -2;
        opacity: 0.2;
    }
    .knowledge-base .custom_container {
        width: 1200px;
        margin: 0 auto;
    }
    .user-profile .section_title {
        text-align: center;
        margin-bottom: 70px;
    }
    .user-profile {
        margin-top: 140px;
        position: relative;
    }
    .user-profile .custom_container {
        width: 1160px;
    }
    .user-profile::before {
        content: '';
        position: absolute;
        display: block;
        width: 960px;
        height: 692px;
        background-color: #ecf7f7;
        z-index: -3;
        right: 0;
        bottom: -21%;
    }
    .user-profile .pages-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .user-profile .page {
        width: 50%;
    }
    .custom-margin-page {
        margin-top: -178px;
    }
    .user-profile .page:last-child {
        display: inline-block;
        text-align: center;
        margin-top: -228px;
        position: relative;
    }
    .user-profile .page:last-child::before {
        content: '';
        position: absolute;
        display: block;
        width: 139px;
        height: 169px;
        background: url('~@/assets/images/doggydog-club/lastpage-el.png') no-repeat;
        left: 39%;
        bottom: 83%;
    }
    .compare-page {
        margin-top: 85px;
    }
    .compare-page .section_title {
        text-align: center;
        margin-bottom: 65px;
    }
    .compare-page .page-wrap {
        text-align: center;
    }
    .thanks-block {
        height: 449px;
        width: 486px;
        background: url('~@/assets/images/doggydog-club/thanks-pow.png') no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .thanks-block p {
        text-align: center;
        font-family: 'Geometria-Heavy', sans-serif;
        text-transform: uppercase;
        font-size: 98px;
        color: #444;
    }
    .thanks-block p span {
        font-size: 48px;
    }
    .thanks {
        margin-top: 42px;
        margin-bottom: 72px;
    }

    @media screen and (min-width: 1921px) {
        .breed-page .custom_container,
        .user-profile .custom_container {
            width: 1200px;
        }
        .breed-single-page .custom_container {
            width: 1090px;
        }
        .breed-single-page::after,
        .breed-single-page::before,
        .webinars::before,
        .knowledge-base::before,
        .user-profile::before {
            width: 50vw;
            height: 40vw;
        }
    }

    @media screen and (max-width: 1670px) {
        .section_subtitle p {
            width: 63%;
        }
    }
    @media screen and (max-width: 1450px) {
        .animation-section::before {
            width: 600px;
        }
        .custom_container {
            width: 90%;
        }
    }
    @media screen and (max-width: 1350px) {
        .homepage {
            margin-top: -4vw;
        }
    }
    @media screen and (max-width: 1225px) {
        .laptop-block img,
        .homepage-first img {
            width: 100%;
        }
        .homepage-first::before {
            -webkit-background-size: 50% auto;
            background-size: 55% auto;
            left: -90px;
            top: 367px;
        }
        .homepage-first::after {
            right: -282px;
            top: 76px;
            -webkit-background-size: 50% auto;
            background-size: 55% auto;
        }
        .laptop-block::before {
            left: -7px;
        }
        .laptop-block::after {
            right: -31px;
        }
        .animation-video::before {
            display: none;
        }
        .animation-section .section_title {
            text-align: center;
        }
        .animation-section .section_subtitle {
            justify-content: center;
            text-align: left !important;
        }
        .section_subtitle p {
            width: 80%;
        }
        .animation-section .custom_container {
            text-align: center;
        }
        .animation-section::before,
        .breed-page::before,
        .breed-single-page::before,
        .breed-single-page::after,
        .user-profile::before {
            width: 36vw;
        }
        .color-palette .custom_container,
        .breed-page .custom_container,
        .breed-filter-page {
            width: 800px;
        }
        .color-palette-img-block img {
            width: 90%;
        }
        .pow-wrap {
            justify-content: center;
        }
        .pow-wrap .item {
            margin: 0 65px;
        }
        .pow-before img,
        .compare-page .page-wrap img {
            width: 100%;
        }
        .breed-filter-page .breed-info::after {
            right: -16%;
            background-size: 77% auto;
        }
        .breed-filter-page .breed-info::before {
            background-size: 77% auto;
            left: -16%;
        }
        .pow-before::after {
            -webkit-background-size: 100% auto;
            background-size: 100% auto;
            width: 320px;
            height: 600px;
            left: 75%;
        }
        .category-block {
            margin-top: 0;
        }
        .webinars .block_1 {
            flex-direction: column;
        }
        .category-list {
            display: flex;
        }
        .category-divider {
            margin-right: 18px;
        }
        .category-title {
            margin-bottom: 15px;
        }
        .category-block {
            margin-bottom: 40px;
        }
        .category-block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .webinars .page_1 {
            text-align: center;
        }
        .webinars .page_2, .webinars .page_3, .webinars .page_1 {
            width: 80%;
            margin: 0 auto;
        }
        .webinars .page_2 img, .webinars .page_3 img, .webinars .page_1 img {
            width: 100%;
        }
        .webinars .page_2,
        .webinars .page_3 {
            margin-top: 40px;
        }
        .knowledge-base .custom_container {
            width: 1090px;
        }
        .knowledge-base .category-list {
            flex-direction: column;
        }
        .knowledge-base .block_1 {
            flex-direction: column;
            align-items: center;
        }
        .category-block {
            align-items: flex-start;
        }
        .knowledge-base .section_title {
            text-align: center;
        }
        .webinars {
            padding-bottom: 0;
        }
        .webinars::before {
            width: 100vw;
            height: 460px;
            bottom: -5%;
        }
        .knowledge-base .page_2 {
            margin-top: 40px;
        }
        .knowledge-base .page_1 img,
        .knowledge-base .page_2 img {
            width: 100%;
        }
        .knowledge-base .page_1 {
            width: 100%;
        }
        .knowledge-base .pages-wrap {
            width: 80%;
            margin: 0 auto;
        }
        .knowledge-base .page_2::before {
            display: none;
        }
    }
    @media screen and (max-width: 1199px) {
        .info-block-title {
            font-size: 14px;
            margin-bottom: 1.2vw;
        }
        .colors-wrap .item {
            flex-basis: 35%;
        }
        .colors-wrap {
            justify-content: center;
        }
        .colors-wrap .item p,
        .alphabet-text {
            font-size: 12px;
        }
        .lettering-block::before {
            display: none;
        }
    }

    @media screen and (max-width: 1168px) {
        .breed-single-page .page_1::before,
        .breed-single-page .page_1::after {
            display: none;
        }
        .breed-single-page .pages-wrap {
            width: 100%;
        }
        .breed-single-page .page_1,
        .breed-single-page .page_2,
        .breed-single-page .page_3 {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        .breed-single-page .page_2,
        .breed-single-page .page_3 {
            margin-top: 40px;
        }
        .breed-single-page .page_1 {
            display: block;
        }
        .breed-single-page img {
            width: 80%;
        }
        .breed-single-page .pages-wrap::after {
            position: static;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        .breed-single-page::after {
            bottom: 0;
        }
        .webinars .section_title {
            text-align: center;
        }
        .webinars .custom_container,
        .knowledge-base .custom_container {
            width: 90%;
        }
        .category-block {
            align-items: center;
        }
        .user-profile .custom_container {
            width: 90%;
        }
        .user-profile .pages-wrap {
            flex-direction: column;
            align-items: center;
        }
        .user-profile .page:not(:first-child) {
            margin-top: 40px;
        }
        .user-profile .page {
            width: 80%;
            text-align: center;
        }
        .user-profile::before {
            bottom: -10%;
        }
    }
    @media screen and (max-width: 1080px) {
        .breed-filter-page .breed-info::after,
        .breed-filter-page .breed-info::before,
        .pow-before::before,
        .pow-before::after {
            display: none;
        }
        .category-list {
            flex-wrap: wrap;
            justify-content: center;
        }
        .category-divider {
            opacity: 0;
        }
        .category-item {
            margin-bottom: 10px;
        }
        .knowledge-base .category-divider {
            display: none;
        }
    }
    @media screen and (max-width: 991px) {
        .info-wrap {
            display: flex;
            flex-direction: column;
            padding-top: 25px;
        }
        .logo-grid {
            text-align: center;
            margin-bottom: 30px;
        }
        .logo-block {
            margin-right: 0;
            width: 62px;
            height: 62px;
        }
        .first-screen {
            width: 100%;
            height: 560px;
            background: url('~@/assets/images/doggydog-club/fs-bg-mobile.png') no-repeat;
            background-size: auto 100%;
            background-position: center;
            display: flex;
            justify-content: center;
        }
        /*.icons-block svg .st0 {*/
            /*fill: #222;*/
        /*}*/
        .info-block-title {
            margin-bottom: 20px;
        }
        .color-info-block {
            margin-top: 35px;
            margin-bottom: 35px;
        }
        .colors-wrap .item {
            width: 50px;
            flex-basis: 50%;
            justify-content: flex-start;
        }
        .animation-section .custom_container {
            width: 100%;
        }
        .animation-video {
            width: 97%;
        }
        video {
            width: 100%;
        }
        .animation-video::after {
            left: -4px;
            top: -15px;
            width: 101%;
            height: 107%;
        }
    }
    @media screen and (max-width: 930px) {
        .laptop-block::before,
        .laptop-block::after,
        .homepage-first::before,
        .homepage-first::after {
            display: none;
        }
        .homepage-first {
            margin-top: -8.46vw;
        }

    }
    @media screen and (max-width: 878px) {
        .color-palette-img-block {
            display: none;
        }
        .pow-wrap {
            flex-wrap: wrap;
        }
        .pow-wrap .item {
            margin: 0;
            width: 50%;
        }
        .pow-wrap .item:first-child,
        .pow-wrap .item:nth-child(2),
        .additional-color-wrap .item:first-child,
        .additional-color-wrap .item:nth-child(2) {
            margin-bottom: 25px;
        }
        .section_subtext {
            font-size: 20px;
        }
        .additional-color-wrap {
            width: 100%;
            flex-wrap: wrap;
        }
        .additional-color-wrap .item {
            width: 35%;
        }
        .additional-color-wrap .item:first-child,
        .additional-color-wrap .item:nth-child(3) {
            justify-content: flex-end;
        }
        .additional-color-wrap .item:nth-child(2),
        .additional-color-wrap .item:last-child {
            justify-content: flex-start;
        }
        .color-palette .custom_container {
            width: 100%;
        }
    }
    @media screen and (max-width: 850px) {
        .breed-filter-page,
        .breed-page .custom_container {
            width: 100%;
        }
        .breed-page .section_title,
        .breed-single-page .section_title {
            text-align: center;
        }
        .breed-single-page .page_1, .breed-single-page .page_2, .breed-single-page .page_3 {
            width: 97%;
        }
        .breed-single-page img {
            width: 100%;
        }
        .webinars .page_2, .webinars .page_3, .webinars .page_1,
        .knowledge-base .pages-wrap {
            width: 100%;
        }
        .webinars .custom_container,
        .knowledge-base .custom_container {
            width: 97%;
        }
        .user-profile .page img {
            width: 100%;
        }
        .user-profile .page {
            width: 100%;
        }
        .user-profile .custom_container {
            width: 97%;
        }
        .user-profile .page:last-child {
            width: 70%;
        }
        .thanks-block {
            background-size: 100% auto;
            height: 200px;
            width: 177px;
        }
        .thanks-block p {
            font-size: 47px;
        }
        .thanks-block p span {
            font-size: 20px;
        }
        .thanks {
            margin-top: 35px;
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width: 790px) {
        .animation-video::after {
            height: 113%;
        }
    }
    @media screen and (max-width: 700px) {
        .webinars::before {
            display: none;
        }
        .knowledge-base .section_title {
            margin-bottom: 45px;
        }
        .knowledge-base {
            margin-top: 90px;
        }
        .user-profile .page:last-child::before {
            bottom: 80%;
        }
    }
    @media screen and (max-width: 660px) {
        .animation-section .section_subtitle {
            padding-left: 0;
            padding-right: 30px;
        }
        .animation-section .section_subtitle p {
            width: 100%;
        }
        .animation-section .divider {
            margin-left: 30px;
        }
        .animation-video {
            width: 100%;
        }
        .animation-video::after {
            height: 117%;
        }
        .section_title {
            font-size: 40px;
        }
        .breed-single-page .pages-wrap::after {
            width: 290px;
            height: 275px;
            -webkit-background-size: 100%;
            background-size: 100%;
        }
        .breed-single-page {
            margin-top: 19vw;
        }
    }
    @media screen and (max-width: 567px) {
        .animation-video::after {
            height: 109%;
            left: -1.5%;
            width: 103%;
        }
        .color-palette {
            margin-top: -40px;
        }
        .compare-page {
            margin-top: 60px;
        }
        .compare-page .section_title {
            margin-bottom: 45px;
        }
    }
    @media screen and (max-width: 520px) {
        .category-list {
            flex-direction: column;
        }
        .category-item {
            margin-bottom: 0;
        }
        .category-divider {
            margin: 0;
            height: 4px;
        }
        .category-block {
            align-items: flex-start;
        }
        .webinars .block_1 {
            align-items: center;
        }
        .webinars .section_title {
            margin-bottom: 45px;
        }
        .category-title {
            font-size: 18px;
        }
        .knowledge-base .section_title {
            margin-bottom: 30px;
        }
        .knowledge-base .category-item:not(:last-child) {
            margin-bottom: 14px;
        }
        .webinars .custom_container::before {
            bottom: -7%;
            z-index: -2;
        }
        .user-profile .page:last-child::before {
            width: 113px;
            -webkit-background-size: 100% auto;
            background-size: 100% auto;
            bottom: 63%;
        }
        .user-profile .page:last-child {
            margin-top: 10px;
        }
    }
    @media screen and (max-width: 470px) {
        .section_title {
            font-size: 30px;
        }
        .animation-section .section_subtitle p {
            font-size: 13px;
        }
        .pow-wrap img {
            width: 100%;
        }
        .heavy-g {
            font-size: 95px;
        }
        .lettering .alphabet-block .alphabet-title {
            font-size: 22px;
        }
        .section_subtext {
            font-size: 17px;
            margin: 35px 0;
        }
        .additional-color-wrap .item, .pow-wrap .item p {
            font-size: 13px;
            margin-top: 13px;
        }
        .user-profile .page:last-child::before {
            display: none;
        }
    }

    @media screen and (max-width: 450px) {
        .animation-video::after {
            height: 113%;
        }
        .color-palette {
            margin-top: -60px;
        }
        .breed-single-page .pages-wrap::after {
            width: 150px;
            height: 150px;
        }
    }
    @media screen and (max-width: 380px) {
        .lettering-block {
            flex-direction: column;
            margin-bottom: 25px;
        }
        .lettering-block div {
            margin: 0;
        }
        .user-profile .section_title {
            font-size: 25px;
            margin-bottom: 40px;
        }
        .user-profile {
            margin-top: 90px;
        }
    }
    .main_page_title {
         text-transform: uppercase;
         text-align: center;
         font-size: 40px;
         position: relative;
         z-index: 1;
         font-weight: normal;
         line-height: 1;
         font-family: 'Gotham Pro';
     }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
            padding-top: 50px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
            padding-top: 50px;
        }
    }

</style>