<template>
    <u-animate-container
            :config="config">
        <main class="emf">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта для федерации тайландского бокса - EMF"
                description="Разработка сайта для European Muaythai Federation, разработан на фреймворке Laravel 5. Адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <div id="1" class="container-white">
            <div class="overflow-hidden">
                <div class="row">
                    <div class="container _bg-6 table">
                        <div class="table-row">
                            <div class="case-2 case-2__type-1 col-25 __bp2-100 gutter _bg-5 pos-rel table-cell">
                                <a class="case-2_link" href="" target="_blank">euromuaythai</a><br>
                                <span class="case-2_delim"></span><br>
                                <em><time class="case-2_release" datetime="2014-07-09">Дата выпуска: 07.09.2015</time></em>
                            </div>
                            <u-animate
                                    name="bounceInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="case-2 col-75 __b2-100 _bg-10 gutter table-cell"
                            >
                            <h1 class="main_page_title">Разработка сайта федерации тайландского бокса</h1>
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-xs-12 right"
                                >
                                    <a class="btn read-more" tabindex="-1" href="http://emfmuaythai.eu/" rel="nofollow" target="blank">Перейти на сайт</a>
                                </u-animate>
                                <div class="clear">
                                    <p>Европейская федерация тайландского бокса в Европе, состоящая
                                        из 53 национальных ассоциаций муай-тай.
                                        Помимо национальных тай организаций членства ЭМП есть множество других, которые внесли большой вклад в муай-тай, чьи интересы должны быть признаны соответствующим образом. Клубы являются основой муай тай на всех уровнях.
                                    </p>
                                </div>
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container center">
                        <div class="col-xs-12">
                            <img class="responsive-img"  src="~@/assets/images/emf/emf1.jpg"
                                 alt="разработка сайта wellness-zone">
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <h2>Быстрый современный функциональный</h2>
                            <h3>LARAVEL и Material Design.</h3>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <p> Сочетание плавных линий и типографии как раз и придают эту тонкость дизайну.
                                Сайт разработан в "MATERIAL" дизайне + плюс самые современные инструменты, которые более чем
                                полно позволяют делать проработку легкой ненавезчивой анимации. Умеренно строгий
                                стиль и чуство спортивной динамики -это, пожалуй, то, что нужно, чтобы подчеркнуть главное и акцентировать внимание на проектах, которыми занимается компания.<br>
                                Сайт помогает посетителю почувствовать атмосферу спорта.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="container center">
                            <div class="col-xs-12 col-md-12 col-lg-12">

                                <u-animate
                                        name="flipInX"
                                        delay="0.2s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-xs-12 col-md-4 col-lg-4 gutter"
                                >
                                    <img class="responsive-img"  src="~@/assets/images/emf/slide9-1.png" alt="разработка сайта wellness-zone">
                                    <p>Возможность <strong>повышения посечения</strong> как ознакомления с рынком бокса</p>
                                </u-animate>
                                <u-animate
                                        name="flipInX"
                                        delay="0.6s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-xs-12 col-md-4 col-lg-4 gutter"
                                >
                                    <img class="responsive-img"  src="~@/assets/images/emf/slide9-2.png" alt="разработка сайта wellness-zone">
                                    <p>Фактически полностью <strong>сокращены расходы</strong> рекламу</p>
                                </u-animate>

                                <u-animate
                                        name="flipInX"
                                        delay="1s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-xs-12 col-md-4 col-lg-4 gutter"
                                >
                                    <img class="responsive-img"  src="~@/assets/images/emf/slide9-3.png" alt="разработка сайта wellness-zone">
                                    <p>Мощный презентационный <strong>WOW-эффект</strong></p>
                                </u-animate>
                            </div>
                        </div>
                        <div class="row">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="container slide_4 text-align-center"
                            >
                                <div class="case-2 col-100 gutter">
                                    <p>Сайт создан, ориентируясь на возможности сенсорных телефонов, в основном адаптирован под возможности ipad или iphone.
                                        Динамику сайта невозможно полностью передать по изображениям, но с помощью современных методов
                                        сайтостроения, сайт помещается на любом экране и
                                        грациозно переливается с одной страницы на другую, а также с помощью динамики спроектированы скрытые новости сайта.
                                        Сайт разработан на двух современных фреймворках LARAVEL и Material Design.</p>
                                    <h3>Проектирование сайта под просмотр на планшете/ динамическое меню.</h3><br>
                                    <p>Удобное меню, ориентированый дизайн, психологически правильно расположеный контент привлекает
                                        пользователя ознакомиться с возможностями компании.
                                    </p>
                                </div>
                            </u-animate>
                        </div>
                        <div class="row">
                            <div class="container slide_8">
                                <div class="case-2 col-100">
                                    <u-animate
                                            name="bounceInRight"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="item03 case-1 col-85 aligncenter text-align-center"
                                    >
                                        <div class="item-title">Сайт получился...</div>
                                        <p><img class="responsive-img"  src="~@/assets/images/emf/EMF12.jpg"
                                                alt="разработка сайта wellness-zone"><br></p>
                                        <p>Страница новостей<br>
                                            <img class="responsive-img"  src="~@/assets/images/emf/emf2.jpg"
                                                 alt="разработка сайта wellness-zone"><br></p>
                                        <p>Страница статьи<br>
                                            <img class="responsive-img"  src="~@/assets/images/emf/emf3.jpg"
                                                 alt="разработка сайта wellness-zone"><br></p>
                                        <p>
                                            Страница членов и участников EMF<br>
                                            <img class="responsive-img"  src="~@/assets/images/emf/emf4.jpg"
                                                 alt="разработка сайта wellness-zone"><br></p>
                                        <p><img class="responsive-img"  src="~@/assets/images/emf/emf5.jpg"
                                                alt="разработка сайта wellness-zone"><br></p>
                                        <p>Страница контактов<br>
                                            <img class="responsive-img"  src="~@/assets/images/emf/emf6.jpg"
                                                 alt="разработка сайта wellness-zone"><br></p>
                                    </u-animate>
                                </div>
                            </div>
                        </div>
                        <div class="row bottom">
                            <div class="container slide_8 centered text-align-center">
                                <div class="aligncenter col-100 case-1 load">
                                    <img class="responsive-img"  src="~@/assets/images/emf/ico1.png" width="55" height="" alt="разработка сайта wellness-zone"><br/>
                                    <u-animate
                                            name="fadeInUp"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="col-xs-12 text-align-center"
                                    >
                                        <a class="btn read-more" tabindex="-1" href="http://emfmuaythai.eu/" rel="nofollow" target="blank">Перейти на сайт</a>
                                    </u-animate>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @font-face {
        font-family: comfortaalight_0;
        src: url('~@/assets/fonts/Comfortaa-Light.ttf') format('truetype');
    }

    .main_page_title{
        font-size: 24px;
    }

    .center{
        text-align: center;
    }
    .emf .fixed-action-btn {
        position: fixed;
        right: 23px;
        bottom: 23px;
        padding-top: 15px;
        margin-bottom: 0;
        z-index: 998;
    }
    .emf .onk-project .container {
        /*background: #fff url(~@/assets/images/emf/bg1.png);*/
    }
    .emf .table-cell {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
    .emf .gutter {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 18px;
        padding-left: 18px;
        margin: 15px 0;
    }
    .emf ._bg-5 {
        background: #de514d;
    }
    .emf .onk-project a {
        outline: none;
        cursor: pointer;
        text-decoration: underline;
    }
    .emf ._bg-5:after {
        position: absolute;
        right: -10px;
        bottom: 86px;
        z-index: 14;
        content: url(~@/assets/images/emf/ico-arr-red.png);
        width: 10px;
        height: 13px;
    }
    .emf .case-2_delim {
        background: url(~@/assets/images/emf/line-title.gif) no-repeat left bottom;
        display: inline-block;
        width: 20px;
        height: 1px;
    }
    .emf .case-2_link {
        font-family: 'rrobotoregular_3', Arial, 'sans-serif';
        letter-spacing: 1px;
        font-size: 0.83333333333333em;
        color: #fff;
        text-transform: uppercase;
    }
    .emf .case-2__type-1 {
        line-height: 24px;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
    }
    .emf .r-buttom {
        float: right;
        margin-bottom: 10px;
    }
    .emf .clear {
        clear: both;
    }
    .emf .onk-project p {
        font-size: 13px;
    }
    .emf img.responsive-img, video.responsive-video {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
    }
    .emf .portfolio-page-2.rosatom .slide_5 {
        text-align: center;
        color: #000;
        background: #fff !important;
    }
    .emf h2 {
        font-size: 3.56rem;
        line-height: 3.916rem;
        margin: 1.78rem 0 1.424rem 0;
        font-family: comfortaalight_0;
        font-weight: 400;
    }
    .emf h3 {
        font-size: 2.92rem;
        line-height: 3.212rem;
        margin: 1.46rem 0 1.168rem 0;
        font-family: comfortaalight_0;
    }
    .emf .onk-project .col-50 {
        float: left;
        width: 50%;
    }
    .emf .portfolio-page-2.rosatom .slide_5 img {
        width: auto;
        margin-bottom: 35px;
    }
    .emf .onk-project .col-33 {
        float: left;
        width: 33%;
    }
    .text-align-center {
        text-align: center;
    }
    .emf .onk-project img {
        width: auto;
        height: auto;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }
    .emf .onk-project p {
        font-size: 13px;
        font-family: robotoregular_3;
    }
    .emf  .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat #ef5350;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 15px 0;
        z-index: 10;
    }
    .emf .read-more:hover {
        background: url(~@/assets/images/e-crewing/arrowBtnRight-hover.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #000;
        color: #000;
        text-decoration: none;
        z-index: 10;
    }
    .emf .right {
        text-align: right;
    }
    .emf .onk-project-page {
        margin-bottom: 70px;
    }
    .emf .bottom {
        margin-bottom: 70px;
    }

    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
            padding-top: 50px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
            padding-top: 50px;
        }
        .emf .table-cell{
            display: block;
        }
    }
</style>