<template>
    <u-animate-container
            :config="config">
        <main class="home-wood">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта для строительной компании Home wood - рубленные дома из дерева"
                description="Разработка сайта для строительной компании Home wood - строительство домов и бань из дерева. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="header__inner">
                        <div class="row">
                            <div class="col-md-6 col-lg-5">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="header__inner-logo"
                                >
                                    <img src="~@/assets/images/homewood/home-wood-logo.png" alt="" />
                                    <p class="linkToSite">
                                        <a href="http://homewoodspa.com/">перейти на сайт</a>
                                    </p>
                                </u-animate>
                                <div class="header__inner-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.4s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-num"
                                    >
                                        <span>1</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.6s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-body"
                                    >
                                        <h1 class="pageTitle">Разработан UX/UI Design сайта для строительной компании</h1>
                                        <span>
                                            <img src="~@/assets/images/homewood/laptop.svg" alt="" />
                                            <img src="~@/assets/images/homewood/smartphone.svg" alt="" />
                                            <img src="~@/assets/images/homewood/tablet.svg" alt="" />
                                          </span>
                                        </u-animate>
                                </div>
                                <div class="header__inner-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.8s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-num"
                                    >
                                        <span>2</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="1s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-body"
                                    >
                                        <p>Подбор фирменных цветов</p>
                                        <span>
                                            <span class="header__inner-list-body-color">
                                              <span
                                                      class="header__inner-list-body-color-gold"
                                              ></span>
                                              <p>#fabf50</p>
                                            </span>
                                            <span class="header__inner-list-body-color">
                                              <span
                                                      class="header__inner-list-body-color-green"
                                              ></span>
                                              <p>#8ac65d</p>
                                            </span>
                                          </span>
                                    </u-animate>
                                </div>
                                <div class="header__inner-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-num"
                                    >
                                        <span>3</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.4s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-body"
                                    >
                                        <p>Подбор фирменных шрифтов</p>
                                        <span class="header__inner-list-body-printed">
                                            <p>Gilroy</p>
                                            <span
                                            >а б в г д е ё ж з и й к л м н о <br />
                                              п р с т у ф х ц ч ш щ ъ ы ь э ю я</span
                                            >
                                          </span>
                                        <span class="header__inner-list-body-printed">
                                            <p>IBM Plex Sans</p>
                                            <span
                                            >а б в г д е ё ж з и й к л м н о <br />
                                              п р с т у ф х ц ч ш щ ъ ы ь э ю я</span
                                            >
                                          </span>
                                    </u-animate>
                                </div>
                                <div class="header__inner-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.6s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-num"
                                    >
                                        <span>4</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.8s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-body"
                                    >
                                        <p>Разработка остальных страниц сайта</p>
                                        <span>
                                        <ul>
                                          <li><p>Дома</p></li>
                                          <li><p>SPA</p></li>
                                          <li><p>Контакты</p></li>
                                        </ul>
                                        <ul>
                                          <li><p>Страница проекта</p></li>
                                          <li><p>Блог</p></li>
                                        </ul>
                                      </span>
                                    </u-animate>
                                </div>
                                <div class="header__inner-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-num"
                                    >
                                        <span>5</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="2.2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-body"
                                    >
                                        <p>Иконографика</p>
                                        <span>
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/banya.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/sollroom.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/hamam.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/snowroom.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/koncept.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/list-doc.svg"
                                                alt=""
                                        />
                                      </span>
                                        <span>
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/mouse.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/sketch.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/house.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/topor.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/list.svg"
                                                alt=""
                                        />
                                        <img
                                                class="header__inner-list-body-icon"
                                                src="~@/assets/images/homewood/wood.svg"
                                                alt=""
                                        />
                                      </span>
                                    </u-animate>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-7">
                                <div class="header__inner-layr-img">
                                    <u-animate
                                            name="fadeInDown"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__inner-list-body-icon"
                                    >
                                    <img
                                            class="header__inner-list-body-icon"
                                            src="~@/assets/images/homewood/Imac-head.png"
                                            alt=""
                                    />
                                    </u-animate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 title">

                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                      <span class="title__top">
                          <p>01.</p>
                        Главная
                      </span>
                        </u-animate>
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <span class="title__bottom">Страница</span>
                        </u-animate>
                    </div>
                    <div class="col-lg-12">
                        <u-animate
                                name="fadeIn"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="home__image"
                        >
                            <div class="page-title-bg page-title-bg-top">Main page</div>
                            <img src="~@/assets/images/homewood/home-image.png" alt="" />
                            <div class="home__image-rowbg-bottom"></div>
                            <div class="page-title-bg page-title-bg-bottom">Design</div>
                            <div class="page-title-bg page-title-bg-bottom-right">
                                Ux/Ui
                            </div>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="colsystem">
            <div class="container">
                <div class="row">
                    <div class="page-title-bg page-title-bg-top">Grid system</div>
                    <div class="colsystem__bg"></div>
                    <div class="col-lg-12 title">
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                          <span class="title__top" ><p>02.</p>
                            Колоночная</span>
                        </u-animate>

                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <span class="title__bottom">система</span>
                        </u-animate>
                    </div>
                    <div class="col-lg-12">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="colsystem__sub-title"
                        >
                            <span>Ширина контейнера - 1820 px 12 колонок </span>
                        </u-animate>
                        <div class="colsystem__image">
                            <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >

                            <img
                                    src="~@/assets/images/homewood/greed-image.png"
                                    alt=""
                            />
                        </u-animate>
                        </div>
                        <div class="colsystem__image">
                        <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="colsystem__sub-bottom-title"
                        >
                            <span>Что мы строим</span>
                        </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="color">
            <div class="container z-index">
                <div class="row">
                    <div class="col-lg-12 title">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                          <span class="title__top"
                          ><p>03.</p>
                            Цвета и шрифты</span
                          >
                        </u-animate>
                    </div>
                </div>
                <div class="row">
                    <div class="page-title-bg page-title-bg-top">Color</div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <u-animate
                                name="fadeInRightBig"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__circle"
                        >
                            <span class="color__circle-border gold-brd">
                              <div class="color__circle-inner gold"></div>
                            </span>
                            <span class="color__circle-hash">#fabf50</span>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__fonts"
                        >
                            <span class="gold">Gilroy</span>
                            <p class="font-gil">
                                а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э
                                ю я
                            </p>
                        </u-animate>
                    </div>
                    <div class="page-title-bg page-title-bg-bottom-left">
                        Typography
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <u-animate
                                name="fadeInLeftBig"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__circle"
                        >
                                <span class="color__circle-border green-brd">
                                  <div class="color__circle-inner green"></div>
                                </span>
                            <span class="color__circle-hash">#8ac65d</span>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__fonts"
                        >
                            <span class="green">IBM Plex Sans</span>
                            <p class="font-ibm">
                                а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э
                                ю я
                            </p>
                        </u-animate>
                    </div>
                </div>
                <div class="row">
                    <div class="color__img">
                        <u-animate
                                name="fadeInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__img-phone"
                        >
                        <img
                                src="~@/assets/images/homewood/color-image-phone.png"
                                alt=""
                        />
                        </u-animate>
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color__img-desc"
                        >
                        <img
                                src="~@/assets/images/homewood/color-image-desc.png"
                                alt=""
                        />
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="lastpage">
            <div class="lastpage__bg-circle">
                <span class="lastpage__bg-circle-inner"></span>
            </div>
            <div class="container pos-relat">
                <div class="row">
                    <div class="col-lg-12 title">
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                          <span class="title__top"
                          ><p>04.</p>
                            Остальные</span
                          >
                        </u-animate>
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <span class="title__bottom">страницы</span>
                        </u-animate>
                    </div>
                </div>
                <div class="row">
                    <div class="page-title-bg page-title-bg-top">Other pages</div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <u-animate
                                name="fadeInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="lastpage__iamge"
                        >
                            <img
                                    class="color__img-desc"
                                    src="~@/assets/images/homewood/lastpage-img-right-top.jpg"
                                    alt=""
                            />
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="lastpage__iamge"
                        >
                            <img
                                    class="color__img-desc"
                                    src="~@/assets/images/homewood/lastpage-img-right-bottom.png"
                                    alt=""
                            />
                        </u-animate>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 lastpage-pos-rel">
                        <u-animate
                                name="fadeInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="lastpage__iamge"
                        >
                            <img src="~@/assets/images/homewood/lastpage-img-left-top.png" alt="" />
                        </u-animate>
                        <u-animate
                                name="fadeInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="lastpage__iamge"
                        >
                            <img src="~@/assets/images/homewood/lastpage-img-left-bottom.png" alt="" />
                        </u-animate>
                    </div>
                </div>
                <div class="lastpage__image-rowbg-bottom"></div>
            </div>
        </section>
        <section class="thankyou">
            <div class="row">
                <div class="col-lg-12">
                    <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="lastpage__iamge"
                    >
                        <span class="thankyou__title">Спасибо</span>
                    </u-animate>
                    <u-animate
                            name="fadeIn"
                            delay="0.4s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="lastpage__iamge"
                    >
                    <span class="thankyou__sub"
                    >за просмотр</span>
                    </u-animate><u-animate
                        name="fadeIn"
                        delay="0.6s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="lastpage__iamge"
                >
                    <img
                            src="~@/assets/images/homewood/thankyou-icon.png"
                            alt=""
                    />
                </u-animate>
                </div>
                <div class="col-xs-12">
                    <div class="btn-prew-site">
                        <a rel="nofollow" href="http://homewoodspa.com/" class="prewSite">Посмотреть сайт</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }
            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style lang="scss" scoped>
    @import "~@/assets/bootstrap/bootstrap.css";
    @font-face {
        font-family: "GilroyExtraBold";
        src: url("~@/assets/fonts/gilroy/Gilroy-ExtraBold.eot");
        src: url("~@/assets/fonts/gilroy/Gilroy-ExtraBold.eot") format("embedded-opentype"),
        url("~@/assets/fonts/gilroy/Gilroy-ExtraBold.woff") format("woff2"),
        url("~@/assets/fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype"); }

    @font-face {
        font-family: "Gilroy";
        src: url("~@/assets/fonts/gilroy/Gilroy-Regular.eot");
        src: url("~@/assets/fonts/gilroy/Gilroy-Regular.eot") format("embedded-opentype")
        , url("~@/assets/fonts/gilroy/Gilroy-Regular.woff") format("woff2"),
        url("~@/assets/fonts/gilroy/Gilroy-Regular.ttf") format("truetype"); }

    @font-face {
        font-family: "IbmPlexSans";
        src: url("~@/assets/fonts/ibmplexsans/IBMPlexSans.woff2") format("woff2"),
        url("~@/assets/fonts/ibmplexsans/IBMPlexSans.ttf") format("truetype"); }

    .text-right {
        text-align: right; }

    .text-left {
        text-align: left; }

    .text-center {
        text-align: center; }

    body, html {
        /*overflow-x: hidden;*/
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff; }

    .relative {
        position: relative; }
    .btn-prew-site {
        text-align: center;
        margin: 50px 0;
    }
    .home-wood .linkToSite{
        margin-left: 25px;
    }
    .home-wood .linkToSite a{
        display: inline-block;
        text-transform: uppercase;
        color: #000;
        font-size: 16px;
        padding: 10px 25px;
        background-color: #FABF50;
        border: 2px solid #FABF50;
        transition: all .3s;
        white-space: nowrap;
    }
    .home-wood .linkToSite a:hover{
        text-decoration: none;
        background-color: #fff;
    }
    @media screen and (max-width: 768px){
        .home-wood .linkToSite{
            width: 100%;
            text-align: center;
            margin: 20px 0 0;
        }
    }

    .prewSite {
        border: 2px solid #97cb6e;
        border-radius: 2px;
        padding: 10px 25px;
        color: #edc564;
        transition: .4s all;
        font: 19px/19px GilroyExtraBold;
        text-decoration: none;
        cursor: pointer;
        width: 240px;
        text-align: center;
    }
    .home-wood .page-title-bg {
        position: absolute;
        font: 120px/120px GilroyExtraBold;
        opacity: 0.4;
        letter-spacing: 0.6px;
        font-weight: 400;
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        text-transform: uppercase; }

    .home-wood .header {
        background-image: url("~@/assets/images/homewood/head-img.png");
        background-color: #232323;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 65px;
        position: relative; }
    .home-wood .header:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(23, 23, 23, 0)), to(#232323));
        background: -webkit-linear-gradient(top, rgba(23, 23, 23, 0) 40%, #232323 100%);
        background: -o-linear-gradient(top, rgba(23, 23, 23, 0) 40%, #232323 100%);
        background: linear-gradient(to bottom, rgba(23, 23, 23, 0) 40%, #232323 100%); }
    .home-wood .header .header__inner-logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 47px; }
    @media screen and (max-width: 768px){
        .home-wood .header .header__inner-logo{
            flex-wrap: wrap;
        }
    }
    .home-wood .header .header__inner-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
    .home-wood .header .header__inner-list .header__inner-list-num span {
        width: 44px;
        height: 44px;
        display: block;
        border: 1px solid #fabf50;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        font: 24px/20px GilroyExtraBold;
        letter-spacing: 0.6px;
        font-weight: 400;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 8px 14px 0px 0px;
        color: #fff; }
    .home-wood .header .header__inner-list .header__inner-list-body .pageTitle,
    .home-wood .header .header__inner-list .header__inner-list-body p {
        font: 20px/20px GilroyExtraBold;
        font-weight: 700;
        margin: 20px 0;
        color: #fff; }
    .home-wood .header .header__inner-list .header__inner-list-body span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
    .home-wood .header .header__inner-list .header__inner-list-body span img {
        display: block;
        height: 26px;
        margin-right: 46px; }
    .home-wood .header .header__inner-list .header__inner-list-body span .header__inner-list-body-icon {
        height: 64px;
        margin: 0px 60px 50px 0px; }
    .home-wood .header .header__inner-list .header__inner-list-body span ul {
        padding-left: 18px;
        margin: 0px; }
    .home-wood .header .header__inner-list .header__inner-list-body span ul li {
        margin-right: 45px;
        color: #fff; }
    .home-wood .header .header__inner-list .header__inner-list-body span ul li p {
        font: 16px/18px IbmPlexSans;
        font-weight: 700;
        letter-spacing: 0.4px;
        color: #fabf50; }
    .home-wood .header .header__inner-list .header__inner-list-body .header__inner-list-body-color {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 30px; }
    .home-wood .header .header__inner-list .header__inner-list-body .header__inner-list-body-color span {
        width: 30px;
        height: 30px;
        display: block;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-right: 19px; }
    .home-wood .header .header__inner-list .header__inner-list-body .header__inner-list-body-color .header__inner-list-body-color-gold {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #fabf50; }
    .home-wood .header .header__inner-list .header__inner-list-body .header__inner-list-body-color .header__inner-list-body-color-green {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #8ac65d; }
    .home-wood .header .header__inner-list .header__inner-list-body .header__inner-list-body-color p {
        color: #fff;
        font: 16px/18px IbmPlexSans;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        margin: 0px; }
    .home-wood .header .header__inner-list .header__inner-list-body-printed {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .home-wood .header .header__inner-list .header__inner-list-body-printed p {
        color: #fabf50;
        font: 18px/36px GilroyExtraBold;
        font-weight: 500;
        letter-spacing: 0.45px;
        margin: 0px; }
    .home-wood .header .header__inner-list .header__inner-list-body-printed span {
        color: #222222;
        font: 14px/18px GilroyExtraBold;
        font-weight: 400;
        letter-spacing: 1.05px;
        color: #fff; }
    .home-wood .header .header__inner-list .header__inner-list-body-printed:nth-child(2) {
        float: right;
        margin-left: 60px; }
    .home-wood .header .header__inner-list .header__inner-list-body-printed:nth-child(2) span {
        font: 14px/18px IbmPlexSans; }
    .home-wood .header .header__inner-layr-img {
        margin-top: 30px; }
    .home-wood .header .header__inner-layr-img img {
        width: auto;
        height: 659px;
        display: block;
        position: absolute; }

    .home-wood .title {
        margin: 30px 0px 70px 0px;
        position: relative; }
    .home-wood .title span {
        font: 80px/80px GilroyExtraBold;
        font-weight: 400;
        text-transform: uppercase;
        color: #edbf4f;
        display: block; }
    .home-wood .title .title__top p {
        display: inline-block;
        margin: 0px;
        color: #fff;
        font: 100px/80px Gilroy-Regular, sans-serif;
        font-weight: 300;
        letter-spacing: 2px; }
    .home-wood .title .title__bottom {
        padding-left: 300px; }

    .home-wood .home {
        background-image: url("~@/assets/images/homewood/home-image-bg.png");
        background-position: 0% 55%;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        background-color: #232323;
        padding-bottom: 50px; }
    .home-wood .home .home__image {
        position: relative;
        -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 43px rgba(0, 0, 0, 0.25); }
    .home-wood .home .home__image:before, .home-wood .home .home__image:after {
        content: '';
        position: absolute;
        width: 80%;
        background-color: #fabf50;
        opacity: 0.2; }
    .home-wood .home .home__image:before {
        left: -80%;
        top: 9%;
        height: 1242px;
        height--webkit-clip-path: polygon(0 49%, 100% 47%, 100% 97.7%, 0% 100%);
        -webkit-clip-path: polygon(0 49%, 100% 47%, 100% 97.7%, 0% 100%);
        clip-path: polygon(0 49%, 100% 47%, 100% 97.7%, 0% 100%); }
    .home-wood .home .home__image:after {
        right: -80%;
        top: 8.67%;
        height: 1208px;
        height--webkit-clip-path: polygon(0 48%, 100% 45%, 100% 98%, 0% 100%);
        -webkit-clip-path: polygon(0 48%, 100% 45%, 100% 98%, 0% 100%);
        clip-path: polygon(0 48%, 100% 45%, 100% 98%, 0% 100%); }
    .home-wood .home .home__image img {
        width: 100%;
        height: auto;
        display: block;
        z-index: 3; }
    .home-wood .home .home__image .home__image-rowbg-bottom {
        position: absolute;
        height: 400px;
        width: 100%;
        bottom: 9.34%;
        left: 0px; }
    .home-wood .home .home__image .home__image-rowbg-bottom:before, .home-wood .home .home__image .home__image-rowbg-bottom:after {
        content: '';
        position: absolute;
        width: 80%;
        background-color: #8ac65d;
        opacity: 0.2; }
    .home-wood .home .home__image .home__image-rowbg-bottom:before {
        left: -80%;
        height: 480px;
        -webkit-clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
        clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%); }
    .home-wood .home .home__image .home__image-rowbg-bottom:after {
        right: -80%;
        bottom: -6%;
        height: 480px;
        -webkit-clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
        clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%); }
    .home-wood .home .page-title-bg-top {
        right: -35%; }
    .home-wood .home .page-title-bg-bottom {
        top: 40%;
        left: -28%; }
    .home-wood .home .page-title-bg-bottom-right {
        right: -23%;
        bottom: 22%; }

    .home-wood .colsystem {
        padding-top: 50px;
        background-color: #232323;
        position: relative; }
    .home-wood .colsystem .row {
        position: relative; }
    .home-wood .colsystem .colsystem__bg {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 93.5%;
        background-image: url("~@/assets/images/homewood/greed-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        left: 0;
        right: 0;
        margin: 0 auto; }
    .home-wood .colsystem .title {
        z-index: 2;
        position: relative; }
    .home-wood .colsystem .title .title__bottom {
        padding-left: 400px; }
    .home-wood .colsystem .colsystem__sub-title {
        margin-bottom: 45px; }
    .home-wood .colsystem .colsystem__sub-title span {
        color: #edbf4f;
        font: 14px/18px GilroyExtraBold, sans-serif;
        font-weight: 400;
        letter-spacing: 0.28px;
        width: 215px;
        display: block; }
    .home-wood .colsystem .colsystem__sub-bottom-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 50px 0px 100px 0px; }
    .home-wood .colsystem .colsystem__sub-bottom-title span {
        font: 24px/24px GilroyExtraBold, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.28px; }
    .home-wood .colsystem .colsystem__image {
        background-color: #232323;
        -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 43px rgba(0, 0, 0, 0.25);
        position: relative; }
    .home-wood .colsystem .colsystem__image:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px; }
    .home-wood .colsystem .colsystem__image img {
        width: 100%;
        height: auto;
        display: block; }
    .home-wood .colsystem .page-title-bg-top {
        left: -40%;
        top: 15%; }

    .home-wood .color {
        background-color: #232323;
        position: relative;
        padding-bottom: 50px; }
    .home-wood .color .z-index {
        z-index: 14;
        position: relative; }
    .home-wood .color .color__bg-circle {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 15%;
        left: 0px;
        opacity: 0.1; }
    .home-wood .color .color__bg-circle:before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 1600px;
        height: 1600px;
        border: 1px dashed #ecbf4f;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .home-wood .color .color__bg-circle:after {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 1400px;
        height: 1400px;
        border: 1px dashed #ecbf4f;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .home-wood .color .color__bg-circle .color__bg-circle-inner {
        position: absolute;
        width: 100%;
        height: 100%; }
    .home-wood .color .color__bg-circle .color__bg-circle-inner:before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 1100px;
        height: 1100px;
        border: 1px dashed #ecbf4f;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .home-wood .color .color__bg-circle .color__bg-circle-inner:after {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 60px;
        height: 60px;
        border: 1px dashed #ecbf4f;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .home-wood .color .title .title__top {
        text-align: center; }
    .home-wood .color .color__circle {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 90px;
        padding-bottom: 50px; }
    .home-wood .color .color__circle .color__circle-hash {
        color: #ffffff;
        font-family: IbmPlexSans;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        display: inline-block;
        margin-top: 81px; }
    .home-wood .color .color__circle .color__circle-border {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative; }
    .home-wood .color .color__circle .color__circle-border:before {
        content: '';
        width: 203px;
        height: 201px;
        opacity: 0.25;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute; }
    .home-wood .color .color__circle .color__circle-border:after {
        content: '';
        width: 155px;
        height: 153px;
        opacity: 0.5;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute; }
    .home-wood .color .color__circle .color__circle-border .gold {
        background-color: #fabf50; }
    .home-wood .color .color__circle .color__circle-border .gold:before {
        border: 1px dashed #fabf50; }
    .home-wood .color .color__circle .color__circle-border .green {
        background-color: #8ac65d; }
    .home-wood .color .color__circle .color__circle-border .green:before {
        border: 1px dashed #8ac65d; }
    .home-wood .color .color__circle .color__circle-border .color__circle-inner {
        width: 89px;
        height: 88px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative; }
    .home-wood .color .color__circle .color__circle-border .color__circle-inner:before {
        content: '';
        width: 115px;
        height: 114px;
        position: absolute;
        right: -13px;
        top: -14px;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .home-wood .color .color__circle .gold-brd:before {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        border: 1px dashed #fabf50; }
    .home-wood .color .color__circle .gold-brd:after {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        border: 1px dashed #fabf50; }
    .home-wood .color .color__circle .green-brd:before {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        border: 1px dashed #8ac65d; }
    .home-wood .color .color__circle .green-brd:after {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        border: 1px dashed #8ac65d; }
    .home-wood .color .color__fonts {
        margin-top: 72px; }
    .home-wood .color .color__fonts span {
        font: 48px/36px GilroyExtraBold;
        font-weight: 400;
        letter-spacing: 1.2px;
        text-align: center;
        display: block; }
    .home-wood .color .color__fonts .gold {
        color: #fabf50; }
    .home-wood .color .color__fonts .green {
        color: #8ac65d; }
    .home-wood .color .color__fonts p {
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 1.2px;
        display: block;
        margin: 0 auto;
        width: 50%;
        margin-top: 21px;
        text-align: center; }
    .home-wood .color .color__fonts .font-gil {
        font: 16px/24px GilroyExtraBold; }
    .home-wood .color .color__fonts .font-ibm {
        font: 16px/24px IbmPlexSans; }
    .home-wood .color .color__img {
        position: relative; }
    .home-wood .color .color__img .color__img-phone {
        display: block;
        width: auto;
        height: 437px;
        top: 218px;
        position: absolute; }
    .home-wood .color .color__img .color__img-phone img{
        max-width: 100%;
        max-height: 100%;
    }
    .home-wood .color .color__img .color__img-desc {
        display: block;
        width: auto;
        height: 993px; }
    .home-wood .color .color__img .color__img-desc img{
        max-width: 100%;
    }
    .home-wood .color .page-title-bg-top {
        right: -20%; }
    .home-wood .color .page-title-bg-bottom-left {
        left: -41%;
        top: 35%; }

    .home-wood .lastpage {
        background-color: #232323;
        position: relative; }
    .home-wood .lastpage .lastpage__bg-circle {
        position: absolute;
        width: 100%;
        top: 20%;
        left: 0px;
        opacity: 0.1; }
    .home-wood .lastpage .lastpage__bg-circle:before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 1600px;
        height: 1600px;
        border: 1px dashed #ecbf4f;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .home-wood .lastpage .lastpage__bg-circle:after {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 1400px;
        height: 1400px;
        border: 1px dashed #ecbf4f;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .home-wood .lastpage .lastpage__bg-circle .lastpage__bg-circle-inner {
        position: absolute;
        width: 100%;
        height: 100%; }
    .home-wood .lastpage .lastpage__bg-circle .lastpage__bg-circle-inner:before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 1100px;
        height: 1100px;
        border: 1px dashed #ecbf4f;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .home-wood .lastpage .lastpage__bg-circle .lastpage__bg-circle-inner:after {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 60px;
        height: 60px;
        border: 1px dashed #ecbf4f;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .home-wood .lastpage .pos-relat {
        position: relative; }
    .home-wood .lastpage .lastpage__iamge {
        position: relative;
        z-index: 1; }
    .home-wood .lastpage .lastpage__iamge img {
        display: block;
        width: 100%;
        height: auto;
        display: block; }
    .home-wood .lastpage .lastpage-pos-rel {
        position: relative;
        padding-top: 100px; }
    .home-wood .lastpage .lastpage-pos-rel img {
        position: relative;
        height: auto;
        width: 655px;
        right: 85px; }
    .home-wood .lastpage .lastpage-pos-rel .lastpage__iamge:last-child(1) {
        position: relative;
        top: 50px; }
    .home-wood .lastpage .lastpage-pos-rel .lastpage__iamge:last-child(1) img {
        bottom: 0; }
    .home-wood .lastpage .lastpage__image-rowbg-bottom {
        position: absolute;
        height: 400px;
        width: 100%;
        bottom: 20%;
        left: 0px; }
    .home-wood .lastpage .lastpage__image-rowbg-bottom:before, .home-wood .lastpage .lastpage__image-rowbg-bottom:after {
        content: '';
        position: absolute;
        width: 85%;
        background-color: #fabf50;
        opacity: 0.2; }
    .home-wood .lastpage .lastpage__image-rowbg-bottom:before {
        left: -80%;
        height: 480px;
        -webkit-clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
        clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%); }
    .home-wood .lastpage .lastpage__image-rowbg-bottom:after {
        right: -80%;
        bottom: -6%;
        height: 480px;
        -webkit-clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
        clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%); }
    .home-wood .lastpage .page-title-bg-top {
        right: -40%; }

    .home-wood .thankyou {
        background-color: #232323;
        padding: 100px 0px; }
    .home-wood .thankyou .thankyou__title {
        color: #8ac65d;
        font: 120px/120px GilroyExtraBold;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        display: block;
        text-align: center; }
    .home-wood .thankyou .thankyou__sub {
        color: #edbf4f;
        font: 80px/80px GilroyExtraBold;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        display: block;
        text-align: center; }
    .home-wood .thankyou img {
        display: block;
        width: auto;
        height: 143px;
        margin: 54px auto 0 auto; }

    @media screen and (max-width: 1024px) {
        .page-title-bg {
            display: none; }
        .home-wood .header .header__inner-layr-img img,
        .home-wood .color .color__img .color__img-desc {
            width: 100%;
            height: auto;
            position: relative; }
        .home-wood .header .header__inner-list .header__inner-list-body span .header__inner-list-body-icon {
            height: 52px; }
        .home-wood .title span {
            font-size: 70px; }
        .home-wood .title .title__top p {
            font-size: 90px; }
        .home-wood .home .home__image:after {
            display: none; }
        .home-wood .lastpage .lastpage-pos-rel img {
            width: 580px; } }

    @media screen and (max-width: 768px) {
        .home-wood .lastpage .lastpage__image-rowbg-bottom {
            display: none; }
        .home-wood .color .color__img .color__img-phone {
            z-index: 1;
            top: 150px; }
        .home-wood .lastpage .lastpage-pos-rel img {
            width: 100%;
            right: 0;
        }
        .home-wood .thankyou .thankyou__title {
            font-size: 80px;
            line-height: 80px; }
        .home-wood .thankyou .thankyou__sub {
            font-size: 60px;
            line-height: 60px; }
        .home-wood .title span{
            font: 42px/42px "GilroyExtraBold"
        }
        .home-wood .title .title__bottom{
            padding-left: 40%;
        }
    }

    @media screen and (max-width: 425px) {
        .home-wood .header .header__inner-list .header__inner-list-body-printed:nth-child(2) {
            float: none;
            margin-left: 0px; }
        .home-wood .header .header__inner-list .header__inner-list-body p {
            font-size: 16px; }
        .home-wood .header .header__inner-list {
            padding-left: 15px; }
        .home-wood .header .header__inner-logo {
            margin-bottom: 20px; }
        .home-wood .header {
            padding-top: 45px; }
        .home-wood .header .header__inner-list .header__inner-list-body span {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .home-wood .title span {
            font-size: 32px;
            line-height: 32px; }
        .home-wood .title .title__bottom,
        .home-wood .colsystem .title .title__bottom {
            padding-left: 150px; }
        .home-wood .colsystem .colsystem__bg {
            width: 90%;
            -webkit-background-size: contain;
            background-size: contain; }
        .home-wood .color .color__img .color__img-phone {
            position: static;
            top: 100px; }
        .home-wood .color .color__img .color__img-phone {
            height: 200px; }
        .home-wood .color {
            padding-bottom: 0px; }
        .home-wood .lastpage .lastpage-pos-rel img {
            width: 100%;
            right: 0px; }
        .home-wood .lastpage .lastpage-pos-rel {
            padding-top: 0px; }
        .home-wood .thankyou .thankyou__title {
            font-size: 42px;
            line-height: 42px; }
        .home-wood .thankyou .thankyou__sub {
            font-size: 32px;
            line-height: 32px; }
        .home-wood .thankyou img {
            height: 100px; }
        .home-wood .lastpage .lastpage__bg-circle {
            display: none; }


    }

    @media screen and (max-width: 425px) {
        .home-wood .colsystem {
            padding-top: 0px; }
        .home-wood .header .header__inner-list .header__inner-list-body span .header__inner-list-body-icon {
            height: 38px; }
        .home-wood .header .header__inner-list .header__inner-list-body span .header__inner-list-body-icon {
            margin: 0px 45px 40px 0px; }
        .home-wood .header .header__inner-list .header__inner-list-body span ul li p{
            margin-bottom: 0px
        }
        .home-wood .header .header__inner-list .header__inner-list-body span ul{
            padding-left: 0px;
        }
        .home-wood .header .header__inner-list .header__inner-list-body .header__inner-list-body-color{
            margin-right: 15px;
        }
        .home-wood .header .header__inner-layr-img{
            padding: 0px 15px;
        }
    }

    @media screen and (max-width: 320px) {
        .home-wood .color .color__img .color__img-phone {
            top: 70px;
            height: 150px; }
        .home-wood .title .title__top p {
            font-size: 62px; }
        .home-wood .title span {
            font-size: 28px; }
        .home-wood .header .header__inner-list .header__inner-list-body span .header__inner-list-body-icon {
            height: 28px; }
        .home-wood .header .header__inner-list .header__inner-list-body .header__inner-list-body-color {
            margin-bottom: 10px; }
        .home-wood .header .header__inner-list .header__inner-list-body span ul li p {
            margin: 5px 0px; }
        .home-wood .title {
            margin: 30px 0px 40px 0px; }
        .home-wood .color .title {
            margin: 30px 0px 0px 0px; }
        .home-wood .colsystem .colsystem__sub-bottom-title {
            margin-bottom: 0px; }
        .home-wood .color .color__circle {
            padding-bottom: 0px; }
        .home-wood .color .color__fonts p {
            width: 100%; }
        .home-wood .thankyou {
            padding: 30px 0px; } }
        .main_page_title {
            text-transform: uppercase;
            text-align: center;
            font-size: 40px;
            position: relative;
            z-index: 1;
            font-weight: normal;
            line-height: 1;
            font-family: 'Gotham Pro';
        }
        @media screen and (max-width: 767px) {
            .main_page_title {
                font-size: 32px;
            }
        }
        @media screen and (max-width: 430px) {
            .main_page_title {
                font-size: 24px;
            }
        }

</style>