<template>
    <u-animate-container
            :config="config">
        <main class="housefit">
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина спортивного оборудования HouseFit на Framework Laravel"
                description="Разработка интернет-магазина спортивного оборудования и товаров для компании HouseFit, разработан на фреймворке Laravel 5. Адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="housefit-header">
            <div class="row">
                <div class="col-xs-12 center">
                <h1 class="main_page_title">Разработка интернет-магазина спортивных товаров</h1>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <a class="btn read-more" tabindex="-1" href="http://housefit.ua/" rel="nofollow" target="blank">Перейти на сайт</a>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="housefit-about">
            <div class="container ">
                <div class="row">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1"
                    >
                        <h3>О проекте</h3>
                        <div class="divider"></div>
                        <p>Для компании "House Fit" был разработан интернет-магазин для продажи спортивного оборудования. Сайт имеет перональную админ панель на динамическом фреймфорке.</p>
                    </u-animate>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6 col-lg-5"
                    >
                        <h3>Инструменты разработки</h3>
                        <div class="divider"></div>
                        <ul>
                            <li>Concept design</li>
                            <li>Web UI/UX Design</li>
                            <li>Web Development</li>
                            <li>Front-End: фреймворк Materialize</li>
                            <li>Back-End: фреймворк Laravel 5</li>
                        </ul>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="housefit-design">
            <div class="row">
                <div class="col-xs-12"></div>
            </div>
        </section>

        <section class="housefit-developer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center">
                        <h3>Этапы реализации проекта</h3>
                        <div class="divider"></div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1 left">
                        <ul>
                            <u-animate
                                    name="bounceInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="li"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                Техническое задание (2 недели)
                            </u-animate>
                            <u-animate
                                    name="bounceInLeft"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="li"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                Создание прототипов (1 неделя)
                            </u-animate>
                            <u-animate
                                    name="bounceInLeft"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="li"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                Создание эскизов (1 неделя)
                            </u-animate>
                            <u-animate
                                    name="bounceInLeft"
                                    delay="0.6s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="li"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                Моделирование сцен (3 недели)
                            </u-animate>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6 right">
                        <ul>
                            <u-animate
                                    name="bounceInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="li"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                Подготовка моделей для интеграции в сайт (2 недели)
                            </u-animate>
                            <u-animate
                                    name="bounceInRight"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="li"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                Программирование, тестирование, отладка (4 недели)
                            </u-animate>
                            <u-animate
                                    name="bounceInRight"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="li"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                Публикация и завершение (1 неделя)
                            </u-animate>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="housefit-pages">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p>Главная страница сайта</p>
                        <img src="~@/assets/images/housefit/mainPage.jpg" alt="">
                    </u-animate>

                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p>Cтраница категории</p>
                        <img src="~@/assets/images/housefit/categoryPage.jpg" alt="">
                    </u-animate>

                    <u-animate
                            name="bounceInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p>Cтраница товара</p>
                        <img src="~@/assets/images/housefit/productPage.jpg" alt="">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="housefit-adaptive">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="bounceInDown"
                            delay="0.5s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <h3>Адаптивность</h3>
                        <div class="divider"></div>
                        <p>Компания MobiOS разработала для компании "HouseFit"мобильную и планшетную версию сайтов, которые разрабатывались на фреймворке LARAVEL 5.</p>
                    </u-animate>

                    <u-animate
                            name="bounceInDown"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <h3>Продвижение</h3>
                        <div class="divider"></div>
                        <p>Сайтом занимаются наши сео оптимизаторы студии. Данная компания распространяет свои товары в Болгарии, Румынии и Украине.</p>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="housefit-specials">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center">
                        <h3>Особенности сайта</h3>
                        <div class="divider"></div>
                    </div>
                    <div class="col-xs-12 blocks">
                        <div class="col-xs-12 col-md-4 block1">
                            <p>Muli</p>
                            <p>ABCDEFGHIJKLMNOP</p>
                            <p>abcdefghijklmnop</p>
                            <p>0123456789</p>
                        </div>
                        <div class="col-xs-12 col-md-4 block2">
                            <p>Avante Bs Regular</p>
                            <p>АБВГДЕЁЖЗИЙКЛМНО</p>
                            <p>абвгдеёжзийклмно</p>
                            <p>0123456789</p>
                        </div>
                        <div class="col-xs-12 col-md-4 block3">
                            <p>Avante BsNr Bold</p>
                            <p>АБВГДЕЁЖЗИЙКЛМНО</p>
                            <p>абвгдеёжзийклмно</p>
                            <p>0123456789</p>
                        </div>
                    </div>
                    <div class="col-xs-12 center">
                        <img src="~@/assets/images/housefit/iconSport.png" alt="">
                    </div>
                    <div class="col-xs-12 circles center">
                        <div class="circle1">
                            <p>ФИОЛЕТОВЫЙ #9f3b9d</p>
                        </div>
                        <div class="circle2">
                            <p>ЗЕЛЕНЫЙ #7cb342</p>
                        </div>
                        <div class="circle3">
                            <p>ОРАНЖЕВЫЙ #ff9800</p>
                        </div>
                    </div>
                    <div class="col-xs-12 center">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12"
                        >
                            <a class="btn-1 read-more" tabindex="-1" href="http://housefit.ua/" rel="nofollow" target="blank">Перейти на сайт</a>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }
            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style lang="scss"  scoped>
    @font-face {
        font-family: 'robotoregular_3';
        src: url('~@/assets/fonts/Roboto-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'MuliRegular';
        src: url('~@/assets/fonts/MuliRegular.eot');
        src: url('~@/assets/fonts/MuliRegular.eot') format('embedded-opentype'),
        url('~@/assets/fonts/MuliRegular.woff2') format('woff2'),
        url('~@/assets/fonts/MuliRegular.woff') format('woff'),
        url('~@/assets/fonts/MuliRegular.ttf') format('truetype'),
        url('~@/assets/fonts/MuliRegular.svg#MuliRegular') format('svg');
    }
    @font-face {
        font-family: 'avanteRegular';
        src: url('~@/assets/fonts/avante.eot');
        src: url('~@/assets/fonts/avante.eot') format('embedded-opentype'),
        url('~@/assets/fonts/avante.woff2') format('woff2'),
        url('~@/assets/fonts/avante.woff') format('woff'),
        url('~@/assets/fonts/avante.ttf') format('truetype'),
        url('~@/assets/fonts/avante.svg#avante') format('svg');
    }
    @font-face {
        font-family: 'avantibold';
        src: url('~@/assets/fonts/avantibold_allfont_ru.eot');
        src: url('~@/assets/fonts/avantibold_allfont_ru.eot') format('embedded-opentype'),
        url('~@/assets/fonts/avantibold_allfont_ru.woff2') format('woff2'),
        url('~@/assets/fonts/avantibold_allfont_ru.woff') format('woff'),
        url('~@/assets/fonts/avantibold_allfont_ru.ttf') format('truetype'),
        url('~@/assets/fonts/avantibold_allfont_ru.svg#avantibold_allfont_ru') format('svg');
    }

    section{
        width: 100%;
    }

    .center {
        text-align: center;
    }
    body.housefit {
        /*overflow-x: hidden;*/
    }
    .housefit h3 {
        margin: 36px 0 24px 0;
    }
    .housefit .divider {
        width: 137px;
        height: 6px;
        background-color: #a1449e;
        display: inline-block;
    }

    .housefit .housefit-header {
        background: url("~@/assets/images/housefit/bgHeader.jpg") no-repeat center;
        background-size: cover;
        height: 750px;
    }

    .housefit .housefit-header h1 {
        text-align: center;
        color: #fefefe;
        font-family: Calibri, sans-serif;
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 50px 0 40px 0;
        @media screen and (max-width: 1024px){
            font-size: 18px;
        }
    }

    .housefit .housefit-header span {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 300;
    }

    .housefit button.buttonRed {
        margin-top: 35px;
    }

    .housefit button.buttonRed span:first-child {
        float: left;
        width: 230px;
        height: 41px;
        padding: 10px 0 0 0;
        font-size: 18px;
        text-align: center;
    }

    .housefit button.buttonRed span:last-child {
        float: left;
        width: 41px;
        height: 41px;
        position: relative;
    }

    button.buttonRed span:last-child:after {
        content: ">";
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 25%;
        left: 45%;
    }

    .housefit .housefit-about {
        background-color: #efeded;
        padding-bottom: 20px;
    }

    .housefit .housefit-about h3 {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 35px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .housefit .housefit-about p {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        width: 385px;
        margin-top: 16px;
    }

    .housefit .housefit-about ul {
        margin-top: 15px;
        padding-left: 0;
    }

    .housefit .housefit-about ul li {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        list-style: none;
    }

    .housefit .housefit-design {
        background: url("~@/assets/images/housefit/bgDesign.jpg") no-repeat center;
        background-size: contain;
        height: 682px;
    }

    .housefit .housefit-developer {
        background: url("~@/assets/images/housefit/bgDeveloper.jpg") no-repeat center;
        background-size: cover;
        height: 447px;
        border-bottom: 6px solid #a1449e;
    }

    .housefit .housefit-developer h3 {
        color: #fff;
        font-family: Calibri, sans-serif;
        font-size: 35px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .housefit .housefit-developer .divider {
        background-color: #fff;
    }

    .housefit .housefit-developer ul {
        padding-top: 40px;

    }

    .housefit .housefit-developer .left ul li, .housefit-developer .right ul li {
        color: #fff;
        font-family: Calibri, sans-serif;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 25px;
        list-style: none;
    }

    .housefit .housefit-developer .right ul li {
        margin-bottom: 22px;
    }

    .housefit .housefit-developer .left ul li:nth-child(1):before {
        content: url("~@/assets/images/housefit/ico1.png");
        position: relative;
        top: 10px;
        right: 30px;
    }

    .housefit .housefit-developer .left ul li:nth-child(2):before {
        content: url("~@/assets/images/housefit/ico2.png");
        position: relative;
        top: 10px;
        right: 30px;
    }

    .housefit .housefit-developer .left ul li:nth-child(3):before {
        content: url("~@/assets/images/housefit/ico3.png");
        position: relative;
        top: 10px;
        right: 30px;
    }

    .housefit .housefit-developer .left ul li:nth-child(4):before {
        content: url("~@/assets/images/housefit/ico4.png");
        position: relative;
        top: 10px;
        right: 30px;
    }

    .housefit .housefit-developer .right ul li:nth-child(1):before {
        content: url("~@/assets/images/housefit/ico5.png");
        position: relative;
        top: 10px;
        right: 30px;
    }

    .housefit .housefit-developer .right ul li:nth-child(2):before {
        content: url("~@/assets/images/housefit/ico6.png");
        position: relative;
        top: 10px;
        right: 30px;
    }

    .housefit .housefit-developer .right ul li:nth-child(3):before {
        content: url("~@/assets/images/housefit/ico7.png");
        position: relative;
        top: 10px;
        right: 30px;
    }

    .housefit .housefit-pages {
        margin-top: 30px;
    }

    .housefit .housefit-pages p {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        font-weight: 300;
    }

    .housefit .housefit-pages img {
        width: 100%;
    }

    .housefit .housefit-adaptive {
        background: url("~@/assets/images/housefit/bgAdaptive.jpg") no-repeat center;
        background-size: cover;
        height: 513px;
    }

    .housefit .housefit-adaptive h3 {
        color: #fff;
        font-family: Calibri, sans-serif;
        font-size: 35px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 60px;
    }

    .housefit .housefit-adaptive .divider {
        background-color: #fff;
    }

    .housefit .housefit-adaptive p {
        color: #fff;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        width: 450px;
    }

    .housefit .housefit-specials h3 {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 35px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .housefit .housefit-specials .blocks p {
        color: #414141;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
    }

    .housefit .housefit-specials .block1 p {
        color: #414141;
        font-family: MuliRegular;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .housefit .housefit-specials .block2 p {
        color: #414141;
        font-family: avanteRegular;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .housefit .housefit-specials .block3 p {
        color: #414141;
        font-family: avantebold;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .housefit .housefit-specials .block1, .housefit-specials .block2, .housefit-specials .block3 {
        border: 2px solid #9f3b9d;
        margin-bottom: 30px;
    }

    .housefit .housefit-specials .circles {
        margin-top: 30px;
    }

    .housefit .housefit-specials .circles p {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
        padding-top: 80px;
    }

    .housefit .housefit-specials .circle1, .circle2, .circle3 {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        display: inline-block;
    }

    .housefit .housefit-specials .circle1 {
        background-color: #9f3b9d;
    }

    .housefit .housefit-specials .circle2 {
        background-color: #7cb342;
        margin: 0 30px 0;
    }

    .housefit .housefit-specials .circle3 {
        background-color: #ff9800;
    }

    .housefit .housefit-specials button {
        margin: 100px 0;
    }
    .housefit .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/housefit/arrowBtnRight.png) left center no-repeat #ef5350;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 0;
        z-index: 10;
    }
    .housefit .read-more:hover {
        background: url(~@/assets/images/housefit/arrowBtnRight.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none;
        z-index: 10;
    }
    .housefit .btn-1.read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/housefit/arrowBtnRight.png) left center no-repeat #ef5350;
        background-position-x: 85%;
        border: 2px solid transparent;
        margin-top: 30px;
        margin-bottom: 70px;
        z-index: 10;
    }
    .housefit .btn-1.read-more:hover {
        background: url(~@/assets/images/housefit/arrowBtnRight-hover.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #000;
        color: #000;
        text-decoration: none;
        z-index: 10;
    }
    .housefit-specials p {
        margin: 12px 0;
    }
    /* Media */

    @media screen and (max-width: 1550px) {

        .housefit .housefit-about {
            background-color: #efeded;
            padding-bottom: 20px;
            margin-top: -12px;
        }

    }

    @media screen and (max-width: 1024px) {

        .housefit .housefit-about h3 {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 33px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .housefit .housefit-about ul {
            margin-top: 12px;
        }

        .housefit .housefit-developer h3 {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 33px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .housefit .housefit-developer .left ul li, .housefit-developer .right ul li {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 19px;
            font-weight: 300;
            margin-bottom: 25px;
        }

        .housefit .housefit-developer .right ul li {
            margin-bottom: 53px;
        }

        .housefit .housefit-adaptive h3 {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 33px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 60px;
        }

        .housefit .housefit-adaptive p {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 19px;
            font-weight: 300;
            line-height: 25px;
            width: 450px;
        }

        .housefit .housefit-specials h3 {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 33px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
        }

    }

    @media screen and (max-width: 767px) {

        .housefit .housefit-about h3 {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 29px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .housefit .housefit-about p {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            width: 385px;
        }

        .housefit .housefit-about ul li {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
        }

        .housefit .housefit-design {
            background: url("~@/assets/images/housefit/bgDesign.jpg") no-repeat center;
            background-size: cover;
            height: 550px;
        }

        .housefit .housefit-developer h3 {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 29px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .housefit .housefit-developer .left ul li:nth-child(1):before {
            content: "";
        }

        .housefit .housefit-developer .left ul li:nth-child(2):before {
            content: "";
        }

        .housefit .housefit-developer .left ul li:nth-child(3):before {
            content: "";
        }

        .housefit .housefit-developer .left ul li:nth-child(4):before {
            content: "";
        }

        .housefit .housefit-developer .right ul li:nth-child(1):before {
            content: "";
        }

        .housefit .housefit-developer .right ul li:nth-child(2):before {
            content: "";
        }

        .housefit .housefit-developer .right ul li:nth-child(3):before {
            content: "";
        }

        .housefit .housefit-developer .right ul li {
            margin-bottom: 28px;
        }

        .housefit .housefit-developer ul {
            margin-top: 30px;
        }

        .housefit .housefit-adaptive h3 {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 29px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 60px;
        }

        .housefit .housefit-adaptive p {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 19px;
            font-weight: 300;
            line-height: 25px;
            width: 310px;
        }

        .housefit .housefit-adaptive h3 {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 29px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 35px;
        }

        .housefit .housefit-specials .block1 p {
            color: #414141;
            font-family: Muli;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
        }

        .housefit .housefit-specials .block2 p {
            color: #414141;
            font-family: avanteRegular;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
        }

        .housefit .housefit-specials .block3 p {
            color: #414141;
            font-family: avantebold;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
        }

        .housefit .housefit-specials button {
            margin: 50px 0;
        }
        .housefit .housefit-header .read-more {
            display: none;
        }
    }

    @media screen and (max-width: 736px) {

        .housefit .housefit-about h3 {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 25px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .housefit .housefit-about p {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            width: 350px;
        }

        .housefit .housefit-developer {
            background: url("~@/assets/images/housefit/bgDeveloper.jpg") no-repeat center;
            background-size: cover;
            height: 347px;
            border-bottom: 6px solid #a1449e;
        }

        .housefit .housefit-developer ul {
            margin-top: 0px;
        }

        .housefit .housefit-adaptive p {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            width: 290px;
        }

    }

    @media screen and (max-width: 667px) {

        .housefit .housefit-header {
            background: url("~@/assets/images/housefit/bgHeader.jpg") no-repeat center;
            background-size: cover;
            height: 350px;
        }

        .housefit .housefit-about p {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            width: 315px;
        }

        .housefit .housefit-design {
            background: url("~@/assets/images/housefit/bgDesign.jpg") no-repeat center;
            background-size: cover;
            height: 365px;
        }

        .housefit .housefit-specials .block1 p {
            color: #414141;
            font-family: Muli;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }

        .housefit .housefit-specials .block2 p {
            color: #414141;
            font-family: avanteRegular;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }

        .housefit .housefit-specials .block3 p {
            color: #414141;
            font-family: avantebold;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }

        .housefit .housefit-specials img {
            width: 100%;
        }

    }

    @media screen and (max-width: 568px) {

        .housefit .housefit-header h1 {
            text-align: center;
            color: #fefefe;
            font-family: Calibri, sans-serif;
            font-size: 16px;
            line-height: 30px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .housefit .housefit-header span {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 300;
        }

        .housefit button.buttonRed {
            margin-top: 0px;
        }

        .housefit button.buttonRed span:first-child {
            float: left;
            width: 200px;
            height: 31px;
            padding: 9px 0 0 0;
            font-size: 16px;
            text-align: center;
        }

        .housefit button.buttonRed span:last-child {
            float: left;
            width: 31px;
            height: 31px;
            position: relative;
        }

        .housefit .housefit-about h3 {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 25px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            padding-top: 20px;
        }

        .housefit .housefit-about p {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            width: 100%;
        }

        .housefit .housefit-developer h3 {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 25px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            padding-top: 20px;
        }

        .housefit .housefit-developer .left ul li, .housefit-developer .right ul li {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            margin-bottom: 0px;
        }

        .housefit .housefit-developer .right ul li {
            margin-bottom: 0px;
        }

        .housefit .housefit-developer .left ul {
            padding-top: 20px;
        }

        .housefit .housefit-developer .right ul {
            padding-top: 0;
        }

        .housefit .housefit-developer {
            background: url("~@/assets/images/housefit/bgDeveloper.jpg") no-repeat center;
            background-size: cover;
            height: 300px;
            border-bottom: 6px solid #a1449e;
        }

        .housefit .housefit-adaptive {
            background: url("~@/assets/images/housefit/bgAdaptive.jpg") no-repeat -465px;
            background-size: cover;
            height: 450px;
        }

        .housefit .housefit-adaptive h3 {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 25px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 35px;
            padding-top: 20px;
        }

        .housefit .housefit-adaptive p {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            width: 300px;
        }

        .housefit .housefit-specials h3 {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 25px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            padding-top: 20px;
        }

        .housefit .housefit-specials .blocks {
            margin-top: 20px;
        }

        .housefit .housefit-specials button {
            margin: 20px 0 0 0;
        }

    }

    @media screen and (max-width: 414px) {

        .housefit .housefit-design {
            background: url("~@/assets/images/housefit/bgDesign.jpg") no-repeat center;
            background-size: cover;
            height: 250px;
        }

        .housefit .housefit-developer {
            background: url("~@/assets/images/housefit/bgDeveloper.jpg") no-repeat center;
            background-size: cover;
            height: 350px;
            border-bottom: 6px solid #a1449e;
        }

        .housefit .housefit-adaptive {
            background: url("~@/assets/images/housefit/bgAdaptive.jpg") no-repeat -655px;
            background-size: cover;
            height: 510px;
        }

        .housefit .housefit-adaptive p {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;
            width: 220px;
        }

    }

    @media screen and (max-width: 320px) {

        .housefit .housefit-about h3 {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 22px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            padding-top: 20px;
        }

        .housefit .housefit-developer h3 {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 22px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            padding-top: 20px;
        }

        .housefit .housefit-adaptive h3 {
            color: #fff;
            font-family: Calibri, sans-serif;
            font-size: 22px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 35px;
            padding-top: 20px;
        }

        .housefit .housefit-specials h3 {
            color: #414141;
            font-family: Calibri, sans-serif;
            font-size: 22px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
            padding-top: 20px;
        }

        .housefit .housefit-specials .circle1, .circle2, .circle3 {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: inline-block;
        }

    }
    /* Media*/

     .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
        /*margin-bottom: 30px;*/
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }

    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }
</style>