<template>
    <u-animate-container
            :config="config">
        <main class="ideal">
        <!--set meta data-->
        <vue-headful
                title="Разработка корпоративного сайта для строительной компании Idealstroy"
                description="Разработка корпоративного сайта для строительной компании Idealstroy - строительство и ремонт квартир и домов. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="first-screen">
            <div class="custom_container">
                <u-animate
                        name="slideInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="logo-block"
                >
                    <img src="~@/assets/images/idealstroy/logo.png"
                         alt="logo">
                    <p class="linkToSite">
                        <a href="https://idealstroy.od.ua/">перейти на сайт</a>
                    </p>

                </u-animate>
                <div class="info-wrap">
                    <u-animate
                            name="fadeIn"
                            delay="0.4s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-block"
                    >
                        <div class="list-block">
                            <p class="list-num">
                                1</p>
                            <div class="list-dot"></div>
                        </div>
                        <div class="info">
                            <h1 class="info-title">
                                Разработан UX/UI
                                Design
                                корпоративного
                                сайта</h1>
                            <div class="icons-block">
                                <img class="svg" src="~@/assets/images/idealstroy/laptop.svg" alt="">
                                <img class="svg" src="~@/assets/images/idealstroy/smarphone.svg" alt="">
                                <img class="svg" src="~@/assets/images/idealstroy/tablet.svg" alt="">
                            </div>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeIn"
                            delay="0.6s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-block"
                    >
                        <div class="list-block">
                            <p class="list-num">
                                2</p>
                            <div class="list-dot"></div>
                        </div>
                        <div class="info">
                            <p class="info-title">
                                Подбор фирменных
                                цветов</p>
                            <div class="icons-block icons-color-block">
                                <div class="color-block">
                                    <div class="circle">
                                        <img src="~@/assets/images/idealstroy/yellow-circle.png"
                                             alt="">
                                    </div>
                                    <p>#f1c734</p>
                                </div>
                                <div class="color-block">
                                    <div class="circle">
                                        <img src="~@/assets/images/idealstroy/red-circle.png"
                                             alt="">
                                    </div>
                                    <p>#e4613e</p>
                                </div>
                            </div>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeIn"
                            delay="0.8s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-block"
                    >
                        <div class="list-block">
                            <p class="list-num">
                                3</p>
                            <div class="list-dot"></div>
                        </div>
                        <div class="info">
                            <p class="info-title">
                                Подбор фирменных
                                шрифтов</p>
                            <div class="alphabet-block">
                                <p class="alphabet-title">
                                    Open Sans</p>
                                <p class="alphabet-text">
                                    a б в г д е ё
                                    ж з и й к л м
                                    н о
                                    <br>
                                    п р с т у ф х
                                    ц ч ш щ ъ ы ь
                                    э ю я
                                </p>
                            </div>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeIn"
                            delay="1s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-block"
                    >
                        <div class="list-block">
                            <p class="list-num">
                                4</p>
                            <div class="list-dot"></div>
                        </div>
                        <div class="info">
                            <p class="info-title">
                                Разработка
                                остальных страниц
                                сайта</p>
                            <div class="ul-list">
                                <ul>
                                    <li>Услуги
                                    </li>
                                    <li>Контакты
                                    </li>
                                </ul>
                                <ul>
                                    <li>О
                                        компании
                                    </li>
                                    <li>Страница
                                        проекта
                                    </li>
                                </ul>
                                <ul>
                                    <li>Галерея
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeIn"
                            delay="1.2s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-block"
                    >
                        <div class="list-block">
                            <p class="list-num">
                                5</p>
                            <div class="list-dot"></div>
                        </div>
                        <div class="info">
                            <p class="info-title">
                                Иконографика</p>
                            <div class="iconography-block">
                                <img src="~@/assets/images/idealstroy/discussion.svg" alt="">
                                <img src="~@/assets/images/idealstroy/accounting.svg" alt="">
                                <img src="~@/assets/images/idealstroy/contract.svg" alt="">
                                <img src="~@/assets/images/idealstroy/execution.svg" alt="">
                                <img src="~@/assets/images/idealstroy/document.svg" alt="">
                                <img src="~@/assets/images/idealstroy/rating.svg" alt="">
                                <img src="~@/assets/images/idealstroy/award.svg" alt="">
                                <img src="~@/assets/images/idealstroy/setting.svg" alt="">
                                <img src="~@/assets/images/idealstroy/hand.svg" alt="">
                                <img src="~@/assets/images/idealstroy/protection.svg" alt="">
                                <img src="~@/assets/images/idealstroy/house.svg" alt="">
                            </div>
                        </div>
                    </u-animate>
                </div>
            </div>
            <u-animate
                    name="zoomInLeft"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="desktop-block"
            >
                <img src="~@/assets/images/idealstroy/fs-desktop.png"
                     alt="">
            </u-animate>
            <u-animate
                    name="rotateIn"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="fs-square-block"
            >
                <img src="~@/assets/images/idealstroy/fs-square.png"
                     alt="">
            </u-animate>
        </section>
        <section class="main-page">
            <div class="custom_container">
                <u-animate
                        name="slideInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <h2>
                        Главная<br><span>страница</span>
                    </h2>
                </u-animate>
                <div class="h2-line"></div>
                <u-animate
                        name="rotateIn"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="fs-square"
                >
                    <img src="~@/assets/images/idealstroy/fs-square.png"
                         alt="">
                </u-animate>
            </div>
            <div class="content">
                <u-animate
                        name="zoomInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="img-block"
                >
                    <img src="~@/assets/images/idealstroy/mainpage1.png"
                         alt="">
                </u-animate>
            </div>
        </section>
        <section class="color-section">
            <div class="custom_container">
                <u-animate
                        name="slideInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                <h2>
                    Цветовое<br><span>решение</span>
                </h2>
                </u-animate>
                <div class="h2-line"></div>
                <div class="color-wrap">
                    <div class="color-block">
                        <u-animate
                                name="zoomIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color-item"
                        >
                            <img src="~@/assets/images/idealstroy/color-sec-yellow.png"
                                 alt="">
                        </u-animate>
                        <p>#f1c734</p>
                    </div>
                    <div class="color-block">
                        <u-animate
                                name="zoomIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="color-item"
                        >
                            <img src="~@/assets/images/idealstroy/color-sec-red.png"
                                 alt="">
                        </u-animate>
                        <p>#e4613e</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="font-section">
            <div class="custom_container">
                <u-animate
                        name="slideInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                <h2>
                    Шрифтовое<br><span>решение</span>
                </h2>
                </u-animate>
                <div class="h2-line"></div>
                <div class="font-wrap">
                    <div class="alphabet-section">
                        <p class="alphabet-title">
                            Open Sans</p>
                        <div class="divider"></div>
                        <div class="alphabet-block">
                            <p class="alphabet-text uppercase">
                                a б в г д е ё ж з
                                и й к л м н о
                                <br>
                                п р с т у ф х ц ч
                                ш щ ъ ы ь э ю я
                            </p>
                            <p class="alphabet-text">
                                a б в г д е ё ж з
                                и й к л м н о
                                <br>
                                п р с т у ф х ц ч
                                ш щ ъ ы ь э ю я
                            </p>
                        </div>
                    </div>
                    <u-animate
                            name="rotateIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="fs-square"
                    >
                        <img src="~@/assets/images/idealstroy/fs-square.png"
                             alt="">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="other-pages">
            <div class="custom_container">
                <u-animate
                        name="slideInDown"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                <h2>
                    Остальные<br><span>страницы</span>
                    <div class="h2-line"></div>
                </h2>
                </u-animate>
                <div class="content">
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="first-block"
                    >
                        <img src="~@/assets/images/idealstroy/otherpages1.png"
                             alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0.5s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="second-block"
                    >
                        <div class="second-page">
                            <img src="~@/assets/images/idealstroy/otherpages2.png"
                                 alt="">
                        </div>
                    </u-animate>
                    <u-animate
                            name="slideInDown"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <h2 class="thanks">
                        Спасибо<br><span>за просмотр</span>
                    </h2>
                    </u-animate>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }
            }
        },
        components: {
            UAnimateContainer,
            UAnimate
        },
    }
</script>

<style scoped>
    @font-face {
        font-family: 'OpenSans-Bold';
        src: url('~@/assets/fonts/OpenSansBold.eot') format('embedded-opentype'),
        url('~@/assets/fonts/OpenSansBold.svg') format('svg'),
        url('~@/assets/fonts/OpenSansBold.woff') format('woff'),
        url('~@/assets/fonts/OpenSansBold.woff2') format('woff2'),
        url('~@/assets/fonts/OpenSansBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'OpenSans-Regular';
        src: url('~@/assets/fonts/OpenSansRegular.eot') format('embedded-opentype'),
        url('~@/assets/fonts/OpenSansRegular.svg') format('svg'),
        url('~@/assets/fonts/OpenSansRegular.woff') format('woff'),
        url('~@/assets/fonts/OpenSansRegular.woff2') format('woff2'),
        url('~@/assets/fonts/OpenSansRegular.ttf') format('truetype');
    }
    .ideal {
        font-family: 'OpenSans-Regular', sans-serif;
    }

    ul {
        list-style: inherit;
        padding-left: 0;
    }
    p, h2, h3{
        margin: 0;
    }

    .custom_container {
        width: 70%;
        margin: 0 auto;
    }

    .first-screen {
        position: relative;
    }

    .desktop-block img,
    .fs-square img {
        width: 100%;
    }

    .desktop-block {
        position: absolute;
        width: 50%;
        right: 12%;
        top: 50%;
        transform: translateY(-50%);
    }

    .fs-square {
        position: absolute;
        right: 46%;
        top: 36%;
        z-index: -1;
        width: 15%;
    }

    .logo-block {
        margin-bottom: 25px;
    }

    .icons-block {
        display: flex;
        align-items: center;
    }

    .icons-block .svg:not(:last-child) {
        margin-right: 30px;
    }

    .icons-block .svg{
        height: 26px;
    }

    .laptop {
        width: auto;
        height: 32px;
    }

    .smartphone {
        width: auto;
        height: 32px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .tablet {
        width: auto;
        height: 32px;
    }

    .list-block {
        display: flex;
        align-items: center;
    }

    .list-num {
        font-size: 24px;
        font-family: 'OpenSans-ExtraBold', sans-serif;
    }

    .list-dot {
        width: 5px;
        height: 5px;
        background-color: #f1c734;
        margin: 0 14px;
        border-radius: 10px;
    }

    .info-title {
        font-size: 18px;
        font-family: 'OpenSans-Bold', sans-serif;
        margin-bottom: 23px;
    }

    .info-block {
        display: flex;
        align-items: baseline;
        margin-bottom: 25px;
    }

    .color-block:not(:last-child) {
        margin-right: 40px;
    }

    .color-block p {
        text-transform: uppercase;
        font-size: 14px;
    }

    .circle img {
        width: 100%;
    }

    .circle {
        margin-right: 6px;
    }

    .color-block {
        display: flex;
        align-items: center;
    }

    .alphabet-title {
        font-size: 16px;
        font-family: 'OpenSans-Bold', sans-serif;
        margin-bottom: 6px;
    }

    .alphabet-text {
        font-size: 14px;
    }

    .ul-list {
        display: flex;
    }

    .ul-list ul {
        list-style: none;
    }

    .ul-list ul:not(:last-child) {
        margin-right: 30px;
    }

    .iconography-block {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }

    .iconography-block img {
        height: 33px;
        width: 40px;
        margin-bottom: 13px;
    }

    .iconography-block img:not(:last-of-type) {
        margin-right: 25px;
    }

    h2 {
        font-family: 'OpenSans-ExtraBold', sans-serif;
        font-size: 64px;
        color: #f1c734;
        text-transform: uppercase;
        line-height: 48px;
    }

    h2 span {
        color: #555;
        font-size: 36px;
    }

    .h2-line {
        width: 61px;
        height: 3px;
        background-color: #e5c545;
        margin: 20px 0;
    }

    .main-page {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    .main-page .custom_container {
        position: relative;
    }

    .main-page .fs-square {
        position: absolute;
        right: 0;
        top: 62px;
    }

    .main-page .fs-square img {
        width: 70%;
    }

    .main-page .content {
        width: 91%;
        margin-left: auto;
    }

    .main-page .content img {
        width: 110%;
    }

    .color-section {

    }

    .color-section h2 {
        text-align: right;
    }

    .color-section .h2-line {
        margin-left: auto;
    }

    .color-section .color-block p {
        text-transform: uppercase;
        font-size: 28px;
        font-family: 'OpenSans-ExtraBold', sans-serif;;
        color: #444;
        position: relative;
        top: -20px;
        left: -120px;
    }

    .color-section .color-wrap,
    .color-section .color-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .color-section .color-wrap {
        margin: 50px 0;
    }

    .font-section {
        margin: 90px 0;
    }

    .font-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .alphabet-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .font-wrap .fs-square {
        position: static;
    }

    .linkToSite{
        text-align: center;
        max-width: 485px;
    }
    @media screen and (max-width: 1199px){
        .linkToSite{
            max-width: 65%;
            margin: 20px auto 0;
        }
    }

    .linkToSite a{
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        padding: 10px 25px;
        background-color: #E4613E;
        border: 2px solid #E4613E;
        transition: all .3s;
        white-space: nowrap;
    }
    .linkToSite a:hover{
        text-decoration: none;
        color: #E4613E;
        background-color: #fff;
    }

    .font-wrap .alphabet-title {
        text-transform: uppercase;
        font-size: 34px;
        font-family: 'OpenSans-Bold', sans-serif;
    }

    .font-wrap .divider {
        background-color: #f1c734;
        width: 1px;
        height: 103px;
        margin: 0 66px;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .font-wrap .alphabet-text:first-child {
        margin-bottom: 20px;
    }

    .font-wrap .alphabet-text {
        font-size: 14px;
    }

    .other-pages {
        position: relative;
        margin-top: 190px;
    }

    .other-pages::before {
        content: '';
        position: absolute;
        left: 0;
        top: -100px;
        background: #f7f7f7;
        width: 49%;
        height: 36%;
        z-index: -1;
    }

    .other-pages h2 {
        text-align: center;
    }

    .other-pages .h2-line {
        margin: 20px auto 20px;
    }

    .other-pages img {
        width: 100%;
    }

    .content {
        position: relative;
    }

    .first-block {
        position: relative;
        width: 70%;
    }

    .other-pages .custom_container .thanks {
        position: absolute;
        right: 0;
        bottom: 190px;
    }

    .second-block {
        width: 60%;
        position: absolute;
        right: -105px;
        top: 0;
    }

    @media screen and (max-width: 1550px) {
        .desktop-block {
            right: 5%;
            bottom: 10%;
        }

        .fs-square {
            right: 38%;
            top: 38%;
        }

        .other-pages .custom_container .thanks {
            right: -100px;
        }
    }

    @media screen and (max-width: 1199px) {
        .custom_container {
            width: 90%;
        }

        .logo-block {
            text-align: center;
        }

        .desktop-block {
            position: static;
            width: 90%;
            margin: 0 auto;
            top: 0;
            transform: none;
        }

        .first-screen .fs-square {
            display: none;
        }

        .info-wrap {
            width: 65%;
            margin: 0 auto;
            white-space: nowrap;
        }

        .iconography-block {
            width: 80%;
        }

        .color-item img {
            width: 60%;
        }

        .color-section .color-block p {
            font-size: 20px;
        }

        .other-pages .custom_container .thanks {
            right: -28px;
        }

        .second-block {
            right: 0;
        }

        .color-section .color-block {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 991px) {
        .logo-block img {
            width: 67%;
        }

        .info-wrap {
            width: 90%;
        }

        .other-pages h2 {
            font-size: 44px;
        }

        .other-pages h2 span {
            font-size: 30px;
        }

        .other-pages {
            margin-top: 136px;
        }
    }

    @media screen and (max-width: 860px) {
        h2 {
            font-size: 44px;
        }

        h2 span {
            font-size: 28px;
        }

        .alphabet-section {
            flex-direction: column;
        }

        .font-wrap .divider {
            width: 103px;
            height: 1px;
            margin: 30px 0;
        }

        .font-section {
            margin-top: 60px;
        }
    }

    @media screen and (max-width: 767px) {
        .ideal{
            padding-top: 50px;
        }
        .other-pages .custom_container .thanks {
            right: 0;
        }

        .thanks {
            font-size: 5.7vw !important;
        }

        .thanks span {
            font-size: 3.9vw !important;
        }

        .other-pages .custom_container .thanks {
            bottom: 24.7vw;
        }

        .other-pages {
            margin-top: 90px;
        }

        .other-pages::before {
            top: -40px;
        }

        .color-section .color-block p {
            font-size: 15px;
        }

        .second-block {
            position: static;
            width: 100%;
        }

        .first-block {
            width: 100%;
        }

        .other-pages .custom_container .thanks {
            position: static;
        }
    }

    @media screen and (max-width: 630px) {
        .ideal{
            padding-top: 50px;
        }
        .info-wrap {
            white-space: inherit;
        }

        .color-section .color-block p {
            left: -93px;
        }

        .color-item {
            width: 200px;
        }

        .info-title {
            font-size: 16px;
        }

        .list-num {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 550px) {
        .ideal{
            padding-top: 50px;
        }
        h2, .other-pages h2 {
            font-size: 29px;
        }

        h2 span, .other-pages h2 span {
            font-size: 18px;
        }

        .h2-line {
            margin-top: 10px;
        }

        .color-section .color-block {
            flex-direction: column;
        }

        .color-section .color-block p {
            position: static;
        }

        .color-item {
            text-align: center;
        }

        .color-section .color-block {
            align-items: flex-end;
        }

        .color-wrap {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 450px) {
        .ideal{
            padding-top: 50px;
        }
        .ul-list {
            flex-direction: column;
        }

        .icons-color-block {
            flex-direction: column;
        }

        .color-block:not(:last-child) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        .iconography-block {
            width: 100%;
        }

        .icons-block {
            align-items: flex-start;
        }
    }

    footer {
        display: none !important;
    }
</style>
