<template>
    <u-animate-container
            :config="config">
        <main class="kare">
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина мебели Kare"
                description="Разработка интернет-магазина мебели для компании Kare. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
            <section class="kare__banner">
                <div class="flex-wrap kare__banner-top">
                    <div class="container">
                        <div class="flex-wrap v-align">
                            <u-animate
                                    name="bounceInDown"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="flex-col-6 kare__banner_img"
                            >
                                <img src="~@/assets/images/kare/full-site.png" alt="">
                            </u-animate>
                            <div class="flex-col-5 kare__banner_text">
                                <u-animate
                                        name="bounceInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <div class="logo">
                                        <img src="~@/assets/images/kare/kare-logo.png" alt="kare logo">
                                    </div>
                                </u-animate>
                                <div class="info-list">
                                    <u-animate
                                            name="fadeInLeft"
                                            delay="0.2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="info-list__item">
                                        <span class="num">1</span>
                                        <div class="info">
                                            <h1 class="title">Разработан UX/UI Design интернет-магазина мебели и декора</h1>
                                            <ul class="icons-block">
                                                <u-animate
                                                        name="zoomIn"
                                                        delay="0.9s"
                                                        duration="1s"
                                                        :iteration="1"
                                                        :offset="0"
                                                        animateClass="animated"
                                                        :begin="false"
                                                >
                                                    <li><i class="icon-laptop"></i></li>
                                                </u-animate>
                                                <u-animate
                                                        name="zoomIn"
                                                        delay="1s"
                                                        duration="1s"
                                                        :iteration="1"
                                                        :offset="0"
                                                        animateClass="animated"
                                                        :begin="false"
                                                >
                                                    <li><i class="icon-smartphone"></i></li>
                                                </u-animate>
                                                <u-animate
                                                        name="zoomIn"
                                                        delay="1.1s"
                                                        duration="1s"
                                                        :iteration="1"
                                                        :offset="0"
                                                        animateClass="animated"
                                                        :begin="false"
                                                >
                                                    <li><i class="icon-tablet"></i></li>
                                                </u-animate>
                                            </ul>
                                        </div>
                                    </u-animate>
                                    <u-animate
                                            name="fadeInLeft"
                                            delay="0.6s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="info-list__item"
                                    >
                                        <span class="num">2</span>
                                        <div class="info">
                                            <p class="title">Подбор фирменных цветов</p>
                                            <ul class="colors-block">
                                                <li class="wow zoomIn" data-wow-delay="1.3s">
                                                    <span class="color color-red"></span>
                                                    <span>#e31e24</span>
                                                </li>
                                                <li class="wow zoomIn" data-wow-delay="1.4s">
                                                    <span class="color color-green"></span>
                                                    <span>#009628</span>
                                                </li>
                                                <li class="wow zoomIn" data-wow-delay="1.5s">
                                                    <span class="color color-grey"></span>
                                                    <span>#f0f0f0</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </u-animate>

                                    <u-animate
                                            name="fadeInLeft"
                                            delay="1s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="info-list__item"
                                    >
                                        <span class="num">3</span>
                                        <div class="info">
                                            <p class="title">Подбор фирменных шрифтов</p>
                                            <div class="fonts-block">
                                                <span>Montserrat</span>
                                                <p>а б в г д е ё ж з и й к л м н о</p>
                                                <p>п р с т у ф х ц ч ш щ ъ ы ь э ю я</p>
                                            </div>
                                        </div>
                                    </u-animate>

                                    <u-animate
                                            name="fadeInLeft"
                                            delay="1.4s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="info-list__item"
                                    >
                                        <span class="num">4</span>
                                        <div class="info">
                                            <p class="title">Разработка остальных страниц сайта</p>
                                            <ul class="other-block">
                                                <li>
                                                    <p>Стр. категории</p>
                                                    <p>Корзина</p>
                                                    <p>Регистрация</p>
                                                    <p>Блог</p>
                                                    <p>Статья</p>
                                                </li>
                                                <li>
                                                    <p>Стр. товара</p>
                                                    <p>Портфоли</p>
                                                    <p>Стр. работы</p>
                                                    <p>404</p>
                                                </li>
                                                <li>
                                                    <p>Колекции</p>
                                                    <p>Колекция</p>
                                                    <p>Личный кабинет</p>
                                                    <p>Контаткы</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </u-animate>
                                </div>
                            </div>
                        </div>

                        <p class="linkToSite">
                            <a href="http://kare.com.ua/">перейти на сайт</a>
                        </p>
                    </div>
                </div>
                <div class="flex-wrap kare__banner-bottom">
                    <div class="container">
                        <div class="flex-wrap">
                            <div class="flex-col-6">
                                <u-animate
                                        name="zoomInLeft"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <p class="section-title section-title-white"><span>Главная</span> страница
                                    </p>
                                </u-animate>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="kare__home">
                <div class="container">
                    <div class="flex-col-11 flex-offset-1">
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <figure class="kare__home-wrap">
                                <img class="screen" src="~@/assets/images/kare/home-page.png" alt="home page">
                            </figure>
                        </u-animate>
                    </div>
                </div>
            </section>

            <section class="kare__styles">
                <div class="container">
                    <div class="flex-wrap">

                        <u-animate
                                name="flipInY"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="flex-col-6 kare__styles-font"
                        >
                            <p class="section-title section-title-white"><span>Шрифтовая</span> палитра</p>
                            <div class="rotate-blk">
                                <p>Montserrat</p>
                                <span>а б в г д е ё ж з и й к л м н о</span>
                                <span>п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                            </div>
                        </u-animate>

                        <u-animate
                                name="flipInY"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="flex-col-6 kare__styles-color"
                        >
                            <p class="section-title section-title-black"><span>Цветовая </span> палитра</p>
                            <div class="colorsBlk">
                                <div class="colorsBlk__item">
                                    <span class="color color-red"></span>
                                    <p>#e31e24</p>
                                </div>

                                <div class="colorsBlk__item">
                                    <span class="color color-grey"></span>
                                    <p>#888888</p>
                                </div>

                                <div class="colorsBlk__item">
                                    <span class="color color-green"></span>
                                    <p>#009628</p>
                                </div>

                                <div class="colorsBlk__item">
                                    <span class="color color-black"></span>
                                    <p>#000000</p>
                                </div>
                            </div>
                        </u-animate>
                    </div>
                </div>
            </section>

            <section class="kare__category">
                <div class="container">
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="flex-col-6 kare__styles-font"
                    >
                        <p class="section-title section-title-black"><span>Страница</span> категории</p>
                    </u-animate>
                    <div class="flex-wrap">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <figure class="kare__category-wrap flex-col-11">
                                <img class="screen" src="~@/assets/images/kare/category-page.png" alt="home page">
                            </figure>
                        </u-animate>
                    </div>
                </div>
            </section>

            <section class="kare__product">
                <div class="container">
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <p class="section-title section-title-black"><span>Страница</span> товара</p>
                    </u-animate>
                    <u-animate
                            name="slideInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="flex-col-11 flex-offset-1"
                    >
                        <figure class="kare__product-wrap">
                            <img class="screen" src="~@/assets/images/kare/product-page.png" alt="home page">
                        </figure>
                    </u-animate>
                </div>
            </section>

            <section class="kare__adaptive">
                <div class="container">
                    <div class="flex-wrap">
                        <div class="flex-col-6 kare__adaptive-info">
                            <u-animate
                                    name="zoomInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <p class="section-title section-title-black"><span>Адаптивный</span> дизайн</p>
                            </u-animate>
                            <u-animate
                                    name="fadeInDown"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <p class="text">Сайт был полностью адаптирован под все устройства и отлично работает во всех браузерах</p>
                            </u-animate>
                        </div>

                        <u-animate
                                name="zoomInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <figure class="flex-col-6 kare__adaptive-img">
                                <img src="~@/assets/images/kare/phone-img.png" alt="adaptive">
                            </figure>
                        </u-animate>
                    </div>
                </div>
            </section>

            <section class="kare__cart">
                <div class="container">
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <p class="section-title section-title-black"><span>Страница</span> корзины</p>
                    </u-animate>
                    <div class="flex-wrap">
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <figure class="flex-col-11 kare__cart-wrap">
                                <img src="~@/assets/images/kare/cart-page.png" alt="cart page" class="screen">
                            </figure>
                        </u-animate>
                    </div>
                </div>
            </section>

            <section class="kare__other">
                <div class="container">
                    <div class="flex-wrap">
                        <div class="flex-col-6">
                            <u-animate
                                    name="zoomInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <p class="section-title section-title-white">
                                    <span>Другие</span>
                                    <span>страницы</span> магазина
                                </p>
                            </u-animate>


                            <u-animate
                                    name="bounceInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <figure class="img-wrap blog">
                                    <img src="~@/assets/images/kare/blog-page.png" class="screen" alt="blog page">
                                </figure>
                            </u-animate>

                            <u-animate
                                    name="bounceInDown"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <figure class="img-wrap colection">
                                    <img src="~@/assets/images/kare/colection-page.png" class="screen" alt="blog page">
                                </figure>
                            </u-animate>

                            <u-animate
                                    name="bounceInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <figure class="img-wrap contacts">
                                    <img src="~@/assets/images/kare/contacts-page.png" class="screen" alt="blog page">
                                </figure>
                            </u-animate>

                            <u-animate
                                    name="bounceInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <figure class="img-wrap error">
                                    <img src="~@/assets/images/kare/404-page.png" class="screen" alt="blog page">
                                </figure>
                            </u-animate>
                        </div>

                        <div class="flex-col-6 p-t60">

                            <u-animate
                                    name="bounceInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <figure class="img-wrap article">
                                    <img src="~@/assets/images/kare/article-page.png" class="screen" alt="blog page">
                                </figure>
                            </u-animate>

                            <u-animate
                                    name="bounceInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <figure class="img-wrap portfolio">
                                    <img src="~@/assets/images/kare/portfolio-page.png" class="screen" alt="blog page">
                                </figure>
                            </u-animate>

                            <u-animate
                                    name="bounceInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <figure class="img-wrap work">
                                    <img src="~@/assets/images/kare/work-page.png" class="screen" alt="blog page">
                                </figure>
                            </u-animate>

                            <u-animate
                                    name="bounceInDown"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <figure class="img-wrap single">
                                    <img src="~@/assets/images/kare/single-page.png" class="screen" alt="blog page">
                                </figure>
                            </u-animate>

                            <u-animate
                                    name="fadeIn"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="thx-blk"
                            >
                                <p>Спасибо
                                    <span>за просмотр</span></p>
                            </u-animate>

                        </div>
                    </div>
                </div>
            </section>
        </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }
            }
        },
        components: {
            UAnimateContainer,
            UAnimate
        },
    }
</script>

<style scoped>
    @font-face {
        font-family: "Montserrat";
        src: url("~@/assets/fonts/kare/Montserrat/Montserrat-Regular.eot");
        src: url("~@/assets/fonts/kare/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Regular.woff") format("woff"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat-Bold";
        src: url("~@/assets/fonts/kare/Montserrat/Montserrat-Bold.eot");
        src: url("~@/assets/fonts/kare/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Bold.woff") format("woff"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Bold.svg#Montserrat-Regular") format("svg");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat-Black";
        src: url("~@/assets/fonts/kare/Montserrat/Montserrat-Black.eot");
        src: url("~@/assets/fonts/kare/Montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Black.woff2") format("woff2"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Black.woff") format("woff"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Black.ttf") format("truetype"), url("~@/assets/fonts/kare/Montserrat/Montserrat-Black.svg#Montserrat-Black") format("svg");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Geometria";
        src: url("~@/assets/fonts/kare/Geometria/Geometria.eot");
        src: url("~@/assets/fonts/kare/Geometria/Geometria.eot?#iefix") format("embedded-opentype"), url("~@/assets/fonts/kare/Geometria/Geometria.woff") format("woff"), url("~@/assets/fonts/kare/Geometria/Geometria.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Proxima-Regular";
        src: url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Regular.eot");
        src: url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Extrabld") format("svg");
        font-weight: 800;
        font-style: normal;
    }
    @font-face {
        font-family: "Proxima-Extrabold";
        src: url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Extrabld.eot");
        src: url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Extrabld.woff2") format("woff2"), url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Extrabld.woff") format("woff"), url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype"), url("~@/assets/fonts/kare/ProximaNova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld") format("svg");
        font-weight: 800;
        font-style: normal;
    }
    @font-face {
        font-family: "fontello";
        src: url("~@/assets/fonts/kare/fontello/fontello.eot?41028911");
        src: url("~@/assets/fonts/kare/fontello/fontello.eot?41028911#iefix") format("embedded-opentype"), url("~@/assets/fonts/kare/fontello/fontello.woff2?41028911") format("woff2"), url("~@/assets/fonts/kare/fontello/fontello.woff?41028911") format("woff"), url("~@/assets/fonts/kare/fontello/fontello.ttf?41028911") format("truetype"), url("~@/assets/fonts/kare/fontello/fontello.svg?41028911#fontello") format("svg");
        font-weight: normal;
        font-style: normal;
    }
    [class^=icon-]:before, [class*=" icon-"]:before {
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: 0.2em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        margin-left: 0.2em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-laptop:before {
        content: "";
    }

    /* '' */
    .icon-smartphone:before {
        content: "";
    }

    /* '' */
    .icon-tablet:before {
        content: "";
    }

    /* '' */
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        outline: none;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .flex-wrap {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .flex-col-5 {
        flex-basis: calc(100% / 12 * 5);
    }

    .flex-col-6 {
        flex-basis: calc(100% / 12 * 6);
    }

    .flex-col-11 {
        flex-basis: calc(100% / 12 * 11);
    }

    .flex-offset-7 {
        margin-left: calc(100% / 12 * 7 - 17px);
    }

    .flex-offset-1 {
        margin-left: calc(100% / 12);
    }

    .v-align {
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        -ms-align-items: flex-end;
        align-items: flex-end;
    }

    img.screen {
        max-width: 100%;
        max-height: 100%;
        border-radius: 16px;
        box-shadow: 0 0 57px rgba(0, 0, 0, 0.22);
        z-index: 1;
        position: relative;
    }

    .section-title {
        font-family: "Montserrat-Black";
        font-size: 48px;
        font-weight: 400;
        line-height: 44px;
        text-transform: uppercase;
        letter-spacing: 1.92px;
        position: relative;
        display: inline-block;
    }
    .section-title span {
        display: block;
        font-family: "Montserrat-Black";
    }
    .section-title-white {
        color: #fff;
    }
    .section-title-black {
        color: #222;
    }
    .linkToSite{
        text-align: center;
        margin-top: 20px;
    }
    .linkToSite a{
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        padding: 10px 25px;
        background-color: #000;
        border: 2px solid #000;
        transition: all .3s;
        white-space: nowrap;
        font-weight: bold;
    }
    .linkToSite a:hover{
        text-decoration: none;
        color: #000;
        background-color: #fff;
    }

    .kare__banner {
        position: relative;
        padding-top: 85px;
    }
    .kare__banner::before {
        content: "";
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-image: url("~@/assets/images/kare/s1-bg.jpg");
        background-size: cover;
        z-index: -1;
    }
    .kare__banner_img img {
        max-width: 721px;
        margin-left: -117px;
    }
    .kare__banner_text {
        padding-left: 44px;
    }
    .kare__banner .img-blk img,
    .kare__banner .logo img {
        max-width: 100%;
        max-height: 100%;
    }
    .kare__banner .img-blk {
        padding-right: 53px;
    }
    .kare__banner .info-list {
        margin-top: 80px;
    }
    .kare__banner .info-list__item {
        position: relative;
        margin-bottom: 40px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .kare__banner .info-list__item:last-of-type {
        margin-bottom: 0;
    }
    .kare__banner .info-list .num {
        color: #222222;
        font-family: "Proxima-Extrabold";
        font-size: 24px;
        letter-spacing: 0.6px;
        margin-right: 18px;
        line-height: 24px;
    }
    .kare__banner .info-list .info {
        position: relative;
        padding-left: 15px;
    }
    .kare__banner .info-list .info::before {
        content: "";
        width: 5px;
        height: 5px;
        background-color: #00bd50;
        position: absolute;
        left: 0;
        top: 7px;
        border-radius: 50%;
    }
    .kare__banner .info-list .info .title {
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.1px;
        font-family: "Montserrat-Bold";
    }
    .kare__banner .icons-block {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-top: 13px;
    }
    .kare__banner .icons-block li:not(:last-of-type) {
        margin-right: 32px;
    }
    .kare__banner .icons-block i {
        font-size: 26px;
        color: #555555;
    }
    .kare__banner .colors-block {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-top: 33px;
        color: #222222;
        font-family: "Proxima-Regular";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.35px;
    }
    .kare__banner .colors-block li {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        margin-right: 65px;
    }
    .kare__banner .colors-block li:last-of-type {
        margin-right: 0;
    }
    .kare__banner .colors-block .color {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
    }
    .kare__banner .colors-block .color-red {
        background-color: #e31e24;
    }
    .kare__banner .colors-block .color-green {
        background-color: #009628;
    }
    .kare__banner .colors-block .color-grey {
        background-color: #f0f0f0;
    }
    .kare__banner .fonts-block {
        margin-top: 20px;
    }
    .kare__banner .fonts-block p {
        color: #222222;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1.05px;
    }
    .kare__banner .fonts-block span {
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;
    }
    .kare__banner .other-block {
        margin-top: 25px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between;
        width: 440px;
    }
    .kare__banner .other-block p {
        color: #222222;
        font-family: "Geometria";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.35px;
    }
    .kare__banner-bottom {
        padding: 144px 0 260px;
        position: relative;
    }
    .kare__banner-bottom:after {
        content: "";
        position: absolute;
        right: 0;
        background-image: url("~@/assets/images/kare/design-title.png");
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 184px;
        width: 50%;
        height: 163px;
    }
    .kare__banner-bottom p {
        font-family: "Montserrat-Bold", sans-serif;
    }
    .kare__banner-bottom p span {
        font-family: "Montserrat-Bold", sans-serif;
    }
    .kare__banner-bottom p::after {
        content: "";
        width: 0;
        height: 234px;
        border: 1px dashed #ffffff;
        position: absolute;
        top: calc(100% + 30px);
        left: 43px;
    }
    .kare__banner-bottom p::before {
        content: "";
        width: 23px;
        height: 23px;
        background-color: #ffffff;
        border-radius: 50%;
        position: absolute;
        top: calc(100% + 15px);
        left: 33px;
    }
    .kare__home {
        margin-top: -217px;
        z-index: 1;
        position: relative;
    }
    .kare__home::before {
        content: "";
        background-image: url("~@/assets/images/kare/g-icon-2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        width: 197px;
        height: 193px;
        position: absolute;
        top: 14%;
        left: calc(50% - 690px);
    }
    .kare__home::after {
        content: "";
        background-image: url("~@/assets/images/kare/s2-img.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        width: 958px;
        height: 1228px;
        position: absolute;
        top: 43%;
        right: 0;
        z-index: -2;
    }
    .kare__home-wrap {
        position: relative;
    }
    .kare__home-wrap::before {
        content: "";
        background-image: url("~@/assets/images/kare/home-title.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        position: absolute;
        top: 48%;
        left: -81px;
        width: 90px;
        height: 824px;
        z-index: -1;
    }
    .kare__styles {
        position: relative;
        padding: 205px 0 165px;
        margin-top: -23px;
    }
    .kare__styles::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-image: url("~@/assets/images/kare/s3-img.png");
        background-size: cover;
        z-index: -1;
    }
    .kare__styles .section-title-white {
        color: #fff;
    }
    .kare__styles .section-title-white::after {
        content: "";
        background-image: url("~@/assets/images/kare/after-line.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: calc(100% + 28px);
        left: 32%;
        width: 105px;
        height: 260px;
    }
    .kare__styles .section-title-black {
        color: #222222;
    }
    .kare__styles .section-title-black:after {
        content: "";
        background-image: url("~@/assets/images/kare/red-line.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        width: 140px;
        height: 20px;
        position: absolute;
        left: calc(100% + 35px);
    }
    .kare__styles .rotate-blk {
        transform: rotate(-90deg);
        margin-top: 151px;
        margin-left: 40px;
    }
    .kare__styles .rotate-blk p {
        color: #ffffff;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 1.6px;
    }
    .kare__styles .rotate-blk span {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 1.35px;
    }
    .kare__styles-color {
        padding-left: 55px;
    }
    .kare__styles .colorsBlk {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 143px;
        position: relative;
    }
    .kare__styles .colorsBlk:after {
        content: "";
        width: 305px;
        height: 1px;
        background-color: #d6d6d6;
        position: absolute;
        top: 50%;
        left: 25px;
    }
    .kare__styles .colorsBlk__item {
        flex-basis: 50%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        position: relative;
    }
    .kare__styles .colorsBlk__item:nth-child(2n) {
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
        -ms-flex-pack: flex-end;
        padding-right: 42px;
    }
    .kare__styles .colorsBlk__item:nth-child(1) {
        margin-bottom: 192px;
    }
    .kare__styles .colorsBlk__item:nth-child(1):after {
        content: "";
        width: 1px;
        height: 171px;
        background-color: #d6d6d6;
        position: absolute;
        top: calc(100% + 11px);
        left: 25px;
    }
    .kare__styles .colorsBlk__item:nth-child(2) {
        margin-bottom: 192px;
    }
    .kare__styles .colorsBlk__item:nth-child(2):after {
        content: "";
        width: 1px;
        height: 171px;
        background-color: #d6d6d6;
        position: absolute;
        top: calc(100% + 11px);
        left: 74px;
    }
    .kare__styles .colorsBlk__item .color {
        display: block;
        position: relative;
        width: 56px;
        height: 56px;
        margin-right: 27px;
    }
    .kare__styles .colorsBlk__item .color::before {
        content: "";
        width: 77px;
        height: 77px;
        border: 1px solid #d6d6d6;
        position: absolute;
        top: -11px;
        left: -11px;
    }
    .kare__styles .colorsBlk__item .color-red {
        background-color: #e31e24;
    }
    .kare__styles .colorsBlk__item .color-green {
        background-color: #009628;
    }
    .kare__styles .colorsBlk__item .color-grey {
        background-color: #888888;
    }
    .kare__styles .colorsBlk__item .color-black {
        background-color: #000000;
    }
    .kare__styles .colorsBlk__item p {
        color: #222222;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.45px;
    }
    .kare__category {
        padding: 130px 0 0;
        position: relative;
    }
    .kare__category::before {
        content: "";
        background-image: url("~@/assets/images/kare/bg-icon-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 197px;
        height: 193px;
        position: absolute;
        top: 0;
        right: calc(50% - 660px);
    }
    .kare__category-wrap {
        margin-top: 70px;
        position: relative;
    }
    .kare__category-wrap::after {
        content: "";
        position: absolute;
        background-image: url("~@/assets/images/kare/category-title.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        top: 27%;
        right: -85px;
        width: 90px;
        height: 1200px;
        z-index: -1;
    }
    .kare__product {
        padding-top: 272px;
        position: relative;
        margin-top: -60px;
    }
    .kare__product:after {
        content: "";
        width: 50%;
        height: 883px;
        background-image: url("~@/assets/images/kare/s4-img.jpg");
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .kare__product-wrap {
        margin-top: 85px;
        position: relative;
    }
    .kare__product-wrap::before {
        content: "";
        background-image: url("~@/assets/images/kare/product-title.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        position: absolute;
        bottom: 9%;
        left: -86px;
        width: 90px;
        height: 1089px;
    }
    .kare__adaptive {
        margin-top: -120px;
        position: relative;
        z-index: 1;
    }
    .kare__adaptive::before {
        content: "";
        background-image: url("~@/assets/images/kare/adaptive-title.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 185px;
        width: 80%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    .kare__adaptive-info {
        padding: 342px 0 30px;
    }
    .kare__adaptive-info .text {
        color: #222222;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.45px;
        display: block;
        margin-top: 70px;
    }
    .kare__adaptive-img {
        text-align: right;
        position: relative;
    }
    .kare__adaptive-img::after {
        content: "";
        background-image: url("~@/assets/images/kare/phone-img-back.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 696px;
        height: 232px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(50% - 495px);
        z-index: -1;
    }
    .kare__adaptive-img img {
        max-width: 100%;
        min-height: 100%;
        margin-right: -65px;
    }
    .kare__cart {
        padding-top: 169px;
    }
    .kare__cart-wrap {
        margin-top: 50px;
        position: relative;
    }
    .kare__cart-wrap::after {
        content: "";
        position: absolute;
        background-image: url("~@/assets/images/kare/cart-title.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        bottom: 30px;
        right: -90px;
        width: 90px;
        height: 784px;
        z-index: -1;
    }
    .kare__other {
        position: relative;
        padding-top: 660px;
        margin-top: -490px;
        padding-bottom: 80px;
    }
    .kare__other::before {
        content: "";
        background-image: url("~@/assets/images/kare/left-img.jpg");
        background-size: cover;
        background-position: right center;
        width: 60%;
        height: 1032px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .kare__other::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 703px;
        background-image: url("~@/assets/images/kare/s5-img.jpg");
        background-size: cover;
        z-index: -2;
    }
    .kare__other .section-title {
        margin-bottom: 120px;
    }
    .kare__other .flex-wrap {
        position: relative;
    }
    .kare__other .flex-wrap:after {
        content: "";
        background-image: url("~@/assets/images/kare/g-icon-2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 180px;
        height: 180px;
        right: -113px;
        top: 54%;
        z-index: -1;
        transform: rotate(75deg);
    }
    .kare__other .img-wrap {
        margin-bottom: 30px;
        position: relative;
    }
    .kare__other .img-wrap:before {
        content: "";
        height: 100%;
        width: 36px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }
    .kare__other .img-wrap.blog:before {
        background-image: url("~@/assets/images/kare/blog-title.png");
        left: -35px;
    }
    .kare__other .img-wrap.colection:before {
        background-image: url("~@/assets/images/kare/colection-title.png");
        left: -35px;
    }
    .kare__other .img-wrap.contacts:before {
        background-image: url(~@/assets/images/kare/contacts-title.png);
        left: -35px;
        background-position: center top;
        transform: none;
        top: 54px;
    }
    .kare__other .img-wrap.error:before {
        background-image: url("~@/assets/images/kare/404-title.png");
        left: -35px;
    }
    .kare__other .img-wrap.article:before {
        background-image: url("~@/assets/images/kare/article-title.png");
        right: -32px;
    }
    .kare__other .img-wrap.portfolio:before {
        background-image: url("~@/assets/images/kare/portfolio-title.png");
        right: -32px;
    }
    .kare__other .img-wrap.work:before {
        background-image: url("~@/assets/images/kare/work-title.png");
        right: -32px;
    }
    .kare__other .img-wrap.single:before {
        background-image: url("~@/assets/images/kare/single-title.png");
        right: -32px;
    }
    .kare__other .p-t60 {
        padding-top: 60px;
        text-align: right;
    }
    .kare__other .thx-blk {
        text-align: center;
        position: relative;
    }
    .kare__other .thx-blk::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -30px;
        background-image: url("~@/assets/images/kare/bg-icon-4.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 68px;
        height: 66px;
    }
    .kare__other .thx-blk p {
        color: #ffffff;
        font-family: "Montserrat-Black";
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 1.44px;
        font-size: 72px;
        display: inline-block;
        text-align: left;
    }
    .kare__other .thx-blk p span {
        font-family: "Montserrat-Black";
        font-size: 36px;
        display: block;
    }

    @media screen and (max-width: 1600px) {
        .kare__adaptive-img::after {
            width: 100%;
            right: -76px;
        }
        .kare__adaptive-img img {
            margin-right: 0;
        }
    }
    @media screen and (max-width: 1550px) {
        .kare__category::before {
            right: 0;
        }
        .kare__other .flex-wrap:after {
            right: 0;
        }
    }
    @media screen and (max-width: 1330px) {
        .kare__adaptive-img {
            text-align: center;
        }
        .kare__adaptive-img::after {
            width: 100%;
            right: 0;
        }
        .kare__adaptive-img img {
            width: 70%;
        }
        .kare__adaptive-info {
            padding: 200px 0 30px;
        }
    }
    @media screen and (max-width: 1280px) {
        .kare__other::after {
            height: 400px;
        }
    }
    @media screen and (max-width: 1200px) {
        .kare__banner_img img {
            max-width: 100%;
            margin-left: 0;
        }
        .kare__banner .info-list .info .title {
            font-size: 16px;
        }
        .kare__banner .other-block {
            width: 100%;
        }
        .kare__banner .other-block li:not(:last-of-type) {
            margin-right: 5px;
        }
        .kare__banner .colors-block li {
            margin-right: 20px;
        }
        .kare__home::after {
            width: 50%;
        }
        .kare__home::before {
            left: 0;
        }
        .kare__adaptive-info {
            padding-bottom: 175px;
        }
        .kare__adaptive-info .text {
            margin-top: 15px;
        }
        .kare__other .flex-wrap {
            padding: 0 33px;
        }
        .kare__other .img-wrap {
            padding: 0 10px;
        }
        .kare__styles .colorsBlk {
            max-width: 412px;
        }
        .kare__styles .colorsBlk:after {
            width: 208px;
            left: 18px;
        }
        .kare__styles .colorsBlk__item .color {
            width: 40px;
            height: 40px;
            margin-right: 15px;
        }
        .kare__styles .colorsBlk__item .color::before {
            width: 61px;
            height: 61px;
        }
        .kare__styles .colorsBlk__item:nth-child(1):after {
            height: 172px;
            left: 17px;
        }
        .kare__styles .colorsBlk__item:nth-child(2n) {
            padding-right: 0;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            justify-content: flex-start;
            -ms-flex-pack: flex-start;
        }
        .kare__styles .colorsBlk__item:nth-child(2):after {
            height: 171px;
            left: 19px;
        }
        .kare__styles .section-title-black:after {
            width: 70px;
        }
    }
    @media screen and (max-width: 1023px) {
        .flex-offset-7 {
            margin-left: 0;
        }

        .flex-col-5,
        .flex-col-6 {
            flex-basis: 100%;
        }

        .flex-wrap {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .kare__banner::before {
            width: 50%;
            height: 32%;
            left: 0;
            bottom: 0;
            top: inherit;
        }
        .kare__banner_img {
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            -ms-flex-order: 2;
            -webkit-order: 2;
            order: 2;
            margin-top: 45px;
        }
        .kare__banner_text {
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            -ms-flex-order: 1;
            -webkit-order: 1;
            order: 1;
        }
        .kare__banner .flex-wrap {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .kare__banner .info-list .info {
            width: 100%;
        }
        .kare__home::before {
            display: none;
        }
        .kare__home-wrap::before {
            left: -61px;
            width: 60px;
            height: 100%;
            top: 0;
        }
        .kare__category-wrap::after {
            right: -60px;
            width: 60px;
            height: 100%;
            top: 0;
        }
        .kare__styles {
            padding: 95px 0 0;
        }
        .kare__styles::before {
            width: 100%;
            height: 50%;
        }
        .kare__styles .rotate-blk {
            transform: rotate(0deg);
            margin-top: 90px;
            margin-left: 75px;
        }
        .kare__styles .section-title-white::after {
            left: 5%;
            height: 148px;
        }
        .kare__styles-color {
            margin-top: 65px;
        }
        .kare__styles .colorsBlk {
            margin-top: 70px;
        }
        .kare__adaptive {
            margin-top: 0;
        }
        .kare__adaptive-info {
            padding: 70px 0 30px;
        }
        .kare__product {
            padding-top: 140px;
        }
        .kare__product-wrap::before {
            left: -61px;
            width: 60px;
        }
        .kare__cart {
            padding-top: 45px;
        }
        .kare__cart-wrap::after {
            right: -59px;
            width: 60px;
        }
        .kare__other {
            padding-top: 295px;
            margin-top: -220px;
        }
        .kare__other::before {
            height: 755px;
        }
        .kare__other .section-title {
            margin-bottom: 70px;
        }
        .kare__other .img-wrap img {
            width: 100%;
        }
        .kare__other .flex-wrap:after {
            display: none;
        }
        .kare__other .p-t60 {
            padding: 0;
        }
    }
    @media screen and (max-width: 767px) {
        .kare{
            margin-top: 55px;
        }
        .section-title {
            font-size: 36px;
        }

        .kare__banner {
            padding-top: 45px;
        }
        .kare__banner::before {
            width: 100%;
        }
        .kare__banner-bottom {
            padding-top: 45px;
        }
        .kare__banner_text {
            padding-left: 0;
        }
        .kare__banner .colors-block {
            display: block;
        }
        .kare__banner .colors-block li {
            margin: 0 0 10px 0;
        }
        .kare__banner .other-block {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .kare__home {
            margin-top: -180px;
        }
        .kare__home-wrap::before {
            left: -24px;
            width: 25px;
        }
        .kare__home::after {
            display: none;
        }
        .kare__styles::before {
            background-image: url(~@/assets/images/kare/s4-img.jpg);
        }
        .kare__category-wrap::after {
            width: 25px;
            right: -24px;
        }
        .kare__category::before {
            width: 125px;
        }
        .kare__product-wrap::before {
            left: -24px;
            width: 25px;
            height: 100%;
            top: 0;
        }
        .kare__cart-wrap::after {
            width: 25px;
            right: -24px;
            top: 0;
            height: 100%;
        }
    }
    @media screen and (max-width: 520px) {
        .section-title {
            font-size: 30px;
            line-height: 32px;
        }

        .kare__banner .other-block li {
            width: 100%;
            margin-bottom: 5px;
        }
        .kare__banner .other-block p {
            font-size: 14px;
        }
        .kare__styles::before {
            height: 57%;
        }
        .kare__styles .rotate-blk p {
            font-size: 35px;
        }
        .kare__styles .section-title-black:after {
            display: none;
        }
        .kare__styles .section-title-white::after {
            width: 50px;
        }
        .kare__styles-color {
            padding-left: 0;
        }
        .kare__styles .colorsBlk::after {
            display: none;
        }
        .kare__styles .colorsBlk__item:after {
            display: none;
        }
        .kare__styles .colorsBlk__item:nth-child(2), .kare__styles .colorsBlk__item:nth-child(1) {
            margin-bottom: 60px;
        }
        .kare__styles .colorsBlk__item .color {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
        .kare__styles .colorsBlk__item .color::before {
            width: 31px;
            height: 31px;
            left: -3px;
            top: -3px;
        }
        .kare__other {
            padding-top: 70px;
            margin-top: -46px;
        }
        .kare__other::before {
            height: 365px;
            width: 100%;
        }
        .kare__other .img-wrap:before {
            width: 20px;
        }
        .kare__other .img-wrap.single:before, .kare__other .img-wrap.work:before, .kare__other .img-wrap.portfolio:before, .kare__other .img-wrap.article:before {
            right: -10px;
        }
        .kare__other .img-wrap.blog:before, .kare__other .img-wrap.colection:before, .kare__other .img-wrap.contacts:before, .kare__other .img-wrap.error:before {
            left: -10px;
        }
        .kare__other .thx-blk{
            margin: 0 -20px;
        }
        .kare__other .thx-blk::after {
            right: -13px;
            width: 50px;
        }
        .kare__other .thx-blk p {
            font-size: 45px;
        }
        .kare__other .thx-blk p span {
            font-size: 24px;
        }
        .kare__adaptive::before {
            width: 100%;
        }
        .kare__adaptive-img::after {
            display: none;
        }
        .kare__product:after {
            height: 50%;
            top: 53%;
        }
        .kare__product-wrap {
            margin-top: 35px;
        }
    }
    @media screen and (max-width: 354px) {
        .kare__styles::before {
            height: 61%;
        }
    }

    /*# sourceMappingURL=style.css.map */

</style>
