<template>
    <u-animate-container
            :config="config">
        <main class="kolgotoff-new">
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина колгот и белья Kolgotoff на Framework"
                description="Разработка интернет-магазина колгот и белья для компании Kolgotoff на Framework. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
            <section class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 padding-left">
                            <div class="header__logo">
                                <img src="~@/assets/images/kolgotoff-new/logo.png" alt="" class="header__logo-image">
                            </div>
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="header__inner"
                            >
                                <div class="header__inner-num">
                                    <span class="header__inner-num-border">1</span>
                                </div>
                                <div class="header__inner-content">
                                    <h1 class="header__inner-content-title">Разработан UX/UI Design интернет-магазина колгот</h1>
                                    <div class="header__inner-content-sub">
                                        <img src="~@/assets/images/kolgotoff-new/laptop.svg" alt="" class="header__inner-content-sub-icon">
                                        <img src="~@/assets/images/kolgotoff-new/smartphone.svg" alt="" class="header__inner-content-sub-icon">
                                        <img src="~@/assets/images/kolgotoff-new/tablet.svg" alt="" class="header__inner-content-sub-icon">
                                    </div>
                                </div>
                            </u-animate>

                            <u-animate
                                    name="fadeIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="header__inner"
                            >
                                <div class="header__inner-num">
                                    <span class="header__inner-num-border">2</span>
                                </div>
                                <div class="header__inner-content">
                                    <span class="header__inner-content-title">Подбор фирменных цветов</span>
                                    <div class="header__inner-content-sub">
                                        <span class="header__inner-content-sub-color header__inner-content-sub-color-rouse">#fa0067</span>
                                        <span class="header__inner-content-sub-color header__inner-content-sub-color-green">#69b42e</span>
                                    </div>
                                </div>
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="header__inner"
                            >
                                <div class="header__inner-num">
                                    <span class="header__inner-num-border">3</span>
                                </div>
                                <div class="header__inner-content">
                                    <span class="header__inner-content-title">Подбор фирменных шрифтов</span>
                                    <div class="header__inner-content-sub">
                                        <span class="header__inner-content-sub-title">Montserrat</span>
                                        <span class="header__inner-content-sub-fonts">а б в г д е ё ж з и й к л м н о
                        п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                                    </div>
                                </div>
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.6s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="header__inner"
                            >
                                <div class="header__inner-num">
                                    <span class="header__inner-num-border">4</span>
                                </div>
                                <div class="header__inner-content">
                                    <span class="header__inner-content-title">Подбор фирменных шрифтов</span>
                                    <div class="header__inner-content-sub">
                                        <ul class="header__inner-content-list">
                                            <li><p>Категория</p></li>
                                            <li><p>Корзина </p></li>
                                            <li><p>Отзывы</p></li>
                                            <li><p>Сертификаты</p></li>
                                            <li><p>404</p></li>
                                            <li><p>Акции </p></li>
                                            <li><p>Карточка товара</p></li>
                                            <li><p>Личный кабинет</p></li>
                                            <li><p>Блог</p></li>
                                            <li><p>Контакты</p></li>
                                            <li><p>Регистрация</p></li>
                                            <li><p>Статья</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </u-animate>
                        </div>
                        <div class="col-lg-5">
                            <p class="linkToSite">
                                <a href="https://kolgotoff.com.ua/">перейти на сайт</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="home">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="page-title">
                                <u-animate
                                        name="slideInLeft"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="page-title__num">01</span>
                                </u-animate>
                                <u-animate
                                        name="slideInLeft"
                                        delay="0.3s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="page-title__title">Главная страница</span>
                                </u-animate>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <div class="home__top-devices">
                                <u-animate
                                        name="slideInRight"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <img src="~@/assets/images/kolgotoff-new/home-laptop.png" alt="" class="home__top-devices-image home__top-devices-image-mac">
                                </u-animate>
                                <u-animate
                                        name="slideInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <img src="~@/assets/images/kolgotoff-new/home-phone.png" alt="" class="home__top-devices-image home__top-devices-image-phone">
                                </u-animate>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="home__images"
                        >
                            <span class="bg-text">home page</span>
                            <img src="~@/assets/images/kolgotoff-new/home-images-bg.png" alt="">
                        </u-animate>
                    </div>
                </div>
            </section>
            <section class="color">
                <span class="bg-text">Design</span>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="page-title">

                                <u-animate
                                        name="slideInLeft"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="page-title__num">02</span>
                                </u-animate>
                                <u-animate
                                        name="slideInLeft"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="page-title__title" data-wow-delay=".3s">Цветовая гамма</span>
                                </u-animate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <u-animate
                                    name="bounceIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="color__picker color__picker-rouse"
                            >
                              <span>
                                  #fa0067
                              </span>
                            </u-animate>
                            <u-animate
                                    name="bounceIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="color__picker color__picker-green"
                            >
                                <span>
                                  #fa0067
                              </span>
                            </u-animate>
                            <u-animate
                                    name="bounceIn"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="color__picker color__picker-orange"
                            >
                                <span>
                                  #fa0067
                                </span>
                            </u-animate>
                        </div>
                    </div>
                </div>
            </section>
            <section class="fonts">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-4">
                            <div class="page-title">
                                <u-animate
                                        name="slideInRight"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="page-title__num">03</span>
                                </u-animate>
                                <u-animate
                                        name="slideInRight"
                                        delay="0.3s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="page-title__title">Выбраный шрифт</span>
                                </u-animate>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
                            <div class="fonts__wight">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="fonts__wight-letter"
                                >
                                    <img src="img//kolgotoff-new/fonts-letter.png" alt="">
                                </u-animate>
                                <div class="fonts__wight-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="fonts__wight-list-black"
                                    >
                                        <span>Black</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="fonts__wight-list-bold"
                                    >
                                        <span>Bold</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.4s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="fonts__wight-list-regular"
                                    >
                                        <span>Regular</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.6s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="fonts__wight-list-light"
                                    >
                                        <span>light</span>
                                    </u-animate>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="fonts__text">
                                <u-animate
                                        name="fadeIn"
                                        delay="0.4s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="fonts__text-title"
                                >
                                    <span>Montserrat</span>
                                </u-animate>
                                <u-animate
                                        name="fadeIn"
                                        delay="0.6s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="fonts__text-paragraph"
                                >
                                    <span>а б в г д е ё ж з и й к л м н о
                      п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                                </u-animate>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="catalog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <u-animate
                                        name="slideInLeft"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="page-title__num"
                                >
                                    <span>04</span>
                                </u-animate>
                                <u-animate
                                        name="slideInLeft"
                                        delay="0.3s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="page-title__title"
                                >
                                    <span>Страница категории</span>
                                </u-animate>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <u-animate
                                    name="slideInUp"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="catalog__image catalog__image-mar-left"
                            >
                                <img src="~@/assets/images/kolgotoff-new/catalog-left.png" alt="" class="catalog__image-left">
                            </u-animate>
                        </div>
                        <div class="col-md-5 col-lg-4">
                            <u-animate
                                    name="bounceIn"
                                    delay="0.5s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="catalog__tovar"
                            >
                                <div class="page-title">
                                    <span class="page-title__num">05</span>
                                    <span class="page-title__title">Страница категории</span>
                                </div>
                                <span class="catalog__tovar-paragraph">Реализована бонусная система, а также возможность покупки комплектов “вместе дешевле” под разные типы товаров</span>
                            </u-animate>
                            <u-animate
                                    name="slideInUp"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="catalog__image catalog__image-noshadow"
                            >
                                <img src="~@/assets/images/kolgotoff-new/catalog-right.png" alt="" class="catalog__image-right">
                            </u-animate>
                        </div>
                    </div>
                </div>
            </section>
            <section class="account">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <u-animate
                                        name="slideInRight"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="page-title__num"
                                >
                                    <span>06</span>
                                </u-animate>
                                <u-animate
                                        name="slideInLeft"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="page-title__title"
                                >
                                    <span>Личный кабинет</span>
                                </u-animate>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <u-animate
                                    name="slideInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="account__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/account-left.png" alt="" class="account__inner-image account__inner-image-left">
                            </u-animate>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <u-animate
                                    name="slideInUp"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="account__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/account-middle.png" alt="" class="account__inner-image account__inner-image-middle">
                            </u-animate>
                            <u-animate
                                    name="slideInUp"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="account__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/account-middle-bottom.png" alt="" class="account__inner-image account__inner-image-middle-bottom">
                            </u-animate>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <u-animate
                                    name="slideInUp"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="account__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/account-right.png" alt="" class="account__inner-image account__inner-image-right">
                            </u-animate>
                            <span class="bg-text">Account</span>
                            <div class="account__section">
                                <span class="account__section-bg-title">Page</span>
                                <u-animate
                                        name="fadeIn"
                                        delay="0.2s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="account__section-paragraph"
                                >
                                    <span>Личный кабинет предоставляет доступ
                            ко всем пользовательским данным,
                            их редактированием, а также прослеживанием статусов
                            заказов</span>
                                </u-animate>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="other">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-4">
                            <div class="page-title">
                                <u-animate
                                        name="slideInRight"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="page-title__num"
                                >
                                    <span>07</span>
                                </u-animate>
                                <u-animate
                                        name="slideInRight"
                                        delay="0.3s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="page-title__title"
                                >
                                    <span>Другие страницы</span>
                                </u-animate>
                                <span class="bg-text">Other</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="other__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/other-left.png" alt="" class="other__inner-image other__inner-image-left">
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.6s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="other__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/other-left-bottm.png" alt="" class="other__inner-image other__inner-image-left-bottom">
                            </u-animate>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <u-animate
                                    name="fadeIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="other__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/other-middle.png" alt="" class="other__inner-image other__inner-image-middle">
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.8s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="other__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/other-middle-bottom.png" alt="" class="account__inner-image other__inner-image-middle-bottom">
                            </u-animate>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <u-animate
                                    name="fadeIn"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="other__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/other-right.png" alt="" class="other__inner-image other__inner-image-right">
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="1s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="other__inner"
                            >
                                <img src="~@/assets/images/kolgotoff-new/other-right-bottom.png" alt="" class="other__inner-image other__inner-image-right-bottom">
                            </u-animate>
                        </div>
                    </div>
                </div>
            </section>
            <section class="thenkyou">
                <div class="container">
                    <div class="row">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="thenkyou-title"
                        >
                            <span>Спасибо</span>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.3s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="thenkyou-subtitle"
                        >
                            <span>за просмотр</span>
                        </u-animate>
                    </div>
                </div>
            </section>
        </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        components: {
            UAnimateContainer,
            UAnimate
        },
    }
</script>

<style scoped>
    @font-face {
        font-family: "GilroyExtraBold";
        src: url("~@/assets/fonts/gilroy/Gilroy-ExtraBold.eot");
        src: url("~@/assets/fonts/gilroy/Gilroy-ExtraBold.eot") format("embedded-opentype"), url("~@/assets/fonts/gilroy/Gilroy-ExtraBold.woff") format("woff2"), url("~@/assets/fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype"); }

    @font-face {
        font-family: "Montserrat";
        src: url("~@/assets/fonts/MontserratRegular.eot");
        src: url("~@/assets/fonts/MontserratRegular.eot") format("embedded-opentype"), url("~@/assets/fonts/MontserratRegular.woff") format("woff2"), url("~@/assets/fonts/MontserratRegular.ttf") format("truetype"); }

    @font-face {
        font-family: "MontserratBlack";
        src: url("~@/assets/fonts/MontserratBlack.svg") format("svg"), url("~@/assets/fonts/MontserratBlack.woff") format("woff"), url("~@/assets/fonts/MontserratBlack.ttf") format("truetype"); }

    @font-face {
        font-family: "IBMPlexSans";
        src: url("~@/assets/fonts/ibmplexsans/IBMPlexSans.eot");
        src: url("~@/assets/fonts/ibmplexsans/IBMPlexSans.eot") format("embedded-opentype"), url("~@/assets/fonts/ibmplexsans/IBMPlexSans.woff2") format("woff2"), url("~@/assets/fonts/ibmplexsans/IBMPlexSans.ttf") format("truetype"); }

    .text-right {
        text-align: right; }

    .text-left {
        text-align: left; }

    .text-center {
        text-align: center; }

    body, html {
        overflow-x: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: sans-serif; }

    .relative {
        position: relative; }

    .kolgotoff-new .linkToSite{
        margin-top: 45%;
    }
    @media screen and (max-width: 1199px){
        .kolgotoff-new .linkToSite{
            margin-top: 0;
            text-align: center;
        }
    }

    .kolgotoff-new .linkToSite a{
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        padding: 10px 25px;
        background-color: #fa0067;
        border: 2px solid #fa0067;
        transition: all .3s;
        white-space: nowrap;
    }
    .kolgotoff-new .linkToSite a:hover{
        text-decoration: none;
        color: #fa0067;
        background-color: #fff;
    }

    .kolgotoff-new {
        max-width: 1920px;
        margin: 0 auto; }
    .kolgotoff-new .header {
        background: url("~@/assets/images/kolgotoff-new/home-image.png") no-repeat top center;
        -webkit-background-size: cover;
        background-size: cover;
        padding-top: 65px;
        position: relative; }
    .kolgotoff-new .header .padding-left {
        padding-left: 80px; }
    .kolgotoff-new .header__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 35px;
        margin-bottom: 25px; }
    .kolgotoff-new .header__inner-num {
        position: relative;
        bottom: 13px;
        margin-right: 14px; }
    .kolgotoff-new .header__inner-num-border {
        display: block;
        width: 44px;
        height: 44px;
        border: 1px solid #fa0067;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: #222222;
        font: 24px/24px GilroyExtraBold;
        font-weight: 400;
        letter-spacing: 0.6px; }
    .kolgotoff-new .header__inner-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .kolgotoff-new .header__inner-content-title {
        display: block;
        margin-bottom: 21px;
        margin-top: 0;
        color: #222;
        font: 20px/20px Montserrat, sans-serif;
        font-weight: 700;
        letter-spacing: 0.5px; }
    .kolgotoff-new .header__inner-content-sub-icon {
        width: auto;
        height: 36px;
        display: inline-block;
        margin-right: 30px; }
    .kolgotoff-new .header__inner-content-sub-color {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        padding-left: 50px;
        position: relative;
        margin-top: 10px; }
    .kolgotoff-new .header__inner-content-sub-color-rouse {
        margin-right: 28px; }
    .kolgotoff-new .header__inner-content-sub-color-rouse:before {
        content: '';
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 0;
        top: -5px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #fa0067; }
    .kolgotoff-new .header__inner-content-sub-color-green:before {
        content: '';
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 0;
        top: -5px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #69b42e; }
    .kolgotoff-new .header__inner-content-sub-title {
        color: #fa0067;
        font: 18px/18px Montserrat, sans-serif;
        font-weight: 700;
        letter-spacing: 0.45px;
        display: block; }
    .kolgotoff-new .header__inner-content-sub-fonts {
        color: #222;
        font: 12px/18px Montserrat, sans-serif;
        font-weight: 500;
        letter-spacing: 0.9px;
        display: block;
        width: 51%;
        margin-top: 10px; }
    .kolgotoff-new .header__inner-content-list {
        list-style-position: inside;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding-left: 0px;
        margin-top: 0; }
    .kolgotoff-new .header__inner-content-list li p {
        color: #fa0067;
        font: 16px/24px IBMPlexSans, sans-serif;
        font-weight: 500;
        letter-spacing: 0.4px;
        display: inline; }
    .kolgotoff-new .page-title {
        margin-top: 90px; }
    .kolgotoff-new .page-title__num {
        color: #222;
        font: 56px/56px MontserratBlack, sans-serif;
        font-weight: 400;
        letter-spacing: 1.4px;
        display: block;
        position: relative; }
    .kolgotoff-new .page-title__num:before {
        content: '';
        position: absolute;
        width: 150px;
        height: 1px;
        bottom: 0px;
        left: 5px;
        background-color: #929292; }
    .kolgotoff-new .page-title__title {
        color: #fa0067;
        font: 56px/56px MontserratBlack, sans-serif;
        font-weight: 400;
        letter-spacing: 1.4px;
        display: block;
        padding-left: 62px;
        margin-top: 15px; }
    .kolgotoff-new .home {
        position: relative; }
    .kolgotoff-new .home .bg-text {
        position: absolute;
        right: -160px;
        top: 277px;
        -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: tb-rl;
        z-index: -1; }
    .kolgotoff-new .home:before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 640px;
        background-color: #fdc6e1;
        z-index: 2; }
    .kolgotoff-new .home:after {
        content: '';
        position: absolute;
        bottom: 520px;
        left: 260px;
        width: 233px;
        height: 233px;
        background-color: #fbcdd3;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: 2; }
    .kolgotoff-new .home__top-devices {
        position: relative;
        margin-top: -350px; }
    .kolgotoff-new .home__top-devices-image {
        width: 100%;
        height: auto;
        display: block; }
    .kolgotoff-new .home__top-devices-image-phone {
        width: auto;
        height: 285px;
        position: absolute;
        right: 0px;
        bottom: 50px; }
    .kolgotoff-new .home__images {
        -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 43px rgba(0, 0, 0, 0.2);
        margin: 50px 55px 25px 55px;
        position: relative;
        z-index: 3; }
    .kolgotoff-new .home__images img {
        width: 100%;
        height: auto;
        display: block; }
    .kolgotoff-new .bg-text {
        opacity: 0.1;
        color: #fa0067;
        font: 186px/186px MontserratBlack;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4.65px; }
    .kolgotoff-new .color {
        background-color: #fdc6e1;
        padding-bottom: 70px;
        position: relative; }
    .kolgotoff-new .color .page-title {
        margin-top: 50px;
        margin-bottom: 80px; }
    .kolgotoff-new .color__picker {
        color: #222222;
        font: 16px/18px Montserrat, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        position: relative;
        display: inline-block;
        padding-left: 30px;
        margin-right: 55px; }
    .kolgotoff-new .color__picker:before {
        content: '';
        position: absolute;
        left: 0px;
        top: -25px;
        width: 20px;
        height: 65px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        display: block; }
    .kolgotoff-new .color__picker-rouse {
        margin-left: 150px; }
    .kolgotoff-new .color__picker-rouse:before {
        background-color: #fa0067; }
    .kolgotoff-new .color__picker-green:before {
        background-color: #69b42e; }
    .kolgotoff-new .color__picker-orange:before {
        background-color: #fa3906; }
    .kolgotoff-new .color .bg-text {
        right: 0;
        bottom: 0;
        position: absolute; }
    .kolgotoff-new .fonts {
        background-color: #fdc6e1;
        position: relative;
        padding-bottom: 142px; }
    .kolgotoff-new .fonts:before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 233px;
        height: 233px;
        background-color: #fbcdd3;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        bottom: -115px;
        right: 423px; }
    .kolgotoff-new .fonts .page-title {
        margin-bottom: 80px; }
    .kolgotoff-new .fonts .page-title__num {
        text-align: right; }
    .kolgotoff-new .fonts .page-title__num:before {
        left: auto;
        right: 0; }
    .kolgotoff-new .fonts .page-title__title {
        padding-right: 10px; }
    .kolgotoff-new .fonts .fonts__wight {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
    .kolgotoff-new .fonts .fonts__wight-letter {
        margin-right: 35px; }
    .kolgotoff-new .fonts .fonts__wight-letter img {
        width: 100%;
        height: auto;
        display: block; }
    .kolgotoff-new .fonts .fonts__wight-list-black, .kolgotoff-new .fonts .fonts__wight-list-bold, .kolgotoff-new .fonts .fonts__wight-list-regular, .kolgotoff-new .fonts .fonts__wight-list-light {
        display: block;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.35px;
        color: #fa0067;
        margin: 15px 0px; }
    .kolgotoff-new .fonts .fonts__wight-list-black {
        font-family: MontserratBlack; }
    .kolgotoff-new .fonts .fonts__wight-list-bold {
        font-family: Montserrat;
        font-weight: 700; }
    .kolgotoff-new .fonts .fonts__wight-list-regular {
        font-family: Montserrat;
        font-weight: 400; }
    .kolgotoff-new .fonts .fonts__wight-list-light {
        font-family: Montserrat;
        font-weight: 300; }
    .kolgotoff-new .fonts__text {
        padding: 60px 0px 0px 30px; }
    .kolgotoff-new .fonts__text-title, .kolgotoff-new .fonts__text-paragraph {
        color: #222;
        display: block; }
    .kolgotoff-new .fonts__text-title {
        font: 40px/40px MontserratBlack;
        font-weight: 400;
        letter-spacing: 3px;
        margin-bottom: 28px; }
    .kolgotoff-new .fonts__text-paragraph {
        font: 18px/24px Montserrat, sans-serif;
        font-weight: 700;
        letter-spacing: 1.35px; }
    .kolgotoff-new .catalog {
        position: relative;
        padding-bottom: 60px; }
    .kolgotoff-new .catalog:before {
        content: '';
        position: absolute;
        bottom: 100px;
        left: 500px;
        width: 233px;
        height: 233px;
        background-color: #fbcdd3;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .kolgotoff-new .catalog:after {
        content: '';
        position: absolute;
        width: 97px;
        height: 97px;
        background-color: #fbcdd3;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        left: 800px;
        bottom: 0px; }
    .kolgotoff-new .catalog .page-title {
        margin-bottom: 67px; }
    .kolgotoff-new .catalog__image {
        -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 43px rgba(0, 0, 0, 0.2); }
    .kolgotoff-new .catalog__image-mar-left {
        margin-left: 30px; }
    .kolgotoff-new .catalog__image-left {
        width: 100%;
        height: auto;
        display: block; }
    .kolgotoff-new .catalog__image-right {
        width: 655px;
        height: auto;
        position: relative;
        margin-left: -230px; }
    .kolgotoff-new .catalog__image-noshadow {
        -webkit-box-shadow: none;
        box-shadow: none; }
    .kolgotoff-new .catalog__tovar {
        padding-left: 30px;
        width: 450px;
        margin-left: -40px;
        margin-top: 120px;
        z-index: -1;
        position: relative;
        height: 600px;
        border: 16px solid rgba(250, 0, 103, 0.2); }
    .kolgotoff-new .catalog__tovar .page-title__title {
        padding-left: 0px; }
    .kolgotoff-new .catalog__tovar-paragraph {
        color: #5a5a5a;
        font: 14px/18px Montserrat, sans-serif;
        font-weight: 700;
        letter-spacing: 0.35px;
        display: block;
        width: 70%;
        padding-left: 20px;
        position: relative; }
    .kolgotoff-new .catalog__tovar-paragraph:before {
        content: '';
        position: absolute;
        height: 70px;
        width: 1px;
        left: 0;
        top: 3px;
        background-color: #fa0067; }
    .kolgotoff-new .account {
        position: relative; }
    .kolgotoff-new .account .bg-text {
        position: absolute;
        right: -180px;
        top: -150px;
        -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: tb-rl;
        z-index: -1; }
    .kolgotoff-new .account .page-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 60px; }
    .kolgotoff-new .account .page-title__num:before {
        left: -30px; }
    .kolgotoff-new .account__inner-image {
        height: auto;
        width: 456px;
        display: block;
        position: relative; }
    .kolgotoff-new .account__inner-image-left {
        margin-top: 60px;
        margin-left: 30px; }
    .kolgotoff-new .account__inner-image-middle-bottom {
        z-index: 1;
        margin-top: -204px;
        margin-left: -30px; }
    .kolgotoff-new .account__inner-image-right {
        margin-top: 150px;
        margin-left: -30px; }
    .kolgotoff-new .account__section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        position: relative; }
    .kolgotoff-new .account__section-bg-title {
        opacity: 0.1;
        color: #fa0067;
        font: 120px/120px MontserratBlack, sans-serif;
        font-weight: 400;
        letter-spacing: 3px;
        position: absolute;
        top: -60px;
        z-index: -1;
        right: -10px; }
    .kolgotoff-new .account__section-paragraph {
        color: #5a5a5a;
        font: 14px/18px Montserrat, sans-serif;
        font-weight: 700;
        letter-spacing: 0.35px;
        display: block;
        width: 80%;
        padding-left: 20px;
        position: relative;
        margin-top: 130px; }
    .kolgotoff-new .account__section-paragraph:before {
        content: '';
        position: absolute;
        height: 95px;
        width: 1px;
        left: 0;
        top: 0px;
        background-color: #fa0067; }
    .kolgotoff-new .other .page-title {
        margin-bottom: 80px;
        position: relative; }
    .kolgotoff-new .other .page-title .bg-text {
        position: absolute;
        left: -350px;
        top: 80px;
        z-index: -1; }
    .kolgotoff-new .other .page-title__num {
        text-align: right; }
    .kolgotoff-new .other .page-title__num:before {
        left: auto;
        right: 0; }
    .kolgotoff-new .other .page-title__title {
        padding-right: 10px; }
    .kolgotoff-new .other__inner-image {
        height: auto;
        width: 460px;
        display: block; }
    .kolgotoff-new .other__inner-image-left {
        margin-left: 30px; }
    .kolgotoff-new .other__inner-image-left-bottom {
        margin-left: 30px;
        margin-top: -110px; }
    .kolgotoff-new .other__inner-image-middle {
        margin-top: 28px; }
    .kolgotoff-new .other__inner-image-middle-bottom {
        margin-top: -150px; }
    .kolgotoff-new .other__inner-image-right {
        margin-left: -30px; }
    .kolgotoff-new .other__inner-image-right-bottom {
        margin-left: -30px;
        margin-top: -120px; }
    .kolgotoff-new .thenkyou {
        padding: 130px 0px;
        position: relative; }
    .kolgotoff-new .thenkyou:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 233px;
        height: 233px;
        background-color: #fbcdd3;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: -1; }
    .kolgotoff-new .thenkyou-title, .kolgotoff-new .thenkyou-subtitle {
        font-family: MontserratBlack, sans-serif;
        display: block;
        text-align: center; }
    .kolgotoff-new .thenkyou-title {
        color: #fa0067;
        font-size: 86px;
        line-height: 86px;
        letter-spacing: 2.15px;
        text-transform: uppercase; }
    .kolgotoff-new .thenkyou-subtitle {
        font-size: 56px;
        font-weight: 400;
        line-height: 56px; }

    @media only screen and (max-width: 1024px) {
        .kolgotoff-new .home__top-devices {
            margin-top: -300px; }
        .kolgotoff-new .fonts__text {
            padding: 10px 0px 0px 30px; }
        .kolgotoff-new .catalog__tovar {
            margin-left: -55px; }
        .kolgotoff-new .catalog__image-right {
            margin-left: -340px; }
        .kolgotoff-new .account__inner-image-right {
            margin-left: -170px; }
        .kolgotoff-new .other__inner-image-right,
        .kolgotoff-new .other__inner-image-right-bottom {
            margin-left: -170px; }
        .kolgotoff-new .other__inner-image-middle,
        .kolgotoff-new .other__inner-image-middle-bottom {
            margin-left: -100px; }
        .kolgotoff-new .other .page-title .bg-text {
            left: auto; }
        .kolgotoff-new .home__top-devices {
            margin-top: -120px; }
        .kolgotoff-new .page-title {
            position: relative;
            z-index: 1; }
        .kolgotoff-new .catalog__tovar {
            width: 100%;
            margin-left: 0px; }
        .kolgotoff-new .catalog__image-right,
        .kolgotoff-new .catalog__image-mar-left {
            margin-left: 0px;
            width: 100%; }
        .kolgotoff-new .account .page-title {
            margin-top: 0px; }
        .kolgotoff-new .account__inner-image,
        .kolgotoff-new .other__inner-image {
            width: 100%;
            height: auto;
            margin: 0;
            position: relative;
            z-index: 1; }
        .kolgotoff-new .bg-text {
            font: 82px/82px MontserratBlack; } }

    @media only screen and (max-width: 1024px) {
        .kolgotoff-new .header .padding-left {
            padding-left: 15px; }
        .kolgotoff-new .header__logo img {
            display: block;
            margin: 0 auto; }
        .kolgotoff-new .page-title {
            margin-top: 20px; }
        .kolgotoff-new .home__top-devices {
            margin-top: 10px; }
        .kolgotoff-new .home__top-devices-image-phone {
            height: 200px;
            bottom: 5px; }
        .kolgotoff-new .home__images {
            margin: 50px 0px; }
        .kolgotoff-new .color .page-title {
            margin-top: 0px; }
        .kolgotoff-new .color__picker {
            margin: 0px 15px 0px 0px; }
        .kolgotoff-new .other .page-title .bg-text {
            top: 140px; }
        .kolgotoff-new .catalog__tovar .page-title__title {
            font: 42px/42px MontserratBlack, sans-serif; }
        .kolgotoff-new .catalog__tovar {
            height: 420px; } }

    @media only screen and (max-width: 970px) {
        .kolgotoff-new .catalog__tovar {
            height: 340px; } }

    @media only screen and (max-width: 768px) {
        .kolgotoff-new .catalog__tovar {
            height: 400px; }
        .kolgotoff-new .header {
            background-position: 62%; }
        .kolgotoff-new .thenkyou-title{
            font-size: 50px;
            line-height: 50px;
        }
    }

    @media only screen and (max-width: 425px) {
        .kolgotoff-new .catalog__tovar-paragraph {
            width: 100%;
            padding-left: 10px; }
        .kolgotoff-new .other .page-title .bg-text {
            top: auto; }
        .kolgotoff-new .thenkyou-title {
            font-size: 51px;
            line-height: 51px; }
        .kolgotoff-new .thenkyou-subtitle {
            font-size: 32px;
            line-height: 32px; }
        .kolgotoff-new .fonts .fonts__wight {
            margin-bottom: 20px; }
        .kolgotoff-new .fonts__text {
            padding-left: 0px; }
        .kolgotoff-new .page-title__title {
            font: 42px/42px MontserratBlack, sans-serif; }
        .kolgotoff-new .page-title__title {
            padding-left: 0px; }
        .kolgotoff-new .account .page-title {
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start; }
        .kolgotoff-new .account .page-title__num:before {
            left: 0px; }
        .kolgotoff-new .fonts .page-title__title {
            text-align: right; }
        .kolgotoff-new .thenkyou {
            padding: 80px 0px;
            margin-bottom: 55px;
        }
        .kolgotoff-new .catalog__tovar .page-title__title {
            font: 32px/32px MontserratBlack, sans-serif; }
        .kolgotoff-new .catalog .page-title {
            margin-bottom: 40px; }
        .kolgotoff-new .catalog__tovar {
            height: 350px; }
        .kolgotoff-new .catalog__tovar {
            padding-left: 10px; }
        .kolgotoff-new .header {
            background-position: 0%; } }

    @media only screen and (max-width: 375px) {
        .kolgotoff-new .color__picker {
            display: block;
            margin-bottom: 55px; }
        .kolgotoff-new .bg-text {
            font: 62px/62px MontserratBlack; }
        .kolgotoff-new .account__section-bg-title {
            top: auto;
            font: 82px/82px MontserratBlack, sans-serif; }
        .kolgotoff-new .header__inner-content-title {
            font: 16px/20px Montserrat, sans-serif;
            font-weight: 700; }
        .kolgotoff-new .header__inner-content-sub-fonts {
            width: 100%; }
        .kolgotoff-new .header__inner-content-list li p {
            font: 10px/14px IBMPlexSans, sans-serif;
            font-weight: 500; } }

</style>
