<template>
    <u-animate-container
            :config="config">
        <main class="l-america">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта английский для детей - Маленькая Америка"
                description="Разработка сайта по обучению английского для детей, студия Маленькая Америка - Представитель образовательной корпорации International Language Programs INC. (США) в Украине."
                keywords=""
        />
        <!--end set meta data-->
        <div class="l-america_banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-7 col-md-5 col-sm-offset-2 col-sm-7">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <a rel="nofollow" href="#">
                                <img src="~@/assets/images/l.america/la-logo.png" alt="">
                            </a>
                            <h1 class="l-america_banner_heading">РАЗРАБОТКА САЙТА ПО ОБУЧЕНИЮ АНГЛИЙСКОГО ДЛЯ ДЕТЕЙ</h1>
                            <p class="l-america_banner_txt">Представитель  образовательной корпорации International Language Programs
                                INC. (США) в Украине.</p>
                            <div class="l-america_banner_wraplink">
                                <a class="l-america_banner_link" rel="nofollow" href="http://ilp.org.ua/">Посмотреть сайт</a>
                            </div>
                        </u-animate>
                    </div>
                </div>
                <u-animate
                        name="fadeInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="l-america_banner_mockwrap">
                        <img class="img-responsive" src="~@/assets/images/l.america/la-banner-mock.png" alt="">
                    </div>
                </u-animate>
            </div>
        </div>
        <section class="l-america__yellow l-america__content">
            <div class="container">
                <u-animate
                        name="fadeInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="col-md-offset-7 col-md-5">
                        <div class="l-america__content_aim">
                            <h5 class="l-america__bold-txt l-america__bold-txt_left">Задача</h5>
                            <p class="l-america__content_txt">Сделать сайт современным и более легким для восприятия
                                информации. Осуществить возможность вывода новостей, статей, акций, реализовать обратную связь</p>
                        </div>
                    </div>
                </u-animate>
                <u-animate
                        name="fadeInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="col-md-5">
                        <div class="l-america__content_aim">
                            <h5 class="l-america__bold-txt l-america__bold-txt_left">Инструменты</h5>
                            <p class="l-america__content_txt">CMS - Wordpress (Собственная тема)</p>
                            <p class="l-america__content_txt l-america__content_txt-p0">Framework - bootstrap 4</p>
                            <p class="l-america__content_txt l-america__content_txt-p0">Инструменты при разработке - GULP, SASS</p>
                        </div>
                    </div>
                </u-animate>
                <u-animate
                        name="fadeInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="col-md-offset-6 col-md-5">
                        <div class="l-america__content_girl">
                            <img src="~@/assets/images/l.america/la-girl.png" alt="">
                        </div>
                    </div>
                </u-animate>
                <div class="row">
                    <div class="l-america__content_wrap">
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-offset-1 col-md-3"
                        >
                            <div>
                                <img class="img-responsive" src="~@/assets/images/l.america/la-tree.png" alt="">
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-offset-2 col-md-6"
                        >
                            <div class="l-america__content_color">
                                <h5 class="l-america__bold-txt l-america__bold-before l-america__bold-txt_left">Цветовое решение</h5>
                            </div>
                        </u-animate>
                    </div>
                </div>
                <div class="l-america__content_tree">
                    <u-animate
                            name="fadeInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="row"
                    >
                        <div class="col-md-6">
                            <div>
                                <p class="l-america__content_color-txt">Основные цвета:</p>
                                <div class="l-america__content_colorwrap">
                                    <div class="l-america__content_colorinner">
                                        <span class="l-america__content_colorinner_txt">#3b3b90</span>
                                    </div>
                                    <div class="l-america__content_colorinner l-america__content_colorinner-black">
                                        <span class="l-america__content_colorinner_txt">#222222</span>
                                    </div>
                                    <div class="l-america__content_colorinner l-america__content_colorinner-red">
                                        <span class="l-america__content_colorinner_txt">#e75048</span>
                                    </div>
                                    <div class="l-america__content_colorinner l-america__content_colorinner-white">
                                        <span class="l-america__content_colorinner_txt">#ffffff</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="row"
                    >
                        <div class="col-md-offset-4 col-lg-5 col-md-6">
                            <div class="l-america__content_typo">
                                <h5 class="l-america__bold-txt l-america__bold-before l-america__bold-before-typo">Шрифтовое решение</h5>
                            </div>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="l-america__content_tree_wrap"
                    >
                        <img src="~@/assets/images/l.america/la-tree.png" alt="">
                    </u-animate>
                </div>
                <u-animate
                        name="fadeInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="col-md-5 col-sm-7">
                        <div class="l-america__content_typo_example">
                            <p class="l-america__content_typo_PR">Freakomix by Avdo</p>
                            <p class="l-america__content_typo_txtFA">а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я</p>
                        </div>
                    </div>
                </u-animate>
                <u-animate
                        name="fadeInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="col-md-offset-8 col-sm-offset-5 col-md-4 col-sm-7">
                        <div class="l-america__content_typo_example l-america__content_typo_example-right">
                            <p class="l-america__content_typo_PR">Play</p>
                            <p>
                                <span class="l-america__content_typo_PR-mini">Regular</span>
                                <span class="l-america__content_typo_PB-mini">Bold</span>
                            </p>
                            <p class="l-america__content_typo_txtPB">а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я</p>
                        </div>
                    </div>
                </u-animate>
                <u-animate
                        name="bounceInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="l-america__main"
                >
                    <div class="row">
                        <div class="col-md-9">
                            <div class="l-america__main_wrap">
                                <h5 class="l-america__bold-txt">Главная страница</h5>
                                <div class="l-america__main_inner">
                                    <div class="l-america__main_page">
                                        <img class="img-responsive l-america__main_img" src="~@/assets/images/l.america/la-full.jpg" alt="">
                                    </div>
                                    <div class="l-america__main_wrap_treesmall l-america__treereverse">
                                        <img class="img-responsive" src="~@/assets/images/l.america/la-tree.png" alt="">
                                    </div>
                                    <div class="l-america__main_wrap_treesmall l-america__main_wrap_treesmall-right l-america__treereverse">
                                        <img class="img-responsive" src="~@/assets/images/l.america/la-tree.png" alt="">
                                    </div>
                                    <div class="l-america__main_wrap_boy">
                                        <img src="~@/assets/images/l.america/la-boy.png" alt="">
                                    </div>
                                    <div class="l-america__main_wrap_mobile">
                                        <img class="img-responsive" src="~@/assets/images/l.america/la-mobile.png" alt="">
                                    </div>
                                    <div class="l-america__main_wrap_mockup">
                                        <img src="~@/assets/images/l.america/la-mock.png" alt="">
                                    </div>
                                    <div class="l-america__main_wrap_tooltip">
                                        <p class="l-america__main_wrap_tooltip-p">Сайт полностью адаптивен и позволяет пользователю легко и удобно пользоваться всеми
                                            доступными функциями при любом расширении экрана.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </u-animate>
            </div>
        </section>
        <div class="l-america__other">
            <div class="container l-america__other_inn">
                <u-animate
                        name="bounceInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="col-md-12">
                        <h5 class="l-america__bold-txt l-america__bold-before l-america__bold-txt_another">Оcтальные страницы</h5>
                        <div class="l-america__other_poster">
                            <img class="img-responsive l-america__other_poster_inn" src="~@/assets/images/l.america/la-bottom-other-pages.png" alt="">
                            <div class="l-america__other_tree">
                                <img class="img-responsive" src="~@/assets/images/l.america/la-tree.png" alt="">
                            </div>
                        </div>
                    </div>
                </u-animate>
            </div>
            <div class="l-america__other_bottom wow fadeInUp">
                <img src="~@/assets/images/l.america/la-bg-down.png" alt="">
            </div>
        </div>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        components: {
            UAnimateContainer,
            UAnimate
        },
    }
</script>

<style scoped>
    .l-america_banner_link, .l-america_banner_txt {
        font-family: PR
    }
    .l-america_banner_heading{
        font-size: 18px;
        margin: 0;
    }

    @font-face {
        font-family: FA;
        src: url(~@/assets/fonts/l-america/FreakomixbyAvdo.eot);
        src: url(~@/assets/fonts/l-america/FreakomixbyAvdo.eot) format("embedded-opentype"), url(~@/assets/fonts/l-america/FreakomixbyAvdo.woff) format("woff"), url(~@/assets/fonts/l-america/FreakomixbyAvdo.ttf) format("truetype")
    }

    @font-face {
        font-family: PB;
        src: url(~@/assets/fonts/l-america/Play-Bold.eot);
        src: url(~@/assets/fonts/l-america/Play-Bold.eot) format("embedded-opentype"), url(~@/assets/fonts/l-america/Play-Bold.woff) format("woff"), url(~@/assets/fonts/l-america/Play-Bold.ttf) format("truetype")
    }

    @font-face {
        font-family: PR;
        src: url(~@/assets/fonts/l-america/Play-Regular.eot);
        src: url(~@/assets/fonts/l-america/Play-Regular.eot) format("embedded-opentype"), url(~@/assets/fonts/l-america/Play-Regular.woff) format("woff"), url(~@/assets/fonts/l-america/Play-Regular.ttf) format("truetype")
    }

    p,h1,h2,h3,h4,ol,ul{
        padding: 0;
        margin: 0;
    }

    .l-america {
        overflow: hidden
    }

    .l-america_banner {
        padding-top: 30px;
        background: url(~@/assets/images/l.america/la-banner-fragments.png) 42% 16% no-repeat, url(~@/assets/images/l.america/la-bg-down.png) bottom/contain no-repeat, #74bec2
    }

    .l-america_banner_txt {
        color: #222;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin: 25px 0
    }

    .l-america_banner_wraplink {
        margin-bottom: 30px
    }

    .l-america_banner_link {
        width: 168px;
        height: 35px;
        background-color: #e75048;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-transform: uppercase;
        color: #fff;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease
    }

    .l-america__content_colorinner_txt, .l-america__content_txt {
        font-family: PR;
        font-size: 18px;
        font-weight: 400
    }

    .l-america_banner_link:hover {
        background-color: #3b3b90;
        color: #fff
    }

    .l-america_banner_mockwrap {
        margin-bottom: -165px
    }

    .l-america__yellow {
        background: url(~@/assets/images/l.america/la-yellow-pattern.png);
        padding-top: 80px
    }

    .l-america__content_txt {
        color: #222;
        line-height: 24px;
        padding-top: 30px
    }

    .l-america__content_txt-p0 {
        padding: 0
    }

    .l-america__content_aim {
        position: relative;
        padding-left: 30px
    }

    .l-america__content_aim::before {
        content: '';
        display: block;
        width: 2px;
        height: 108px;
        background-color: #c9514a;
        position: absolute;
        left: 0;
        top: 50px
    }

    .l-america__content_girl {
        margin-top: -80px
    }

    .l-america__content_color {
        margin-top: 160px
    }

    .l-america__content_wrap {
        margin-top: -100px
    }

    .l-america__content_colorwrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .l-america__content_colorinner {
        width: 76px;
        height: 76px;
        -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, .22);
        box-shadow: 0 2px 6px 1px rgba(0, 0, 0, .22);
        background-color: #3b3b90;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        margin-bottom: 60px
    }

    .l-america__content_colorinner::after, .l-america__content_colorinner::before {
        background-color: #000;
        opacity: .6;
        bottom: -60px;
        content: '';
        display: block
    }

    .l-america__content_colorinner::before {
        width: 2px;
        height: 60px;
        position: absolute;
        left: 50%;
        margin-left: -1px
    }

    .l-america__content_colorinner::after {
        width: 88px;
        height: 2px;
        position: absolute;
        left: 39px
    }

    .l-america__content_colorinner_txt {
        color: #222;
        line-height: 24px;
        letter-spacing: .72px;
        position: absolute;
        bottom: -60px;
        left: 45px
    }

    .l-america__content_color-txt, .l-america__content_typo_PR {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: .96px;
        font-family: PR
    }

    .l-america__content_colorinner-black {
        background-color: #222
    }

    .l-america__content_colorinner-red {
        background-color: #e75048
    }

    .l-america__content_colorinner-white {
        background-color: #fff
    }

    .l-america__content_color-txt {
        color: #222;
        line-height: 24px;
        margin-bottom: 32px;
        margin-top: 60px
    }

    .l-america__content_typo {
        margin-top: 120px
    }

    .l-america__content_tree {
        position: relative;
        margin-bottom: 80px
    }

    .l-america__content_tree_wrap {
        position: absolute;
        right: -160px;
        top: 80px
    }

    .l-america__content_typo_example {
        padding-left: 30px;
        position: relative
    }

    .l-america__content_typo_example::before {
        content: '';
        display: block;
        width: 3px;
        height: 107px;
        background-color: #c9514a;
        position: absolute;
        left: 0;
        top: -15px
    }

    .l-america__content_typo_example-right {
        text-align: right;
        padding-left: 0;
        padding-right: 30px
    }

    .l-america__main_wrap, .l-america__other {
        text-align: center
    }

    .l-america__content_typo_example-right::before {
        left: initial;
        right: 0;
        top: 0
    }

    .l-america__content_typo_PR {
        color: #383893;
        line-height: 18px;
        padding-bottom: 10px
    }

    .l-america__content_typo_PB-mini, .l-america__content_typo_PR-mini {
        color: #383893;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .48px
    }

    .l-america__content_typo_PR-mini {
        font-family: PR;
        font-weight: 400
    }

    .l-america__content_typo_PB-mini {
        font-family: PB;
        font-weight: 700;
        margin-left: 45px
    }

    .l-america__content_typo_txtFA {
        font-family: FA
    }

    .l-america__content_typo_txtPB {
        font-family: PB;
        color: #000;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1.44px
    }

    .l-america__bold-before::before {
        content: 'COLORS';
        display: block;
        opacity: .1;
        color: #383893;
        font-family: FA;
        font-size: 70px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        margin-left: 188px
    }

    .l-america__bold-before-typo::before {
        content: 'TYPOgraphy';
        font-size: 90px;
        margin-left: -400px
    }

    .l-america__main {
        margin-top: 70px
    }

    .l-america__main_wrap_treesmall {
        position: absolute;
        width: 211px;
        height: 170px;
        top: -110px;
        left: -120px
    }

    .l-america__main_wrap_treesmall-right {
        left: initial;
        right: -105px;
        top: 1570px
    }

    .l-america__main_wrap_boy {
        position: absolute;
        right: -170px;
        top: 130px
    }

    .l-america__main_wrap_mobile {
        position: absolute;
        right: -250px;
        top: 600px;
        z-index: 1
    }

    .l-america__main_wrap_mockup {
        position: absolute;
        z-index: 1;
        right: -260px;
        bottom: -180px
    }

    .l-america__main_wrap_tooltip {
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .21);
        box-shadow: 0 3px 8px rgba(0, 0, 0, .21);
        background-color: #fff;
        padding: 30px 30px 30px 60px;
        position: absolute;
        z-index: 1;
        width: 100%;
        max-width: 450px;
        text-align: left;
        bottom: 330px;
        right: -235px
    }

    .l-america__main_wrap_tooltip::before {
        content: '';
        display: block;
        width: 2px;
        height: 90px;
        background-color: #c9514a;
        position: absolute;
        left: 30px;
        top: 15px
    }

    .l-america__main_wrap_tooltip-p {
        font-family: PR;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px
    }

    .l-america__main_inner::before, .l-america__other_inn::after {
        font-family: FA;
        font-weight: 400
    }

    .l-america__main_page {
        position: relative;
        z-index: 1;
        margin-bottom: -184px
    }

    .l-america__main_img {
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .1);
        box-shadow: 0 0 16px rgba(0, 0, 0, .1);
        opacity: .99;
        width: 100%;
        max-width: 800px
    }

    .l-america__main_inner {
        margin-top: 30px;
        position: relative
    }

    .l-america__main_inner::before {
        content: 'HOME PAGE';
        display: block;
        position: absolute;
        opacity: .1;
        color: #383893;
        font-size: 89px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 3.57px;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        right: 15px;
        top: 0
    }

    .l-america__treereverse {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1)
    }

    .l-america__bold-txt {
        font-family: FA;
        font-size: 30px;
        font-weight: 400;
        line-height: 18px;
        color: #3b3b90;
        text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
        position: relative;
        z-index: 1;
        display: inline
    }

    .l-america__bold-txt::after {
        content: '';
        display: block;
        width: 100%;
        height: 11px;
        bottom: 0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #fff;
        right: 0;
        left: 0;
        opacity: .7;
        position: absolute;
        z-index: -1
    }

    .l-america__bold-txt_another {
        position: relative
    }

    .l-america__bold-txt_another::before {
        content: 'pages';
        font-size: 127px;
        position: absolute;
        bottom: 60px;
        left: -190px
    }

    .l-america__other, .l-america__other_inn {
        position: relative
    }

    .l-america__other {
        padding-top: 435px;
        z-index: -1;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d7ed98), color-stop(99%, #b5da44), to(#b5da44));
        background-image: -webkit-linear-gradient(top, #d7ed98 0, #b5da44 99%, #b5da44 100%);
        background-image: -moz-linear-gradient(top, #d7ed98 0, #b5da44 99%, #b5da44 100%);
        background-image: -o-linear-gradient(top, #d7ed98 0, #b5da44 99%, #b5da44 100%);
        background-image: linear-gradient(to bottom, #d7ed98 0, #b5da44 99%, #b5da44 100%)
    }

    .l-america__other_inn::after {
        content: 'Other';
        opacity: .1;
        color: #383893;
        font-size: 127px;
        line-height: 168px;
        letter-spacing: 5.08px;
        position: absolute;
        top: -250px
    }

    .l-america__other_inn::before {
        content: '';
        display: block;
        width: 257px;
        height: 208px;
        background: url(~@/assets/images/l.america/la-tree.png) 0 0/contain no-repeat;
        position: absolute;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        top: -130px;
        z-index: 2
    }

    .l-america__other_poster {
        padding-top: 10px
    }

    .l-america__other_poster_inn {
        position: relative;
        z-index: 1
    }

    .l-america__other_tree {
        width: 188px;
        position: absolute;
        top: 87px;
        right: 207px
    }

    .l-america__other_bottom {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 100%
    }

    .l-america__other_bottom > * {
        width: 100%
    }


    @media screen and (max-width: 1199px) {

        .l-america__main_inner::before {
            right: -35px
        }

        .l-america__main_page {
            margin-bottom: -162px
        }

        .l-america__main_wrap_tooltip {
            bottom: 50px;
            right: 265px
        }
    }

    @media screen and (max-width: 991px) {

        .l-america__other_inn::before, {
            display: none
        }


        .l-america__content_girl,.l-america__content_tree_wrap,.l-america__content_wrap,.l-america__main_wrap_boy,.l-america__main_wrap_mockup,.l-america__treereverse {
            display: none
        }

        .l-america__main_wrap_mobile {
            right: -20px
        }

        .l-america__main_wrap_tooltip {
            bottom: 160px;
            right: -5px
        }

        .l-america__yellow {
            padding-top: 160px
        }

        .l-america__content_aim {
            padding-top: 40px
        }

        .l-america__content_colorinner {
            margin-right: 52px
        }

        .l-america__bold-before-typo::before {
            margin: 0;
            font-size: 60px
        }
    }

    @media screen and (max-width: 767px) {

        .l-america_banner_mockwrap {
            margin-left: 15px;
            margin-right: 15px
        }

        .l-america__content_typo_example-right {
            margin-top: 30px
        }

        .l-america__main_wrap_mobile {
            margin-top: 20px;
            position: static
        }

        .l-america__main_wrap_mobile>* {
            margin: 0 auto
        }

        .l-america__content_aim::before {
            top: 50%
        }

        .l-america__content_typo {
            margin-top: 60px
        }

        .l-america__main_wrap_tooltip {
            position: relative;
            bottom: initial;
            left: initial;
            right: initial;
            margin: 20px auto
        }

        .l-america__main_page {
            margin: 0
        }

        .l-america__other {
            padding-top: 180px
        }

        .l-america__bold-txt_another::before,.l-america__other_inn::after {
            font-size: 70px
        }

        .l-america__other_inn::after {
            top: -180px
        }
    }

    @media screen and (max-width: 560px) {

        .l-america__main_wrap_tooltip::before {
            top: 30px
        }

        .l-america__bold-before-typo::before {
            font-size: 30px
        }
        .l-america__content_colorwrap {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }

        .l-america__content_colorwrap>* {
            margin-right: 101px;
            margin-top: 20px
        }
    }


    @media screen and (max-width: 320px) {
        .l-america__content_colorwrap>* {
            margin-right:61px
        }
    }

</style>
