<template>
    <u-animate-container
            :config="config">
        <main class="lightek">
        <!--set meta data-->
        <vue-headful
                title="Разработка корпоративного сайта для Lightek на Framework Laravel 5"
                description="Разработка корпоративного сайта для компании Lightek - продажа и установка оборудования для шоу-бизнеса (музыкальные и шоу постановки) на фреймворке Laravel 5. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-4 logoBlock">
                        <u-animate
                                name="bounceInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img class="img-responsive"
                                 src="~@/assets/images/lightek/logo.png"
                                 alt="">
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                el="h1"
                                animateClass="animated"
                                :begin="false"
                        >
                            Разработка
            корпоративного сайта
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                el="p"
                                animateClass="animated"
                                :begin="false"
                                class="subHeader"
                        >
                            для компании №1 в
                            Украине
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0.3s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                el="p"
                                animateClass="animated"
                                :begin="false"
                                class="subHeader2"
                        >
                            по продаже и установке
                            оборудования для
                            шоу-бизнеса
                        </u-animate>

                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <a href="https://lightek.net.ua"
                           rel="nofollow"
                           target="blank"
                           class="btn read-more"
                           tabindex="-1">Перейти
                            на сайт</a>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="guidelines">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="slideInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 imgTop"
                    >
                        <img class="img-responsive"
                             src="~@/assets/images/lightek/imac.png"
                             alt="">
                    </u-animate>
                </div>
                <div class="row">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-sm-6 fontsBlock"
                    >
                        <p>Myriad pro</p>
                        <p>АБВГДЕЁЖЗИЙКЛМНО<br>абвгдеёжзийклмно<br>0123456789
                        </p>
                        <p>Bold</p>
                        <p>Regular</p>
                    </u-animate>
                    <div class="col-xs-12 col-sm-6 colorsBlock">
                        <u-animate
                                name="slideInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-sm-2 col-sm-offset-1"
                        >
                            <div class="colorWrap">
                                <div class="color1"></div>
                                <div class="colorMini1"></div>
                            </div>
                            <p>#000000</p>
                        </u-animate>

                        <u-animate
                                name="slideInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-sm-2 bottom"
                        >
                            <div class="colorWrap">
                                <div class="color2"></div>
                                <div class="colorMini2"></div>
                            </div>
                            <p>#efefef</p>
                        </u-animate>

                        <u-animate
                                name="slideInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-sm-2"
                        >
                            <div class="colorWrap">
                                <div class="color3"></div>
                                <div class="colorMini3"></div>
                            </div>
                            <p>#ffeb01</p>
                        </u-animate>

                        <u-animate
                                name="slideInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-sm-2 bottom"
                        >
                            <div class="colorWrap">
                                <div class="color4"></div>
                                <div class="colorMini4"></div>
                            </div>
                            <p>#ffffff</p>
                        </u-animate>

                        <u-animate
                                name="slideInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-sm-2"
                        >
                            <div class="colorWrap">
                                <div class="color5"></div>
                                <div class="colorMini5"></div>
                            </div>
                            <p>#e4e4e4</p>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="about center">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2"
                    >
                        <p class="title">О
                            проекте</p>
                        <p>Компания “Lightek”
                            является лидером в
                            своей отрасли, и
                            предлагает комплекс
                            технических решений по
                            инсталляции
                            шоу-техники,
                            современные
                            технические решения по
                            механизации сцен
                            театров, дворцов,
                            клубов и различных
                            шоу-площадок на всей
                            территории Украины. На
                            территории Украины
                            компания эксклюзивно
                            представляет лучших
                            мировых производителей
                            светового, звукового
                            оборудования,
                            спецэффектов и
                            сценических
                            конструкций.</p>
                        <p>Перед студией MobiOS
                            предстала сложная
                            задача - создать
                            привлекательный,
                            современный, а главное
                            многофункциональный
                            сайт, который
                            формировал бы имидж
                            компании, удобно
                            представлял все услуги
                            компании и обеспечивал
                            легкую и быструю
                            коммуникацию с
                            пользователем. Также в
                            функционал сайта
                            следовало включить
                            удобный каталог
                            товаров мировых
                            брендов. В качестве
                            основных инструментов
                            разработки были
                            выбраны для Front-End
                            - фреймворк <b>Bootstrap</b>
                            и для Back-End -
                            фреймворк <b>Laravel
                                5</b>.</p>
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="prototype center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                el="p"
                                animateClass="animated"
                                :begin="false"
                                class="title"
                        >
                            Прототипирование
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                el="p"
                                animateClass="animated"
                                :begin="false"
                        >
                            Перед разработкой
                            дизайна мы собрали все
                            требования к проекту и
                            разработали
                            максимально<br>
                            подробные прототипы
                            всех страниц сайта.
                        </u-animate>
                        <u-animate
                                name="jello"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <img class="img-responsive"
                             src="~@/assets/images/lightek/imgPrototype.png"
                             alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="design center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                el="p"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="title"
                        >
                            Дизайн концепции
                        </u-animate>
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                el="p"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            Заказчику было
                            предоставлено два
                            дизайна главной
                            страницы на выбор.
                            Дизайны были выполнены
                            в<br> современном
                            стиле с использованием
                            корпораптивных цветов.
                            Дизайн полностью
                            соответсвовал<br>
                            предварителым
                            прототипам.
                        </u-animate>
                        <u-animate
                                name="zoomIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <img class="img-responsive"
                             src="~@/assets/images/lightek/imgDesign.png"
                             alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="finals center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                el="p"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="title"
                        >
                            Финальная версия
                        </u-animate>
                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                el="p"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            В результате правок и
                            пожеланий заказчика,
                            был получен третий
                            вариат, который
                            полностью<br>
                            удовлетворил клиента и
                            на основе которого
                            были разработаны
                            остальные страницы
                            сайта.
                        </u-animate>
                    </div>
                </div>
            </div>
            <div class="row">
                <u-animate
                        name="bounceInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                <img class="img-responsive"
                     src="~@/assets/images/lightek/imgFinals.png"
                     alt="">
                </u-animate>
            </div>
        </section>
        <section class="adaptive">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 leftBlock">
                        <u-animate
                                name="bounceInDown"
                                delay="0s"
                                duration="1s"
                                el="p"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="title"
                        >
                            Разработка
                        </u-animate>
                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                el="p"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            Для разработки сайта
                            использовался
                            фреймворк <b>LARAVEL
                            5</b>, который
                            позволил выполнить все
                            задачи заказчика и
                            сделать
                            многофункциональный
                            сайт.
                        </u-animate>
                    </div>
                    <div class="col-xs-12 col-sm-6 rightBlock">
                        <u-animate
                                name="bounceInUp"
                                delay="0s"
                                duration="1s"
                                el="p"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="title"
                        >
                            Адаптивность
                        </u-animate>
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                el="p"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            Сайт полностью
                            адаптивен и позволяет
                            пользователю легко и
                            удобно пользоваться
                            всеми доступными
                            функциями при любом
                            расширении экрана.
                        </u-animate>
                    </div>
                    <u-animate
                            name="tada"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <img class="img-responsive"
                             src="~@/assets/images/lightek/imgAdaptive.png"
                             alt="">
                    </u-animate>
                    <u-animate
                            name="slideInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 center"
                    >
                        <a href="https://lightek.net.ua"
                           rel="nofollow"
                           target="blank"
                           class="btn read-more"
                           tabindex="-1">Перейти
                            на сайт</a>
                    </u-animate>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>

    @import "~@/assets/bootstrap/bootstrap.css";

    @font-face {
        font-family: 'HelveticaNeueCyrBlack';
        src: url('~@/assets/fonts/HelveticaNeueCyrBlack.eot');
        src: url('~@/assets/fonts/HelveticaNeueCyrBlack.eot') format('embedded-opentype'),
        url('~@/assets/fonts/HelveticaNeueCyrBlack.woff2') format('woff2'),
        url('~@/assets/fonts/HelveticaNeueCyrBlack.woff') format('woff'),
        url('~@/assets/fonts/HelveticaNeueCyrBlack.ttf') format('truetype'),
        url('~@/assets/fonts/HelveticaNeueCyrBlack.svg#HelveticaNeueCyrBlack') format('svg');
    }

    @font-face {
        font-family: 'HelveticaNeueCyrBold';
        src: url('~@/assets/fonts/HelveticaNeueCyrBold.eot');
        src: url('~@/assets/fonts/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
        url('~@/assets/fonts/HelveticaNeueCyrBold.woff2') format('woff2'),
        url('~@/assets/fonts/HelveticaNeueCyrBold.woff') format('woff'),
        url('~@/assets/fonts/HelveticaNeueCyrBold.ttf') format('truetype'),
        url('~@/assets/fonts/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold') format('svg');
    }

    @font-face {
        font-family: 'helveticaneuecyrroman';
        src: url('~@/assets/fonts/helveticaneuecyrroman.eot');
        src: url('~@/assets/fonts/helveticaneuecyrroman.eot') format('embedded-opentype'),
        url('~@/assets/fonts/helveticaneuecyrroman.woff2') format('woff2'),
        url('~@/assets/fonts/helveticaneuecyrroman.woff') format('woff'),
        url('~@/assets/fonts/helveticaneuecyrroman.ttf') format('truetype'),
        url('~@/assets/fonts/helveticaneuecyrroman.svg#helveticaneuecyrroman') format('svg');
    }

    @font-face {
        font-family: 'MyriadPro-Regular';
        src: url('~@/assets/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/MyriadPro-Regular.otf') format('opentype'),
        url('~@/assets/fonts/MyriadPro-Regular.woff') format('woff'),
        url('~@/assets/fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('~@/assets/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'MyriadPro-Semibold';
        src: url('~@/assets/fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/MyriadPro-Semibold.otf') format('opentype'),
        url('~@/assets/fonts/MyriadPro-Semibold.woff') format('woff'),
        url('~@/assets/fonts/MyriadPro-Semibold.ttf') format('truetype'),
        url('~@/assets/fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Calibri-Regular';
        src: url('~@/assets/fonts/Calibri-Regular.ttf') format('truetype');
    }

    .lightek .no-pad {
        padding: 0;
    }

    .rel {
        position: relative;
    }

    .text-right {
        text-align: right;
    }

    .center {
        text-align: center;
    }
    p{
        margin: 0;
    }

    body {
        /*overflow-x: hidden;*/
    }

    .title {
        margin: 0;
    }

    /*SECTION .TOP*/
    .lightek .top {
        background: url('~@/assets/images/lightek/bgTop.png') no-repeat center top;
        background-size: cover;
        height: 722px;
    }

    .lightek .top div.logoBlock {
        border-right: 1px solid #fff;
        margin-top: 85px;
        padding-right: 50px;
        text-align: right;
    }

    .lightek .top .logoBlock img {
        margin-bottom: 45px;
        margin-left: auto;
    }

    .lightek .top h1,
    .lightek .top p {
        color: #fff;
        text-shadow: 0 0 1px rgba(0, 0, 1, 0.56);
        font-family: "HelveticaNeueCyrBlack";
        font-size: 35px;
        line-height: 35px;
        text-transform: uppercase;
        margin: 0;
    }

    .lightek .top p.subHeader {
        font-family: "helveticaneuecyrroman";
        font-size: 29px;
        line-height: 29px;
        text-transform: uppercase;
    }

    .lightek .top p.subHeader2 {
        font-family: "Calibri-Regular";
        font-size: 19px;
        line-height: 29px;
        font-style: italic;
        text-transform: lowercase;
    }

    .lightek .top .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 44px;
        border: 2px solid #fff;
        text-transform: lowercase;
        background: url('~@/assets/images/era/arrowBtnRight.png') left center no-repeat;
        background-position-x: 85%;
        z-index: 1;
        margin: 50px 0 80px 0;
    }

    .lightek .top .read-more:hover {
        background: url('~@/assets/images/era/arrowBtnRight-hover.png') left center no-repeat #ffeb01;
        background-position-x: 85%;
        color: #303030;
        text-decoration: none;
        padding: 15px 100px 15px 44px;
        border: 2px solid transparent;
    }

    /*END OF SECTION .TOP*/

    /*SECTION .GUIDELINES*/
    .guidelines {
        background: url('~@/assets/images/lightek/bgGuidelines.png') no-repeat left top, url('~@/assets/images/lightek/bgGuidelines2.png') no-repeat right top, url('~@/assets/images/lightek/bgGuidelines3.png') no-repeat center 115%;
    }

    .guidelines .imgTop img {
        margin: 0 auto;
        position: relative;
        top: -130px;
    }

    .lightek .guidelines .fontsBlock p:nth-child(1) {
        color: #2e2e2e;
        font-size: 48px;
        line-height: 48px;
        font-family: "MyriadPro-Semibold";
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    .lightek .guidelines .fontsBlock p:nth-child(2) {
        color: #414141;
        font-size: 18px;
        line-height: 36px;
        font-family: "MyriadPro-Regular";
        letter-spacing: 8px;
    }

    .lightek .guidelines .fontsBlock p:nth-child(3) {
        color: #2e2e2e;
        font-size: 36px;
        line-height: 36px;
        font-family: "MyriadPro-Semibold";
        text-transform: uppercase;
        text-align: right;
        margin: 30px 70px 30px 0;
    }

    .lightek .guidelines .fontsBlock p:nth-child(4) {
        color: #2e2e2e;
        font-size: 36px;
        line-height: 36px;
        font-family: "MyriadPro-Regular";
        text-transform: uppercase;
        text-align: right;
        margin-right: 70px;
    }

    .lightek .guidelines .colorsBlock .colorWrap {
        width: 99px;
        height: 99px;
        border: 1px solid #ededed;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
    }

    .lightek .guidelines .colorsBlock .color1,
    .lightek .guidelines .colorsBlock .color2,
    .lightek .guidelines .colorsBlock .color3,
    .lightek .guidelines .colorsBlock .color4,
    .lightek .guidelines .colorsBlock .color5 {
        width: 66px;
        height: 66px;
        border-radius: 50%;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .lightek .guidelines .colorsBlock .color1 {
        background: #000;
    }

    .lightek .guidelines .colorsBlock .color2 {
        background: #efefef;
        bottom: 0;
    }

    .lightek .guidelines .colorsBlock .color3 {
        background: #ffeb01;
    }

    .lightek .guidelines .colorsBlock .color4 {
        background: #fff;
    }

    .lightek .guidelines .colorsBlock .color5 {
        background: #e4e4e4;
    }

    .lightek .guidelines .colorsBlock .bottom {
        top: 200px;
    }

    .lightek .guidelines .colorsBlock .colorMini1,
    .lightek .guidelines .colorsBlock .colorMini2,
    .lightek .guidelines .colorsBlock .colorMini3,
    .lightek .guidelines .colorsBlock .colorMini4,
    .lightek .guidelines .colorsBlock .colorMini5 {
        width: 7px;
        height: 7px;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .lightek .guidelines .colorsBlock .colorMini1 {
        background-color: #000;
    }

    .lightek .guidelines .colorsBlock .colorMini2 {
        background-color: #efefef;
    }

    .lightek .guidelines .colorsBlock .colorMini3 {
        background-color: #ffeb01;
    }

    .lightek .guidelines .colorsBlock .colorMini4 {
        background-color: #fff;
    }

    .lightek .guidelines .colorsBlock .colorMini5 {
        background-color: #e4e4e4;
    }

    .lightek .guidelines .colorsBlock p {
        color: #000;
        font-size: 14px;
        line-height: 36px;
        font-family: "Calibri-Regular";
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
    }

    /*END OF SECTION .GUIDELINES*/

    /*SECTION .ABOUT*/
    .lightek .about {
        background: url('~@/assets/images/lightek/bgAbout.png') no-repeat left center, url('~@/assets/images/lightek/bgAbout2.png') no-repeat right center;
        background-color: #f1f1f1;
        margin-top: 50px;
        padding: 85px 0;
    }

    .lightek .about .title {
        color: #2e2e2e;
        font-size: 36px;
        line-height: 36px;
        font-family: "HelveticaNeueCyrBlack";
        text-transform: uppercase;
        display: inline-block;
        position: relative;
    }

    .lightek .about .title:after {
        content: "";
        display: block;
        width: 101px;
        height: 1px;
        background: #c3c3c3;
        position: relative;
        left: 0;
        right: 0;
        margin: 45px auto;
    }

    .lightek .about p {
        color: #2e2e2e;
        font-size: 16px;
        line-height: 30px;
        font-family: "Calibri-Regular";
    }

    /*END OF SECTION .ABOUT*/

    /*SECTION .PROTOTYPE*/
    .lightek .prototype {
        background: linear-gradient(to top, #fff 0%, rgba(202, 202, 202, 0.77) 100%), url('~@/assets/images/lightek/bgPrototype.png') no-repeat center 200px;
        padding: 85px 0 0 0;
    }

    .lightek .prototype .title {
        color: #2e2e2e;
        font-size: 36px;
        line-height: 36px;
        font-family: "HelveticaNeueCyrBlack";
        text-transform: uppercase;
        display: inline-block;
        position: relative;
    }

    .lightek .prototype .title:after {
        content: "";
        display: block;
        width: 101px;
        height: 1px;
        background: #c3c3c3;
        position: relative;
        left: 0;
        right: 0;
        margin: 45px auto;
    }

    .lightek .prototype p {
        color: #2e2e2e;
        font-size: 16px;
        line-height: 27px;
        font-family: "Calibri-Regular";
    }

    .lightek .prototype img {
        margin-top: 60px;
        height: 80%;
    }

    /*END OF SECTION .PROTOTYPE*/

    /*SECTION .DESIGN*/
    .lightek .design {
        background: url('~@/assets/images/lightek/bgDesign.png') no-repeat left top, url('~@/assets/images/lightek/bgDesign.png') no-repeat right bottom;
    }

    .lightek .design .title {
        color: #2e2e2e;
        font-size: 36px;
        line-height: 36px;
        font-family: "HelveticaNeueCyrBlack";
        text-transform: uppercase;
        display: inline-block;
        position: relative;
    }

    .lightek .design .title:after {
        content: "";
        display: block;
        width: 101px;
        height: 1px;
        background: #c3c3c3;
        position: relative;
        left: 0;
        right: 0;
        margin: 45px auto;
    }

    .lightek .design p {
        color: #2e2e2e;
        font-size: 16px;
        line-height: 27px;
        font-family: "Calibri-Regular";
    }

    /*END OF SECTION .DESIGN*/

    /*SECTION .FINALS*/
    .lightek .finals {
        background: url('~@/assets/images/lightek/bgFinals.png') no-repeat center 150px;
        padding: 85px 0;
    }

    .lightek .finals .title {
        color: #2e2e2e;
        font-size: 36px;
        line-height: 36px;
        font-family: "HelveticaNeueCyrBlack";
        text-transform: uppercase;
        display: inline-block;
        position: relative;
    }

    .lightek .finals .title:after {
        content: "";
        display: block;
        width: 101px;
        height: 1px;
        background: #c3c3c3;
        position: relative;
        left: 0;
        right: 0;
        margin: 45px auto;
    }

    .lightek .finals p {
        color: #2e2e2e;
        font-size: 16px;
        line-height: 27px;
        font-family: "Calibri-Regular";
    }

    .lightek .finals img {
        margin: 0 auto;
    }

    /*SECTION .ADAPTIVE*/
    .lightek .adaptive {
        background: url('~@/assets/images/lightek/bgAdaptive.png') no-repeat center 200px, url('~@/assets/images/lightek/bgAdaptive2.png') no-repeat left bottom, url('~@/assets/images/lightek/bgAdaptive3.png') no-repeat right bottom, linear-gradient(to top, #fff 0%, #fff 31%, #e2e2e2 100%);
        padding: 85px 0;
    }

    .lightek .adaptive .leftBlock .title {
        color: #2e2e2e;
        font-size: 36px;
        line-height: 36px;
        font-family: "HelveticaNeueCyrBlack";
        text-transform: uppercase;
        display: block;
        position: relative;
        text-align: left;
    }

    .lightek .adaptive .leftBlock .title:after {
        content: "";
        display: block;
        width: 101px;
        height: 1px;
        background: #c3c3c3;
        position: relative;
        left: 0;
        right: 0;
        margin: 45px 0;
        margin-left: 0;
    }

    .lightek .adaptive .leftBlock p {
        color: #2e2e2e;
        font-size: 16px;
        line-height: 27px;
        font-family: "Calibri-Regular";
        text-align: left;
    }

    .lightek .adaptive .rightBlock .title {
        color: #2e2e2e;
        font-size: 36px;
        line-height: 36px;
        font-family: "HelveticaNeueCyrBlack";
        text-transform: uppercase;
        display: block;
        position: relative;
        text-align: right;
    }

    .lightek .adaptive .rightBlock .title:after {
        content: "";
        display: block;
        width: 101px;
        height: 1px;
        background: #c3c3c3;
        position: relative;
        left: 0;
        right: 0;
        margin: 45px 0;
        margin-left: auto;
    }

    .lightek .adaptive .rightBlock p {
        color: #2e2e2e;
        font-size: 16px;
        line-height: 27px;
        font-family: "Calibri-Regular";
        text-align: right;
    }

    .lightek .adaptive img {
        margin-top: 200px;
    }

    .lightek .adaptive .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #000;
        letter-spacing: 1px;
        padding: 15px 100px 15px 44px;
        border: 2px solid #000;
        text-transform: lowercase;
        background: url('~@/assets/images/era/arrowBtnRight-hover.png') left center no-repeat;
        background-position-x: 85%;
        z-index: 1;
        margin: 50px 0 80px 0;
    }

    .lightek .adaptive .read-more:hover {
        background: url('~@/assets/images/era/arrowBtnRight.png') left center no-repeat #ffeb01;
        background-position-x: 85%;
        color: #fff;
        text-decoration: none;
        padding: 15px 100px 15px 44px;
        border: 2px solid transparent;
    }

    /*END OF SECTION .ADAPTIVE*/

    /*MEDIA*/
    @media screen and (max-width: 767px) {
        .lightek .prototype p br,
        .lightek .design p br,
        .lightek .finals p br {
            display: none;
        }

        .lightek .top {
            height: 550px;
        }

        .lightek .top div.logoBlock {
            border-right: none;
            margin-top: 20px;
            padding-right: 10px;
            text-align: center;
        }

        .lightek .top p,
        .lightek .top h1 {
            font-size: 22px;
            line-height: 22px;
        }

        .lightek .top p.subHeader {
            font-size: 18px;
            line-height: 18px;
        }

        .lightek .top p.subHeader2 {
            font-size: 17px;
            line-height: 19px;
        }

        .lightek .guidelines {
            background: none;
        }

        .lightek .guidelines .fontsBlock p:nth-child(1) {
            text-align: center;
            margin-bottom: 30px;
        }

        .lightek .guidelines .fontsBlock p:nth-child(3) {
            text-align: center;
            margin: 30px 0;
        }

        .lightek .guidelines .fontsBlock p:nth-child(4) {
            text-align: center;
            margin-right: 0;
        }

        .lightek .guidelines .colorsBlock p {
            text-align: center;
        }

        .lightek .guidelines .colorsBlock .bottom {
            top: 0;
        }

        .lightek .about {
            background: #f1f1f1;
            margin-top: 0;
            padding: 50px 0;
        }

        .lightek .about .title,
        .lightek .prototype .title,
        .lightek .design .title,
        .lightek .finals .title,
        .lightek .adaptive .leftBlock .title,
        .lightek .adaptive .rightBlock .title {
            font-size: 25px;
            line-height: 25px;
        }

        .lightek .about .title:after,
        .lightek .prototype .title:after,
        .lightek .design .title:after,
        .lightek .finals .title:after,
        .lightek .adaptive .leftBlock .title:after,
        .lightek .adaptive .rightBlock .title:after {
            margin: 25px auto;
        }

        .lightek .about p {
            text-align: left;
        }

        .lightek .prototype,
        .lightek .design,
        .lightek .finals,
        .lightek .adaptive {
            padding: 50px 0;
        }

        .lightek .design,
        .lightek .adaptive {
            background: none;
        }

        .lightek .adaptive .leftBlock {
            margin-bottom: 25px;
        }

        .lightek .adaptive .leftBlock .title,
        .lightek .adaptive .rightBlock .title {
            text-align: center;
        }

        .lightek .adaptive .leftBlock p,
        .lightek .adaptive .rightBlock p {
            text-align: center;
        }

        .lightek .adaptive img {
            margin-top: 0;
        }
    }

    /*END OF MEDIA*/
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }
</style>