<template>
    <u-animate-container
            :config="config">
        <main class="lndc">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта-каталога для компании LNDC - инструменты мониторинга"
                description="Разработка сайта-каталога для компании LNDC - инструменты мониторинга и измерений. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="banner">
            <div class="container">
                <div class="banner__inner">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <div class="banner__link">
                            <img class="img-responsive" src="~@/assets/images/lndc/logo.png" alt="">
                        </div>
                    </u-animate>
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="banner__txt-wrap"
                    >
                    <h1>РАЗРАБОТКА САЙТА-КАТАЛОГА</h1>
                        <p class="banner__txt">
                            <b>Компания LNDC</b> предоставляет  полный спектр услуг для мониторинга подземных
                            и поверхностных вод, метеорологии, контроля температуры и влажности , в том
                            числе с использованием телеметрии.
                        </p>
                    </u-animate>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="banner__mock"
                    >
                        <img class="img-responsive" src="~@/assets/images/lndc/banner-mock.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="functional">
            <div class="container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name section-name_left"
                >
                    <h3 class="section-name-txt section-name_left-txt">Функционал</h3>
                </u-animate>
                <div class="functional__inner">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="functional__item"
                    >
                        <div class="functional__img">
                            <img src="~@/assets/images/lndc/func-1.png" alt="">
                        </div>
                        <div>
                            <p class="functional__reg">CMS</p>
                            <p><b class="functional__bold">WordPress</b></p>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="functional__item"
                    >
                        <div class="functional__img">
                            <img src="~@/assets/images/lndc/func-2.png" alt="">
                        </div>
                        <div>
                            <p class="functional__reg">Framework</p>
                            <p><b class="functional__bold">Bootstrap 4</b></p>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="functional__item"
                    >
                        <div>
                            <p class="functional__reg">Было разработано <b class="functional__bold">две<br>языковые версии</b> сайта</p>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="functional__item"
                    >
                        <div>
                            <p class="functional__reg">Реализован каталог на базе<br><b class="functional__bold">Woocommerce</b></p>
                        </div>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="color">
            <div class="container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name section-name_left"
                >
                    <h3 class="section-name-txt color__section-name section-name_left-txt">Цветовое решение</h3>
                </u-animate>
                <div class="color__inner">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="color__item"
                    >
                        <p class="color__txt"><span class="color__sharp">#</span>72c9e2</p>
                        <div class="color__circle color__circle_blue"></div>
                    </u-animate>
                    <u-animate
                            name="bounceInLeft"
                            delay="0.2s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="color__item"
                    >
                        <p class="color__txt"><span class="color__sharp">#</span>9acc17</p>
                        <div class="color__circle color__circle_green"></div>
                    </u-animate>
                    <u-animate
                            name="bounceInLeft"
                            delay="0.4s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="color__item"
                    >
                        <p class="color__txt"><span class="color__sharp">#</span>222222</p>
                        <div class="color__circle color__circle_black"></div>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="font">
            <div class="container">
                <u-animate
                        name="bounceInRight"
                        delay="0.4s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name section-name_right"
                >
                    <h3 class="section-name-txt section-name_right-txt">Шрифтовое решение</h3>
                </u-animate>
                <div class="row">
                    <div class="col-md-offset-5 col-md-7">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                el="p"
                                animateClass="animated"
                                :begin="false"
                                class="font__roboto-big"
                        >
                            ROBOTO
                        </u-animate>
                        <div class="font__weight-wrap">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="p"
                                    animateClass="animated"
                                    :begin="false"
                                    class="font__weight font__weight_black"
                            >
                                Black
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="p"
                                    animateClass="animated"
                                    :begin="false"
                                    class="font__weight font__weight_bold"
                            >
                                Bold
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="p"
                                    animateClass="animated"
                                    :begin="false"
                                    class="font__weight font__weight_reg"
                            >
                                Regular
                            </u-animate>
                        </div>
                        <div>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="p"
                                    animateClass="animated"
                                    :begin="false"
                                    class="font__weight font__weight_reg font__weight_upp"
                            >
                                а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    el="p"
                                    animateClass="animated"
                                    :begin="false"
                                    class="font__weight font__weight_reg"
                            >
                                а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-5 font__full-1"
                    >
                        <img class="img-responsive" src="~@/assets/images/lndc/full-1.jpg" alt="">
                    </u-animate>
                </div>
                <div class="row">
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-offset-3 col-md-7 font__full-2"
                    >
                        <img class="img-responsive" src="~@/assets/images/lndc/full-2.jpg" alt="">
                    </u-animate>
                </div>
                <h3 class="font__name">Product page</h3>
            </div>
        </section>

        <section class="adaptive">
            <div class="container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name section-name_left wow bounceInLeft"
                >
                    <h3 class="section-name-txt section-name_left-txt">Адаптивность</h3>
                </u-animate>
                <div class="row">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-4"
                    >
                        <p class="adaptive__txt">Сайт был полностью адпатирован под все устройства и отлично работает во всех браузерах</p>
                    </u-animate>
                </div>
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="adaptive__img"
                >
                    <img class="img-responsive" src="~@/assets/images/lndc/mob-mock.png" alt="">
                </u-animate>
            </div>
        </section>

        <section class="other">
            <div class="container">
                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name section-name_right"
                >
                    <h3 class="section-name-txt section-name_right-txt">Другие страницы</h3>
                </u-animate>
                <div class="row other__inner">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-7"
                    >
                        <img src="~@/assets/images/lndc/full-3.jpg" alt="" class="img-responsive">
                        <img src="~@/assets/images/lndc/full-4.jpg" alt="" class="img-responsive">
                    </u-animate>
                </div>
                <div class="row">
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-offset-4 col-md-8 other__full-2"
                    >
                        <img src="~@/assets/images/lndc/full-5.jpg" alt="" class="img-responsive">
                        <img src="~@/assets/images/lndc/full-6.jpg" alt="" class="img-responsive">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="text-center">
            <u-animate
                    name="fadeIn"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="container"
            >
                <div class="port-link-wrap">
                    <a class="port-link port-link_black" href="https://lndc.co.ua/" rel="nofollow" target="_blank">Посмотреть сайт</a>
                </div>
            </u-animate>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        components: {
            UAnimateContainer,
            UAnimate
        },
    }
</script>

<style scoped>
    .banner, .relative {
        position: relative
    }

    .color__txt, .font__name, .font__roboto-big, .font__weight_upp, .section-name-txt {
        text-transform: uppercase
    }

    @font-face {
        font-family: Roboto;
        src: url(~@/assets/fonts/lndc/Roboto-Regular.eot);
        src: url(~@/assets/fonts/lndc/Roboto-Regular.eot) format("embedded-opentype"), url(~@/assets/fonts/lndc/Roboto-Regular.woff) format("woff"), url(~@/assets/fonts/lndc/Roboto-Regular.ttf) format("truetype");
        font-weight: 400
    }

    @font-face {
        font-family: Roboto;
        src: url(~@/assets/fonts/lndc/Roboto-Bold.eot);
        src: url(~@/assets/fonts/lndc/Roboto-Bold.eot) format("embedded-opentype"), url(~@/assets/fonts/lndc/Roboto-Bold.woff) format("woff"), url(~@/assets/fonts/lndc/Roboto-Bold.ttf) format("truetype");
        font-weight: 700
    }

    @font-face {
        font-family: "Roboto - Black";
        src: url(~@/assets/fonts/lndc/Roboto-Black.eot);
        src: url(~@/assets/fonts/lndc/Roboto-Black.eot) format("embedded-opentype"), url(~@/assets/fonts/lndc/Roboto-Black.woff) format("woff"), url(~@/assets/fonts/lndc/Roboto-Black.ttf) format("truetype")
    }

    body, html {
        overflow-x: hidden
    }

    p, h1, h2, h3, h4 {
        margin: 0
    }

    .text-right {
        text-align: right
    }

    .text-left {
        text-align: left
    }

    .port-link {
        text-transform: uppercase;
        padding: 15px 40px;
        border: 2px solid #cc3743;
        transition: all .3s ease;
        color: black;
    }
    .port-link:hover{
        text-decoration: none;
        letter-spacing: 1px;
    }
    .text-center {
        text-align: center
    }

    .lndc {
        margin: 0 auto;
        max-width: 1920px;
        padding-bottom: 130px
    }

    .banner {
        padding-top: 150px;
        padding-bottom: 210px
    }

    .banner::before {
        content: '';
        display: block;
        width: 1638px;
        height: 972px;
        background: url(../~@/assets/images/lndc/bg-1.png) center/cover no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1
    }

    .banner__link:focus {
        outline: 0
    }

    .banner__inner {
        position: relative
    }

    .banner__inner h1{
        color: #fff;
    }

    .banner__mock {
        position: absolute;
        right: -100px;
        top: 30px
    }

    .banner__txt {
        color: #fff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px
    }

    .color__txt, .functional__bold, .functional__reg, .section-name-txt {
        color: #222;
        font-family: Roboto
    }

    .banner__txt-wrap {
        width: 100%;
        max-width: 474px;
        padding-left: 30px;
        border-left: 2px solid #00cae3;
        margin-left: 27px;
        margin-top: 77px
    }

    .section-name-txt {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.44px;
        padding-bottom: 16px;
        position: relative
    }

    .section-name-txt::after, .section-name-txt::before {
        content: '';
        display: block;
        position: absolute
    }

    .section-name-txt::after {
        width: 358px;
        height: 1px;
        background-color: #72c9e2;
        bottom: 0
    }

    .section-name-txt::before {
        width: 67px;
        height: 54px;
        background: url(../~@/assets/images/lndc/section-name.png) center/contain no-repeat;
        bottom: 15px
    }

    .section-name_left-txt::after {
        left: 97px
    }

    .section-name_left-txt::before {
        left: 390px
    }

    .section-name_right-txt {
        padding-left: 133px;
        text-align: right
    }

    .section-name_right-txt::after {
        width: 455px;
        right: 103px
    }

    .section-name_right-txt::before {
        right: 491px
    }

    .functional p {
        margin: 0
    }

    .functional__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 60px
    }

    .functional__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .color::after, .color__txt::after, .functional__item:nth-of-type(2)::after {
        content: '';
        display: block
    }

    .functional__item:nth-of-type(2) {
        position: relative
    }

    .functional__item:nth-of-type(2)::after {
        width: 1px;
        height: 72px;
        background-color: #d3d3d3;
        position: absolute;
        right: -70px;
        top: -15px
    }

    .functional__img {
        margin-right: 15px
    }

    .functional__bold, .functional__reg {
        font-size: 16px;
        letter-spacing: .64px
    }

    .functional__reg {
        font-weight: 400
    }

    .functional__bold {
        font-weight: 700
    }

    .color {
        margin-top: 170px;
        position: relative
    }

    .color::after {
        width: 1203px;
        height: 1401px;
        background: url(../~@/assets/images/lndc/bg-2.png) center/contain no-repeat;
        top: -640px;
        right: 0;
        position: absolute;
        z-index: -1
    }

    .color__section-name {
        margin-bottom: 105px
    }

    .color__section-name::after {
        width: 455px;
        height: 1px
    }

    .color__section-name::before {
        left: 480px
    }

    .color__txt {
        font-size: 18px;
        font-weight: 400;
        position: relative;
        padding-bottom: 8px;
        margin-right: 50px;
        margin-bottom: 0
    }

    .color__txt::after {
        width: 128px;
        height: 1px;
        background-color: #d3d3d3;
        position: absolute;
        left: 0;
        bottom: 0
    }

    .color__sharp {
        color: #9acc17
    }

    .color__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 120px;
        margin-left: 97px
    }

    .color__circle::after, .font::before {
        content: '';
        display: block
    }

    .color__item:nth-of-type(2) {
        margin-left: 42px
    }

    .color__circle {
        width: 87px;
        height: 87px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative
    }

    .color__circle::after {
        width: 120px;
        height: 120px;
        border: 1px solid #d3d3d3;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        margin-left: -60px;
        top: -17px
    }

    .font, .font .container {
        position: relative
    }

    .color__circle_blue {
        background-color: #72c9e2
    }

    .color__circle_green {
        background-color: #9acc17
    }

    .color__circle_black {
        background-color: #222
    }

    .font {
        margin-top: 70px
    }

    .font::before {
        width: 1251px;
        height: 1645px;
        background: url(../~@/assets/images/lndc/bg-3.png) center/contain no-repeat;
        position: absolute;
        left: 0;
        top: -70px
    }

    .font__roboto-big {
        color: #222;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1.44px;
        text-align: center;
        margin-bottom: 60px;
        margin-top: 127px
    }

    .font__weight {
        font-size: 16px;
        letter-spacing: 1.2px;
        text-align: center
    }

    .font__weight_black {
        font-family: "Roboto - Black"
    }

    .font__weight_bold, .font__weight_reg {
        font-family: Roboto
    }

    .font__weight_bold {
        font-weight: 700
    }

    .font__weight_reg {
        font-weight: 400
    }

    .font__weight-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        max-width: 462px;
        margin: 0 auto 54px
    }

    .font__full-1 {
        margin-top: -410px
    }

    .font__full-2 {
        margin-top: -910px
    }

    .font__name {
        opacity: .1;
        color: #222;
        font-family: "Roboto - Black";
        font-size: 124px;
        letter-spacing: 1px;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        position: absolute;
        top: 510px;
        right: 41px;
        margin: 0
    }

    .adaptive {
        margin-top: 123px
    }

    .adaptive .container {
        position: relative
    }

    .adaptive__txt {
        color: #222;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: .72px;
        margin-top: 84px
    }

    .adaptive__img {
        position: absolute;
        right: -70px;
        top: -380px
    }

    .other {
        margin-top: 300px
    }

    .other img {
        margin-bottom: 60px
    }

    .other__full-2 {
        margin-top: -1487px
    }

    .other__inner {
        margin-top: 45px
    }

    .end {
        margin: 0 auto
    }

    @media screen and (max-width: 1600px) {
        .functional .section-name-txt {
            color: #a7a7a7
        }

        .functional__inner {
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around
        }
    }

    @media screen and (max-width: 1200px) {
        .banner__mock, .color::after, .functional__item:nth-of-type(2)::after {
            display: none
        }

        .color__item, .color__item:nth-of-type(2) {
            margin: 0
        }

        .color__inner {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

        .font__full-2 {
            margin-top: -710px
        }

        .adaptive__img {
            right: -190px
        }

        .other__full-2 {
            margin-top: -1287px
        }
    }

    @media screen and (max-width: 992px) {
        .font__name {
            display: none
        }

        .other {
            margin-bottom: 30px;
            margin-top: 70px
        }

        .lndc {
            padding-bottom: 120px
        }

        .adaptive__img {
            position: static;
            margin-top: 30px
        }

        .functional__inner {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

        .functional__item {
            margin-bottom: 20px
        }

        .other img {
            margin: 20px auto 0
        }

        .other__full-2 {
            margin: 0
        }

        .font__full-1, .font__full-2 {
            margin: 20px 0
        }

        .font__full-1 img, .font__full-2 img {
            margin: auto
        }

        .font__roboto-big {
            margin-top: 30px
        }
    }

    @media screen and (max-width: 767px) {
        .banner__txt-wrap {
            margin-left: 0;
            padding-left: 0;
            border: 0
        }

        .section-name_left-txt::after {
            left: 0
        }

        .section-name_left-txt::before {
            left: 230px
        }

        .section-name-txt {
            font-size: 23px;
            padding-left: 0
        }

        .banner {
            padding-bottom: 300px
        }

        .color__section-name::before {
            display: none
        }

        .color {
            margin-top: 70px
        }

        .color__inner {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

        .color__item, .color__item:nth-of-type(2), .color__section-name {
            margin-bottom: 50px
        }
    }
</style>
