<template>
    <u-animate-container
            :config="config">
        <main class="masterskaya" id="mir">
        <!--set meta data-->
        <vue-headful
                title="Создание и разработка имиджевого сайта отделочных материалов"
                description="Разработан на популярной CMS Joomla. Адаптивный индивидуальный дизайн. Прорисовка инфографики. Оптимизация сайта"
                keywords=""
        />
        <!--end set meta data-->
        <div class="main_mir">
            <div class="row no-margin">
                <div class="container">
                    <div class="col-xs-12">
                        <img class="middle-pic"
                             id="mir_logo"
                             src="~@/assets/images/masterskaya/logo.png">
                    </div>
                    <div class="col-xs-12">
                    <h1 class="main_page_title">Разработка
                        сайта каталога</h1>
                        <p class="mir_border_white"></p>
                        <p class="sub text white-text">
                            Цель: создать
                            имиджевый
                            сайт-каталог, основная
                            задача которого -
                            убедить посетителя
                            сайта прийти в
                            салон.<br>
                            Для этого основное
                            внимание посетителя
                            сконцентрировано на
                            стильных интерьерах, в
                            которых используются
                            продаваемые
                            отделочные материалы
                        </p>
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 center"
                        >
                            <a class="btn read-more"
                               tabindex="-1"
                               href="https://interior-shop.com.ua/"
                               rel="nofollow"
                               target="blank">Перейти
                                на сайт</a>
                        </u-animate>
                    </div>
                </div>
            </div>
        </div>

        <div class="about_mir">
            <div class="row no-margin">
                <div class="col-xs-12 col-md-4 about_back_photo">
                </div>
                <div class="col-xs-12 col-md-8 about_back_color">
                    <div class="row">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6"
                        >
                            <h2 class="text name white-text">
                                Cайт-каталог
                                отделочных
                                материалов</h2>
                            <p class="mir_border_white"></p>
                            <p class="text sub white-text about">
                                "Мастерская
                                интеррьерных
                                решений" - это
                                салон отделочных
                                материалов,
                                команда которого
                                заботиться об
                                удобстве своих
                                клиентов. Они
                                готовы делиться
                                своими знаниями и
                                опытом для того,
                                чтобы посетитель
                                салона нашел
                                именно то, что ему
                                нужно. А так же
                                единственные в
                                Одессе
                                предоставляют
                                внутреннюю
                                декоративную
                                отделку в
                                комплексе (товары
                                и услуги)</p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6"
                        >
                            <p class="text name white-text">
                                Разработка</p>
                            <p class="mir_border_white"></p>
                            <ul class="text sub white-text">
                                <li>В основе сайта
                                    - популярная
                                    CMS - Joomla
                                </li>
                                <li>Адаптивный
                                    индивидуальный
                                    дизайн
                                </li>
                                <li>Проработка
                                    контента
                                </li>
                                <li>Прорисовка
                                    иконографики
                                </li>
                            </ul>
                        </u-animate>
                    </div>
                </div>
            </div>
        </div>

        <div class="icons_mir">
            <div class="row no-margin">
                <div class="container">
                    <div class="col-xs-12">
                        <p class="white-text text name">
                            Для сайта разработаны
                            иконки</p>
                    </div>
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_6.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_11.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_12.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_13.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_1.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_2.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_3.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_4.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_5.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_7.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_8.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_9.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-6 col-md-4 col-lg-3">
                        <div class="for_mir_icon">
                            <img class="mir-icon middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/icon_10.png">
                        </div>
                    </div>
                    </u-animate>

                </div>

            </div>
        </div>

        <div class="firm_style_mir">
            <div class="row no-margin">
                <div class="container">
                    <div class="col-xs-12">
                        <p class="grey-text text name">
                            Логотипы</p>
                        <p class="mir_border_grey"></p>
                        <p class="grey-text text sub">
                            "Мастерская
                            Интерьерных Решений" -
                            новый салон, поэтому
                            на момент разработки
                            сайта у нее не было
                            даже утвержденного
                            названия. Логотип
                            Мастерской
                            разрабатывался на
                            протяжении 2 недель.
                            При этом было
                            предоставлено 10
                            концепций логотипа.
                            После чего Заказчики
                            изменили название
                            салона.
                            И еще 5 концепций
                            последовали после
                            смены.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="black_back_1">
            <div class="row no-margin">
                <u-animate
                        name="zoomIn"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="container"
                >
                    <div class="parrent_icon col-xs-12 col-lg-3">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_1.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-3">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_2.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-3">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_3.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-3">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_4.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-3">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_5.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-3">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_6.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-3">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_7.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-3">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_8.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-4">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_9.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-4">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_10.png">
                        </div>
                    </div>
                    <div class="parrent_icon col-xs-12 col-lg-4">
                        <div class="for_mir_logo">
                            <img class="mir-logo middle-pic responsive-img"
                                 src="~@/assets/images/masterskaya/logo_11.png">
                        </div>
                    </div>
                </u-animate>
            </div>
        </div>

        <div class="firm_style_mir">
            <div class="row no-margin">
                <div class="container">
                    <div class="col-xs-12">
                        <p class="grey-text text name">
                            Фирменный стиль</p>
                        <p class="mir_border_grey"></p>
                        <p class="grey-text text sub">
                            Так же для салона был
                            проработан фирменный
                            стиль:
                            визитка,
                            конверт,
                            бланк,
                            папка
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="black_back_2">
            <div class="row no-margin">
                <u-animate
                        name="slideInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12 col-lg-6"
                >
                    <p class="white-text text name">
                        Вариант №1</p>
                    <img class="middle-pic responsive-img fs_page"
                         src="~@/assets/images/masterskaya/Fs_MIR_1.jpg">
                </u-animate>
                <u-animate
                        name="slideInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12 col-lg-6"
                >
                    <p class="white-text text name">
                        Вариант №2</p>
                    <img class="middle-pic responsive-img fs_page"
                         src="~@/assets/images/masterskaya/Fs_MIR_3.jpg">
                </u-animate>
            </div>
        </div>


        <div class="design_mir">
            <div class="row no-margin">
                <div class="col-xs-12">
                    <p class="text name grey_text">
                        Дизайн</p>
                    <p class="mir_border_grey"></p>
                    <p class="text sub grey_text">
                        Относительно дизайна сайта
                        у Заказчиков было четкое
                        представление того, что
                        они
                        хотят видеть. Это легкий,
                        светлый, утонченный сайт с
                        яркими акцентами желтого.
                        Дизайн был разработан в
                        двух вариантах с разными
                        цветовыми гаммами.
                        Сиреневый вариант был
                        принят сразу, без правок
                    </p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <img class="responsive-img middle-pic var"
                         src="~@/assets/images/masterskaya/1_03.png">
                </div>
                <div class="col-xs-12 col-md-6">
                    <img class="responsive-img middle-pic var"
                         src="~@/assets/images/masterskaya/2_03.png">
                </div>
            </div>
        </div>

        <div class="all_pages_mir">
            <div class="row no-margin">
                <div class="col-xs-12">
                    <p class="text name grey_text">
                        Финал</p>
                    <p class="mir_border_grey"></p>
                    <p class="text sub grey_text">
                        Финальный вариант дизайна
                        получился таким</p>
                </div>
                <div class="col-xs-12">
                    <u-animate
                            name="slideInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <img class=" responsive-img middle-pic mir_final mir_page"
                         src="~@/assets/images/masterskaya/Index-2_v3_лого.png">
                    </u-animate>
                </div>
                <div class="col-xs-12 col-md-6">
                    <u-animate
                            name="slideInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <img class=" responsive-img middle-pic mir_page"
                         src="~@/assets/images/masterskaya/Index-2_oboi.png">
                    </u-animate>
                </div>
                <div class="col-xs-12 col-md-6">
                    <u-animate
                            name="slideInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <img class=" responsive-img middle-pic mir_page"
                         src="~@/assets/images/masterskaya/Index-2_artikle.png">
                    </u-animate>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="col-xs-12 col-md-5 col-lg-3 parent">
                    <div class="photo">
                        <img class="responsive-img"
                             src="~@/assets/images/masterskaya/ico2.png">
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-9">
                    <blockquote>
                        <q>С первых слов хочется
                            выразить вашей команде
                            комплименты!)
                            То, как тонко вы
                            уловили наши пожелания
                            по созданию сайта
                            (основные цвета,
                            "легкость",
                            настроение) - просто
                            шедевр! Вы молодцы!
                        </q><br><br>
                        <cite></cite>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container slide_8 center bottom">
                <div class="aligncenter col-100 case-1 load">
                    <img class="responsive-img"
                         src="~@/assets/images/masterskaya/ico1.png"
                         width="55" height=""
                         alt="разработка интернет-магазина"><br/>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <a class="btn-1 read-more"
                           tabindex="-1"
                           href="http://interior-shop.com.ua/"
                           rel="nofollow"
                           target="blank">Перейти
                            на сайт</a>
                    </u-animate>
                </div>
            </div>
        </div>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style lang="scss" scoped>

    @font-face {
        font-family: 'HelveticaNeueCyrLight';
        src: url('~@/assets/fonts/HelveticaNeueCyrLight.eot');
        src: url('~@/assets/fonts/HelveticaNeueCyrLight.eot') format('embedded-opentype'),
        url('~@/assets/fonts/HelveticaNeueCyrLight.woff2') format('woff2'),
        url('~@/assets/fonts/HelveticaNeueCyrLight.woff') format('woff'),
        url('~@/assets/fonts/HelveticaNeueCyrLight.ttf') format('truetype'),
        url('~@/assets/fonts/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight') format('svg');
    }

    @font-face {
        font-family: 'HelveticaNeueCyrMedium';
        src: url('~@/assets/fonts/HelveticaNeueCyrMedium.eot');
        src: url('~@/assets/fonts/HelveticaNeueCyrMedium.eot') format('embedded-opentype'),
        url('~@/assets/fonts/HelveticaNeueCyrMedium.woff2') format('woff2'),
        url('~@/assets/fonts/HelveticaNeueCyrMedium.woff') format('woff'),
        url('~@/assets/fonts/HelveticaNeueCyrMedium.ttf') format('truetype'),
        url('~@/assets/fonts/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium') format('svg');
    }

    .main_page_title{
        color: #fff;
        @media screen and (max-width: 1024px){
            font-size: 18px;
        }
    }
    .text {
        text-align: center;
        letter-spacing: 1px;
    }
    .center{
        text-align: center;
    }

    .name {
        font: 160% 'HelveticaNeueCyrLight';
        line-height: 1.5em;
    }

    .sub {
        font: 100% 'HelveticaNeueCyrLight';
        margin: 20px 0;
        line-height: 1.5em;
    }

    .white-text {
        color: white;
    }

    .grey_text {
        color: #757575;
    }

    img {
        max-width: 100%;
    }

    .bottom {
        margin-bottom: 70px;
    }

    .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat #f5d046;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 15px 0;
        z-index: 10;
    }

    .read-more:hover {
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none;
        z-index: 10;
    }

    .btn-1.read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat #f5d046;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 15px 0;
        z-index: 10;
    }

    .btn-1.read-more:hover {
        background: url(~@/assets/images/e-crewing/arrowBtnRight-hover.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #000;
        color: #000;
        text-decoration: none;
        z-index: 10;
    }

    blockquote {
        font-size: 14px;
        line-height: 17px;
        position: relative;
        font-style: normal;
        padding: 34px 47px;
        border: 2px solid #babbbc;
        border-radius: 4px;
        margin-top: 0;
        min-height: 168px;
    }

    blockquote:after {
        content: '';
        background: url(~@/assets/images/masterskaya/arrow1.png) no-repeat;
        width: 9px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: -9px;
        margin: -8px 0 0;
    }

    .photo {
        width: 168px;
        height: 168px;
        background-color: transparent;
        border: 1px solid #c2c2c2;
        padding: 20px;
        border-radius: 84px;
        margin: 0 auto;

    }

    .parent {
        margin-bottom: 10px;
    }

    .middle-pic {
        display: block;
        margin: 0 auto;
    }

    .no-margin {
        margin: 0;
    }

    .main_mir {
        background: url(~@/assets/images/masterskaya/bg_02.png) no-repeat center;
        background-size: cover;
    }

    #mir_logo {
        margin-top: 20px;
        width: 260px;
    }

    .mir_border {
        border-bottom: 1px solid black;
        width: 200px;
        margin: 20px auto;
    }

    .mir_border_white {
        border-bottom: 2px solid white;
        width: 200px;
        margin: 20px auto;

    }

    .mir_border_grey {
        border-bottom: 2px solid lightgrey;
        width: 200px;
        margin: 20px auto;

    }

    .about_back_color {
        position: relative;
        background: #b7b2d0;
        min-height: 444px;
        padding-top: 5% !important;
    }

    .about_back_color:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 25px 25px 0;
        border-color: transparent #b7b2d0 transparent transparent;
        top: 40%;
        right: 100%;

    }

    .about_back_photo {
        background: black url(~@/assets/images/masterskaya/skandinavskiy_stil_6.jpg) no-repeat center;
        background-size: cover;
        height: 444px;;
        padding: 15px;
    }

    .about_back_color ul li {
        margin: 15px 0;
    }

    .about_back_color ul li:before {
        content: '\2714      ';

    }

    .icons_mir {
        background: url(~@/assets/images/masterskaya/bg.jpg);
        background-size: 50%;
        padding: 30px 0;
    }

    .parrent_icon {
        float: none !important;
        display: inline-block;
        margin-left: -4px !important;
        vertical-align: top;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .mir_icon {
        width: 100px;
    }

    .firm_style_mir {
        background: url(~@/assets/images/masterskaya/pic.png) no-repeat 0 0,
        url(~@/assets/images/masterskaya/pic_1.png) no-repeat 100% 0;
        background-size: 90px;
        padding: 40px 0;

    }

    .fs_page {
        margin: 30px auto;
    }

    .mir-logo {
        width: 265px;
    }

    .black_back_1 {
        background: #1b130f;
    }

    .black_back_2 {
        background-color: #0a0b0d;
    }

    .var {
        width: 680px;
        margin-bottom: 50px;
    }

    .mir_final {
        max-width: 1400px !important;
        margin-bottom: 30px;
        width: 100%;
    }

    .mir_page {
        -webkit-box-shadow: -11px 10px 11px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -11px 10px 11px -6px rgba(0, 0, 0, 0.75);
        box-shadow: -11px 10px 11px -6px rgba(0, 0, 0, 0.75);
        margin-bottom: 30px;
    }

    .about_back_color ul {
        text-align: left;
    }

    @media only screen and (max-width: 782px) {
        .about_back_photo {
            display: none;
        }

        .about_back_color {
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 1166px) {
        .about_back_photo {
            height: 555px;
        }

        .about_back_color {
            min-height: 555px;
        }
    }
</style>