<template>
    <u-animate-container
            :config="config">
        <main>
        <!--set meta data-->
        <vue-headful
                title="Разработка корпоративного сайта для Концерна “Військторгсервіс”"
                description="Разработка корпоративного сайта для Концерна “Військторгсервіс” - Миноборона. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="first-screen">
            <div class="container">
                <u-animate
                        name="fadeInLeft"
                        delay="0.4s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="logo-block"
                >
                    <img src="~@/assets/images/minoborona/logo.png" alt="">
                </u-animate>

                <div class="info-block">
                    <u-animate
                            name="fadeIn"
                            delay="0.6s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="logo-block"
                    >
                        <div class="info-title">
                            <img class="num-block" src="~@/assets/images/minoborona/num1.png" alt="">
                            <h1 class="text">Разработан UX/UI Design корпоративного сайта</h1>
                        </div>
                        <div class="icons-block">
                            <img class="laptop" src="~@/assets/images/minoborona/laptop.svg" alt="">
                            <img class="tablet" src="~@/assets/images/minoborona/tablet.svg" alt="">
                            <img class="smartphone" src="~@/assets/images/minoborona/smartphone.svg" alt="">
                        </div>
                    </u-animate>

                    <u-animate
                            name="fadeIn"
                            delay="0.8s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-item"
                    >
                        <div class="info-title">
                            <img class="num-block" src="~@/assets/images/minoborona/num2.png" alt="">
                            <span class="text">Подбор фирменных цветов</span>
                        </div>
                        <div class="icons-block">
                            <div class="green-color"></div>
                            <div class="white-color"></div>
                        </div>
                    </u-animate>

                    <u-animate
                            name="fadeIn"
                            delay="1s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-item"
                    >
                        <div class="info-title">
                            <img class="num" src="~@/assets/images/minoborona/num3.png" alt="">
                            <span class="text">Подбор фирменных шрифтов</span>
                        </div>
                        <div class="alphabet-block">
                            <p class="font-name">Geometria</p><br>
                            <img class="alphabet-img" src="~@/assets/images/minoborona/alphabet.png" alt="">
                        </div>
                    </u-animate>

                    <u-animate
                            name="fadeIn"
                            delay="1.2s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-item"
                    >
                        <div class="info-title">
                            <img class="num" src="~@/assets/images/minoborona/num4.png" alt="">
                            <span class="text">Разработка остальных страниц сайта</span>
                        </div>
                        <div class="other-pages-block">
                            <ul>
                                <li>Услуги</li>
                                <li>Контакты</li>
                            </ul>
                            <ul>
                                <li>О компании</li>
                                <li>Работы</li>
                            </ul>
                        </div>
                    </u-animate>

                    <u-animate
                            name="fadeIn"
                            delay="1s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="info-item"
                    >
                        <div class="info-title">
                            <img class="num-block" src="~@/assets/images/minoborona/num5.png" alt="">
                            <span class="text">Иконографика</span>
                        </div>
                        <div class="icons-block iconograph-block">
                            <img class="group" src="~@/assets/images/minoborona/svg-1.svg" alt="">
                            <img class="quality" src="~@/assets/images/minoborona/svg-2.svg" alt="">
                            <img class="search" src="~@/assets/images/minoborona/svg-3.svg" alt="">
                            <img class="breakfast" src="~@/assets/images/minoborona/svg-4.svg" alt="">
                            <img class="ukraine" src="~@/assets/images/minoborona/svg-5.svg" alt="">
                        </div>
                    </u-animate>
                </div>
                <div class="bgmob2">
                    <img src="~@/assets/images/minoborona/bgmob2.png" alt="">
                </div>
            </div>
        </section>
        <section class="main-page">
            <div class="container">
                <u-animate
                        name="slideInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="info-item"
                >
                    <img class="main-page-title" src="~@/assets/images/minoborona/main-page-title.png" alt="">
                </u-animate>
                <u-animate
                        name="zoomInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="main-page-content"
                >
                </u-animate>
            </div>
        </section>
        <section class="color">
            <div class="container">
                <div class="top">
                    <u-animate
                            name="slideInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img class="color-title" src="~@/assets/images/minoborona/color-title.png" alt="">
                    </u-animate>
                    <u-animate
                            name="slideInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img class="color1" src="~@/assets/images/minoborona/color1.png" alt="">
                    </u-animate>
                </div>
                <div class="flexbox">
                    <div class="center clearfix">
                        <u-animate
                                name="zoomIn"
                                delay="0.5s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img src="~@/assets/images/minoborona/fontcolor.png" alt="" class="colors clearfix">
                        </u-animate>
                    </div>
                    <div class="font">
                        <u-animate
                                name="slideInRight"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img src="~@/assets/images/minoborona/font-title.png" alt="" class="font-title">
                        </u-animate>
                        <p class="font-name">Geometria</p>
                        <div class="img-block clearfix">
                            <u-animate
                                    name="pulse"
                                    delay="0.7s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="alphabet-img-uppercase" src="~@/assets/images/minoborona/alphabet-uppercase.png" alt="">
                            </u-animate>
                            <u-animate
                                    name="pulse"
                                    delay="0.8s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="alphabet-img" src="~@/assets/images/minoborona/alphabet-low.png" alt="">
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <img class="typography" src="~@/assets/images/minoborona/typography.png" alt="">
                </div>
            </div>
        </section>
        <section class="other-pages">
            <div class="container">
                <div class="other-pages-title">
                    <img src="~@/assets/images/minoborona/other-pages-title.png" alt="" class="other-pages-title-img">
                </div>
                <div class="other-pages-content mobile_none">
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img src="~@/assets/images/minoborona/otherpage.png" alt="">
                    </u-animate>
                </div>
                <div class="other-pages-content mobile_block">
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img src="~@/assets/images/minoborona/other1.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img src="~@/assets/images/minoborona/other2.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                        <img src="~@/assets/images/minoborona/other3.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                        <img src="~@/assets/images/minoborona/other4.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                        <img src="~@/assets/images/minoborona/other5.png">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                    <img src="~@/assets/images/minoborona/other6.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                        <img src="~@/assets/images/minoborona/other7.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                        <img src="~@/assets/images/minoborona/other8.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                        <img src="~@/assets/images/minoborona/other9.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                        <img src="~@/assets/images/minoborona/other10.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                        <img src="~@/assets/images/minoborona/other11.png" alt="">
                    </u-animate>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >

                        <img src="~@/assets/images/minoborona/other12.png" alt="">
                    </u-animate>
                </div>
                <div class="thanks">
                    <img src="~@/assets/images/minoborona/thanks.png" alt="">
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        components: {
            UAnimateContainer,
            UAnimate
        },
    }
</script>

<style scoped>
    @font-face {
        font-family: 'Geometria';
        src: url("~@/assets/fonts/minoborona/geometria/Geometria-Bold.woff");
        src: url("~@/assets/fonts/minoborona/geometria/Geometria-Bold.eot") format("eot"), url("~@/assets/fonts/minoborona/geometria/Geometria-Bold.ttf") format("truetype"), url("~@/assets/fonts/minoborona/geometria/Geometria-Bold.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    body {
        font-family: 'Geometria';
        font-weight: 400;
    }
    p, h1, h2, h3, h4{
        margin: 0;
        padding: 0;
    }
    ol, ul{
        padding: 0;
        margin: 0;
    }
    .mobile_block {
        display: none;
    }
    .first-screen {
        height: 100vh;
        position: relative;
    }
    .first-screen:before {
        content: '';
        position: absolute;
        display: block;
        width: 1920px;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: url('../~@/assets/images/minoborona/bg-1.png') no-repeat;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        position: relative;
    }
    .info-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .info-block {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .info-title {
        color: #fff;
        font-weight: 700;
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }
    .text {
        font-size: 18px;
        margin-left: 10px;
    }

    .icons-block {
        display: flex;
        align-items: center;
        margin-left: 32px;
    }
    .icons-block img {
        margin: 0 15px;
    }
    .laptop {
        width: 51px;
        height: 41px;
    }
    .smartphone {
        width: 27px;
        height: 35px;
    }
    .tablet {
        width: 36px;
        height: 27px;
    }
    .green-color,
    .white-color {
        width: 28px;
        height: 28px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        margin: 0 15px;
    }
    .green-color {
        background-color: #afd755;
        border: 2px solid #fff;
    }
    .white-color {
        background-color: #fff;
        border: 2px solid #d3d3d3;
    }
    .font-name {
        color: #fff;
        font-size: 16px;
    }
    .alphabet-img {
        display: block;
    }
    .alphabet-block {
        margin-left: 48px;
    }
    .other-pages-block {
        display: flex;
        margin-left: 65px;
    }
    .other-pages-block ul {
        list-style: inherit;
        width: 100px;
    }
    .other-pages-block ul li {
        color: #fff;
    }
    .group {
        width: 50px;
    }
    .quality {
        width: 35px;
    }
    .search {
        width: 30px;
    }
    .breakfast {
        width: 40px;
    }
    .ukraine {
        width: 45px;
    }
    .main-page-title {
        display: block;
        margin-left: auto;
        margin-bottom: 50px;
    }
    .main-page-content {
        background: url('../~@/assets/images/minoborona/main-page-presentation.png') no-repeat;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        width: 100%;
        height: 131vw;
    }
    .color {
        margin-top: 50px;
    }
    .color .top {
        margin-bottom: 80px;
    }
    .color1 {
        margin-left: 190px;
    }
    .font .img-block {
        position: relative;
        height: 100px;
    }
    .font .alphabet-img-uppercase {
        position: absolute;
        left: 45%;
        top: 0;
    }
    .font {
        position: relative;
    }
    .font .colors {
        position: absolute;
        left: 20%;
    }
    .font .alphabet-img {
        position: absolute;
        left: 60%;
        bottom: 0;
    }
    .font .font-name {
        color: #444444;
        font-size: 36px;
        margin-bottom: 30px;
        text-align: center;
    }
    .font .font-title {
        display: block;
        margin-left: auto;
        margin-bottom: 70px;
    }
    .bottom {
        margin-top: 60px;
    }
    .typography {
        text-align: center;
        width: 100%;
    }
    .flexbox {
        display: flex;
        justify-content: space-around;
    }
    .other-pages {
        margin-top: 120px;
    }
    .other-pages-title-img {
        display: block;
        margin: 0 auto;
    }
    .other-pages-title {
        margin-bottom: 40px;
    }
    .other-pages-content {
        width: 100%;
    }
    .other-pages-content img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .thanks img {
        display: block;
        margin: 0 auto;
    }
    .thanks {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .bgmob2 {
        display: none;
        width: 50%;
        height: 50%;
        margin: 0 auto;
    }
    .bgmob2 img {
        width: 100%;
    }

    @media screen and (min-width: 1921px) {
        .first-screen:before {
            background-size: 100vw;
            width: 100%;
        }
    }
    @media screen and (max-width: 1500px) {
        .color1 {
            width: 30%;
        }
    }
    @media screen and (max-width:1400px) {
        .first-screen:before {
            left: -220px;
        }
    }
    @media screen and (max-width: 1199px) {
        .color-title {
            width: 32%;
        }
        .font .font-title {
            width: 68%;
        }
        .colors {
            width: 70%;
        }
        .font .alphabet-img {
            position: static;
            margin-left: auto;
        }
        .font .alphabet-img-uppercase {
            position: static;
            margin-bottom: 20px;
        }
        .thanks img {
            width: 100%;
        }
        .thanks {
            width: 45%;
            margin: 30px auto;
        }
    }
    @media screen and (max-width: 991px) {
        .first-screen:before {
            background-size: 86% auto;
        }
        .logo-block img {
            width: 30%;
        }
        .info-block {
            margin-top: 20px;
        }
        .text {
            font-size: 15px;
        }
        .icons-block img {
            margin: 0;

        }
        .iconograph-block svg {
            margin: 0 5px;
        }
        .group {
            width: 40px;
        }
        .quality {
            width: 25px;
        }
        .search {
            width: 20px;
        }
        .breakfast {
            width: 30px;
        }
        .urkaine {
            width: 35px;
        }
        footer .row {
            flex-direction: inherit !important;
        }
    }
    @media screen and (max-width: 767px) {
        .first-screen:before {
            background: url('../~@/assets/images/minoborona/bgmob1.png') no-repeat;
            left: 0;
        }
        .bgmob2 {
            display: block;
            width: 100%;
            height: inherit;
        }
        .first-screen {
            height: auto;
        }
        .logo-block img {
            width: 100%;
        }
        .logo-block {
            width: 220px;
        }
        .main-page-title {
            width: 50%;
        }
        .colors {
            width: 60%;
        }
        .flexbox {
            flex-direction: column;;
        }
        .color-title {
            width: 45%;
        }
        .font .font-title {
            width: 50%;
            margin-bottom: 55px;
        }
        .other-pages-title-img {
            width: 100%;
        }
        .other-pages-title {
            width: 60%;
            margin: 0 auto;
        }
        .other-pages {
            margin-top: 70px;
        }
        header .container {
            width: 100%;
        }
        .mobile_block {
            display: block;
        }
        .mobile_none {
            display: none;
        }
        .bottom {
            margin-top: 10px;
        }
    }
    @media screen and (max-width: 500px) {
        .main-page-title {
            margin-bottom: 30px;
        }
        .color-title,
        .font .font-title {
            width: 70%;
        }
        .font .font-title {
            margin-bottom: 25px;
        }
        .font .font-name {
            font-size: 30px;
        }
    }
    @media screen and (max-width: 400px) {
        .first-screen .container,
        .main-page .container,
        .other-pages .container {
            width: 100%;
        }
        .font .alphabet-img-uppercase,
        .font .alphabet-img {
            width: 200px;
        }
        .color1 {
            display: block;
            margin-left: auto;
        }
    }


</style>
