<template>
    <u-animate-container
            :config="config">
        <main class="modaboom">
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина женской одежды ModaBoom"
                description="Разработка интернет-магазина для компании ModaBoom - продажа женской одежды. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="header__top">
                        <div class="col-lg-4 col-lg-offset-4">
                            <u-animate
                                    name="slideInDown"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img
                                 src="~@/assets/images/modaboom/logo.png"
                                 alt="">
                            </u-animate>
                        </div>
                    </div>
                    <div class="header__general">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="header__general-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-num"
                                    >
                                        <span>1</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.4s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-body"
                                    >
                                        <h1>
                                            Разработка
            сайта для магазина женской одежды</h1>
                                        <span>
                                        <img src="~@/assets/images/modaboom/laptop.svg"
                                             alt="">
                                        <img src="~@/assets/images/modaboom/smartphone.svg"
                                             alt="">
                                        <img src="~@/assets/images/modaboom/tablet.svg"
                                             alt="">
                                      </span>
                                    </u-animate>
                                </div>
                                <div class="header__general-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.6s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-num"
                                    >
                                        <span>2</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="0.8s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-body"
                                    >
                                        <p>Подбор
                                            фирменных
                                            цветов</p>
                                        <span>
                                        <span class="header__general-list-body-color">
                                          <span class="header__general-list-body-color-pink"></span>
                                          <p>#e5007d</p>
                                        </span>
                                        <span class="header__general-list-body-color">
                                          <span class="header__general-list-body-color-grey"></span>
                                          <p>#868786</p>
                                        </span>
                                      </span>
                                    </u-animate>
                                </div>
                                <div class="header__general-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="1s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-num"
                                    >
                                        <span>3</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-body"
                                    >
                                        <p>Подбор
                                            фирменных
                                            шрифтов</p>
                                        <span class="header__general-list-body-printed">
                                            <p>Proxima nova</p>
                                            <span>а б в г д е ё ж з и й к л м н о <br>
                                              п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                                          </span>
                                    </u-animate>
                                </div>
                                <div class="header__general-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.4s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-num"
                                    >
                                        <span>4</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.6s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-body"
                                    >
                                        <p>
                                            Разработка
                                            остальных
                                            страниц
                                            сайта</p>
                                        <span>
                                        <ul>
                                          <li>Каталог</li>
                                          <li>Страница товара</li>
                                        </ul>
                                      </span>
                                    </u-animate>
                                </div>
                                <div class="header__general-list">
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.8s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-num"
                                    >
                                        <span>5</span>
                                    </u-animate>
                                    <u-animate
                                            name="fadeIn"
                                            delay="2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="header__general-list-body"
                                    >
                                        <p>
                                            Иконографика</p>
                                        <span>
                                        <img class="header__general-list-body-icon"
                                             src="~@/assets/images/modaboom/Search.svg"
                                             alt="">
                                        <img class="header__general-list-body-icon"
                                             src="~@/assets/images/modaboom/USer.svg"
                                             alt="">
                                        <img class="header__general-list-body-icon"
                                             src="~@/assets/images/modaboom/heart.svg"
                                             alt="">
                                        <img class="header__general-list-body-icon"
                                             src="~@/assets/images/modaboom/Bag.svg"
                                             alt="">
                                        <img class="header__general-list-body-icon"
                                             src="~@/assets/images/modaboom/ruler.svg"
                                             alt="">
                                        <img class="header__general-list-body-icon"
                                             src="~@/assets/images/modaboom/Delivery.svg"
                                             alt="">
                                        <img class="header__general-list-body-icon"
                                             src="~@/assets/images/modaboom/Pay.svg"
                                             alt="">
                                      </span>
                                    </u-animate>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <u-animate
                                    name="fadeIn"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="header__general-layr-img"
                            >
                                <img src="~@/assets/images/modaboom/header-layr-mac.png"
                                     alt=""
                                     class="header__general-layr-img-mac">
                                <img src="~@/assets/images/modaboom/header-layr-phone.png"
                                     alt=""
                                     class="header__general-layr-img-phone">
                                <img src="~@/assets/images/modaboom/header-layr-table.png"
                                     alt=""
                                     class="header__general-layr-img-table">
                            </u-animate>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="zoomIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span class="title__background text-right">Main page</span>
                            </u-animate>
                            <u-animate
                                    name="zoomIn"
                                    delay="1s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <h3 class="title__h3 text-right">
                                    Главная<br>
                                    страница<br> сайта
                                </h3>
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 home__circle__bg">
                        <div class="lineBg lineBg__home-top">
                            <u-animate
                                    name="fadeInUp"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__small"
                            >
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="2.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__big"
                            >
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__small"
                            >
                            </u-animate>
                        </div>
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="home__imagebg"
                        >
                            <u-animate
                                    name="slideInLeft"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="home__imagebg-font hifleft"
                            >
                            </u-animate>
                            <img src="~@/assets/images/modaboom/home-page-image.png"
                                 alt="">
                            <u-animate
                                    name="slideInRight"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="home__imagebg-font hifright"
                            >
                            </u-animate>
                        </u-animate>
                        <div class="lineBg lineBg__home-bottom">
                            <u-animate
                                    name="fadeInUp"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__small"
                            >
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="2.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__big"
                            >
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__small"
                            >
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="zoomIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span class="title__background text-left">Color</span>
                            </u-animate>
                            <u-animate
                                    name="zoomIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <h3 class="title__h3 text-left"
                                    data-wow-delay="1s">
                                    Цветовое<br>
                                    Решение<br> Сайта
                                </h3>
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-lg-offset-1">
                        <div class="color__hash">
                            <div class="color__hash-gradient">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="color__hash-gradient-line pink"></span>
                                </u-animate>
                                <u-animate
                                        name="flipInX"
                                        delay="0.5s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <p>
                                        #e5007d</p>
                                </u-animate>
                            </div>
                            <div class="color__hash-gradient">
                                <span class="color__hash-gradient-line grey wow fadeIn"></span>
                                <u-animate
                                        name="flipInX"
                                        delay="0.5s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <p>
                                        #868786</p>
                                </u-animate>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                        <div class="color__hash">
                            <div class="color__hash-gradient">
                                <u-animate
                                        name="fadeIn"
                                        delay="0.7s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="color__hash-gradient-circle red"
                                >
                                </u-animate>

                                <u-animate
                                        name="flipInX"
                                        delay="1s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <p>
                                        #f41e1e</p>
                                </u-animate>
                            </div>
                            <div class="color__hash-gradient">
                                <u-animate
                                        name="fadeIn"
                                        delay="0.7s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="color__hash-gradient-circle green"
                                >
                                </u-animate>
                                <u-animate
                                        name="flipInX"
                                        delay="1s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <p>
                                        #74b65f</p>
                                </u-animate>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                        <div class="color__hash">
                            <div class="color__hash">
                                <div class="color__hash-gradient">
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="color__hash-gradient-circle pink-lovand"
                                    >
                                    </u-animate>
                                    <u-animate
                                            name="flipInX"
                                            delay="1.5s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                    >
                                    <p>
                                        #fff2f2</p>
                                    </u-animate>
                                </div>
                                <div class="color__hash-gradient">
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="color__hash-gradient-circle sea-foman"
                                    ></u-animate>
                                    <u-animate
                                            name="flipInX"
                                            delay="1.5s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                    >
                                    <p>
                                        #fffaf0</p>
                                    </u-animate>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                        <div class="color__hash">
                            <div class="color__hash">
                                <div class="color__hash-gradient">
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.7s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="color__hash-gradient-circle whide"
                                    ></u-animate>
                                    <u-animate
                                            name="flipInX"
                                            delay="2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                    >
                                    <p>
                                        #f3f6ff</p>
                                    </u-animate>
                                </div>
                                <div class="color__hash-gradient">
                                    <u-animate
                                            name="fadeIn"
                                            delay="1.7s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="color__hash-gradient-circle whide-shade"
                                    ></u-animate>
                                    <u-animate
                                            name="flipInX"
                                            delay="2s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                    >
                                    <p>
                                        #f7fff4</p>
                                    </u-animate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="typography">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="zoomIn"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span class="title__background text-left">Typography</span>
                            </u-animate>
                            <u-animate
                                    name="zoomIn"
                                    delay="1s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <h3 class="title__h3 text-right">
                                    Шривтовое<br>
                                    Решение<br> Сайта
                                </h3>
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="typography__text clearfix">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                              <span>а б в г д е ё ж з и й к л м н о<br>
                                  п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.5s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>а б в г д е ё ж з и й к л м н о<br>
                                  п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <u-animate
                                name="bounceIn"
                                delay="1s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="typography__tex-letter"
                        >
                            <span>a</span>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="catalog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="zoomIn"
                                    delay="1s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <h3 class="title__h3 text-right">
                                    Cтраница<br>
                                    Каталога</h3>
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12  catalog__circle__bg">
                        <div class="catalog__title__bg">
                            Cataloge page
                        </div>
                        <div class="lineBg lineBg__catalog-top">
                            <u-animate
                                    name="fadeInUp"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__small"
                            ></u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="2.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__big"
                            ></u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__small"
                            ></u-animate>

                        </div>
                        <u-animate
                                name="fadeIn"
                                delay="0.8s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="catalog__imagebg"
                        >
                            <div class="home__imagebg-font hifleft"></div>
                            <img src="~@/assets/images/modaboom/catalog-page-image.jpg"
                                 alt="">
                            <div class="home__imagebg-font hifright"></div>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="adaptive">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="zoomIn"
                                    delay="1s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <h3 class="title__h3">
                                Сайт адаптивен<br>
                                под все<br>
                                устройства</h3>
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <u-animate
                                name="fadeIn"
                                delay="2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img class="adaptive__bag"
                                 src="~@/assets/images/modaboom/catalog-page.png"
                                 alt="">
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="1s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="adaptive__phone"
                        >
                            <div class="adaptive__title__bg">
                                Responsive
                            </div>
                            <img class="wow fadeIn"
                                 data-wow-delay="1.2s"
                                 src="~@/assets/images/modaboom/adaptive-phone.png"
                                 alt="">
                        </u-animate>
                        <div class="lineBg lineBg__adaptive-bottom">
                            <u-animate
                                    name="fadeInUp"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__small"
                            ></u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="2.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__big"
                            ></u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="lineBg__small"
                            ></u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="zoomIn"
                                    delay="1s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <h3 class="title__h3 text-right">
                                Страница<br>
                                товара</h3>
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 product__circle__bg">
                        <u-animate
                                name="fadeIn"
                                delay="2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="product__title__bg"
                        >
                            Product page
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="product__imagebg"
                        >
                            <div class="home__imagebg-font hifleft"></div>
                            <img src="~@/assets/images/modaboom/catalog-page-image.jpg"
                                 alt="">
                            <div class="home__imagebg-font hifright"></div>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="thanks">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="zoomIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <span class="title__background text-left">thanks</span>
                            </u-animate>
                            <u-animate
                                    name="zoomIn"
                                    delay="1s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <h3 class="title__h3 text-right">
                                Спасибо<br> За
                                просмотр<br></h3>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="btn-prew-site">
                            <a rel="nofollow"
                               href="https://moda-boom.com.ua/"
                               class="prewSite">Посмотреть
                                сайт</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style lang="scss" scoped>
    @import "~@/assets/bootstrap/bootstrap.css";

    @font-face {
        font-family: "ProximaNovaBlack";
        src: url("~@/assets/fonts/ProximaNovaBlack.eot");
        src: url("~@/assets/fonts/ProximaNovaBlack.eot") format("embedded-opentype"),
        url("~@/assets/fonts/ProximaNovaBlack.woff2") format("woff2"),
        url("~@/assets/fonts/ProximaNovaBlack.ttf") format("truetype");
    }

    @font-face {
        font-family: "ProximaNova";
        src: url("~@/assets/fonts/ProximaNovaRegular.eot");
        src: url("~@/assets/fonts/ProximaNovaRegular.eot") format("embedded-opentype"),
        url("~@/assets/fonts/ProximaNovaRegular.woff2") format("woff2"),
        url("~@/assets/fonts/ProximaNovaRegular.ttf") format("truetype");
    }

    .btn-prew-site {
        text-align: center;
        margin-bottom: 80px;
    }

    .prewSite {
        border: 2px solid #fb1986;
        border-radius: 2px;
        padding: 10px 25px;
        color: #414141;
        transition: .4s all;
        font: 19px/19px ProximaNovaBlack;
        text-decoration: none;
        cursor: pointer;
        width: 240px;
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    body, html {
        /*overflow-x: hidden;*/
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .relative {
        position: relative;
    }

    .modaboom .header {
        background-image: url("~@/assets/images/modaboom/header-img.png");
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 65px;
    }

    .modaboom .header .header__top img {
        display: block;
        margin: 0 auto;
    }

    .modaboom .header .header__general-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .modaboom .header .header__general-list .header__general-list-num span {
        width: 44px;
        height: 44px;
        display: block;
        border: 1px solid #e5007d;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        font: 24px/20px ProximaNovaBlack;
        letter-spacing: 0.6px;
        font-weight: 400;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 12px 14px 0px 0px;
    }

    .modaboom .header .header__general-list .header__general-list-body p,
    .modaboom .header .header__general-list .header__general-list-body h1 {
        font: 24px/20px ProximaNova;
        font-weight: 700;
        margin: 20px 0px;
    }

    .modaboom .header .header__general-list .header__general-list-body span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .modaboom .header .header__general-list .header__general-list-body span img {
        display: block;
        height: 26px;
        margin-right: 46px;
    }

    .modaboom .header .header__general-list .header__general-list-body span .header__general-list-body-icon {
        height: 22px;
        margin-right: 18px;
    }

    .modaboom .header .header__general-list .header__general-list-body span ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-left: 18px;
        margin: 0px;
    }

    .modaboom .header .header__general-list .header__general-list-body span ul li {
        margin-right: 45px;
        color: #000000;
        font: 16px/36px "ProximaNova";
        font-weight: 700;
        letter-spacing: 0.4px;
    }

    .modaboom .header .header__general-list .header__general-list-body .header__general-list-body-color {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 30px;
    }

    .modaboom .header .header__general-list .header__general-list-body .header__general-list-body-color span {
        width: 30px;
        height: 30px;
        display: block;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-right: 19px;
    }

    .modaboom .header .header__general-list .header__general-list-body .header__general-list-body-color .header__general-list-body-color-pink {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #e5007d;
    }

    .modaboom .header .header__general-list .header__general-list-body .header__general-list-body-color .header__general-list-body-color-grey {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #868786;
    }

    .modaboom .header .header__general-list .header__general-list-body .header__general-list-body-color p {
        color: #222222;
        font: 16px/18px "ProximaNova";
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        margin: 0px;
    }

    .modaboom .header .header__general-list .header__general-list-body-printed {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .modaboom .header .header__general-list .header__general-list-body-printed p {
        color: #000000;
        font: 18px/36px "ProximaNova";
        font-weight: 700;
        letter-spacing: 0.45px;
        margin: 0px;
    }

    .modaboom .header .header__general-list .header__general-list-body-printed span {
        color: #222222;
        font: 14px/18px "ProximaNova";
        font-weight: 400;
        letter-spacing: 1.05px;
    }

    .modaboom .header__general-layr-img {
        position: relative;
        height: 600px;
        top: 40px;
    }

    .modaboom .header__general-layr-img img {
        display: block;
        position: absolute;
        height: auto;
    }

    .modaboom .header__general-layr-img .header__general-layr-img-mac {
        width: 530px;
        bottom: -30px;
        z-index: 1;
        left: -180px;
    }

    .modaboom .header__general-layr-img .header__general-layr-img-phone {
        width: 232px;
        z-index: 2;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
    }

    .modaboom .header__general-layr-img .header__general-layr-img-table {
        z-index: 0px;
        bottom: 0px;
        right: -65px;
    }

    .modaboom .lineBg {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 80px;
        position: absolute;
        z-index: -1;
    }

    .modaboom .lineBg .lineBg__small {
        background-color: #e5007d;
        width: 15px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .modaboom .lineBg .lineBg__big {
        background-color: #e5007d;
        width: 15px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .modaboom .title {
        position: relative;
    }

    .modaboom .title .title__background {
        opacity: 0.04;
        color: #000000;
        font: 164px/18px "ProximaNovaBlack";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4.1px;
        display: block;
    }

    .modaboom .title .title__h3 {
        position: relative;
        top: -48px;
        color: #000000;
        font: 36px/36px "ProximaNovaBlack";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        display: inline-block;
    }

    .modaboom .title .title__h3::before {
        left: 110%;
    }

    .modaboom .title .title__h3::after {
        display: none;
    }

    .modaboom .title .title__h3::before,
    .modaboom .title .title__h3::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 240px;
        height: 1px;
        background-color: #e5007d;
    }

    .modaboom .home {
        padding: 80px 0px 50px 0px;
    }

    .modaboom .home .title .title__h3 {
        float: right;
        right: 300px;
    }

    .modaboom .home .home__circle__bg:before {
        content: '';
        position: absolute;
        width: 1331px;
        height: 1331px;
        border: 122px solid #cbcbcb;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        bottom: -7%;
        left: 50%;
        opacity: 0.41;
    }

    .modaboom .home .lineBg__home-top {
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        left: 300px;
        top: -230px;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .modaboom .home .lineBg__home-top .lineBg__small {
        height: 300px;
    }

    .modaboom .home .lineBg__home-top .lineBg__big {
        height: 350px;
    }

    .modaboom .home .lineBg__home-bottom {
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        right: 300px;
        bottom: -230px;
        z-index: 1;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .modaboom .home .lineBg__home-bottom .lineBg__small {
        height: 320px;
    }

    .modaboom .home .lineBg__home-bottom .lineBg__big {
        height: 260px;
    }

    .modaboom .home .home__imagebg {
        -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 2;
    }

    .modaboom .home .home__imagebg:before {
        content: '';
        position: absolute;
        background-color: #fff2f2;
        height: 35%;
        position: absolute;
        top: 240px;
        left: -10%;
        width: 100%;
        z-index: -1;
    }

    .modaboom .home .home__imagebg:after {
        content: '';
        position: absolute;
        background-color: #f7fff4;
        height: 35%;
        position: absolute;
        top: 45%;
        right: -10%;
        width: 100%;
        z-index: -1;
    }

    .modaboom .home .home__imagebg img {
        display: block;
        width: 100%;
        height: auto;
    }

    .modaboom .home .home__imagebg .home__imagebg-font {
        height: 40%;
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    .modaboom .home .home__imagebg .hifleft {
        left: -10%;
    }

    .modaboom .home .home__imagebg .hifleft:before {
        -webkit-box-shadow: 0 0 33px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 33px 2px rgba(0, 0, 0, 0.1);
        background-color: #fffaf0;
        left: 0px;
    }

    .modaboom .home .home__imagebg .hifleft:after {
        -webkit-box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
        background-color: #f3f6ff;
        left: 76px;
    }

    .modaboom .home .home__imagebg .hifright {
        top: 42%;
        right: -10%;
    }

    .modaboom .home .home__imagebg .hifright:before {
        -webkit-box-shadow: 0 0 33px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 33px 2px rgba(0, 0, 0, 0.1);
        background-color: #fffaf0;
        right: 0px;
    }

    .modaboom .home .home__imagebg .hifright:after {
        -webkit-box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
        background-color: #f3f6ff;
        right: 76px;
    }

    .modaboom .home .home__imagebg .home__imagebg-font::before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 161px;
        height: 163px;
        z-index: 2;
    }

    .modaboom .home .home__imagebg .home__imagebg-font::after {
        content: '';
        position: absolute;
        bottom: -40px;
        width: 111px;
        height: 112px;
        z-index: 2;
    }

    .modaboom .color {
        padding: 95px 0px 50px 0px;
    }

    .modaboom .color .title .title__h3 {
        right: 0px;
        padding-left: 25%;
    }

    .modaboom .color .title .title__h3::before {
        display: none;
    }

    .modaboom .color .color__hash .color__hash-gradient {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .modaboom .color .color__hash .color__hash-gradient .color__hash-gradient-line {
        width: 164px;
        height: 29px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        -webkit-border-radius: 15px 0 0 15px;
        border-radius: 15px 0 0 15px;
        display: block;
        margin-right: 30px;
    }

    .modaboom .color .color__hash .color__hash-gradient .color__hash-gradient-circle {
        display: block;
        width: 29px;
        height: 29px;
        margin-right: 30px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .modaboom .color .color__hash .color__hash-gradient .pink {
        background-color: #e5007d;
    }

    .modaboom .color .color__hash .color__hash-gradient .grey {
        background-color: #868786;
    }

    .modaboom .color .color__hash .color__hash-gradient .red {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #f41e1e;
    }

    .modaboom .color .color__hash .color__hash-gradient .green {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #74b65f;
    }

    .modaboom .color .color__hash .color__hash-gradient .pink-lovand {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #fff2f2;
    }

    .modaboom .color .color__hash .color__hash-gradient .sea-foman {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #fffaf0;
    }

    .modaboom .color .color__hash .color__hash-gradient .whide {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #f3f6ff;
    }

    .modaboom .color .color__hash .color__hash-gradient .whide-shade {
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #f7fff4;
    }

    .modaboom .color .color__hash .color__hash-gradient p {
        margin: 0px;
        color: #222222;
        font: 16px/18px "ProximaNova";
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.4px;
    }

    .modaboom .typography {
        padding-top: 95px;
    }

    .modaboom .typography .title .title__h3 {
        float: right;
        right: 25%;
    }

    .modaboom .typography .typography__text span {
        display: block;
        text-align: right;
        float: right;
        font: 18px/20px "ProximaNova";
    }

    .modaboom .typography .typography__text span:nth-child(1) {
        margin-bottom: 50px;
        color: #222222;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.35px;
    }

    .modaboom .typography .typography__text span:nth-child(2) {
        color: #222222;
        font-weight: 400;
        letter-spacing: 1.35px;
    }

    .modaboom .typography .typography__tex-letter span {
        color: #000000;
        font: 404px/300px "ProximaNovaBlack";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 10.1px;
        position: relative;
    }

    .modaboom .typography .typography__tex-letter span::before {
        content: 'ProximaNova';
        position: absolute;
        color: #222222;
        font: 22px/22px "ProximaNova";
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        -webkit-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        transform: rotate(70deg);
        right: -20px;
        top: 167px;
    }

    .modaboom .catalog {
        padding: 80px 0px 70px 0px;
    }

    .modaboom .catalog .title .title__h3 {
        float: right;
        right: 300px;
    }

    .modaboom .catalog .title .title__h3:before {
        display: block;
    }

    .modaboom .catalog .catalog__title__bg {
        content: '';
        position: absolute;
        right: -65%;
        top: 12%;
        opacity: 0.04;
        color: #000000;
        font: 164px/164px "ProximaNovaBlack";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4.1px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .modaboom .catalog .catalog__circle__bg:before {
        content: '';
        position: absolute;
        width: 1331px;
        height: 1331px;
        border: 122px solid #cbcbcb;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        top: 0px;
        bottom: 0px;
        margin: auto;
        right: 50%;
        opacity: 0.41;
        z-index: -1;
    }

    .modaboom .catalog .catalog__imagebg {
        -webkit-box-shadow: 0 26px 26px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 26px 26px 1px rgba(0, 0, 0, 0.1);
    }

    .modaboom .catalog .catalog__imagebg img {
        display: block;
        width: 100%;
        height: auto;
    }

    .modaboom .catalog .catalog__imagebg:before {
        content: '';
        position: absolute;
        background-color: #f3f6ff;
        height: 35%;
        position: absolute;
        top: 240px;
        left: -10%;
        width: 100%;
        z-index: -1;
    }

    .modaboom .catalog .catalog__imagebg:after {
        content: '';
        position: absolute;
        background-color: #fffaf0;
        height: 40%;
        position: absolute;
        bottom: -279px;
        right: -10%;
        width: 565px;
        z-index: -1;
    }

    .modaboom .catalog .lineBg__catalog-top {
        -webkit-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
        transform: rotate(-50deg);
        left: 240px;
        top: -230px;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .modaboom .catalog .lineBg__catalog-top .lineBg__small {
        height: 290px;
    }

    .modaboom .catalog .lineBg__catalog-top .lineBg__big {
        height: 370px;
    }

    .modaboom .adaptive .title .title__h3 {
        top: 0px;
        left: 280px;
    }

    .modaboom .adaptive .title .title__h3:before {
        display: none;
    }

    .modaboom .adaptive .title .title__h3:after {
        display: block;
        right: 110%;
    }

    .modaboom .adaptive .adaptive__title__bg {
        content: '';
        position: absolute;
        left: -35%;
        top: 35%;
        opacity: 0.04;
        color: #000000;
        font: 164px/164px "ProximaNovaBlack";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4.1px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        z-index: 2;
    }

    .modaboom .adaptive .adaptive__bag {
        position: absolute;
        right: -10%;
        width: 647px;
        bottom: 450px;
        z-index: 1;
    }

    .modaboom .adaptive .adaptive__phone {
        background-color: #fff2f2;
        position: relative;
        height: 622px;
        margin-top: 200px;
    }

    .modaboom .adaptive .adaptive__phone:before, .modaboom .adaptive .adaptive__phone:after {
        content: '';
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background-color: #fff2f2;
    }

    .modaboom .adaptive .adaptive__phone:before {
        left: -125px;
    }

    .modaboom .adaptive .adaptive__phone:after {
        right: -125px;
    }

    .modaboom .adaptive .adaptive__phone img {
        display: block;
        width: 890px;
        height: auto;
        position: absolute;
        bottom: 0px;
        right: -125px;
        z-index: 1;
    }

    .modaboom .adaptive .lineBg__adaptive-bottom {
        -webkit-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
        transform: rotate(-50deg);
        left: 300px;
        bottom: -190px;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .modaboom .adaptive .lineBg__adaptive-bottom .lineBg__small {
        height: 300px;
    }

    .modaboom .adaptive .lineBg__adaptive-bottom .lineBg__big {
        height: 240px;
    }

    .modaboom .product {
        padding-top: 70px;
    }

    .modaboom .product .title .title__h3 {
        top: 0px;
        float: right;
        right: 300px;
    }

    .modaboom .product .product__title__bg {
        content: '';
        position: absolute;
        right: -65%;
        top: 12%;
        opacity: 0.04;
        color: #000000;
        font: 164px/164px "ProximaNovaBlack";
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4.1px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .modaboom .product .product__imagebg {
        -webkit-box-shadow: 0 26px 26px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 26px 26px 1px rgba(0, 0, 0, 0.1);
    }

    .modaboom .product .product__imagebg img {
        display: block;
        width: 100%;
        height: auto;
    }

    .modaboom .product .product__imagebg:after {
        content: '';
        position: absolute;
        background-color: #f7fff4;
        height: 40%;
        position: absolute;
        bottom: -135px;
        right: -10%;
        width: 565px;
        z-index: -1;
    }

    .modaboom .product .product__circle__bg {
        margin-top: 50px;
    }

    .modaboom .product .product__circle__bg:before {
        content: '';
        position: absolute;
        width: 1331px;
        height: 1331px;
        border: 122px solid #cbcbcb;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        top: 0px;
        bottom: 0px;
        margin: auto;
        right: 50%;
        opacity: 0.41;
        z-index: -1;
    }

    .modaboom .thanks {
        padding-top: 170px;
    }

    .modaboom .thanks .title .title__h3 {
        float: right;
        right: 423px;
        top: -100px;
    }

    .modaboom .thanks .title .title__background {
        font: 164px/164px "ProximaNovaBlack";
    }

    @media screen and (max-width: 1024px) {
        .modaboom .header {
            background-position: center;
        }
        .modaboom .header__general-layr-img {
            top: 40px;
        }
        .modaboom .header__general-layr-img .header__general-layr-img-mac {
            width: 90%;
        }
        .modaboom .header__general-layr-img .header__general-layr-img-table {
            width: 80%;
            right: -20px;
        }
        .modaboom .header__general-layr-img .header__general-layr-img-phone {
            width: 40%;
        }
        .modaboom .title .title__background {
            font-size: 120px;
        }
        .modaboom .home .title .title__h3 {
            font-size: 31px;
            right: 225px;
        }
        .modaboom .title .title__h3::before, .modaboom .modaboom .title .title__h3::after {
            width: 200px;
        }
        .modaboom .adaptive .adaptive__bag {
            width: 50%;
            right: 0px;
            bottom: 490px;
        }
    }

    @media screen and (max-width: 768px) {
        .modaboom .header {
            background-position: 60%, 100%;
        }
        .modaboom .header .header__general-layr-img {
            height: 400px;
        }
        .modaboom .header .header__general-list .header__general-list-body p {
            font: 18px/18px "ProximaNova";
            font-weight: 700;
        }
        .modaboom .header .header__general-layr-img .header__general-layr-img-mac {
            width: 70%;
            left: 0px;
        }
        .modaboom .header .header__general-layr-img .header__general-layr-img-table {
            width: 60%;
            right: -10px;
        }
        .modaboom .header .header__general-layr-img .header__general-layr-img-phone {
            width: 30%;
            left: 150px;
        }
        .modaboom .home .lineBg__home-top {
            left: 220px;
            top: -150px;
        }
        .modaboom .home .lineBg__home-top .lineBg__small {
            height: 230px;
        }
        .modaboom .home .lineBg__home-top .lineBg__big {
            height: 270px;
        }
        .modaboom .home .lineBg__home-bottom .lineBg__small {
            height: 210px;
        }
        .modaboom .home .lineBg__home-bottom {
            bottom: -140px;
        }
        .modaboom .title .title__background {
            font: 92px/92px "ProximaNovaBlack";
        }
        .modaboom .title .title__h3 {
            font: 33px/33px "ProximaNovaBlack";
            top: -75px;
        }
        .modaboom .typography .title .title__h3 {
            font: 33px/33px "ProximaNovaBlack";
            top: -75px;
            right: 30%;
        }
        .modaboom .catalog .catalog__title__bg,
        .modaboom .product .product__title__bg {
            display: none;
        }
        .modaboom .adaptive .adaptive__phone img {
            width: 720px;
        }
        .modaboom .adaptive .adaptive__title__bg {
            left: -60%;
        }
        .modaboom .adaptive .lineBg__adaptive-bottom .lineBg__small {
            height: 250px;
        }
        .modaboom .adaptive .lineBg__adaptive-bottom .lineBg__big {
            height: 200px;
        }
        .modaboom .adaptive .lineBg__adaptive-bottom {
            bottom: -120px;
        }
    }

    @media screen and (max-width: 564px) {
        .modaboom .header .header__general-layr-img {
            height: 300px;
        }
        .modaboom .header .header__general-list {
            padding-left: 15px;
        }
        .modaboom .title .title__background {
            font: 72px/72px "ProximaNovaBlack";
        }
        .modaboom .color .color__hash .color__hash-gradient .color__hash-gradient-line,
        .modaboom .color .color__hash .color__hash-gradient .color__hash-gradient-line {
            width: 29px;
            height: 29px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        .modaboom .title .title__h3 {
            margin-bottom: 0px;
        }
        .modaboom .color {
            padding: 80px 0px 0px 0px;
        }
        .modaboom .typography {
            padding-top: 40px;
        }
        .modaboom .title .title__h3::before,
        .modaboom .title .title__h3::after {
            width: 100px;
        }
        .modaboom .typography .typography__text span:nth-child(1) {
            margin-bottom: 10px;
        }
        .modaboom .typography .typography__tex-letter span {
            font: 280px/200px "ProximaNovaBlack";
        }
        .modaboom .typography .typography__tex-letter span::before {
            right: -43px;
            top: 135px;
        }
        .modaboom .catalog .lineBg__catalog-top {
            top: -120px;
        }
        .modaboom .catalog .lineBg__catalog-top .lineBg__small {
            height: 220px;
        }
        .modaboom .catalog .lineBg__catalog-top .lineBg__big {
            height: 270px;
        }
        .modaboom .adaptive .adaptive__phone img {
            width: 620px;
        }
        .modaboom .thanks .title .title__background {
            font: 72px/72px "ProximaNovaBlack";
        }
        .modaboom .thanks .title .title__h3 {
            right: 200px;
            top: -73px;
        }
        .modaboom .home .home__imagebg .home__imagebg-font::before,
        .modaboom .home .home__imagebg .home__imagebg-font::after {
            display: none;
        }
    }

    @media screen and (max-width: 455px) {
        .modaboom .header .header__general-layr-img {
            height: 250px;
        }
        .modaboom .title .title__background {
            font-size: 52px;
        }
        .modaboom .catalog .title .title__h3 {
            right: 200px;
        }
        .modaboom .title .title__h3 {
            margin: 0px;
        }
        .modaboom .typography .title .title__h3 {
            top: -35px;
        }
        .modaboom .title .title__h3 {
            top: -40px;
        }
        .modaboom .adaptive .title .title__h3 {
            left: 0px;
        }
        .modaboom .adaptive .adaptive__title__bg {
            display: none;
        }
        .modaboom .catalog .catalog__imagebg:after {
            bottom: -240px;
        }
        .modaboom .adaptive .adaptive__phone img {
            width: 520px;
        }
        .modaboom .adaptive .adaptive__phone {
            height: 370px;
        }
        .modaboom .adaptive .adaptive__bag {
            bottom: 300px;
        }
        .modaboom .product .title .title__h3 {
            right: 0px;
        }
        .modaboom .thanks .title .title__h3 {
            right: 150px;
            top: -40px;
        }
    }

    @media screen and (max-width: 425px) {
        .modaboom .header {
            -webkit-background-size: cover;
            background-size: cover;
            background-position: left;
            padding-top: 25px;
        }
        .modaboom .header .header__general-list {
            padding-left: 15px;
        }
        .modaboom .header .header__general-layr-img {
            height: 250px;
        }
        .modaboom .title .title__background {
            font: 52px/52px "ProximaNovaBlack";
        }
        .modaboom .title .title__h3 {
            font: 22px/22px "ProximaNovaBlack";
            top: -50px;
        }
        .modaboom .home .title .title__h3 {
            right: 150px;
        }
        .modaboom .color {
            padding: 70px 0px 0px 0px;
        }
        .modaboom .color .title .title__h3 {
            margin-bottom: 0px;
            top: -25px;
        }
        .modaboom .typography {
            padding-top: 50px;
        }
        .modaboom .typography .title .title__h3 {
            top: -25px;
            margin-bottom: 0px;
        }
        .modaboom .typography .typography__tex-letter span {
            font: 260px/185px "ProximaNovaBlack";
        }
        .modaboom .typography .typography__tex-letter span::before {
            right: -50px;
        }
        .modaboom .adaptive .lineBg__adaptive-bottom {
            left: 150px;
        }
        .modaboom .adaptive .adaptive__phone img {
            width: 425px;
        }
        .modaboom .adaptive .adaptive__phone {
            height: 300px;
        }
        .modaboom .typography .typography__tex-letter span {
            font: 230px/182px "ProximaNovaBlack";
        }
        .modaboom .typography .typography__tex-letter span::before {
            font-size: 18px;
        }
        .modaboom .typography .typography__tex-letter span::before {
            right: -36px;
            top: 108px;
        }
        .modaboom .header .header__general-layr-img {
            height: 200px;
        }
        .modaboom .home .title .title__h3 {
            top: -25px;
        }
        .modaboom .header .header__general-list .header__general-list-num span {
            height: 34px;
            width: 34px;
        }
        .modaboom .header__general {
            margin-top: 20px;
        }
        .modaboom .header .header__general-list .header__general-list-body p {
            font-size: 16px;
        }
        .modaboom .modaboom .header .header__general-list .header__general-list-body span ul li {
            margin-left: 30px;
        }
    }

    @media screen and (max-width: 375px) {
        .modaboom .header .header__general-list .header__general-list-body .header__general-list-body-color {
            margin-right: 10px;
        }
        .modaboom .header .header__general-list .header__general-list-body span ul li {
            margin-right: 22px;
        }
        .modaboom .header .header__general-list .header__general-list-body span .header__general-list-body-icon {
            height: 18px;
        }
        .modaboom .header .header__general-layr-img {
            height: 180px;
        }
        .modaboom .title .title__background {
            font: 35px/35px "ProximaNovaBlack";
        }
        .modaboom .home .title .title__h3 {
            right: 110px;
            line-height: 27px;
        }
        .modaboom .title .title__h3::before, .modaboom .title .title__h3::after {
            display: none;
        }
        .modaboom .typography .title .title__h3 {
            right: 25%;
        }
        .modaboom .typography .typography__tex-letter span {
            font: 190px/190px "ProximaNovaBlack";
        }
        .modaboom .typography .typography__tex-letter span::before {
            right: -35px;
            top: 92px;
            font-size: 16px;
        }
        .modaboom .catalog .title .title__h3 {
            right: 150px;
        }
        .modaboom .thanks .title .title__h3 {
            right: 50px;
            top: -25px;
        }
        .modaboom .thanks .title .title__background {
            font-size: 67px;
        }
        .modaboom .thanks {
            margin-top: -120px;
            margin-bottom: 30px;
        }
        .modaboom .product .product__imagebg:after {
            bottom: -50px;
        }
    }

    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
    }

    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }

    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }

</style>