<template>
    <u-animate-container
            :config="config">
        <main class="nonna">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта для ресторана итальянской кухни Nonna"
                description="Разработка сайта для ресторана итальянской кухни Nonna, который предлагает также доставку еды на дом. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="banner">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="title"
                    >
                        <img src="~@/assets/images/nonna/title.png" alt="title">
                    </u-animate>
        <h1 class="main_page_title">Разработка сайта доставки итальянской еды</h1>
                    <a rel="nofollow" href="http://nonna.com.ua/" target="blank" class="btn-nonna">перейти на сайт</a>
                </div>
            </div>
        </section>
        <section class="project">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p class="title-project rel">о проекте</p>
                        <p class="text-project"><span>“Nonna”</span> - это ресторан итальянской кухни,
                            который предлагает также доставку еды на дом. Целью проекта
                            было создание красивого и функционального сайта для привлечения
                            клиентов. Сайт должен быть как максимально удобным для заказа еды,
                            так и вызывать у пользователя желание посетить данное заведение лично.</p>
                    </u-animate>
                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6 rel img-project"
                    >
                        <img src="~@/assets/images/nonna/screen-2.png" alt="screen">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="develop rel">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6 rel opencart"
                    >
                        <p class="rel title-develop">Разработка</p>
                        <ul>
                            <li>Concept design</li>
                            <li>Web UI/UX Design</li>
                            <li>Web Development</li>
                            <li>Framework: Bootstrap</li>
                            <li>CMS Opencart</li>
                        </ul>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <div class="white-block">
                            <p class="text-block"><span>Opencart</span> - это функциональный и красивый движок интернет-магазина,
                                который может быть установлен на любом веб-сервере с поддержкой PHP и MySQL.
                                Opencart - дна из лучших платформ для электроннолй коммерции.</p>
                        </div>
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="design rel">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-3 col-lg-2"
                    >
                        <p class="title-design rel">Дизайн</p>
                        <p class="text-design">Для заказчиков было разработано две дизайн-концепции
                            на выбор. Оба дизайна удобно представляли продукт пользователю, но
                            отличались по стилю и реализации. На основе выбранного дизайна и в ходе
                            правок были отрисованы и все остальные страницы сайта.</p>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-9 col-lg-10"
                    >
                        <img src="~@/assets/images/nonna/page-1.png" alt="screen">
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="final rel">
            <div class="container">
                <div class="row">
                    <p class="title-final rel">Итоговый дизайн</p>
                    <div class="col-xs-12 col-md-6">
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 no-pad"
                        >
                            <p class="name-page">Главная страница</p>
                            <img src="~@/assets/images/nonna/page_1.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 no-pad rel tomatos"
                        >
                            <p class="name-page">Новости</p>
                            <img src="~@/assets/images/nonna/page_4.png" alt="page">
                        </u-animate>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 no-pad rel olive"
                        >
                            <p class="name-page">Категории</p>
                            <img src="~@/assets/images/nonna/page_2.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 no-pad"
                        >
                            <p class="name-page">Карточка товара</p>
                            <img src="~@/assets/images/nonna/page_3.png" alt="page">
                        </u-animate>

                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 no-pad"
                        >
                            <p class="name-page">Контакты</p>
                            <img src="~@/assets/images/nonna/page_5.png" alt="page">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="guideline">
            <div class="container">
                <div class="row">
                    <p class="title-guide rel">Гайдлайн проекта</p>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <div class="box">
                            <p class="title-font">Magnolia Script</p>
                            <p class="MS">Этот шрифт использовался для заголовков.</p>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <div class="box">
                            <p class="title-font">Lato</p>
                            <p class="lato">А этот шрифт использовался для всего остального текста.</p>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <div class="box center">
                            <p class="title-icons center">Иконки</p>
                            <div class="icons-nonna">
                                <img src="~@/assets/images/nonna/icons-1.png" alt="icons">
                            </div>
                            <div class="icons-nonna">
                                <img src="~@/assets/images/nonna/icons-2.png" alt="icons">
                            </div>
                            <div class="icons-nonna">
                                <img src="~@/assets/images/nonna/icons-3.png" alt="icons">
                            </div>
                            <div class="icons-nonna">
                                <img src="~@/assets/images/nonna/icons-4.png" alt="icons">
                            </div>
                            <div class="icons-nonna">
                                <img src="~@/assets/images/nonna/icons-5.png" alt="icons">
                            </div>
                        </div>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <div class="colors">
                            <p>#EBD460</p>
                            <p>#d3a976</p>
                            <p>#f4b350</p>
                            <p>#f6f5f1</p>
                            <p>#95c11f</p>
                            <p>#f04502</p>
                        </div>
                    </u-animate>
                </div>
            </div>
        </section>
        <section class="adaptive">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="fadeInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-4 col-lg-3 adaptive-block"
                    >
                        <p class="title-adaptive rel">Адаптивность</p>
                        <p class="text-adaptive">Была разработана адаптивная версия сайта, которая
                            позволяет посетителю удобно пользоваться сайтом с любого устройства.</p>
                        <a rel="nofollow" href="http://nonna.msstudio.com.ua/" target="blank" class="btn-nonna">перейти на сайт</a>
                    </u-animate>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style  lang="scss"  scoped>
    @import "~@/assets/bootstrap/bootstrap.css";
    @font-face {
        font-family: 'MagnoliaScript';
        src: url('~@/assets/fonts/MagnoliaScript.eot');
        src: url('~@/assets/fonts/MagnoliaScript.eot') format('embedded-opentype'),
        url('~@/assets/fonts/MagnoliaScript.woff2') format('woff2'),
        url('~@/assets/fonts/MagnoliaScript.woff') format('woff'),
        url('~@/assets/fonts/MagnoliaScript.ttf') format('truetype'),
        url('~@/assets/fonts/MagnoliaScript.svg#MagnoliaScript') format('svg');
    }
    @font-face {
        font-family: 'Avante';
        src: url('~@/assets/fonts/avante.eot');
        src: url('~@/assets/fonts/avante.eot') format('embedded-opentype'),
        url('~@/assets/fonts/avante.woff2') format('woff2'),
        url('~@/assets/fonts/avante.woff') format('woff'),
        url('~@/assets/fonts/avante.ttf') format('truetype'),
        url('~@/assets/fonts/avante.svg#avante') format('svg');
    }

    .nonna .no-pad {
        padding: 0;
    }
    .rel {
        position: relative;
    }
    .center{
        text-align: center;
    }
    body {
        /*overflow-x: hidden;*/
    }
    p{
        margin: 0;
    }

    /*banner*/
    .nonna{
        .main_page_title{
            color: #fff;
            font-size: 36px;
            @media screen and (max-width: 1024px){
                font-size: 20px;
            }
            @media screen and (max-width: 767px){
                font-size: 18px;
            }
        }
    }

    .nonna .banner {
        background: url("~@/assets/images/nonna/banner.png") center no-repeat;
        height: 560px;
        text-align: center;
    }
    .nonna .banner .title {
        width: 100%;
        text-align: center;
        margin-top: 140px;
        margin-bottom: 40px;
    }
    .nonna .banner a {
        display: inline-block;
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) 92% center no-repeat;
        font-family: 'robotoregular_3', sans-serif;
        font-size: 18px;
        padding: 20px 60px 20px 24px;
        color: #fff;
        letter-spacing: 1px;
        background-size: 14%;
        border: 1px solid #fff;
        text-decoration: none;
        line-height: 1;
    }
    .nonna .banner a:hover {
        background: url(~@/assets/images/e-crewing/arrowBtnRight-hover.png) 92% center no-repeat #fff ;
        color: #000;
        background-size: 14%;
        text-decoration: none;
    }

    /*banner*/

    /*project*/

    .nonna .project {
        padding: 75px 0 100px 0;
    }
    .nonna .project .title-project {
        font-family: Calibri, sans-serif;
        font-size: 36px;
        color: #313131;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 60px;
    }
    .nonna .project .title-project:after {
        position: absolute;
        background-color: #e7e7e7;
        content: '';
        left: 0;
        bottom: 35px;
        width: 100px;
        height: 1px;
    }
    .nonna .project .text-project {
        color: #313131;
        font-size: 16px;
        font-family: Calibri, sans-serif;
        padding-right: 120px;
    }
    .nonna .project .text-project span {
        color: #313131;
        font-size: 18px;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    .nonna .img-project {
        height: 250px;
    }
    .nonna .img-project img {
        position: absolute;
        max-width: 100%;
        right: 0;
        top: -130px;
        z-index: 1;
    }

    /*project*/

    /*develop*/

    .nonna .develop {
        background-color: #f3f3f3;
        padding: 45px 0;
    }
    .nonna .develop:after {
        position: absolute;
        content: '';
        left: 0;
        background: url(~@/assets/images/nonna/pizza-1.png) left center no-repeat;
        bottom: -285px;
        width: 313px;
        z-index: 1;
        height: 565px;
    }
    .nonna .develop .title-develop {
        font-family: Calibri, sans-serif;
        font-size: 36px;
        color: #313131;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 60px;
    }
    .nonna .develop .title-develop:after {
        position: absolute;
        background-color: #e7e7e7;
        content: '';
        left: 0;
        bottom: 35px;
        width: 100px;
        height: 1px;
    }
    .nonna .develop li {
        color: #313131;
        font-size: 16px;
        font-family: "Calibri Light", sans-serif;
        list-style-type: disc;
        padding: 2px;
    }
    .nonna .white-block {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 32px 44px;
        margin-top: 70px;
    }
    .nonna .opencart:after {
        position: absolute;
        content: '';
        right: -43px;
        background: url(~@/assets/images/nonna/opencart.png) center no-repeat;
        top: 22px;
        width: 348px;
        z-index: 1;
        height: 117px;
    }
    .nonna .develop ul {
        padding-left: 18px;
    }
    .nonna  .develop .text-block {
        color: #313131;
        font-family: Calibri, sans-serif;
        font-size: 16px;
    }
    .nonna  .develop .text-block span {
        color: #313131;
        font-family: Calibri, sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }

    /*develop*/

    /*design*/

    .nonna .design {
        padding: 15px 0;
    }
    .nonna .design:after {
        position: absolute;
        content: '';
        right: 0;
        background: url(~@/assets/images/nonna/pizza-2.png) right center no-repeat;
        bottom: -285px;
        width: 313px;
        z-index: 1;
        height: 565px;
    }
    .nonna .design .title-design {
        font-family: Calibri, sans-serif;
        font-size: 36px;
        color: #313131;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 60px;
        padding-top: 20px;
    }
    .nonna .design .title-design:after {
        position: absolute;
        background-color: #e7e7e7;
        content: '';
        left: 0;
        bottom: 35px;
        width: 100px;
        height: 1px;
    }
    .nonna .text-design {
        color: #313131;
        font-family: Calibri, sans-serif;
        font-size: 16px;
    }

    /*design*/

    /*final*/

    .nonna .final {
        background-color: #f3f3f3;
        padding: 50px 0;
    }
    .nonna .final img {
        max-width: 100%;
        padding-bottom: 23px;
    }
    .nonna .final .title-final {
        font-family: Calibri, sans-serif;
        font-size: 36px;
        color: #313131;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 60px;
        margin-left: 10px;
    }
    .nonna .final .title-final:after {
        position: absolute;
        background-color: #e7e7e7;
        content: '';
        left: 0;
        bottom: 35px;
        width: 100px;
        height: 1px;
    }
    .nonna .name-page {
        font-size: 18px;
        font-family: Calibri, sans-serif;
        color: #313131;
        font-style: italic;
        padding: 6px 0;
    }
    .nonna .olive:after {
        position: absolute;
        content: '';
        width: 215px;
        height: 200px;
        right: -130px;
        background: url(~@/assets/images/nonna/olive.png) center no-repeat;
        bottom: -55px;
    }
    .nonna .tomatos:after {
        position: absolute;
        content: '';
        width: 335px;
        height: 265px;
        left: -180px;
        background: url(~@/assets/images/nonna/bacon.png) center no-repeat;
        bottom: -140px;
    }

    /*final*/

    /*guideline*/

    .nonna .guideline {
        padding: 40px 0 60px 0;
    }
    .nonna .icons-nonna {
        display: inline-block;
        padding: 25px 22px 40px 22px;
    }
    .nonna .guideline .title-guide {
        font-family: Calibri, sans-serif;
        font-size: 36px;
        color: #313131;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 60px;
        margin-left: 10px;
    }
    .nonna .guideline .title-guide:after {
        position: absolute;
        background-color: #e7e7e7;
        content: '';
        left: 0;
        bottom: 35px;
        width: 100px;
        height: 1px;
    }
    .nonna .box {
        background-color: #f3f3f3;
        border-radius: 10px;
        position: relative;
        margin-bottom: 33px;
    }
    .nonna .box:after {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
        content: '';
        left: 0;
        top: 74px;
    }
    .nonna .title-font {
        color: #313131;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 30px;
        padding: 22px 0 12px 35px;
        letter-spacing: 1px;
    }
    .nonna .title-icons {
        color: #313131;
        font-size: 30px;
        font-family: Calibri, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        padding: 22px 0 12px 0;
        letter-spacing: 1px;
    }
    .nonna .MS {
        color: #313131;
        font-size: 18px;
        font-family: MagnoliaScript, sans-serif;
        padding: 20px 0 27px 35px;
        letter-spacing: 1px;
    }
    .nonna .lato {
        color: #313131;
        font-size: 18px;
        font-family: Lato, sans-serif;
        padding: 20px 0 27px 35px;
    }
    .nonna .colors p {
        width: 16.666%;
        padding: 10px 0;
        font-family: Calibri, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        box-sizing: border-box;
        margin: 0;
        float: left;
    }
    .nonna .colors p:nth-child(1) {
        background-color: #EBD460;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .nonna .colors p:nth-child(2) {
        background-color: #d3a976;
    }
    .nonna .colors p:nth-child(3) {
        background-color: #f4b350;
    }
    .nonna .colors p:nth-child(4) {
        background-color: #f6f5f1;
        color: #313131;
    }
    .nonna .colors p:nth-child(5) {
        background-color: #95c11f;
    }
    .nonna .colors p:nth-child(6) {
        background-color: #f04502;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .nonna .colors {
        text-align: center;
    }

    /*guideline*/

    /*adaptive*/

    .nonna .adaptive {
        background: url("~@/assets/images/nonna/screen-bot.png") 78% center no-repeat #f3f3f3;
        padding: 163px 0 193px 0;
    }
    .nonna .adaptive .title-adaptive {
        font-family: Calibri, sans-serif;
        font-size: 36px;
        color: #313131;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 60px;
    }
    .nonna .adaptive .title-adaptive:after {
        position: absolute;
        background-color: #e7e7e7;
        content: '';
        left: 0;
        bottom: 35px;
        width: 100px;
        height: 1px;
    }
    .nonna .adaptive a {
        margin-top: 100px;
        display: inline-block;
        background: url(~@/assets/images/e-crewing/arrowBtnRight-hover.png) 92% center no-repeat;
        font-family: 'robotoregular_3', sans-serif;
        font-size: 18px;
        padding: 20px 60px 20px 24px;
        color: #313131;
        letter-spacing: 1px;
        background-size: 14%;
        border: 1px solid #313131;
        text-decoration: none;
        line-height: 1;
    }
    .nonna .adaptive a:hover {
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) 92% center no-repeat #313131;
        color: #fff;
        border: 1px solid #313131;
        background-size: 14%;
        text-decoration: none;
    }

    /*adaptive*/

    @media (max-width: 1550px) {
        .nonna .develop:after {
            display: none;
        }
        .nonna .design:after {
            display: none;
        }
        .nonna .adaptive {
            background: url(~@/assets/images/nonna/screen-bot.png) 100% center no-repeat #f3f3f3;
        }
    }
    @media (max-width: 1366px) {
        .nonna .olive:after {
            display: none;
        }
        .nonna .adaptive {
            background: url(~@/assets/images/nonna/screen-bot.png) 127% center no-repeat #f3f3f3;
        }
    }

    @media (max-width: 1199px) {
        .nonna .title img {
            width: 77%;
        }
        .nonna .opencart:after {
            right: -90px;
            background-size: 62%;
        }
        .nonna .design img {
            max-width: 100%;
        }
        .nonna .MS {
            padding: 20px 8px 27px 35px;
        }
        .nonna .icons-nonna {
            width: 25%;
        }
        .nonna .lato {
            padding: 20px 11px 27px 35px;
        }
        .nonna .adaptive-block {
            display: none;
        }
        .nonna .adaptive {
            background: url(~@/assets/images/nonna/screen-bot.png) center no-repeat #f3f3f3;
            background-size: cover;
            height: 600px;
            padding: 0;
        }
    }

    @media (max-width: 991px) {
        .nonna .img-project {
            display: none;
        }
        .nonna .opencart:after {
            right: 0;
            background-size: 80%;
        }
        .nonna .tomatos:after {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .nonna .banner {
            height: 325px;
        }
        .nonna .banner .title {
            margin-top: 80px;
        }
        .nonna .project {
            padding: 20px 0;
        }
        .nonna .project .title-project {
            font-size: 30px;
            padding-bottom: 30px;
        }
        .nonna .project .title-project:after {
            bottom: 25px;
        }
        .nonna .project .text-project {
            padding-right: 0;
        }
        .nonna .opencart:after {
            display: none;
        }
        .nonna .white-block {
            background-color: #f9f9f9;
            border-radius: 10px;
            padding: 25px 15px;
            margin-top: 35px;
        }
        .nonna .develop .title-develop {
            font-size: 30px;
            padding-bottom: 30px;
        }
        .nonna .develop .title-develop:after {
            bottom: 25px;
        }
        .nonna .design .title-design {
            font-size: 30px;
            padding-bottom: 30px;
        }
        .nonna .design .title-design:after {
            bottom: 25px;
        }
        .nonna .final .title-final {
            font-size: 30px;
            padding-bottom: 30px;
        }
        .nonna .final .title-final:after {
            bottom: 25px;
        }
        .nonna .guideline .title-guide {
            font-size: 30px;
            padding-bottom: 30px;
        }
        .nonna .guideline .title-guide:after {
            bottom: 25px;
        }
        .nonna .icons-nonna {
            width: 100%;
            padding: 25px 0 40px 0;
        }
        .nonna .colors p {
            width: 33.333%;
        }
        .nonna .colors p:nth-child(3) {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .nonna .colors p:nth-child(4) {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .nonna .guideline {
            padding: 20px 0 35px 0;
        }
        .nonna .adaptive {
            height: 325px;
        }
        .nonna .final {
            padding: 20px 0 0 0;
        }
        .nonna .title-font {
            font-size: 24px;
        }
        .nonna .lato {
            font-size: 15px;
        }
        .nonna .MS {
            font-size: 15px;
        }
        .nonna .develop {
            padding: 30px 0;
        }
        .nonna .name-page {
            font-size: 23px;
        }
    }
</style>