<template>
    <u-animate-container
            :config="config">
        <main class="p3d">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта виртуальных 3D туров - студия P3D"
                description="Разработка сайта для студии P3D - создание виртуальных 3D туров для помещений и объектов. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="banner">
            <div class="banner__inner">
                <div><img class="img-responsive banner__back" src="~@/assets/images/p3d/top-bg.png" alt=""></div>
                <div class="banner__notebook"><img class="img-responsive banner__notebook-img" src="~@/assets/images/p3d/notebook-top.png" alt=""></div>
                <div class="banner__mob-txt-wrap">
                    <h1>РАЗРАБОТКА САЙТА 3D ТУРОВ</h1>
                </div>
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="banner__txt"
                >
                    <img class="img-responsive" src="~@/assets/images/p3d/banner-txt.png" alt="">
                </u-animate>
            </div>
        </section>

        <section class="functional">
            <div class="container">
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name section-name_left"
                >
                    <h3 class="section-name-txt">Функционал</h3>
                </u-animate>
                <div class="line-l"></div>
                <div class="line-mid"></div>
                <div class="line-r"></div>
                <div class="functional__instr"><img src="~@/assets/images/p3d/instr-txt.png" alt=""></div>
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="functional__inner"
                >
                    <div>
                        <div class="functional__item">
                            <div class="functional__img">
                                <img src="~@/assets/images/p3d/wp.png" alt="">
                            </div>
                            <div>
                                <p class="functional__reg">CMS</p>
                                <p><b class="functional__bold">WordPress</b></p>
                            </div>
                        </div>
                        <div class="functional__item functional__item_2">
                            <div class="functional__img">
                                <img src="~@/assets/images/lndc/func-2.png" alt="">
                            </div>
                            <div>
                                <p class="functional__reg">Framework</p>
                                <p><b class="functional__bold">Bootstrap 4</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="functional__item">
                        <div>
                            <p class="functional__reg">Было разработано <b class="functional__bold">две<br>языковые версии</b> сайта</p>
                        </div>
                    </div>
                </u-animate>
            </div>
        </section>

        <section class="colors">
            <div class="container">
                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name section-name_right colors__section-name"
                >
                    <h3 class="section-name-txt">Цветовое<span class="section-name-txt_inner">Решение</span></h3>
                </u-animate>
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="colors__inner"
                >
                    <div class="colors__item colors__item_blue">
                        <img src="~@/assets/images/p3d/color-1.png" alt="">
                        <p class="colors__txt">#0097ff</p>
                    </div>
                    <div class="colors__item colors__item_yellow">
                        <img src="~@/assets/images/p3d/color-2.png" alt="">
                        <p class="colors__txt">#ff9700</p>
                    </div>
                    <div class="colors__item colors__item_black">
                        <img src="~@/assets/images/p3d/color-3.png" alt="">
                        <p class="colors__txt">#0e0e0e</p>
                    </div>
                </u-animate>
            </div>
        </section>

        <section class="font">
            <u-animate
                    name="bounceInLeft"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="section-name section-name_center"
            >
                <h3 class="section-name-txt">Шрифтовое Решение</h3>
            </u-animate>
            <div class="font__inner">
                <div class="container">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            el="p"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="font__gotham-big"
                    >
                        Gotham pro
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="font__weight-wrap"
                    >
                        <p class="font__weight font__weight_black">Black</p>
                        <p class="font__weight font__weight_bold">Bold</p>
                        <p class="font__weight font__weight_med">Medium</p>
                        <p class="font__weight font__weight_reg">Regular</p>
                    </u-animate>
                    <div>
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                el="p"
                                animateClass="animated"
                                :begin="false"
                                class="font__weight font__weight_reg font__weight_upp"
                        >
                            а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я
                        </u-animate>
                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                el="p"
                                animateClass="animated"
                                :begin="false"
                                class="font__weight font__weight_reg"
                        >
                            а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="main">
            <div class="container">
                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name section-name_right colors__section-name"
                >
                    <h3 class="section-name-txt">Главная<span class="section-name-txt_inner">Страница</span></h3>
                </u-animate>
                <div class="main__inner">
                    <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="main-frag main-frag-1"
                    >
                            <img src="~@/assets/images/p3d/main-frag-1.png" alt="">
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="main-frag main-frag-2"
                    >
                        <img src="~@/assets/images/p3d/main-frag-2.png" alt="">
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="main-frag main-frag-3"
                    >
                        <img src="~@/assets/images/p3d/main-frag-3.png" alt="">
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="main-frag main-frag-4"
                    >
                        <img src="~@/assets/images/p3d/main-frag-4.png" alt="">
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-8 col-md-offset-4 main__full"
                    >
                        <div class="row">
                            <img class="img-responsive" src="~@/assets/images/p3d/main-full.jpg" alt="">
                        </div>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="other">
            <div class="container">
                <u-animate
                        name="bounceInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section-name section-name_right other__section-name"
                >
                    <h3 class="section-name-txt">Остальные<span class="section-name-txt_inner">Страницы</span></h3>
                </u-animate>
                <div class="other__inner">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="main-frag other-frag"
                    >
                        <img src="~@/assets/images/p3d/main-frag-3.png" alt="">
                    </u-animate>
                </div>
            </div>
            <u-animate
                    name="zoomIn"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="other__bottom-mock"
            >
                <img class="img-responsive" src="~@/assets/images/p3d/table-bottom.png" alt="">
            </u-animate>
            <div class="container relative">
                <div class="row">
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-6 other__page-1"
                    >
                        <img src="~@/assets/images/p3d/other-1.jpg" alt="" class="img-responsive other__shadow">
                    </u-animate>
                </div>
                <div class="row">
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-6 col-md-offset-3 other__page-2"
                    >
                        <img src="~@/assets/images/p3d/other-2.jpg" alt="" class="img-responsive other__shadow">
                    </u-animate>
                </div>
                <div class="row">
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-md-6 col-md-offset-6 other__page-3"
                    >
                        <img src="~@/assets/images/p3d/other-3.jpg" alt="" class="img-responsive other__shadow">
                    </u-animate>
                </div>
                <div class="section-name section-name_right other-bottom__section-name">
                    <div class="port-link-wrap">
                        <a class="port-link port-link_black" href="https://p3d.com.ua/" rel="nofollow" target="_blank">Посмотреть сайт</a>
                    </div>
                    <!--                <h3 class="section-name-txt other__section-name-txt">СПАСИБО<span class="section-name-txt_inner">За просмотр</span></h3>-->
                </div>
                <div class="other__txt">
                    <img src="~@/assets/images/p3d/other-txt.png" alt="">
                </div>
                <div class="main-frag other-frag-1">
                    <img src="~@/assets/images/p3d/main-frag-1.png" alt="">
                </div>
                <div class="main-frag other-frag-3">
                    <img src="~@/assets/images/p3d/main-frag-3.png" alt="">
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        components: {
            UAnimateContainer,
            UAnimate
        },
    }
</script>

<style scoped>
    .banner__inner, .relative {
        position: relative
    }

    .colors__txt, .font__gotham-big, .font__weight_upp, .section-name-txt {
        text-transform: uppercase
    }

    .functional__inner::before, .main::after {
        content: ''
    }

    @font-face {
        font-family: "Gotham Pro";
        src: url(~@/assets/fonts/swissFonts/GothamPro.eot);
        src: url(~@/assets/fonts/swissFonts/GothamPro.eot) format("embedded-opentype"), url(~@/assets/fonts/swissFonts/GothamPro.woff) format("woff"), url(~@/assets/fonts/swissFonts/GothamPro.ttf) format("truetype");
        font-weight: 400
    }

    @font-face {
        font-family: "Gotham Pro";
        src: url(~@/assets/fonts/swissFonts/GothamPro-Medium.eot);
        src: url(~@/assets/fonts/swissFonts/GothamPro-Medium.eot) format("embedded-opentype"), url(~@/assets/fonts/swissFonts/GothamPro-Medium.woff) format("woff"), url(~@/assets/fonts/swissFonts/GothamPro-Medium.ttf) format("truetype");
        font-weight: 500
    }

    @font-face {
        font-family: "Gotham Pro";
        src: url(~@/assets/fonts/swissFonts/GothamPro-Bold.eot);
        src: url(~@/assets/fonts/swissFonts/GothamPro-Bold.eot) format("embedded-opentype"), url(~@/assets/fonts/swissFonts/GothamPro-Bold.woff) format("woff"), url(~@/assets/fonts/swissFonts/GothamPro-Bold.ttf) format("truetype");
        font-weight: 700
    }

    @font-face {
        font-family: "Gotham Pro - Black";
        src: url(~@/assets/fonts/swissFonts/GothamPro-Black.eot);
        src: url(~@/assets/fonts/swissFonts/GothamPro-Black.eot) format("embedded-opentype"), url(~@/assets/fonts/swissFonts/GothamPro-Black.woff) format("woff"), url(~@/assets/fonts/swissFonts/GothamPro-Black.ttf) format("truetype")
    }

    body, html {
        overflow-x: hidden
    }

    p {
        margin: 0
    }

    .text-right {
        text-align: right
    }

    .text-left {
        text-align: left
    }

    .section-name_center, .text-center {
        text-align: center
    }

    .p3d {
        margin: 0 auto;
        max-width: 1920px;
        padding-top: 75px;
        padding-bottom: 369px
    }
    .port-link {
        color: black;
        text-transform: uppercase;
        padding: 15px 40px;
        border: 2px solid #cc3743;
        transition: all .3s ease;
    }
    .port-link:hover{
         letter-spacing: 1px;
        text-decoration: none;
     }

    @-webkit-keyframes move {
        from {
            left: 150px
        }
        to {
            left: 230px
        }
    }

    @keyframes move {
        from {
            left: 150px
        }
        to {
            left: 230px
        }
    }

    .banner__inner {
        width: 100%;
        max-width: 1469px;
        margin: 0 auto
    }

    .banner__mob-txt-wrap {
        text-align: center
    }

    .banner__back {
        margin: auto
    }

    .banner__notebook {
        position: absolute;
        -webkit-animation: move 3s infinite alternate linear;
        animation: move 3s infinite alternate linear;
        top: 160px
    }

    .banner__txt {
        position: absolute;
        top: 704px;
        left: 50%;
        margin-left: -231px
    }

    .section-name_right {
        width: 100%;
        max-width: 360px;
        margin-left: auto;
        margin-right: 166px;
    }

    .section-name-txt {
        color: #0e0e0e;
        font-family: "Gotham Pro - Black";
        font-size: 36px;
        letter-spacing: .72px;
        margin: 0
    }

    .colors__txt, .functional__bold, .functional__reg {
        font-family: "Gotham Pro";
        font-size: 16px
    }

    .section-name-txt_inner {
        display: block;
        text-align: right
    }

    .functional .container {
        position: relative
    }

    .functional__instr {
        position: absolute;
        right: -12px;
        top: 40px
    }

    .functional .line-l, .functional .line-mid, .functional .line-mid::after, .functional .line-mid::before, .functional .line-r {
        width: 2px;
        height: 5761px;
        background-color: #f0f0f0;
        position: absolute;
        top: -70px;
        z-index: -1
    }

    .functional .line-mid::after, .functional .line-mid::before {
        content: '';
        display: block;
        top: 0
    }

    .functional .line-l {
        left: 6px
    }

    .functional .line-r {
        right: 9px
    }

    .functional .line-mid {
        left: 556px
    }

    .functional .line-mid::before {
        left: 290px
    }

    .functional .line-mid::after {
        right: 290px
    }

    .functional__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .colors__inner, .functional__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }

    .functional__item_2 {
        margin-top: 40px
    }

    .functional__img {
        margin-right: 15px
    }

    .functional__bold, .functional__reg {
        color: #fff;
        letter-spacing: .64px
    }

    .functional__reg {
        font-weight: 400
    }

    .colors__txt, .font__weight_bold, .functional__bold {
        font-weight: 700
    }

    .functional__inner {
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        margin-top: 36px;
        width: 100%;
        max-width: 547px;
        padding: 36px 75px 0 36px
    }

    .functional__inner::before {
        display: block;
        background: url(../~@/assets/images/p3d/func-frag-1.png) center/contain no-repeat;
        width: 634px;
        height: 286px;
        position: absolute;
        left: -23px;
        top: -7px;
        z-index: -1
    }

    .colors {
        margin-top: 30px
    }

    .colors__section-name {
        max-width: 308px
    }

    .colors__inner {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        max-width: 713px;
        margin-top: 108px;
        margin-left: 191px
    }

    .colors__item {
        width: 133px;
        height: 133px;
        border: 1px solid;
        position: relative
    }

    .colors__item img {
        position: absolute;
        left: 33px;
        top: 35px
    }

    .main, .main__inner {
        position: relative
    }

    .colors__item_blue {
        border-color: #0097ff
    }

    .colors__item_yellow {
        border-color: #ff9700
    }

    .colors__item_black {
        border-color: #0e0e0e
    }

    .colors__txt {
        letter-spacing: .32px;
        margin-top: 150px;
        margin-left: 67px
    }

    .font__gotham-big, .font__weight_black {
        font-family: "Gotham Pro - Black"
    }

    .font {
        margin-top: 174px
    }

    .font__inner {
        background: url(../~@/assets/images/p3d/font-bg.png) center/cover no-repeat;
        width: 100%;
        max-width: 1488px;
        margin: 38px auto 0;
        padding-bottom: 130px
    }

    .font__gotham-big {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1.44px;
        text-align: center;
        margin-bottom: 60px;
        margin-top: 127px
    }

    .font__weight {
        font-size: 16px;
        letter-spacing: 1.2px;
        text-align: center;
        color: #fff
    }

    .font__weight_bold, .font__weight_med, .font__weight_reg {
        font-family: 'Gotham Pro'
    }

    .font__weight_med {
        font-weight: 500
    }

    .font__weight_reg {
        font-weight: 400
    }

    .font__weight-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        max-width: 462px;
        margin: 0 auto 54px
    }

    .main::after {
        display: block;
        width: 100%;
        max-width: 1488px;
        height: 413px;
        -webkit-box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09);
        box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09);
        background-color: #0097ff;
        margin: -342px auto 0
    }

    .main-frag-4, .main__full {
        -webkit-box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09)
    }

    .main__inner {
        margin-top: 45px
    }

    .main__full {
        box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09)
    }

    .main-frag {
        position: absolute
    }

    .main-frag-1 {
        top: 20px;
        left: -3px
    }

    .main-frag-2 {
        top: 116px;
        left: 257px
    }

    .main-frag-3 {
        top: 841px;
        left: -3px
    }

    .main-frag-4 {
        top: 1400px;
        left: 80px;
        z-index: 1;
        box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09)
    }

    .other {
        margin-top: 85px
    }

    .other__inner {
        position: relative
    }

    .other__section-name {
        margin-left: 100px;
        margin-right: auto
    }

    .other-frag {
        top: -70px;
        right: -15px
    }

    .other__bottom-mock {
        margin-top: 130px
    }

    .other__bottom-mock img {
        margin: 0 auto;
        position: relative;
        left: 30px
    }

    .other__shadow {
        -webkit-box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09);
        box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09)
    }

    .other__page-1, .other__page-2, .other__page-3 {
        z-index: -1;
        position: relative
    }

    .other__page-1 {
        margin-top: -100px;
        right: 5px
    }

    .other__page-2 {
        margin-top: -360px;
        z-index: 2;
        right: 10px
    }

    .other__page-3 {
        margin-top: -632px
    }

    .other__txt {
        position: absolute;
        right: -12px;
        top: -40px
    }

    .other-frag-1 {
        right: 200px;
        bottom: -310px
    }

    .other-frag-3 {
        left: 123px;
        top: 623px
    }

    .other__section-name-txt {
        font-size: 64px
    }

    .other .section-name-txt_inner {
        font-size: 36px
    }

    .other-bottom__section-name {
        margin: 100px auto 0;
        max-width: 459px
    }

    @media screen and (max-width: 1350px) {
        .banner__notebook {
            -webkit-animation: none;
            animation: none;
            left: 50%;
            margin-left: -482px;
            top: 0
        }

        .other__bottom-mock img {
            position: static
        }

        .banner__back {
            margin-left: 30px
        }

        .banner__txt {
            top: 550px
        }

        .other__page-1 {
            margin: 0
        }

        .other__page-3 {
            margin-top: -514px
        }

        .other__txt {
            top: 0
        }
    }

    @media screen and (max-width: 1200px) {
        .functional .line-l, .functional .line-mid, .functional .line-mid::after, .functional .line-mid::before, .functional .line-r, .functional__instr {
            display: none
        }

        .colors__inner {
            margin: 40px auto 0
        }

        .main-frag-2 {
            left: 227px
        }

        .main-frag-4 {
            top: 1200px
        }
    }

    @media screen and (max-width: 1100px) {
        .other-frag-1, .other-frag-3 {
            display: none
        }

        .p3d {
            padding-bottom: 150px
        }

        .banner__notebook-img {
            max-width: 700px
        }

        .banner__notebook {
            margin-left: -350px
        }

        .banner__txt {
            top: 390px
        }
    }

    @media screen and (max-width: 992px) {
        .main-frag-1, .main-frag-2, .main-frag-3 {
            display: none
        }

        .other__page-1, .other__page-2, .other__page-3 {
            margin: 0 0 20px
        }

        .other-bottom__section-name {
            margin: 20px auto 0
        }

        .colors {
            margin-top: 70px
        }

        .colors__txt {
            margin-top: 139px;
            margin-left: 32px
        }
    }

    @media screen and (max-width: 840px) {
        .banner__notebook-img {
            max-width: 400px
        }

        .banner__notebook {
            margin-left: -200px;
            top: 80px
        }

        .banner__txt {
            top: 320px
        }
    }

    @media screen and (max-width: 730px) {
        .banner__txt, .main-frag-4, .other-frag, .other__txt {
            display: none
        }

        .p3d {
            padding-top: 30px
        }

        .banner__notebook {
            margin-left: -170px;
            top: -20px
        }

        .banner__notebook-img {
            max-width: 350px
        }

        .banner__mob-txt-wrap {
            display: block
        }

        .banner__mob-txt-bold, .banner__mob-txt-thin {
            color: #0e0e0e;
            font-family: "Gotham Pro - Black";
            font-size: 30px;
            text-align: center;
            line-height: 100%
        }

        .banner__mob-txt-thin {
            font-size: 25px
        }

        .other__bottom-mock {
            margin-top: 40px
        }

        .other__section-name {
            margin-left: auto
        }

        .font {
            margin-top: 90px
        }

        .section-name-txt {
            font-size: 26px
        }

        .banner {
            margin-bottom: 30px
        }

        .banner__txt {
            top: 120px;
            margin-left: -110px;
            max-width: 220px
        }

        .banner__back {
            margin: auto;
            max-width: 320px;
            position: relative;
            left: 6px
        }

        .other__section-name-txt {
            font-size: 44px
        }
    }

    @media screen and (max-width: 600px) {
        .functional__inner::before {
            display: none
        }

        .functional__inner {
            background: #0097ff;
            padding: 20px
        }
    }

    @media screen and (max-width: 450px) {
        .colors__item {
            width: 90px;
            height: 90px
        }

        .section-name_right{
            margin-right: 0;
        }

        .functional__inner {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

        .functional__item_2 {
            margin-bottom: 40px
        }

        .colors__item img {
            left: 11px;
            top: 15px
        }

        .colors__txt {
            margin-top: 95px;
            margin-left: 2px
        }
    }
</style>
