<template>
    <u-animate-container
            :config="config">
        <main id="perevozchik"
          class="moy-perevozchik">
        <!--set meta data-->
        <vue-headful
                title="Разработка корпоративного сайта для компании-перевозчиков Мой Перевозчик"
                description="Создание и продвижение сайта Мой Перевозчик - грузоперевозки по Одессе и области. Разработан на современной CMS Joomla 3. Адаптивный под телефоны и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <div class="perevozchik_head">
            <div class="row no-margin">
                <div class="container">
                    <div class="col-xs-12">
                        <img class="perevozchik-logo"
                             src="~@/assets/images/moy-perevozchik/logo.png"
                             alt="разработка сайта">
                        <div class="back">
                            <p class="white_text text name_perevozchik">
                                Мой перевозчик</p>
                            <h1 class="main_page_title white_text text name_perevozchik">Разработка
                                сайта для компании-перевозчиков</h1>
                            <p class="white_text sub text">
                                Цель:<br>
                                Разработать новый
                                сайт и помочь
                                компании
                                отстроиться от
                                конкурентов <br>
                            </p>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="col-xs-12 center"
                            >
                                <a class="btn read-more"
                                   tabindex="-1"
                                   href="http://pereezd.odessa.ua/"
                                   rel="nofollow"
                                   target="blank">Перейти
                                    на сайт</a>
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="perevozchik_old_pages">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12">
                        <h2 class="center text name_perevozchik">
                            корпоративный сайт
                            грузоперевозок
                        </h2>
                        <div class="perevozchik_border"></div>
                    </div>
                    <u-animate
                            name="slideInLeft"
                            delay="0.5s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="old_pages col-xs-12 col-lg-8"
                    >
                        <img class="responsive-img"
                             src="~@/assets/images/moy-perevozchik/old_pages_1.png">
                    </u-animate>
                    <div class="col-xs-12 col-lg-4">
                        <p class="text_block center text sub">
                            На момент старта
                            проекта у компании
                            было два сайта,
                            конверсия с которых
                            составляла 0,5%</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="perevozchik_conception">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12">
                        <p class="center text name_perevozchik">
                            Концепция</p>
                        <div class="perevozchik_border"></div>
                    </div>
                    <div class="col-xs-12">
                        <p class="text_block center text sub">
                            Мы проанализировали
                            оба сайта компании,
                            целевую аудиторию и
                            создали 2 концепции
                            дизайна</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12 col-md-6"
                >
                    <img class="variants responsive-img middle-pic"
                         src="~@/assets/images/moy-perevozchik/perevozchik-site2-v4.png">
                </u-animate>
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12 col-md-6"
                >
                    <img class="variants responsive-img middle-pic"
                         src="~@/assets/images/moy-perevozchik/perevozchik-site1-v2.png">
                </u-animate>
            </div>
        </div>

        <div class="yellow_back ">
            <div class="row">
                <div class="container">
                    <div class="cl-xs-12">
                        <p class="center text name_perevozchik">
                            Уникальное решение</p>
                        <div class="perevozchik_border"></div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <p class="text_block center text sub">
                            Совместно с
                            заказчиком, мы нашли
                            уникальное решение.
                            Стоимость услуг
                            компании - важное
                            преимущество.
                            Поэтому мы максимально
                            упростили доступ
                            посетителя сайта к
                            тарифам компании</p>
                    </div>
                    <div class="col-xs-12 col-lg-8">
                        <img class="img middle-pic"
                             src="~@/assets/images/moy-perevozchik/1.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p class="center text name_perevozchik">
                    Итог</p>
                <div class="perevozchik_border"></div>
            </div>
            <div class="col-xs-12">
                <p class="center text sub">
                    Финальный вариант дизайна
                    получился таким </p>
            </div>
            <u-animate
                    name="slideInLeft"
                    delay="0.5s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="animated col-xs-12"
            >
                <img class="responsive_img middle-pic final"
                     src="~@/assets/images/moy-perevozchik/perevozchik-site2-v4.png">
            </u-animate>
        </div>

        <div class="row">
            <div class="container">
                <div class="col-xs-12 col-md-5 col-lg-3 parent">
                    <div class="photo">
                        <img class="responsive-img"
                             src="~@/assets/images/moy-perevozchik/ico2.png">
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-9">
                    <blockquote>
                        <q>Вы сделали
                            по­настоящему классный
                            сайт. Я считаю, что он
                            лучше и красивее, чем
                            у моих конкурентов.
                            Спасибо!
                        </q><br><br>
                        <cite></cite>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container slide_8 center bottom">
                <div class="aligncenter col-100 case-1 load">
                    <img class="responsive-img"
                         src="~@/assets/images/moy-perevozchik/ico1.png"
                         width="55" height=""
                         alt="разработка интернет-магазина"><br/>
                    <u-animate
                            name="fadeInUp"
                            delay="0.5s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 center"
                    >
                        <a class="btn-1 read-more"
                           tabindex="-1"
                           href="http://pereezd.odessa.ua/"
                           rel="nofollow"
                           target="blank">Перейти
                            на сайт</a>
                    </u-animate>
                </div>
            </div>
        </div>
    </main>
    </u-animate-container>

</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @font-face {
        font-family: 'comfortaalight_0';
        src: url('~@/assets/fonts/Comfortaa-Light/Comfortaa-Light.eot');
        src: url('~@/assets/fonts/Comfortaa-Light/Comfortaa-Light.eot') format('embedded-opentype'),
        url('~@/assets/fonts/Comfortaa-Light/Comfortaa-Light.woff') format('woff'),
        url('~@/assets/fonts/Comfortaa-Light/Comfortaa-Light.ttf') format('truetype'),
        url('~@/assets/fonts/Comfortaa-Light/Comfortaa-Light.svg#HelveticaNeueCyrMedium') format('svg');
    }
    @font-face {
        font-family: 'Gotham Pro';
        src: url("~@/assets/fonts/GothamPro/GothamPro.ttf") format("truetype"); }

    .center{
        text-align: center;
    }
    .text {
        font-family: 'comfortaalight_0', Verdana, Geneva, Helvetica, sans-serif;
        text-align: center;
    }

    .name_perevozchik {
        font-size: 160%;
        margin: 30px 0 0 0;
        line-height: 1.5em;
        text-transform: uppercase;
        font-weight: bold;

    }

    .perevozchik_border {
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 3px solid red;
        width: 100px;
        margin: 10px auto;
        margin-bottom: 15px;

    }

    .sub {
        font-size: 100%;
        margin: 0px 0 30px 0;
        line-height: 1.5em;
    }

    .white_text {
        color: white;
    }

    .middle-pic {
        display: block;
        margin: 0 auto;
    }

    .perevozchik_head {
        background: url(~@/assets/images/moy-perevozchik/perevozchik.png) no-repeat;
        background-size: cover;
        height: auto;
    }

    .perevozchik-logo {
        width: 85px;
        margin: 12px auto;
        display: none;
    }

    .perevozchik_old_pages {
        background: url(~@/assets/images/moy-perevozchik/1379_02.png) no-repeat;
    }

    .back {
        background-color: rgba(0, 0, 0, 0.48);
        padding: 7px 18px;
        margin-bottom: 62px;
        margin-top: 50px;
    }

    .final {
        -webkit-box-shadow: -11px 10px 11px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -11px 10px 11px -6px rgba(0, 0, 0, 0.75);
        box-shadow: -11px 10px 11px -6px rgba(0, 0, 0, 0.75);
        width: 100%;
        margin-bottom: 30px;
        max-width: 1400px;
    }

    #btn {
        display: block;
        background-color: #fe6200;
        border: 1px solid #fe6200;
        text-shadow: none;
        color: white;
        max-width: 260px;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 39px;
        margin: 15px auto;
    }

    #btn:hover {
        -webkit-box-shadow: -11px 10px 11px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -11px 10px 11px -6px rgba(0, 0, 0, 0.75);
        box-shadow: -11px 10px 11px -6px rgba(0, 0, 0, 0.75);

    }

    .variants {
        -webkit-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);

    }

    .no-margin {
        margin: 0;
    }

    .yellow_back {
        background: url(~@/assets/images/moy-perevozchik/1379_03.png) no-repeat 100% 0;
        padding-top: 20px;

    }

    .bottom {
        margin-bottom: 70px;
    }

    .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/moy-perevozchik/arrowBtnRight.png) left center no-repeat #fe6200;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 15px 0;
        z-index: 10;
    }

    .read-more:hover {
        background: url(~@/assets/images/moy-perevozchik/arrowBtnRight.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none;
        z-index: 10;
    }

    .btn-1.read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/moy-perevozchik/arrowBtnRight.png) left center no-repeat #fe6200;
        background-position-x: 85%;
        border: 2px solid transparent;
        margin: 15px 0;
        z-index: 10;
    }

    .btn-1.read-more:hover {
        background: url(~@/assets/images/moy-perevozchik/arrowBtnRight-hover.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #000;
        color: #000;
        text-decoration: none;
        z-index: 10;
    }

    .img {
        margin-bottom: 30px;
        -webkit-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -8px 10px 5px 0px rgba(0, 0, 0, 0.75);
        max-width: 100%;
    }

    blockquote {
        font-size: 14px;
        line-height: 17px;
        position: relative;
        font-style: normal;
        padding: 34px 47px;
        border: 2px solid #babbbc;
        border-radius: 4px;
        margin-top: 0;
        min-height: 168px;
        font-family: 'Gotham Pro';
    }

    blockquote:after {
        content: '';
        background: url(~@/assets/images/moy-perevozchik/arrow1.png) no-repeat;
        width: 9px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: -9px;
        margin: -8px 0 0;
    }

    .photo {
        width: 168px;
        height: 168px;
        background-color: transparent;
        border: 1px solid #c2c2c2;
        padding: 20px;
        border-radius: 84px;
        margin: 0 auto;

    }

    .parent {
        margin-bottom: 10px;
    }

    img {
        max-width: 100%;
    }
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
        margin-bottom: 30px;
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
            padding-top: 50px;
        }
    }

    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
            padding-top: 50px;
        }
    }
</style>