<template>
    <u-animate-container
            :config="config">
        <main class="posud-grad">
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина посуды - ПосудоГрад на Framework"
                description="Разработка интернет-магазина товаров для дома для компании ПосудоГрад на Framework. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <u-animate
                                name="fadeInDown"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <img src="@/assets/images/posud-grad/head-banner.png"
                             alt=""
                             class="header__banner">
                            <a href="http://www.posudograd.com.ua/ua" class="linkToSite">перейти на сайт</a>
                        </u-animate>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="header__logo">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="@/assets/images/posud-grad/logo.png"
                                 alt=""
                                 class="header__logo-image">
                            </u-animate>
                        </div>
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">1</span>
                            </div>
                            <div class="header__inner-content">
                                <h1 class="header__inner-content-title">Разработан UX/UI Design интернет-магазина посуды</h1>
                                <div class="header__inner-content-sub">
                                    <img src="@/assets/images/posud-grad/laptop.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/smartphone.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/tablet.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                </div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">2</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Подбор фирменных цветов</span>
                                <div class="header__inner-content-sub flex">
                                    <span class="header__inner-content-sub-color header__inner-content-sub-color-blue">#5fa2eb</span>
                                    <span class="header__inner-content-sub-color header__inner-content-sub-color-green">#92a800<span>#b4ba4e</span></span>
                                    <span class="header__inner-content-sub-color header__inner-content-sub-color-brown">#cd4800</span>
                                </div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">3</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Подбор фирменных шрифтов</span>
                                <div class="header__inner-content-sub">
                                    <span class="header__inner-content-sub-title">Gotham Pro</span>
                                    <span class="header__inner-content-sub-fonts">а б в г д е ё ж з и й к л м н о
                        п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                                </div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner mg-l"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">4</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Разработка остальных страниц сайта</span>
                                <div class="header__inner-content-sub">
                                    <ul class="header__inner-content-list">
                                        <li><p>
                                            Каталог</p>
                                        </li>
                                        <li><p>
                                            Корзина</p>
                                        </li>
                                        <li><p>
                                            Новости</p>
                                        </li>
                                        <li><p>
                                            Новости</p>
                                        </li>
                                        <li><p>
                                            Регистрация</p>
                                        </li>
                                        <li><p>
                                            Страница
                                            товара</p>
                                        </li>
                                        <li><p>
                                            Личный
                                            кабинет</p>
                                        </li>
                                        <li><p>
                                            Оформление
                                            заказа</p>
                                        </li>
                                        <li><p>
                                            Контакты</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner mg-l"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">5</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Иконографика</span>
                                <div class="header__inner-content-sub">
                                    <img src="@/assets/images/posud-grad/costrul.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/instrum-stenka.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/bokal.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/cachka.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/cutlery.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/technik.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/vaza.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/polotence.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/termos.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/zvezda.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/tag.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="@/assets/images/posud-grad/podarok.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                </div>
                            </div>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="home">
            <div class="container relative">
                <span class="title-rotate">Main page</span>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-title"><u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="main-title__h2"
                        >
                            <h2>
                                Главная
                                страница</h2>
                        </u-animate>
                        </div>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="home__image"
                        >
                            <img src="@/assets/images/posud-grad/home-image.jpg"
                                 alt="">
                        </u-animate>
                    </div>
                </div>
                <div class="row">
                    <div class="home__color">
                        <div class="col-lg-12">
                            <div class="main-title">
                                <u-animate
                                        name="fadeIn"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="main-title__h2"
                                >
                                <h2>
                                    Цветовое
                                    решение</h2>
                                </u-animate>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-2 col-lg-offset-2">
                            <u-animate
                                    name="bounceIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="home__color-inner"
                            >
                                <span class="home__color-inner-bg blue"></span>
                                <span class="home__color-inner-hex">#5fa2eb</span>
                            </u-animate>
                        </div>
                        <div class="col-md-4 col-lg-2 col-lg-offset-2">

                            <u-animate
                                    name="bounceIn"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="home__color-inner"
                            >
                                <span class="home__color-inner-bg green"></span>
                                <span class="home__color-inner-hex">#b4ba4e / #92a800</span>
                            </u-animate>
                        </div>
                        <div class="col-md-4 col-lg-2 col-lg-offset-2">
                            <u-animate
                                    name="bounceIn"
                                    delay="0.6s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="home__color-inner"
                            >
                                <span class="home__color-inner-bg brown"></span>
                                <span class="home__color-inner-hex">#cd4800</span>
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="font">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-lg-offset-1">
                        <div class="main-title">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <h2 class="main-title__h2">
                                Шрифтовое
                                решение</h2>
                            </u-animate>
                        </div>
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <span class="font__name">Gotham Pro</span>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="font__text bold">а
                            б в г д е ё ж з и й к
                            л м н о
                            п р с т у ф х ц ч ш щ
                            ъ ы ь э ю я</p>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="font__text regular">а
                            б в г д е ё ж з и й к
                            л м н о
                            п р с т у ф х ц ч ш щ
                            ъ ы ь э ю я</p>
                        </u-animate>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <img src="@/assets/images/posud-grad/font-image.png"
                             alt=""
                             class="font__bg">
                        </u-animate>
                    </div>
                    <span class="title-rotate">Cataloge page</span>
                    <div class="col-md-12 col-lg-11">
                        <u-animate
                                name="fadeIn"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="font__catalog__bg"
                        >
                            <img src="@/assets/images/posud-grad/font-bg.jpg"
                                 alt="">
                        </u-animate>
                    </div>
                    <div class="col-sm-5 col-md-4 col-lg-4">
                        <div class="font__adaptive">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span class="font__adaptive-title">Адаптив</span>
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="font__adaptive-sub">
                                Все страницы были
                                полностью
                                адаптированы под
                                все основные
                                разрешения
                                экранов</p>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <u-animate
                                name="fadeIn"
                                delay="0.3s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="font__adaptive__image"
                        >
                            <img src="@/assets/images/posud-grad/adaptive-img.png"
                                 alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="product">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="product__image"
                        >
                            <span class="title-rotate">Cataloge page</span>
                            <img src="@/assets/images/posud-grad/product-img.png"
                                 alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="all-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-title">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <h2 class="main-title__h2">
                                Остальные
                                страницы</h2>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <u-animate
                                name="fadeIn"
                                delay="0.7s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="all-page__image"
                        >
                            <img src="@/assets/images/posud-grad/all-page-left.jpg"
                                 alt=""
                                 class="all-page__w100 ">
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.9s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="all-page__image"
                        >
                            <img src="@/assets/images/posud-grad/all-page-left-midle.jpg"
                                 alt=""
                                 class="all-page__w100 ">
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.9s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="all-page__image"
                        >
                            <img src="@/assets/images/posud-grad/all-page-left-bt.jpg"
                                 alt=""
                                 class="all-page__w100">
                        </u-animate>
                    </div>
                    <div class="col-md-12 col-lg-1 relative">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img src="@/assets/images/posud-grad/all-page-midle.png"
                             alt=""
                             class="all-page__middle">
                        </u-animate>

                        <u-animate
                                name="fadeIn"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <img src="@/assets/images/posud-grad/all-page-midle-m2.png"
                             alt=""
                             class="all-page__middle">
                        </u-animate>

                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <img src="@/assets/images/posud-grad/all-page-midle-m3.png"
                             alt=""
                             class="all-page__middle">
                        </u-animate>

                        <u-animate
                                name="fadeIn"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <img src="@/assets/images/posud-grad/all-page-midle-bt.png"
                             alt=""
                             class="all-page__middle">
                        </u-animate>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <u-animate
                            name="fadeIn"
                            delay="0.6s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="all-page__image"
                        >
                            <img src="@/assets/images/posud-grad/all-page-right.jpg"
                                 alt=""
                                 class="all-page__w100">
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.8s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="all-page__image"
                        >
                            <img src="@/assets/images/posud-grad/all-page-right-midle.jpg"
                                 alt=""
                                 class="all-page__w100">
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="1s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="all-page__image"
                        >
                            <img src="@/assets/images/posud-grad/all-page-right-midle-2.jpg"
                                 alt=""
                                 class="all-page__w100">
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.8s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="all-page__image"
                        >
                            <img src="@/assets/images/posud-grad/all-page-right-bt.jpg"
                                 alt=""
                                 class="all-page__w100">
                        </u-animate>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="all-page__thanks">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span>Спасибо</span>
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p>
                                За просмотр</p>
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="btn-prew-site">
                            <a rel="nofollow"
                               href="http://www.posudograd.com.ua"
                               class="prewSite">Посмотреть
                                сайт</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>
<style scope>
    @font-face {
        font-family: "GothamPro";
        src: url("~@/assets/fonts/GothamPro/GothamPro.eot") format("svg"), url("~@/assets/fonts/GothamPro/GothamPro.woff") format("woff2"), url("~@/assets/fonts/GothamPro/GothamPro.ttf") format("truetype");
    }

    @font-face {
        font-family: "GothamPro-Black";
        src: url("~@/assets/fonts/GothamPro/GothamPro-Black.eot") format("svg"), url("~@/assets/fonts/GothamPro/GothamPro-Black.woff") format("woff2"), url("~@/assets/fonts/GothamPro/GothamPro-Black.ttf") format("truetype");
    }

    @font-face {
        font-family: "GothamPro-Bold";
        src: url("~@/assets/fonts/GothamPro/GothamPro-Bold.eot") format("svg"), url("~@/assets/fonts/GothamPro/GothamPro-Bold.woff") format("woff2"), url("~@/assets/fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    body, html {
        overflow-x: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: GothamPro, sans-serif;
    }

    .relative {
        position: relative;
    }

    .btn-prew-site {
        text-align: center;
        margin: 50px 0;
    }

    .prewSite {
        border: 2px solid #6dadeb;
        border-radius: 2px;
        padding: 10px 25px;
        color: #414141;
        transition: .4s all;
        font: 19px/19px GothamPro-Black;
        text-decoration: none;
        cursor: pointer;
        width: 240px;
        text-align: center;
    }

    .posud-grad {
        max-width: 1920px;
        margin: 0 auto;
    }

    .posud-grad .title-rotate {
        opacity: 0.1;
        color: #393939;
        font: 260px/80px GothamPro-Black;
        text-transform: uppercase;
        letter-spacing: 1.36px;
        position: absolute;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
    }

    .posud-grad .header {
        position: relative;
        padding-top: 100px;
    }

    .posud-grad .header:before {
        content: '';
        position: absolute;
        background: url("~@/assets/images/posud-grad/head-bg.jpg") no-repeat left;
        -webkit-background-size: cover;
        background-size: cover;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
    }

    .posud-grad .header__banner {
        width: 986px;
        height: auto;
        position: relative;
        right: 300px;
    }

    .posud-grad .linkToSite{
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        padding: 10px 25px;
        background-color: #5fa2eb;
        border: 2px solid #5fa2eb;
        transition: all .3s;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .posud-grad .linkToSite:hover{
        text-decoration: none;
        color: #5fa2eb;
        background-color: #fff;
    }

    .posud-grad .header__logo-image {
        display: block;
        margin-left: 50px;
        position: relative;
        top: -50px;
    }

    .posud-grad .header__image_absolute {
        position: absolute;
        bottom: 0px;
        right: 573px;
        top: 373px;
    }

    .posud-grad .header .mg-l {
        margin-left: 80px;
    }

    .posud-grad .header__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .posud-grad .header__inner-num {
        position: relative;
        bottom: 13px;
        margin-right: 14px;
    }

    .posud-grad .header__inner-num-border {
        display: block;
        width: 38px;
        height: 38px;
        background-color: #ededed;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: #000;
        font: 24px/20px GothamPro-Black;
        letter-spacing: 0.6px;
    }

    .posud-grad .header__inner-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .posud-grad .header__inner-content-title {
        display: block;
        margin:0 0 21px;
        color: #000;
        font: 18px/20px GothamPro-Bold;
        font-weight: 700;
        letter-spacing: 0.5px;
    }

    .posud-grad .header__inner-content .flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .posud-grad .header__inner-content-sub-icon {
        width: auto;
        height: 26px;
        display: inline-block;
        margin-right: 5px;
    }

    .posud-grad .header__inner-content-sub-color {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        padding-left: 50px;
        position: relative;
        margin-top: 10px;
        color: #000;
        font: 16px/16px GothamPro;
    }

    .posud-grad .header__inner-content-sub-color-blue {
        margin-right: 28px;
    }

    .posud-grad .header__inner-content-sub-color-blue:before {
        content: '';
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 0;
        top: -6px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #5fa2eb;
    }

    .posud-grad .header__inner-content-sub-color-green {
        margin-right: 28px;
    }

    .posud-grad .header__inner-content-sub-color-green:before {
        content: '';
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 0;
        top: 0px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-image: -webkit-gradient(linear, left bottom, left top, from(#b4ba4e), to(#92a800));
        background-image: -webkit-linear-gradient(bottom, #b4ba4e 0%, #92a800 100%);
        background-image: -o-linear-gradient(bottom, #b4ba4e 0%, #92a800 100%);
        background-image: linear-gradient(to top, #b4ba4e 0%, #92a800 100%);
    }

    .posud-grad .header__inner-content-sub-color-green span {
        display: block;
    }

    .posud-grad .header__inner-content-sub-color-green span:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0;
        top: 0;
    }

    .posud-grad .header__inner-content-sub-color-brown:before {
        content: '';
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 0;
        top: -6px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #cd4800;
    }

    .posud-grad .header__inner-content-sub-title {
        color: #000;
        font: 16px/18px GothamPro-Bold;
        letter-spacing: 0.45px;
        display: block;
    }

    .posud-grad .header__inner-content-sub-fonts {
        color: #000;
        font: 14px/18px GothamPro;
        letter-spacing: 0.9px;
        display: block;
        width: 51%;
        margin-top: 10px;
    }

    .posud-grad .header__inner-content-list {
        list-style-position: inside;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding-left: 0px;
        margin-top: 0;
    }

    .posud-grad .header__inner-content-list li {
        color: #000;
    }

    .posud-grad .header__inner-content-list li p {
        color: #000;
        font: 14px/24px GothamPro-Bold;
        font-weight: 700;
        letter-spacing: 0.4px;
        display: inline;
    }

    .posud-grad .main-title__h2 {
        color: #393939;
        font: 48px/48px GothamPro-Bold;
        text-transform: uppercase;
        letter-spacing: 1.36px;
        margin: 0 auto;
        text-align: center;
    }

    .posud-grad .home {
        padding: 88px 0 100px 0;
        position: relative;
    }

    .posud-grad .home .title-rotate {
        bottom: 30%;
        left: 0;
    }

    .posud-grad .home:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 815px;
        background-color: #ededed;
    }

    .posud-grad .home:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 815px;
        background-color: #ededed;
        z-index: -1;
    }

    .posud-grad .home .main-title {
        margin-bottom: 60px;
    }

    .posud-grad .home__image {
        -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
    }

    .posud-grad .home__image img {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    .posud-grad .home__image:before {
        content: '';
        position: absolute;
        left: -212px;
        top: 900px;
        z-index: 2;
        display: block;
        background: url("~@/assets/images/posud-grad/home-img-before.png") no-repeat center;
        -webkit-background-size: contain;
        background-size: contain;
        width: 430px;
        height: 559px;
    }

    .posud-grad .home__color {
        margin-top: 80px;
    }

    .posud-grad .home__color-inner-bg {
        width: 182px;
        height: 41px;
        -webkit-border-radius: 21px;
        border-radius: 21px;
        display: inline-block;
        position: relative;
    }

    .posud-grad .home__color-inner-bg:before {
        content: '';
        position: absolute;
        width: 95%;
        height: 85%;
        -webkit-border-radius: 21px;
        border-radius: 21px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    .posud-grad .home__color-inner .blue {
        border: 1px solid #5fa2eb;
    }

    .posud-grad .home__color-inner .blue:before {
        background-color: #5fa2eb;
    }

    .posud-grad .home__color-inner .green {
        border: 1px solid #b4ba4e;
    }

    .posud-grad .home__color-inner .green:before {
        background-image: -webkit-linear-gradient(143deg, #b4ba4e 0%, #92a800 100%);
        background-image: -o-linear-gradient(143deg, #b4ba4e 0%, #92a800 100%);
        background-image: linear-gradient(-53deg, #b4ba4e 0%, #92a800 100%);
    }

    .posud-grad .home__color-inner .brown {
        border: 1px solid #cd4800;
    }

    .posud-grad .home__color-inner .brown:before {
        background-color: #cd4800;
    }

    .posud-grad .home__color-inner-hex {
        display: block;
        width: 182px;
        text-align: center;
        color: #222222;
        font: 14px/18px GothamPro;
        font-weight: 400;
        letter-spacing: 0.35px;
    }

    .posud-grad .font {
        padding-top: 64px;
        position: relative;
    }

    .posud-grad .font .title-rotate {
        right: 400px;
        top: 28%;
        z-index: -1;
    }

    .posud-grad .font:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 815px;
        background-color: #ededed;
    }

    .posud-grad .font:after {
        content: '';
        position: absolute;
        bottom: 130px;
        left: 0;
        width: 50%;
        height: 815px;
        background-color: #ededed;
        z-index: -1;
    }

    .posud-grad .font .main-title {
        margin: 80px 0 90px 0;
    }

    .posud-grad .font .main-title__h2 {
        text-align: left;
    }

    .posud-grad .font__name {
        color: #000000;
        font: 36px/36px GothamPro-Bold;
        letter-spacing: 0.9px;
        margin-bottom: 50px;
        display: block;
    }

    .posud-grad .font__text {
        color: #000000;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.9px;
        width: 300px;
        display: block;
        margin-bottom: 36px;
    }

    .posud-grad .font .bold {
        font-family: GothamPro-Bold;
    }

    .posud-grad .font .regular {
        font-family: GothamPro;
    }

    .posud-grad .font__bg {
        width: 100%;
        height: 100%;
        display: block;
        margin-left: -75px;
    }

    .posud-grad .font__catalog__bg {
        -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.2);
        margin-top: 75px;
    }

    .posud-grad .font__catalog__bg img {
        width: 100%;
        height: auto;
        display: block;
    }

    .posud-grad .font__adaptive {
        margin-top: 112px;
    }

    .posud-grad .font__adaptive-title {
        color: #393939;
        font: 48px/48px GothamPro-Bold;
        text-transform: uppercase;
        letter-spacing: 1.36px;
    }

    .posud-grad .font__adaptive-sub {
        color: #222222;
        font: 16px/24px GothamPro;
        letter-spacing: 1.2px;
        position: relative;
        left: 100px;
        margin-top: 40px;
    }

    .posud-grad .font__adaptive-sub:before {
        content: '';
        position: absolute;
        left: -31px;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #5fa2eb;
    }

    .posud-grad .font__adaptive__image {
        margin: -20px -140px 0 0;
    }

    .posud-grad .font__adaptive__image img {
        width: 100%;
        height: auto;
        display: block;
    }

    .posud-grad .product {
        position: relative;
        margin-top: 70px;
    }

    .posud-grad .product .title-rotate {
        left: -100px;
        top: -100px;
        z-index: -1;
    }

    .posud-grad .product:before {
        content: '';
        position: absolute;
        top: -150px;
        right: 0;
        width: 50%;
        height: 815px;
        background-color: #ededed;
        z-index: -1;
    }

    .posud-grad .product__image {
        -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.2);
    }

    .posud-grad .product__image img {
        width: 100%;
        height: auto;
        display: block;
    }

    .posud-grad .all-page {
        position: relative;
        padding-bottom: 100px;
    }

    .posud-grad .all-page:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 45%;
        height: 815px;
        background-color: #ededed;
        z-index: -1;
    }

    .posud-grad .all-page .main-title {
        margin: 88px 0 98px 0;
    }

    .posud-grad .all-page__image {
        -webkit-box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 26px 1px rgba(0, 0, 0, 0.2);
    }

    .posud-grad .all-page__w100 {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 34px;
    }

    .posud-grad .all-page__middle {
        width: 458px;
        height: auto;
        position: relative;
        left: -200px;
        z-index: 2;
        margin-bottom: 34px;
    }

    .posud-grad .all-page__thanks span {
        font: 114px/114px GothamPro-Bold;
        color: #5fa2eb;
        letter-spacing: 2.85px;
    }

    .posud-grad .all-page__thanks p {
        font: 54px/54px GothamPro-Black;
        margin: 0;
        color: #393939;
    }

    @media only screen and (max-width: 1550px) {
        .posud-grad .header__banner {
            width: 822px;
            height: auto;
            position: relative;
            right: 120px;
            top: 100px;
        }

        .posud-grad .header:before {
            background: url("~@/assets/images/posud-grad/head-bg.jpg") no-repeat 71%;
        }
    }

    @media only screen and (max-width: 1024px) {
        .posud-grad .header__banner {
            width: 722px;
            right: 190px;
            top: 140px;
        }

        .posud-grad .header:before {
            background: none;
            background-color: #f1f0f0;
        }

        .posud-grad .header .mg-l {
            margin-left: 30px;
        }

        .title-rotate {
            display: none;
        }

        .posud-grad .home__color-inner {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .posud-grad .home__color-inner-hex {
            margin-top: 20px;
        }

        .posud-grad .font .main-title {
            margin: 40px 0 60px 0;
        }

        .posud-grad .all-page__middle {
            width: 100%;
            height: auto;
            left: auto;
        }

        .all-page .relative {
            display: none;
        }
    }

    @media only screen and (max-width: 768px) {
        .posud-grad .header {
            padding-top: 30px;
        }

        .posud-grad .header__banner {
            width: 100%;
            height: auto;
            right: 0;
            top: 0;
        }

        .posud-grad .header__logo-image {
            top: 0;
            padding-bottom: 20px;
            margin-top: 50px;
        }

        .posud-grad .home__color-inner {
            margin-bottom: 20px;
        }

        .posud-grad .font__bg {
            margin-left: 0;
        }

        .posud-grad .font__adaptive-sub {
            left: 30px;
        }

        .posud-grad .font__adaptive__image {
            margin: 50px 0 0 0;
        }

        .posud-grad .product {
            margin-top: 50px;
        }

        .posud-grad .all-page {
            padding-bottom: 50px;
        }
    }

    @media only screen and (max-width: 425px) {
        .posud-grad .header__logo-image {
            width: 100%;
            height: auto;
            margin: 20px 0 0 0;
        }

        .posud-grad .header__inner-content .flex {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
        }

        .posud-grad .header__inner-content-sub-fonts {
            width: 80%;
        }

        .posud-grad .header__inner-content-sub-color {
            margin: 10px 0;
        }

        .posud-grad .header .mg-l {
            margin-left: 0;
        }

        .posud-grad .header__inner-content-list li p {
            font-size: 12px;
        }

        .posud-grad .header__inner-content-sub-icon {
            margin: 5px 0;
        }

        .posud-grad .home {
            padding: 40px 0 80px 0;
        }

        .posud-grad .home__image:before {
            display: none;
        }

        .posud-grad .font .main-title__h2 {
            text-align: center;
        }

        .posud-grad .font {
            padding: 0;
        }

        .posud-grad .home__color {
            margin-top: 30px;
        }

        .posud-grad .font .main-title {
            margin: 40px 0 30px 0;
        }

        .posud-grad .home .main-title {
            margin-bottom: 30px;
        }

        .posud-grad .all-page .main-title {
            margin: 40px 0 30px 0;
        }

        .posud-grad .all-page__thanks span {
            font: 64px/64px GothamPro-Bold;
        }

        .posud-grad .all-page__thanks p {
            font: 32px/32px GothamPro-Black;
        }

        .posud-grad .header__inner-content-title {
            font: 16px/16px GothamPro-Bold;
        }

        .posud-grad .main-title__h2 {
            font: 32px/32px GothamPro-Bold;
        }
    }

    @media only screen and (max-width: 375px) {
        .posud-grad .header__inner-content-list {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }

        .posud-grad .font__adaptive-sub {
            left: 0;
        }

        .posud-grad .font__adaptive-sub:before {
            display: none;
        }
    }

    @media only screen and (max-width: 320px) {
        .posud-grad .all-page__thanks span {
            font: 52px/52px GothamPro-Bold;
        }

        .posud-grad .all-page__thanks p {
            font: 28px/28px GothamPro-Black;
        }
    }

    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
    }

    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }

    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }

</style>