<template>
    <main class="prosto-pereezd">
        <div class="row no_margin">
            <div class="white col-xs-12 col-md-5 col-lg-4">
                <img class="center-align wow animated boingInUp logo responsive-img"
                     src="~@/assets/images/prosto-pereezd/header-logo.png">
            </div>
            <div class="col-xs-12 col-md-7 col-lg-8">
                <div class="grey_block">
                    <p class="text about_logo">Цель: Редизайн сайта с сохранением поисковых позиций
                    </p>
                </div>
                <div class="red_block">
                    <div class="col-xs-12 wow fadeInUp center">
                        <a class="btn read-more" tabindex="-1" href="http://prostopereezd.com/" rel="nofollow" target="blank">Перейти на сайт</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row analiz">
            <div class="container">
                <div class="slideLeftRetourn animated wow col-xs-12 col-lg-6 center" data-wow-delay="2s">
                    <p class="text name center white_text">Анализ</p>
                    <p class="text sub center white_text">Мы провели анализ старого сайта и разработали концепцию нового,
                        современного
                        сайта компании.</p>
                </div>
                <div class="animated wow vanishIn col-xs-12 col-lg-6" data-wow-delay="2.5s">
                    <img class="responsive-img" src="~@/assets/images/prosto-pereezd/old_site.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-xs-12 center">
                    <p class="text name center">Иконки</p>
                    <p class="text sub center">Мы убеждены в том, что на сайте нужно избегать скучных серых кирпичей
                        текста,
                        заменяя важную информацию индивидуально проработанными иконками</p>
                </div>
                <div class="col-xs-6 col-md-3">
                    <img class="responsive-img icon" src="~@/assets/images/prosto-pereezd/service-ico1.png">
                </div>
                <div class="col-xs-6 col-md-3">
                    <img class="responsive-img icon" src="~@/assets/images/prosto-pereezd/service-ico2.png">
                </div>
                <div class="col-xs-6 col-md-3">
                    <img class="responsive-img icon" src="~@/assets/images/prosto-pereezd/service-ico3.png">
                </div>
                <div class="col-xs-6 col-md-3">
                    <img class="responsive-img icon" src="~@/assets/images/prosto-pereezd/service-ico4.png">
                </div>
                <div class="col-xs-6 col-md-3">
                    <img class="responsive-img icon" src="~@/assets/images/prosto-pereezd/service-ico5.png">
                </div>
                <div class="col-xs-6 col-md-3">
                    <img class="responsive-img icon" src="~@/assets/images/prosto-pereezd/service-ico6.png">
                </div>
                <div class="col-xs-6 col-md-3">
                    <img class="responsive-img icon" src="~@/assets/images/prosto-pereezd/service-ico7.png">
                </div>
                <div class="col-xs-6 col-md-3">
                    <img class="responsive-img icon" src="~@/assets/images/prosto-pereezd/service-ico8.png">
                </div>
            </div>
        </div>
        <div class="mask">
            <div class="row">
                <div class="container">

                </div>
            </div>
        </div>
        <div class="slider-fade-2">
            <div class="rel">
                <div class="col-xs-12 mask">
                    <div class="banner">
                        <p class="text name center white_text">Баннеры</p>
                        <p class="text sub center white_text">Для баннеров были подобраны
                            большие <br>красочные фотографии брендированных
                            машин. <br>Такие фото не только эффектно смотрятся. <br>Но и вызывают доверие у посетителей сайта</p>
                    </div>
                </div>
                <img src="~@/assets/images/prosto-pereezd/slide3.jpg">
            </div>
            <div class="rel">
                <div class="col-xs-12 mask">
                    <div class="banner">
                        <p class="text name center white_text">Баннеры</p>
                        <p class="text sub center white_text">Для баннеров были подобраны
                            большие <br>красочные фотографии брендированных
                            машин. <br>Такие фото не только эффектно смотрятся. <br>Но и вызывают доверие у посетителей сайта</p>
                    </div>
                </div>
                <img src="~@/assets/images/prosto-pereezd/slide2.jpg">
            </div>
            <div class="rel">
                <div class="col-xs-12 mask">
                    <div class="banner">s
                        <p class="text name center white_text">Баннеры</p>
                        <p class="text sub center white_text">Для баннеров были подобраны
                            большие <br>красочные фотографии брендированных
                            машин. <br>Такие фото не только эффектно смотрятся. <br>Но и вызывают доверие у посетителей сайта</p>
                    </div>
                </div>
                <img src="~@/assets/images/prosto-pereezd/slide.jpg">
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="swashIn animated wow col-xs-12 center">
                    <p class="text name center">Адаптивность</p>
                    <p class="text sub center">Сайт отлично выглядит и превосходно работает на любых устройствах: от
                        широкоформатного монитора до смартфона</p>
                </div>
                <div class="animated wow spaceInUp col-xs-12">
                    <img class="responsive-img middle-pic" src="~@/assets/images/prosto-pereezd/Responsive.png">
                </div>
            </div>
        </div>
        <div class="red content">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12">
                        <p class="text white_text name center">Уникальный контент</p>
                        <p class="text white_text sub center">Специально для сайта была проведена фотосессия брендированных машин компании</p>
                    </div>
                </div>
            </div>
            <div class="content_1">
            </div>
            <div class="content_2">
            </div>
        </div>
        <div class="row top">
            <div class="container">
                <div class="col-xs-12">
                    <p class="text name center">Сохранение поисковых позиций сайта</p>
                    <p class="text sub center">При переносе нового сайта была достигнута одна их основных целей ­ полное
                        сохранение поисковых позиций сайта</p>
                </div>
                <div class="shake-rotate col-xs-12 col-md-6">
                    <div class="for_search middle-pic">
                        <img class="responsive-img search middle-pic" src="~@/assets/images/prosto-pereezd/google.png">
                    </div>
                </div>
                <div class="shake-rotate col-xs-12 col-md-6">
                    <div class="for_search middle-pic">
                        <img class="responsive-img search middle-pic" src="~@/assets/images/prosto-pereezd/Yandex.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 center">
                <p class="text name center bounce_1">Окончательный дизайн сайта выглядит так:</p>
            </div>
            <div class="col-xs-12 col-md-6 animated wow slideLeftRetourn">
                <img class="middle-pic page responsive-img" src="~@/assets/images/prosto-pereezd/glavnaya.png">
            </div>
            <div class="col-xs-12 col-md-6 animated wow slideRightRetourn">
                <img class="middle-pic page responsive-img" src="~@/assets/images/prosto-pereezd/inside.png">
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-xs-12 col-md-5 col-lg-3 parent">
                    <div class="photo">
                        <img class="responsive-img" src="~@/assets/images/prosto-pereezd/ico2.png">
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-9">
                    <blockquote>
                        <q>Свой первый сайт я делал сам, на Joomla 1.5, но сейчас я просто не могу всем
                            заниматься самостоятельно. Пришло время доверить это профессионалам.
                            Я хотел, чтобы сайт Просто Переезд стал современным и динамичным, сохранив при
                            этом позиции в поиске. Именно это я и получил в итоге
                        </q><br><br>
                        <cite>Константин Карелин,
                            руководитель компании</cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container slide_8 centered center bottom">
                <div class="aligncenter col-100 case-1 load">
                    <img class="responsive-img" src="~@/assets/images/prosto-pereezd/ico1.png" width="55" height=""
                         alt="разработка интернет-магазина"><br/>
                    <div class="col-xs-12 wow fadeInUp center">
                        <a class="btn-1 read-more" tabindex="-1" href="http://prostopereezd.com/" rel="nofollow" target="blank">Перейти на сайт</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    require('vue-wow');

    export default {
        data () {
            return {

            }
        }
    }
</script>

<style scoped>
    p, h1, h2, h3, h4, ol, ul{
        margin: 0;
        padding: 0;
    }
    .prosto-pereezd .text {
        font-family: 'comfortaalight', Verdana, Geneva, Helvetica, sans-serif;
    }

    .prosto-pereezd .name {
        font-size: 160%;
        margin: 23px 0;
        line-height: 1.5em;
    }

    .prosto-pereezd .sub {
        font-size: 100%;
        margin: 20px 0;
        line-height: 1.5em;
    }

    .prosto-pereezd .brand {
        background: url(~@/assets/images/prosto-pereezd/page-slide1.jpg) no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
    }
    .prosto-pereezd .slick-slide img {
        display: block;
        width: 100%;
    }
    .prosto-pereezd .mask {
        position: absolute;
    }
    .prosto-pereezd .banner {
        position: absolute;
        top: 53px;
        z-index: 1000;
        left: 20%;
    }
    .prosto-pereezd .slick-dots li {
        display: inline-block;
        margin: 2px 8px;
    }
    .prosto-pereezd ul.slick-dots {
        text-align: center;
    }
    .prosto-pereezd .slick-dots button {
        display: inline-block;
        position: relative;
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 7px 0px;
        background-color: #e0e0e0;
        -webkit-transition: background-color .3s;
        -moz-transition: background-color .3s;
        -o-transition: background-color .3s;
        -ms-transition: background-color .3s;
        transition: background-color .3s;
        border: none;
        box-shadow: none;
        border-radius: 50%;
        text-indent: -200000px;
    }
    .prosto-pereezd .slick-active button {
        background-color: #52dbeb;
    }
    .prosto-pereezd .grey_block {
        background: #474747;
        margin: 0;
    }
    .prosto-pereezd .red_block {
        background: #c51b23;
        margin: 0;
        height: 75px;
    }

    .prosto-pereezd .logo {
        margin: 0 auto;
        display: block;
        padding: 35px 15px;
    }
    .prosto-pereezd img {
        max-width: 100%;
    }
    .prosto-pereezd #btn {
        display: block;
        min-width: 20px;
        margin: 0 auto;
        background-color: #c51b23;
        border: 1px dotted white;
        text-shadow: none;
        -webkit-text-shadow: none;
        color: white;
        max-width: 260px;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;

    }

    .prosto-pereezd #btn:hover {
        box-shadow: -2px 2px 4px rgba(0, 0, 0, 1);
    }

    .prosto-pereezd .about_logo {
        font-size: 120%;
        line-height: 1.5em;
        color: white;
        padding: 22px 10%;
        text-align: center;
    }

    .prosto-pereezd .analiz {
        background: url(~@/assets/images/prosto-pereezd/slide.jpg) no-repeat;
        background-size: cover;
        padding: 5%;
    }

    .prosto-pereezd .icon {
        display: block;
        margin: 10% auto;
    }

    .prosto-pereezd .middle-pic {
        display: block;
        margin: 0 auto;
    }

    .prosto-pereezd .content {
        position: relative;
        height: 800px;

    }

    .prosto-pereezd .content_1 {
        background: url(~@/assets/images/prosto-pereezd/content_1.png) no-repeat 100% 0;
        background-size: 800px;
        height: 800px;
        width: 50%;
        position: absolute;
        top: 110px;

    }

    .prosto-pereezd .content_2 {
        background: url(~@/assets/images/prosto-pereezd/content_2.png) no-repeat 0 0;
        background-size: 858px;
        height: 800px;
        width: 50%;
        position: absolute;
        top: 111px;
        right: 0;

    }
    .prosto-pereezd .red {
        background-color: #F44336 !important;
    }
    .prosto-pereezd .white_text {
        color: white;
    }

    .prosto-pereezd .search {
        height: 50px !important;
        width: auto;

    }

    .prosto-pereezd .for_search {
        margin-top: 40px;
        border: 1px solid red;
        max-width: 300px;
        padding: 10px;
    }

    .prosto-pereezd .page {
        width: 100%;
    }


    .prosto-pereezd blockquote {
        font-size: 14px;
        line-height: 17px;
        position: relative;
        font-style: normal;
        padding: 34px 47px;
        border: 2px solid #babbbc;
        border-radius: 4px;
        margin-top: 0;
        min-height: 168px;
    }

    .prosto-pereezd blockquote:after {
        content: '';
        background: url(~@/assets/images/prosto-pereezd/arrow1.png) no-repeat;
        width: 9px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: -9px;
        margin: -8px 0 0;
    }

    .prosto-pereezd .photo {
        width: 168px;
        height: 168px;
        background-color: transparent;
        border: 1px solid #c2c2c2;
        padding: 20px;
        border-radius: 84px;
        margin: 0 auto;

    }
    .prosto-pereezd .parent {
        margin-bottom: 10px;
    }
    .prosto-pereezd .top {
        margin-top: 20px;
    }

    .prosto-pereezd .no_margin {
        margin-bottom: 0!important;
    }
    .prosto-pereezd .bottom {
        margin-bottom: 70px;
    }
    .prosto-pereezd  .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/prosto-pereezd/arrowBtnRight.png) left center no-repeat #c51b23;
        background-position-x: 85%;
        border: 2px solid transparent;
        margin: 7px 0;
        z-index: 10;
        position: absolute;
        left: 37%;
    }
    .prosto-pereezd  .read-more:hover {
        background: url(~@/assets/images/prosto-pereezd/arrowBtnRight.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none;
        z-index: 10;
    }
    .prosto-pereezd  .btn-1.read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/prosto-pereezd/arrowBtnRight.png) left center no-repeat #c51b23;
        background-position-x: 85%;
        border: 2px solid transparent;
        margin: 15px 0;
        z-index: 10;
    }
    .prosto-pereezd  .btn-1.read-more:hover {
        background: url(~@/assets/images/prosto-pereezd/arrowBtnRight-hover.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #000;
        color: #000;
        text-decoration: none;
        z-index: 10;
    }
    .prosto-pereezd .bottom {
        margin-bottom: 155px;
    }



</style>
