<template>
    <u-animate-container
            :config="config">
        <main class="stone-bridge">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта элитной недвижимости для Stone Bridge на фреймворке Laravel 5"
                description="Разработка сайта элитной недвижимости для компании Stone Bridge на фреймворке Laravel 5. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <div class="container-white">
            <div class="overflow-hidden">
                <div class="row">
                    <div class="container _bg-6 table">
                        <div class="table-row">
                            <div class="case-2 case-2__type-1 col-25 __bp2-100 gutter _bg-5 pos-rel table-cell">
                                <a class="case-2_link" href="" target="_blank">www.stonebridgeestate.ru</a><br>
                                <span class="case-2_delim"></span><br>
                                <em><time class="case-2_release" >дата сдачи: 22.08.2015г</time></em>
                            </div>
                            <u-animate
                                    name="bounceInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="case-2 col-75 __b2-100 _bg-10 gutter table-cell"
                            >
                                <u-animate
                                        name="fadeInUp"
                                        delay="0s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-xs-12 right"
                                >
                                    <a class="btn read-more" tabindex="-1" href="http://stonebridgeestate.ru/" rel="nofollow" target="blank">Перейти на сайт</a>
                                </u-animate>
                                <h1 class="main_page_title">Разработка сайта элитной недвижимости</h1>
                                <div class="clear">
                                    <p>Компания MsStudio разработала сайт для московской компании Stone Bridge. Начало деятельности компании относится
                                        к 2006 году. Основное направление работы — продажа недвижимости. </p>
                                </div>
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container center">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12"
                        >
                            <img class="responsive-img"  src="~@/assets/images/stone-bridge/preview.jpg"
                                 alt="">
                        </u-animate>
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6"
                        >
                            <h2>Быстрый, современный, функциональный</h2>
                            <h3>LARAVEL и Material Design.</h3>
                        </u-animate>
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6"
                        >
                            <p>  Сочетание плавных линий и типографии как раз и придают эту тонкость дизайну.
                                Сайт разработан в "MATERIAL" дизайне + плюс самые современные инструменты, которые более чем
                                полно позволяют делать проработку легкой ненавязчивой анимации. Умеренно строгий
                                стиль и чуство динамики -это, пожалуй, то, что нужно, чтобы подчеркнуть главное и акцентировать
                                внимание на
                                проектах, которыми занимается компания.<br></p>
                        </u-animate>
                    </div>
                    <div class="row">
                        <div class="container center">
                            <div class="row">
                                <u-animate
                                        name="flipInX"
                                        delay="0.2s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-xs-12 col-md-4 gutter"
                                >
                                    <img class="responsive-img"  src="~@/assets/images/stone-bridge/slide9-1.png" alt="разработка сайта wellness-zone">
                                    <p>Возможность <strong>повышения посещения</strong> как ознакомления с рынком недвижимости</p>
                                </u-animate>

                                <u-animate
                                        name="flipInX"
                                        delay="0.6s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-xs-12 col-md-4 gutter"
                                >
                                    <img class="responsive-img"  src="~@/assets/images/stone-bridge/slide9-2.png" alt="разработка сайта wellness-zone">
                                    <p>Фактически полностью <strong>сокращены расходы</strong> рекламу</p>
                                </u-animate>

                                <u-animate
                                        name="flipInX"
                                        delay="1s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                        class="col-xs-12 col-md-4 gutter"
                                >
                                    <img class="responsive-img"  src="~@/assets/images/stone-bridge/slide9-3.png" alt="разработка сайта wellness-zone">
                                    <p>Мощный презентационный <strong>WOW-эффект</strong></p>
                                </u-animate>
                                <div class="col-xs-12">
                                    <h2 class="center">что получил клиент?</h2>
                                    <h3>инновационное решение</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="container slide_4"
                            >
                                <div class="case-2 col-100 gutter">
                                    <h2>Требовалось альтернативное<br> технологичное решение</h2>
                                    <p>Сайт реализован ориентируясь на возможности сенсорных телефонов, в основном адаптирован под возможности ipad или iphone.
                                        Динамику сайта не возможно полностью передать по изображениям, но с помощью современных методо
                                        сайтостроения, сайт имеет возможность помещаться на любом экране и
                                        грациозно переливаясь с одной страницы на другую, а также с помощю динамики спроектированы скрытые новости сайта.
                                        Сайт разрабатывался на двух современных фреймворках LARAVEL и Material Design.</p>
                                    <h3>Проектирование сайта под просмотр на планшете/ динамическое меню.</h3><br>
                                    <p>Удобное меню, ориентированый дизайн, психологически правильно расположеный контент привлекает
                                        пользователя ознакомиться с возможностями компании.
                                    </p>
                                </div>
                            </u-animate>
                        </div>
                        <div class="row">
                            <div class="container slide_8">
                                <div class="case-2 col-100">
                                    <u-animate
                                            name="bounceInRight"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="item03 case-1 col-85 aligncenter text-align-center"
                                    >
                                        <div class="item-title">Сайт получился...</div>
                                        <p><img class="responsive-img"  src="~@/assets/images/stone-bridge/stone-1.jpg" alt="разработка сайта wellness-zone"><br></p>
                                        <p>Страница "Жилая"</p>
                                            <u-animate
                                                    name="bounceInLeft"
                                                    delay="0s"
                                                    duration="1s"
                                                    :iteration="1"
                                                    :offset="0"
                                                    animateClass="animated"
                                                    :begin="false"
                                            >
                                            <img class="responsive-img"  src="~@/assets/images/stone-bridge/stone-2.jpg"alt="разработка сайта wellness-zone">
                                            </u-animate>
                                        <p>Страница "Проекты"</p>
                                        <u-animate
                                                name="bounceInLeft"
                                                delay="0s"
                                                duration="1s"
                                                :iteration="1"
                                                :offset="0"
                                                animateClass="animated"
                                                :begin="false"
                                        >
                                        <img class="responsive-img"  src="~@/assets/images/stone-bridge/stone-4.jpg"alt="разработка сайта wellness-zone">
                                        </u-animate>
                                    </u-animate>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container slide_8 center bottom">
                                <div class="aligncenter col-100 case-1 load">
                                    <u-animate
                                            name="fadeInUp"
                                            delay="0s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                            class="col-xs-12"
                                    >
                                        <a class="btn read-more" tabindex="-1" href="http://stonebridgeestate.ru/" rel="nofollow" target="blank">Перейти на сайт</a>
                                    </u-animate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
.main_page_title{
    font-size: 20px;
}
    .center{
        text-align: center;
    }
    .stone-bridge .fixed-action-btn {
        position: fixed;
        right: 23px;
        bottom: 23px;
        padding-top: 15px;
        margin-bottom: 0;
        z-index: 998;
    }
    .stone-bridge .onk-project .container {
        /*background: #fff url(~@/assets/images/stone-bridge/bg1.png);*/
    }
    .stone-bridge .table-cell {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
    .stone-bridge .gutter {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 18px;
        padding-left: 18px;
        margin: 15px 0;
        min-height: 200px;
    }
    .stone-bridge ._bg-5 {
        background: #de514d;
    }
    .stone-bridge .onk-project a {
        outline: none;
        cursor: pointer;
        text-decoration: underline;
    }
    .stone-bridge ._bg-5:after {
        position: absolute;
        right: -10px;
        bottom: 86px;
        z-index: 14;
        content: url(~@/assets/images/stone-bridge/ico-arr-red.png);
        width: 10px;
        height: 13px;
    }
    .stone-bridge .case-2_delim {
        background: url(~@/assets/images/stone-bridge/line-title.gif) no-repeat left bottom;
        display: inline-block;
        width: 20px;
        height: 1px;
    }
    .stone-bridge .case-2_link {
        font-family: 'rrobotoregular_3', Arial, 'sans-serif';
        letter-spacing: 1px;
        font-size: 0.83333333333333em;
        color: #fff;
        text-transform: uppercase;
    }
    .stone-bridge .case-2__type-1 {
        line-height: 24px;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
    }
    .stone-bridge .r-buttom {
        float: right;
        margin-bottom: 10px;
    }
    .stone-bridge .clear {
        clear: both;
    }
    .stone-bridge .onk-project p {
        font-size: 13px;
    }
    .stone-bridge img.responsive-img, video.responsive-video {
        max-width: 100%;
        height: auto;
        margin: 23px 0;
    }
    .stone-bridge .portfolio-page-2.rosatom .slide_5 {
        text-align: center;
        color: #000;
        background: #fff !important;
    }
    .stone-bridge h2 {
        text-align: center;
    }
    .stone-bridge h2 {
        font-size: 3.56rem;
        line-height: 3.916rem;
        margin: 1.78rem 0 1.424rem 0;
        font-family: comfortaalight_0;
        font-weight: 400;
    }
    .stone-bridge h3 {
        font-size: 2.92rem;
        line-height: 3.212rem;
        margin: 1.46rem 0 1.168rem 0;
        font-family: comfortaalight_0;
        font-weight: 400;
    }
    .stone-bridge .item-title {
        margin-top: 105px;
    }
    .stone-bridge .onk-project .col-50 {
        float: left;
        width: 50%;
    }
    .stone-bridge .portfolio-page-2.rosatom .slide_5 img {
        width: auto;
        margin-bottom: 35px;
    }
    .stone-bridge .onk-project .col-33 {
        float: left;
        width: 33%;
    }
    .text-align-center {
        text-align: center;
    }
    .stone-bridge .onk-project img {
        width: auto;
        height: auto;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }
    .stone-bridge .onk-project p {
        font-size: 13px;
        font-family: robotoregular_3;
    }
    .stone-bridge  .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/stone-bridge/arrowBtnRight.png) left center no-repeat #ef5350;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 15px 0;
        z-index: 10;
    }
    .stone-bridge .read-more:hover {
        background: url(~@/assets/images/stone-bridge/arrowBtnRight-hover.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #000;
        color: #000;
        text-decoration: none;
        z-index: 10;
    }
    .stone-bridge .right {
        text-align: right;
    }
    .stone-bridge .onk-project-page {
        margin-bottom: 70px;
    }
    .stone-bridge .bottom {
        margin-bottom: 70px;
    }
    @media (max-width: 520px) {
        .stone-bridge .table-cell{
            display: block;
        }
    }
</style>