<template>
    <u-animate-container
            :config="config">
        <main class="strecoza">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта для сети фитнес-клубов Стрекоза на Framework Laravel 5"
                description="Разработка сайта для компании Стрекоза, разработан на фреймворке Laravel 5. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <div class="strecoza_head">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <img class="middle-pic strecoza-logo" src="~@/assets/images/port-strecoza/logo.png" alt="logo">
                    </div>
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-12 col-lg-12 target"
                    >
                        <h1 class="main_page_title">Разработка сайта для фитнес-клуба</h1>
                        <p class="white_text text center main_text">Релиз: Удобный современный сайт для сети фитнес-клубов, созданный привлекать новых клиентов и быть интересным и полезным для существующих посетителей.</p>
                    </u-animate>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="bounceInDown"
                                delay="0.5s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <a href="http://strekoza.ua/" rel="nofollow" target="blank" class="size1 color1 aligncenter" id="btn">посмотреть сайт</a>
                        </u-animate>
                    </div>
                </div>
            </div>
        </div>

        <div class="strecoza_conception">
            <div class="row">
                <div class="container">
                    <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-12 col-lg-12"
                    >
                        <p class="center text name border">Концепция</p>
                        <p class="center sub text">Заказчик сайта - популярная одесская сеть фитнесс-клубов, столкнулся с тем, в течении года с сайта не было заявок от потенциальных клиентов. Дизайн сайта морально устарел. К тому же система управления сайтом была неудобной и крайне ограниченной. Было решено выбрать концепцию дизайна, которая подчеркивала бы привлекательность занятий спортом и при этом соответствовала фирменному стилю компании. В дизайне преобладают прямые четкие линии и моноцветные блоки, символизирующие целеустремленность спортсменов.</p>
                    </u-animate>
                    <u-animate
                            name="slideInUp"
                            delay="0.2s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-12 col-lg-4"
                    >
                        <div class="for_icon">
                            <img class="icon middle-pic" src="~@/assets/images/port-strecoza/puls.png" alt="icon">
                            <p class="text sub center">Самая важная информация выведена на главную страницу отдельными блоками. Навигация удобная и интуитивно понятная</p>
                        </div>
                    </u-animate>
                    <u-animate
                            name="zoomIn"
                            delay="0.2s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-12 col-lg-4"
                    >
                        <div class="for_icon">
                            <img class="icon middle-pic" src="~@/assets/images/port-strecoza/star.png" alt="icon">
                            <p class="text sub center">Сайт разрабатывался на фреймворке Laravel 5. Это позволило создать абсолютно уникальный ресурс, быстрый, надежный и удобный для управления</p>
                        </div>
                    </u-animate>
                    <u-animate
                            name="slideInDown"
                            delay="0.2s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-12 col-lg-4"
                    >
                        <div class="for_icon">
                            <img class="icon middle-pic" src="~@/assets/images/port-strecoza/timer.png" alt="icon">
                            <p class="text sub center">Проект был выполнен в течении 2 месяцев с нуля до полностью готового, проработанного и SEO-оптимизированного сайта</p>
                        </div>
                    </u-animate>
                </div>
            </div>
        </div>

        <div class="row strecoza_laravel">
            <div class="container">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="about_laravel"
                    >
                        <p class="center text name border">Разработка</p>
                        <p class="center text sub">Мы разрабатывали проект индивидуально на фреймворке Laravel 5. Благодаря этому сайт быстро грузится и легко масштабируется. Администратор сайта легко может добавлять клубы, услуги, страницы и новые выпуски авторского журнала. Нам удалось реализовать все функциональные требования заказчика</p>
                    </u-animate>
                </div>
                <u-animate
                        name="slideInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-xs-12 col-md-12 col-lg-12"
                >
                    <div>
                        <img class="middle-pic responsive-img" src="~@/assets/images/port-strecoza/mockup_2.png" alt="mockup_2">
                    </div>
                </u-animate>
            </div>
        </div>

        <div class="adminpanel">
            <div class="row">
                <div class="container">
                    <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-12 col-lg-12"
                    >
                        <p class="center text name border">Админпанель</p>
                        <p class="center text sub">Персональная админпанель разрабатывалась индивидуально под заказ. При ее разработке
                            были учтены особенности расписания занятий, фильтры, подключены Java-скрипты для добавления категорий. Для всех категорий сайта
                            реализована улучшенная и облегченная галерея. Кроме того, мы реализовали всплывающие подсказки для того, чтобы управление сайта стало для модератора удобным, простым и понятным</p>
                    </u-animate>
                </div>
            </div>
            <div class="strecoza_adminpanel">
                <u-animate
                        name="bounceInDown"
                        delay="0.2s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                    <img class="admin board middle-pic responsive-img" src="~@/assets/images/port-strecoza/adminka_3.png" alt="adminpanel">

                    <img class="slideLeftRetourn admin side middle-pic responsive-img" src="~@/assets/images/port-strecoza/adminka_2.png" alt="adminpanel">
                    <img class="slideLeftRetourn admin panel middle-pic responsive-img" src="~@/assets/images/port-strecoza/adminka_1.png" alt="adminpanel">
                </u-animate>
            </div>
        </div>

        <div class="design_var">
            <div class="row">
                <div class="container">
                    <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-12 col-lg-12"
                    >
                        <p class="center text name border">Варианты</p>
                        <p class="center text sub">Нам нужно было представить на сайте большой объем информации о клубах и их уникальных услугах, при этом сделать сайт удобным и понятным для пользователя с невысоким уровнем компьютерной грамотности. Мы создали  удобную структуру сайта, проработали юзабилити и предоставили Заказчику два варианта дизайна главной страницы</p>
                    </u-animate>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <p class="center text sub">Вариант №1</p>
                    <u-animate
                            name="slideInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img class="responsive-img page" src="~@/assets/images/port-strecoza/strekoza_green.png" alt="var_2">
                    </u-animate>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <p class="center text sub">Вариант №2</p>
                    <u-animate
                            name="slideInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <img class="animated responsive-img page" src="~@/assets/images/port-strecoza/Strekoza_v2-1.png" alt="var_2">
                    </u-animate>
                </div>
            </div>
        </div>

        <div class="strecoza_icons">
            <div class="row">
                <div class="container">
                    <div class="col s12 m12 l12">
                        <p class="text name center white_text border">Иконки</p>
                        <p class="text sub center white_text">Для сайта были разработаны стилизированные тематические иконки, подчеркивающие специфику деятельности компании и отражающие суть представляемых услуг</p>
                    </div>
                    <div class="col-xs-6 col-md-4 col-lg-2">
                        <div class="for_icon_2 white_border">
                            <img class="icon_2 middle-pic" src="~@/assets/images/port-strecoza/icon_1.png" alt="icon">
                            <p class="center"></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 col-lg-2">
                        <div class="for_icon_2 white_border">
                            <img class="icon_2 middle-pic" src="~@/assets/images/port-strecoza/icon_2.png" alt="icon">
                            <p class="center"></p>
                        </div>
                    </div>
                    <div class="ccol-xs-6 col-md-4 col-lg-2">
                        <div class="for_icon_2 white_border">
                            <img class="icon_2 middle-pic" src="~@/assets/images/port-strecoza/icon_3.png" alt="icon">
                            <p class="center"></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 col-lg-2">
                        <div class="for_icon_2 white_border">
                            <img class="icon_2 middle-pic" src="~@/assets/images/port-strecoza/icon_4.png" alt="icon">
                            <p class="center"></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 col-lg-2">
                        <div class="for_icon_2 white_border">
                            <img class="icon_2 middle-pic" src="~@/assets/images/port-strecoza/icon_5.png" alt="icon">
                            <p class="center"></p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 col-lg-2">
                        <div class="for_icon_2 white_border">
                            <img class="icon_2 middle-pic" src="~@/assets/images/port-strecoza/icon_7.png" alt="icon">
                            <p class="center"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="strecoza_final">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <p class="center text name border">Финал</p>
                    <p class="center text sub">Окончательный выбор пал на дизайн в зеленой цветовой гамме</p>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <p class="center text sub">Главная страница</p>
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img id="main-page" class=" middle-pic responsive-img" src="~@/assets/images/port-strecoza/page1.png" alt="page">
                        </u-animate>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="left text sub">Страница №1</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page2.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="right text sub">Страница №2</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page3.png" alt="page">
                        </u-animate>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="left text sub">Страница №3</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page4.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="right text sub">Страница №4</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page5.png" alt="page">
                        </u-animate>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="left text sub">Страница №5</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page6.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="right text sub">Страница №6</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page7.png" alt="page">
                        </u-animate>
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="left text sub">Страница №7</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page8.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="right text sub">Страница №8</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page9.png" alt="page">
                        </u-animate>
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="left text sub">Страница №9</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page10.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="right text sub">Страница №10</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page11.png" alt="page">
                        </u-animate>
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="left text sub">Страница №11</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page12.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="right text sub">Страница №12</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page13.png" alt="page">
                        </u-animate>
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="left text sub">Страница №13</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page14.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="right text sub">Страница №14</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page15.png" alt="page">
                        </u-animate>
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="left text sub">Страница №15</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page16.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="right text sub">Страница №16</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page17.png" alt="page">
                        </u-animate>
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <u-animate
                                name="slideInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="left text sub">Страница №17</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page18.png" alt="page">
                        </u-animate>
                        <u-animate
                                name="slideInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-xs-12 col-md-6 col-lg-6"
                        >
                            <p class="right text sub">Страница №18</p>
                            <img class="page responsive-img" src="~@/assets/images/port-strecoza/page19.png" alt="page">
                        </u-animate>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container wrap">
                <div class="col-xs-12 col-md-5 col-lg-3 parent">
                    <div class="photo">
                        <img class="responsive-img" src="~@/assets/images/port-strecoza/ico2.png">
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-9">
                    <blockquote>
                        <q>У нас получился сайт, уже одно лишь пребывание на котором вдохновляет на новые свершения. Подробный каталог
                            представленной продукции поможет спортсмену определиться с выбором необходимого продукта, а фильтр цены
                            убережет от необдуманно дорогой покупки. Удобно, не правда ли?  В оформлении сайта мы использовали
                            ярко-зеленый цвет, который заряжает своей энергией и динамикой.<br><br>
                            В результате у нас получился красочный и насыщенный сайт, удобный в навигации, который решает все проблемы
                            за Вас — найдет необходимый продукт в указанном ценовом диапазоне и даже предложит средство с аналогичными
                            свойствами в качестве замены. Удобно и функционально.
                        </q><br><br>
                        <cite></cite>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container slide_8 centered">
                <div class="aligncenter col-100 case-1 load center">
                    <img class="responsive-img" src="~@/assets/images/port-strecoza/ico1.png" width="55" height="" alt="разработка интернет-магазина"><br/>
                    <a href="http://strekoza.ua/" rel="nofollow" target="blank" class="btn size1 color1 aligncenter">перейти на сайт</a>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 center">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <h2>Создание сайта, аудит сайта, оптимизация, подбор ключевых слов, продвижение в поисковиках Яндекс и Google.</h2>
                    </u-animate>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <p class="centered subheader">Хотите ли вы с нами работать?</p>
                    </u-animate>
                </div>
            </div>
        </div>
    </main>

    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @font-face {
        font-family: 'POIRET_ONE_REGULAR';
        src: url("~@/assets/fonts/poiret_one/poiret_one.eot");
        src: url("~@/assets/fonts/poiret_one/poiret_one.eot") format("embedded-opentype"),
        url("~@/assets/fonts/poiret_one/poiret_one.woff") format("woff"),
        url("~@/assets/fonts/poiret_one/poiret_one.woff2") format("woff2"),
        url("~@/assets/fonts/poiret_one/poiret_one.ttf") format("truetype"); }

    @font-face {
        font-family: RobotoLight_3;
        src: url("~@/assets/fonts/Roboto-Regular.ttf") format("truetype"); }

    body.strecoza {
        overflow-x: hidden;
    }
    .strecoza img {
        max-width: 100%;
    }
    .strecoza .text {
        font-family: 'comfortaalight_0', Verdana, Geneva, Helvetica, sans-serif;
    }
    .strecoza .center{
        text-align: center;
    }
    .strecoza .name {
        font-size: 160%;
        line-height: 1.5em;
    }
    .strecoza .sub {
        font-size: 100%;
        margin: 20px 0;
        line-height: 1.5em;
    }
    .strecoza .strecoza_head {
        background: url(~@/assets/images/port-strecoza/man.png) no-repeat 37% 11%;
        height: 521px;
        position: relative;
        background-size: cover;
    }
    .strecoza #btn {
        display: block;
        margin: 20px auto;
        background-color: #f57841;
        text-shadow: none;
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        -o-text-shadow: none;
        color: white;
        max-width: 260px;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 39px;
    }
    .strecoza #btn:hover {
        -webkit-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
    }
    .strecoza .strecoza-logo {
        width: 254px;
        height: auto;
        margin-top: 5%!important;
    }
    .strecoza #mockup {
        width: 100%;
    }
    .strecoza blockquote {
        font-size: 14px;
        line-height: 17px;
        position: relative;
        font-style: normal;
        padding: 34px 47px;
        border: 2px solid #babbbc;
        border-radius: 4px;
        margin-top: 0;
        min-height: 168px;
        font-family: comfortaalight_0;
    }
    .strecoza blockquote:after {
        content: '';
        background: url(~@/assets/images/port-strecoza/arrow1.png) no-repeat;
        width: 9px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: -9px;
        margin: -8px 0 0;
    }
    .strecoza .photo {
        width: 168px;
        height: 168px;
        background-color: transparent;
        border: 1px solid #c2c2c2;
        padding: 20px;
        border-radius: 84px;
        margin: 0 auto;
    }
    .strecoza .parent {
        margin-bottom: 10px;
    }
    .strecoza .middle-pic {
        display: block;
        margin: 0 auto;
    }
    .strecoza .icon {
        height: 50px;
        width: auto;
        position: absolute;
        top: -30px;
        left: 33%;
        right: 33%;
    }
    .strecoza .icon_2 {
        height: 50px;
        width: auto;
    }
    .strecoza .for_icon {
        position: relative;
        height: auto;
        border: 2px solid lightgrey;
        margin: 10px 10px;
        padding: 15px;
    }
    .strecoza .for_icon_2 {
        width: 100%;
        height: auto;
        border: 2px solid rgba(250, 250, 250 ,0.2);
        margin: 20px auto;
        padding: 15px;
        background: rgba(250,250,250,0.2);
    }
    .strecoza .for_icon_2:hover {
        background: rgba(250,250,250,0.5);
        border: 2px solid rgba(250, 250, 250 ,0.5);
    }
    .strecoza .page {
        -webkit-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        margin: 1% 1%;
        display: inline-block;
        margin-left:-4px!important;
        width: 100%;
    }
    .strecoza #main-page {
        -webkit-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
        box-shadow: -11px 10px 11px -6px rgba(0,0,0,0.75);
    }
    .strecoza .strecoza_icons {
        background: #b2c150;
    }
    .strecoza .strecoza_adminpanel {
        position: relative;
        margin-bottom: 50%;
    }
    .strecoza .strecoza_laravel {
        background: url(~@/assets/images/port-strecoza/back_2.png) no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .strecoza .admin {
        position: absolute;
    }
    .strecoza .side {
        width: 55%;
        left: 0;
        top: 5%;
        z-index: 10;
    }
    .strecoza .board {
        width: 57%;
        right:0;
        top: 5%;
        z-index: 15;
    }
    .strecoza .panel {
        width: 90%;
        top: 5%;
    }
    .strecoza .white {
        width: 100%;
        position: fixed;
        z-index: 100;
        padding-top: 5px;
        background: rgba(237,237,237,0.8)!important;
        color: #293427;
    }
    .strecoza .no-margin {
        margin: 0;
    }
    .strecoza .border {
        width: 220px;
        border-bottom: 2px solid lightgrey;
        margin: 25px auto;
    }
    .strecoza .white_text {
        color: white;
    }
    .strecoza .target {
        margin-top: 50px;
        text-shadow: -2px 2px 4px rgba(0, 0, 0, 1);
        -moz-text-shadow: -2px 2px 4px rgba(0, 0, 0, 1);
        -o-text-shadow: -2px 2px 4px rgba(0, 0, 0, 1);
        -webkit-text-shadow: -2px 2px 4px rgba(0, 0, 0, 1);
    }
    .strecoza .main_text {
        font-size: 228%;
        line-height: 113%;
    }
    .strecoza .slide_8 {
        margin-bottom: 60px;
        font-family: comfortaalight_0;
    }
    .strecoza .btn {
        padding: 23px 39px;
        margin-top: 20px;
        font-size: 18px;
        background: #fd727d;
        color: #fff;
        border-radius: 3px;
        font-weight: 400;
        line-height: 6px;
        border: 1px solid #fd5b68;
        text-shadow: 1px 1px 1px #7e3d3b;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
        box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15);
        cursor: pointer;
        display: inline-block;
        transition: all 0.1s ease;
    }
    .strecoza h2 {
        font-family: 'POIRET_ONE_REGULAR', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 32px;
        padding: 20px 0 0 0;

    }
    .strecoza p.subheader {
        font-family: RobotoLight_3;
        font-size: 32px;
        padding-bottom: 20px;
        font-weight: 300;
    }
    .strecoza .aligncenter img {
        padding-top: 20px;
    }
    .strecoza .wrap {
        padding-top: 40px;
    }
    @media only screen and (min-width: 994px){
        .strecoza .for_icon{
            min-height: 195px;
        }
    }
    @media (max-width: 767px) {
        .strecoza .main_text {
            font-size: 19px;
            line-height: 1;
        }
        .strecoza .strecoza_head {
            height: auto;
        }
    }
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
        color: #fff;
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
            padding-top: 50px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
            padding-top: 50px;
        }
    }

</style>