<template>
    <u-animate-container
            :config="config">
        <main class="swisspan">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта-каталога для компании Swisspan - ламинированые плиты"
                description="Разработка сайта-каталога для компании Swisspan, которая занимается производством древесно-стружечных и ламинированых плит. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="swisspan__top">
            <u-animate
                name="fadeInLeft"
                delay="0s"
                duration="1s"
                :iteration="1"
                :offset="0"
                animateClass="animated"
                :begin="false"
                class="swisspan__top-logo"
            >
                <a rel="nofollow"
                   href="//www.swisspan.ua/">
                    <img src="~@/assets/images/swiss//swiss-logo.jpg"
                         alt="">
                </a>
            </u-animate>
            <u-animate
                    name="fadeInUp"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
            >
                <a rel="nofollow"
                   class="swisspan__top-link swisspan__head"
                   href="//www.swisspan.ua/">SWISSPAN</a>
            </u-animate>
        <h1 class="main_page_title">Разработка
            сайта-каталога</h1>
            <div class="btn-wrap"
                 style="margin-bottom: 50px">
                <a style="
                color: #222;
                font-family: GothamProRegular;
                font-size: 16px;
                display: block;
                max-width: 240px;
                margin: auto;
                padding: 10px;
                border: 1px solid black;
                text-align: center"
                   rel="nofollow"
                   href="//www.swisspan.ua/">
                    Посмотреть сайт
                </a>
            </div>
            <u-animate
                    name="fadeInRight"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="swisspan__top-mock"
            >
                <img class="img-responsive"
                     src="~@/assets/images/swiss//top-mock.png"
                     alt="">
            </u-animate>
        </section>

        <section class="container swisspan__aim">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <h5 class="swisspan__head text-center swisspan__aim-head">
                        ЗАДАЧА</h5>
                    </u-animate>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <p class="swisspan__txt text-center">
                        Создать современный и
                        удобный сайт-каталог для
                        компании Swisspan, которая
                        занимается производством
                        древесно-стружечных и
                        ламинированых плит</p>
                    </u-animate>
                </div>
            </div>
            <u-animate
                    name="bounceIn"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
            >
            <img class="swisspan__aim-triag"
                 src="~@/assets/images/swiss//triag.png"
                 alt="">
            </u-animate>
        </section>

        <section class="swisspan__color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-sm-3">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="swisspan__section-head-wrap swisspan__section-head-wrap_1"
                        >
                            <h4 class="swisspan__section-head-orange text-right">
                                Цветовое</h4>
                            <h5 class="swisspan__section-head-gray text-right">
                                Решение</h5>
                        </u-animate>
                        <u-animate
                                name="bounceInLeft"
                                delay="0.3s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="swisspan__color-ex swisspan__color-ex_orange"
                        >
                            <p class="swisspan__color-ex-txt swisspan__color-ex-txt_orange">
                                #e4892e</p>
                            <div class="swisspan__color-ex-border swisspan__color-ex-border_orange">
                                <div class="swisspan__color-ex-color swisspan__color-ex-color_orange"></div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="bounceInLeft"
                                delay="0.5s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="swisspan__color-ex swisspan__color-ex_green"
                        >
                            <p class="swisspan__color-ex-txt swisspan__color-ex-txt_green">
                                #e4892e</p>
                            <div class="swisspan__color-ex-border swisspan__color-ex-border_green">
                                <div class="swisspan__color-ex-color swisspan__color-ex-color_green"></div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="bounceInLeft"
                                delay="0.7s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="swisspan__color-ex swisspan__color-ex_black"
                        >
                            <p class="swisspan__color-ex-txt swisspan__color-ex-txt_black">
                                #e4892e</p>
                            <div class="swisspan__color-ex-border swisspan__color-ex-border_black">
                                <div class="swisspan__color-ex-color swisspan__color-ex-color_black"></div>
                            </div>
                        </u-animate>
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-8 relative">
                        <u-animate
                                name="fadeInUp"
                                delay="0.7s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <img class="img-responsive swisspan__color-home shadow "
                             src="~@/assets/images/swiss//full-home.jpg"
                             alt="">
                        </u-animate>
                        <h3 class="swisspan__bold swisspan__bold_home">
                            Home Page</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="swisspan__typo-cont">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="swisspan__section-head-wrap swisspan__section-head-wrap_2"
                        >
                            <h4 class="swisspan__section-head-orange text-center">
                                Шрифтовое</h4>
                            <h5 class="swisspan__section-head-gray text-center">
                                Решение</h5>
                        </u-animate>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                        <p class="swisspan__typo-head text-center">
                            Gotham Pro</p>
                        </u-animate>
                        <div class="swisspan__typo-example-wrap">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="swisspan__typo-example swisspan__typo-example_black">
                                Black</p>
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0.5s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="swisspan__typo-example swisspan__typo-example_bold">
                                Bold</p>
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0.7s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="swisspan__typo-example swisspan__typo-example_medium">
                                Medium</p>
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0.9s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="swisspan__typo-example swisspan__typo-example_regular">
                                Regular</p>
                            </u-animate>
                        </div>
                        <div class="swisspan__typo-letters-wrap">
                            <u-animate
                                    name="bounceInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="swisspan__typo-letters-txt swisspan__typo-letters-txt_upp">
                                а б в г д е ё ж з
                                и й к л м н о п р
                                с т у ф х ц ч ш щ
                                ъ ы ь э ю я</p>
                            </u-animate>
                            <u-animate
                                    name="bounceInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="swisspan__typo-letters-txt">
                                а б в г д е ё ж з
                                и й к л м н о п р
                                с т у ф х ц ч ш щ
                                ъ ы ь э ю я</p>
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container relative">
                <div class="swisspan__responsive">
                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <img src="~@/assets/images/swiss//mock-mac.png"
                         class="img-responsive"
                         alt="">
                    </u-animate>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                    <img class="swisspan__responsive-phone img-responsive"
                         src="~@/assets/images/swiss//iph-mock.png"
                         alt="">
                    </u-animate>
                </div>
                <h3 class="swisspan__bold swisspan__responsive-bold">
                    Responsive</h3>
            </div>
        </section>

        <section class="swisspan__responsive-txt">
            <div class="container">
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                >
                <p class="swisspan__txt text-center">
                    Сайт был полностью адпатирован
                    под все устройства и <br>
                    отлично работает во всех
                    браузерах</p>
                </u-animate>
            </div>
        </section>


        <section class="swisspan__func">
            <div class="container">
                <u-animate
                    name="bounceIn"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="row"
                >
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="swisspan__section-head-wrap swisspan__section-head-wrap_3">
                            <h4 class="swisspan__section-head-orange text-center">
                                Функционал</h4>
                        </div>
                    </div>
                </u-animate>
                <div class="row">

                    <u-animate
                            name="bounceInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-lg-5 col-md-5 col-lg-offset-1 swisspan__func-wrap"
                    >
                        <div class="swisspan__func-inner">
                            <div class="swisspan__func-img">
                                <img src="~@/assets/images/swiss//wp-logo.png"
                                     alt="">
                            </div>
                            <div>
                                <p class="swisspan__txt">
                                    CMS <br>
                                    <b>WordPress</b>
                                </p>
                            </div>
                        </div>
                        <div class="swisspan__func-inner">
                            <div class="swisspan__func-img">
                                <img src="~@/assets/images/swiss//bootsrt-logo.png"
                                     alt="">
                            </div>
                            <div>
                                <p class="swisspan__txt">
                                    Framework <br>
                                    <b>Bootstrap
                                        4</b>
                                </p>
                            </div>
                        </div>
                    </u-animate>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-lg-5 col-md-5"
                    >
                        <ul class="swisspan__func-list">
                            <li class="swisspan__txt swisspan__func-list-item">
                                Было разработано
                                <b>две языковые
                                    версии</b>
                                сайта
                            </li>
                            <li class="swisspan__txt swisspan__func-list-item">
                                <b>Реализован
                                    каталог</b> на
                                базе Woocommerce
                            </li>
                            <li class="swisspan__txt swisspan__func-list-item">
                                <b>Интерактивная
                                    карта</b> с
                                Ajax подгрузкой
                                партнеров компании
                            </li>
                        </ul>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="swisspan__other">
            <div>
                <div class="container">
                    <div class="row swisspan__other-wrap">
                        <div class="col-lg-6 swisspan__other-left">
                            <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                            >
                                <img class="img-responsive shadow"
                                     src="~@/assets/images/swiss//1-1.jpg"
                                     alt="">
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="img-responsive shadow"
                                     src="~@/assets/images/swiss//1-2.png"
                                     alt="">
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="img-responsive shadow"
                                     src="~@/assets/images/swiss//1-3.png"
                                     alt="">
                            </u-animate>
                        </div>
                        <div class="col-lg-6 swisspan__other-right">
                            <u-animate
                                    name="bounceInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="swisspan__section-head-wrap swisspan__section-head-wrap_4"
                            >
                                <h4 class="swisspan__section-head-orange text-right">
                                    Остальные</h4>
                                <h5 class="swisspan__section-head-gray text-right">
                                    Страницы</h5>
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="img-responsive shadow"
                                     src="~@/assets/images/swiss//2-1.png"
                                     alt="">
                            </u-animate>
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="img-responsive shadow"
                                     src="~@/assets/images/swiss//2-2.png"
                                     alt="">
                            </u-animate>
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img class="img-responsive shadow"
                                     src="~@/assets/images/swiss//2-3.png"
                                     alt="">
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <u-animate
                        name="bounceIn"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="relative swisspan__other-bottom "
                >
                    <h3 class="swisspan__bold swisspan__other-bold">
                        other</h3>
                    <h3 class="swisspan__bold swisspan__other-bold text-right">
                        pages</h3>
                </u-animate>
            </div>
        </section>

    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scored>
    .relative, .swisspan__top {
        position: relative;
    }

    @font-face {
        font-family: GothamProRegular;
        src: url(~@/assets/fonts/swissFonts/GothamPro.eot);
        src: url(~@/assets/fonts/swissFonts/GothamPro.eot) format("embedded-opentype"),
        url(~@/assets/fonts/swissFonts/GothamPro.woff) format("woff"),
        url(~@/assets/fonts/swissFonts/GothamPro.ttf) format("truetype")
    }

    @font-face {
        font-family: GothamProMedium;
        src: url(~@/assets/fonts/swissFonts/GothamPro-Medium.eot);
        src: url(~@/assets/fonts/swissFonts/GothamPro-Medium.eot) format("embedded-opentype"),
        url(~@/assets/fonts/swissFonts/GothamPro-Medium.woff) format("woff"),
        url(~@/assets/fonts/swissFonts/GothamPro-Medium.ttf) format("truetype")
    }

    @font-face {
        font-family: GothamProBold;
        src: url(~@/assets/fonts/swissFonts/GothamPro-Bold.eot);
        src: url(~@/assets/fonts/swissFonts/GothamPro-Bold.eot) format("embedded-opentype"),
        url(~@/assets/fonts/swissFonts/GothamPro-Bold.woff) format("woff"),
        url(~@/assets/fonts/swissFonts/GothamPro-Bold.ttf) format("truetype")
    }

    @font-face {
        font-family: GothamProBlack;
        src: url(~@/assets/fonts/swissFonts/GothamPro-Black.eot);
        src: url(~@/assets/fonts/swissFonts/GothamPro-Black.eot) format("embedded-opentype"),
        url(~@/assets/fonts/swissFonts/GothamPro-Black.woff) format("woff"),
        url(~@/assets/fonts/swissFonts/GothamPro-Black.ttf) format("truetype")
    }

    body, html {
        /*overflow-x: hidden*/
    }

    .shadow {
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .1);
        box-shadow: 0 0 16px rgba(0, 0, 0, .1)
    }

    .swisspan {
        padding-bottom: 90px
    }

    .swisspan__top {
        text-align: center;
        padding: 60px 15px
    }

    .swisspan__top img {
        margin-right: auto;
        margin-left: auto
    }

    .swisspan__top::before {
        content: '';
        display: block;
        width: 100%;
        height: 870px;
        background: url(~@/assets/images/swiss/swiss-bg-top.png) 220px 100%/cover no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1
    }

    .swisspan__top-logo {
        margin-bottom: 30px
    }

    .swisspan__top-link {
        display: block;
        margin-bottom: 50px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease
    }

    .swisspan__top-link:hover {
        color: #8b0000;
        text-decoration: none
    }

    .swisspan__head {
        color: #555;
        font-family: GothamProMedium;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 4.8px
    }

    .swisspan__txt {
        color: #222;
        font-family: GothamProRegular;
        font-size: 16px;
        margin: 0
    }

    .swisspan__section-head-orange, .swisspan__section-head-wrap::after {
        font-family: GothamProBlack;
        text-transform: uppercase
    }

    .swisspan__aim {
        margin-bottom: 100px;
        position: relative
    }

    .swisspan__aim-head {
        margin-bottom: 40px
    }

    .swisspan__aim-triag {
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: -40px
    }

    .swisspan__section-head-wrap {
        width: 100%;
        position: relative
    }

    .swisspan__section-head-wrap_1 {
        margin-bottom: 70px;
        max-width: 281px;
        margin-top: 100px
    }

    .swisspan__section-head-wrap_3, .swisspan__section-head-wrap_4 {
        margin-bottom: 70px;
        margin-top: 90px
    }

    .swisspan__section-head-wrap_1::after {
        content: '1';
        right: -30px;
        top: -83px;
        z-index: -1
    }

    .swisspan__section-head-wrap_2 {
        margin-bottom: 70px;
        padding-top: 300px
    }

    .swisspan__section-head-wrap_2::after {
        content: '2';
        right: 131px;
        bottom: -60px
    }

    .swisspan__section-head-wrap_3::after {
        content: '3';
        right: 131px;
        bottom: -70px
    }

    .swisspan__section-head-wrap_4::after {
        content: '4';
        right: -45px;
        bottom: -60px
    }

    .swisspan__section-head-wrap::after {
        opacity: .05;
        color: #222;
        font-size: 150px;
        position: absolute
    }

    .swisspan__section-head-orange {
        color: #fe8a1e;
        font-size: 48px;
        margin: 0
    }

    .swisspan__section-head-gray {
        color: #555;
        font-family: GothamProMedium;
        font-size: 28px;
        text-transform: uppercase;
        margin: 0
    }

    .swisspan__color {
        position: relative
    }

    .swisspan__color::after {
        content: '';
        display: block;
        width: 100%;
        height: 279px;
        background: url(~@/assets/images/swiss/line-home.png) center no-repeat;
        position: absolute;
        top: -70px;
        z-index: -1
    }

    .swisspan__color-home {
        position: relative;
        z-index: 2
    }

    .swisspan__color-ex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 110px;
        margin-right: -80px
    }

    .swisspan__color-ex-txt {
        color: #555;
        font-family: GothamProBold;
        font-size: 18px;
        text-transform: uppercase
    }

    .swisspan__bold, .swisspan__typo-example_black, .swisspan__typo-head {
        font-family: GothamProBlack
    }

    .swisspan__color-ex-txt::after {
        content: '';
        display: block;
        height: 1px;
        position: relative;
        top: 10px;
        background-color: #aaa
    }

    .swisspan__responsive, .swisspan__typo-example-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox
    }

    .swisspan__color-ex-txt_orange::after {
        width: 348px
    }

    .swisspan__color-ex-txt_green::after {
        width: 251px
    }

    .swisspan__color-ex-txt_black::after {
        width: 154px
    }

    .swisspan__color-ex-border {
        width: 88px;
        height: 88px;
        border: 1px solid;
        padding: 10px
    }

    .swisspan__color-ex-border_orange {
        border-color: #fe8a1e
    }

    .swisspan__color-ex-border_green {
        border-color: #64ae80
    }

    .swisspan__color-ex-border_black {
        border-color: #555
    }

    .swisspan__color-ex-color {
        width: 67px;
        height: 67px;
        border: 1px solid
    }

    .swisspan__color-ex-color_orange {
        border-color: #fe8a1e;
        background-color: #fe8a1e
    }

    .swisspan__color-ex-color_green {
        border-color: #64ae80;
        background-color: #64ae80
    }

    .swisspan__color-ex-color_black {
        border-color: #555;
        background-color: #555
    }

    .swisspan__bold {
        opacity: .1;
        color: #222;
        font-size: 120px;
        text-transform: uppercase
    }

    .swisspan__bold_home {
        -webkit-writing-mode: rl;
        -ms-writing-mode: rl;
        writing-mode: rl;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        right: -367px;
        bottom: 340px
    }

    .swisspan__typo-cont {
        margin-top: -150px;
        margin-bottom: -250px;
        background: url(~@/assets/images/swiss/wood-bg.jpg) center/cover no-repeat
    }

    .swisspan__typo-head {
        color: #555;
        font-size: 30px;
        margin-bottom: 70px
    }

    .swisspan__typo-example {
        color: #222;
        font-size: 14px;
        margin-bottom: 80px
    }

    .swisspan__typo-example-wrap {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .swisspan__typo-example_bold {
        font-family: GothamProBold
    }

    .swisspan__typo-example_medium {
        font-family: GothamProMedium
    }

    .swisspan__typo-example_regular, .swisspan__typo-letters-txt {
        font-family: GothamProRegular
    }

    .swisspan__typo-letters-wrap {
        padding-bottom: 370px
    }

    .swisspan__typo-letters-txt {
        color: #000;
        font-size: 16px;
        letter-spacing: 1.2px;
        text-align: center
    }

    .swisspan__typo-letters-txt_upp {
        text-transform: uppercase
    }

    .swisspan__responsive {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .swisspan__responsive-phone {
        position: relative;
        right: 110px
    }

    .swisspan__responsive-bold {
        position: absolute;
        bottom: -35px;
        z-index: -1;
        right: 60px
    }

    .swisspan__responsive-txt {
        margin-top: 80px
    }

    .swisspan__func-inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 10px;
        margin-top: 80px;
        padding-left: 20px;
        position: relative
    }

    .swisspan__func-inner::after, .swisspan__func-list-item::before, .swisspan__func-wrap::after {
        content: '';
        display: block
    }

    .swisspan__func-inner::after {
        height: 1px;
        width: 327px;
        background-color: #f2f2f2;
        position: absolute;
        left: 20px;
        bottom: 0
    }

    .swisspan__func-wrap {
        position: relative
    }

    .swisspan__func-wrap::after {
        width: 164px;
        height: 350px;
        background: url(~@/assets/images/swiss/func-frag.png) center/contain no-repeat;
        position: absolute;
        right: 0;
        top: 0
    }

    .swisspan__func-img {
        margin-right: 15px
    }

    .swisspan__func-list {
        padding: 0;
        list-style: none;
        margin-top: 75px
    }

    .swisspan__func-list-item {
        padding-left: 30px;
        position: relative;
        margin-bottom: 55px
    }

    .swisspan__func-list-item::before {
        width: 9px;
        height: 9px;
        background-color: #64ae80;
        position: absolute;
        left: 10px;
        top: 7px
    }

    .swisspan__other {
        background: url(~@/assets/images/swiss/bottom-bg.png) top center/contain no-repeat
    }

    .swisspan__other img {
        margin-bottom: 30px
    }

    .swisspan__other-left {
        margin-top: 145px
    }

    .swisspan__other-right {
        margin-top: 90px
    }

    .swisspan__other-bottom {
        width: 100%;
        max-width: 652px;
        margin-top: -140px
    }

    .swisspan__other-bold {
        margin: 0
    }

    @media screen and (max-width: 1200px) {
        .swisspan__func-inner::after {
            display: none
        }

        .swisspan__color-ex {
            margin-bottom: 30px
        }

        .swisspan__section-head-orange {
            font-size: 30px
        }

        .swisspan__section-head-gray {
            font-size: 18px
        }

        .swisspan__color-ex-txt_black::after, .swisspan__color-ex-txt_green::after, .swisspan__color-ex-txt_orange::after {
            width: 100px
        }

        .swisspan__section-head-wrap_2::after, .swisspan__section-head-wrap_3::after {
            right: 50%;
            margin-right: -40px
        }

        .swisspan__other-bottom {
            margin-top: 0;
            max-width: none
        }

        .swisspan__other-wrap {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: column-reverse;
            -moz-box-orient: vertical;
            -moz-box-direction: reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .swisspan__other-left {
            margin-top: 0
        }
    }

    .text-right {
        text-align: right
    }

    .text-left {
        text-align: left
    }

    .text-center {
        text-align: center
    }

    @media screen and (max-width: 992px) {
        .swisspan__responsive {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .swisspan__responsive-phone {
            position: static
        }
    }

    @media screen and (max-width: 767px) {
        .swisspan__color-ex {
            margin-right: 0;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }

        .swisspan__bold_home, .swisspan__responsive-bold {
            display: none
        }

        .swisspan__bold {
            font-size: 70px
        }

        .swisspan__top {
            padding: 30px 15px
        }

        .swisspan__aim, .swisspan__top-link, .swisspan__typo-example, .swisspan__typo-head {
            margin-bottom: 30px
        }

        .swisspan__typo-letters-wrap {
            padding-bottom: 270px
        }

        .swisspan__aim-head {
            margin-bottom: 20px
        }

        .swisspan__section-head-wrap_2 {
            padding-top: 230px
        }

        .swisspan__func-inner, .swisspan__other-right, .swisspan__responsive-txt {
            margin-top: 30px
        }
    }

    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
    }

    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }

    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }
</style>