<template>
    <u-animate-container
            :config="config">
        <main class="tako">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта для Tako - заказ суши и пиццы онлайн"
                description="Разработка сайта для Tako - заказ и доставка суши и пиццы онлайн в Одессе. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="banner">
            <div class="container">
                <div class="banner__inner">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="banner__logo"

                    >
                        <img src="~@/assets/images/tako/logo.png" alt="">
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="banner__mock"

                    >
                        <img class="img-responsive" src="~@/assets/images/tako/banner-mock.png" alt="">
                    </u-animate>

                    <h1 class="main_page_title">Разработка сайта доставки суши и пиццы</h1>
                    <div>
                        <div class="btn-wrap" style="margin-bottom: 50px">
                            <a rel="nofollow" href="http://takosushi.com.ua/">
                                Посмотреть сайт
                            </a>
                        </div>
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                el="h3"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="banner__delivery"
                        >
                            Доставка суши и пиццы
                        </u-animate>
                        <h3 class="banner__od wow bounceInRight">Одесса</h3>
                    </div>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__number-wrap banner__section__number-wrap"
                    >
                        <span class="section__number">01</span>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="functional">
            <div class="container">
                <u-animate
                        name="bounceInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="section__name-wrap section__name-wrap_right"
                >
                    <h3 class="section__name-txt">Функционал</h3>
                </u-animate>
                <div class="functional__inner">
                    <div class="functional__list">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__number-wrap"
                        >
                            <span class="section__number section__number_black">02</span>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="functional__list-item"
                        >
                            <p class="functional__list-txt">cms <span class="functional__list-txt_bold">OPENCART</span></p>
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="functional__list-txt">Framework <span class="functional__list-txt_bold">Bootstrap 3</span></p>
                        </u-animate>
                    </div>
                    <div class="functional__descr">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img class="img-responsive" src="~@/assets/images/tako/sushka.png" alt="">
                        </u-animate>
                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="functional__descr-txt-wrap"
                        >
                            <p class="functional__descr-txt">Реализована карта доставки  с помощью Google API</p>
                            <p class="functional__descr-txt">Осуществлена система импорта с 1С</p>
                            <p class="functional__descr-txt">Разработана система добавления и удаления ингредиентов</p>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="color">
            <div class="container">
                <div class="color__inner">
                    <div class="color__head">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__name-wrap section__name-wrap_2words"
                        >
                            <h3 class="section__name-txt">Цветовое <span class="section__name-txt_thin">решение</span></h3>
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__number-wrap color__section__number-wrap"
                        >
                            <span class="section__number section__number_horizontal section__number_black">03</span>
                        </u-animate>
                    </div>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="color__ex-wrap"
                    >
                        <div>
                            <img class="img-responsive" src="~@/assets/images/tako/colors-ex-1.png" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="~@/assets/images/tako/colors-ex-2.png" alt="">
                        </div>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="fonts">
            <div class="container">
                <div class="fonts__inner">
                    <div class="color__head">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__number-wrap color__section__number-wrap"
                        >
                            <span class="section__number section__number_horizontal section__number_horizontal_right section__number_black">04</span>
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__name-wrap section__name-wrap_2words fonts__section__name-wrap"
                        >
                            <h3 class="section__name-txt">Шрифтовое <span class="section__name-txt_thin">решение</span></h3>
                        </u-animate>
                    </div>
                    <div class="fonts__ex-wrap">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="fonts__ex"
                        >
                            <div>
                                <p class="fonts__geo-big">Geometria</p>
                            </div>
                            <ul class="fonts__geo-wrap">
                                <li class="fonts__geo fonts__geo_heavy">Heavy</li>
                                <li class="fonts__geo fonts__geo_bold">Bold</li>
                                <li class="fonts__geo fonts__geo_med">Medium</li>
                                <li class="fonts__geo fonts__geo_reg">Regular</li>
                            </ul>
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="fonts__ex"
                        >
                            <div>
                                <p class="fonts__troika-big">Troika</p>
                            </div>
                            <ul class="fonts__geo-wrap fonts__troika-wrap">
                                <li class="fonts__troika">Regular</li>
                            </ul>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="main">
            <div class="main__frag main__frag-1">
                <img src="~@/assets/images/tako/main-top-shad.png" alt="">
            </div>
            <div class="main__frag main__frag-2">
                <img src="~@/assets/images/tako/main-top-pizza.png" alt="">
            </div>
            <div class="container">
                <div class="main__inner">
                    <div class="color__head main__head">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__name-wrap section__name-wrap_2words"
                        >
                            <h3 class="section__name-txt section__name-txt_red">Главная <span class="section__name-txt_thin section__name-txt_white">Страница</span></h3>
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__number-wrap color__section__number-wrap"
                        >
                            <span class="section__number section__number_horizontal">05</span>
                        </u-animate>
                    </div>
                    <div class="row main__content">
                        <div class="col-md-4">
                            <u-animate
                                    name="bounceInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    el="p"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="main__txt"
                            >
                                Целью проекта было создание красивого и функционального сайта для привлечения клиентов. Сайт должен быть как максимально удобным для заказа еды, так и вызывать у пользователя желание посетить данное заведение лично.
                            </u-animate>
                        </div>
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="main__phone"
                        >
                            <img src="~@/assets/images/tako/main-phone.png" alt="" class="img-responsive">
                        </u-animate>

                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-8 main__full-wrap"
                        >
                            <img src="~@/assets/images/tako/main-full.jpg" alt="" class="img-responsive">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="icons">
            <div class="container">

                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        el="h3"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="icons__head"
                >
                    Иконки категорий
                </u-animate>

                <div class="icons__inner">
                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__item"
                    >
                        <div class="icons__pic-wrap">
                            <img class="icons__pic" src="~@/assets/images/tako/icon-1.png" alt="">
                        </div>
                        <p class="icons__txt">Суши</p>
                    </u-animate>

                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__item"
                    >
                        <div class="icons__pic-wrap">
                            <img class="icons__pic" src="~@/assets/images/tako/icon-2.png" alt="">
                        </div>
                        <p class="icons__txt">Супы</p>
                    </u-animate>

                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__item"
                    >
                        <div class="icons__pic-wrap">
                            <img class="icons__pic" src="~@/assets/images/tako/icon-3.png" alt="">
                        </div>
                        <p class="icons__txt">Салаты</p>
                    </u-animate>

                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__item"
                    >
                        <div class="icons__pic-wrap">
                            <img class="icons__pic" src="~@/assets/images/tako/icon-4.png" alt="">
                        </div>
                        <p class="icons__txt">Wok</p>
                    </u-animate>

                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__item"
                    >
                        <div class="icons__pic-wrap">
                            <img class="icons__pic" src="~@/assets/images/tako/icon-5.png" alt="">
                        </div>
                        <p class="icons__txt">Пицца</p>
                    </u-animate>

                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__item"
                    >
                        <div class="icons__pic-wrap">
                            <img class="icons__pic" src="~@/assets/images/tako/icon-6.png" alt="">
                        </div>
                        <p class="icons__txt">Напитки</p>
                    </u-animate>

                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__item"
                    >
                        <div class="icons__pic-wrap">
                            <img class="icons__pic" src="~@/assets/images/tako/icon-7.png" alt="">
                        </div>
                        <p class="icons__txt">Добавки</p>
                    </u-animate>
                </div>
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        el="h3"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="icons__head icons__cats-txt"
                >
                    Иконки преимуществ
                </u-animate>
                <div class="icons__inner icons__cats">
                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__cats-item"
                    >
                        <img class="icons__pic" src="~@/assets/images/tako/advant-1.png" alt="">
                    </u-animate>

                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__cats-item"
                    >
                        <img class="icons__pic" src="~@/assets/images/tako/advant-2.png" alt="">
                    </u-animate>

                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__cats-item"
                    >
                        <img class="icons__pic" src="~@/assets/images/tako/advant-3.png" alt="">
                    </u-animate>

                    <u-animate
                            name="flipInY"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__cats-item"
                    >
                        <img class="icons__pic" src="~@/assets/images/tako/advant-4.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="catalog">
            <div class="container">
                <div class="catalog__inner">
                    <div class="color__head catalog__head">
                        <u-animate
                                name="bounceInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__number-wrap color__section__number-wrap"
                        >
                            <span class="section__number section__number_horizontal section__number_horizontal_right section__number_black">06</span>
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__name-wrap section__name-wrap_2words catalog__section__name-wrap"
                        >
                            <h3 class="section__name-txt"><span class="section__name-txt_thin">Страница</span> Каталог</h3>
                        </u-animate>
                    </div>
                    <div class="row">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-6"
                        >
                            <img src="~@/assets/images/tako/catalog-full.jpg" alt="" class="img-responsive">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="product">
            <div class="container">
                <div class="product__inner">
                    <div class="product__head">

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__number-wrap product__section__number-wrap"
                        >
                            <span class="section__number section__number_black">07</span>
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__name-wrap section__name-wrap_2words product__section__name-wrap"
                        >
                            <h3 class="section__name-txt"><span class="section__name-txt_thin">Страница</span> товара</h3>
                        </u-animate>
                    </div>
                    <div class="row">
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-10 col-md-offset-2"
                        >
                            <img src="~@/assets/images/tako/product-full.png" alt="" class="img-responsive">
                        </u-animate>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <u-animate
                                    name="bounceInLeft"
                                    delay="0s"
                                    duration="1s"
                                    el="p"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="text-right product__txt"
                            >
                                Реализована система добавления и удаления ингредиентов с заказа, что позволит подбирать индивидуальные вкусовые решения
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="adaptive">
            <div class="container">
                <div class="adaptive__inner">
                    <div class="product__head adaptive__head">
                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__number-wrap product__section__number-wrap"
                        >
                            <span class="section__number">07</span>
                        </u-animate>

                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__name-wrap"
                        >
                            <h3 class="section__name-txt section__name-txt_red text-right">АДАПТИВ</h3>
                        </u-animate>
                    </div>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="adaptive__mock"
                    >
                        <img src="~@/assets/images/tako/bottom-mock.png" alt="">
                        <p class="text-right product__txt adaptive__txt">
                            Сайт был полностью адпатирован под все<br>устройства и отлично работает во всех<br>браузерах
                        </p>
                    </u-animate>
                </div>
            </div>
            <div class="adaptive__bottom">
                <div class="port-link-wrap" style="top: 70px;">
                    <a class="port-link" href="http://takosushi.com.ua/" rel="nofollow" target="_blank">Посмотреть сайт</a>
                </div>
                <img src="~@/assets/images/tako/bottom-bg.png" alt="" class="img-responsive">
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    .banner, .relative {
        position: relative
    }

    .banner::after, .banner::before, .banner__logo::after, .banner__mock::after {
        display: block;
        content: ''
    }

    .banner__delivery, .banner__od, .functional__list-txt, .section__name-txt, .section__number {
        line-height: 60px;
        text-transform: uppercase
    }

    .banner__delivery, .banner__od, .fonts__geo-big, .fonts__troika-big, .functional__list-txt, .section__name-txt, .section__number {
        text-transform: uppercase
    }

    .banner::after, .banner::before, .functional__list-item::after, .main::before, .section__number::after {
        content: ''
    }

    @font-face {
        font-family: "Geometria - Heavy";
        src: url(~@/assets/fonts/baybay/Geometria-Heavy.eot);
        src: url(~@/assets/fonts/baybay/Geometria-Heavy.eot) format("embedded-opentype"), url(~@/assets/fonts/baybay/Geometria-Heavy.woff) format("woff"), url(~@/assets/fonts/baybay/Geometria-Heavy.ttf) format("truetype")
    }

    @font-face {
        font-family: Geometria;
        src: url(~@/assets/fonts/baybay/Geometria-Bold.eot);
        src: url(~@/assets/fonts/baybay/Geometria-Bold.eot) format("embedded-opentype"), url(~@/assets/fonts/baybay/Geometria-Bold.woff) format("woff"), url(~@/assets/fonts/baybay/Geometria-Bold.ttf) format("truetype");
        font-weight: 700
    }

    @font-face {
        font-family: Geometria;
        src: url(~@/assets/fonts/baybay/Geometria-Medium.eot);
        src: url(~@/assets/fonts/baybay/Geometria-Medium.eot) format("embedded-opentype"), url(~@/assets/fonts/baybay/Geometria-Medium.woff) format("woff"), url(~@/assets/fonts/baybay/Geometria-Medium.ttf) format("truetype");
        font-weight: 500
    }

    @font-face {
        font-family: Geometria;
        src: url(~@/assets/fonts/baybay/Geometria-Regular.eot);
        src: url(~@/assets/fonts/baybay/Geometria-Regular.eot) format("embedded-opentype"), url(~@/assets/fonts/baybay/Geometria-Regular.woff) format("woff"), url(~@/assets/fonts/baybay/Geometria-Regular.ttf) format("truetype");
        font-weight: 400
    }

    @font-face {
        font-family: "Geometria - Thin";
        src: url(~@/assets/fonts/baybay/Geometria-Thin.eot);
        src: url(~@/assets/fonts/baybay/Geometria-Thin.eot) format("embedded-opentype"), url(~@/assets/fonts/baybay/Geometria-Thin.woff) format("woff"), url(~@/assets/fonts/baybay/Geometria-Thin.ttf) format("truetype")
    }

    @font-face {
        font-family: Troika;
        src: url(~@/assets/fonts/tako/Troika.eot);
        src: url(~@/assets/fonts/tako/Troika.eot) format("embedded-opentype"), url(~@/assets/fonts/tako/Troika.woff) format("woff"), url(~@/assets/fonts/tako/Troika.ttf) format("truetype")
    }

    body, html {
        overflow-x: hidden
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0
    }

    .text-right {
        text-align: right
    }

    .text-left {
        text-align: left
    }

    .banner, .text-center {
        text-align: center
    }

    .tako {
        margin: 0 auto;
        max-width: 1920px
    }

    .banner {
        background-color: #0a0a0a;
        padding-top: 40px;
        margin-bottom: 460px
    }

    .banner::after, .banner::before {
        position: absolute
    }

    .banner::after {
        border-style: solid;
        border-width: 0 1915px 460px 0;
        border-color: transparent #0a0a0a transparent transparent;
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
        left: 0;
        bottom: -460px
    }

    .banner::before {
        background: url(~@/assets/images/tako/banner-top-left.png) center/contain no-repeat;
        width: 623px;
        height: 650px;
        left: 0;
        top: 0
    }

    .banner .container {
        position: relative
    }

    .banner__section__number-wrap {
        position: absolute;
        right: 20px;
        top: 463px
    }

    .banner__delivery {
        color: #fff;
        font-family: Geometria;
        font-size: 38px;
        font-weight: 700;
        letter-spacing: .76px
    }

    .banner__od {
        color: #ff596e;
        font-family: Troika;
        font-size: 90px;
        font-weight: 400;
        letter-spacing: 1.8px
    }

    .banner__logo, .banner__mock {
        margin-bottom: 130px;
        position: relative
    }

    .banner__logo::after, .banner__mock::after {
        width: 4px;
        height: 72px;
        background: url(~@/assets/images/tako/banner-dots.png) center/contain no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 200px
    }

    .banner__mock img {
        margin: auto
    }

    .banner__mock::after {
        top: 500px
    }

    .section__number {
        color: #fff;
        font-family: "Geometria - Thin";
        font-size: 98px;
        font-weight: 400;
        letter-spacing: 1.96px;
        position: relative;
        display: inline-block
    }

    .section__number::after {
        display: block;
        width: 1px;
        height: 62px;
        background-color: #fff;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        margin: 25px auto 0
    }

    .section__number_black {
        color: #222
    }

    .section__number_black::after {
        background-color: #222
    }

    .section__number_horizontal::after {
        width: 62px;
        height: 1px;
        margin: 0;
        top: 50%;
        left: -95px
    }

    .section__number_horizontal_right::after {
        left: 155px
    }

    .section__name-wrap_right {
        text-align: right
    }

    .section__name-wrap_2words {
        width: 100%;
        max-width: 500px
    }

    .section__name-txt {
        color: #0a0a0a;
        font-family: Troika;
        font-size: 90px;
        font-weight: 400;
        letter-spacing: 1.8px
    }

    .section__name-txt_white {
        color: #fff
    }

    .section__name-txt_red {
        color: #ff596e
    }

    .fonts__geo, .fonts__geo-big, .functional__descr-txt, .functional__list-txt {
        color: #222;
        font-family: Geometria
    }

    .section__name-txt_thin {
        display: block;
        font-family: Geometria;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: right
    }

    .functional {
        margin-top: -80px
    }

    .functional__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .functional__list-item {
        position: relative
    }

    .functional__list-item::after {
        display: block;
        width: 1px;
        height: 126px;
        background-color: #e6e6e6;
        position: absolute;
        right: -120px;
        top: -30px
    }

    .color__head, .functional__descr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }

    .functional__list-txt {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .32px
    }

    .functional__list-txt_bold {
        font-size: 28px;
        letter-spacing: .56px;
        font-weight: 700
    }

    .functional__inner {
        margin-top: 95px
    }

    .functional__descr {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 150px
    }

    .functional__descr-txt {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: .32px;
        margin-bottom: 40px
    }

    .fonts__geo-big, .fonts__geo_bold {
        font-weight: 700
    }

    .functional__descr-txt-wrap {
        max-width: 301px;
        padding-top: 50px
    }

    .color {
        margin-top: 150px
    }

    .color__head {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .color__ex-wrap, .fonts__ex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }

    .color__ex-wrap {
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 120px
    }

    .fonts {
        margin-top: 300px
    }

    .fonts__section__name-wrap {
        max-width: 571px
    }

    .fonts__geo-big {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: .96px
    }

    .fonts__geo, .fonts__troika {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.35px
    }

    .fonts__geo {
        margin-bottom: 35px
    }

    .fonts__geo-wrap {
        padding-left: 38px;
        padding-top: 21px;
        margin-left: 52px;
        border-left: 2px dotted #222;
        margin-top: 30px;
        list-style: none
    }

    .fonts__geo_heavy {
        font-family: "Geometria - Heavy"
    }

    .fonts__troika, .fonts__troika-big {
        color: #222;
        font-family: Troika
    }

    .fonts__geo_med {
        font-weight: 500
    }

    .fonts__geo_reg, .main__txt {
        font-weight: 400
    }

    .fonts__ex {
        display: flex
    }

    .fonts__ex-wrap, .icons__pic-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }

    .fonts__ex-wrap {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 175px;
        max-width: 1045px;
        width: 100%
    }

    .fonts__troika-wrap {
        padding-bottom: 70px
    }

    .fonts__troika-big {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: .96px
    }

    .main {
        position: relative;
        margin-top: 510px
    }

    .main::before, .main__frag, .main__phone {
        position: absolute
    }

    .main::before {
        display: block;
        width: 100%;
        height: 1400px;
        background: #0a0a0a;
        left: 0;
        right: 0;
        top: -170px;
        z-index: -1;
        -webkit-transform: skew(-10deg) rotate(-10deg);
        -ms-transform: skew(-10deg) rotate(-10deg);
        transform: skew(-10deg) rotate(-10deg)
    }

    .main__frag-1 {
        top: -640px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        z-index: -1
    }

    .main__frag-2 {
        top: -600px;
        right: 160px
    }

    .main__head {
        margin-top: 60px
    }

    .main__phone {
        z-index: 1;
        top: 620px;
        left: 225px
    }

    .main__txt {
        color: #fff;
        font-family: Geometria;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .28px;
        margin-top: 190px;
        position: relative
    }

    .icons__head, .icons__txt {
        font-weight: 700;
        text-align: center
    }

    .main__content::after, .main__txt::before {
        content: '';
        display: block;
        position: absolute
    }

    .main__txt::before {
        width: 2px;
        height: 110px;
        top: -145px;
        left: 50%;
        background: url(~@/assets/images/tako/main-frag-top.png) center/contain no-repeat
    }

    .main__full-wrap {
        margin-top: 65px
    }

    .main__content::after {
        width: 477px;
        height: 407px;
        background: url(~@/assets/images/tako/main-frag.png) center/contain no-repeat;
        bottom: 180px;
        left: 360px
    }

    .icons {
        margin-top: 60px
    }

    .icons__txt {
        color: #272727;
        font-family: Geometria;
        font-size: 16px;
        letter-spacing: .32px;
        margin-top: 15px
    }

    .icons__head, .product__txt {
        color: #222;
        font-family: Geometria
    }

    .icons__pic-wrap {
        min-height: 81px;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .icons__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .icons__head {
        font-size: 28px;
        line-height: 60px;
        letter-spacing: .56px;
        margin-bottom: 45px
    }

    .icons__cats {
        width: 100%;
        max-width: 962px;
        margin: 0 auto
    }

    .icons__cats-txt {
        margin-top: 125px
    }

    .catalog {
        margin-top: 150px
    }

    .catalog__head {
        width: 100%;
        max-width: 753px;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: 100px
    }

    .catalog__section__name-wrap {
        max-width: 461px
    }

    .product__inner {
        margin-top: -1042px
    }

    .product .section__name-txt_thin {
        text-align: left
    }

    .product .section__name-txt {
        text-align: right
    }

    .product__section__number-wrap {
        text-align: right;
        margin-bottom: 130px
    }

    .product__section__name-wrap {
        max-width: 458px;
        margin-left: auto;
        margin-bottom: 105px
    }

    .product__txt {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: .36px;
        margin-top: -70px
    }

    .adaptive {
        background-color: #0a0a0a;
        margin-top: 500px;
        position: relative
    }

    .adaptive::after, .adaptive::before {
        position: absolute;
        z-index: -1;
        content: '';
        display: block
    }

    .adaptive__inner {
        margin-top: -310px
    }

    .adaptive::before {
        border-style: solid;
        border-width: 460px 1920px 0 0;
        border-color: transparent #0a0a0a transparent transparent;
        top: -460px;
        left: 0
    }

    .adaptive::after {
        width: 1623px;
        height: 807px;
        background: url(~@/assets/images/tako/adaptive-frag-top.png) center/contain no-repeat;
        left: 230px;
        top: -480px
    }

    .adaptive__head {
        margin-bottom: 30px
    }

    .adaptive__mock {
        position: relative;
        margin-left: 80px
    }

    .adaptive__mock::before {
        content: '';
        display: block;
        background: url(~@/assets/images/tako/adaptive-frag.png) center/cover no-repeat;
        width: 655px;
        height: 554px;
        position: absolute;
        top: -350px;
        left: -50px
    }

    .adaptive__txt {
        color: #fff;
        margin-top: -120px
    }

    .adaptive__bottom {
        margin-top: 90px
    }

    .adaptive__bottom img {
        margin: auto
    }

    @media screen and (max-width: 1750px) {
        .banner::before {
            display: none
        }

        .adaptive__inner {
            margin-top: 0
        }
    }

    @media screen and (max-width: 1200px) {
        .adaptive__mock::before, .main__content::after, .main__frag-2, .main__phone {
            display: none
        }

        .adaptive__mock {
            margin-left: -50px
        }

        .functional__list-item::after {
            right: -80px
        }

        .functional__descr-txt-wrap {
            max-width: none;
            margin-left: 20px
        }

        .color__ex-wrap {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

        .color__ex-wrap > div:first-of-type {
            margin-bottom: 30px
        }
    }

    @media screen and (max-width: 992px) {
        .functional__list-item::after {
            display: none
        }

        .adaptive__txt {
            margin-top: -100px;
            max-width: 290px;
            margin-left: auto
        }

        .fonts__geo-big {
            font-size: 24px
        }

        .adaptive__mock img {
            width: 100%
        }

        .banner::after {
            bottom: -360px;
            z-index: -1
        }

        .functional__descr-txt {
            margin-bottom: 20px
        }

        .fonts__ex-wrap {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

        .main {
            margin-top: 380px
        }

        .product__inner {
            margin-top: 50px
        }
    }

    @media screen and (max-width: 767px) {
        .functional__list-txt, .functional__list-txt_bold, .product__txt {
            letter-spacing: 0
        }

        .adaptive::after, .banner__mock::after, .banner__section__number-wrap, .section__number-wrap {
            display: none
        }

        .banner__delivery, .banner__od, .functional__list-txt, .icons__head, .product__txt, .section__name-txt, .section__number {
            line-height: 100%
        }

        .icons__cats-item, .product .section__name-txt, .section__name-wrap_2words {
            text-align: center
        }

        .adaptive {
            padding-bottom: 45px;
            margin-top: 200px
        }

        .functional__descr-txt {
            font-size: 12px;
            margin-bottom: 5px
        }

        .catalog, .color, .color__ex-wrap, .fonts__ex-wrap, .icons__cats-txt {
            margin-top: 50px
        }

        .catalog__head {
            margin-bottom: 50px
        }

        .section__name-txt_thin {
            font-size: 35px
        }

        .product__section__name-wrap {
            margin-bottom: 30px
        }

        .functional__list-txt, .icons__item {
            margin-bottom: 20px
        }

        .product__txt {
            font-size: 13px;
            margin-top: 10px
        }

        .banner__delivery, .functional__list-txt_bold {
            font-size: 20px
        }

        .icons__inner {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }

        .icons__item {
            -webkit-flex-basis: 33%;
            -ms-flex-preferred-size: 33%;
            flex-basis: 33%
        }

        .fonts__geo-wrap {
            margin-left: 20px;
            padding-left: 20px
        }

        .fonts {
            margin-top: 100px
        }

        .functional__inner {
            margin-top: 45px
        }

        .functional__descr, .functional__list {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center
        }

        .functional__descr {
            margin-top: 50px
        }

        .banner__od {
            font-size: 35px
        }

        .banner__mock {
            margin-bottom: 40px
        }

        .banner::after {
            bottom: -180px
        }

        .banner {
            margin-bottom: 280px
        }

        .section__name-txt {
            font-size: 40px
        }

        .icons__cats {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }

        .icons__cats-item {
            -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
            margin-bottom: 40px
        }

        .adaptive__txt {
            margin-top: -50px;
            max-width: 200px;
            margin-left: auto
        }
    }

    @media screen and (max-width: 400px) {
        .icons__item {
            -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%
        }

        .main__frag-1 {
            display: none
        }

        .main {
            margin-top: 220px
        }

        .main__inner {
            margin-top: -120px
        }

        .icons {
            margin-top: 150px
        }
    }
    .btn-wrap{
        font-family: Geometria, sans-serif;
        font-size: 16px;
        display: block;
        max-width: 240px;
        margin: auto;
        padding: 10px;
        border: 1px solid white;
        text-align: center;
    }
    .btn-wrap a{
        color: #fff;
    }

    .port-link-wrap {
        text-align: center;
        position: relative;
    }
    .port-link {
        font-family: "Geometria - Heavy";
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 40px;
        border: 2px solid #cc3743;
        transition: all .3s ease;
    }
    .port-link:hover {
        text-decoration: none;
        color: white;
        letter-spacing: 1px;
    }
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        color: #fff;
        line-height: 1;
        font-family: 'Gotham Pro';
            padding-bottom: 20px;
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            padding-top: 70px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            padding-top: 70px;
            padding-bottom: 20px;
        }
    }
</style>