<template>
    <u-animate-container
            :config="config">
        <main class="tekstilno">
        <!--set meta data-->
        <vue-headful
                title="Разработка интернет-магазина домашнего текстиля - Tekstilno"
                description="Разработка интернет-магазина для компании Tekstilno - продажа текстиля для дома. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="banner">
            <div class="container">
                <div class="banner__inner">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="banner__txt-wrap"
                    >
                        <a rel="nofollow" href="/tekstilno.com.ua" target="_blank">
                            <img class="img-responsive" src="~@/assets/images/tekstilno/logo.png" alt="">
                        </a>
                        <h1 class="banner__txt">Разработка интернет-магазина домашнего текстиля</h1>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="functional">
            <div class="container">
                <div class="functional__inner">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__title"
                    >
                        Функционал
                        <span class="section__title-small">Functional</span>
                    </u-animate>
                    <div class="functional__description">
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="functional__description-txt">
                                <span>cms</span>
                                OPENCART
                            </p>
                            <ul class="functional__description-list">
                                <li>Онлайн оплата</li>
                                <li>Полностью адаптивен</li>
                            </ul>
                        </u-animate>

                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="functional__description-txt">
                                <span>Framework</span>
                                Bootstrap 3
                            </p>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="colors">
            <div class="container">
                <div class="colors__inner">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__title"
                    >
                        Цветовое
                        <span class="section__title-second">решение</span>
                        <span class="section__title-small">color</span>
                    </u-animate>

                    <div class="colors__examples">
                        <div class="colors__examples-big">
                            <u-animate
                                    name="fadeInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="colors__examples-big-item"
                            >
                                <div class="colors__examples-color colors__examples-color_pink"></div>
                                <span class="colors__examples-name">#cd076e</span>
                            </u-animate>

                            <u-animate
                                    name="fadeInLeft"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="colors__examples-big-item"
                            >
                                <div class="colors__examples-color colors__examples-color_blue"></div>
                                <span class="colors__examples-name">#195df4</span>
                            </u-animate>

                            <u-animate
                                    name="fadeInLeft"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="colors__examples-big-item"
                            >
                                <div class="colors__examples-color colors__examples-color_gray"></div>
                                <span class="colors__examples-name">#e7e7e7</span>
                            </u-animate>

                            <u-animate
                                    name="fadeInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <p class="colors__examples-small colors__examples-small_green">#73be52</p>
                                <p class="colors__examples-small colors__examples-small_red">#f34141</p>
                                <p class="colors__examples-small colors__examples-small_black">#565656</p>
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fonts">
            <div class="container">
                <div class="fonts__inner">
                    <u-animate
                            name="fadeInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__title"
                    >
                        шрифтовое решение
                        <span class="section__title-small">typography</span>
                    </u-animate>

                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="fonts__example"
                    >
                        <div class="fonts__example-inner fonts__example-inner_montserrat">
                            <p>Montserrat</p>
                            <ul class="fonts__example-inner_montserrat-list">
                                <li>Bold</li>
                                <li>Medium</li>
                                <li>Regular</li>
                                <li>Light italic</li>
                            </ul>
                        </div>
                        <div class="fonts__example-inner fonts__example-inner_pengvin">
                            <p>Pengvin</p>
                            <ul class="fonts__example-inner_pengvin-list">
                                <li>Bold</li>
                            </ul>
                        </div>
                    </u-animate>

                </div>
            </div>
        </section>

        <section class="index">
            <div class="container">
                <div class="index__inner">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__title"
                    >
                        Главная страница
                        <span class="section__title-small">Home page</span>
                    </u-animate>
                    <div class="row">
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-9 col-md-offset-3"
                        >
                            <img class="img-responsive img-shadow" src="~@/assets/images/tekstilno/index.jpg" alt="">
                        </u-animate>
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="index__extra-item index__extra-item_aim"
                        >
                            <h3 class="index__extra-title">ЦЕЛЬ ПРОЕКТА</h3>
                            <p class="index__extra-txt">Целью проекта было создание красивого и функционального сайта для привлечения клиентов. Сайт должен быть как максимально удобным для выбора необходимо товара - от постельного белья и полотенец, до подушек.</p>
                        </u-animate>

                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="index__extra-item index__extra-item_interaction"
                        >
                            <h3 class="index__extra-title">Взаимодействие<br>с товаром</h3>
                            <div class="index__extra-gif">
                                <img class="img-responsive img-shadow" src="~@/assets/images/tekstilno/card-hover.gif" alt="">
                            </div>
                            <p class="index__extra-txt">Была проработана анимация при взаимодействии пользователя с превью товара, что сделало сайт более живым и отзывчивым</p>
                        </u-animate>

                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="index__extra-phone"
                        >
                            <img class="img-responsive" src="~@/assets/images/tekstilno/phone-mock.png" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="icons">
            <div class="container">
                <div class="icons__inner">
                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__title"
                    >
                        Иконки
                        <span class="section__title-small">Icons</span>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="icons__img-wrap"
                    >
                        <img class="img-responsive" src="~@/assets/images/tekstilno/icons-top.png" alt="">
                        <img class="img-responsive" src="~@/assets/images/tekstilno/icons-bottom.png" alt="">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="slider">
            <div class="container">
                <div class="slider__inner">
                    <div class="slider__title-wrap">
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="section__title"
                        >
                            Слайдер
                            <span class="section__title-small">Slider</span>
                        </u-animate>
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <p class="slider__title-txt">Был разработан уникальный слайдер, который добавляет первому
                                экрану интерактивности и привлекает покупателя</p>
                        </u-animate>
                    </div>
                    <div class="slider__img-wrap">
                        <img class="img-responsive" src="~@/assets/images/tekstilno/slider.gif" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="catalog">
            <div class="container">
                <div class="catalog__inner">
                    <u-animate
                            name="fadeInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__title"
                    >
                        Страница
                        <span class="section__title-second">Каталога</span>
                        <span class="section__title-small">Other pages</span>
                    </u-animate>
                    <div class="row">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-8"
                        >
                            <img class="img-responsive img-shadow" src="~@/assets/images/tekstilno/catalog-full.jpg" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="product">
            <div class="container">
                <div class="product__inner">
                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__title"
                    >
                        Страница<br>Товара
                    </u-animate>
                    <div class="row">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-8 col-md-offset-4"
                        >
                            <img class="img-responsive img-shadow" src="~@/assets/images/tekstilno/product-full.jpg" alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="adaptive">
            <div class="container">
                <div class="adaptive__inner">
                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__title"
                    >
                        Адаптив
                        <span class="section__title-small">Responsive</span>
                    </u-animate>
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="adaptive__txt"
                    >
                        <p class="slider__title-txt">Сайт был полностью адаптирован под все устройства и отлично работает во всех браузерах</p>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="thx">
            <div class="container">
                <div class="thx__inner">
                    <u-animate
                            name="zoomIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="section__title"
                    >
                        <span class="section__title_blue">Спасибо</span><br>
                        за просмотр
                        <span class="section__title-small">Thanks for watching</span>
                    </u-animate>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-prew-site">
                            <a rel="nofollow" href="https://tekstilno.com.ua/" class="prewSite">Посмотреть сайт</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @font-face {
        font-family: 'Montserrat';
        src: url("~@/assets/fonts/bereket/Montserrat-Bold.eot");
        src: url("~@/assets/fonts/bereket/Montserrat-Bold.eot") format("embedded-opentype"),
        url("~@/assets/fonts/bereket/Montserrat-Bold.woff") format("woff"),
        url("~@/assets/fonts/bereket/Montserrat-Bold.ttf") format("truetype");
        font-weight: 700; }

    @font-face {
        font-family: 'Montserrat';
        src: url("~@/assets/fonts/bereket/Montserrat-Medium.eot");
        src: url("~@/assets/fonts/bereket/Montserrat-Medium.eot") format("embedded-opentype"),
        url("~@/assets/fonts/bereket/Montserrat-Medium.woff") format("woff"),
        url("~@/assets/fonts/bereket/Montserrat-Medium.ttf") format("truetype");
        font-weight: 500; }

    @font-face {
        font-family: 'Montserrat';
        src: url("~@/assets/fonts/bereket/Montserrat-Regular.eot");
        src: url("~@/assets/fonts/bereket/Montserrat-Regular.eot") format("embedded-opentype"),
        url("~@/assets/fonts/bereket/Montserrat-Regular.woff") format("woff"),
        url("~@/assets/fonts/bereket/Montserrat-Regular.ttf") format("truetype"); }

    @font-face {
        font-family: "Montserrat";
        src: url("~@/assets/fonts/bereket/Montserrat-Light.eot");
        src: url("~@/assets/fonts/bereket/Montserrat-Light.eot") format("embedded-opentype"),
        url("~@/assets/fonts/bereket/Montserrat-Light.woff") format("woff"),
        url("~@/assets/fonts/bereket/Montserrat-Light.ttf") format("truetype");
        font-weight: 300; }

    @font-face {
        font-family: "Pengvin Bold";
        src: url("~@/assets/fonts/pengvin/PengvinBold.eot");
        src: url("~@/assets/fonts/pengvin/PengvinBold.eot") format("embedded-opentype"),
        url("~@/assets/fonts/pengvin/PengvinBold.woff") format("woff");
        font-weight: 400;}




    body, html {
        /*overflow-x: hidden; */
        }

    * {
        /*margin: 0;*/
        /*padding: 0;*/
        line-height: 100%;
        font-size: 100%;
        }
    p{
        margin: 0;
    }

    @import "~@/assets/bootstrap/bootstrap.css";

    .text-right {
        text-align: right; }

    .text-left {
        text-align: left; }

    .text-center {
        text-align: center; }

    .tekstilno {
        margin: 0 auto;
        max-width: 1920px;
        padding-bottom: 130px;
        background: #f6f6f6; }

    .img-shadow {
        -webkit-box-shadow: 6px 6px 19px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 6px 6px 19px 2px rgba(0, 0, 0, 0.1); }

    .section__title {
        color: #222222;
        font-family: "Pengvin Bold";
        font-size: 64px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2.56px;
        position: relative; }

    .section__title::after {
        display: block;
        color: #cd076e;
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 300;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 1.44px;
        position: absolute; }

    .section__title::before {
        background-color: #b0b0b0;
        position: absolute;
        content: '';
        display: block; }

    .section__title-small {
        color: #222222;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 0.28px;
        position: absolute; }

    .section__title-second {
        display: block;
        text-align: right; }

    .banner {
        margin-bottom: 200px; }

    .banner .container {
        position: relative; }

    .banner .container::after {
        content: '';
        display: block;
        width: 1422px;
        height: 755px;
        background: url("~@/assets/images/tekstilno/banner-mock.png") no-repeat center/contain;
        position: absolute;
        right: -615px;
        top: 60px;
        z-index: 1; }

    .banner__txt {
        color: #5e5e5e;
        font-family: 'Montserrat';
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.96px;
        text-align: center;
        margin-top: 38px; }

    .banner__txt-wrap {
        width: 100%;
        max-width: 330px;
        margin-top: 193px;
        position: relative; }

    .banner__txt-wrap::after {
        content: '';
        display: block;
        width: 2px;
        height: 328px;
        background-color: #b0b0b0;
        position: absolute;
        left: 50%;
        top: 287px;
        z-index: 1; }

    .functional {
        padding-top: 300px;
        position: relative; }

    .functional::after {
        content: '';
        display: block;
        width: 1692px;
        height: 851px;
        background: url("~@/assets/images/tekstilno/functional-bg.png") no-repeat center/contain;
        position: absolute;
        top: 0;
        left: 0; }

    .functional .section__title {
        width: 100%;
        max-width: 1007px; }

    .functional .section__title::before {
        width: 328px;
        height: 2px;
        right: 0;
        top: 50%; }

    .functional .section__title-small {
        right: 0;
        bottom: 0; }

    .functional .section__title::after {
        content: '01.';
        left: 0;
        bottom: 110%; }

    .functional__inner {
        position: relative;
        z-index: 2; }

    .functional__description {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 100%;
        max-width: 695px;
        margin-top: 84px; }

    .functional__description-txt {
        color: #565656;
        font-family: 'Montserrat';
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.56px; }

    .functional__description-txt span {
        color: #565656;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        display: block; }

    .functional__description-list {
        list-style: none; }

    .functional__description-list li {
        position: relative;
        padding-left: 25px;
        color: #565656;
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.72px; }

    .functional__description-list li::before {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        background-color: #cd076e;
        position: absolute;
        left: 0;
        top: 8px;
        -webkit-border-radius: 50%;
        border-radius: 50%; }

    .colors {
        margin-top: 430px; }

    .colors .section__title {
        max-width: 500px;
        margin-left: auto;
        margin-right: 250px; }

    .colors .section__title::after {
        content: '02.';
        left: 0;
        bottom: 110%; }

    .colors .section__title::before {
        width: 328px;
        height: 2px;
        background-color: #b0b0b0;
        left: -390px;
        top: 20%; }

    .colors .section__title-small {
        left: -390px;
        bottom: 70px; }

    .colors__examples-color {
        width: 99px;
        height: 99px;
        -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.21);
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.21);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        margin-top: 20px; }

    .colors__examples-color::after {
        content: '';
        display: block;
        width: 140px;
        height: 140px;
        -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.21);
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.21);
        border: 1px solid #b0b0b0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: -20px;
        top: -20px; }

    .colors__examples-color_pink {
        background-color: #cd076e; }

    .colors__examples-color_blue {
        background-color: #195df4; }

    .colors__examples-color_gray {
        background-color: #e7e7e7; }

    .colors__examples-name {
        color: #222222;
        font-family: 'Montserrat';
        font-size: 22px;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: 0.88px;
        margin-top: 64px;
        display: block; }

    .colors__examples-big {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 80px;
        margin-top: 147px; }

    .colors__examples-big-item {
        position: relative;
        padding: 0 20px; }

    .colors__examples-big-item:not(:nth-of-type(3))::after {
        content: '';
        display: block;
        width: 61px;
        height: 2px;
        border: 1px solid #b0b0b0;
        position: absolute;
        top: 70px;
        right: -110px; }

    .colors__examples-small {
        padding-left: 85px;
        position: relative;
        color: #222222;
        font-family: 'Montserrat';
        font-size: 22px;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: 0.88px;
        margin-bottom: 45px; }

    .colors__examples-small_green::before {
        background-color: #73be52; }

    .colors__examples-small_red::before {
        background-color: #f34141; }

    .colors__examples-small_black::before {
        background-color: #565656; }

    .colors__examples-small:last-of-type {
        margin: 0; }

    .colors__examples-small::before {
        content: '';
        width: 48px;
        height: 48px;
        -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.21);
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.21);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -2px; }

    .fonts {
        position: relative;
        padding-top: 110px;
        margin-top: 75px; }

    .fonts::after {
        content: '';
        display: block;
        background: url("~@/assets/images/tekstilno/fonts-bg.png") no-repeat center/contain;
        width: 1465px;
        height: 620px;
        position: absolute;
        right: 0;
        top: 0; }

    .fonts .section__title {
        text-align: right;
        padding-top: 30px;
        padding-bottom: 65px;
        width: 100%;
        max-width: 540px;
        padding-right: 90px;
        margin-right: 80px;
        border-right: 2px solid #b0b0b0; }

    .fonts .section__title::after {
        content: '03.';
        top: -20px;
        left: 0; }

    .fonts .section__title-small {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        right: 0;
        top: 120px; }

    .fonts__inner {
        position: relative;
        z-index: 2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }

    .fonts__example {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end; }

    .fonts__example-inner p {
        margin-bottom: 35px; }

    .fonts__example-inner_montserrat {
        font-family: 'Montserrat'; }

    .fonts__example-inner_montserrat p {
        color: #565656;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.44px; }

    .fonts__example-inner_montserrat-list {
        list-style: none; }

    .fonts__example-inner_montserrat-list li {
        padding: 10px 0; }

    .fonts__example-inner_montserrat-list li:nth-of-type(1) {
        font-weight: 700; }

    .fonts__example-inner_montserrat-list li:nth-of-type(2) {
        font-weight: 500; }

    .fonts__example-inner_montserrat-list li:nth-of-type(3) {
        font-weight: 400; }

    .fonts__example-inner_montserrat-list li:nth-of-type(4) {
        font-weight: 300;
        font-style: italic; }

    .fonts__example-inner_pengvin {
        margin-left: -20px;
        font-family: 'Montserrat'; }

    .fonts__example-inner_pengvin p {
        color: #565656;
        font-family: "Pengvin Bold";
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.44px; }

    .fonts__example-inner_pengvin-list {
        list-style: none; }

    .fonts__example-inner_pengvin-list li {
        padding: 10px 0;
        color: #565656;
        font-family: "Pengvin Bold";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.72px; }

    .index {
        margin-top: 350px;
        position: relative; }

    .index::after {
        content: '';
        display: block;
        width: 1530px;
        height: 1074px;
        position: absolute;
        left: 0;
        top: 660px;
        background: url("~@/assets/images/tekstilno/index-bg.png") no-repeat center/contain; }

    .index__inner {
        position: relative;
        z-index: 2; }

    .index .row {
        margin-top: 90px;
        position: relative; }

    .index .section__title {
        text-align: right; }

    .index .section__title::after {
        content: '04.';
        left: 50%;
        top: -50px;
        margin-left: -124px; }

    .index .section__title::before {
        content: '';
        display: block;
        width: 328px;
        height: 2px;
        background-color: #b0b0b0;
        position: absolute;
        top: 30px;
        left: 0; }

    .index .section__title-small {
        left: 0;
        bottom: 0; }

    .index__extra-item {
        width: 100%;
        max-width: 290px;
        position: absolute;
        left: 10px; }

    .index__extra-item_aim {
        top: 100px; }

    .index__extra-item_interaction {
        top: 600px; }

    .index__extra-title {
        color: #565656;
        font-family: 'Montserrat';
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        padding-bottom: 23px;
        margin-bottom: 30px;
        position: relative; }

    .index__extra-title::after {
        content: '';
        display: block;
        width: 192px;
        height: 1px;
        background: #565656;
        position: absolute;
        bottom: 0;
        left: 97px; }

    .index__extra-gif {
        margin-bottom: 40px;
        position: relative; }

    .index__extra-gif::after {
        content: 'Hover effect';
        display: block;
        position: absolute;
        left: -30px;
        top: 36%;
        text-transform: uppercase;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        color: #222222;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.56px; }

    .index__extra-gif img {
        width: 100%; }

    .index__extra-txt {
        color: #565656;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.28px; }

    .index__extra-phone {
        position: absolute;
        left: -50px;
        bottom: -250px; }

    .icons {
        margin-top: 120px;
        position: relative; }

    .icons::after {
        content: '';
        display: block;
        width: 1542px;
        height: 1067px;
        background: url("~@/assets/images/tekstilno/icons-bg.png") no-repeat center/contain;
        position: absolute;
        right: 0;
        top: -500px;
        z-index: 1; }

    .icons__inner {
        position: relative;
        z-index: 2; }

    .icons .section__title {
        width: 100%;
        max-width: 555px;
        margin-left: auto; }

    .icons .section__title-small {
        right: 0;
        bottom: 0; }

    .icons .section__title::before {
        content: '';
        display: block;
        width: 228px;
        height: 2px;
        background: #b0b0b0;
        right: 0;
        top: 50%; }

    .icons .section__title::after {
        content: '05.';
        left: 0;
        top: -50px; }

    .icons__img-wrap {
        padding-top: 100px;
        padding-right: 110px; }

    .icons__img-wrap img {
        margin-left: auto;
        margin-bottom: 50px; }

    .slider {
        margin-top: 250px;
        position: relative; }

    .slider::after {
        content: '';
        display: block;
        background: url("~@/assets/images/tekstilno/slider-bg.png") no-repeat center/contain;
        width: 1920px;
        height: 649px;
        position: absolute;
        left: 0;
        top: -216px; }

    .slider__inner {
        position: relative;
        z-index: 2; }

    .slider .section__title {
        padding-left: 310px;
        margin-right: 85px; }

    .slider .section__title-small {
        left: 0;
        bottom: 0; }

    .slider .section__title::after {
        content: '06.';
        left: 50%;
        top: -50px; }

    .slider .section__title::before {
        content: '';
        display: block;
        width: 228px;
        height: 2px;
        background-color: #b0b0b0;
        position: absolute;
        left: 0;
        top: 50%; }

    .slider__title-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }

    .slider__title-txt {
        color: #565656;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.28px;
        padding-left: 73px;
        position: relative; }

    .slider__title-txt::before {
        content: '';
        display: block;
        width: 2px;
        height: 143px;
        background: #b0b0b0;
        position: absolute;
        top: 0;
        left: 0; }

    .slider__img-wrap img {
        margin: 78px auto 0; }

    .catalog {
        margin-top: 210px; }

    .catalog .section__title {
        width: 100%;
        max-width: 492px; }

    .catalog .section__title-small {
        right: -480px;
        bottom: 0; }

    .catalog .section__title::after {
        content: '07.';
        left: 0;
        top: -50px; }

    .catalog .section__title::before {
        content: '';
        display: block;
        width: 423px;
        height: 2px;
        background: #b0b0b0;
        position: absolute;
        right: -480px;
        bottom: 35px; }

    .catalog__inner {
        position: relative;
        z-index: 1; }

    .catalog__inner::before {
        content: '';
        display: block;
        width: 50px;
        height: 46px;
        background: url("~@/assets/images/tekstilno/tekstilno-frag.png") no-repeat center/contain;
        position: absolute;
        right: 180px;
        top: 240px; }

    .catalog .row {
        margin-top: 87px; }

    .product {
        margin-top: -1600px; }

    .product__inner {
        position: relative;
        z-index: 2; }

    .product .section__title {
        width: 100%;
        max-width: 320px;
        margin-left: auto;
        text-align: right;
        font-size: 56px; }

    .product .section__title::after {
        content: '08.';
        left: 0;
        top: -50px; }

    .product .row {
        margin-top: 65px; }

    .adaptive {
        margin-top: 730px;
        position: relative; }

    .adaptive::after {
        content: '';
        display: block;
        width: 1433px;
        height: 1173px;
        background: url("~@/assets/images/tekstilno/adaptive-bg.png") no-repeat center/contain;
        position: absolute;
        right: 0;
        top: -800px; }

    .adaptive__inner {
        position: relative;
        z-index: 2; }

    .adaptive .container {
        position: relative; }

    .adaptive .container::after {
        content: '';
        display: block;
        width: 1214px;
        height: 873px;
        background: url("~@/assets/images/tekstilno/adaptive-mock.png") no-repeat center/contain;
        position: absolute;
        right: 0;
        top: -650px;
        z-index: 2; }

    .adaptive .section__title {
        text-align: left;
        margin-left: auto;
        width: 100%;
        max-width: 365px; }

    .adaptive .section__title-small {
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        top: -200px;
        right: 154px;
        border-left: 2px solid #b0b0b0;
        padding-top: 40px;
        line-height: 40px; }

    .adaptive .section__title::after {
        content: '09.';
        top: -50px;
        left: 0; }

    .adaptive__txt {
        width: 100%;
        max-width: 435px;
        margin-left: auto;
        margin-right: 50px;
        text-align: right; }

    .adaptive__txt .slider__title-txt {
        padding: 0;
        margin-top: 50px; }

    .adaptive__txt .slider__title-txt::before {
        display: none; }

    .thx {
        margin-top: 290px; }

    .thx .section__title {
        padding-left: 288px; }

    .thx .section__title_blue {
        color: #195df4; }

    .thx .section__title-small {
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        display: block;
        height: 190px;
        top: -70px;
        left: 160px; }

    .thx .section__title-small::after {
        content: '';
        display: block;
        width: 2px;
        height: 263px;
        background: #b0b0b0;
        position: absolute;
        left: -10px;
        top: 0; }

    .thx .section__title-small::before {
        content: '';
        display: block;
        width: 50px;
        height: 46px;
        background: url("~@/assets/images/tekstilno/tekstilno-frag.png") no-repeat center/contain;
        position: absolute;
        left: 80px;
        top: 100px; }

    @media screen and (max-width: 1200px) {
        .slider__title-txt::before {
            display: none; }
        .colors__examples-big-item:not(:nth-of-type(3))::after {
            right: -76px; }
        .fonts__inner, .slider__title-wrap {
            display: block; }
        .slider__title-txt {
            padding: 20px 0; }
        .adaptive .container::after {
            width: 600px;
            height: 470px;
            right: 140px;
            top: -400px; }
        .index .section__title::before {
            width: 220px; }
        .index .section__title::after {
            left: 40%; }
        .index__extra-item {
            width: 230px; }
        .index__extra-title::after {
            left: 0; }
        .index__extra-title {
            font-size: 20px;
            letter-spacing: 0; }
        .index__extra-phone {
            left: 0;
            bottom: 50px;
            max-width: 500px; } }

    @media screen and (max-width: 992px) {
        .banner .container::after, .colors__examples-big-item:not(:nth-of-type(3))::after, .index .section__title::after, .index .section__title::before, .index .section__title-small, .index__extra-phone, .colors .section__title::before {
            display: none; }
        .index .section__title::before {
            width: 220px; }
        .slider {
            margin-top: 100px; }
        .catalog {
            margin-top: 120px; }
        .adaptive {
            margin-top: 430px; }
        .thx {
            margin-top: 150px; }
        .index__extra-title {
            text-align: center; }
        .index__extra-title::after {
            right: 0;
            margin: auto; }
        .index__extra-item {
            width: auto;
            max-width: none;
            margin-top: 30px; }
        .index__extra-gif img {
            width: auto;
            margin: auto; }
        .index__extra-gif::after {
            left: 0; }
        .icons__img-wrap, .thx .section__title {
            padding: 20px 0; }
        .icons__img-wrap img {
            margin: 50px auto; }
        .thx .section__title-small {
            display: none; }
        .banner__txt-wrap {
            margin: 50px auto; }
        .functional .section__title::before {
            width: 210px; }
        .colors__examples-big {
            padding: 0;
            margin-top: 50px; }
        .product {
            margin-top: 70px; }
        .index__extra-item {
            position: static; }
        .banner__txt-wrap::after {
            display: none; }
        .functional {
            padding-top: 100px; }
        .banner {
            margin-bottom: 40px; }
        .fonts__inner {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; }
        .index {
            margin-top: 40px; }
        .tekstilno {
            padding-bottom: 60px; }
        .colors {
            margin-top: 100px; }
        .fonts {
            margin-top: 0px; } }

    @media screen and (max-width: 720px) {
        .functional .section__title::before, .section__title-small, .section__title::after, .icons .section__title::before, .banner__txt-wrap::after, .slider .section__title::before {
            display: none; }
        .functional {
            padding-top: 10px; }
        .slider__img-wrap img {
            margin: 20px auto 0; }
        .catalog .row, .product .row {
            margin-top: 20px; }
        .product .section__title {
            font-size: 35px; }
        .banner {
            margin-bottom: 0; }
        .fonts {
            margin-top: 0; }
        .icons {
            margin-top: 20px; }
        .icons__img-wrap img {
            margin: 0 auto 50px; }
        .slider {
            margin-top: 0; }
        .functional::after {
            top: -40px; }
        .colors {
            margin-top: 50px; }
        .colors__examples-big > div:not(.colors__examples-big-item) {
            margin-top: 50px; }
        .index, .index .row {
            margin-top: 30px; }
        .index__extra-item {
            padding: 0 15px; }
        .fonts__example {
            display: block; }
        .fonts__example-inner_pengvin {
            margin: 30px 0; }
        .section__title {
            text-align: center !important;
            max-width: none !important;
            margin: 0 !important;
            padding: 20px 0 !important; }
        .adaptive .container::after {
            width: 300px;
            height: 270px;
            right: 0;
            left: 0;
            margin: auto;
            top: -240px; }
        .colors__examples-name {
            margin-top: 30px;
            margin-bottom: 20px; }
        .adaptive {
            margin-top: 230px; }
        .section__title-second {
            text-align: center; }
        .thx {
            margin-top: 50px; }
        .section__title {
            font-size: 36px; }
        .functional__description, .colors__examples-big {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center; }
        .functional__description > div {
            margin-bottom: 20px; }
        .functional__description {
            margin-top: 30px; } }
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }
    .prewSite {
        border: 2px solid #256df2;
        border-radius: 2px;
        padding: 10px 25px;
        color: #414141;
        transition: .4s all;
        font: 19px/19px "Pengvin Bold";
        text-decoration: none;
        cursor: pointer;
        width: 240px;
        text-align: center;
    }
    .prewSite:hover {
        letter-spacing: 1px;
        color: #6dadeb;
        text-decoration: underline;
    }

</style>