<template>
    <u-animate-container
            :config="config">
        <main class="ukrticket">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта Ukrticket (продажа билетов) на Framework Laravel 5"
                description="Разработка сайта для компании Ukrticket - билеты на концерты, спектакли, спорт, фестивали, детские события в Одессе на фреймворке Laravel 5. Сайт адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <div class="ukrticket__banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <img class="img-responsive ukrticket__banner_logo"
                                 src="@/assets/images/ukrticket/ukr-logo.png"
                                 alt="">
                        </u-animate>
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <h1 class="main_page_title">Разработка сайта по продаже билетов</h1>
                            <p class="ukrticket__banner_subheader">
                                <strong>Билеты на концерты, спектакли, спорт, фестивали, детские события в Одессе</strong>
                            </p>
                        </u-animate>
                        <u-animate
                                name="fadeInUp"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="ukrticket__banner_sitelink-wrap"
                        >
                            <a class="ukrticket__banner_sitelink"
                               href="https://ukrticket.com.ua/en"
                               rel="nofollow">Посмотреть сайт</a>
                        </u-animate>
                        <div>
                            <img class="img-responsive ukrticket__banner_mockup"
                                 src="@/assets/images/ukrticket/ukr-mockup.png"
                                 alt="">
                        </div>
                        <div class="ukrticket__double-circle"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="ukrticket__second">
            <div class="ukrticket__aim">
                <div class="container">
                    <div class="row ukrticket__aim_marg">
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-5 ukrticket__aim_wrap"
                        >
                            <div>
                                <h5 class="ukrticket__aim_name">ЦЕЛЬ</h5>
                            </div>
                            <div>
                                <span class="ukrticket__aim_number">01</span>
                                <p class="ukrticket__aim_descr">
                                    Сделать Максимально удобный ресурс для поиска  событий и покупки билетов</p>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeInRight"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-offset-2 col-md-5 ukrticket__aim_wrap"
                        >
                            <div>
                                <h5 class="ukrticket__aim_name ukrticket__aim_name-instr">
                                    ИНСТРУМЕТЫ</h5>
                            </div>
                            <div class="ukrticket__aim_descr_wrap ukrticket__aim_descr_wrap-left">
                                <span class="ukrticket__aim_number ukrticket__aim_number-right">02</span>
                                <p class="ukrticket__aim_descr ukrticket__aim_descr-right">
                                    Concept design - Web UI/UX Design</p>
                                <p class="ukrticket__aim_descr ukrticket__aim_descr-right">
                                    Front-End: фреймворк - Founation
                                    6</p>
                                <p class="ukrticket__aim_descr ukrticket__aim_descr-right">
                                    Back-End: фреймворк - Laravel 5</p>
                                <div class="ukrticket__aim_descr_laravel">
                                    <img src="@/assets/images/ukrticket/ukr-lara.png"
                                         alt="">
                                </div>
                            </div>
                        </u-animate>
                    </div>
                </div>
            </div>
            <div class="ukrticket__main">
                <div class="container">
                    <u-animate
                            name="fadeInUp"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="row"
                    >
                        <div class="col-md-offset-4 col-md-4 ukrticket__main_circle">
                            <span class="ukrticket__aim_number">03</span>
                        </div>
                    </u-animate>
                    <div class="row">
                        <u-animate
                                name="fadeInLeft"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="col-md-3"
                        >
                            <h5 class="ukrticket__aim_name ukrticket__aim_name-dev">РАЗРАБОТКА</h5>
                        </u-animate>
                    </div>
                    <div class="ukrticket__main_full_wrap">
                        <div class="row">
                            <u-animate
                                    name="fadeInUp"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="col-md-offset-1 col-md-11 ukrticket__main_full"
                            >
                                <img class="img-responsive ukrticket__main_img"
                                     src="@/assets/images/ukrticket/ukr-full.png"
                                     alt="">
                            </u-animate>
                        </div>
                        <div class="row">
                            <u-animate
                                    name="fadeInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="col-md-4 col-sm-6 ukrticket__main_descriptions"
                            >
                                <div>
                                    <p class="ukrticket__main_txt">
                                        Сайт удобный, функциональный, разработан  на популярном динамическом фреймворке Laravel 5  и адаптирован под различные устройства.
                                    </p>
                                </div>
                                <div class="ukrticket__main_numwrap">
                                    <div class="ukrticket__main_numinner">
                                        <span class="ukrticket__main_num">01</span>
                                    </div>
                                </div>
                            </u-animate>
                            <u-animate
                                    name="fadeInLeft"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                                    class="col-md-4 col-sm-6 ukrticket__main_descriptions ukrticket__main_descriptions-sec"
                            >
                                <div>
                                    <p class="ukrticket__main_txt">
                                        Получение данных о событиях или мероприятиях с CRM системы UKRTICKET осуществляется с помощью Json API
                                    </p>
                                </div>
                                <div class="ukrticket__main_numwrap">
                                    <div class="ukrticket__main_numinner">
                                        <span class="ukrticket__main_num">02</span>
                                    </div>
                                </div>
                            </u-animate>
                        </div>
                    </div>
                </div>
                <div class="ukrticket__double-circle ukrticket__double-circle_main"></div>
            </div>
        </div>
        <div class="ukrticket__another">
            <div class="ukrticket__another_color container">
                <u-animate
                        name="fadeInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="ukrticket__aim_name_before"
                >
                    <h5 class="ukrticket__aim_name ukrticket__aim_name-white">
                        Цветовая палитра</h5>
                </u-animate>
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="ukrticket__another_color_inner"
                >
                    <div class="ukrticket__another_color_example">
                        <div class="ukrticket__another_color_example_inner">
                            <span class="ukrticket__another_color_example_txt">#9e171a</span>
                        </div>
                    </div>
                    <div class="ukrticket__another_color_example ukrticket__another_color_example-gray">
                        <div class="ukrticket__another_color_example_inner ukrticket__another_color_example_inner-gray">
                            <span class="ukrticket__another_color_example_txt ukrticket__another_color_example_txt-black">#e8e8e8</span>
                        </div>
                    </div>
                    <div class="ukrticket__another_color_example ukrticket__another_color_example-black">
                        <div class="ukrticket__another_color_example_inner ukrticket__another_color_example_inner-black">
                            <span class="ukrticket__another_color_example_txt">#2e2e2e</span>
                        </div>
                    </div>
                    <div class="ukrticket__another_color_example ukrticket__another_color_example-white">
                        <div class="ukrticket__another_color_example_inner ukrticket__another_color_example_inner-white">
                            <span class="ukrticket__another_color_example_txt ukrticket__another_color_example_txt-black">#ffffff</span>
                        </div>
                    </div>
                </u-animate>
                <span class="ukrticket__another_boldtxt">COLOR</span>
            </div>

            <div class="ukrticket__another_color container">
                <u-animate
                        name="fadeInRight"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="ukrticket__aim_name_before ukrticket__aim_name_before-right col-md-offset-7 col-md-5"
                >
                    <h5 class="ukrticket__aim_name ukrticket__aim_name-white ukrticket__aim_name-white-left">
                        Типографика</h5>
                </u-animate>
                <u-animate
                        name="fadeInUp"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="ukrticket__another_typowrap"
                >
                    <div class="ukrticket__another_typoinner">
                        <span class="ukrticket__another_typotxt ukrticket__another_typotxt-HKG">HK Grotesk</span>
                        <div class="ukrticket__another_typoinner-example">
                            <span class="ukrticket__another_typoinner-example-HKG">АБВГДЕЁЖЗИЙКЛМНО</span>
                            <span class="ukrticket__another_typoinner-example-HKG">абвгдеёжзийклмно</span>
                            <span class="ukrticket__another_typoinner-example-HKG">0123456789</span>
                        </div>
                    </div>
                    <div class="ukrticket__another_typoinner">
                        <span class="ukrticket__another_typotxt ukrticket__another_typotxt-SUI">Segoe UI</span>
                        <div class="ukrticket__another_typoinner-example">
                            <span class="ukrticket__another_typoinner-example-SUI">АБВГДЕЁЖЗИЙКЛМНО</span>
                            <span class="ukrticket__another_typoinner-example-SUI">абвгдеёжзийклмно</span>
                            <span class="ukrticket__another_typoinner-example-SUI">0123456789</span>
                        </div>
                    </div>
                    <div class="ukrticket__another_typoinner">
                        <span class="ukrticket__another_typotxt ukrticket__another_typotxt-MP">Myriad Pro</span>
                        <div class="ukrticket__another_typoinner-example">
                            <span class="ukrticket__another_typoinner-example-MP">АБВГДЕЁЖЗИЙКЛМНО</span>
                            <span class="ukrticket__another_typoinner-example-MP">абвгдеёжзийклмно</span>
                            <span class="ukrticket__another_typoinner-example-MP">0123456789</span>
                        </div>
                    </div>
                </u-animate>
                <span class="ukrticket__another_boldtxt ukrticket__another_boldtxt-typography">typography</span>
            </div>

            <div class="ukrticket__another_pages container ukrticket__main_full_wrap ukrticket__main_full_wrap-another">
                <u-animate
                    name="fadeInLeft"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
                    class="ukrticket__another_pages_head"
                >
                    <h5 class="ukrticket__aim_name ukrticket__aim_name-white">
                        Другие страницы</h5>
                </u-animate>
                <u-animate
                        name="fadeInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="row"
                >
                    <div class="col-md-offset-1 col-md-7">
                        <div>
                            <img class="img-responsive ukrticket__another_pages_poster"
                                 src="@/assets/images/ukrticket/ukr-another-1.jpg"
                                 alt="">
                        </div>
                    </div>
                </u-animate>
                <div class="row">
                    <div class="col-md-offset-4 col-md-7 ukrticket__another_pages_imginner">
                        <u-animate
                            name="fadeInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="ukrticket__another_pages_imgwrap"
                        >
                            <img class="img-responsive ukrticket__another_pages_poster"
                                 src="@/assets/images/ukrticket/ukr-another-2.jpg"
                                 alt="">
                        </u-animate>
                    </div>
                </div>
                <div class="row">
                    <u-animate
                        name="fadeInLeft"
                        delay="0s"
                        duration="1s"
                        :iteration="1"
                        :offset="0"
                        animateClass="animated"
                        :begin="false"
                        class="col-md-offset-7 col-md-4 col-sm-6 ukrticket__main_descriptions ukrticket__main_descriptions-another"
                    >
                        <div>
                            <p class="ukrticket__main_txt ukrticket__main_txt-another">
                                Была реализована  система переключения языков и городов, а также фильтр поиска по мероприятиям
                            </p>
                        </div>
                        <div class="ukrticket__main_numwrap">
                            <div class="ukrticket__main_numinner">
                                <span class="ukrticket__main_num">03</span>
                            </div>
                        </div>
                    </u-animate>
                </div>
            </div>
        </div>
        <div class="ukrticket__last">
            <u-animate
                    name="fadeInUp"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
            >
                <img class="img-responsive"
                     src="@/assets/images/ukrticket/ukr-last-bg.png"
                     alt="">
            </u-animate>
        </div>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';

    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style lang="scss" scoped>

    @import "~@/assets/bootstrap/bootstrap.css";

    main{
        overflow: visible !important;
    }


    @font-face {
        font-family: MPB;
        src: url(~@/assets/fonts/Myriad-pro/MyriadPro-Bold.eot);
        src: url(~@/assets/fonts/Myriad-pro/MyriadPro-Bold.eot) format("embedded-opentype"),
        url(~@/assets/fonts/Myriad-pro/MyriadPro-Bold.woff2) format("woff2"),
        url(~@/assets/fonts/Myriad-pro/MyriadPro-Bold.woff) format("woff"),
        url(~@/assets/fonts/Myriad-pro/MyriadPro-Bold.svg#MyriadPro-Bold) format("svg")
    }

    @font-face {
        font-family: MPR;
        src: url(~@/assets/fonts/Myriad-pro/MyriadPro-Regular.eot);
        src: url(~@/assets/fonts/Myriad-pro/MyriadPro-Regular.eot) format("embedded-opentype"),
        url(~@/assets/fonts/Myriad-pro/MyriadPro-Regular.woff2) format("woff2"),
        url(~@/assets/fonts/Myriad-pro/MyriadPro-Regular.woff) format("woff"),
        url(~@/assets/fonts/Myriad-pro/MyriadPro-Regular.svg#MyriadPro-Regular) format("svg")
    }

    @font-face {
        font-family: HKGB;
        src: url(~@/assets/fonts/HK/HKGrotesk-Bold.eot);
        src: url(~@/assets/fonts/HK/HKGrotesk-Bold.eot) format("embedded-opentype"),
        url(~@/assets/fonts/HK/HKGrotesk-Bold.woff2) format("woff2"),
        url(~@/assets/fonts/HK/HKGrotesk-Bold.woff) format("woff"),
        url(~@/assets/fonts/HK/HKGrotesk-Bold.svg#HKGrotesk-Bold) format("svg")
    }

    @font-face {
        font-family: SUIR;
        src: url(~@/assets/fonts/Segoe-UI/SegoeUI.eot);
        src: url(~@/assets/fonts/Segoe-UI/SegoeUI.eot) format("embedded-opentype"),
        url(~@/assets/fonts/Segoe-UI/SegoeUI.woff2) format("woff2"),
        url(~@/assets/fonts/Segoe-UI/SegoeUI.woff) format("woff"),
        url(~@/assets/fonts/Segoe-UI/SegoeUI.svg#SegoeUI) format("svg")
    }

    @font-face {
        font-family: SUIB;
        src: url(~@/assets/fonts/Segoe-UI/SEGOEUIB.eot);
        src: url(~@/assets/fonts/Segoe-UI/SEGOEUIB.eot) format("embedded-opentype"),
        url(~@/assets/fonts/Segoe-UI/SEGOEUIB.woff2) format("woff2"),
        url(~@/assets/fonts/Segoe-UI/SEGOEUIB.woff) format("woff"),
        url(~@/assets/fonts/Segoe-UI/SEGOEUIB.svg#SEGOEUIB) format("svg")
    }

    @font-face {
        font-family: SUIBlack;
        src: url(~@/assets/fonts/Segoe-UI/SegoeUIBlack.eot);
        src: url(~@/assets/fonts/Segoe-UI/SegoeUIBlack.eot) format("embedded-opentype"),
        url(~@/assets/fonts/Segoe-UI/SegoeUIBlack.woff2) format("woff2"),
        url(~@/assets/fonts/Segoe-UI/SegoeUIBlack.woff) format("woff"),
        url(~@/assets/fonts/Segoe-UI/SegoeUIBlack.svg#SegoeUIBlack) format("svg")
    }

    .ukrticket__banner {
        background: url(~@/assets/images/ukrticket/ukr-banner.jpg) center/cover no-repeat;
        padding-top: 80px;
        position: relative
    }

    .ukrticket__banner_logo {
        margin-left: auto;
        margin-right: auto
    }

    .ukrticket__banner_subheader {
        width: 100%;
        max-width: 378px;
        font-size: 16px;
        color: #0f0f0f;
        margin: 37px auto;
        text-align: center;
        font-family: MPB
    }

    .ukrticket__banner_sitelink-wrap {
        text-align: center;
        margin-bottom: 52px
    }

    .ukrticket__banner_sitelink-wrap_last {
        margin-bottom: 0;
        margin-top: -70px;
        padding-bottom: 100px
    }

    .ukrticket__banner_sitelink {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 279px;
        height: 72px;
        background-color: #951417;
        font-family: HKGB;
        font-size: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        z-index: 1;
        overflow: hidden;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease
    }

    .ukrticket__banner_sitelink:hover {
        color: #951417
    }

    .ukrticket__banner_sitelink:hover::before {
        height: 250px
    }

    .ukrticket__banner_sitelink::before {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        height: 0;
        width: 100%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background: #e8e8e8;
        z-index: -1
    }

    .ukrticket__banner_sitelink_last {
        border: 1px solid #951417
    }

    .ukrticket__banner_mockup {
        margin-bottom: -10px;
        position: relative;
        z-index: 1
    }

    .ukrticket__double-circle {
        width: 450px;
        height: 450px;
        background: rgba(149, 20, 23, .37);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: 69px;
        bottom: -157px
    }

    .ukrticket__double-circle::after {
        content: '';
        display: block;
        width: 300px;
        height: 300px;
        position: absolute;
        left: 75px;
        top: 75px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, .16);
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, .16);
        background-color: #951417
    }

    .ukrticket__double-circle_main {
        left: 363px;
        bottom: 233px
    }

    .ukrticket__second {
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ededed), color-stop(50%, #e2f1e1));
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), -webkit-linear-gradient(#ededed 50%, #e2f1e1 50%);
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), -moz-linear-gradient(#ededed 50%, #e2f1e1 50%);
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), -o-linear-gradient(#ededed 50%, #e2f1e1 50%);
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), linear-gradient(#ededed 50%, #e2f1e1 50%)
    }

    .ukrticket__aim_wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .ukrticket__aim_marg {
        margin-top: 111px
    }

    .ukrticket__aim_name {
        color: #951417;
        font-size: 36px;
        font-family: SUIB;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        position: relative;
        margin: 0;
    }

    .ukrticket__aim_name::after, .ukrticket__aim_name::before {
        content: '';
        display: block;
        position: absolute
    }

    .ukrticket__aim_name::before {
        width: 1px;
        left: 30px;
        height: 150px;
        background: #d6d6d6;
        top: 49px
    }

    .ukrticket__aim_name::after {
        width: 56px;
        height: 56px;
        left: 0;
        background: url(~@/assets/images/ukrticket/ukr-bef.png);
        bottom: -187px
    }

    .ukrticket__aim_name-dev {
        margin-top: 76px
    }

    .ukrticket__aim_name-white {
        color: #fff
    }

    .ukrticket__aim_name-white::before {
        background-color: #fff
    }

    .ukrticket__aim_name_before::after, .ukrticket__aim_name_before::before {
        content: '';
        background-color: #951417;
        display: block
    }

    .ukrticket__aim_name-white::after {
        background-image: url(~@/assets/images/ukrticket/ukr-bef-white.png);
        width: 57px;
        height: 57px
    }

    .ukrticket__aim_name-white-left {
        text-align: right
    }

    .ukrticket__aim_name-white-left::before {
        left: initial;
        right: 30px;
        top: 64px
    }

    .ukrticket__aim_name-white-left::after {
        top: 205px;
        right: 3px;
        left: initial
    }

    .ukrticket__aim_name_before {
        position: relative
    }

    .ukrticket__aim_name_before::before {
        width: 264px;
        height: 62px;
        position: absolute;
        left: 290px
    }

    .ukrticket__aim_name_before::after {
        width: 1077px;
        height: 2px;
        position: absolute;
        top: 50%;
        right: -490px
    }

    .ukrticket__aim_name_before-right::before {
        left: 0;
        top: 9px
    }

    .ukrticket__aim_name_before-right::after {
        top: 43%;
        right: 475px
    }

    .ukrticket__aim_name-instr {
        position: absolute;
        right: 15px
    }

    .ukrticket__aim_name-instr::before {
        left: initial;
        right: 10%
    }

    .ukrticket__aim_name-instr::after {
        left: initial;
        right: 0
    }

    .ukrticket__aim_number {
        opacity: .09;
        color: #000;
        font-family: SUIBlack;
        font-size: 106px;
        text-transform: uppercase;
        display: block;
        margin-top: 41px;
        margin-bottom: 25px
    }

    .ukrticket__main_circle, .ukrticket__main_numwrap {
        -webkit-border-radius: 50%;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box
    }

    .ukrticket__aim_number-right {
        text-align: right
    }

    .ukrticket__aim_descr {
        color: #000;
        font-family: MPR;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.35px;
        margin: 0
    }

    .ukrticket__aim_descr-right {
        text-align: right
    }

    .ukrticket__aim_descr_laravel {
        text-align: right;
        margin-top: 20px
    }

    .ukrticket__aim_descr_wrap {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        padding-left: 45px
    }

    .ukrticket__main {
        position: relative
    }

    .ukrticket__main_circle {
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 412px;
        height: 412px;
        background: rgba(149, 20, 23, .04);
        border-radius: 50%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        left: 50%;
        margin-left: -206px;
        top: -110px
    }

    .ukrticket__main_circle::after, .ukrticket__main_circle::before {
        content: '';
        height: 2px;
        background-color: #951417;
        position: absolute;
        display: block
    }

    .ukrticket__main_circle::before {
        width: 928px;
        top: 161px;
        left: -765px
    }

    .ukrticket__main_circle::after {
        width: 920px;
        top: 277px;
        left: 240px
    }

    .ukrticket__main_full {
        margin-top: 62px;
        /*margin-top: 0;*/
    }

    .ukrticket__main_full_wrap {
        position: relative;
    }

    .ukrticket__main_full_wrap-another::after, .ukrticket__main_full_wrap::before {
        opacity: .15;
        font-size: 106px;
        letter-spacing: 7.95px;
        position: absolute;
        font-family: SUIBlack;
        text-transform: uppercase;
        line-height: 60px
    }

    .ukrticket__main_full_wrap::before {
        content: 'HOME PAGE';
        display: block;
        -webkit-writing-mode: tb;
        -ms-writing-mode: tb;
        writing-mode: tb;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        color: #000;
        left: 0;
        top: 210px
    }

    .ukrticket__main_full_wrap-another::before {
        content: 'CATALOG Page';
        top: 320px
    }

    .ukrticket__main_full_wrap-another::after {
        content: 'event PAGE';
        display: block;
        -webkit-writing-mode: tb;
        -ms-writing-mode: tb;
        writing-mode: tb;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        color: #000;
        right: 0;
        top: 635px
    }

    .ukrticket__main_num, .ukrticket__main_txt {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.05px
    }

    .ukrticket__main_img {
        position: relative;
        z-index: 1
    }

    .ukrticket__main_descriptions {
        -webkit-box-shadow: 2px 5px 9px 1px rgba(81, 81, 81, .45);
        box-shadow: 2px 5px 9px 1px rgba(81, 81, 81, .45);
        background: rgba(158, 23, 26, .9);
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        padding: 20px 50px 10px 30px;
        position: absolute;
        top: 330px;
        left: 0;
        z-index: 1
    }

    .ukrticket__main_descriptions-another {
        top: 365px
    }

    .ukrticket__main_descriptions-sec {
        top: 715px
    }

    .ukrticket__main_txt {
        color: #fff;
        font-family: MPR
    }

    .ukrticket__main_txt-another::before {
        content: '';
        display: block;
        width: 203px;
        height: 31px;
        background: url(~@/assets/images/ukrticket/ukr-desc-bef.png);
        margin-bottom: 15px
    }

    .ukrticket__main_numwrap {
        width: 42px;
        height: 42px;
        -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, .16);
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, .16);
        background-color: #9e171a;
        border-radius: 50%;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        right: 10px
    }

    .ukrticket__main_numinner {
        width: 28px;
        height: 28px;
        background-color: #fff;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .ukrticket__main_num {
        color: #0f0f0f;
        font-family: MPB
    }

    .ukrticket__another {
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), -webkit-gradient(linear, left top, left bottom, color-stop(54%, #6cbec4), color-stop(54%, #4a83a7));
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), -webkit-linear-gradient(#6cbec4 54%, #4a83a7 54%);
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), -moz-linear-gradient(#6cbec4 54%, #4a83a7 54%);
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), -o-linear-gradient(#6cbec4 54%, #4a83a7 54%);
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), linear-gradient(#6cbec4 54%, #4a83a7 54%);
        padding-top: 115px
    }

    .ukrticket__another_color {
        position: relative
    }

    .ukrticket__another_color_inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        max-width: 713px;
        margin: 122px auto 140px
    }

    .ukrticket__another_color_example {
        width: 130px;
        height: 130px;
        background: rgba(149, 20, 23, .37);
        -webkit-border-radius: 50%;
        border-radius: 50%
    }

    .ukrticket__another_color_example-gray {
        background: rgba(232, 232, 232, .37)
    }

    .ukrticket__another_color_example-black {
        background: rgba(46, 46, 46, .37)
    }

    .ukrticket__another_color_example-white {
        background: rgba(255, 255, 255, .37)
    }

    .ukrticket__another_color_example_inner {
        width: 91px;
        height: 91px;
        -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, .16);
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, .16);
        background-color: #951417;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 19px;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .ukrticket__another_color_example_inner-gray {
        background-color: #e8e8e8
    }

    .ukrticket__another_color_example_inner-black {
        background-color: #2e2e2e
    }

    .ukrticket__another_color_example_inner-white {
        background-color: #fff
    }

    .ukrticket__another_color_example_txt {
        color: #fff;
        font-family: MPR;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.35px
    }

    .ukrticket__another_color_example_txt-black {
        color: #0f0f0f
    }

    .ukrticket__another_boldtxt {
        display: block;
        opacity: .12;
        color: #000;
        font-family: SUIBlack;
        font-size: 76px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5.7px;
        position: absolute;
        top: 60px;
        right: 0
    }

    .ukrticket__another_boldtxt-typography {
        right: initial;
        left: 0
    }

    .ukrticket__another_typotxt {
        color: #951417;
        font-size: 33px;
        line-height: 60px;
        letter-spacing: .65px
    }

    .ukrticket__another_typotxt-HKG {
        font-family: HKGB
    }

    .ukrticket__another_typotxt-SUI {
        font-family: SUIB
    }

    .ukrticket__another_typotxt-MP {
        font-family: MPB
    }

    .ukrticket__another_typowrap {
        width: 100%;
        max-width: 755px;
        margin: 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 125px;
        padding-bottom: 155px
    }

    .ukrticket__another_typoinner {
        width: 185px
    }

    .ukrticket__another_typoinner-example {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: .28px;
        position: relative;
        padding-left: 30px
    }

    .ukrticket__another_typoinner-example::before {
        content: '';
        display: block;
        width: 2px;
        height: 49px;
        background-color: #951417;
        position: absolute;
        left: 3px;
        top: 0
    }

    .ukrticket__another_typoinner-example-HKG {
        font-family: HKGB;
        display: block;
    }

    .ukrticket__another_typoinner-example-SUI {
        font-family: SUIR;
        font-weight: 600;
        display: block;
    }

    .ukrticket__another_typoinner-example-MP {
        font-family: MPR;
        font-weight: 600;
        display: block;
    }

    .ukrticket__another_pages {
        position: relative
    }

    .ukrticket__another_pages_head {
        margin-bottom: 37px
    }

    .ukrticket__another_pages_poster {
        -webkit-box-shadow: 1px 1px 9px 1px rgba(81, 81, 81, .33);
        box-shadow: 1px 1px 9px 1px rgba(81, 81, 81, .33);
        width: 100%;
        max-width: 681px
    }

    .ukrticket__another_pages_imginner {
        position: static
    }

    .ukrticket__another_pages_imgwrap {
        position: absolute;
        top: 640px
    }

    .ukrticket__last {
        padding-top: 160px;
        background: url(~@/assets/images/ukrticket/ukr-pattern1.png), #ededed
    }

    .ukrticket__last img {
        margin: 0 auto
    }

    /*************************************/
    a:hover {
        text-decoration: none;
        color: inherit
    }

    @media screen and (max-width: 1199px) {
        .ukrticket__aim_name-white::after, .ukrticket__aim_name-white::before, .ukrticket__aim_name_before::after {
            display: none
        }
        .ukrticket__double-circle {
            width: 350px;
            height: 350px
        }
        .ukrticket__double-circle::after {
            width: 200px;
            height: 200px
        }
        .ukrticket__aim_name-instr::before {
            right: 0
        }
        .ukrticket__aim_name-instr::after {
            right: -30px
        }
        .ukrticket__another_pages_imgwrap {
            top: 450px
        }
    }

    @media screen and (max-width: 991px) {
        .ukrticket__double-circle {
            left: 200px
        }
        .ukrticket__aim_descr_wrap {
            -webkit-box-ordinal-group: initial;
            -webkit-order: initial;
            -moz-box-ordinal-group: initial;
            -ms-flex-order: initial;
            order: initial;
            margin-right: 60px
        }
        .ukrticket__aim_descr-right {
            text-align: left
        }
        .ukrticket__aim_name-instr {
            right: 40px
        }
        .ukrticket__aim_descr_laravel, .ukrticket__aim_name-dev::after, .ukrticket__aim_name-dev::before, .ukrticket__main_full_wrap-another::after, .ukrticket__main_full_wrap::before {
            display: none
        }
        .ukrticket__aim_name_before-right::before {
            left: initial;
            right: 0
        }
        .ukrticket__another_pages_imgwrap {
            position: static;
            margin: 30px 0
        }
    }

    @media screen and (max-width: 767px) {
        .ukrticket__another_typowrap {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -moz-box-orient: vertical;
            -moz-box-direction: normal
        }
        .ukrticket__main_descriptions {
            margin: 0 15px
        }
        .ukrticket__double-circle {
            display: none
        }
        .ukrticket__aim_marg {
            margin-top: 20px
        }
        .ukrticket__another_typowrap {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 105px;
            padding-bottom: 15px
        }
        .ukrticket__another_typowrap > * {
            margin-bottom: 20px
        }
        .ukrticket__another_color_inner {
            margin: 100px auto 20px
        }
        .ukrticket__banner_sitelink-wrap_last {
            margin: 0
        }
        .ukrticket__last {
            padding-top: 80px
        }
    }

    @media screen and (max-width: 560px) {
        .ukrticket__another_color_inner {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -moz-box-orient: vertical;
            -moz-box-direction: normal
        }
        .ukrticket__banner_sitelink {
            font-size: 18px;
            width: 230px;
            height: 50px
        }
        .ukrticket__aim_descr_wrap {
            padding-left: 0
        }
        .ukrticket__another_color_inner {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }
        .ukrticket__another_color_inner > * {
            margin-bottom: 20px
        }
    }

    @media screen and (max-width: 450px) {
        .ukrticket__main_descriptions {
            position: relative;
            top: initial;
            margin: 0 20px 20px
        }
        .ukrticket__aim_name {
            text-align: center;
            font-size: 30px
        }
        .ukrticket__aim_name_before::before {
            left: 90px
        }
    }
    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }

</style>
