<template>
    <u-animate-container
            :config="config">
        <main class="ytstar">
        <!--set meta data-->
        <vue-headful
                title="Разработка сайта для проекта Ytstar на Framework"
                description="Разработка сайта для проекта YT-STAR - (продвижение в соц. сетях в частности Youtube) на Framework. Адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__logo">
                            <u-animate
                                    name="fadeInDown"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar/logo.png"
                                 alt=""
                                 class="header__logo-image">
                            </u-animate>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <u-animate
                                name="fadeIn"
                                delay="0s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">1</span>
                            </div>
                            <div class="header__inner-content">
                                <h1 class="header__inner-content-title">Разработка
            сайта на Framework</h1>
                                <div class="header__inner-content-sub">
                                    <img src="~@/assets/images/ytstar/laptop.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="~@/assets/images/ytstar/smartphone.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                    <img src="~@/assets/images/ytstar/tablet.svg"
                                         alt=""
                                         class="header__inner-content-sub-icon">
                                </div>
                            </div>
                        </u-animate>
                        <u-animate
                                name="fadeIn"
                                delay="0.2s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">2</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Подбор фирменных цветов</span>
                                <div class="header__inner-content-sub">
                                    <span class="header__inner-content-sub-color header__inner-content-sub-color-red">#ff1818</span>
                                    <span class="header__inner-content-sub-color header__inner-content-sub-color-green">#00a72f</span>
                                </div>
                            </div>
                        </u-animate>

                        <u-animate
                                name="fadeIn"
                                delay="0.4s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">3</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Подбор фирменных шрифтов</span>
                                <div class="header__inner-content-sub">
                                    <span class="header__inner-content-sub-title">Ubuntu</span>
                                    <span class="header__inner-content-sub-fonts">а б в г д е ё ж з и й к л м н о
                        п р с т у ф х ц ч ш щ ъ ы ь э ю я</span>
                                </div>
                            </div>
                        </u-animate>

                        <u-animate
                                name="fadeIn"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="header__inner"
                        >
                            <div class="header__inner-num">
                                <span class="header__inner-num-border">4</span>
                            </div>
                            <div class="header__inner-content">
                                <span class="header__inner-content-title">Разработка остальных страниц сайта</span>
                                <div class="header__inner-content-sub">
                                    <ul class="header__inner-content-list">
                                        <li><p>
                                            Рефералы</p>
                                        </li>
                                        <li><p>
                                            Уровень</p>
                                        </li>
                                        <li><p>
                                            Акции</p>
                                        </li>
                                        <li><p>
                                            Магазин</p>
                                        </li>
                                        <li><p>
                                            Настройки</p>
                                        </li>
                                        <li><p>Мои
                                            задания </p>
                                        </li>
                                        <li><p>
                                            Выполнить
                                            задание</p>
                                        </li>
                                        <li><p>
                                            Добавить
                                            задание</p>
                                        </li>
                                        <li><p>
                                            Лучшие
                                            на
                                            сайте</p>
                                        </li>
                                        <li><p>
                                            Информация
                                            и
                                            контакты</p>
                                        </li>
                                        <li><p>FAQ
                                            и
                                            техподдержка</p>
                                        </li>
                                        <li><p>
                                            Landing
                                            Page</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </u-animate>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="header__slide">
                            <u-animate
                                    name="fadeIn"
                                    delay="0.1s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/ytstar/header-mac.png"
                                 alt=""
                                 class="header__slide-image">
                            </u-animate>

                            <u-animate
                                    name="slideInLeft"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar/header-layer-1.png"
                                 alt=""
                                 class="header__slide-layer-1">
                            </u-animate>

                            <u-animate
                                    name="slideInLeft"
                                    delay="0.4s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar/header-layer-2.png"
                                 alt=""
                                 class="header__slide-layer-2">
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="fadeIn"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/ytstar/dashboard-black.svg"
                                 alt=""
                                 class="title__icon">
                            </u-animate>

                            <u-animate
                                    name="slideInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <p class="title__main">
                                    Страница
                                    <u-animate
                                            name="slideInRight"
                                            delay="0.3s"
                                            duration="1s"
                                            :iteration="1"
                                            :offset="0"
                                            animateClass="animated"
                                            :begin="false"
                                    >
                                    <span class="title__main-sub">Панель управления"</span>
                                    </u-animate>
                                </p>
                            </u-animate>

                            <p class="title__bg">
                                Control
                                Panel</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <u-animate
                                name="fadeIn"
                                delay="0.1s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="panel__image"
                        >
                            <img src="~@/assets/images/ytstar/panel-image.png"
                                 alt="">
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>
        <section class="task">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="fadeIn"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar//accomplish-task-black.svg"
                                 alt=""
                                 class="title__icon">
                            </u-animate>

                            <u-animate
                                    name="slideInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="title__main">
                                Страница
                                <u-animate
                                        name="slideInRight"
                                        delay="0.3s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                <span class="title__main-sub">"Выполнить задание"</span>
                                </u-animate>
                            </p>
                            </u-animate>
                            <p class="title__bg">
                                Perform
                                <span class="title__bg-sub">a task</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-10">

                        <u-animate
                                name="fadeIn"
                                delay="0.1s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="task__image"
                        >
                            <img src="~@/assets/images/ytstar/task-image.jpg"
                                 alt="">
                        </u-animate>
                    </div>
                </div>
            </div>

            <u-animate
                    name="bounceIn"
                    delay="0.1s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
            >
            <img src="~@/assets/images/ytstar/star-r.png"
                 alt=""
                 class="star-r">
            </u-animate>
        </section>
        <section class="store">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="fadeIn"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar/paper-bag.svg"
                                 alt=""
                                 class="title__icon presentation__colorbox-wrap_yellow">
                            </u-animate>

                            <u-animate
                                    name="slideInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="title__main">
                                Страница
                                <u-animate
                                        name="slideInRight"
                                        delay="0.3s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                <span class="title__main-sub">"Магазина"</span>
                                </u-animate>
                            </p>
                            </u-animate>
                            <p class="title__bg">
                                SHOP page</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="store__image">

                            <u-animate
                                    name="fadeIn"
                                    delay="0.1s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/ytstar/store-image-left.png"
                                 alt=""
                                 class="store__image-left">
                            </u-animate>

                            <u-animate
                                    name="fadeIn"
                                    delay="0.2s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <img src="~@/assets/images/ytstar/store-image-right.png"
                                 alt=""
                                 class="store__image-right">
                            </u-animate>

                            <u-animate
                                    name="fadeIn"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar/store-image-right-b.png"
                                 alt=""
                                 class="store__image-right-bottom">
                            </u-animate>
                        </div>
                    </div>
                </div>
            </div>

            <u-animate
                    name="bounceIn"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
            >
            <img src="~@/assets/images/ytstar/star-l.png"
                 alt=""
                 class="star-l">
            </u-animate>
        </section>
        <section class="sale">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">

                            <u-animate
                                    name="fadeIn"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar/sales-black.svg"
                                 alt=""
                                 class="title__icon">
                            </u-animate>

                            <u-animate
                                    name="slideInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="title__main">
                                Страница

                                <u-animate
                                        name="slideInRight"
                                        delay="0.3s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="title__main-sub">"Акции"</span>
                                </u-animate>
                            </p>
                            </u-animate>
                            <p class="title__bg">
                                Promotions</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <u-animate
                                name="fadeIn"
                                delay="0.1s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="sale__image"
                        >
                            <img src="~@/assets/images/ytstar/panel-image.png"
                                 alt="">
                        </u-animate>
                    </div>
                </div>
            </div>

            <u-animate
                    name="bounceIn"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
            >
                <img src="~@/assets/images/ytstar/star-r.png"
                 alt=""
                 class="star-r">
            </u-animate>
        </section>
        <section class="lavel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 clearfix">
                        <div class="title">

                            <u-animate
                                    name="fadeIn"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar/level-black.svg"
                                 alt=""
                                 class="title__icon">
                            </u-animate>

                            <u-animate
                                    name="slideInLeft"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="title__main">
                                Страница
                                <u-animate
                                        name="slideInLeft"
                                        delay="0.3s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                    <span class="title__main-sub">"Уровень"</span>
                                </u-animate>
                            </p>
                            </u-animate>

                            <p class="title__bg">
                                Level</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-2">
                        <div class="lavel__image">
                            <img src="~@/assets/images/ytstar/lavel-image.png"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="setting">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <u-animate
                                    name="fadeIn"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar/settings-black.svg"
                                 alt=""
                                 class="title__icon">
                            </u-animate>

                            <u-animate
                                    name="slideInRight"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <p class="title__main">
                                Страница
                                <u-animate
                                        name="slideInRight"
                                        delay="0.3s"
                                        duration="1s"
                                        :iteration="1"
                                        :offset="0"
                                        animateClass="animated"
                                        :begin="false"
                                >
                                <span class="title__main-sub">"Настройки"</span>
                                </u-animate>
                            </p>
                            </u-animate>
                            <p class="title__bg">
                                <span>Setting</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="setting__image">
                            <img src="~@/assets/images/ytstar/setting-image.png"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="setting__landing">
                            <u-animate
                                    name="fadeIn"
                                    delay="0s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                                <span class="setting__landing-title">Landing page</span>
                            </u-animate>
                            <span class="setting__landing-sub">Landing page</span>
                        </div>

                        <u-animate
                                name="fadeIn"
                                delay="1s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                                class="setting__image"
                        >
                            <img src="~@/assets/images/ytstar/landingpage-image.png"
                                 alt="">

                            <u-animate
                                    name="bounceIn"
                                    delay="0.3s"
                                    duration="1s"
                                    :iteration="1"
                                    :offset="0"
                                    animateClass="animated"
                                    :begin="false"
                            >
                            <img src="~@/assets/images/ytstar/star-l.png"
                                 alt=""
                                 class="star-l">
                            </u-animate>

                        </u-animate>

                    </div>
                </div>
            </div>
        </section>
        <section class="thankyou">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <span class="thankyou__title">Спасибо</span>
                    </u-animate>

                    <u-animate
                            name="fadeIn"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                    >
                        <span class="thankyou__sub">за просмотр</span>
                    </u-animate>
                    <span class="thankyou__bg">THK</span>
                </div>
            </div>
            <u-animate
                    name="bounceIn"
                    delay="0s"
                    duration="1s"
                    :iteration="1"
                    :offset="0"
                    animateClass="animated"
                    :begin="false"
            >
            <img src="~@/assets/images/ytstar/star-r.png"
                 alt=""
                 class="star-r">
            </u-animate>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>
<style scoped>
    @font-face {
        font-family: "Ubuntu";
        src: url("~@/assets/fonts/ubuntu/Ubuntu-Regular.svg") format("svg"), url("~@/assets/fonts/ubuntu/Ubuntu-Regular.woff") format("woff2"), url("~@/assets/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "UbuntuBold";
        src: url("~@/assets/fonts/ubuntu/Ubuntu-Bold.svg") format("svg"), url("~@/assets/fonts/ubuntu/Ubuntu-Bold.woff") format("woff2"), url("~@/assets/fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype");
    }

    @font-face {
        font-family: "ColunaDCBold";
        src: url("~@/assets/fonts/ColunaDC/ColunaDCBold.svg") format("svg"), url("~@/assets/fonts/ColunaDC/ColunaDCBold.woff") format("woff2"), url("~@/assets/fonts/ColunaDC/ColunaDCBold.ttf") format("truetype");
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    body, html {
        /*overflow-x: hidden;*/
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .relative {
        position: relative;
    }

    .ytstar {
        max-width: 1920px;
        margin: 0 auto;
    }

    .ytstar .star-l,
    .ytstar .star-r {
        height: auto;
        display: block;
        position: absolute;
        z-index: -1;
    }

    .ytstar .header {
        background: url("~@/assets/images/ytstar//header-bg.png") no-repeat bottom;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 60px 0px 60px;
        position: relative;
    }

    .ytstar .header__logo-image {
        display: block;
        margin: 0 auto;
        position: relative;
        top: -50px;
    }

    .ytstar .header__image_absolute {
        position: absolute;
        bottom: 0px;
        right: 573px;
        top: 373px;
    }

    .ytstar .header__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .ytstar .header__inner-num {
        position: relative;
        bottom: 13px;
        margin-right: 14px;
    }

    .ytstar .header__inner-num-border {
        display: block;
        width: 44px;
        height: 44px;
        border: 1px solid #ff1818;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: #222;
        font: 24px/24px Ubuntu;
        font-weight: 400;
        letter-spacing: 0.6px;
    }

    .ytstar .header__inner-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ytstar .header__inner-content-title {
        display: block;
        margin-bottom: 21px;
        color: #222;
        font: 20px/20px Ubuntu;
        font-weight: 700;
        letter-spacing: 0.5px;
    }

    .ytstar .header__inner-content-sub-icon {
        width: auto;
        height: 36px;
        display: inline-block;
        margin-right: 30px;
    }

    .ytstar .header__inner-content-sub-color {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        padding-left: 50px;
        position: relative;
        margin-top: 10px;
        color: #222;
        font: 16px/16px Ubuntu;
    }

    .ytstar .header__inner-content-sub-color-red {
        margin-right: 28px;
    }

    .ytstar .header__inner-content-sub-color-red:before {
        content: '';
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 0;
        top: -6px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #ff1818;
    }

    .ytstar .header__inner-content-sub-color-green:before {
        content: '';
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        left: 0;
        top: -6px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
        background-color: #00a72f;
    }

    .ytstar .header__inner-content-sub-title {
        color: #222;
        font: 18px/18px Ubuntu;
        font-weight: 700;
        letter-spacing: 0.45px;
        display: block;
    }

    .ytstar .header__inner-content-sub-fonts {
        color: #222;
        font: 12px/18px Ubuntu;
        font-weight: 500;
        letter-spacing: 0.9px;
        display: block;
        width: 51%;
        margin-top: 10px;
    }

    .ytstar .header__inner-content-list {
        list-style-position: inside;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        padding-left: 0px;
        margin-top: 0;
    }

    .ytstar .header__inner-content-list li {
        color: #222;
    }

    .ytstar .header__inner-content-list li p {
        color: #f41e1e;
        font: 16px/36px Ubuntu;
        font-weight: 500;
        letter-spacing: 0.4px;
        display: inline;
        padding-left: 0;
    }

    .ytstar .header__slide {
        position: relative;
    }

    .ytstar .header__slide-image {
        width: 877px;
        height: auto;
        display: block;
        position: relative;
        right: 215px;
        top: -50px;
    }

    .ytstar .header__slide-layer-1, .ytstar .header__slide-layer-2 {
        position: absolute;
    }

    .ytstar .header__slide-layer-1 {
        top: 220px;
        right: -150px;
    }

    .ytstar .header__slide-layer-2 {
        bottom: 250px;
        right: -50px;
    }

    .ytstar .title {
        position: relative;
    }

    .ytstar .title__icon {
        width: 53px;
        height: auto;
        display: block;
        float: left;
        margin: 6px 20px 0 0;
    }

    .ytstar .title__main {
        color: #222;
        font: 40px/40px UbuntuBold;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
        display: inline-block;
        position: relative;
    }

    .ytstar .title__main-sub {
        display: block;
    }

    .ytstar .title__main:before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 1px;
        width: 610px;
        background-color: #d8d8d8;
    }

    .ytstar .title__bg {
        opacity: 0.05;
        color: #222;
        font: 195px/160px ColunaDCBold;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
        display: block;
        text-align: right;
        position: absolute;
        right: -80px;
        top: 20px;
    }

    .ytstar .title__bg-sub {
        display: block;
    }

    .ytstar .panel__image {
        -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        margin: 51px 0 20px 0;
    }

    .ytstar .panel__image img {
        width: 100%;
        height: auto;
        display: block;
    }

    .ytstar .task {
        margin-top: 99px;
        position: relative;
    }

    .ytstar .task .star-r {
        width: 145px;
        bottom: 0;
        right: 336px;
    }

    .ytstar .task .title__bg {
        right: -25px;
    }

    .ytstar .task .title__bg-sub {
        position: relative;
        margin-right: -120px;
    }

    .ytstar .task__image {
        -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        margin: 51px 0 20px 0;
    }

    .ytstar .task__image img {
        width: 100%;
        height: auto;
        display: block;
    }

    .ytstar .store {
        margin-top: 99px;
        padding-bottom: 20px;
        position: relative;
    }

    .ytstar .store .star-l {
        width: 139px;
        left: 275px;
        bottom: 0;
        z-index: 1;
    }

    .ytstar .store .title__bg {
        right: 0;
    }

    .ytstar .store__image {
        position: relative;
    }

    .ytstar .store__image-left {
        width: 846px;
        height: auto;
        display: block;
        position: relative;
        margin-top: 31px;
        top: 60px;
        -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
    }

    .ytstar .store__image-right {
        width: 654px;
        height: auto;
        position: relative;
        float: right;
        right: 0;
        margin-top: -305px;
        -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
    }

    .ytstar .store__image-right-bottom {
        width: 749px;
        height: auto;
        display: block;
        position: relative;
        right: 99px;
        margin-top: -220px;
        float: right;
        -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
    }

    .ytstar .sale {
        margin-top: 99px;
        position: relative;
    }

    .ytstar .sale .star-r {
        right: 222px;
        bottom: 0;
        width: 203px;
    }

    .ytstar .sale:before {
        content: '';
        position: absolute;
        top: -450px;
        left: 0;
        background: url("~@/assets/images/ytstar/sale-bg.png") no-repeat center;
        width: 100%;
        height: 1359px;
        z-index: -1;
    }

    .ytstar .sale__image {
        -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        margin: 51px 0 20px 0;
    }

    .ytstar .sale__image img {
        width: 100%;
        height: auto;
        display: block;
    }

    .ytstar .lavel {
        margin-top: 99px;
    }

    .ytstar .lavel .title__icon {
        float: right;
        margin: 6px 0 0 20px;
    }

    .ytstar .lavel .title__main {
        float: right;
    }

    .ytstar .lavel .title__main:before {
        right: 0;
        left: auto;
    }

    .ytstar .lavel .title__bg {
        left: 0;
        right: auto;
    }

    .ytstar .lavel__image {
        -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        margin: 51px 0 20px 0;
    }

    .ytstar .lavel__image img {
        width: 100%;
        height: auto;
        display: block;
    }

    .ytstar .setting {
        margin-top: 99px;
        background: url("~@/assets/images/ytstar/setting-bg.png") no-repeat 0% 15%;
    }

    .ytstar .setting__image {
        -webkit-box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.19);
        margin: 51px 0 20px 0;
        position: relative;
    }

    .ytstar .setting__image img {
        width: 100%;
        height: auto;
        display: block;
    }

    .ytstar .setting__image .star-l {
        bottom: 690px;
        width: 203px;
        left: -120px;
        z-index: -1;
    }

    .ytstar .setting__landing {
        margin-top: 99px;
        margin-bottom: -130px;
        position: relative;
    }

    .ytstar .setting__landing-title {
        color: #fff;
        font: 40px/40px Ubuntu;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        text-align: center;
        margin-bottom: -70px;
    }

    .ytstar .setting__landing-sub {
        opacity: 0.2;
        color: #fff;
        font: 195px/195px ColunaDCBold;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        display: block;
    }

    .ytstar .thankyou {
        padding: 84px 0px;
        position: relative;
    }

    .ytstar .thankyou .star-r {
        width: 124px;
        right: 471px;
        bottom: 52px;
    }

    .ytstar .thankyou__bg {
        position: absolute;
        top: 0px;
        top: -35px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0.05;
        overflow: hidden;
        color: #222222;
        font: 500px/500px ColunaDCBold;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.47px;
        text-align: center;
    }

    .ytstar .thankyou__title {
        color: #ff1818;
        font: 110px/110px ColunaDCBold;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2.75px;
        display: block;
        text-align: center;
        padding-right: 130px;
    }

    .ytstar .thankyou__sub {
        color: #222222;
        font: 40px/20px Ubuntu;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        text-align: center;
        padding-left: 130px;
    }

    @-webkit-keyframes colanim {
        from {
            -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
        to {
            -webkit-transform: translate(-15px, -15px);
            transform: translate(-15px, -15px);
        }
    }

    @keyframes colanim {
        from {
            -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
        }
        to {
            -webkit-transform: translate(-15px, -15px);
            transform: translate(-15px, -15px);
        }
    }

    .color-anim {
        -webkit-animation: colanim 1.7s ease alternate infinite;
        animation: colanim 1.7s ease alternate infinite;
    }

    @media only screen and (max-width: 1024px) {
        .ytstar .header__slide-image {
            width: 100%;
            right: auto;
            top: auto;
        }

        .ytstar .header__slide-layer-1 {
            top: auto;
            right: auto;
            width: 100%;
            position: relative;
        }

        .ytstar .header__slide-layer-2 {
            bottom: 60px;
            right: 20px;
            display: block;
            position: relative;
        }

        .ytstar .header__inner-content-list li p {
            font-size: 14px;
            line-height: 24px;
        }

        .ytstar .title__bg {
            right: 0;
            left: 0;
        }

        .ytstar .task .star-r,
        .ytstar .thankyou .star-r {
            right: 0;
        }
    }

    @media only screen and (max-width: 768px) {
        .ytstar .header__slide-layer-1 {
            top: 320px;
            right: 50px;
            width: 470px;
            position: absolute;
            z-index: 1;
        }

        .ytstar .header__slide-layer-2 {
            top: 250px;
            position: absolute;
        }

        .ytstar .store__image-left {
            width: 100%;
            height: auto;
            top: 0;
            margin-bottom: 20px;
        }

        .ytstar .store__image-right {
            float: none;
            width: 100%;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .ytstar .store__image-right-bottom {
            width: 100%;
            height: auto;
            right: auto;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .ytstar .sale {
            margin-top: 30px;
        }

        .ytstar .lavel,
        .ytstar .setting {
            margin-top: 40px;
        }

        .ytstar .setting__landing-sub {
            font-size: 142px;
        }

        .ytstar .setting__landing {
            margin-top: 50px;
        }

        .ytstar .thankyou__bg {
            font: 320px/320px ColunaDCBold;
            z-index: -1;
        }

        .ytstar .thankyou {
            padding: 35px 0px;
        }

        .ytstar .star-r,
        .ytstar .star-l {
            display: none;
        }
    }

    @media only screen and (max-width: 425px) {
        .ytstar .header__inner-content-title {
            font-size: 18px;
        }

        .ytstar .header__slide-layer-1 {
            position: relative;
            top: 10px;
            right: auto;
            width: 100%;
        }

        .ytstar .header__slide-layer-2 {
            position: relative;
            top: -160px;
            width: 100%;
        }

        .ytstar .header {
            padding-bottom: 0px;
        }

        .panel {
            margin-top: -50px;
        }

        .ytstar .title__main {
            font: 21px/21px UbuntuBold;
        }

        .ytstar .title__icon {
            width: 32px;
            margin: 0 10px 0 0;
        }

        .ytstar .title__bg {
            font: 132px/132px ColunaDCBold;
            top: 5px;
        }

        .ytstar .task,
        .ytstar .store,
        .ytstar .sale,
        .ytstar .lavel,
        .ytstar .setting {
            margin-top: 35px;
            margin-bottom: 0;
        }

        .ytstar .setting__landing-sub {
            font-size: 81px;
        }

        .ytstar .thankyou__title {
            font: 72px/72px ColunaDCBold;
        }

        .ytstar .thankyou__sub {
            font: 28px/20px Ubuntu;
            font-weight: 700;
        }

        .ytstar .thankyou {
            padding: 10px 0 80px 0;
        }
    }

    @media only screen and (max-width: 375px) {
        .ytstar .header__inner-content-list li p {
            font-size: 12px;
        }

        .ytstar .thankyou__bg {
            font: 240px/250px ColunaDCBold;
        }

        .ytstar .header__inner-content-sub-fonts {
            width: 100%;
        }
    }

    @media only screen and (max-width: 320px) {
        .ytstar .header__inner-content-title {
            font-size: 16px;
        }

        .ytstar .header__inner-content-sub-color {
            margin-bottom: 15px;
        }

        .ytstar .header__inner-content-list {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }

        .ytstar .header__slide-layer-2 {
            width: 100%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -130px;
        }

        .ytstar .header__slide-layer-1 {
            top: -85px;
        }

        .panel {
            margin-top: -90px;
        }

        .ytstar .task, .ytstar .store, .ytstar .sale, .ytstar .lavel, .ytstar .setting {
            margin-top: 30px;
            padding: 0;
        }

        .ytstar .title__bg {
            font: 62px/87px ColunaDCBold;
        }

        .ytstar .task .title__bg {
            right: 0;
            top: 20px;
        }

        .ytstar .title__main {
            font: 18px/18px UbuntuBold;
        }

        .ytstar .title__bg {
            display: none;
        }

        .ytstar .panel__image,
        .ytstar .task__image,
        .ytstar .sale__image,
        .ytstar .lavel__image,
        .ytstar .setting__image {
            margin-top: 30px;
        }

        .ytstar .setting__landing-sub {
            font-size: 62px;
        }

        .ytstar .thankyou__title {
            font: 52px/52px ColunaDCBold;
        }

        .ytstar .thankyou__sub {
            font: 18px/20px Ubuntu;
            font-weight: 700;
            padding-left: 80px;
        }

        .ytstar .thankyou {
            padding: 20px 0px;
            margin-bottom: 50px;
        }
    }

    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
    }

    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
        }
    }

    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
        }
    }

</style>