<template>
    <u-animate-container
            :config="config">
        <main class="yugo-zapad">
        <!--set meta data-->
        <vue-headful
                title="Разработка портала Юго-запад - сайт недвижимости на Framework Laravel"
                description="Разработка портала для компании Юго-запад, разработан на фреймворке Laravel 5. Адаптирован под мобильные устройства и планшеты."
                keywords=""
        />
        <!--end set meta data-->
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-6 align-right">
                        <u-animate
                                name="bounceInRight"
                                delay="0s"
                                duration="1s"
                                el="h1"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            Разработка сайта недвижимости
                        </u-animate>
                        <u-animate
                                name="bounceInRight"
                                delay="0.5s"
                                duration="1s"
                                el="p"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            "Юго-запад"
                        </u-animate>
                        <u-animate
                                name="bounceInRight"
                                delay="0.6s"
                                duration="1s"
                                :iteration="1"
                                :offset="0"
                                animateClass="animated"
                                :begin="false"
                        >
                            <a href="https://realty-odessa.ua/" rel="nofollow" target="blank" class="btn read-more" tabindex="-1">Перейти на сайт</a>
                        </u-animate>
                    </div>
                </div>
            </div>
        </section>

        <section class="about">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="fadeInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6 "
                    >
                        <h3>Инструменты разработки</h3>
                        <div class="divider"></div>
                        <p>Concept design; Web UI/UX; Design Web Development; Front-End: фреймворк Materialize; Back-End: фреймворк Laravel 5;</p>
                    </u-animate>
                    <u-animate
                            name="fadeInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6 "
                    >
                        <h3>Элегантное решение современного дизайна</h3>
                        <div class="divider"></div>
                        <p>Для проекта были разработаны две концепции дизайна. Сайт выполнен в корпоративных цветах компании. Для разработки сайта использовались последние тенденции. И самое главное, разработка велась с учетом нужд заказчика, функциональноть была на первом месте. Сайт удобный, функциональный, разработан на популярном динамическом фреймворке Laravel 5 и адаптирован под различные устройства.</p>
                    </u-animate>
                    <u-animate
                            name="fadeIn"
                            delay="0.5s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12"
                    >
                        <img src="~@/assets/images/yugo-zapad/aboutImg.png" alt="aboutImg">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="features">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="fadeInUpBig"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-4  center"
                    >
                        <img src="~@/assets/images/yugo-zapad/iconTools.png" alt="iconTools">
                        <p>Функционально <span>новый сайт</span></p>
                    </u-animate>
                    <u-animate
                            name="fadeInUpBig"
                            delay="0.5s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-4  center"
                    >
                        <img src="~@/assets/images/yugo-zapad/iconSearch.png" alt="iconSearch">
                        <p>Удобный и функциональный <span>поиск объектов</span></p>
                    </u-animate>
                    <u-animate
                            name="fadeInUpBig"
                            delay="1s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-4  center"
                    >
                        <img src="~@/assets/images/yugo-zapad/iconTarget.png" alt="iconTarget"/>
                        <p>Мощный презинтационный <span>wow-эффект</span></p>
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="adaptive">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="rotateInDownLeft"
                            delay="1s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <h3>Проектирование сайта под просмотр на планшете/динамическое меню</h3>
                        <div class="divider"></div>
                        <p>Сайт создан, ориентируясь на возможности сенсорных телефонов, в основном под возможности ipad или iphone. Сайт помещается на любом экране, грациозно переливаясь с одной страницы на другую, а также с помощю динамики спроектированы скрытые новости сайта. Сайт спроектирован на фреймворке Laravel 5, с подключением к CRM системе заказчика. Он функционально настроен так, что одним нажатием заказчик отправляет информацию об объектах со своей базы данных на сайт.</p>
                    </u-animate>
                    <u-animate
                            name="rotateInDownRight"
                            delay="1s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <img src="~@/assets/images/yugo-zapad/adaptiveImg.png" alt="adaptiveImg">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="search">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 align-right">
                        <div class="textOnCloud">
                            <h3>Удобный поиск</h3>
                            <div class="divider"></div>
                            <p>Навигационная панель позволит без затруднений найти пользователю нужные объекты</p>
                        </div>
                        <img class="cloud" src="~@/assets/images/yugo-zapad/cloud.png" alt="cloud">
                    </div>
                    <u-animate
                            name="bounceInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-6"
                    >
                        <img class="iphone" src="~@/assets/images/yugo-zapad/iphone.png" alt="iphone">
                        <img class="screenMenu hide-on-small-only" data-wow-delay="0.2s" src="~@/assets/images/yugo-zapad/screenMenu.png" alt="screenMenu">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="crm">
            <div class="container">
                <div class="row">
                    <u-animate
                            name="tada"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <img src="~@/assets/images/yugo-zapad/ipad.png" alt="ipad">
                    </u-animate>
                    <div class="col-xs-12 col-md-6">
                        <h3>Персональная админпанель с привязкой к CRM системе</h3>
                        <div class="divider"></div>
                        <p>Специально разработанная админ панель позволяет легко обновлять объекты на сайте с помощью CRM системы, которая синхронизированна с базой данных портала. Легкий Импорт-Экспорт объектов позволяет производить обновление контента и неперегружать сервер.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="pages">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center">
                        <h3>Что получил клиент?<br> <span>Инновационное решение</span></h3>
                        <div class="divider"></div>
                        <p class="center">Удобное меню, ориентированый дизайн, психологически правильно расположеный контент привлекает пользователя ознакомиться с возможностями компании.</p>
                    </div>
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p>Главная страница</p>
                        <img src="~@/assets/images/yugo-zapad/yugo-zapad-main.jpg" alt="yugo-zapad-main">
                    </u-animate>
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p>Страница каталога</p>
                        <img src="~@/assets/images/yugo-zapad/yugo-zapad-catalog.jpg" alt="yugo-zapad-catalog">
                    </u-animate>
                </div>
                <div class="row">
                    <u-animate
                            name="zoomInRight"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p>Страница карточки товара</p>
                        <img src="~@/assets/images/yugo-zapad/yugo-zapad-product.jpg" alt="yugo-zapad-product">
                    </u-animate>
                    <u-animate
                            name="zoomInLeft"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 col-md-6"
                    >
                        <p>Второй вариант дизайна</p>
                        <img src="~@/assets/images/yugo-zapad/yugo-zapad-2.jpg" alt="yugo-zapad-2">
                    </u-animate>
                </div>
            </div>
        </section>

        <section class="specials">
            <div class="container">
                <div class="row center">
                    <div class="col-xs-12">
                        <h3>Особенности сайта</h3>
                        <div class="divider"></div>
                    </div>
                    <u-animate
                            name="pulse"
                            delay="0s"
                            duration="1s"
                            :iteration="1"
                            :offset="0"
                            animateClass="animated"
                            :begin="false"
                            class="col-xs-12 blocks"
                    >
                        <div class="col-xs-12 col-md-4 block1">
                            <p>Russo One Regular</p>
                            <p>АБВГДЕЁЖЗИЙКЛМНО</p>
                            <p>абвгдеёжзийклмно</p>
                            <p>0123456789</p>
                        </div>
                        <div class="col-xs-12 col-md-4 block2" data-wow-delay="1s">
                            <p>Days Regular</p>
                            <p>АБВГДЕЁЖЗИЙКЛМНО</p>
                            <p>абвгдеёжзийклмно</p>
                            <p>0123456789</p>
                        </div>
                        <div class="col-xs-12 col-md-4 block3" data-wow-delay="0.5s">
                            <p>Myriad Pro Regular</p>
                            <p>АБВГДЕЁЖЗИЙКЛМНО</p>
                            <p>абвгдеёжзийклмно</p>
                            <p>0123456789</p>
                        </div>
                    </u-animate>
                    <div class="col-xs-12 circles center">
                        <div class="circle1">
                            <p>Черный #212121</p>
                        </div>
                        <div class="circle2">
                            <p>Серый #e0e0e0</p>
                        </div>
                        <div class="circle3">
                            <p>Красный #bf360c</p>
                        </div>
                        <div class="circle4">
                            <p>Оранжевый #df4c2e</p>
                        </div>
                    </div>
                    <div class="col-xs-12 button center">
                        <a href="https://realty-odessa.ua/" rel="nofollow" target="blank" class="btn read-more" tabindex="0">Подробнее</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </u-animate-container>
</template>

<script>
    import {UAnimateContainer, UAnimate} from 'vue-wow';
    export default {
        data () {
            return {
                config: {
                    mobile: false
                }

            }
        },
        watch: {},
        components: {
            UAnimateContainer,
            UAnimate
        },
    }

</script>

<style scoped>
    @font-face {
        font-family: 'RobotoBold_3';
        src: url('~@/assets/fonts/Roboto-Bold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'RussoOneRegular';
        src: url('~@/assets/fonts/RussoOneRegular.eot');
        src: url('~@/assets/fonts/RussoOneRegular.eot') format('embedded-opentype'),
        url('~@/assets/fonts/RussoOneRegular.woff2') format('woff2'),
        url('~@/assets/fonts/RussoOneRegular.woff') format('woff'),
        url('~@/assets/fonts/RussoOneRegular.ttf') format('truetype'),
        url('~@/assets/fonts/RussoOneRegular.svg#RussoOneRegular') format('svg');
    }
    @font-face {
        font-family: 'DaysRegular';
        src: url('~@/assets/fonts/DaysRegular.eot');
        src: url('~@/assets/fonts/DaysRegular.eot') format('embedded-opentype'),
        url('~@/assets/fonts/DaysRegular.woff2') format('woff2'),
        url('~@/assets/fonts/DaysRegular.woff') format('woff'),
        url('~@/assets/fonts/DaysRegular.ttf') format('truetype'),
        url('~@/assets/fonts/DaysRegular.svg#DaysRegular') format('svg');
    }
    p, h2, h3{
        margin: 0;
    }
    .center{
        text-align: center;
    }

    body.yugo-zapad {
        overflow-x: hidden;
    }

    .yugo-zapad .divider {
        display: block;
        height: 10px;
        background: #fff;
    }

    .yugo-zapad .divider:before {
        content: "";
        display: block;
        width: 100%;
        max-width: 95px;
        height: 5px;
        background: #606060;
        position: relative;
        left: 0;
        right: 0;
        bottom: -3px;
        margin: auto;
        z-index: 1;
    }

    .yugo-zapad .divider:after {
        content: "";
        display: block;
        width: 100%;
        max-width: 169px;
        height: 1px;
        background: #c3c3c3;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }
    .yugo-zapad .align-right {
        text-align: right;
    }
    .yugo-zapad .header {
        background: url("~@/assets/images/yugo-zapad/bgHeader.jpg") no-repeat center;
        background-size: cover;
        height: 769px;
    }

    .yugo-zapad .header h1 {
        color: #fff;
        font-family: Calibri, sans-serif;
        text-transform: uppercase;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
        margin-top: 180px;
    }

    .yugo-zapad .header p {
        color: #fff;
        font-family: Calibri, sans-serif;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 300;
        line-height: 50px;
        text-align: right;
    }

    .yugo-zapad .about {
        background: #fff url("~@/assets/images/yugo-zapad/bgAbout.png") no-repeat left bottom;
    }

    .yugo-zapad .about .row {
        margin-bottom: 0;
    }

    .yugo-zapad .about h3 {
        color: #414141;
        font-family: DaysRegular;
        font-size: 25px;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        height: 70px;
        margin: 36px 0 24px 0;
    }

    .yugo-zapad .about p {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        margin-top: 20px;
    }

    .yugo-zapad .about img {
        width: 100%;
    }

    .yugo-zapad .features {
        background-color: #424242;
        height: 240px;
        padding-top: 50px;
    }

    .yugo-zapad .features p {
        color: #fff;
        font-family: Calibri, sans-serif;
        font-weight: 300;
        font-size: 25px;
        line-height: 25px;
        text-transform: uppercase;
        text-align: center;
        width: 230px;
        margin: 30px auto 0;
    }

    .yugo-zapad .features p span {
        font-size: 20px;
        line-height: 20px;
        text-transform: lowercase;
    }

    .yugo-zapad .adaptive {
        background: url("~@/assets/images/yugo-zapad/bgAdaptive.jpg") no-repeat center;
        background-size: cover;
        height: 683px;
        padding-top: 130px;
    }

    .yugo-zapad .adaptive h3 {
        color: #fff;
        font-family: RobotoBold_3;
        font-size: 25px;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        height: 70px;
        margin: 36px 0 24px 0;
    }

    .yugo-zapad .adaptive .divider {
        background: transparent;
    }

    .yugo-zapad .adaptive .divider:before {
        background: #fff;
    }

    .yugo-zapad .adaptive .divider:after {
        background: #fff;
    }

    .yugo-zapad .adaptive p {
        color: #fff;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
    }

    .yugo-zapad .adaptive img {
        width: 100%;
    }

    .yugo-zapad .search {
        background: #fff url("~@/assets/images/yugo-zapad/bgSearch.png") no-repeat;
        background-size: contain;
        height: 100%;
    }

    .yugo-zapad .search img.cloud {
        position: relative;
        bottom: 90px;
        right: -90px;
    }

    .yugo-zapad .search img.iphone {
        position: relative;
        bottom: -41px;
        left: 65px;
        z-index: 1;
    }

    .yugo-zapad .search img.screenMenu {
        position: relative;
        bottom: -54px;
        left: 40px;
    }

    .yugo-zapad .search .textOnCloud {
        width: 275px;
        position: relative;
        top: 185px;
        left: 306px;
        z-index: 1;
    }

    .yugo-zapad .search h3 {
        color: #fff;
        margin: 36px 0 24px 0;
        font-family: RobotoBold_3;
        font-size: 25px;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
    }

    .yugo-zapad .search p {
        color: #fff;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
    }

    .yugo-zapad .search .divider {
        background: transparent;
    }

    .yugo-zapad .search .divider:before {
        background: #fff;
    }

    .yugo-zapad .search .divider:after {
        background: #fff;
    }

    .yugo-zapad .crm {
        background-color: #efefef;
    }

    .yugo-zapad .crm img {
        width: 100%;
    }

    .yugo-zapad .crm h3 {
        color: #414141;
        font-family: RobotoBold_3;
        font-size: 25px;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
        margin: 36px 0 24px 0;
    }

    .yugo-zapad .crm p {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
    }

    .yugo-zapad .crm .divider {
        background: transparent;
    }

    .yugo-zapad .pages h3 {
        color: #414141;
        font-family: DaysRegular;
        font-size: 25px;
        line-height: 40px;
        text-transform: uppercase;
        margin: 36px 0 24px 0;
    }

    .yugo-zapad .pages h3 span {
        color: #414141;
        font-family: DaysRegular;
        font-size: 25px;
        line-height: 30px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .yugo-zapad .pages p {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
        margin: 20px;
    }

    .yugo-zapad .pages img {
        width: 100%;
    }

    .yugo-zapad .specials {
        background: #f6f6f6 url("~@/assets/images/yugo-zapad/bgSpecials.png") no-repeat left bottom;
    }

    .yugo-zapad .specials h3 {
        color: #414141;
        font-family: DaysRegular;
        font-size: 25px;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase;
        margin: 36px 0 24px 0;
    }

    .yugo-zapad .specials .divider {
        background: transparent;
    }

    .yugo-zapad
    .specials .block1,
    .specials .block2,
    .specials .block3 {
        margin-top: 30px;
        border: 2px solid #414141;
    }

    .yugo-zapad .specials .block1 p {
        color: #414141;
        font-family: RussoOneRegular;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }

    .yugo-zapad .specials .block2 p {
        color: #414141;
        font-family: DaysRegular;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }

    .yugo-zapad .specials .block3 p {
        color: #414141;
        font-family: "Myriad Pro";
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }
    .yugo-zapad
    .specials .circle1,
    .specials .circle2,
    .specials .circle3,
    .specials .circle4 {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        display: inline-block;
    }

    .yugo-zapad .specials .circles {
        margin-top: 55px;
    }

    .yugo-zapad .specials .circles p {
        color: #414141;
        font-family: Calibri, sans-serif;
        font-size: 15px;
        line-height: 17px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        padding-top: 80px;
        margin-top: 20px;
    }

    .yugo-zapad .specials .circles .circle1 {
        background-color: #212121;
        margin: 0 10px 0 0;
    }

    .yugo-zapad .specials .circles .circle2 {
        background-color: #e0e0e0;
        margin: 0 10px 0 10px;
    }

    .yugo-zapad .specials .circles .circle3 {
        background-color: #bf360c;
        margin: 0 10px 0 10px;
    }

    .yugo-zapad .specials .circles .circle4 {
        background-color: #df4c2e;
        margin: 0 0 0 10px;
    }

    .yugo-zapad .specials button {
        margin: 100px 0;
    }

    .yugo-zapad .specials .row {
        margin-bottom: 0;
    }

    .yugo-zapad .footer {
        margin-top: 0;
    }
    .yugo-zapad .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat #df4c2e;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 15px 0;
        z-index: 10;
    }
    .yugo-zapad .read-more:hover {
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none;
        z-index: 10;
    }
    .yugo-zapad .button .read-more {
        display: inline-block;
        font-size: 18px;
        font-family: 'robotoregular_3';
        color: #fff;
        letter-spacing: 1px;
        padding: 15px 100px 15px 45px;
        text-transform: lowercase;
        background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat #df4c2e;
        background-position-x: 85%;
        border: 2px solid transparent;
        z-index: 1;
        margin: 15px 0;
        z-index: 10;
    }
    .yugo-zapad .button .read-more:hover {
        background: url(~@/assets/images/e-crewing/arrowBtnRight-hover.png) left center no-repeat;
        background-position-x: 85%;
        border: 2px solid #000;
        color: #000;
        text-decoration: none;
        z-index: 10;
    }
    .yugo-zapad .button {
        margin: 80px 0;
    }
    /* Media */

    @media screen and (max-width: 1280px) {

        .yugo-zapad .container {
            margin-left: auto;
            margin-right: auto;
            width: 95%;
            position: relative;
            overflow: visible;
        }

        .yugo-zapad .search {
            background: #fff url("~@/assets/images/yugo-zapad/bgSearch.png") no-repeat -350px;
            background-size: cover;
            height: 630px;
        }

        .yugo-zapad .search .textOnCloud {
            width: 275px;
            position: relative;
            top: 195px;
            left: 320px;
            z-index: 1;
        }

        .yugo-zapad .search img.iphone {
            position: relative;
            bottom: -90px;
            left: 65px;
            z-index: 1;
        }

        .yugo-zapad .search img.screenMenu {
            position: relative;
            bottom: -90px;
            left: 40px;
        }

        .yugo-zapad .crm img {
            width: 100%;
            margin: 20px 0;
        }
        .yugo-zapad .header h1 {
            font-size: 54px;
        }

    }

    @media screen and (max-width: 1024px) {

        .yugo-zapad .header {
            background: url("~@/assets/images/yugo-zapad/bgHeader.jpg") no-repeat center;
            background-size: cover;
            height: 410px;
        }

        .yugo-zapad .header h1 {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 700;
            line-height: 45px;
            margin-top: 100px;
        }

        .yugo-zapad .header p {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 300;
            line-height: 45px;
            text-align: right;
        }

        .yugo-zapad .about h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 20px;
            line-height: 35px;
            text-transform: uppercase;
            text-align: center;
            height: 70px;
        }

        .yugo-zapad .about p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 18px;
            font-weight: 300;
            line-height: 23px;
            text-align: center;
        }

        .yugo-zapad .features p {
            color: #fff;
            font-family: DaysRegular;
            font-weight: 300;
            font-size: 23px;
            line-height: 23px;
            text-transform: uppercase;
            text-align: center;
            width: 230px;
            margin: 30px auto 0;
        }

        .yugo-zapad .adaptive h3 {
            color: #fff;
            font-family: DaysRegular;
            font-size: 20px;
            font-weight: 400;
            line-height: 35px;
            text-transform: uppercase;
            text-align: center
        }

        .yugo-zapad .adaptive p {
            color: #fff;
            font-family: DaysRegular;
            font-size: 18px;
            font-weight: 300;
            line-height: 23px;
            text-align: center;
        }

        .yugo-zapad .adaptive {
            background: url("~@/assets/images/yugo-zapad/bgAdaptive.jpg") no-repeat center;
            background-size: cover;
            height: 450px;
            padding-top: 0px;
        }

        .yugo-zapad .adaptive img {
            padding-top: 50px;
            width: 100%;
        }

        .yugo-zapad .search {
            background: #fff url("~@/assets/images/yugo-zapad/bgSearch.png") no-repeat -255px;
            background-size: cover;
            height: 510px;
        }

        .yugo-zapad .search h3 {
            color: #fff;
            font-family: DaysRegular;
            font-size: 20px;
            font-weight: 400;
            line-height: 35px;
            text-transform: uppercase;
            text-align: center;
        }

        .yugo-zapad .search p {
            color: #fff;
            font-family: DaysRegular;
            font-size: 18px;
            font-weight: 300;
            line-height: 23px;
            text-align: center;
        }

        .yugo-zapad .search img.cloud {
            width: 70%;
            position: relative;
            bottom: 110px;
            right: -40px;
        }

        .yugo-zapad .search img.iphone {
            width: 45%;
            position: relative;
            bottom: -105px;
            left: 15px;
            z-index: 1;
        }

        .yugo-zapad .search img.screenMenu {
            width: 42%;
            position: relative;
            bottom: -104px;
            left: -3px;
        }

        .yugo-zapad .search .textOnCloud {
            width: 275px;
            position: relative;
            top: 125px;
            left: 195px;
            z-index: 1;
        }

        .yugo-zapad .crm h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 20px;
            font-weight: 400;
            line-height: 35px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 20px;
        }

        .yugo-zapad .crm p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 18px;
            font-weight: 300;
            line-height: 23px;
            text-align: center;
        }

        .yugo-zapad .crm img {
            width: 100%;
            margin: 20px 0;
        }

        .yugo-zapad .pages h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 20px;
            line-height: 35px;
            text-transform: uppercase;
        }

        .yugo-zapad .pages h3 span {
            color: #414141;
            font-family: DaysRegular;
            font-size: 20px;
            line-height: 25px;
            font-weight: 300;
            text-transform: uppercase;
        }

        .yugo-zapad .pages p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 18px;
            line-height: 23px;
            font-weight: 300;
        }

        .yugo-zapad .specials h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 20px;
            font-weight: 400;
            line-height: 35px;
            text-transform: uppercase;
        }

        .yugo-zapad .specials .block1 p {
            color: #414141;
            font-family: RussoOneRegular;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
        }

        .yugo-zapad .specials .block2 p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
        }

        .yugo-zapad .specials .block3 p {
            color: #414141;
            font-family: "Myriad Pro";
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
        }

    }

    @media screen and (max-width: 768px) {

        .yugo-zapad .header {
            background: url("~@/assets/images/yugo-zapad/bgHeader.jpg") no-repeat -158px;
            background-size: cover;
            height: 400px;
        }

        .yugo-zapad .header h1 {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 35px;
            font-weight: 700;
            line-height: 40px;
            margin-top: 100px;
        }

        .yugo-zapad .about h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
            height: 50px;
        }

        .yugo-zapad .about p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
        }

        .yugo-zapad .features p {
            color: #fff;
            font-family: DaysRegular;
            font-weight: 300;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            text-align: center;
            width: 210px;
            margin: 30px auto 0;
        }

        .yugo-zapad .adaptive h3 {
            color: #fff;
            font-family: DaysRegular;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
        }

        .yugo-zapad .adaptive p {
            color: #fff;
            font-family: DaysRegular;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
        }

        .yugo-zapad .adaptive img {
            padding-top: 102px;
            width: 100%;
        }

        .yugo-zapad .search {
            background: #fff url("~@/assets/images/yugo-zapad/bgSearch.png") no-repeat -220px;
            background-size: cover;
            height: 451px;
        }

        .yugo-zapad .search h3 {
            color: #fff;
            font-family: DaysRegular;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
        }

        .yugo-zapad .search p {
            color: #fff;
            font-family: DaysRegular;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
        }

        .yugo-zapad .search img.cloud {
            width: 80%;
            position: relative;
            bottom: 85px;
            right: -30px;
        }

        .yugo-zapad .search img.iphone {
            width: 45%;
            position: relative;
            bottom: -147px;
            left: 15px;
            z-index: 1;
        }

        .yugo-zapad .search img.screenMenu {
            width: 42%;
            position: relative;
            bottom: -146px;
            left: 0px;
        }

        .yugo-zapad .search .textOnCloud {
            width: 275px;
            position: relative;
            top: 125px;
            left: 90px;
            z-index: 1;
        }

        .yugo-zapad .crm h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 0;
        }

        .yugo-zapad .crm p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
        }

        .yugo-zapad .crm img {
            width: 100%;
            margin: 20px 0;
            padding: 35px 0;
        }

        .yugo-zapad .pages h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
        }

        .yugo-zapad .pages h3 span {
            color: #414141;
            font-family: DaysRegular;
            font-size: 18px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
        }

        .yugo-zapad .pages p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
        }

        .yugo-zapad .specials h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
        }

        .yugo-zapad .specials .block1 p {
            color: #414141;
            font-family: RussoOneRegular;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
        }

        .yugo-zapad .specials .block2 p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
        }

        .yugo-zapad .specials .block3 p {
            color: #414141;
            font-family: "Myriad Pro";
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
        }

    }

    @media screen and (max-width: 736px) {

        .yugo-zapad .about h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
            height: 50px;
        }

        .yugo-zapad .adaptive h3 {
            color: #fff;
            font-family: DaysRegular;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
        }

        .yugo-zapad .search h3 {
            color: #fff;
            font-family: DaysRegular;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
        }

        .yugo-zapad .search img.cloud {
            width: 85%;
            position: relative;
            bottom: 85px;
            right: -30px;
        }

        .yugo-zapad .search .textOnCloud {
            width: 275px;
            position: relative;
            top: 125px;
            left: 75px;
            z-index: 1;
        }

        .yugo-zapad .search img.iphone {
            width: 50%;
            position: relative;
            bottom: -130px;
            left: 10px;
            z-index: 1;
        }

        .yugo-zapad .search img.screenMenu {
            width: 47%;
            position: relative;
            bottom: -130px;
            left: -6px;
        }

        .yugo-zapad .crm h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 0;
        }

        .yugo-zapad .crm img {
            width: 100%;
            margin: 20px 0;
            padding: 20px 0;
        }

        .yugo-zapad .pages h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
        }

        .yugo-zapad .pages h3 span {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
        }

        .yugo-zapad .specials h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-transform: uppercase;
        }

        .yugo-zapad .specials .block1 p {
            color: #414141;
            font-family: RussoOneRegular;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
        }

        .yugo-zapad .specials .block2 p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
        }

        .yugo-zapad .specials .block3 p {
            color: #414141;
            font-family: MyriadProRegular_7;
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
        }

    }

    @media screen and (max-width: 667px) {

        .yugo-zapad .header {
            background: url("~@/assets/images/yugo-zapad/bgHeader.jpg") no-repeat -158px;
            background-size: cover;
            height: 360px;
        }

        .yugo-zapad .header h1 {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 35px;
            font-weight: 700;
            line-height: 40px;
            margin-top: 55px;
        }

        .yugo-zapad .adaptive {
            background: url("~@/assets/images/yugo-zapad/bgAdaptive.jpg") no-repeat center;
            background-size: cover;
            height: 495px;
            padding-top: 0px;
        }

        .yugo-zapad .adaptive img {
            padding-top: 135px;
            width: 100%;
        }

        .yugo-zapad .search {
            background: #fff url("~@/assets/images/yugo-zapad/bgSearch.png") no-repeat -183px;
            background-size: cover;
            height: 434px;
        }

        .yugo-zapad .search img.cloud {
            width: 90%;
            position: relative;
            bottom: 85px;
            right: -30px;
        }

        .yugo-zapad .search .textOnCloud {
            width: 275px;
            position: relative;
            top: 117px;
            left: 49px;
            z-index: 1;
        }

        .yugo-zapad .search img.iphone {
            width: 50%;
            position: relative;
            bottom: -146px;
            left: 10px;
            z-index: 1;
        }

        .yugo-zapad .search img.screenMenu {
            width: 47%;
            position: relative;
            bottom: -145px;
            left: -6px;
        }

        .yugo-zapad .crm img {
            width: 100%;
            margin: 20px 0;
            padding: 50px 0;
        }

        .yugo-zapad .specials .block2 p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 13px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
        }
        .yugo-zapad .read-more {
            display: inline-block;
            font-size: 16px;
            font-family: 'robotoregular_3';
            color: #fff;
            letter-spacing: 1px;
            padding: 15px 100px 15px 45px;
            text-transform: lowercase;
            background: url(~@/assets/images/e-crewing/arrowBtnRight.png) left center no-repeat #df4c2e;
            background-position-x: 85%;
            border: 2px solid transparent;
            z-index: 1;
            margin: 15px 0;
            z-index: 10;
        }
        .yugo-zapad .header h1 {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            margin-top: 31px;
            margin-left: 0;
            padding: 9px;
            background-color: rgba(0, 0, 0, 0.42);
            text-align: center;
        }
        .yugo-zapad .header p {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 300;
            line-height: 35px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.45);
            padding: 7px;
        }

    }

    @media screen and (max-width: 568px) {

        .yugo-zapad .header {
            background: url("~@/assets/images/yugo-zapad/bgHeader.jpg") no-repeat -158px;
            background-size: cover;
            height: 310px;
        }

        .yugo-zapad .header h1 {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
            margin-top: 55px;
        }

        .yugo-zapad
        .header button.buttonRed span:first-child,
        .specials button.buttonRed span:first-child {
            width: 185px;
            height: 41px;
            padding: 12px 0 0 0;
            font-size: 18px;
            text-align: center;
        }

        .yugo-zapad .about {
            background: #fff url("~@/assets/images/yugo-zapad/bgAbout.png") no-repeat left bottom;
            padding-top: 20px;
        }

        .yugo-zapad .about h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
            height: 25px;
        }

        .yugo-zapad .features {
            background-color: #424242;
            height: 460px;
            padding-top: 0px;
        }

        .yugo-zapad .features .col {
            margin-top: 20px;
        }

        .yugo-zapad .adaptive {
            background: url("~@/assets/images/yugo-zapad/bgAdaptive.jpg") no-repeat center;
            background-size: cover;
            height: 635px;
            padding-top: 20px;
        }

        .yugo-zapad .adaptive img {
            padding-top: 0px;
            width: 100%;
        }

        .yugo-zapad .search {
            background: #fff url("~@/assets/images/yugo-zapad/bgSearch.png") no-repeat -250px;
            background-size: cover;
            height: 434px;
        }

        .yugo-zapad .search img.iphone {
            width: 75%;
            position: relative;
            bottom: -71px;
            left: 63px;
            z-index: 1;
        }

        .yugo-zapad .search img.cloud {
            width: 110%;
            position: relative;
            bottom: 85px;
            right: -57px;
        }

        .yugo-zapad .crm img {
            width: 100%;
            margin: 0px 0;
            padding: 20px 0;
        }

    }

    @media screen and (max-width: 480px) {

        .yugo-zapad .header {
            background: url("~@/assets/images/yugo-zapad/bgHeader.jpg") no-repeat -190px;
            background-size: cover;
            height: 310px;
        }

        .yugo-zapad .header h1 {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 700;
            line-height: 35px;
            margin-top: 55px;
        }

        .yugo-zapad .header p {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 300;
            line-height: 35px;
            text-align: right;
        }

        .yugo-zapad
        .header button.buttonRed span:first-child,
        .specials button.buttonRed span:first-child {
            width: 150px;
            height: 30px;
            padding: 8px 0 0 0;
            font-size: 14px;
            text-align: center;
        }

        .yugo-zapad
        .header button.buttonRed span:last-child,
        .specials button.buttonRed span:last-child {
            width: 30px;
            height: 30px;
            position: relative;
        }

        .yugo-zapad .specials button {
            margin: 50px 0 100px;
        }

        .yugo-zapad .about h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
            height: 35px;
        }

        .yugo-zapad .search {
            background: #fff url("~@/assets/images/yugo-zapad/bgSearch.png") no-repeat -250px;
            background-size: cover;
            height: 370px;
        }

        .yugo-zapad .search img.cloud {
            width: 130%;
            position: relative;
            bottom: 85px;
            right: -23px;
        }

        .yugo-zapad .search .textOnCloud {
            width: 275px;
            position: relative;
            top: 113px;
            left: 13px;
            z-index: 1;
        }

        .yugo-zapad .specials {
            background: #f6f6f6 url("~@/assets/images/yugo-zapad/bgSpecials.png") no-repeat left bottom;
            padding-top: 20px;
        }

    }

    @media screen and (max-width: 414px) {

        .yugo-zapad .header {
            background: url("~@/assets/images/yugo-zapad/bgHeader.jpg") no-repeat -285px;
            background-size: cover;
            height: 375px;
        }

        .yugo-zapad .header h1 {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            margin-top: 31px;
        }

        .yugo-zapad .search img.iphone {
            width: 75%;
            position: relative;
            bottom: -116px;
            left: 63px;
            z-index: 1;
        }

        .yugo-zapad .search img.cloud {
            width: 130%;
            position: relative;
            bottom: 110px;
            right: -30px;
        }

        .yugo-zapad .search .textOnCloud {
            width: 177px;
            position: relative;
            top: 103px;
            left: 49px;
            z-index: 1;
        }

        .yugo-zapad
        .specials .circle1,
        .specials .circle2,
        .specials .circle3,
        .specials .circle4 {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: inline-block;
        }

    }

    @media screen and (max-width: 375px) {

        .yugo-zapad .header {
            background: url("~@/assets/images/yugo-zapad/bgHeader.jpg") no-repeat -350px;
            background-size: cover;
            height: 375px;
        }


        .yugo-zapad .search img.iphone {
            width: 75%;
            position: relative;
            bottom: -144px;
            left: 63px;
            z-index: 1;
        }

        .yugo-zapad .search img.cloud {
            width: 144%;
            position: relative;
            bottom: 110px;
            right: -15px;
        }

        .yugo-zapad .search .textOnCloud {
            width: 177px;
            position: relative;
            top: 103px;
            left: 33px;
            z-index: 1;
        }

        .yugo-zapad .crm img {
            width: 100%;
            margin: 0px 0;
            padding: 0px 0;
        }

        .yugo-zapad
        .specials .circle1,
        .specials .circle2,
        .specials .circle3,
        .specials .circle4 {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: inline-block;
        }

        .yugo-zapad .specials .circles p {
            color: #414141;
            font-family: DaysRegular;
            font-size: 12px;
            line-height: 17px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            padding-top: 60px;
        }

    }

    @media screen and (max-width: 320px) {

        .yugo-zapad .header h1 {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 700;
            line-height: 30px;
            margin-top: 31px;
            margin-left: 40px;
        }

        .yugo-zapad .header p {
            color: #fff;
            font-family: DaysRegular;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 300;
            line-height: 35px;
            text-align: right;
        }

        .yugo-zapad .about h3 {
            color: #414141;
            font-family: DaysRegular;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            text-align: center;
            height: 50px;
        }

        .yugo-zapad .adaptive {
            background: url("~@/assets/images/yugo-zapad/bgAdaptive.jpg") no-repeat center;
            background-size: cover;
            height: 665px;
            padding-top: 20px;
        }

        .yugo-zapad .search img.iphone {
            width: 75%;
            position: relative;
            bottom: -183px;
            left: 50px;
            z-index: 1;
        }

        .yugo-zapad .search img.cloud {
            width: 171%;
            position: relative;
            bottom: 167px;
            right: -15px;
        }

        .yugo-zapad .search .textOnCloud {
            width: 177px;
            position: relative;
            top: 45px;
            left: 31px;
            z-index: 1;
        }

        .yugo-zapad
        .specials .circle1,
        .specials .circle2,
        .specials .circle3,
        .specials .circle4 {
            width: 49px;
            height: 49px;
            border-radius: 50%;
            display: inline-block;
        }

        .yugo-zapad .specials .circles .circle1 {
            background-color: #212121;
            margin: 0 5px 0 0;
        }

        .yugo-zapad .specials .circles .circle2 {
            background-color: #e0e0e0;
            margin: 0 5px 0 5px;
        }

        .yugo-zapad .specials .circles .circle3 {
            background-color: #bf360c;
            margin: 0 5px 0 5px;
        }

        .yugo-zapad .specials .circles .circle4 {
            background-color: #df4c2e;
            margin: 0 0 0 5px;
        }

    }
    /* Media */

    .main_page_title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        position: relative;
        z-index: 1;
        font-weight: normal;
        line-height: 1;
        font-family: 'Gotham Pro';
        /*padding-top: 0;*/
    }
    @media screen and (max-width: 767px) {
        .main_page_title {
            font-size: 32px;
            padding-top: 50px;
        }
    }
    @media screen and (max-width: 430px) {
        .main_page_title {
            font-size: 24px;
            padding-top: 50px;
        }
    }
</style>