<!DOCTYPE html>
<html lang="ru-UA">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Веб-студия Mobios - разработка и продвижение сайтов</title>
  <meta name="description" content="Web-студия Mobios - Разработка сайтов - Веб-дизайн - SEO продвижение - SMM - Контекстная реклама - Мобильные приложения. Звоните (048) 772-52-54; (067) 888-75-16.">
  <meta name="keywords" content="веб студия в одессе, разработка и продвижение сайтов">

  <meta property="og:type" content="website">
  <meta property="og:title" content="Веб-студия Mobios">
  <meta property="og:url" content="<%= BASE_URL %>">
  <meta property="og:site_name" content="Студия разработки сайтов MobiOS">
  <meta property="og:description" content="Web-студия Mobios - Разработка сайтов - Веб-дизайн - SEO продвижение - SMM - Контекстная реклама - Мобильные приложения. Звоните  (048) 772-52-54;  (067) 888-75-16.">

  <meta property="og:image" content="">

  <link href="<%= BASE_URL %>" rel="canonical">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
          m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(56709289, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/56709289" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

  <meta name="yandex-verification" content="3339fa135c5e07a2" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33193759-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());
      gtag("config", "UA-33193759-1");
  </script>
  <script type="application/ld+json">
		{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "MobIOS Studio",
		"url": "https://mobios.ua/",
		"logo": "https://mobios.ua/img/new-home/logo.svg",
		"telephone": " +38 (093) 873-06-64, +38 (067) 888-75-16",
		"email": "pm.mobios@gmail.com",
		"sameAs": [ "https://www.instagram.com/mobios_studio/",
		"https://www.behance.net/mobios-studio"],
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "ул. Среднефонтанская 19а",
			"addressLocality": "Одесса",
			"addressRegion": "Одесская область",
			"addressCountry": "Украина"
		}
		}
	</script>
  <script type="application/ld+json">
		{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"name": "MobIOS Studio",
		"url": "https://mobios.ua/"
		}
	</script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.min.js'></script>

</head>
<body>
<noscript>
  <strong>We're sorry but mobios doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 'oZm7Eb6VdK';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
</body>
</html>
