<template>
    <div id="about_us"
         @wheel="onMouseScroll($event)"
         ref="about_us">
        <!--set meta data-->
        <vue-headful
                title="О веб-студии Mobios"
                description="Мы предлагаем профессиональный, комплексный подход к созданию сайтов для вашего бизнеса и увеличению продаж через Интернет. Занимаемся разработкой сайтов более 7 лет."
        />
        <!--end set meta data-->
        <transition name="slide-width" appear>
            <div class="about_us__background" :class="[{next__page: changePage}, {zIndex: !zElem}]">
                <div class="setka"></div>
            </div>
        </transition>
        <div class="about__us_background-video">
            <canvas id="noise" ref="noise" class="noise">
            </canvas>
            <video v-if="videoSrc"
                   id="video"
                   class="homepage__video"
                   autoplay
                   loop
                   muted
                   ref="video">
                <source :src="videoSrc"
                        type="video/mp4">
            </video>
        </div>
        <div class="return_to_prev_page">
            <router-link to="/services"
                         tag="a"
                         class="return_to_prev_page_link"><span>Services</span>
            </router-link>
        </div>
        <transition name="slide-title" appear>
            <h1 class="about_us__page_title" v-show="!changePage">About us</h1>
        </transition>
        <div class="about_us__content_wrap">
            <transition name="fade" appear>
                <div class="about_us__count_block" v-show="!changePage">
                    <div class="about_us__count_block_item">
                        <div class="about_us__count_block_item_wrap">
                            <p class="font_regular">more than</p>
                            <p class="about_us__count_block_item_num font_heavy num">
                                <number
                                    animationPaused
                                    ref="number1"
                                    :to="150"/>
                            </p>
                            <p class="font_heavy">created projects</p>
                            <p class="font_regular">on <span class="font_heavy">Cms</span></p>
                        </div>
                    </div>
                    <div class="about_us__count_block_item">
                        <div class="about_us__count_block_item_wrap">
                            <p class="font_regular">more than</p>
                            <p class="about_us__count_block_item_num font_heavy num">
                                <number
                                        animationPaused
                                        ref="number2"
                                        :to="20"/>
                            </p>
                            <p class="font_heavy">created projects</p>
                            <p class="font_regular">on <span
                                    class="font_heavy text_transform_lowercase">framework</span></p>
                        </div>
                    </div>
                    <div class="about_us__count_block_item">
                        <div class="about_us__count_block_item_wrap">
                            <p class="font_regular">more than</p>
                            <p class="about_us__count_block_item_num font_heavy num">
                                <number
                                    animationPaused
                                    ref="number3"
                                    :to="150"/>
                            </p>
                            <p class="font_heavy">onward website</p>
                        </div>
                    </div>
                    <div class="about_us__count_block_item">
                        <div class="about_us__count_block_item_wrap">
                            <p class="font_regular">customers from</p>
                            <p class="about_us__count_block_item_num font_heavy num">
                                <number
                                    animationPaused
                                    ref="number4"
                                    :to="12"/>
                            </p>
                            <p class="font_heavy">countries</p>
                        </div>
                    </div>
                    <div class="about_us__count_block_item">
                        <div class="about_us__count_block_item_wrap">
                            <p class="font_regular">more than</p>
                            <p class="about_us__count_block_item_num font_heavy num">
                                <number
                                    animationPaused
                                    ref="number5"
                                    :to="25"/>
                            </p>
                            <p class="font_heavy">specialists</p>
                        </div>
                    </div>
                    <div class="about_us__count_block_item">
                        <div class="about_us__count_block_item_wrap">
                            <p class="about_us__count_block_item_num font_heavy num">
                                <number
                                        animationPaused
                                        ref="number6"
                                        :to="7"/>
                                <span
                                        class="font_regular">years</span></p>
                            <p class="font_heavy"><span class="font_regular">of</span> experience <br><span class="font_regular">in</span> it
                            </p>
                        </div>
                    </div>
                </div>
            </transition>
            <transition name="fade" appear>
                <div class="about_us__text_block " v-show="!changePage">
                    <vue-typed-js :strings="[text]" :startDelay="1200" :typeSpeed="5" :showCursor="false">
                        <p class="typing"></p>
                    </vue-typed-js>
                   
                </div>
            </transition>
        </div>
        <div class="swipe-up" >
            <img src="~@/assets/swipe-up.png" alt="">
        </div>
        <div class="canvas_wrapper"
             ref="networkImg">
            <div class="canvas_overlay"></div>
            <canvas ref="canvas"
                    id="setka"
                    width="800"
                    height="800"></canvas>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'about-us',
        data() {
            return {
                videoSrc: require('@/assets/homepage-video.mp4'),
                text: 'Mobios Studio is developing websites more than 7 years. We propose professional services, an integrated approach to create website for development of your business and increase of sales on the Internet.<br> We use an integrated approach to create websites and really like our work.',
                changePage: false,

                zElem: true,
            }
        },
        beforeCreate(){
        },
        mounted: function () {
            this.renderCanvas();
            this.onMouseMove();

            this.touchListener();
            setTimeout(()=>{
                this.$refs.number1.play();
                this.$refs.number2.play();
                this.$refs.number3.play();
                this.$refs.number4.play();
                this.$refs.number5.play();
                this.$refs.number6.play();
                this.noiseFX();
            },1000);

            setTimeout(()=>{
                this.zElem = false;
            },600);

        },
        beforeRouteLeave(to, from, next){
            this.zElem = true;
            if(to.path === '/our-team'){
                setTimeout(()=>{
                    setTimeout(()=>{
                        next();
                    },350)
                },400)
            }else{
                setTimeout(()=>{
                    this.$store.dispatch('line');
                    setTimeout(()=>{
                        next();
                    },400);
                },0)
            }
        },
        methods: {
            touchListener(){
                let touchstartY = 0;
                let touchendY = 0;
                let el = document.querySelector('#about_us');
                el.addEventListener('touchstart', (event)=> {
                    touchstartY = event.changedTouches[0].screenY;
                }, false);

                el.addEventListener('touchend', (event)=> {
                    touchendY = event.changedTouches[0].screenY;
                    if (touchendY < touchstartY && (touchstartY - touchendY) > 150) this.onMouseScroll({deltaY: 1});
                    if (touchendY > touchstartY && (touchendY - touchstartY) > 150) this.onMouseScroll({deltaY: -1});
                }, false);
            },
            onMouseScroll: function (e) {
                if (!this.changePage) {
                    this.changePage = true;
                    if (Math.sign(e.deltaY) === 1) {
                        this.$router.push('/contacts')
                    }else{
                        this.$router.push('/services')
                    }
                }
            },
            typeWriterAnimation: function () {
                if (this.i < this.text.length) {  //340
                    this.i++;
                    let that = this;
                    setTimeout(function () {
                        that.typeWriterAnimation()
                    }, that.speed);
                }
            },
            noiseFX: function () {
                const noise = () => {
                    let canvas, ctx;

                    let wWidth, wHeight;

                    let noiseData = [];
                    let frame = 0;

                    let loopTimeout;


                    // Create Noise
                    const createNoise = () => {
                        const idata = ctx.createImageData(wWidth, wHeight);
                        const buffer32 = new Uint32Array(idata.data.buffer);
                        const len = buffer32.length;

                        for (let i = 0; i < len; i++) {
                            if (Math.random() < 0.5) {
                                buffer32[i] = 0xff000000;
                            }
                        }

                        noiseData.push(idata);
                    };


                    // Play Noise
                    const paintNoise = () => {
                        if (frame === 9) {
                            frame = 0;
                        } else {
                            frame++;
                        }

                        ctx.putImageData(noiseData[frame], 0, 0);
                    };


                    // Loop
                    const loop = () => {
                        paintNoise(frame);

                        loopTimeout = window.setTimeout(() => {
                            window.requestAnimationFrame(loop);
                        }, (1000 / 25));
                    };


                    // Setup
                    const setup = () => {
                        wWidth = window.innerWidth;
                        wHeight = window.innerHeight;

                        canvas.width = wWidth;
                        canvas.height = wHeight;

                        for (let i = 0; i < 10; i++) {
                            createNoise();
                        }

                        loop();
                    };


                    // Reset
                    let resizeThrottle;
                    const reset = () => {
                        window.addEventListener('resize', () => {
                            window.clearTimeout(resizeThrottle);

                            resizeThrottle = window.setTimeout(() => {
                                window.clearTimeout(loopTimeout);
                                setup();
                            }, 200);
                        }, false);
                    };


                    // Init
                    const init = (() => {
                        //canvas = document.getElementById('noise');
                        canvas = this.$refs.noise;
                        ctx = canvas.getContext('2d');

                        setup();
                    })();
                };
                noise();
            },
            onMouseMove: function () {
                const div = this.$refs.about_us;
                const img = this.$refs.networkImg;
                div.onmousemove = function(e){
                    img.style.top = (e.clientY - (img.clientHeight / 2)) + "px";
                    img.style.left = (e.clientX - (img.clientWidth / 1.7)) + "px";
                }
            },
            renderCanvas: function () {
                const c_canvas = this.$refs.canvas;
                const context = c_canvas.getContext("2d");

                // Create gradient
                const grd = context.createRadialGradient(400.000, 400.000, 0.000, 400.000, 400.000, 400.000);

                // Add colors
                grd.addColorStop(0.000, 'rgba(255, 255, 255, .300)');
                grd.addColorStop(1.000, 'rgba(34, 40, 49, .500)');

                // Fill with gradient
                context.fillStyle = grd;
                context.fillRect(0, 0, 800.000, 800.000);

            },
        },
        watch: {}
    }
</script>
<style lang="scss">
    #app.about-us{
        padding-right: 0;
    }
    .gm-style div{
        color: white;
    }
    #about_us {
        height: 100vh;
        padding-bottom: 155px;
        margin-left: auto;
        overflow: hidden;
        position: relative;
        &:before{
            position: fixed;
            content: '';
            width: 48%;
            height: 100%;
            /*background-color: #00b4db;*/
            background-image: url("~@/assets/slice.png");
            background-repeat: repeat;
            background-size: 8px;
            background-attachment: fixed;
            z-index: 2;
        }
        .canvas_wrapper{
            z-index: 1;
        }
        .swipe-up{
            text-align: right;
            padding-right: 15px;
            position: fixed;
            bottom: 25px;
            right: 15px;
            @media (max-width: 768px){
                right: inherit;
                left: 15px;
            }
        }
        a{
            text-decoration: none;
        }
        .slide-width-enter-active, .slide-width-leave-active {
            transition: width .5s .5s;
            @media (max-width: 768px){
                transition: width .1s .1s;
            }
        }
        .slide-width-enter, .slide-width-leave-to {
            width: 100%;
        }
        .fade-leave-active{
            transition: opacity .5s ;
            @media (max-width: 768px){
                transition: opacity .1s ;
            }
        }
        .fade-enter-active{
            transition: opacity .5s 1s;
            @media (max-width: 768px){
                transition: opacity .1s 1s;
            }
        }
        .fade-enter, .fade-leave-to {
            opacity: 0;
            @media (max-width: 768px){
                opacity: 1;
            }
        }
        .slide-title-leave-active{
            transition: left .5s;
            @media (max-width: 768px){
                transition: left .1s;
            }
        }
        .slide-title-enter-active{
            transition: left .5s .5s;
            @media (max-width: 768px){
                transition: left .1s .1s;
            }
        }
        .slide-title-enter, .slide-title-leave-to {
            position: relative;
            left: 100%;
        }
        @keyframes nextLinkTop {
            0% {
                top: -100%;
            }
            100% {
                top: 0;
            }
        }
        @keyframes nextLinkText {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .return_to_prev_page {
            position: absolute;
            top: -100%;
            right: 0;
            width: 70px;
            z-index: 999;
            height: 100%;
            -webkit-animation-name: nextLinkTop;
            animation-name: nextLinkTop;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
            -webkit-animation-duration: 1.3s;
            animation-duration: 1.3s;
            span{
                -webkit-animation-name: nextLinkText;
                animation-name: nextLinkText;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-delay: 2s;
                animation-delay: 2s;
                -webkit-animation-duration: 2s;
                animation-duration: 2s;
                opacity: 0;
            }
        }

        .return_to_prev_page_link {
            cursor: pointer;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(180deg);
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            top: 110px;
            display: block;
            width: 21px;
            font-size: 18px;
            line-height: 18px;
            color: #fff;
            text-decoration: none;
            transition: .5s;
            &:hover {
                text-decoration: none;
                color: #fff;
                top: 125px;
                &::before {
                    height: 115px;
                }
            }
            &::before {
                content: '';
                transition: height .5s;
                display: block;
                width: 1px;
                height: 100px;
                position: absolute;
                top: 90px;
                left: 0;
                right: 0;
                margin: auto;
                background: #fff;
                pointer-events: none;
            }
            @media (max-width: 768px){
                display: none;
            }
        }

        .about_us__text_block_text{
            .typed{
                color: white;
                margin-left: -1px;
                line-height: 36px;
                
            }
            .right{
                display: none;
            }
            &:first-child{
                .typed{
                    &:first-child{
                        font-size: 74px;
                        font-weight: 800;
                    }
                }
            }
        }
        .setka{
            z-index: 0;
        }

        @media (max-width: 768px) {
            margin: 0 auto;
        }
        .noise {
            position: fixed;
            right: 0;
            top: 0;
            width: 50%;
            height: 100%;
            object-fit: cover;
            opacity: .05;
            left: inherit;
        }
    }
    
    .about_us__background {
        position: fixed;
        background: #222831;
        width: 48%;
        height: 100%;
        z-index: 3;
        transition: .5s linear;
        @media (max-width: 1200px){
            width: 0;
        }
        &.next__page{
            width: 100%;
        }
        &.zIndex{
            z-index: 1;
        }
    }
    
    .about_us__page_title {
        font-size: 86px;
        color: #fff;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        left: 0;
        z-index: 3;
        @media (max-width: 1550px){
            font-size: 48px;
        }
        @media (max-width: 1024px){
            padding-top: 80px;
        }
        @media (max-width: 768px){
            padding-top: 0;
            margin: 20px auto;
            color: #00b4db;
            width: fit-content;
            text-align: center;
            top: -5px;
            font-size: 20px;
            left: 50%;
            transform: translateX(-50%);
            position: fixed;
            z-index: 9999999;
        }
    }
    
    .about_us__content_wrap {
        height: 64vh;
        display: flex;
        align-items: center;
        z-index: 3;
        position: relative;
        p {
            color: #fff;
            margin: 0;
        }
        @media (max-width: 1200px){
            justify-content: center;
            
        }
        @media (max-width: 992px){
            justify-content: center;
            padding-top: 50px;
        }
        @media (max-width: 768px){
            padding-top: 0px;
            height: calc(100vh - 130px);
        }
    }
    
    .about_us__text_block {
        flex-basis: 49%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        padding-left: 140px;
        padding-top: 0;
        z-index: 0;
        .typed-element{
            padding-bottom: 40px;
            max-width: 620px;
            &:last-of-type{
                padding-bottom: 0;
            }
            &:first-child{
                .typing:first-letter{
                    font-size: 74px;
                    font-weight: 900;
                    line-height: 36px;
                }
            }
          
        }
        @media (max-width: 1550px){
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            padding-left: 40px;
            padding-right: 40px;
            box-sizing: border-box;
            .typed-element{
                &:first-child{
                    .typing:first-letter{
                        font-size: 48px;
                        font-weight: 900;
                        line-height: 36px;
                    }
                }
        
            }
        }
        @media (max-width: 1200px){
            font-size: 14px;
            .typed-element{
                padding-bottom: 20px;
            }
        }
        @media (max-width: 768px){
            display: none;
        }
    }
    
    .about_us__count_block {
        flex-basis: 48%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
        @media (max-width: 768px){
            padding: 0 15px;
        }
        @media (max-width: 768px){
            flex-basis: 100%;
            height: calc(100vh - 195px);
        }
        
    }
    
    .font_heavy {
        font-family: Geometria-Bold;
        font-size: 20px;
        line-height: 22px;
        text-transform: uppercase;
        @media (max-width: 1550px){
            font-size: 16px;
        }
        @media (max-width: 1200px){
            font-size: 12px;
            line-height: 1.3;
            /*font-weight: 400;*/
        }
        @media (max-width: 768px){
            font-weight: 400;
        }
    }
    
    .font_regular {
        font-size: 21px;
        line-height: 8px;
        font-family: Geometria-Light;
        text-transform: lowercase;
        @media screen and (min-width: 2500px){
            line-height: 25px;
        }
        @media screen and (max-width: 1550px){
            font-size: 18px;
            line-height: 18px;
        }
        @media screen and (max-width: 500px){
            font-size: 12px;
            line-height: 12px;
        }
    }
    
    .about_us__count_block_item_num {
        font-size: 88px;
        line-height: 89px;
        font-family: 'Geometria-ExtraBold';
        @media (max-width: 1550px){
            font-size: 56px;
            line-height: 55px;
        }
        @media (max-width: 768px){
            font-size: 75px;
            line-height: 76px;
            .font_regular{
                display: block;
            }
        }
        @media (max-width: 500px){
            font-size: 36px;
            font-weight: 800;
            line-height: 38px;
        }
    }
    
    .text_transform_lowercase {
        text-transform: lowercase;
    }
    
    .about_us__count_block_item_wrap {
        width: 247px;
        @media (max-width: 1200px){
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 150px;
        }
        @media (max-width: 768px){
            width: auto;
            
        }
    }
    
    .about_us__count_block_item {
        display: flex;
        flex-basis: 50%;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 90px;
        box-sizing: border-box;
        @media screen and (max-width: 1550px) and (max-height: 1000px){
            margin-bottom: 40px;
        }
        @media (max-width: 1024px){
            margin-bottom: 0;
            padding: 30px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            display: flex;
            align-items: center;
            &:nth-child(2n){
                border-left: 1px solid rgba(255, 255, 255, 0.5);
            }
            &:nth-last-child(2),
            &:last-child{
                border-bottom: none;
            }
        }
        @media (max-height: 500px){
            padding: 10px 0;
        }
    }
    
    .about_us__count_block_item:nth-child(5),
    .about_us__count_block_item:last-child {
        margin-bottom: 0;
    }
    
    .about__us_background-video {
        position: absolute;
        width: 50%;
        height: 100%;
        z-index: 2;
        right: 0;
        &:before{
            content: '';
            width: 50%;
            height: 100%;
            position: fixed;
            right: 0;
            background-color: rgba(170, 170, 170, 0.8);
            z-index: -1;
            top: 0;
        }
    }
    
    .about__us_background-video video {
        width: 50%;
        right: 0;
        left: inherit;
    }
    
    .about_us__text_block_text {
        font-size: 24px;
        font-weight: 700;
        width: 75%;
        margin: 0 auto;
        line-height: 40px;
        height: 280px;
    }
    
    .transparent_divider {
        margin: 25px 0;
        height: 1px;
        width: 1px;
        opacity: 0;
        display: block;
    }
    
    .big_w {
        font-size: 74px;
        line-height: 24px;
        font-weight: 900;
    }
    
    .change_page {
        position: fixed;
        bottom: 30px;
        width: calc(100% - 70px);
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
        @media (max-width: 768px){
            width: 100%;
            justify-content: center;
            left: 0;
            align-items: flex-end;
        }
    }
    
    .change_page__page_slider {
        display: flex;
        justify-content: space-between;
        width: 150px;
    }
    
    .change_page__page_slider_nums_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.active {
            .page_slider__circle::before {
                opacity: 1;
                transition: .2s;
            }
        }
        &:hover {
            p{
                top: -5px;
            }
            .page_slider__circle::before {
                opacity: 1;
                transition: .2s;
            }
        }
    }
    
    .change_page__page_slider_nums_block p {
        color: #fff;
        font-size: 18px;
        margin-bottom: 6px;
        position: relative;
        top: 0;
        transition: all .3s;
    }
    
    .page_slider__circle {
        width: 17px;
        height: 17px;
        border: 1px solid #fff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        position: relative;
    }
    
    .page_slider__circle::before {
        content: '';
        position: absolute;
        display: block;
        opacity: 0;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 10px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: .2s;
    }
    
    .page_slider__line {
        width: 100%;
        height: 1px;
        background: #fff;
        align-self: flex-end;
        margin-bottom: 8px;
    }
    
    .change_page__prev_page {
        margin-left: 70px;
        width: 180px;
        height: 1px;
        @media (max-width: 768px){
            display: none;
        }
    }

    .change_page__wrap{
        @media (max-width: 768px){
            display: block;
            position: absolute;
            right: 15px;
            bottom: -8px;
        }
    }
    
    .change_page__next_page {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 70px;
        cursor: pointer;
        p {
            color: #fff;
            font-size: 18px;
            letter-spacing: 1.44px;
            line-height: 100%;
            margin: 0;
            transition: all .3s;
        }
        &:hover{
            p{
                padding-right: 20px;
            }
        }
        @media (max-width: 768px){
            margin: 0 0 5px;
            width: 45px;
            p{
                display: none;
            }
            svg{
                width: 27px;
                height: 23px;
            }
            
        }
    }
    
    .change_page__next_page_arrow {
        width: 45px;
        height: 37px;
        .st0 {
            fill: #fff;
        }
    }
    

    
    .return_to_prev_page {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        width: 70px;
        z-index: 999;
        height: 100%;
        @media (max-width: 768px){
            display: none;
            
        }
    }


</style>
