<template>
    <div class="brandbook">

        <!--set meta data-->
        <vue-headful
                title="Создание бренда и разработка логотипа, фирменного стиля, brandook"
                description="Разработаем логотип, фирменный стиль, придумаем название, разработаем Brand book. Мы создадим всё необходимое для вашей Компании! Звоните - ☎ (067) 888-75-16."
                keywords="создание бренда разработка логотипа фирменного стиля шрифта"
                url="brandbook"
        />
        <!--end set meta data-->

        <div class="container">
            <h1>СОЗДАНИЕ БРЕНДА КОМПАНИИ И РАЗРАБОТКА ФИРМЕННОГО ЛОГОТИПА</h1>
            <p>Мы создаем сильные бренды. Работая над имиджем и позиционированием, мы помогаем компаниям достичь лидирующего положения в своем сегменте.</p>
            <ul>
                <li>Программа
                    продвижения</li>
                <li>Наполнение
                    контентом</li>
                <li>Массфолловинг,
                    масслайкинг</li>
                <li>Модерация
                    контроль отзывов</li>
                <li>Публикации в
                    авторитетных
                    пабликах</li>
            </ul>
            <p>СОЗДАНИЕ БРЕНДА, КАК СТРОИТЕЛЬСТВО ДОМА
                начинается не с фундамента, а с архитектора</p>
            <h2>РАЗРАБОТКА ЛОГОТИПОВ</h2>
            <p>Логотип - это выражение сущности компании, организации, идеи, какого-либо события или продукта. Логотипы являются наглядными знаками, их вид определяется объектом, который они выражают или близкими ассоциациями. Дизайн логотипа создается с помощью геометрических или естественных форм</p>
            <ol>
                <li>
                    <h3>Базовый вариант</h3>
                    <p>Разработка 3 концепций
                        логотипа</p>

                    <p>Доработка понравившегося
                        логотипа: цвет, шрифт,
                        пропорции, элементы</p>

                     <p>1-3 дня разработки</p>
                </li>
                <li>
                    <h3>Оптимальный вариант</h3>
                    <p>Разработка 5 концепций
                        логотипа</p>

                    <p>Доработка понравившегося
                        логотипа: цвет, шрифт,
                        пропорции, элементы</p>

                    <p>3-5 дня разработки</p>
                </li>
                <li>
                    <h3>Корпоративный вариант</h3>
                    <p>Разработка 7 концепций логотипа</p>

                    <p>Доработка понравившегося логотипа: цвет, шрифт, пропорции, элементы</p>

                    <p>5-7 дня разработки</p>
                </li>
            </ol>
            <h2>РАЗРАБОТКА НАЗВАНИЯ БРЕНДА</h2>
            <p>Нейминг – это разработка названия для компании или торговой марки.</p>
            <p>За столь простым определением на самом деле стоит сложный процесс, который включает в себя кропотливую аналитическую работу и креативный подход.</p>
            <ul>
                <li>Обращаются к конкретной целевой
                    аудитории и привлекают именно ее</li>
                <li>Подчеркивает преимущества
                    перед конкурентами</li>
                <li>Указывают на вашу
                    уникальность</li>
            </ul>
            <h2>Фир. стиль увеличит узнаваемость компании</h2>
            <p>Разработка фирменного стиля требует профессионального подхода. Начиная от буклета Вашей компании, заканчивая визитками, все должно быть продумано до мелочей</p>
            <p>Стартовый пакет</p>
            <ul>
                <li>Логотип (3 варианта)</li>
                <li>Фирменные цвета</li>
                <li>Фирменные шрифты</li>
            </ul>
            <p>Оптимальный пакет</p>
            <ul>
                <li>Логотип (6 вариантов)</li>
                <li>Фирменный шрифт</li>
                <li>Фирменные цвета</li>
                <li>Визитная карточка</li>
                <li>Фирменный бланк, папка</li>
            </ul>

            <p>РАСШИРЕННЫЙ ПАКЕТ</p>
            <ul>
                <li>Логотип (6 вариантов)</li>
                <li>Фирменный шрифт</li>
                <li>Фирменные цвета</li>
                <li>Визитная карточка</li>
                <li>Фирменный бланк, конверт, папка</li>
            </ul>
            <h2>BRAND BOOK</h2>
            <p>руководство, содержащее в себе описание и правила использования и применения
                разработанного для Вас логотипа, фирменного стиля и многих других компонентов</p>
            <ul>
                <li>наличие brand book позволит строить более
                    эффективную работу с подрядчиками
                    (полиграфией, рекламными агентствами и т.д.)</li>
                <li>brand book является мощным инструментом
                    контроля качества бренда, позволяет
                    гарантировать его неизменность и узнаваемость</li>
            </ul>
            <h3>Брендинг-особое конкурентное преимущество</h3>
            <p>преследует главную цель - выстроить коммуникацию с потребителем. Разработка бренда включает создание визуальных и вербальных атрибутов (название, логотип, фирменный стиль) и формирование ценностей, которые в глазах потребителя выглядят уникальным и решают его проблемы</p>
            <blockquote>
                БРЕНДИНГ ПРОЧНЫЙ ФУНДАМЕНТ
                дальнейшего успеха вашего бизнеса
            </blockquote>

        </div>

    </div>
</template>

<script>

    export default {
        name: 'brandbook',
        data() {
            return {

            }
        },
        components: {
        },
        computed: {
        },
        methods: {
        },
    }
</script>

<style lang="scss" scoped>

    .business-site{

    }

</style>


