<template>
    <div class="branding"
         id="branding"
         @wheel="onMouseScroll($event)">

        <!--set meta data-->
        <vue-headful
                title="Создание бренда и разработка логотипа, фирменного стиля, brandook"
                description="Разработаем логотип, фирменный стиль, придумаем название, разработаем Brand book. Мы создадим всё необходимое для вашей Компании! Звоните - ☎ (067) 888-75-16."
                keywords="создание бренда разработка логотипа фирменного стиля шрифта"
        />
        <!--end set meta data-->

        <ul class="pagination__list"
            :class="changeColor">
            <li class="pagination__item"
                :class="pagination == 'page-1' ? 'active' : ''">
                <label class="pagination__label"
                       for="pagination-input-1">
                    <span class="pagination__text">01</span>
                    <input class="pagination__radio"
                           id="pagination-input-1"
                           type="radio"
                           v-model="pagination"
                           value="page-1"
                           name="paginRadio"
                           @input="currentPage = 0">
                </label>
            </li>
            <li class="pagination__item"
                :class="pagination == 'page-2' ? 'active' : ''">
                <label class="pagination__label"
                       for="pagination-input-2">
                    <span class="pagination__text">02</span>
                    <input class="pagination__radio"
                           id="pagination-input-2"
                           type="radio"
                           v-model="pagination"
                           value="page-2"
                           name="paginRadio"
                           @input="currentPage = 1">
                </label>
            </li>
            <li class="pagination__item"
                :class="pagination == 'page-3' ? 'active' : ''">
                <label class="pagination__label"
                       for="pagination-input-3">
                    <span class="pagination__text">03</span>
                    <input class="pagination__radio"
                           id="pagination-input-3"
                           type="radio"
                           v-model="pagination"
                           value="page-3"
                           name="paginRadio"
                           @input="currentPage = 2">
                </label>
            </li>
            <li class="pagination__item"
                :class="pagination == 'page-4' ? 'active' : ''">
                <label class="pagination__label"
                       for="pagination-input-4">
                    <span class="pagination__text">04</span>
                    <input class="pagination__radio"
                           id="pagination-input-4"
                           type="radio"
                           v-model="pagination"
                           value="page-4"
                           name="paginRadio"
                           @input="currentPage = 3">
                </label>
            </li>
            <li class="pagination__item"
                :class="pagination == 'page-5' ? 'active' : ''">
                <label class="pagination__label"
                       for="pagination-input-5">
                    <span class="pagination__text">05</span>
                    <input class="pagination__radio"
                           id="pagination-input-5"
                           type="radio"
                           v-model="pagination"
                           value="page-5"
                           name="paginRadio"
                           @input="currentPage = 4">
                </label>
            </li>
            <li class="pagination__item"
                :class="pagination == 'page-6' ? 'active' : ''">
                <label class="pagination__label"
                for="pagination-input-6">
                    <span class="pagination__text">06</span>
                        <input class="pagination__radio"
                        id="pagination-input-6"
                        type="radio"
                        v-model="pagination"
                        value="page-6"
                        name="paginRadio"
                        @input="currentPage = 5">
                </label>
            </li>
        </ul>

        <div class="fullpage-container">

            <div class="fullpage-wp" ref="fullpage">

                <section class="wd_banner"
                         id="page-1"
                         :class="pagination == 'page-1' ? 'active' : ''">
                    <div class="container">
                        <div class="wd_banner__wrapper">
                            <div>
                                <h1 class="branding__title">
                                    Branding
                                </h1>
                                <p class="branding__sub_title">We create strong brands. We have helped the company achieve
                                    a leading position in its segment.</p>
                                <button class="branding__banner_btn" @click="scrollToForm">Let’s talk :)</button>
                            </div>
                            <div class="wd_banner__grid">
                                <div class="wd_banner__grid_item">
                                    <div class="item__icon">
                                        <img src="~@/assets/web-development/Clock.svg"
                                             alt="stage 01">
                                    </div>
                                    <p><strong>7 years of experience</strong>
                                        in website development</p>
                                </div>

                                <div class="wd_banner__grid_item">
                                    <div class="item__icon">
                                        <img src="~@/assets/web-development/idea.svg"
                                             alt="stage 01">
                                    </div>
                                    <p><strong>More than 150</strong>
                                        successful projects</p>
                                </div>

                                <div class="wd_banner__grid_item">
                                    <div class="item__icon">
                                        <img src="~@/assets/web-development/earth-globe.svg"
                                             alt="stage 01">
                                    </div>
                                    <p>Clients from
                                        <strong>12 countries</strong></p>
                                </div>

                                <div class="wd_banner__grid_item">
                                    <div class="item__icon">
                                        <img src="~@/assets/seo-promotion/first-place.svg"
                                             alt="stage 01">
                                    </div>
                                    <p><strong class="inline">50+</strong> sites
                                        in <strong class="inline">TOP</strong></p>
                                </div>

                                <div class="wd_banner__grid_item">
                                    <div class="item__icon">
                                        <img src="~@/assets/web-development/group.svg"
                                             alt="stage 01">
                                    </div>
                                    <p><strong class="inline">25+</strong> specialists</p>
                                </div>

                                <div class="wd_banner__grid_item">
                                    <div class="item__icon">
                                        <img src="~@/assets/seo-promotion/strategy.svg"
                                             alt="stage 01">
                                    </div>
                                    <p><strong class="inline">Individual</strong> strategy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="first_screen branding-type"
                         id="page-2"
                         :class="pagination == 'page-2' ? 'active' : ''">
                    <div class="container">
                        <h2 class="branding__page_title">Direction of work</h2>

                        <div class="branding-type__grid">
                            <div class="col branding-type__col">
                                <span class="branding-type__col_num">01</span>
                                <span class="branding-type__col_text">Naming</span>
                                <p class="branding-type__col_hover_text">The logo is the main trademark of the company, the purpose of which is to briefly and clearly describe its essence and evoke the necessary associative emotions.</p>
                            </div>
                            <div class="col branding-type__col">
                                <span class="branding-type__col_num">02</span>
                                <span class="branding-type__col_text">Logo creation</span>
                                <p class="branding-type__col_hover_text">The logo is the main trademark of the company, the purpose of which is to briefly and clearly describe its essence and evoke the necessary associative emotions.</p>
                            </div>
                            <div class="col branding-type__col">
                                <span class="branding-type__col_num">03</span>
                                <span class="branding-type__col_text">identity</span>
                                <p class="branding-type__col_hover_text">The logo is the main trademark of the company, the purpose of which is to briefly and clearly describe its essence and evoke the necessary associative emotions.</p>
                            </div>
                            <div class="col branding-type__col">
                                <span class="branding-type__col_num">04</span>
                                <span class="branding-type__col_text">Brandbook</span>
                                <p class="branding-type__col_hover_text">The logo is the main trademark of the company, the purpose of which is to briefly and clearly describe its essence and evoke the necessary associative emotions.</p>
                            </div>
                            <div class="col branding-type__col">
                                <span class="branding-type__col_num">05</span>
                                <span class="branding-type__col_text">Ad design</span>
                                <p class="branding-type__col_hover_text">The logo is the main trademark of the company, the purpose of which is to briefly and clearly describe its essence and evoke the necessary associative emotions.</p>
                            </div>
                            <div class="col branding-type__col">
                                <span class="branding-type__col_num">06</span>
                                <span class="branding-type__col_text">Polygraphic design</span>
                                <p class="branding-type__col_hover_text">The logo is the main trademark of the company, the purpose of which is to briefly and clearly describe its essence and evoke the necessary associative emotions.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="projects"
                         id="page-3"
                         :class="pagination == 'page-3' ? 'active' : ''">

                    <carousel :items="3"
                              :dots="false"
                              :nav="false"
                              v-if="!reloadCarousel"
                              :slideBy="1"
                              :lazyLoad="false"
                              ref="carousel"
                              :loop="false"
                              :responsive="{0:{items:2,nav:false},1024:{items:3,nav:false}}">
                        <template slot="prev">
                            <transition
                                    name="fade">
                                                <span class="custom__prev">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         width="14.38"
                                                         height="8.968"
                                                         viewBox="0 0 14.38 8.968">
                                                      <path id="Прямоугольник_5_копия"
                                                            data-name="Прямоугольник 5 копия"
                                                            class="cls-1"
                                                            d="M1877,540.313h12.78v0.593H1877v-0.593Zm9.34-3.7-0.43.43,3.87,3.874,0.43-.43Zm3.62,3.69,0.42,0.427-3.82,3.839-0.42-.426Z"
                                                            transform="translate(-1876.5 -536.094)"/>
                                                    </svg>
                                                </span>
                            </transition>
                        </template>
                        <template slot="next">
                            <transition
                                    name="fade">
                                            <span class="custom__next">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="14.38"
                                                     height="8.968"
                                                     viewBox="0 0 14.38 8.968">
                                                  <path id="Прямоугольник_5_копия"
                                                        data-name="Прямоугольник 5 копия"
                                                        class="cls-1"
                                                        d="M1877,540.313h12.78v0.593H1877v-0.593Zm9.34-3.7-0.43.43,3.87,3.874,0.43-.43Zm3.62,3.69,0.42,0.427-3.82,3.839-0.42-.426Z"
                                                        transform="translate(-1876.5 -536.094)"/>
                                                </svg>
                                            </span>
                            </transition>
                        </template>
                        <div class="projects-column"
                             v-for="(array,index) in itemCarousel"
                             v-if="itemCarousel.length > 0"
                             :key="index">
                            <div class="project-card project"
                                 v-for="(item,i) in array"
                                 :key="i">
                                <div class="project__load">
                                    <div class="project__image"
                                         :style="'background-image: url('+item.image+')'">
                                    </div>
                                </div>
                                <div class="project__info" :style="'background:'+item.color">
                                    <span class="project__title">{{item.title}}</span>
                                    <span class="project__description">
                                        {{item.description}}</span>
                                </div>
                            </div>
                        </div>
                    </carousel>
                </section>

                <section class="advantage"
                         id="page-4"
                         :class="pagination == 'page-4' ? 'active' : ''">
                    <div class="container">
                        <h2 class="branding__page_title">You'll get</h2>
                        <div class="advantage__grid">

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <img src="~@/assets/branding/search.svg"
                                         alt="stage 01">
                                </div>
                                <div class="advantage__text">
                                    <p class="advantage__text_title">Competitor analysis</p>
                                </div>
                            </div>

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <img src="~@/assets/branding/brand-identity.svg"
                                         alt="stage 01">
                                </div>
                                <div class="advantage__text">
                                    <p class="advantage__text_title">Turnkey brand</p>
                                </div>
                            </div>

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <img src="~@/assets/branding/logo-design.svg"
                                         alt="stage 01">
                                </div>
                                <div class="advantage__text">
                                    <p class="advantage__text_title">Application rules
                                        for all brand elements</p>
                                </div>
                            </div>

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <img src="~@/assets/branding/training.svg"
                                         alt="stage 01">
                                </div>
                                <div class="advantage__text">
                                    <p class="advantage__text_title">Several years promotion
                                        strategy</p>
                                </div>
                            </div>

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <img src="~@/assets/branding/shield.svg"
                                         alt="stage 01">
                                </div>
                                <div class="advantage__text">
                                    <p class="advantage__text_title">Guaranteed uniqueness
                                        of all elements</p>
                                </div>
                            </div>

                            <div class="advantage__item">
                                <div class="advantage__icon">
                                    <img src="~@/assets/branding/consultation.svg"
                                         alt="stage 01">
                                </div>
                                <div class="advantage__text">
                                    <p class="advantage__text_title">Trademark registration
                                        consultation</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="process"
                         id="page-5"
                         :class="pagination == 'page-5' ? 'active' : ''">
                    <div class="container">
                        <h3 class="branding__page_title branding__page_title--white">Process</h3>
                        <div class="process__wrapper">
                            <div class="process__row">
                                <span class="process__stage process__stage-first">stage <span class="process__stage_num">1</span></span>
                                <div class="col process__col">
                                    <img class="process__img"
                                         src="~@/assets/branding/target.svg"
                                         alt="stage 01">
                                    <p class="process__text">Monitoring the market, competitors and potential target audience</p>
                                </div>
                                <span class="process__arrow">
                                    <span class="process__arrow_line"></span>
                                    <span class="process__arrow_line"></span>
                                    <span class="process__arrow_line"></span>
                                    <span class="process__arrow_triangle"></span>
                                </span>
                                <div class="col process__col">
                                    <img class="process__img"
                                         src="~@/assets/branding/audit.svg"
                                         alt="stage 01">
                                    <p class="process__text">Audit of a company and a portfolio of its own brands</p>
                                </div>
                                <span class="process__arrow">
                                <span class="process__arrow_line"></span>
                                <span class="process__arrow_line"></span>
                                <span class="process__arrow_line"></span>
                                <span class="process__arrow_triangle"></span>
                            </span>
                                <div class="col process__col">
                                    <img class="process__img"
                                         src="~@/assets/branding/contract.svg"
                                         alt="stage 01">
                                    <p class="process__text">Naming and trademark registration</p>
                                </div>
                                <span class="process__stage process__stage-second">stage <span class="process__stage_num">2</span></span>
                                <div class="col process__col">
                                    <img class="process__img"
                                         src="~@/assets/branding/vector.svg"
                                         alt="stage 02">
                                    <p class="process__text">Creation of a logo and corporate identity</p>
                                </div>
                                <span class="process__arrow">
                                    <span class="process__arrow_line"></span>
                                    <span class="process__arrow_line"></span>
                                    <span class="process__arrow_line"></span>
                                    <span class="process__arrow_triangle"></span>
                                </span>
                                <div class="col process__col">
                                    <img class="process__img"
                                         src="~@/assets/branding/packaging.svg"
                                         alt="stage 02">
                                    <p class="process__text">Create packaging design</p>
                                </div>
                                <span class="process__arrow">
                                <span class="process__arrow_line"></span>
                                <span class="process__arrow_line"></span>
                                <span class="process__arrow_line"></span>
                                <span class="process__arrow_triangle"></span>
                            </span>
                                <div class="col process__col">
                                    <img class="process__img"
                                         src="~@/assets/branding/signal.svg"
                                         alt="stage 02">
                                    <p class="process__text">Creating a verbal component</p>
                                </div>
                                <span class="process__stage process__stage-third">stage <span class="process__stage_num">3</span></span>
                                <div class="col process__col">
                                    <img class="process__img"
                                         src="~@/assets/branding/brand-book.svg"
                                         alt="stage 03">
                                    <p class="process__text">Brand book and guideline development</p>
                                </div>
                                <span class="process__arrow">
                                        <span class="process__arrow_line"></span>
                                        <span class="process__arrow_line"></span>
                                        <span class="process__arrow_line"></span>
                                        <span class="process__arrow_triangle"></span>
                                    </span>
                                <div class="col process__col">
                                    <img class="process__img"
                                         src="~@/assets/branding/strategy.svg"
                                         alt="stage 03">
                                    <p class="process__text">Building a promotion strategy</p>
                                </div>
                                <span class="process__arrow">
                                    <span class="process__arrow_line"></span>
                                    <span class="process__arrow_line"></span>
                                    <span class="process__arrow_line"></span>
                                    <span class="process__arrow_triangle"></span>
                                </span>
                                <div class="col process__col">
                                    <img class="process__img"
                                         src="~@/assets/branding/feedback.svg"
                                         alt="stage 03">
                                    <p class="process__text">Brand monitoring and performance evaluation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="additional_services"
                         :class="pagination == 'page-6' ? 'active' : ''"
                         id="page-6">
                    <div class="additional_services__body">
                        <div class="container">
                            <span class="additional_services__page_title">Additional services</span>

                            <div class="additional_services__grid">

                                <a href="/seo-optimization"
                                   class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/seo.svg"
                                             alt="">
                                    </div>
                                    <p>SEO <br> promotion</p>
                                </a>

                                <a href="/ppc" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/contextual.svg"
                                             alt="">
                                    </div>
                                    <p>contextual  <br>advertising</p>
                                </a>

                                <a href="/smm"  class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/smm.svg"
                                             alt="">
                                    </div>
                                    <p>Smm/smo</p>
                                </a>

                                <a href="/analysis-of-competitors" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/analysis.svg"
                                             alt="">
                                    </div>
                                    <p>Competitor <br>analysis</p>
                                </a>

                                <a href="/website-development" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/web-dev.svg"
                                             alt="">
                                    </div>
                                    <p>Web
                                        <br> development</p>
                                </a>

                                <a href="/motion-design" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/MotionDesign.svg"
                                             alt="">
                                    </div>
                                    <p>Motion<br> design</p>
                                </a>

                                <a href="/crowd-marketing" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/marketing.svg"
                                             alt="">
                                    </div>
                                    <p>crowd<br> marketing</p>
                                </a>

                                <a href="/seo-audit" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/seo-audit.svg"
                                             alt="">
                                    </div>
                                    <p>Seo Audit</p>
                                </a>

                            </div>

                        </div>
                    </div>
                    <div class="additional_services__footer"
                         ref="seoFooter"
                         :class="showForm ? 'expanded' : 'hideForm'">
                        <div class="container">
                            <span class="shrink_footer_btn"
                                  @click="toggleFooter"
                                  v-show="showForm"></span>
                            <div class="additional_services__footer__grid">
                                <div class="additional_services__footer_col">
                                    <a class="additional_services__footer_tel"
                                       href="tel:+380678887516">+38 (067) 888 75 16</a>
                                    <a class="additional_services__footer_email"
                                       href="mailto:pm.mobios@gmail.com">pm.mobios@gmail.com</a>
                                </div>
                                <div class="additional_services__footer_col">
                                    <transition name="scale">
                                        <div class="send_mail_form__wrapper"
                                             v-show="showForm">
                                            <send-mail-form :btnText="btnText"
                                                            @closeForm="toggleFooter"
                                                            v-if="showForm"></send-mail-form>
                                        </div>
                                    </transition>
                                    <button class="additional_services__footer_btn"
                                            @click="toggleFooter"
                                            v-show="!showForm">{{ btnText }}</button>
                                </div>
                                <div class="additional_services__footer_col right">
                                    <span class="additional_services__footer_adress">Odessa, Kiev<br/>Ukraine</span>
                                </div>
                            </div>
                        </div>

                        <div class="canvas_wrapper"
                             ref="networkImg">
                            <div class="canvas_overlay"></div>
                            <canvas ref="canvas"
                                    id="setka"
                                    width="300"
                                    height="300"></canvas>
                        </div>
                    </div>
                </section>
            </div>

            <div class="return_to_prev_page">
                <router-link to="/services"
                             tag="a"
                             class="return_to_prev_page_link">Services
                </router-link>
            </div>
        </div>
        <vue-recaptcha
                :sitekey="sitekey"
                ref="invisibleRecaptcha"
                size="invisible"
                :loadRecaptchaScript="true"></vue-recaptcha>
    </div>
</template>

<script>
    import carousel from "vue-owl-carousel";

    import SendMailForm from "../components/SendMailForm.vue";

    import VueRecaptcha from 'vue-recaptcha';

    export default {
        name: 'Branding',
        data() {
            return {
                sitekey: '6Le9SsUUAAAAAJ-I7GFodhZ7QQ5oQadzKlhYP9Jv',


                slidePage: false,
                currentPage: 0,
                pages: ['page-1','page-2','page-3','page-4','page-5','page-6'],

                pagination: 'page-1',

                showForm: false,

                loading: true,
                reloadCarousel: true,

                itemsAll: [
                    {
                        title: 'Loft',
                        description: 'Logo',
                        image: require('@/assets/branding/prj-1.jpg'),
                        color: 'rgba(112, 84, 102, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Granda',
                        description: 'Logo',
                        image: require('@/assets/branding/prj-4.jpg'),
                        color: 'rgba(93, 92, 88, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Loft',
                        description: 'Logo',
                        image: require('@/assets/branding/prj-7.jpg'),
                        color: 'rgba(138, 56, 41, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Kolgotoff',
                        description: 'Logo',
                        image: require('@/assets/branding/prj-2.jpg'),
                        color: 'rgba(0, 0, 0, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Вилла Роза',
                        description: 'Logo',
                        image: require('@/assets/branding/prj-5.jpg'),
                        color: 'rgba(125, 99, 84, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Мото папа',
                        description: 'Logo',
                        image: require('@/assets/branding/prj-8.jpg'),
                        color: 'rgba(165, 165, 164, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Genix',
                        description: 'Online shop',
                        image: require('@/assets/branding/prj-3.jpg'),
                        color: 'rgba(185, 180, 175, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Booze Bakery',
                        description: 'Online shop',
                        image: require('@/assets/branding/prj-6.jpg'),
                        color: 'rgba(60, 13, 3, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'logistic',
                        description: 'Online shop',
                        image: require('@/assets/branding/prj-9.jpg'),
                        color: 'rgba(62, 68, 80, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Kolgotoff',
                        description: 'Logo',
                        image: require('@/assets/branding/prj-2.jpg'),
                        color: 'rgba(0, 0, 0, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Вилла Роза',
                        description: 'Logo',
                        image: require('@/assets/branding/prj-5.jpg'),
                        color: 'rgba(125, 99, 84, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                    {
                        title: 'Мото папа',
                        description: 'Logo',
                        image: require('@/assets/branding/prj-8.jpg'),
                        color: 'rgba(165, 165, 164, 0.7)',
                        category: 'e-commers',
                        link: '/portfolio/kare'
                    },
                ],
                items: [],
                refresh: false,
                countItems: 3,

            }
        },
        components: {
            carousel,
            'send-mail-form': SendMailForm,
            VueRecaptcha
        },
        computed: {
            changeColor: function () {
                return this.pagination !== 'page-1' ? 'change_color' : '';
            },
            btnText: function () {
                return this.showForm ? 'Hide form' : 'Let’s talk :)';
            },
            itemCarousel() {
                const COUNT_ITEMS = this.countItems;
                let resultArray = [[]];
                let counterItems = 0;
                this.items.map((item, index) => {
                    if (resultArray[counterItems].length === COUNT_ITEMS) {
                        counterItems++;
                        resultArray[counterItems] = [];
                    }
                    resultArray[counterItems].push(item);
                });
                return resultArray;
            },
        },
        methods: {
            onMouseScroll(e){
                if(window.innerWidth > 1024) {
                    if (!this.slidePage) {

                        let pagesLen = this.pages.length;
                        this.slidePage = true;

                        if (Math.sign(e.deltaY) === 1 && pagesLen !== (this.currentPage + 1)) {
                            this.currentPage < pagesLen ? this.currentPage++ : false;

                        }else if(Math.sign(e.deltaY) !== 1){
                            this.currentPage !== 0 ? this.currentPage-- : false;
                        }

                        setTimeout(()=> {
                            this.slidePage = false;
                        },1000);

                        this.pagination = 'page-' + (this.currentPage + 1);
                    }
                };
            },

            scrollToForm: function() {
                this.showForm = true;
                if(window.innerWidth > 1024) {
                    this.currentPage = 5;
                    this.pagination = 'page-6';
                }else{
                    setTimeout(() => {
                        window.scrollTo(0,document.body.scrollHeight);
                    }, 300)
                }
            },

            toggleFooter: function () {
                this.showForm = !this.showForm;
            },
            onMouseMove: function () {
                const div = this.$refs.seoFooter;
                const img = this.$refs.networkImg;
                div.onmousemove = function(e){
                    img.style.top = (e.clientY - (img.clientHeight / 0.6)) + "px";
                    img.style.left = (e.clientX - (img.clientWidth * 0.7)) + "px";
                }
            },
            renderCanvas: function () {
                const c_canvas = this.$refs.canvas;
                const context = c_canvas.getContext("2d");

                // Create gradient
                const grd = context.createRadialGradient(150.000, 150.000, 0.000, 150.000, 150.000, 150.000);

                // Add colors
                grd.addColorStop(0.000, 'rgba(255, 255, 255, .200)');
                grd.addColorStop(1.000, 'rgba(34, 40, 49, .500)');

                // Fill with gradient
                context.fillStyle = grd;
                context.fillRect(0, 0, 300.000, 300.000);

            },

        },
        mounted: function () {
            this.renderCanvas();
            this.onMouseMove();
            this.items = this.itemsAll;
            this.reloadCarousel = false;
        },
        watch: {
            currentPage(newIndex,oldIndex){
                if(window.innerWidth > 1025){
                    let pagesLen = this.pages.length;
                    let scroll = window.innerHeight;
                    let el = document.querySelector('.fullpage-wp');
                    if(newIndex => 0 && pagesLen >= newIndex){
                        el.style.transform = "translate3d(0, " + -(scroll * this.currentPage) + "px, 0)"
                    }
                }
            },
            countItems(old, newVal) {
                this.reloadCarousel = true;
                this.$nextTick(() => {
                    this.reloadCarousel = false;
                })
            },
        },
    }
</script>

<style lang="scss">
    .branding {

        .return_to_prev_page_link {
            cursor: pointer;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(180deg);
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            top: 110px;
            display: block;
            width: 21px;
            font-size: 18px;
            line-height: 18px;
            color: #000;
            text-decoration: none;
            transition: .5s;
            z-index: 9999;
            @media screen and (max-width: 1024px){
                display: none;
            }
            &:hover {
                text-decoration: none;
                color: #000;
                top: 125px;
                &::before {
                    height: 115px;
                }
            }
            &::before {
                content: '';
                transition: height .5s;
                display: block;
                width: 1px;
                height: 100px;
                position: absolute;
                top: 85px;
                left: 0;
                right: 0;
                margin: auto;
                background: #000;
                pointer-events: none;
            }
            @media (max-width: 1024px){
                display: none;
            }
        }
        h1, h2, h3, h4, h5{
            margin: 0;
        }
        .container{
            max-width: 1570px;
            padding: 0 60px;
            width: 100%;
            @media screen and (max-width: 1023px){
                padding: 0 15px;
            }
        }

        &__page_title{
            font-size: 64px;
            color: #222222;
            text-align: center;
            text-transform: uppercase;
            font-weight: 900;
            &--white{
                color: #fff;
            }
            @media screen and (max-width: 1550px){
                font-size: 48px;
            }
            @media screen and (max-width: 1280px){
                font-size: 36px;
            }
            @media screen and (max-width: 768px){
                font-size: 18px;
            }
        }

        .fullpage-wp {
            -webkit-box-align: initial !important;
            -ms-flex-align: initial !important;
            align-items: initial !important;
            -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            @media screen and (max-width:1024px) {
                transform: none!important;

            }
        }

        section{
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            overflow: hidden;
            &.additional_services{
                justify-content: flex-start;
            }
            @media screen and (max-width: 1200px){
                padding-left: 20px;
                &.projects{
                    padding-left: 0;
                }
            }
            @media screen and (max-width: 1024px){
                height: auto;
            }
            @media screen and (max-width: 1024px) {
                padding-left: 0;
            }
        }

        /*banner section*/
        .wd_banner{
            background-image: url("~@/assets/branding/branding-banner.png");
            background-size: cover;
            .item__icon{
                width: 65px;
                height: 65px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                &:after{
                    content: '';
                    height: 24px;
                    width: 1px;
                    background-color: #fff;
                    position: absolute;
                    top: calc(100% + 15px);
                    left: 50%;
                }
                img{
                    max-width: 100%;
                    max-height: 100%;
                    transition: all .3s;
                }
                @media screen and (max-width: 1023px){
                    width: 50px;
                    height: 50px;
                    margin: 0 auto;
                    &:after{
                        display: none;
                    }
                }
            }
            &__wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media screen and (max-width: 1024px){
                    padding-top: 0;
                    height: auto;
                }
            }
            &__grid{
                display: flex;
                flex-wrap: wrap;
                margin-top: 80px;
                border-right: 1px solid #d0d0d0;
                border-left: 1px solid #d0d0d0;
                border-bottom: 1px solid #d0d0d0;
                @media screen and (max-width: 1600px){
                    margin-top: 30px;
                }
                &_item{
                    flex-basis: calc(100% / 3);
                    border-top: 1px solid #d0d0d0;
                    border-right: 1px solid #d0d0d0;
                    padding: 60px;
                    position: relative;
                    z-index: 1;
                    &:nth-child(3n){
                        border-right: none;
                    }
                    @media screen and (max-width: 1024px){
                        flex-basis: 50%;
                        &:nth-child(3n){
                            border-right: 1px solid #d0d0d0;
                        }
                        &:nth-child(2n){
                            border-right: none;
                        }
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url("~@/assets/web-development/hover-effect.png");
                        transition: all .6s;
                        opacity: 0;
                        z-index: -1;
                    }
                    &:hover{
                        &:after{
                            opacity: 1;
                        }
                        .item__icon img{
                            transform: scale(1.1);
                        }
                    }
                    @media screen and (max-width: 1550px){
                        padding: 25px 50px;
                    }
                    @media screen and (max-width: 1200px){
                        padding: 25px 15px;
                    }
                    @media screen and (max-width: 1023px){
                        padding: 17px 5px;
                    }
                    @media screen and (max-width: 550px){
                        flex-basis: 50%;
                        &:nth-child(2n){
                            border-right: none;
                        }
                        &:nth-child(3){
                            border-right: 1px solid #d0d0d0;
                        }
                    }
                }
                p{
                    color: #fff;
                    font-size: 16px;
                    padding-left: 50px;
                    strong{
                        font-weight: 800;
                    }
                    strong:not(.inline){
                        display: block;
                    }
                    @media screen and (max-width: 1023px){
                        padding-left: 0;
                        text-align: center;
                        font-size: 14px;
                    }
                    @media screen and (max-width: 550px){
                        font-size: 12px;
                    }
                }
            }
            @media screen and (max-width: 1024px){
                padding-top: 30px;
            }
        }

        &__title{
            font-size: 85px;
            font-weight: 900;
            color: #fff;
            text-transform: uppercase;
            @media screen and (max-width: 1550px){
                font-size: 65px;
            }
            @media screen and (max-width: 1023px){
                font-size: 45px;
            }
            @media screen and (max-width: 1024px){
                position: fixed;
                top: 17px;
                z-index: 99999;
                color: #00b4db;
                font-size: 18px;
                left: 50%;
                transform: translateX(-50%);
                max-width: 145px;
                text-align: center;
                line-height: 18px;
            }
        }
        &__sub_title{
            font-size: 24px;
            color: #fff;
            line-height: 32px;
            font-weight: bold;
            max-width: 805px;
            @media screen and (max-width: 1550px){
                font-size: 18px;
                line-height: 21px;
            }
            @media screen and (max-width:1024px) {
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                font-weight: 300;
                max-width: 100%;
            }
        }
        &__banner_btn{
            color: #fff;
            font-size: 16px;
            background: transparent;
            border: 1px solid #fff;
            padding: 13px 50px;

            display: block;
            overflow: hidden;
            position: relative;
            z-index: 1;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            margin-top: 35px;
            &::after {
                background: #fff;
                content: '';
                position: absolute;
                z-index: -1;
                height: 100%;
                left: -35%;
                top: 0;
                transform: skew(50deg);
                transition-duration: 0.6s;
                transform-origin: top left;
                width: 0;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
            &:hover{
                color: #000;
                &:after {
                    height: 100%;
                    width: 135%;
                }
            }

            @media screen and (max-width: 1024px){
                margin: 0 auto;
            }

        }

        .advantage{
            @media screen and (max-width: 1024px) {
                padding: 35px 0;
            }
            &__grid{
                display: flex;
                flex-wrap: wrap;
                border-style: solid;
                border-color: #d8d8d8;
                border-width: 1px 1px 0 1px;
                margin-top: 40px;
            }
            &__item{
                flex-basis: calc(100% / 3);
                text-align: center;
                border-right: 1px solid #d8d8d8;
                border-bottom: 1px solid #d8d8d8;
                padding: 50px 20px 30px;
                &:nth-child(3n){
                    border-right: none;
                }
                @media screen and (max-width: 1500px){
                    padding-top: 30px;
                }
                @media screen and (max-width: 1024px) {
                    flex-basis: 50%;
                    &:nth-child(3n){
                        border-right: 1px solid #d8d8d8;
                    }
                }
                @media screen and (max-width: 550px){
                    flex-basis: 100%;
                    border-right: none;
                    &:nth-child(3n){
                        border-right: none;
                    }
                }
                &:hover{
                    .advantage__icon{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
                p{
                    margin: 0 auto;
                    color: #222222;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.07px;
                    font-family: 'Geometria-Medium';
                    max-width: 300px;
                    &.advantage__text_title{
                        font-family: 'Geometria-Bold';
                        font-size: 16px;
                        line-height: 18px;
                        text-transform: uppercase;
                        margin: 35px auto 30px;
                        @media screen and (max-width: 1024px) {
                            margin: 20px auto 10px;
                        }
                    }
                }
            }
            &__icon{
                width: 105px;
                height: 105px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                img{
                    max-width: 100%;
                    height: 100%;
                    transition: all .3s;
                }
            }
        }

        /*project section*/
        .projects{
            position: relative;
            @media screen and (max-width: 1024px){
                padding-top: 50px;
            }
            .website_development__page_title{
                position: absolute;
                z-index: 2;
                top: 5%;
                left: 50%;
                transform: translateX(-50%);
                @media screen and (max-width: 1024px){
                    position: static;
                    transform: none;
                    color: #222;
                }
                @media screen and (max-width:1024px){
                    margin-bottom: 30px;
                }
            }
            &-column {
                display: flex;
                height: 100vh;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                @media screen and (max-width: 1024px){
                    height: 520px;
                }
                @media screen and (max-width: 550px){
                    height: 325px;
                }
            }
            .project-card{
                height: calc(100% / 3);
                position: relative;
                border: 1px solid #fff;
                &:hover{
                    .project__info {
                        opacity: 1;
                    }
                }
            }
            .project__load{
                height: 100%;
            }
            .project__image{
                height: 100%;
                background-size: cover;
                background-position: center;
            }
            .project__info{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px 20px;
                opacity: 0;
                transition: all 0.5s;
            }
            .project__title {
                color: #ffffff;
                font-family: "Geometria-Heavy";
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 0.48px;
                padding-right: 15px;
                @media screen and (max-width: 1024px){
                    font-size: 16px;
                }
                @media screen and (max-width: 480px){
                    font-size: 12px;
                    display: block;
                }
            }
            .project__description {
                color: #ffffff;
                font-family: 'Geometria-Light';
                font-size: 14px;
                letter-spacing: 0.28px;
                text-transform: lowercase;
                @media screen and (max-width: 480px){
                    font-size: 12px;
                }
            }
            .custom__prev, .custom__next {
                position: absolute;
                z-index: 2;
                width: 42px;
                height: 42px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                border-radius: 100%;
                transition: all .3s;
                &:hover {
                    transform: scale(1.2) translateY(calc(-50% + 2px));
                }
                svg {
                    fill: #272727;
                }
                @media screen and (max-width:1024px){
                    top: 58%;
                }
                @media screen and (max-width:550px){
                    top: 62%;
                }
            }
            .custom__prev {
                left: 40px;
                transform: rotate(-180deg) translateY(50%);
                position: absolute;
                &:hover {
                    transform: scale(1.2) rotate(-180deg) translateY(calc(50% - 2px));
                }
                @media screen and (max-width: 1024px){
                    left: 15px;
                }
            }
            .custom__next {
                right: 40px;
                @media screen and (max-width: 1024px){
                    right: 15px;
                }
            }
            .owl-nav{
                display: none;
            }
        }

        .branding-type{
            @media screen and (max-width: 1024px){
                padding-top: 30px;
            }
            &__grid{
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #efefef;
                margin-top: 80px;
                @media screen and (max-width:1024px) {
                    margin-top: 20px;
                }
                @media screen and (max-width: 550px){
                    border: 1px solid #efefef;
                }
            }
            &__col{
                background: transparent;
                -webkit-transition: .35s ease-in-out;
                transition: .35s ease-in-out;
                position: relative;
                flex-basis: calc(100% / 3);
                height: 30vh;
                z-index: 1;
                border-top: 1px solid #efefef;
                border-right: 1px solid #efefef;
                @media screen and (max-width: 1023px){
                    height: auto;
                    padding: 15px 15px 40px;
                }
                @media screen and (max-width: 550px){
                    flex-basis: 100%;
                    border-width: 0 0 1px 0;
                    border-style: solid;
                    border-color: #efefef;
                }
                &:nth-child(3n){
                    border-right: none;
                }
                &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("~@/assets/web-development/hover-effect2.png");
                    transition: all .6s;
                    opacity: 0;
                    z-index: -1;
                }
                &:hover {
                    background: #fff;
                    -webkit-transition: .35s ease-in-out;
                    transition: .35s ease-in-out;
                    &:after{
                        opacity: 1;
                    }
                    .branding-type__col_num{
                        -webkit-transition: .35s ease-in-out;
                        transition: .35s ease-in-out;
                        text-decoration: none;
                        @media screen and (max-width: 1550px){
                            font-size: 30px;
                        }
                        @media screen and (max-width: 1023px){
                            font-size: 14px;
                        }
                    }
                    .branding-type__col_text {
                        opacity: .7;
                        top: 25%;
                        -webkit-transition: .35s ease-in-out;
                        transition: .35s ease-in-out;
                        @media screen and (max-width: 1550px){
                            font-size: 20px;
                        }
                        @media screen and (max-width: 1023px){
                            font-size: 14px;
                        }
                    }
                    .branding-type__col_hover_text {
                        transform: scale(1);
                    }

                }
                &_num{
                    color: #5b5b5b;
                    font-family: 'Geometria-Light';
                    font-weight: 300;
                    font-size: 45px;
                    position: absolute;
                    left: 15px;
                    top: 0;
                    @media screen and (max-width: 1023px){
                        font-size: 14px;
                        position: static;
                    }
                }
                &_text{
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #222222;
                    font-size: 28px;
                    font-weight: 900;
                    -webkit-transition: .35s ease-in-out;
                    transition: .35s ease-in-out;
                    text-transform: uppercase;
                    @media screen and (max-width: 1550px){
                        font-size: 20px;
                    }
                    @media screen and (max-width: 1200px){
                        font-size: 18px;
                    }
                    @media screen and (max-width: 1023px){
                        font-size: 14px;
                        position: static;
                        transform: none;
                        text-align: center;
                        display: block;
                        text-transform: uppercase;
                        margin: 20px 0;
                    }
                }
                &_hover_text{
                    color: #5b5b5b;
                    font-family: 'Geometria-Medium';
                    font-size: 16px;
                    line-height: 18px;
                    height: 32px;
                    display: block;
                    text-align: center;
                    pointer-events: none;
                    -webkit-transition: .35s ease-in-out;
                    transition: .35s ease-in-out;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    padding: 0 30px;
                    transform: scale(0);
                    @media screen and (max-width: 1023px){
                        transform: scale(1);
                        position: static;
                        font-size: 14px;
                        height: auto;
                        padding: 0 20px;
                    }
                }
            }
        }

        /*process section*/
        .process{
            background-image: url('~@/assets/web-development/third-screen.png');
            background-size: cover;
            background-position: 50%;
            @media screen and (max-width: 1024px){
                padding: 40px 0;
            }
            &__stage {
                font-size: 46px;
                font-weight: 700;
                letter-spacing: 2px;
                color: #fff;
                -webkit-writing-mode: vertical-lr;
                -ms-writing-mode: tb-lr;
                writing-mode: vertical-lr;
                -webkit-text-orientation: mixed;
                text-orientation: mixed;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                text-transform: capitalize;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -100px;
                display: block;
                margin: auto;
                &-first{
                    text-align: right;
                    margin-top: 40px;
                }
                &-second{
                    text-align: center;
                }
                &-third{
                    text-align: left;
                    margin-bottom: 40px;
                }
                &_num {
                    color: #00b4db;
                }
                @media screen and (max-width: 1825px){
                    left: 0;
                    font-size: 30px;
                }
                @media screen and (max-width: 1024px){
                    display: none;
                }
            }
            &__img{
                max-height: 100px;
                margin-bottom: 25px;
                @media screen and (max-width: 1550px){
                    max-height: 60px;
                }
                @media screen and (max-width: 1023px){
                    max-height: 45px;
                }
            }
            &__text{
                color: #fff;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                letter-spacing: .7px;
                max-width: 254px;
                text-align: center;
                margin: 0 auto;
                @media screen and (max-width: 1023px){
                    font-weight: 100;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            &__row{
                display: flex;
                border-bottom: 1px solid #686868;
                margin-top: 40px;
                position: relative;
                flex-wrap: wrap;
                &:last-of-type{
                    border: none;
                }
                &:before,
                &:after{
                    content: '';
                    width: calc(100% + 200px);
                    height: 1px;
                    background-color: #686868;
                    position: absolute;
                    @media screen and (max-width: 1024px) {
                        display: none;
                    }
                }
                &:before{
                    left: -100px;
                    top: 33%;
                }
                &:after{
                    left: -100px;
                    top: 66%;
                }
                @media screen and (max-width: 1380px){
                    padding-left: 60px;
                }
                @media screen and (max-width: 1024px){
                    padding-left: 0px;
                }
                @media screen and (max-width: 550px){
                    justify-content: space-around;
                    margin-top: 0;
                }
            }
            &__col{
                flex-basis: calc((100% - 170px) / 3);
                padding: 40px 0;
                @media screen and (max-width: 1825px){
                    padding: 30px 0;
                }
                @media screen and (max-width: 550px){
                    flex-basis: calc(50% - 10px);
                    padding: 45px 0;
                    &:nth-child(4n){
                        position: relative;
                        &::after{
                            content: '';
                            display: block;
                            position: absolute;
                            height: 16px;
                            width: 4px;
                            bottom: 0px;
                            left: -2px;
                            background: #fff;
                        }
                        &::before{
                            content: '';
                            display: block;
                            position: absolute;
                            width: 0;
                            height: 0;
                            bottom: -17px;
                            left: -6px;
                            border-style: solid;
                            border-width: 12px 6px 0px 6px;
                            border-color: #fff transparent transparent transparent;
                        }
                    }
                }
            }
            &__arrow {
                display: block;
                width: 85px;
                position: relative;
                margin: 0 auto;
                align-self: center;
                &_line{
                    display: block;
                    float: left;
                    width: 16px;
                    height: 4px;
                    position: relative;
                    top: 4px;
                    background: #fff;
                    margin-right: 8px;
                }
                &_triangle{
                    display: block;
                    float: left;
                    position: relative;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 0 6px 12px;
                    border-color: transparent transparent transparent #fff;
                }
                @media screen and (max-width: 550px){
                    display: none;
                }
            }
        }

        .additional_services{
            background: #f1f1f1;
            position: relative;
            height: 100vh;
            @media screen and (max-width: 1024px) {
                height: auto;
            }
            .container{
                max-width: 1540px;
                padding: 0 30px;
                width: 100%;
                @media screen and (max-width: 1023px){
                    padding: 0 15px;
                }
            }

            &__page_title{
                font-size: 64px;
                color: #222222;
                text-align: center;
                text-transform: uppercase;
                font-weight: 900;
                display: block;
                &--white{
                    color: #fff;
                }
                @media screen and (max-width: 1550px){
                    font-size: 48px;
                }
                @media screen and (max-width: 1280px){
                    font-size: 42px;
                }
                @media screen and (max-width: 1024px){
                    font-size: 36px;
                }
                @media screen and (max-width: 768px){
                    font-size: 18px;
                }
            }
            &__grid{
                display: flex;
                flex-wrap: wrap;
                margin-top: 50px;
            }
            &__item{
                flex-basis: 25%;
                padding: 50px 0 50px 50px;
                border-right: 1px solid #d0d0d0;
                border-bottom: 1px solid #d0d0d0;
                transition: all .3s;
                &:hover{
                    text-decoration: none;
                    .additional_services__icon{
                        img{
                            transform: scale(1.1);
                            @media screen and (max-width: 1024px){
                                transform: none;
                            }
                        }
                    }
                }
                &:nth-child(4n){
                    border-right: none;
                }
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8){
                    border-bottom: none;
                }
                @media screen and (max-width: 1550px){
                    padding: 25px 0 25px 30px;
                }
                @media screen and (max-width: 1366px){
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                @media screen and (max-width: 1023px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 30px 0;
                }
                @media screen and (max-width: 550px) {
                    flex-basis: 50%;
                    padding: 20px 0;
                    &:nth-child(2n){
                        border-right: none;
                    }
                    &:nth-child(5),
                    &:nth-child(6){
                        border-bottom: 1px solid #d0d0d0;
                    }
                }
            }
            &__icon{
                height: 100px;
                width: 110px;
                text-align: center;
                position: relative;
                transition: all .3s;
                @media screen and (max-width: 1550px){
                    height: 70px;
                    width: 80px;
                }
                @media screen and (max-width: 1200px){
                    height: 55px;
                    width: 60px;
                }
                &:after{
                    content: '';
                    width: 2px;
                    height: 55px;
                    background-color: #00b4db;
                    position: absolute;
                    top: calc(100% + 15px);
                    left: calc(50% - 1px);
                    @media screen and (max-width: 1200px) {
                        left: 14px;
                    }
                    @media screen and (max-width: 1023px){
                        display: none;
                    }
                }
                img{
                    height: 100%;
                    max-width: 100%;
                    transition: all .3s;
                }
            }
            p{
                color: #222222;
                font-size: 20px;
                line-height: 24px;
                font-weight: 900;
                text-transform: uppercase;
                padding: 0 0 0 70px;
                margin: 15px 0px;
                display: flex;
                align-items: center;
                min-height: 60px;
                @media screen and (max-width: 1366px){
                    font-size: 16px;
                    line-height: 20px;
                }
                @media screen and (max-width: 1200px){
                    font-size: 14px;
                    line-height: 16px;
                    padding: 0 0 0 35px;
                }
                @media screen and (max-width: 1023px){
                    padding-left: 0;
                    font-size: 12px;
                    text-align: center;
                }
                @media screen and (max-width: 550px){
                    margin: 14px 0 0;
                    min-height: auto;
                }
            }
            &__body{
                height: 85vh;
                display: flex;
                align-items: center;
                @media screen and (max-width:1366px){
                    height: 88vh;
                }
                @media screen and (max-width:1024px){
                    height: auto;
                }
            }

            &__footer{
                background-color: #222831;
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 15vh;
                -webkit-transition: 1s ease-in-out;
                transition: 1s ease-in-out;
                overflow: hidden;
                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    background-image: url("~@/assets/slice.png");
                    background-repeat: repeat;
                    background-size: 8px;
                    z-index: 2;
                }
                .container{
                    position: relative;
                    z-index: 2;
                }

                a{
                    &:hover,&:focus{
                        color: #fff;
                        text-decoration: none;
                    }
                }

                #setka{
                    width: 300px;
                    height: 300px;
                }
                .canvas_wrapper{
                    z-index: 1;
                    width: 300px;
                    height: 300px;
                }
                @keyframes slidein {
                    0% {
                        height: 15vh;
                    }

                    100% {
                        height: 543px;
                    }
                }
                @keyframes slideout {
                    0% {
                        height: 543px;
                    }

                    100% {
                        height: 15vh;
                    }
                }
                @media screen and (max-width: 1550px){
                    @keyframes slidein {
                        0% {
                            height: 112px;
                        }

                        100% {
                            height: 450px;
                        }
                    }
                    @keyframes slideout {
                        0% {
                            height: 450px;
                        }

                        100% {
                            height: 112px;
                        }
                    }
                }
                @media screen and (max-width: 1024px){
                    @keyframes slidein {
                        0% {
                            height: 265px;
                        }

                        100% {
                            height: 600px;
                        }
                    }
                    @keyframes slideout {
                        0% {
                            height: 600px;
                        }

                        100% {
                            height: 265px;
                        }
                    }
                }
                @media screen and (max-width: 480px){
                    @keyframes slidein {
                        0% {
                            height: 265px;
                        }

                        100% {
                            height: 500px;
                        }
                    }
                    @keyframes slideout {
                        0% {
                            height: 500px;
                        }

                        100% {
                            height: 265px;
                        }
                    }
                }
                &.hideForm{
                    animation-duration: 1s;
                    animation-name: slideout;
                }
                &.expanded{
                    height: 543px;
                    padding: 20px 0;
                    animation-duration: 1s;
                    animation-name: slidein;
                    @media screen and (max-width: 1550px){
                        height: 450px;
                    }
                    @media screen and (max-width: 1024px){
                        height: 600px;
                        .additional_services__footer__grid{
                            flex-direction: column;
                        }
                        .send_mail_form__wrapper{
                            margin: 20px 0;
                        }
                    }
                    @media screen and (max-width: 480px){
                        height: 500px;
                        padding-top: 45px;
                    }
                    .send_mail_form__wrapper{
                        height: auto;
                    }
                    .contacts__form_wrapper{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .send_mail_form__wrapper{
                    -webkit-transition: 1s ease-in-out;
                    transition: 1s ease-in-out;
                    height: 0;
                }
                .contacts__form_wrapper{
                    -webkit-transition: 0.5s ease-in-out;
                    transition: 0.5s ease-in-out;
                    position: relative;
                    opacity: 0;
                    visibility: hidden;
                }
                &__grid{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    -webkit-transition: .35s ease-in-out;
                    transition: .35s ease-in-out;
                    @media screen and (max-width: 1024px){
                        flex-direction: column;
                    }
                }
                &_col{
                    @media screen and (max-width: 1024px){
                        &:first-of-type{
                            text-align: center;
                            margin-bottom: 30px;
                        }
                        &:last-of-type{
                            margin-top: 30px;
                        }
                    }
                }
                &_tel {
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 700;
                    color: #fff;
                    letter-spacing: .48px;
                    padding-left: 70px;
                    display: block;
                    @media screen and (max-width: 1366px){
                        font-size: 22px;
                    }
                    @media screen and (max-width: 1200px){
                        padding: 0;
                        font-size: 18px;
                    }
                    @media screen and (max-width: 550px){
                        font-size: 24px;
                    }
                }
                &_email {
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 700;
                    color: #fff;
                    letter-spacing: .36px;
                    padding-left: 70px;
                    @media screen and (max-width: 1366px){
                        font-size: 16px;
                        line-height: 18px;
                    }
                    @media screen and (max-width: 1200px){
                        padding: 0;
                        font-size: 14px;
                    }
                    @media screen and (max-width: 550px){
                        font-size: 18px;
                    }
                }
                &_adress {
                    font-size: 14px;
                    letter-spacing: .28px;
                    font-weight: 700;
                    color: #fff;
                    display: inline-block;
                    text-align: left;
                    margin-right: 130px;
                    @media screen and (max-width: 1200px){
                        margin: 0;
                    }
                    @media screen and (max-width: 1024px){
                        text-align: center;
                    }
                }
                &_btn {
                    display: block;
                    width: 223px;
                    height: 52px;
                    background-color: #fff;
                    border: 2px solid #fff;
                    color: #222;
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: .36px;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0 auto;
                    cursor: pointer;
                    transition: all .3s;
                    &:hover{
                        background-color: transparent;
                        color: #fff;
                    }
                    @media screen and (max-width: 1366px){
                        font-size: 14px;
                        height: 45px;
                    }
                }
                .scale-enter-active{
                    animation: scale-in .3s;
                }
                .scale-leave-active {
                    animation: scale-in .3s reverse;
                }
                @keyframes scale-in {
                    0% {
                        transform: scale(0);
                    }
                    100% {
                        transform: scale(1);
                    }
                }

                @media screen and (max-width:1366px){
                    height: 12vh;
                }
                @media screen and (max-width:1024px){
                    height: 265px;
                    position: relative;
                    top: 0;
                    left: 0;
                    padding: 40px 0 30px;
                    margin-top: 30px;
                }

            }
            .shrink_footer_btn {
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 15px;
                top: 15px;
                cursor: pointer;
                @media screen and (max-width:480px) {
                    top: -20px;
                }
                &:before,
                &:after{
                    content: "";
                    width: 12px;
                    height: 12px;
                    border: 2px solid #fff;
                    position: absolute;
                    display: block;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:before {
                    border-left: 0;
                    border-bottom: 0;
                    top: 5px;
                    left: -7px;
                }
                &:after {
                    border-right: 0;
                    border-top: 0;
                    top: 5px;
                    left: 7px;
                }
            }

            @media screen and (max-width: 1024px) {
                padding: 35px 0 0;
            }
        }


        @media screen and (max-width: 1550px){
            .pagination__list {
                left: 80px;
            }
        }
        @media screen and (max-width:1024px){
            .pagination__list{
                display: none;
            }
        }
    }

</style>

