<template>
    <div class="brief-seo brif">

        <!--set meta data-->
        <vue-headful
                title="Бриф на разработку логотипа и фирменного стиля"
                description="Бриф на разработку логотипа и фирменного стиля от студии Mobios."
                keywords=""
                url="brief-style"
        />
        <!--end set meta data-->


        <section class="ads rel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 center">
                        <h1>Бриф на разработку логотипа и фирменного стиля</h1>
                        <p>Этот бриф поможет нам подготовиться к работе, чтобы сделать её для вас наилучшим образом.</p>
                        <p>От того насколько четко и исчерпывающе вы ответите на вопросы зависит, как быстро мы с вами начнем говорить на одном языке, чтобы решить поставленные задачи максимально быстро и эффективно. Мы гарантируем вам полную конфиденциальность представленной нам информации.</p>
                        <span>Бриф не является техническим заданием и лишь помогает нам понять, каким вы видите ваш будущий фирменный стиль.
                Если какие-либо из вопросов анкеты покажутся вам сложными, пожалуйста, обратитесь к нам за разъяснениями. Если у вас есть собственный бриф – предоставьте его вместо данного, недостающую информацию мы уточним при встрече.
                </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="brif-web">
            <div class="container">
                <div class="row">

                    <hr>
                    <form class="callback" id="brief" enctype="multipart/form-data"  @submit.prevent="sendBrief">
                        <ol>
                            <div class="name center">Маркетинговый блок</div>
                            <li>
                                <p>Что представляет собой продукт?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f1" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Суть бренда (основная идея (миссия) продукта)?</p>
                                <textarea class="materialize-textarea" name="f2" required></textarea>
                            </li>
                            <li>
                                <p>Уникальное торговое предложение (УТП) продукта?<br>
                                    Почему именно ваш продукт (относительно конкурирующих) захочет купить потребитель?<br>
                                    Позиционирование продукта (основное отличие от основных конкурентов)
                                </p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f3" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>3 основные ценности продукта (рациональные и/или эмоциональные)?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f4" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Какую выгоду потребителю дает каждая из вышеприведенных ценностей?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f5" required></textarea>
                                </label>
                            </li>
                            <div class="name center">Для кого?</div>
                            <li>
                                <p>Какие три группы потребителей будут пользоваться вашим продуктом чаще всего? На кого он рассчитан?<br>
                                    Опишите их по следующим параметрам или в свободной форме (в первую очередь опишите самую многочисленную группу – ядро целевой аудитории):<br>
                                    <span class="blue-text" >Важно! Избегайте шаблонных и поэтому бесполезных описаний! Опишите вашего потребителя как живого человека, чтобы по вашему рассказу можно было отчетливо представить конкретного человека и его действия.</span>
                                </p>
                                <ul>
                                    <li class="li_subtext"><span>- демография: </span>пол, возраст, семейное положение, вероисповедание, национальность, прочее</li>
                                    <li class="li_subtext"><span>- социография: </span>социальный статус, образование, род занятий, ежемесячный доход, прочее</li>
                                    <li class="li_subtext"><span>- поведение: </span> авторитеты клиента, степень осведомленности о продукте, степень заинтересованности в продукте, степень приверженности данному продукту, интенсивность потребления, стереотипы восприятия/предрассудки</li>
                                    <li class="li_subtext"><span>- образ жизни и психологический портрет</span></li>
                                    <li class="li_subtext"><span>- соотношение мотиваций: </span>рациональные/эмоциональные</li>
                                </ul>
                                <p>1 группа:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f6-1" ></textarea>
                                </label>
                                <p>В каком процентном соотношении от общего потребления продукта его потребляет данная группа?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f6-2" required></textarea>
                                </label>
                                <p>2 группа:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f6-3" ></textarea>
                                </label>
                                <p>В каком процентном соотношении от общего потребления продукта его потребляет данная группа?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f6-4" required></textarea>
                                </label>
                                <p>3 группа:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f6-5" ></textarea>
                                </label>
                                <p>В каком процентном соотношении от общего потребления продукта его потребляет данная группа?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f6-6" required></textarea>
                                </label>
                            </li>
                            <div class="name center">ДЛЯ ЧЕГО?</div>
                            <li>
                                <p> Для чего ваш продукт нужен потребителю?<br>
                                    Какие проблемы потребителя он решает, в чём облегчает его жизнь?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f7" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Когда и как потребитель будет пользоваться вашим продуктом чаще всего?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f8" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Является ли ваш продукт привычным для потребителя?</p>
                                <input id="access1" type="radio" name="f9" value="Продукт инновационный и потребителя необходимо приучить к его потреблению.">
                                <label for="access1">Продукт инновационный и потребителя необходимо приучить к его потреблению.</label><br>
                                <input id="access2" type="radio" name="f9" value="Продукт привычен, но обладает улучшениями относительно конкурирующих.">
                                <label for="access2">Продукт привычен, но обладает улучшениями относительно конкурирующих.</label><br>
                                <label class="w100">Укажите эти улучшения:
                                    <textarea class="materialize-textarea" name="f9-1"></textarea>
                                </label>
                                <input id="access3" type="radio" name="f9" value="Продукт не отличается от конкурентов, он такой же.">
                                <label for="access3">Продукт не отличается от конкурентов, он такой же.</label><br>
                                <p class="flexClass">
                                    <input id="access4" type="radio" name="f9" value="Другое:">
                                    <label for="access4" class="w100">Другое:
                                        <textarea class="materialize-textarea" name="f9-2"></textarea>
                                    </label>
                                </p>

                            </li>
                            <div class="name center">КАК?</div>
                            <li>
                                <p>Какой покупкой является ваш продукт для потребителя: простой или сложной?<br>
                                    Покажите цепочку действий потребителя от желания купить продукт данной категории до непосредственно покупки продукта.
                                </p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f10"></textarea>
                                </label>
                            </li>

                            <li>
                                <p>В какой ситуации, при каких условиях чаще всего потребитель будет покупать ваш продукт?<br>
                                    Потребители 1-ой группы.
                                </p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f11-1"></textarea>
                                </label>
                                <p>Потребители 2-ой группы</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f11-2"></textarea>
                                </label>
                                <p>Потребители 3-ой группы</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f11-3"></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Ценовая и статусная характеристики вашего продукта:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f12" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Почему потребитель захочет платить такую цену за продукт и какие атрибуты продукта убедят его в данном статусе вашего продукта?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f13" required></textarea>
                                </label>
                            </li>
                            <div class="name center">С кем?</div>
                            <li>
                                <p>Опишите 3-х ваших основных конкурентов по следующим параметрам:</p>
                                <ul>
                                    <li class="li_subtext">- название:</li>
                                    <li class="li_subtext">- сайт:</li>
                                    <li class="li_subtext">- сильные стороны конкурента относительно вашего продукта/бренда:</li>
                                    <li class="li_subtext">- слабые стороны конкурента относительно вашего продукта/бренда</li>
                                    <li class="li_subtext">- позиционирование и УТП конкурента:</li>
                                    <li class="li_subtext">- ценности продукта/бренда конкурента:</li>
                                    <li class="li_subtext">- как долго конкурент находится на рынке:</li>
                                    <li class="li_subtext">- доля в % потребления продукта конкурента относительно всего объема рынка:</li>
                                </ul>
                                <p>Конкурент 1:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f14-1" ></textarea>
                                </label>

                                <p>Конкурент 2:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f14-2"></textarea>
                                </label>
                                <p>Конкурент 3:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f14-3" ></textarea>
                                </label>
                            </li>
                            <div class="name center">Где?</div>
                            <li>
                                <p>Масштаб интересов:</p>
                                <input id="seo1" type="checkbox" name="f14[]" value="Международный">
                                <label for="seo1">Международный</label><br>
                                <input id="seo2" type="checkbox" name="f14[]" value="Федеральный">
                                <label for="seo2">Федеральный</label><br>
                                <input id="seo3" type="checkbox" name="f14[]" value="Региональный">
                                <label for="seo3">Региональный</label><br>
                                <input id="seo4" type="checkbox" name="f14[]" value="Местный">
                                <label for="seo4">Местный</label><br>
                            </li>
                            <li>
                                <p>План дистрибуции вашего товара с указанием географических, временных и количественных показателей.</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f15" required></textarea>
                                </label>
                            </li>
                            <div class="name center">Что еще?</div>
                            <li>
                                <p>Что еще на ваш взгляд нам важно знать о продукте/бренде, чтобы наша работа была эффективнее?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f16" required></textarea>
                                </label>
                            </li>
                            <div class="name center">Дизайн блок</div>
                            <li>
                                <p>Для чего вам нужен логотип и/или фирменный стиль? Какие задачи должна решить разработка?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f17" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Точки контакта и носители. Где ваш логотип/фирменный стиль будет чаще всего видеть потребитель? </p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f18" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Какие ощущения у потребителя должно вызвать визуальное оформление?Какой образ и характер бренда должен быть сформирован?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f19" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>По каким критериям будет оцениваться эффективность разработки?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f20" required></textarea>
                                </label>
                            </li>
                            <div class="name center">ФОРМА И СОДЕРЖАНИЕ</div>
                            <li>
                                <p>Языковые версии (кириллица, латиница и т.д.)</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f21" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Название (для каждой языковой версии)</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f22" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Какие визуальные образы отражают суть вашего бренда?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f23" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Какие образы и решения, на ваш взгляд, недопустимы для использования и почему?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f24" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Какой ХАРАКТЕР логотипа и стиля, на ваш взгляд, предпочтителен для создания желаемого образа бренда (сдержанный, экспрессивный, романтичный, мужской, волевой и т.д.)?
                                </p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f25" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Какой ТИП логотипа, на ваш взгляд, предпочтителен для создания желаемого образа бренда?</p>
                                <input type="hidden" name="f26" id="f26" value="">
                                <div class="logo-wrap">
                                    <div class="logo-item div-check-1" data-id="1" @click="divCheckFirst(1)">
                                        <label class="logo-label" for="logo1">
                                            <span>Комбинированный: знак + начертание названия</span>
                                            <img src="~@/assets/brief-style/logo/logo1.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-1" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="2" @click="divCheckFirst(2)">
                                        <label class="logo-label" for="logo2">
                                            <span>Интегрированный: знак включен в начертание названия</span>
                                            <img src="~@/assets/brief-style/logo/logo2.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-2" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="3" @click="divCheckFirst(3)">
                                        <label class="logo-label" for="logo3">
                                            <span>Шрифтовой</span>
                                            <img src="~@/assets/brief-style/logo/logo3.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-3" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="4" @click="divCheckFirst(4)">
                                        <label class="logo-label" for="logo4">
                                            <span>Композиционно-шрифтовой</span>
                                            <img src="~@/assets/brief-style/logo/logo4.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-4" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="5" @click="divCheckFirst(5)">
                                        <label class="logo-label" for="logo5">
                                            <span>Персонаж</span>
                                            <img src="~@/assets/brief-style/logo/logo5.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-5" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="6" @click="divCheckFirst(6)">
                                        <label class="logo-label" for="logo6">
                                            <span>Только знак</span>
                                            <img src="~@/assets/brief-style/logo/logo6.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-6" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="7" @click="divCheckFirst(7)">
                                        <label class="logo-label" for="logo7">
                                            <span>Герб</span>
                                            <img src="~@/assets/brief-style/logo/logo7.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-7" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="8" @click="divCheckFirst(8)">
                                        <label class="logo-label" for="logo8">
                                            <span>Эмблема</span>
                                            <img src="~@/assets/brief-style/logo/logo8.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-8" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="9" @click="divCheckFirst(9)">
                                        <label class="logo-label" for="logo9">
                                            <span>Вензель</span>
                                            <img src="~@/assets/brief-style/logo/logo9.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-9" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="10" @click="divCheckFirst(10)">
                                        <label class="logo-label" for="logo10">
                                            <span>Лигатура</span>
                                            <img src="~@/assets/brief-style/logo/logo10.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-10" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="11" @click="divCheckFirst(11)">
                                        <label class="logo-label" for="logo11">
                                            <span>Орнамент</span>
                                            <img src="~@/assets/brief-style/logo/logo11.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-11" style="display:none;">
                                    </div>
                                    <div class="logo-item div-check-1" data-id="12" @click="divCheckFirst(12)">
                                        <label class="logo-label" for="logo12">
                                            <span>Динамический – анимированный</span>
                                            <img src="~@/assets/brief-style/logo/logo12.png" alt="">
                                        </label>
                                        <img src="~@/assets/brief-style/checked.svg" class="checked1" id="checked1-12" style="display:none;">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <p>Какой СТИЛЬ/МЕТОД ГРАФИЧЕСКОГО РЕШЕНИЯ логотипа, на ваш взгляд, предпочтителен для создания желаемого образа бренда? <span class="underline">Выберите не более 5.</span></p>
                                <input type="hidden" name="f28-1" id="f28-1" value="0">
                                <input type="hidden" name="f28-2" id="f28-2" value="0">
                                <input type="hidden" name="f28-3" id="f28-3" value="0">
                                <input type="hidden" name="f28-4" id="f28-4" value="0">
                                <input type="hidden" name="f28-5" id="f28-5" value="0">
                                <input type="hidden" name="f28-6" id="f28-6" value="0">
                                <input type="hidden" name="f28-7" id="f28-7" value="0">
                                <input type="hidden" name="f28-8" id="f28-8" value="0">
                                <input type="hidden" name="f28-9" id="f28-9" value="0">
                                <input type="hidden" name="f28-10" id="f28-10" value="0">
                                <input type="hidden" name="f28-11" id="f28-11" value="0">
                                <input type="hidden" name="f28-12" id="f28-12" value="0">
                                <input type="hidden" name="f28-13" id="f28-13" value="0">
                                <input type="hidden" name="f28-14" id="f28-14" value="0">
                                <input type="hidden" name="f28-15" id="f28-15" value="0">
                                <input type="hidden" name="f28-16" id="f28-16" value="0">
                                <input type="hidden" name="f28-17" id="f28-17" value="0">
                                <input type="hidden" name="f28-18" id="f28-18" value="0">
                                <input type="hidden" name="f28-19" id="f28-19" value="0">
                                <input type="hidden" name="f28-20" id="f28-20" value="0">
                                <input type="hidden" name="f28-21" id="f28-21" value="0">
                                <input type="hidden" name="f28-22" id="f28-22" value="0">

                                <div class="style-wrap div-checked2" data-id="1" @click="divCheckSecond(1)">
                                    <label class="style-label" for="style1">
                                        <p class="style-wrap-title">Форма и контрформа</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style1.png" alt="">
                                            <img src="~@/assets/brief-style/style/style2.png" alt="">
                                            <img src="~@/assets/brief-style/style/style3.png" alt="">
                                            <img src="~@/assets/brief-style/style/style4.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-1" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="2" @click="divCheckSecond(2)">
                                    <label class="style-label" for="style2">
                                        <p class="style-wrap-title">Аллегория, метафора</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style5.png" alt="">
                                            <img src="~@/assets/brief-style/style/style6.png" alt="">
                                            <img src="~@/assets/brief-style/style/style7.png" alt="">
                                            <img src="~@/assets/brief-style/style/style8.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-2" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="3" @click="divCheckSecond(3)">
                                    <label class="style-label" for="style3">
                                        <p class="style-wrap-title">Каллиграфия</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style9.png" alt="">
                                            <img src="~@/assets/brief-style/style/style10.png" alt="">
                                            <img src="~@/assets/brief-style/style/style11.png" alt="">
                                            <img src="~@/assets/brief-style/style/style12.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-3" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="4" @click="divCheckSecond(4)">
                                    <label class="style-label" for="style4">
                                        <p class="style-wrap-title">Объем, фотореалистичность</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style13.png" alt="">
                                            <img src="~@/assets/brief-style/style/style14.png" alt="">
                                            <img src="~@/assets/brief-style/style/style15.png" alt="">
                                            <img src="~@/assets/brief-style/style/style16.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-4" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="5" @click="divCheckSecond(5)">
                                    <label class="style-label" for="style5">
                                        <p class="style-wrap-title">Величественность, аристократизм</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style17.png" alt="">
                                            <img src="~@/assets/brief-style/style/style18.png" alt="">
                                            <img src="~@/assets/brief-style/style/style19.png" alt="">
                                            <img src="~@/assets/brief-style/style/style20.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-5" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="6" @click="divCheckSecond(6)">
                                    <label class="style-label" for="style5">
                                        <p class="style-wrap-title">Каллиграфия</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style21.png" alt="">
                                            <img src="~@/assets/brief-style/style/style22.png" alt="">
                                            <img src="~@/assets/brief-style/style/style23.png" alt="">
                                            <img src="~@/assets/brief-style/style/style24.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-6" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="7" @click="divCheckSecond(7)">
                                    <label class="style-label" for="style6">
                                        <p class="style-wrap-title">Прямолинейность</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style25.png" alt="">
                                            <img src="~@/assets/brief-style/style/style26.png" alt="">
                                            <img src="~@/assets/brief-style/style/style27.png" alt="">
                                            <img src="~@/assets/brief-style/style/style28.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-7" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="8" @click="divCheckSecond(8)">
                                    <label class="style-label" for="style7">
                                        <p class="style-wrap-title">Типографика</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style29.png" alt="">
                                            <img src="~@/assets/brief-style/style/style30.png" alt="">
                                            <img src="~@/assets/brief-style/style/style31.png" alt="">
                                            <img src="~@/assets/brief-style/style/style32.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-8" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="9" @click="divCheckSecond(9)">
                                    <label class="style-label" for="style8">
                                        <p class="style-wrap-title">Юмор</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style33.png" alt="">
                                            <img src="~@/assets/brief-style/style/style34.png" alt="">
                                            <img src="~@/assets/brief-style/style/style35.png" alt="">
                                            <img src="~@/assets/brief-style/style/style36.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-9" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="10" @click="divCheckSecond(10)">
                                    <label class="style-label" for="style9">
                                        <p class="style-wrap-title">Градиенты, прозрачности, блюр</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style37.png" alt="">
                                            <img src="~@/assets/brief-style/style/style38.png" alt="">
                                            <img src="~@/assets/brief-style/style/style39.png" alt="">
                                            <img src="~@/assets/brief-style/style/style40.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-10" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="11" @click="divCheckSecond(11)">
                                    <label class="style-label" for="style10">
                                        <p class="style-wrap-title">Семантичность</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style41.png" alt="">
                                            <img src="~@/assets/brief-style/style/style42.png" alt="">
                                            <img src="~@/assets/brief-style/style/style43.png" alt="">
                                            <img src="~@/assets/brief-style/style/style44.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-11" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="12" @click="divCheckSecond(12)">
                                    <label class="style-label" for="style11">
                                        <p class="style-wrap-title">Этника</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style45.png" alt="">
                                            <img src="~@/assets/brief-style/style/style46.png" alt="">
                                            <img src="~@/assets/brief-style/style/style47.png" alt="">
                                            <img src="~@/assets/brief-style/style/style48.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-12" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="13" @click="divCheckSecond(13)">
                                    <label class="style-label" for="style12">
                                        <p class="style-wrap-title">Корпоративность</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style49.png" alt="">
                                            <img src="~@/assets/brief-style/style/style50.png" alt="">
                                            <img src="~@/assets/brief-style/style/style51.png" alt="">
                                            <img src="~@/assets/brief-style/style/style52.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-13" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="14" @click="divCheckSecond(14)">
                                    <label class="style-label" for="style13">
                                        <p class="style-wrap-title">Минимализм, лаконичность</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style53.png" alt="">
                                            <img src="~@/assets/brief-style/style/style54.png" alt="">
                                            <img src="~@/assets/brief-style/style/style55.png" alt="">
                                            <img src="~@/assets/brief-style/style/style56.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-14" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="15" @click="divCheckSecond(15)">
                                    <label class="style-label" for="style14">
                                        <p class="style-wrap-title">Геометрия</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style57.png" alt="">
                                            <img src="~@/assets/brief-style/style/style58.png" alt="">
                                            <img src="~@/assets/brief-style/style/style59.png" alt="">
                                            <img src="~@/assets/brief-style/style/style60.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-15" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="16" @click="divCheckSecond(16)">
                                    <label class="style-label" for="style15">
                                        <p class="style-wrap-title">Государственные мотивы</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style61.png" alt="">
                                            <img src="~@/assets/brief-style/style/style62.png" alt="">
                                            <img src="~@/assets/brief-style/style/style63.png" alt="">
                                            <img src="~@/assets/brief-style/style/style64.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-16" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="17" @click="divCheckSecond(17)">
                                    <label class="style-label" for="style16">
                                        <p class="style-wrap-title">Рисование</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style65.png" alt="">
                                            <img src="~@/assets/brief-style/style/style66.png" alt="">
                                            <img src="~@/assets/brief-style/style/style67.png" alt="">
                                            <img src="~@/assets/brief-style/style/style68.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-17" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="18" @click="divCheckSecond(18)">
                                    <label class="style-label" for="style17">
                                        <p class="style-wrap-title">Художественность</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style69.png" alt="">
                                            <img src="~@/assets/brief-style/style/style70.png" alt="">
                                            <img src="~@/assets/brief-style/style/style71.png" alt="">
                                            <img src="~@/assets/brief-style/style/style72.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-18" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="19" @click="divCheckSecond(19)">
                                    <label class="style-label" for="style18">
                                        <p class="style-wrap-title">Абстракция</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style73.png" alt="">
                                            <img src="~@/assets/brief-style/style/style74.png" alt="">
                                            <img src="~@/assets/brief-style/style/style75.png" alt="">
                                            <img src="~@/assets/brief-style/style/style76.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-19" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="20" @click="divCheckSecond(20)">
                                    <label class="style-label" for="style19">
                                        <p class="style-wrap-title">Детскость, намеренный инфантилизм</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style77.png" alt="">
                                            <img src="~@/assets/brief-style/style/style78.png" alt="">
                                            <img src="~@/assets/brief-style/style/style79.png" alt="">
                                            <img src="~@/assets/brief-style/style/style80.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-20" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="21" @click="divCheckSecond(21)">
                                    <label class="style-label" for="style20">
                                        <p class="style-wrap-title">Историчность, мифологичность</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style81.png" alt="">
                                            <img src="~@/assets/brief-style/style/style82.png" alt="">
                                            <img src="~@/assets/brief-style/style/style83.png" alt="">
                                            <img src="~@/assets/brief-style/style/style84.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-21" style="display:none;">
                                </div>
                                <div class="style-wrap div-checked2" data-id="22" @click="divCheckSecond(22)">
                                    <label class="style-label" for="style21">
                                        <p class="style-wrap-title">Система элементов</p>
                                        <div class="style-imgs">
                                            <img src="~@/assets/brief-style/style/style85.png" alt="">
                                            <img src="~@/assets/brief-style/style/style86.png" alt="">
                                            <img src="~@/assets/brief-style/style/style87.png" alt="">
                                            <img src="~@/assets/brief-style/style/style88.png" alt="">
                                        </div>
                                    </label>
                                    <img src="~@/assets/brief-style/checked.svg" class="checked2" id="checked2-22" style="display:none;">
                                </div>
                            </li>
                            <li>
                                <p>Какие цвета (и их количество), на ваш взгляд, предпочтительны для создания желаемого образа бренда?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f29" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Приведите примеры логотипы и стили других брендов, которые вы считаете удачными с точки зрения создания желаемого образа бренда и объясните почему?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f30" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Приведите примеры логотипы и стили других брендов, которые вы считаете <span class="underline">неудачными</span> с точки зрения создания желаемого образа бренда и объясните почему?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f31" required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>В производстве ваш фирменный стиль должен быть экономичным или допустимо использование нестандартных дизайнерских решений: необычная бумага, тиснение, вырубка, конгрев и прочее?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f32" required></textarea>
                                </label>
                            </li>

                            <li>
                                <p>Какие носители фирменного стиля необходимо разработать?</p>
                                <div class="report-item">
                                    <input id="report1" type="checkbox" name="f33[]" value="Корпоративная визитка">
                                    <label for="report1">Корпоративная визитка</label>
                                </div>
                                <div class="report-item">
                                    <input id="report2" type="checkbox" name="f33[]" value="Персональная визитка">
                                    <label for="report2">Персональная визитка</label>
                                </div>
                                <div class="report-item">
                                    <input id="report3" type="checkbox" name="f33[]" value="Бланк">
                                    <label for="report3">Бланк</label>
                                </div>
                                <div class="report-item">
                                    <input id="report4" type="checkbox" name="f33[]" value="Конверт">
                                    <label for="report4">Конверт</label>
                                </div>
                                <div class="report-item">
                                    <input id="report5" type="checkbox" name="f33[]" value="Папка">
                                    <label for="report5">Папка</label>
                                </div>
                                <div class="report-item">
                                    <input id="report6" type="checkbox" name="f33[]" value="Шаблоны презентации PowerPoint">
                                    <label for="report6">Шаблоны презентации PowerPoint</label>
                                </div>
                                <div class="report-item">
                                    <input id="report7" type="checkbox" name="f33[]" value="Шаблоны для технической, проектной и пр. документации">
                                    <label for="report7">Шаблоны для технической, проектной и пр. документации</label>
                                </div>
                                <div class="report-item">
                                    <input id="report8" type="checkbox" name="f33[]" value="Обложка CD/DVD">
                                    <label for="report8">Обложка CD/DVD</label>
                                </div>
                                <div class="report-item">
                                    <input id="report9" type="checkbox" name="f33[]" value="Шаблон поздравительный открытки">
                                    <label for="report9">Шаблон поздравительный открытки</label>
                                </div>
                                <div class="report-item">
                                    <input id="report10" type="checkbox" name="f33[]" value="Шаблон приглашения">
                                    <label for="report10">Шаблон приглашения</label>
                                </div>
                                <div class="report-item">
                                    <input id="report11" type="checkbox" name="f33[]" value="Типовая листовка/флаер">
                                    <label for="report11">Типовая листовка/флаер</label>
                                </div>
                                <div class="report-item">
                                    <input id="report12" type="checkbox" name="f33[]" value="Типовой буклет">
                                    <label for="report12">Типовой буклет</label>
                                </div>
                                <div class="report-item">
                                    <input id="report13" type="checkbox" name="f33[]" value="Модульная сетка для печатной и наружной рекламы">
                                    <label for="report13">Модульная сетка для печатной и наружной рекламы        </label>
                                </div>
                                <div class="report-item">
                                    <input id="report14" type="checkbox" name="f33[]" value="Бейдж">
                                    <label for="report14">Бейдж</label>
                                </div>
                                <div class="report-item">
                                    <input id="report15" type="checkbox" name="f33[]" value="Пропуск">
                                    <label for="report15">Пропуск</label>
                                </div>
                                <div class="report-item">
                                    <input id="report16" type="checkbox" name="f33[]" value="Блокнот">
                                    <label for="report16">Блокнот</label>
                                </div>
                                <div class="report-item">
                                    <input id="report17" type="checkbox" name="f33[]" value="Блок-куб">
                                    <label for="report17">Блок-куб</label>
                                </div>
                                <div class="report-item">
                                    <input id="report18" type="checkbox" name="f33[]" value="Ручка/карандаш">
                                    <label for="report18">Ручка/карандаш</label>
                                </div>
                                <div class="report-item">
                                    <input id="report19" type="checkbox" name="f33[]" value="Настольный флаг">
                                    <label for="report19">Настольный флаг</label>
                                </div>
                                <div class="report-item">
                                    <input id="report20" type="checkbox" name="f33[]" value="Настольный флаг">
                                    <label for="report20">Настольный флаг</label>
                                </div>
                                <div class="report-item">
                                    <input id="report21" type="checkbox" name="f33[]" value="Пепельница">
                                    <label for="report21">Пепельница</label>
                                </div>
                                <div class="report-item">
                                    <input id="report22" type="checkbox" name="f33[]" value="Зажигалка">
                                    <label for="report22">Зажигалка</label>
                                </div>
                                <div class="report-item">
                                    <input id="report23" type="checkbox" name="f33[]" value="Кружка/стакан">
                                    <label for="report23">Кружка/стакан</label>
                                </div>
                                <div class="report-item">
                                    <input id="report24" type="checkbox" name="f33[]" value="Спецодежда (укажите – какая)">
                                    <label for="report24">Спецодежда (укажите какая)</label>
                                    <textarea class="materialize-textarea" name="f33-1"></textarea>
                                </div>
                                <div class="report-item">
                                    <input id="report25" type="checkbox" name="f33[]" value="Автотранспорт (укажите марки автомобилей и спецтехники)">
                                    <label for="report25">Автотранспорт (укажите марки автомобилей и спецтехники)</label>
                                    <textarea class="materialize-textarea" name="f33-2"></textarea>
                                </div>
                                <div class="report-item">
                                    <input id="report26" type="checkbox" name="f33[]" value="Стенд">
                                    <label for="report26">Стенд</label>
                                </div>
                                <div class="report-item">
                                    <input id="report27" type="checkbox" name="f33[]" value="Настольный флаг">
                                    <label for="report27">Настольный флаг</label>
                                </div>
                                <div class="report-item">
                                    <input id="report28" type="checkbox" name="f33[]" value="Экстерьерное оформление">
                                    <label for="report28">Экстерьерное оформление</label>
                                </div>
                                <div class="report-item">
                                    <input id="report29" type="checkbox" name="f33[]" value="Интерьерное оформление">
                                    <label for="report29">Интерьерное оформление</label>
                                </div>
                                <div class="report-item">
                                    <input id="report30" type="checkbox" name="f33[]" value="Настольный флаг">
                                    <label for="report30">Другое:</label>
                                    <textarea class="materialize-textarea" name="f33-3"></textarea>
                                </div>
                            </li>
                            <li>
                                <p>Какого типа руководство по фирменному стилю вам нужно?</p>
                                <div class="type-item">
                                    <input id="type1" type="checkbox" name="f34[]" value="Брендбук">
                                    <label for="type1">Брендбук (описание маркетинговой стратегии + описание визуальных коммуникаций и стандартов работы с ними на примере различных носителей)</label>
                                </div>
                                <div class="type-item">
                                    <input id="type2" type="checkbox" name="f34[]" value="Guideline">
                                    <label for="type2">Guideline (описание только стандартов и правил работы с фирменным стилем)</label>
                                </div>
                                <div class="type-item">
                                    <input id="type3" type="checkbox" name="f34[]" value="Не нужно">
                                    <label for="type3">Не нужно</label>
                                </div>
                            </li>
                            <li>
                                <p>Что ещё, что уточнит задачу по разработке фирменного стиля, нам необходимо знать?</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name="f35"></textarea>
                                </label>
                            </li>
                        </ol>
                        <hr>
                        <div class="garant">
                            <div class="name center">Контактная информация для связи</div>
                            <p>Название и адрес компании:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name="company" required></textarea>
                            </label>
                            <p>Ваше ФИО:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name="fio" required></textarea>
                            </label>
                            <p>Ваш Контактный телефон:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name="phone" required></textarea>
                            </label>
                            <p>Ваш email:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name="email" required></textarea>
                            </label>
                            <div class="check-garant">
                                <input id="test1" type="checkbox" name="confirm" value="Гарантирую правильность сведений, указанных в данном брифе." required>
                                <label for="test1">Гарантирую правильность сведений, указанных в данном брифе.</label>
                            </div>

                        </div>


                        <div class="row">
                            <div class="btnSubmit">
                                <button id="feedbackSubmit" type="submit" value="Отправить" name="action" class="btnOpenModalBrif">
                                    Отправить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>


    </div>
</template>

<script>
import JQuery from 'jquery';
let $ = JQuery;


export default {
  name: 'brief-style',
  data() {
    return {

    }
  },
  components: {
  },
  computed: {
  },
  methods: {
    sendBrief: function () {
      var form = $("#brief").serialize();
      $.ajax({
        type: "POST",
        url: "/brief-send.php",
        data: form
      }).done(function() {
        location.href = '/thnx';
      });
      return false;
    },

    divCheckFirst: function(number) {
      $('#f26').val(number);
      $('.checked1').hide();
      $('#checked1-' + number).show();
    },

    divCheckSecond: function(number) {
      var val = $('#f28-' + number).val();
      $('#checked2-' + number).hide();
      if(val == 0){
        $('#f28-' + number).val(1);
        $('#checked2-' + number).show();
      } else {
        $('#f28-' + number).val(0);
        $('#checked2-' + number).hide();
      }
    }

  },
}
</script>

<style lang="scss" scoped>
    .thxForm{
        .closeFormPopup{
            width: 15px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
            display: block;
            &:before{
                content: 'X';
                font-size: 16px;
                font-weight: bold;
                color: #000
            }
        }
        &-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%;
            padding: 15px;
        }
        p{
            font-size: 16px;
        }
    }

    .div-checked2{
        .checked2{
            width: 24px;
        }
    }

    /*SECTION-1 .ADS*/
    .underline {
        text-decoration: underline;
    }
    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    .animated_blink {
        animation: blink-animation 1s steps(2, start) infinite;
        -webkit-animation: blink-animation 1s steps(2, start) infinite;
    }
    .brif .ads {
        background-color: #222831;
    }
    .brif .adsLeft {
        padding-bottom: 43px;
    }
    .brif .ads h1 {
        font-size: 46px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 114%;
        padding: 32px 0 20px 0;
        margin: 0;
    }

    .brif .ads p {
        color: #fff;
        font-size: 16px;
        line-height: 17px;
    }
    .brif .ads span {
        color: #fff;
        font-size: 14px;
        line-height: 17px;
        display: block;
        margin: 17px 0 40px;
    }
    .blue-text {
        color: #0aa4dd;
    }
    .brif .brif-web .li_subtext {
        font-size: 13px;
        font-weight: 400;
        margin-top: 0;
    }
    .brif .brif-web .li_subtext span {
        font-weight: 700;
    }
    .flexClass {
        display: flex;
        align-items: baseline;
    }
    .flexClass input {
        margin-right: 5px;
    }
    .logo-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .logo-item {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        padding: 10px 0;
        border: 1px solid #222;
        @media screen and (max-width: 700px){
            width: 100%;
        }
        .checked1{
            width: 24px;
        }
    }
    .logo-item:not(:nth-child(4n)){
        border-right: 0;
        @media screen and (max-width: 700px){
            border-right: 1px solid #222;
        }
    }
    .logo-label {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .logo-label span {
        text-align: center;
    }
    .logo-wrap input {
        margin-bottom: 5px;
    }
    .logo-label img {
        max-width: 200px;
    }
    .style-imgs {
        display: flex;
        justify-content: center;
        border: 1px solid #222;
        @media screen and (max-width: 767px){
            img{
                width: 25%;
            }
        }
    }
    .style-imgs img:not(:last-child) {
        border-right: 1px solid #222;
    }
    .style-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    .style-wrap-title {
        font-weight: 700;
        text-align: center;
        background: #c4c4c4;
    }
    /*END OF SECTION-1 .ADS*/

    /*SECTION-2 .BRIF-WEB*/
    .brif .brif-web {
        margin-bottom: 50px;
    }
    .brif .brif-web .name {
        color: #000;
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin: 35px 0;
        @media screen and (max-width: 767px){
            font-size: 20px;
        }
    }
    .brif .brif-web li, .brif .brif-web p {
        color: #000;
        font-size: 17px;
        margin-top: 15px;
    }
    .brif .brif-web li {
        font-weight: 700;
    }
    .brif .brif-web p.alert {
        color: #000;
        font-size: 17px;
        text-align: center;
    }
    .brif .brif-web #feedbackSubmit {
        color: #00b2d8;
        font-size: 18px;
        background-position-x: 80%;
        border: 2px solid #00b2d8;
        padding: 10px 50px;
        text-transform: lowercase;
        letter-spacing: 1px;
        margin: 18px 0;
        background: transparent;
    }
    .brif .brif-web #feedbackSubmit:hover {
        color: #fff;
        background: #00b2d8;
    }
    .brif .brif-web label {
        color: #3b3b3b;
        font-size: 14px;
    }
    .brif .brif-web label.w100 {
        color: #3b3b3b;
        font-size: 14px;
        width: 100%;
        display: inline-block;
    }

    .brif .brif-web input {
        border: none;
        background: #fff;
    }
    .brif .brif-web input.file-path {
        width: 100%;
    }
    .brif .brif-web input[type="file"] {
        width: 100%;
        height: 100%;
        opacity: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    .brif .brif-web input[type="file"]:hover {
        cursor: pointer;
    }
    .brif .brif-web .file-path-wrapper {
        display: inline-block;
        margin-top: 25px;
        width: 65%;
    }
    .brif .brif-web textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #dddddc;
        border-radius: 0;
        outline: none;
        height: 3rem;
        min-height: 3rem;
        width: 100%;
        font-size: 16px;
        box-shadow: none;
        box-sizing: content-box;
        transition: all .3s;
        color: #000;
        overflow-y: hidden;
        padding: 1.6rem 0;
        resize: none;
    }
    .brif .brif-web .mod {
        position: fixed;
        display: none;
        top: 30%;
        z-index: 1000;
        width: 500px;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        background: #7CB8C9;
        padding: 50px 0;
        color: #fff;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        letter-spacing: .5px;
        text-transform: uppercase;
        border-radius: 2px;
    }
    .brif .brif-web .mod a {
        background-color: #fff;
        padding: 9px 45px;
        color: #ff0000;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    }
    .brif .brif-web input:not([type]):focus:not([readonly]), .brif .brif-web input[type=text]:focus:not([readonly]), .brif .brif-web input[type=password]:focus:not([readonly]), .brif .brif-web input[type=email]:focus:not([readonly]), .brif .brif-web input[type=url]:focus:not([readonly]), .brif .brif-web input[type=time]:focus:not([readonly]), .brif .brif-web input[type=date]:focus:not([readonly]), .brif .brif-web input[type=datetime-local]:focus:not([readonly]), .brif .brif-web input[type=tel]:focus:not([readonly]), .brif .brif-web input[type=number]:focus:not([readonly]), .brif .brif-web input[type=search]:focus:not([readonly]), .brif .brif-web textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #00b2d8;
        box-shadow: 0 1px 0 0 #00b2d8;
    }
    .brif .brif-web ::-webkit-input-placeholder {
        color: #666;
        padding-left: 10px;
    }
    .brif .brif-web ::-moz-placeholder {
        color: #666;
        padding-left: 10px;
    }
    .brif .brif-web ::-ms-input-placeholder {
        color: #666;
        padding-left: 10px;
    }
    .brif .brif-web :-moz-placeholder {
        color: #666;
        padding-left: 10px;
    }
    .brif .brif-web .btn {
        color: #000;
        font-size: 18px;
        border: 2px solid #00b2d8;
        padding: 5px 50px;
        text-transform: uppercase;
        margin: 18px 0;
        display: inline-block;
        position: relative;
        cursor: pointer;
        float: left;
    }
    .brif .brif-web .btn:hover {
        color: #fff;
        background: #00b2d8 ;
    }
    .brif .brif-web table {
        width: 100%;
        display: table;
    }
    .brif .brif-web td {
        height: 60px;
    }
    .brif .brif-web td, th {
        padding: 15px 5px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
    }
    .brif .brif-web td label {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    /*END OF SECTION-2 .BRIF-WEB*/
    .garant {
        margin-top: 80px;
    }

    .garant p {
        font-size: 14px !important;
        font-weight: 700;
    }
    .check-garant {
        margin: 20px 0;
        text-align: center;
    }
    .check-garant label {
        color: #0aa4dd !important;
    }



    @media (max-width: 767px) {
        .brif .ads h1 {
            font-size: 22px;
        }
        .brif .ads p {
            font-size: 15px;
        }
        .brif .ads {
            margin-top: 60px;
        }
    }
</style>


