<template>
    <div class="brief brif">

        <!--set meta data-->
        <vue-headful
                title="Бриф на создание сайта"
                description="Бриф на разработку сайта от веб-студии Mobios."
                keywords=""
                url="brief"
        />
        <!--end set meta data-->

        <section class="ads rel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 center">
                        <h1>Бриф на создание сайта</h1>
                        <p>Данный документ является анкетой для заказа услуг по созданию сайта</p>
                        <span>Для более четкого определения целей, стоящих перед будущим сайтом, необходимо заполнить анкету максимально подробно. Ваши ответы помогут сформировать представление о вас, ваших клиентах, а также собственных предпочтениях и вкусах. Мы гарантируем конфиденциальность представленной информации о вас и о вашей деятельности.</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="brif-web">
            <div class="container">
                <div class="row">
                    <form id="brief" class="callback" enctype="multipart/form-data" @submit.prevent="sendBrief">
                        <input type="hidden" name="project_name" value="Заявка (Бриф на создание сайта)">
                        <input type="hidden" name="admin_email" value="pm.mobios@gmail.com">
                        <input type="hidden" name="form_subject" value="Новая заявка с mobios.ua (Бриф на создание сайта)">
                        <ol>
                            <div class="name center">Общая информация</div>
                            <p>
                            <li>Название компании:</li>
                            <label class="w100">Полное и сокращенное название, адрес текущего сайта (если есть).
                                <textarea class="materialize-textarea" name='Название компании' required></textarea>
                            </label>
                            </p>
                            <p>
                            <li>Область деятельности, направление бизнеса вашей компании:</li>
                            <label class="w100">Ваши преимущества, отличия, ключевые моменты, специфика бизнеса.
                                <textarea class="materialize-textarea" name='Область деятельности, направление бизнеса вашей компании' required></textarea>
                            </label>
                            </p>
                            <p>
                            <li>Адреса сайтов ваших основных конкурентов:</li>
                            <label class="w100">Опишите вашу оценку сайтам основных конкурентов (положительные, отрицательные стороны).
                                <textarea class="materialize-textarea" name='Адреса сайтов ваших основных конкурентов' required></textarea>
                            </label>
                            </p>
                            <p>
                            <li>География работы компании:</li>
                            <label class="w100">Ваши преимущества, отличия, ключевые моменты, специфика бизнеса
                                <textarea class="materialize-textarea" name='География работы компании' required></textarea>
                            </label>
                            </p>
                            <p>
                            <li>Сроки и Бюджет:</li>
                            <label class="w100">Укажите желаемый и обязательный сроки сдачи проекта, а также дату начала работ.
                                Укажите «вилку» предполагаемого бюджета на разработку сайта
                                <textarea class="materialize-textarea" name='Сроки и Бюджет' required></textarea>
                            </label>
                            </p>
                            <p>
                            <li>Вышлите фирменный стиль компании и логотип:</li>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Загрузить<span class="animated_blink">_</span></span>
                                    <input type="file" name="file[]">
                                </div>
                                <div class="file-path-wrapper">
                                    <input placeholder="Прикрепите файл с архивом" class="file-path validate" name="file1" type="text" disabled>
                                </div>
                            </div>
                            <label class="w100">Если его нет и вы хотите его разработать уточните об этом
                                <textarea class="materialize-textarea" name='Если его нет и вы хотите его разработать уточните об этом(файл 1)'></textarea>
                            </label>
                            </p>
                            <p>
                            <li>Ответственное лицо:</li>
                            <label class="w100">Правом утверждать промежуточные стадии проекта и принимать готовый проект
                                может только тот человек, который несёт за эти решения прямую ответственность,
                                т.е. непосредственно заказчик, или его представитель в лице менеджера проекта со стороны заказчика.
                                <textarea class="materialize-textarea" name='Ответственное лицо'></textarea>
                            </label>
                            </p>

                            <div class="name center">Стратегия</div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <li>Цели сайта:</li>
                                    <label class="w100" for="goal">Каких результатов вы хотите добиться с помощью нового сайта?</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea id="goal" class="materialize-textarea" name='Цели сайта'></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <li>Потребности пользователей:</li>
                                    <label class="w100" for="needs">Что хотят получить от сайта ваши посетители (цели диктуемые сайту извне)?</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea id="needs" class="materialize-textarea" name='Потребности пользователей'></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <li>Пользовательская аудитория:</li>
                                    <label class="w100" for="people"> Демографические критерии: пол, возраст, доход.
                                        Психографические профили: взгляды пользователей, как они воспринимают
                                        конкретную тему вашего сайта или окружающий мир в целом.</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea id="people" class="materialize-textarea" name='Пользовательская аудитория'></textarea>
                                </div>
                            </div>

                            <div class="name center">Функционал</div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Предполагаемый тип сайта (выделите подходящий вариант):</li>
                                </div>


                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input id="test1" type="radio" name="Функционал: предполагаемый тип сайта (выделите подходящий вариант)" value="Сайт-визитка">
                                    <label for="test1">Сайт-визитка</label><br>
                                    <input id="test2" type="radio" name="Функционал: предполагаемый тип сайта (выделите подходящий вариант)" value="Сайт-портфолио">
                                    <label for="test2">Сайт-портфолио</label><br>
                                    <input id="test3" type="radio" name="Функционал: предполагаемый тип сайта (выделите подходящий вариант)" value="Блог">
                                    <label for="test3">Блог</label><br>
                                    <input id="test4" type="radio" name="Функционал: предполагаемый тип сайта (выделите подходящий вариант)" value="Социальная сеть">
                                    <label for="test4">Социальная сеть</label><br>
                                    <input id="test5" type="radio" name="Функционал: предполагаемый тип сайта (выделите подходящий вариант)" value="Корпоративный сайт с каталогом">
                                    <label for="test5">Корпоративный сайт с каталогом</label><br>
                                    <input id="test6" type="radio" name="Функционал: предполагаемый тип сайта (выделите подходящий вариант)" value="Корпоративный сайт без каталога">
                                    <label for="test6">Корпоративный сайт без каталога</label><br>
                                    <input id="test7" type="radio" name="Функционал: предполагаемый тип сайта (выделите подходящий вариант)" value="Интернет-магазин">
                                    <label for="test7">Интернет-магазин</label><br>
                                    <input id="test8" type="radio" name="Функционал: предполагаемый тип сайта (выделите подходящий вариант)" value="Информационный портал">
                                    <label for="test8">Информационный портал</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6"><textarea placeholder="Другое" class="materialize-textarea" name="Функционал: предполагаемый тип сайта (другое)"></textarea></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Функциональные возможности сайта (выделите подходящий вариант):</li>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input id="test9" type="checkbox" name="Функциональные возможности сайта" value='Публикация новостей'>
                                    <label for="test9">Публикация новостей</label><br>
                                    <input id="test10" type="checkbox" name="Функциональные возможности сайта" value='Публикация статей'>
                                    <label for="test10">Публикация статей</label><br>
                                    <input id="test11" type="checkbox" name="Функциональные возможности сайта" value='Публикация акций'>
                                    <label for="test11">Публикация акций</label><br>
                                    <input id="test12" type="checkbox" name="Функциональные возможности сайта" value='Подписка на рассылку новостей'>
                                    <label for="test12">Подписка на рассылку новостей</label><br>
                                    <input id="test13" type="checkbox" name="Функциональные возможности сайта" value='Форма обратной связи'>
                                    <label for="test13">Формы обратной связи</label><br>
                                    <input id="test14" type="checkbox" name="Функциональные возможности сайта" value='Размещение файлов для скачивая'>
                                    <label for="test14">Размещение файлов для скачивания</label><br>
                                    <input id="test15" type="checkbox" name="Функциональные возможности сайта" value='Фотоальбом'>
                                    <label for="test15">Фотоальбомы</label><br>
                                    <input id="test16" type="checkbox" name="Функциональные возможности сайта" value='Быстрый поиск по сайту'>
                                    <label for="test16">Быстрый поиск по сайту</label><br>
                                    <input id="test17" type="checkbox" name="Функциональные возможности сайта" value='Каталог товаров без корзины'>
                                    <label for="test17">Каталог товаров без «корзины»</label><br>
                                    <input id="test18" type="checkbox" name="Функциональные возможности сайта" value='Интернет-магазин с корзиной'>
                                    <label for="test18">Интернет-магазин «с корзиной»</label><br>
                                    <input id="test19" type="checkbox" name="Функциональные возможности сайта" value='Книга отзывов'>
                                    <label for="test19">Книга отзывов</label><br>
                                    <input id="test20" type="checkbox" name="Функциональные возможности сайта" value='Онлайн консультации'>
                                    <label for="test20">Онлайн-консультации</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea placeholder="Другое" class="materialize-textarea" name='Функциональные возможности сайта(другое) '></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Система управления контентом (CMS & Фреймворк Laravel) (выделите подходящий вариант):</li>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input id="test21" type="radio" name="Система управления контентом" value="Wordpress или Joomla">
                                    <label for="test21">Wordpress или Joomla</label><br>
                                    <input id="test22" type="radio" name="Система управления контентом" value="Фреймворк Laravel">
                                    <label for="test22">Фреймворк Laravel</label><br>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea placeholder="Другая:" class="materialize-textarea" name='Система управления контентом(другое)'></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Взаимодействие со сторонними программами (выделите подходящий вариант):</li>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input id="test23" type="checkbox" name="Взаимодействие со сторонними программами" value="Интеграция с 1С">
                                    <label for="test23">Интеграция с 1С</label><br>
                                    <input id="test24" type="checkbox" name="Взаимодействие со сторонними программами" value="Платежные системы">
                                    <label for="test24">Платежные системы</label><br>
                                    <input id="test25" type="checkbox" name="Взаимодействие со сторонними программами" value="Социальные сети">
                                    <label for="test25">Социальные сети</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea placeholder="Другое" class="materialize-textarea" name='Взаимодействие со сторонними программами(другое)'></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>
                                    <li>Языковые версии сайта:</li>
                                    <label class="w100">Какие языковые версии планируются на сайте? Чем они будут отличаться между собой
                                        <textarea class="materialize-textarea" name='Какие языковые версии планируются на сайте? Чем они будут отличаться между собой'></textarea>
                                    </label>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>
                                    <li>Основные требования и пожелания по функционалу сайта:</li>
                                    <label class="w100">Укажите все, что, с вашей точки зрения, может уточнить задачу по созданию сайта.
                                        <textarea class="materialize-textarea" name='Основные требования и пожелания по функционалу сайта'></textarea>
                                    </label>
                                    </p>
                                </div>
                            </div>

                            <div class="name center">Структура</div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>
                                    <li>Разделы сайта:</li>
                                    <label class="w100">Перечислите все основные и вспомогательные разделы и подразделы.
                                        Будет ли меняться количество/расположение после сдачи сайта?
                                        <textarea class="materialize-textarea" name='Разделы сайта'></textarea>
                                    </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>
                                    <li>Навигация по сайту:</li>
                                    <label class="w100">Какие навигационные меню будут присутствовать на страницах сайта (слева/справа/сверху/снизу).
                                        Какие разделы и подразделы должны содержать.
                                        <textarea class="materialize-textarea" name='Какие навигационные меню будут присутствовать на страницах сайта (слева/справа/сверху/снизу).
				                        Какие разделы и подразделы должны содержать'></textarea>
                                    </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>
                                    <li>Информационные блоки:</li>
                                    <label class="w100">Перечислите все информационные блоки, которые обязательно должны присутствовать
                                        на главной странице и на внутренних страницах вашего сайта.
                                        <textarea class="materialize-textarea" name='Перечислите все информационные блоки, которые обязательно должны присутствовать
				                        на главной странице и на внутренних страницах вашего сайта'></textarea>
                                    </label>
                                    </p>
                                </div>
                            </div>

                            <div class="name center">Компоновка и дизайн</div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>
                                    <li>Приведите примеры сайтов, которые вам нравятся:</li>
                                    <label class="w100">Желательно, чтобы они относились к вашей области бизнеса.
                                        Опишите, чем именно они вам понравились (дизайн, цвета, структура, эффекты и т.д ).
                                        <textarea class="materialize-textarea" name='Приведите примеры сайтов, которые вам нравятся'></textarea>
                                    </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>
                                    <li>Приведите примеры сайтов, которые вам не нравятся:</li>
                                    <label class="w100">Подробнее опишите, какие детали их реализации вам не нравятся и по какой причине
                                        (дизайн, цвета, структура, эффекты и т.д ).
                                        <textarea class="materialize-textarea" name='Приведите примеры сайтов, которые вам не нравятся'></textarea>
                                    </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Общая композиция сайта (выделите подходящий вариант):</li>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input id="test26" type="radio" name="Общая композиция сайта (выделите подходящий вариант)" value="Жесткая левосторонняя">
                                    <label for="test26">Жесткая левосторонняя</label><br>
                                    <input id="test27" type="radio" name="Общая композиция сайта (выделите подходящий вариант)" value="Правосторонняя">
                                    <label for="test27">Правосторонняя</label><br>
                                    <input id="test28" type="radio" name="Общая композиция сайта (выделите подходящий вариант)" value="По центру">
                                    <label for="test28">По центру</label><br>
                                    <input id="test29" type="radio" name="Общая композиция сайта (выделите подходящий вариант)" value="«Резиновая» (во всю ширину экрана)">
                                    <label for="test29">«Резиновая» (во всю ширину экрана)</label><br>
                                    <input id="test30" type="radio" name="Общая композиция сайта (выделите подходящий вариант)" value="На усмотрение дизайнера">
                                    <label for="test30">На усмотрение дизайнера</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea placeholder="Другое" class="materialize-textarea" name='Общая композиция сайта(другое)'></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Настроение и ассоциации, которые должен вызывать дизайн (выделите подходящий вариант):
                                    </li>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input id="test31" type="radio" name="Настроение и ассоциации, которые должен вызывать дизайн" value="Строгий корпоративный дизайн">
                                    <label for="test31">Строгий корпоративный дизайн</label><br>
                                    <input id="test32" type="radio" name="Настроение и ассоциации, которые должен вызывать дизайн" value="Яркий, броский дизайн">
                                    <label for="test32">Яркий, броский дизайн</label><br>
                                    <input id="test33" type="radio" name="Настроение и ассоциации, которые должен вызывать дизайн" value="Позитивный и веселый">
                                    <label for="test33">Позитивный и веселый</label><br>
                                    <input id="test34" type="radio" name="Настроение и ассоциации, которые должен вызывать дизайн" value="Дизайн насыщенный иллюстрациями/фотографиями">
                                    <label for="test34">Дизайн насыщенный иллюстрациями/фотографиями</label><br>
                                    <input id="test35" type="radio" name="Настроение и ассоциации, которые должен вызывать дизайн" value="Минималистичный дизайн">
                                    <label for="test35">Минималистичный дизайн</label><br>
                                    <input id="test36" type="radio" name="Настроение и ассоциации, которые должен вызывать дизайн" value="Упор на функциональность">
                                    <label for="test36">Упор на функциональность</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea placeholder="Другой" class="materialize-textarea" name='Настроение и ассоциации, которые должен вызывать дизайн(другое)'></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Цветовая гамма и насыщенность (выделите подходящий вариант):
                                    </li>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <input id="test37" type="radio" name="Цветовая гамма и насыщенность" value="Только цвета фирменного стиля и оттенки (если есть)">
                                    <label for="test37">Только цвета фирменного стиля и оттенки (если есть)</label><br>
                                    <input id="test38" type="radio" name="Цветовая гамма и насыщенность" value="Только мягкие пастельные цвета">
                                    <label for="test38">Только мягкие пастельные цвета</label><br>
                                    <input id="test39" type="radio" name="Цветовая гамма и насыщенность" value=">Использовать темные цвета">
                                    <label for="test39">Использовать темные цвета</label><br>
                                    <input id="test40" type="radio" name="Цветовая гамма и насыщенность" value="Использовать светлые цвета">
                                    <label for="test40">Использовать светлые цвета</label><br>
                                    <input id="test41" type="radio" name="Цветовая гамма и насыщенность" value="Использовать насыщенные оттенки">
                                    <label for="test41">Использовать насыщенные оттенки</label><br>
                                    <input id="test42" type="radio" name="Цветовая гамма и насыщенность" value="Цвета фирменного стиля и любые сочетаемые с ними">
                                    <label for="test42">Цвета фирменного стиля и любые сочетаемые с ними</label><br>
                                    <input id="test43" type="radio" name="Цветовая гамма и насыщенность" value="Использовать монохромные темы">
                                    <label for="test43">Использовать монохромные темы</label><br>
                                    <input id="test44" type="radio" name="Цветовая гамма и насыщенность" value="Использовать фоновые изображения/видео">
                                    <label for="test44">Использовать фоновые изображения/видео</label><br>
                                    <input id="test45" type="radio" name="Цветовая гамма и насыщенность" value="Использовать иконографику / типографику">
                                    <label for="test45">Использовать иконографику / типографику</label><br>
                                    <input id="test46" type="radio" name="Цветовая гамма и насыщенность" value="На усмотрение дизайнера">
                                    <label for="test46">На усмотрение дизайнера</label>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <textarea placeholder="Другой" class="materialize-textarea" name='Цветовая гамма и насыщенность(другое)'></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>
                                    <li>Основные требования и пожелания по концепции дизайна сайта:</li>
                                    <label class="w100">Укажите все, что, с вашей точки зрения, может уточнить задачу по созданию дизайна.
                                        <textarea class="materialize-textarea" name='Основные требования и пожелания по концепции дизайна сайта'></textarea>
                                    </label>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p class="alert"><b>ВАЖНО:</b> НЕОБХОДИМО ОТВЕТИТЬ НА ХОТЯ БЫ ОДИН ИЗ ВОПРОСОВ</p>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <p>а) Цвета, которые нельзя использовать</p>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <p>
                                        <textarea class="materialize-textarea" name='Цвета, которые нельзя использовать'></textarea>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <p>б) Цвета, которые можно использовать</p>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <p>
                                        <textarea class="materialize-textarea" name='Цвета, которые можно использовать'></textarea>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>Цветовая гамма:
                                        <label for="test47">если вы затрудняетесь с выбором конкретных цветов, выберите и выделите нужный вариант</label>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>Холодные тона</p>
                                    <table class="cold centered">
                                        <tr>
                                            <td bgcolor="#91cff5">
                                                <input id="test47" type="checkbox" name="Цветовая гамма(холодные тона)" value="#91cff5">
                                                <label for="test47"></label>
                                            </td>
                                            <td bgcolor="#90ffff">
                                                <input id="test48" type="checkbox" name="Цветовая гамма(холодные тона)" value="#90ffff">
                                                <label for="test48"></label>
                                            </td>
                                            <td bgcolor="#4071b8">
                                                <input id="test49" type="checkbox" name="Цветовая гамма(холодные тона)" value="#4071b8">
                                                <label for="test49"></label>
                                            </td>
                                            <td bgcolor="#2b4b7d">
                                                <input id="test50" type="checkbox" name="Цветовая гамма(холодные тона)" value="#2b4b7d">
                                                <label for="test50"></label>
                                            </td>
                                            <td bgcolor="#1f1b62">
                                                <input id="test51" type="checkbox" name="Цветовая гамма(холодные тона)" value="#1f1b62">
                                                <label for="test51"></label>
                                            </td>
                                            <td bgcolor="#12004c">
                                                <input id="test52" type="checkbox" name="Цветовая гамма(холодные тона)" value="#12004c">
                                                <label for="test52"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#cbde9d">
                                                <input id="test53" type="checkbox" name="Цветовая гамма(холодные тона)" value="#cbde9d">
                                                <label for="test53"></label>
                                            </td>
                                            <td bgcolor="#b1d39d">
                                                <input id="test54" type="checkbox" name="Цветовая гамма(холодные тона)" value="#b1d39d">
                                                <label for="test54"></label>
                                            </td>
                                            <td bgcolor="#6fb353">
                                                <input id="test55" type="checkbox" name="Цветовая гамма(холодные тона)" value="#6fb353">
                                                <label for="test55"></label>
                                            </td>
                                            <td bgcolor="#5da457">
                                                <input id="test56" type="checkbox" name="Цветовая гамма(холодные тона)" value="#5da457">
                                                <label for="test56"></label>
                                            </td>
                                            <td bgcolor="#243f23">
                                                <input id="test57" type="checkbox" name="Цветовая гамма(холодные тона)" value="#243f23">
                                                <label for="test57"></label>
                                            </td>
                                            <td bgcolor="#283729">
                                                <input id="test58" type="checkbox" name="Цветовая гамма(холодные тона)" value="#283729">
                                                <label for="test58"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>Теплые тона</p>
                                    <table class="hot centered">
                                        <tr>
                                            <td bgcolor="#fdf89d">
                                                <input id="test59" type="checkbox" name="Цветовая гамма(теплые тона)" value="#fdf89d">
                                                <label for="test59"></label>
                                            </td>
                                            <td bgcolor="#fbf239">
                                                <input id="test60" type="checkbox" name="Цветовая гамма(теплые тона)" value="#fbf239">
                                                <label for="test60"></label>
                                            </td>
                                            <td bgcolor="#e6b35a">
                                                <input id="test61" type="checkbox" name="Цветовая гамма(теплые тона)" value="#e6b35a">
                                                <label for="test61"></label>
                                            </td>
                                            <td bgcolor="#cd6e24">
                                                <input id="test62" type="checkbox" name="Цветовая гамма(теплые тона)" value="#cd6e24">
                                                <label for="test62"></label>
                                            </td>
                                            <td bgcolor="#df6e1d">
                                                <input id="test63" type="checkbox" name="Цветовая гамма(теплые тона)" value="#df6e1d">
                                                <label for="test63"></label>
                                            </td>
                                            <td bgcolor="#d5652c">
                                                <input id="test64" type="checkbox" name="Цветовая гамма(теплые тона)" value="#d5652c">
                                                <label for="test64"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#e2b2ad">
                                                <input id="test65" type="checkbox" name="Цветовая гамма(теплые тона)" value="#e2b2ad">
                                                <label for="test65"></label>
                                            </td>
                                            <td bgcolor="#b1635c">
                                                <input id="test66" type="checkbox" name="Цветовая гамма(теплые тона)" value="#b1635c">
                                                <label for="test66"></label>
                                            </td>
                                            <td bgcolor="#b94036">
                                                <input id="test67" type="checkbox" name="Цветовая гамма(теплые тона)" value="#b94036">
                                                <label for="test67"></label>
                                            </td>
                                            <td bgcolor="#cc2228">
                                                <input id="test68" type="checkbox" name="Цветовая гамма(теплые тона)" value="#cc2228">
                                                <label for="test68"></label>
                                            </td>
                                            <td bgcolor="#904347">
                                                <input id="test69" type="checkbox" name="Цветовая гамма(теплые тона)" value="#904347">
                                                <label for="test69"></label>
                                            </td>
                                            <td bgcolor="#70211f">
                                                <input id="test70" type="checkbox" name="Цветовая гамма(теплые тона)" value="#70211f">
                                                <label for="test70"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p>Основной фон сайта (выделите подходящий вариант):
                                        <label for="site_color">укажите основной цвет, который будет использоваться в текстовой части сайта</label>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input id="test71" type="radio" name="Основной фон сайта" value="Белый">
                                    <label for="test71">Белый</label><br>
                                    <input id="test72" type="radio" name="Основной фон сайта" value="На усмотрение дизайнера">
                                    <label for="test72">На усмотрение дизайнера</label><br>
                                    <input id="test73" type="radio" name="Основной фон сайта" value="Цветной">
                                    <label for="test73">Цветной</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea id="site_color" class="materialize-textarea" placeholder="Укажите цвет здесь" name='Укажите цвет здесь'></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <p>Какая сложная графика нужна на сайте?
                                        <label for="graphic">укажите, нужна ли вам сложная иллюстрация в шапке сайта или это будет строгий информационный стиль, без излишеств</label>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea id="graphic" class="materialize-textarea" name='Укажите, нужна ли вам сложная иллюстрация в шапке сайта или это будет строгий информационный стиль, без излишеств'></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <p>Укажите ссылки на наши работы, дизайн или структура которых вам нравится
                                        <label for="works">работы должны быть взяты из представленных в портфолио, на сайте студии</label>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6"><textarea id="works" class="materialize-textarea" name='Укажите ссылки на наши работы, дизайн или структура которых вам нравится'></textarea></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Предпочтения относительно шрифтов (выделите подходящий вариант):</li>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input id="test74" type="radio" name="Предпочтения относительно шрифтов " value="Шрифты с засечками (Например: Times, Bodoni)">
                                    <label for="test74">Шрифты с засечками (Например: Times, Bodoni)</label><br>
                                    <input id="test75" type="radio" name="Предпочтения относительно шрифтов " value="Шрифты без засечек Helvetica, Futura">
                                    <label for="test75">Шрифты без засечек Helvetica, Futura</label><br>
                                    <input id="test76" type="radio" name="Предпочтения относительно шрифтов " value="Рукописные">
                                    <label for="test76">Рукописные</label><br>
                                    <input id="test77" type="radio" name="Предпочтения относительно шрифтов " value="Декоративные">
                                    <label for="test77">Декоративные</label><br>
                                    <input id="test78" type="radio" name="Предпочтения относительно шрифтов " value="На усмотрение дизайнера">
                                    <label for="test78">На усмотрение дизайнера</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea placeholder="Другой" class="materialize-textarea" name='Предпочтения относительно шрифтов(другое)'></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>На какое разрешение экранов разрабатывать дизайн (выделите подходящий вариант):</li>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <input id="test79" type="radio" name="На какое разрешение экранов разрабатывать дизайн" value="1280х960">
                                    <label for="test79">1280х960</label><br>
                                    <input id="test80" type="radio" name="На какое разрешение экранов разрабатывать дизайн" value="1024х768">
                                    <label for="test80">1024х768</label><br>
                                    <input id="test81" type="radio" name="На какое разрешение экранов разрабатывать дизайн" value="1200 х длина контента">
                                    <label for="test81">1200 х длина контента</label><br>
                                    <input id="test82" type="radio" name="На какое разрешение экранов разрабатывать дизайн" value="960 х длина контента">
                                    <label for="test82">960 х длина контента</label><br>
                                    <input id="test83" type="radio" name="На какое разрешение экранов разрабатывать дизайн" value="1900 х длина контента">
                                    <label for="test83">1900 х длина контента</label><br>
                                    <input id="test84" type="radio" name="На какое разрешение экранов разрабатывать дизайн" value="640 х длина контента">
                                    <label for="test84">640 х длина контента</label><br>
                                    <input id="test85" type="radio" name="На какое разрешение экранов разрабатывать дизайн" value="На усмотрение дизайнера">
                                    <label for="test85">На усмотрение дизайнера</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <textarea placeholder="Другой" class="materialize-textarea" name='На какое разрешение экранов разрабатывать дизайн(другое)'></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Наличие фотоматериалов для разработки визуальной концепции (выделите подходящий вариант):</li>
                                    <input id="test86" type="checkbox" name="photo[]" value="1">
                                    <label for="test86">Есть (приложить файл или скинуть ссылки на их скачивание);</label>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <textarea placeholder="Ссылка" class="materialize-textarea" name='Наличие фотоматериалов для разработки визуальной концепции'></textarea>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6 file-field input-field center">
                                            <div class="btn file-1">
                                                <span>Загрузить<span class="animated_blink">_</span></span>
                                                <input type="file" name="file[]">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input placeholder="Прикрепите файл с архивом сюда" class="file-path validate" name="file2" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <input id="test87" type="checkbox" name="Наличие фотоматериалов для разработки визуальной концепции" value="Необходимо купить с фотостоков или подобрать (примеры предоставить)">
                                    <label for="test87">Необходимо купить с фотостоков или подобрать (примеры предоставить);</label><br>
                                    <input id="test88" type="checkbox" name="Наличие фотоматериалов для разработки визуальной концепции" value="Необходимо заказать фотосессию">
                                    <label for="test88">Необходимо заказать фотосессию</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <li>Наличие контентной информации для наполнения сайта (выделите подходящий вариант):</li>
                                    <input id="test89" type="checkbox" name="Наличие контентной информации для наполнения сайта" value="Есть (приложить файл или скинуть ссылки на их скачивание)">
                                    <label for="test89">Есть (приложить файл или скинуть ссылки на их скачивание);</label>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <textarea placeholder="Ссылка" class="materialize-textarea" name='Наличие контентной информации для наполнения сайта '></textarea>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6 file-field input-field center">
                                            <div class="btn file-2">
                                                <span>Загрузить<span class="animated_blink">_</span></span>
                                                <input type="file" name="file[]">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input placeholder="Прикрепите файл с архивом сюда" class="file-path validate" name="file3" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <input id="test90" type="checkbox" name="Наличие контентной информации для наполнения сайта" value="Необходим рерайт текстов">
                                    <label for="test90">Необходим рерайт текстов</label><br>
                                    <input id="test91" type="checkbox" name="Наличие контентной информации для наполнения сайта" value="Необходимо копирайт текстов">
                                    <label for="test91">Необходимо копирайт текстов</label>
                                </div>
                            </div>
                        </ol>
                        <hr>
                        <div class="garant">
                            <div class="name center">Контактная информация для связи</div>
                            <p>Ваше ФИО:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name='Ваше ФИО' required></textarea>
                            </label>
                            <p>Ваш Контактный телефон:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name='Ваш Контактный телефон' required></textarea>
                            </label>
                            <p>Ваш email:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name='Ваш email' required></textarea>
                            </label>
                            <div class="check-garant">
                                <input id="agreeInput" type="checkbox" name="Гарантия правильности сведений" value="Гарантирую правильность сведений, указанных в данном брифе." required>
                                <label for="agreeInput">Гарантирую правильность сведений, указанных в данном брифе.</label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="btnSubmit">
                                <button id="feedbackSubmit" type="submit" value="Отправить" name="action" class="btnOpenModalBrif">
                                    Отправить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
import JQuery from 'jquery';
let $ = JQuery;


    export default {
        name: 'brief',
        data() {
            return {

            }
        },
        components: {
        },
        computed: {
        },
        methods: {

          sendBrief: function () {
            var form = $("#brief").serialize();
            $.ajax({
              type: "POST",
              url: "/mail.php",
              data: form
            }).done(function() {
              location.href = '/thnx';
            });
            return false;
          }
        },
    }
</script>

<style lang="scss" scoped>


    .thxForm{
        .closeFormPopup{
            width: 15px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
            display: block;
            &:before{
                content: 'X';
                font-size: 16px;
                font-weight: bold;
                color: #000
            }
        }
        &-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%;
            padding: 15px;
        }
        p{
            font-size: 16px;
        }
    }

    /*SECTION-1 .ADS*/

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    .animated_blink {
        animation: blink-animation 1s steps(2, start) infinite;
        -webkit-animation: blink-animation 1s steps(2, start) infinite;
    }
    .brif .ads {
        background-color: #222831;
    }
    .brif .adsLeft {
        padding-bottom: 43px;
    }
    .brif .ads h1 {
        font-size: 46px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 1;
        padding: 32px 0 20px 0;
        margin: 0;
    }
    .brif .ads:before {
        content: '';
        top: 83px;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: #222831;
        position: absolute;
    }
    .brif .ads p {
        color: #fff;
        font-size: 16px;
        line-height: 17px;
    }
    .brif .ads span {
        color: #fff;
        font-size: 14px;
        line-height: 17px;
        display: block;
        margin: 17px 0 40px;
    }
    /*END OF SECTION-1 .ADS*/

    /*SECTION-2 .BRIF-WEB*/
    .brif .brif-web {
        margin-bottom: 50px;
    }
    .brif .brif-web .name {
        color: #000;
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin: 35px 0;
    }
    .brif .brif-web li, .brif .brif-web p {
        color: #000;
        font-size: 17px;
        margin-top: 15px;
    }
    .brif .brif-web li {
        font-weight: 700;
    }
    .brif .brif-web p.alert {
        color: #000;
        font-size: 17px;
        text-align: center;
    }
    .brif .brif-web #feedbackSubmit {
        color: #00b2d8;
        font-size: 18px;
        border: 2px solid #00b2d8;
        padding: 10px 50px;
        text-transform: lowercase;
        letter-spacing: 1px;
        margin: 18px 0;
        background: transparent;
        transition: all .3s;
        &:hover{
            color: #fff;
            background-color: #00b2d8;
        }
    }
    .brif .brif-web label {
        color: #3b3b3b;
        font-size: 14px;
    }
    .brif .brif-web label.w100 {
        color: #3b3b3b;
        font-size: 14px;
        width: 100%;
        display: inline-block;
    }
    .brif .brif-web input {
        border: none;
        background: #fff;
    }
    .brif .brif-web input.file-path {
        width: 100%;
    }
    .brif .brif-web input[type="file"] {
        width: 100%;
        height: 100%;
        opacity: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    .brif .brif-web input[type="file"]:hover {
        cursor: pointer;
    }
    .brif .brif-web .file-path-wrapper {
        display: inline-block;
        margin-top: 25px;
        width: 65%;
    }
    .brif .brif-web textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #dddddc;
        border-radius: 0;
        outline: none;
        height: 3rem;
        min-height: 3rem;
        width: 100%;
        font-size: 16px;
        box-shadow: none;
        box-sizing: content-box;
        transition: all .3s;
        color: #000;
        overflow-y: hidden;
        padding: 1.6rem 0;
        resize: none;
    }
    .brif .brif-web .mod {
        position: fixed;
        display: none;
        top: 30%;
        z-index: 1000;
        width: 500px;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        background: #7CB8C9;
        padding: 50px 0;
        color: #fff;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        letter-spacing: .5px;
        text-transform: uppercase;
        border-radius: 2px;
    }
    .brif .brif-web .mod a {
        background-color: #fff;
        padding: 9px 45px;
        color: #ff0000;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    }
    .brif .brif-web input:not([type]):focus:not([readonly]), .brif .brif-web input[type=text]:focus:not([readonly]), .brif .brif-web input[type=password]:focus:not([readonly]), .brif .brif-web input[type=email]:focus:not([readonly]), .brif .brif-web input[type=url]:focus:not([readonly]), .brif .brif-web input[type=time]:focus:not([readonly]), .brif .brif-web input[type=date]:focus:not([readonly]), .brif .brif-web input[type=datetime-local]:focus:not([readonly]), .brif .brif-web input[type=tel]:focus:not([readonly]), .brif .brif-web input[type=number]:focus:not([readonly]), .brif .brif-web input[type=search]:focus:not([readonly]), .brif .brif-web textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #00b2d8;
        box-shadow: 0 1px 0 0 #00b2d8;
    }
    .brif .brif-web ::-webkit-input-placeholder {
        color: #666;
        font-family: 'Gotham Pro';
        padding-left: 10px;
    }
    .brif .brif-web ::-moz-placeholder {
        color: #666;
        font-family: 'Gotham Pro';
        padding-left: 10px;
    }
    .brif .brif-web ::-ms-input-placeholder {
        color: #666;
        font-family: 'Gotham Pro';
        padding-left: 10px;
    }
    .brif .brif-web :-moz-placeholder {
        color: #666;
        font-family: 'Gotham Pro';
        padding-left: 10px;
    }
    .brif .brif-web .btn {
        color: #000;
        font-size: 18px;
        border: 2px solid #00b2d8;
        padding: 5px 50px;
        text-transform: uppercase;
        margin: 18px 0;
        display: inline-block;
        position: relative;
        cursor: pointer;
        float: left;
    }
    .brif .brif-web .btn:hover {
        color: #fff;
        background: #00b2d8 ;
    }
    .brif .brif-web table {
        width: 100%;
        display: table;
    }
    .brif .brif-web td {
        height: 60px;
    }
    .brif .brif-web td, th {
        padding: 15px 5px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
    }
    .brif .brif-web td label {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    /*END OF SECTION-2 .BRIF-WEB*/

    @media (max-width: 767px) {
        .brif .ads{
            padding-top: 60px;
        }
        .brif .ads h1 {
            font-size: 22px;
        }
        .brif .ads p {
            font-size: 15px;
        }
    }

</style>


