<template>
    <div class="brief-seo brif">

        <!--set meta data-->
        <vue-headful
                title="Бриф на SEO-оптимизацию и продвижение сайта"
                description="Бриф на SEO-оптимизацию и продвижение сайта от студии Mobios. Звоните - ☎ (067) 888-75-16."
                keywords=""
                url="brief-seo"
        />
        <!--end set meta data-->

        <section class="ads rel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 center">
                        <h1>Бриф на SEO-оптимизацию и продвижение сайта</h1>
                        <p>Бриф не является техническим заданием и лишь помогает нам понять, какие способы продвижения Вы хотите получить и каких результатов достигнуть.</p>
                        <span>Для более четкого определения целей, стоящих перед будущим сайтом, необходимо заполнить анкету максимально подробно. Ваши ответы помогут сформировать представление о вас, ваших клиентах, а также собственных предпочтениях и вкусах. Мы гарантируем конфиденциальность представленной информации о вас и о вашей деятельности.</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="brif-web">
            <div class="container">
                <div class="row">
                    <div class="info-wrap">
                        <div class="info-block">
                            <p class="info-title">Применение</p>
                            <p class="info-text">Бриф составляется на этапе постановки задачи и используется Исполнителем для улучшения организации работы над проектом.</p>
                        </div>
                        <div class="info-block">
                            <p class="info-title">Статус документа</p>
                            <p class="info-text">Приведенная в брифе информация рассматривается как официально представленная информация от Заказчика.</p>
                        </div>
                        <div class="info-block">
                            <p class="info-title">Сроки рассмотрения</p>
                            <p class="info-text">3 (три) рабочих дня с момента отправления данного заполненного брифа Заказчиком.</p>
                        </div>
                        <div class="info-block">
                            <p class="info-title">Обязательства сторон</p>
                            <p class="info-text">Исполнитель и Заказчик принимают на себя обязательства в том, что вся коммерческая/корпоративная информация, полученная в рамках данного документа, является конфиденциальной и не подлежит разглашению или передаче третьим лицам, без письменного разрешения Заказчика и Исполнителя.</p>
                        </div>
                        <div class="info-block">
                            <p class="info-title">Трудности при заполнении</p>
                            <p class="info-text">Если вы затрудняетесь с заполнением брифа, свяжитесь с нами в удобное для вас время.
                                Мы заполним его вместе с вами.
                            </p>
                        </div>
                    </div>
                    <hr>
                    <form class="callback" id="brief" enctype="multipart/form-data" @submit.prevent="sendBrief">
                        <input type="hidden" name="project_name" value="Заявка (Бриф СЕО)">
                        <input type="hidden" name="admin_email" value="pm.mobios@gmail.com">
                        <input type="hidden" name="form_subject" value="Новая заявка с mobios.ua (Бриф СЕО)">
                        <ol>
                            <div class="name center">Общая информация</div>
                            <li>
                                <p>Название компании:</p>
                                <label class="w100">Полное и сокращенное название.
                                    <textarea class="materialize-textarea" name='Название компании' required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Ваши преимущества, отличия, ключевые моменты, специфика бизнеса:</p>
                                <textarea class="materialize-textarea" name='Ваши преимущества, отличия, ключевые моменты, специфика бизнеса' required></textarea>
                            </li>

                            <div class="name center">Информация о Вашем сайте</div>
                            <li>
                                <p>Имя домена (адрес сайта):</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name='Имя домена (адрес сайта)' required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Дата регистрации домена:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name='Дата регистрации домена' required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Срок существования сайта:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name='Срок существования сайта' required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Система управления сайтом CMS (если имеется):</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name='Система управления сайтом CMS (если имеется)' required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Предоставить гостевой доступ к:</p>
                                <p>Google Analytics и Google Search Console</p>
                                <textarea class="materialize-textarea" name='Гостевой доступ: Google Analytics и Google Search Console'></textarea>
                                <p>Яндекс.Метрике и Яндекс Вебмастер</p>
                                <textarea class="materialize-textarea" name='Гостевой доступ: Яндекс.Метрике и Яндекс Вебмастер'></textarea>
                            </li>
                            <li>
                                <p>Имеются ли дополнительные сайты (поддомены) у вашей компании? Если да, то укажите на них ссылки:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name='Имеются ли дополнительные сайты (поддомены) у вашей компании? Если да, то укажите на них ссылки' required></textarea>
                                </label>
                            </li>
                            <div class="name center">Предлагаемая продукция/услуги</div>
                            <li>
                                <p>Укажите продукцию или услуги, которые вы планируете продвигать:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name='Укажите продукцию или услуги, которые вы планируете продвигать' required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Продукция/услуга, которая пользуется наибольшим спросом:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name='Продукция/услуга, которая пользуется наибольшим спросом' required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Уникальная продукция/услуга компании:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name='Уникальная продукция/услуга компании' required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Конкурентные преимущества продукции/услуги:</p>
                                <label class="w100">
                                    <textarea class="materialize-textarea" name='Конкурентные преимущества продукции/услуги' required></textarea>
                                </label>
                            </li>
                            <li>
                                <p>Зачем вам нужно SEO?</p>
                                <input id="seo1" type="checkbox" name="Зачем вам нужно SEO?" value="Для улучшение позиций сайта по ключевым словам/фразам в обозначенном регионе продвижения">
                                <label for="seo1">Для улучшение позиций сайта по ключевым словам/фразам в обозначенном регионе продвижения</label><br>
                                <input id="seo2" type="checkbox" name="Зачем вам нужно SEO?" value="Для увеличение органического (из поисковых систем) трафика на сайт">
                                <label for="seo2">Для увеличение органического (из поисковых систем) трафика на сайт</label><br>

                            </li>
                        </ol>
                        <hr>
                        <div class="garant">
                            <div class="name center">Контактная информация для связи</div>
                            <p>Ваше ФИО:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name='Ваше ФИО' required></textarea>
                            </label>
                            <p>Ваш Контактный телефон:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name='Ваш Контактный телефон' required></textarea>
                            </label>
                            <p>Ваш email:</p>
                            <label class="w100">
                                <textarea class="materialize-textarea" name='Ваш email' required></textarea>
                            </label>
                            <div class="check-garant">
                                <input id="test1" type="checkbox" name="Гарантия правильности сведений" value="Гарантирую правильность сведений, указанных в данном брифе." required>
                                <label for="test1">Гарантирую правильность сведений, указанных в данном брифе.</label>
                            </div>

                        </div>


                        <div class="row">
                            <div class="btnSubmit">
                                <button id="feedbackSubmit" type="submit" value="Отправить" name="action" class="btnOpenModalBrif">
                                    Отправить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
import JQuery from 'jquery';
let $ = JQuery;


    export default {
        name: 'brief-seo',
        data() {
            return {

            }
        },
        components: {
        },
        computed: {
        },
        methods: {

          sendBrief: function () {
            var form = $("#brief").serialize();
            $.ajax({
              type: "POST",
              url: "/mail.php",
              data: form
            }).done(function() {
              location.href = '/thnx';
            });
            return false;
          }
        },
    }
</script>

<style lang="scss" scoped>
    .thxForm{
        .closeFormPopup{
            width: 15px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
            display: block;
            &:before{
                content: 'X';
                font-size: 16px;
                font-weight: bold;
                color: #000
            }
        }
        &-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%;
            padding: 15px;
        }
        p{
            font-size: 16px;
        }
    }
    /*SECTION-1 .ADS*/
    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    .animated_blink {
        animation: blink-animation 1s steps(2, start) infinite;
        -webkit-animation: blink-animation 1s steps(2, start) infinite;
    }
    .brif .ads {
        background-color: #222831;
    }
    .brif .adsLeft {
        padding-bottom: 43px;
    }
    .brif .ads h1 {
        font-size: 46px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 114%;
        padding: 32px 0 20px 0;
        margin: 0;
    }

    .brif .ads p {
        color: #fff;
        font-size: 16px;
        line-height: 17px;
    }
    .brif .ads span {
        color: #fff;
        font-size: 14px;
        line-height: 17px;
        display: block;
        margin: 17px 0 40px;
    }
    .brif-web .info-wrap .info-title {
        font-size: 20px;
        color: #222;

        transform: uppercase;
    }
    .brif-web .info-wrap .info-text {

        font-size: 14px;
        color: #222;
    }

    /*END OF SECTION-1 .ADS*/

    /*SECTION-2 .BRIF-WEB*/
    .brif .brif-web {
        margin-bottom: 50px;
    }
    .brif .brif-web .name {
        color: #000;
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin: 35px 0;
    }
    .brif .brif-web li, .brif .brif-web p {
        color: #000;
        font-size: 17px;
        margin-top: 15px;
    }
    .brif .brif-web li {
        font-weight: 700;
    }
    .brif .brif-web p.alert {
        color: #000;
        font-size: 17px;
        text-align: center;
    }
    .brif .brif-web #feedbackSubmit {
        color: #00b2d8;
        font-size: 18px;
        background-position-x: 80%;
        border: 2px solid #00b2d8;
        padding: 10px 50px;
        text-transform: lowercase;
        letter-spacing: 1px;
        margin: 18px 0;
        background: transparent;
        transition: all .3s;
    }
    .brif .brif-web #feedbackSubmit:hover {
        color: #fff;
        background-color: #00b2d8;
    }
    .brif .brif-web label {
        color: #3b3b3b;
        font-size: 14px;
    }
    .brif .brif-web label.w100 {
        color: #3b3b3b;
        font-size: 14px;
        width: 100%;
        display: inline-block;
    }
    .brif .brif-web input {
        border: none;
        background: #fff;
    }
    .brif .brif-web input.file-path {
        width: 100%;
    }
    .brif .brif-web input[type="file"] {
        width: 100%;
        height: 100%;
        opacity: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }
    .brif .brif-web input[type="file"]:hover {
        cursor: pointer;
    }
    .brif .brif-web .file-path-wrapper {
        display: inline-block;
        margin-top: 25px;
        width: 65%;
    }
    .brif .brif-web textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #dddddc;
        border-radius: 0;
        outline: none;
        height: 3rem;
        min-height: 3rem;
        width: 100%;
        font-size: 16px;
        box-shadow: none;
        box-sizing: content-box;
        transition: all .3s;
        color: #000;
        overflow-y: hidden;
        padding: 1.6rem 0;
        resize: none;
    }
    .brif .brif-web .mod {
        position: fixed;
        display: none;
        top: 30%;
        z-index: 1000;
        width: 500px;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        background: #7CB8C9;
        padding: 50px 0;
        color: #fff;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        letter-spacing: .5px;
        text-transform: uppercase;
        border-radius: 2px;
    }
    .brif .brif-web .mod a {
        background-color: #fff;
        padding: 9px 45px;
        color: #ff0000;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    }
    .brif .brif-web input:not([type]):focus:not([readonly]), .brif .brif-web input[type=text]:focus:not([readonly]), .brif .brif-web input[type=password]:focus:not([readonly]), .brif .brif-web input[type=email]:focus:not([readonly]), .brif .brif-web input[type=url]:focus:not([readonly]), .brif .brif-web input[type=time]:focus:not([readonly]), .brif .brif-web input[type=date]:focus:not([readonly]), .brif .brif-web input[type=datetime-local]:focus:not([readonly]), .brif .brif-web input[type=tel]:focus:not([readonly]), .brif .brif-web input[type=number]:focus:not([readonly]), .brif .brif-web input[type=search]:focus:not([readonly]), .brif .brif-web textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #00b2d8;
        box-shadow: 0 1px 0 0 #00b2d8;
    }
    .brif .brif-web ::-webkit-input-placeholder {
        color: #666;
        font-family: 'MyriadProIt_7', sans-serif;
        padding-left: 10px;
    }
    .brif .brif-web ::-moz-placeholder {
        color: #666;
        font-family: 'MyriadProIt_7', sans-serif;
        padding-left: 10px;
    }
    .brif .brif-web ::-ms-input-placeholder {
        color: #666;
        font-family: 'MyriadProIt_7', sans-serif;
        padding-left: 10px;
    }
    .brif .brif-web :-moz-placeholder {
        color: #666;
        font-family: 'MyriadProIt_7';
        padding-left: 10px;
    }
    .brif .brif-web .btn {
        color: #000;
        font-size: 18px;
        border: 2px solid #00b2d8;
        padding: 5px 50px;
        text-transform: uppercase;
        margin: 18px 0;
        display: inline-block;
        position: relative;
        cursor: pointer;
        float: left;
    }
    .brif .brif-web .btn:hover {
        color: #fff;
        background: #00b2d8 ;
    }
    .brif .brif-web table {
        width: 100%;
        display: table;
    }
    .brif .brif-web td {
        height: 60px;
    }
    .brif .brif-web td, th {
        padding: 15px 5px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
    }
    .brif .brif-web td label {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    /*END OF SECTION-2 .BRIF-WEB*/
    .garant {
        margin-top: 80px;
    }

    .garant p {
        font-size: 14px !important;
        font-weight: 700;
    }
    .check-garant {
        margin: 20px 0;
        text-align: center;
    }
    .check-garant label {
        color: #0aa4dd !important;
    }



    @media (max-width: 767px) {
        .brif .ads h1 {
            font-size: 22px;
        }
        .brif .ads p {
            font-size: 15px;
        }
        .brif .ads {
            padding-top: 60px;
        }
    }
</style>


