<template>
    <div class="business-site">

        <!--set meta data-->
        <vue-headful
                title="Бизнес-сайт - разработка и продвижение сайта для бизнеса"
                description="Заказывайте разработку бизнес-сайта для компании от веб-студии Mobios в Киеве и Одессе. ⭐- Выгодные цены ⭐- Гарантия качества. Звоните. ☎ (067) 888-75-16."
                keywords="бизнес сайт, сайты для бизнеса"
                url="business-site"
        />
        <!--end set meta data-->

        <div class="container">
            <h1>СОЗДАНИЕ БИЗНЕС-САЙТА</h1>
            <p>Сайт "под ключ" для бизнеса всего за 24 дня с гарантированным привлечением клиентов.</p>
            <h2>Что входит в пакет DC?</h2>
            <ol>
                <li>
                    <h3>БРЕНД ПЛАТФОРМА</h3>
                    <p>Начать завоевывать интернет, повышая активность, надо с разработки четкого плана действий. Сперва необходимо определиться с сегментом, который хочет занять компания. Далее — детально изучить целевую аудиторию и выстроить сетку компаний-конкурентов.</p>
                </li>

                <li>
                    <h3>ВОРОНКА ПРОДАЖ</h3>
                    <p>Исследовав целевую аудиторию, мы разделим ее на несколько категорий: Холодные посетители — те, кто случайно оказался на вашем сайте. Естественно, человек ничего не знает ни о вашей компании, ни о продукте. Теплые — те, кто уже немного знают о компании или об определенном продукте. Горячие — те, кто теоретически готовы отдать деньги за определенный продукт, ведь полностью доверяют компании. На практике доказано, что демонстрировать коммерческое предложение нужно только двум последним группам. Если в воронку загнать "холодных" посетителей, то конверсия будет составлять не более 2-3 процентов.</p>
                </li>

                <li>
                    <h3>РАЗРАБОТКА САЙТА</h3>
                    <p>Создавая сайт для ведения и продвижения бизнеса, важно учитывать скорость, престиж, функционал и качество. Бизнес-сайт бессмысленно разрабатывать полгода, если на это можно потратить несколько недель, а сэкономленное время потратить на раскрутку бренда. Но сайт должен работать без багов. Ключевой момент — уникальный дизайн, чтобы бренд не утонул в омуте конкурентов. Сайт просто обязан прогружаться с любого устройства, так что нужно запустить и мобильную версию. Надо позаботиться и о безопасности ресурса, защитив его от вирусов и взломов. Хотите эффективный сайт для развития бизнеса? Мы создаем именно такие.</p>
                </li>

                <li>
                    <h3>НАПОЛНЕНИЕ</h3>
                    <p>Одна из сильных сторон нашей команды — быстрое наполнение ресурса. Так что сайт, созданный нами, буквально сразу же положительно скажется на конверсии. Так что вам не нужно будет самостоятельно изучать панель управления сайтом, беспокоиться о регулярном обновлении информации. Если же выполнять перечисленные действия самостоятельно, это может затянуть срок старта, так что проект будет запущен намного позже, чем вы хотели бы. Естественно, ведь у каждого должен быть четкий спектр задач: клиент занимается исключительно бизнесом, наш удел — маркетинговая составляющая.</p>
                </li>

                <li>
                    <h3>SEO-ОПТИМИЗАЦИЯ</h3>
                    <p>Запускать сайт без предварительной SEO оптимизации — время и деньги впустую. Алгоритм поисковых систем сразу же распознают не оптимизированный ресурс. Это понизит рейтинг. Вернуть обратно потерянную позицию будет действительно сложно. Так что мы создаем сайты, изначально заточенные под продвижение по основным позициям.</p>
                </li>

                <li>
                    <h3>ЛИДОГЕНЕРАЦИЯ</h3>
                    <p>Создание сайта на каждом этапе преследует одну цель — подтолкнуть пользователя оформить заказ. Поля должны быть максимально упрощенными, но такими, которые позволяют предпринимателю заявить коммерческое предложение.</p>
                </li>

                <li>
                    <h3>ИНТЕГРАЦИЯ</h3>
                    <p>Все полученные от клиентов заявки надо собрать в одном месте. Для этого вся информация будет отправлена на почту или же добавлена в удобную систему CRM.</p>
                </li>

                <li>
                    <h3>РЕКЛАМА</h3>
                    <p>Рекламные стратегии можно совершенствовать до бесконечности, каждый раз генерируя новую мегаэффективную технологию. В принципе, в рекламе нет предела совершенству, но есть обязательный минимум. Его должен реализовать каждый предприниматель, который хочет продвигать собственный бизнес — вернуть клиента, который почему-то ушел с сайта. Эта рекламная услуга включена в пакет DC.</p>
                </li>

            </ol>
        </div>

    </div>
</template>

<script>

    export default {
        name: 'business-site',
        data() {
            return {

            }
        },
        components: {
        },
        computed: {
        },
        methods: {
        },
    }
</script>

<style lang="scss" scoped>

    .business-site{

    }

</style>


