<template>
    <div class="context-new">

        <!--set meta data-->
        <vue-headful
                title="Заказать контекстную рекламу в Одессе"
                description="Контекстная реклама в поисковых системах Google и Yandex по доступным ценам. ⭐Гарантированные продажи ⭐Индивидуальные стратегии ⭐Сертифицированные специалисты. ☎: +38(063) 726-70-70"
                keywords="реклама в гугле, контекстная реклама яндекс"
                url="ppc"
        />
        <!--end set meta data-->

        <div class="container">
            <h1>КОНТЕКСТНАЯ РЕКЛАМА В ГУГЛ И ЯНДЕКС НА ЗАКАЗ</h1>
            <p>Мы поможем вам найти заявки, клиентов и покупателей в поисковых системах. Сочетаем
                ювелирную ручную работу и свежие технологии</p>
            <ul>
                <li>а 7
                    дней в неделю</li>
                <li>более 112
                    рекламных кампаний</li>
                <li>экономим в 3-5
                    раз Ваш бюджет</li>
            </ul>
            <h2>Что мы делаем?</h2>
            <ul>
                <li>Работаем с любыми
                    бюджетами</li>
                <li>Учитываем требования
                    Яндекса и Google</li>
                <li>Согласовываем список
                    ключевых слов с клиентом</li>
                <li>1 ключевое слово -
                    1 объявление</li>
                <li>Настраиваем
                    ретаргетинг/ремаркетинг</li>
                <li>Настраиваем РСЯ, КМС
                    и медийную рекламу</li>
                <li>Настраиваем аналитику
                    (Яндекс Метрику и Google Analytics)</li>
                <li>Делаем аудит сайта
                    и даем рекомендации</li>
            </ul>
            <h2>Как выглядит контекстная реклама?</h2>
            <ul>
                <li>
                    <h3>Контекстная реклама в GOOGLE</h3>
                    <p>Потенциальные клиенты узнают о вашей компании в самый
                        подходящий момент – когда они ищут в Google товары и
                        услуги, которые вы предлагаете</p>
                </li>
                <li>
                    <h3>Контекстная реклама в YANDEX</h3>
                    <p>Яндекс.Директ покажет ваши объявления людям, которые
                        уже ищут похожие товары или услуги</p>
                </li>
            </ul>
            <h2>Что вы получаете от нашей работы?</h2>
            <ul>
                <li>Увеличение продаж</li>
                <li>Постоянный источник
                    клиентов</li>
                <li>Детальная
                    статистика</li>
                <li>Рост дохода от
                    рекламы</li>
                <li>Снижение затрат
                    на рекламу</li>
            </ul>
            <h3>Рабочий процесс</h3>
            <ol>
                <li><h3>Заявка/Звонок</h3>
                    <p>заполнение формы на
                        сайте или звонок</p></li>
                <li><h3>Согласование</h3>
                    <p>определение целей,
                        типа рекламы,
                        времени показов</p></li>
                <li><h3>Анализ бизнесса</h3>
                    <p>анализ бизнеса клиента,
                        выбор стратегии.
                        Предоплата</p></li>
                <li><h3>Работа с
                    объявлениями</h3>
                    <p>проработка заголовков,
                        текстов, utm-меток,
                        ссылок, визиток, ставок</p></li>
                <li><h3>Настройка
                    аналитики</h3>
                    <p>настройка систем
                        Яндекс Метрики,
                        Google Analytics</p></li>
                <li><h3>Подбор
                    ключевых слов</h3>
                    <p>подбор и утверждение
                        ключевых фраз и “минус
                        слов”</p></li>
                <li><h3>Модерация</h3>
                    <p>отправка на модерацию
                        и передача клиенту</p></li>
                <li><h3>Тестирование и
                    запуск</h3>
                    <p>пополнение бюджета
                        рекламных компаний,
                        запуск проекта</p></li>
                <li><h3>Отчет</h3>
                    <p>предоставление отчета
                        о проделанной работе и
                        эффективности проекта</p></li>
            </ol>
        </div>

    </div>
</template>

<script>

    export default {
        name: 'context-new',
        data() {
            return {

            }
        },
        components: {
        },
        computed: {
        },
        methods: {
        },
    }
</script>

<style lang="scss" scoped>

    .business-site{

    }

</style>


