<template>
    <div class="individual-site">

        <!--set meta data-->
        <vue-headful
                title="Заказать разработку индивидуального сайта в Одессе"
                description="Заказывайте создание индивидуального сайта от веб-студии Mobios в Одессе и Киеве.⭐ - Особый подход к каждому проекту ⭐- Выгодные цены ⭐- Гарантия качества. Звоните. ☎ (067) 888-75-16."
                keywords="создание индивидуального сайта, заказать индивидуальный сайт"
                url="individual-site"
        />
        <!--end set meta data-->

        <div class="container">
            <h1>РАЗРАБОТКА ИНДИВИДУАЛЬНОГО САЙТА</h1>
            <p>Любые инновационные и нестандартные решения в плане набора функций сайта или же его дизайна могут быть реализованы.</p>
            <h2>Инструменты, которые используются для создания надежной архитектуры интернет-проекта</h2>
            <ol>
                <li>
                    <h3>FRONT-END</h3>
                    <p>Применим для визуализации дизайна и анимирования любой сложности. Благодаря этому удается сделать сайт адаптивным, так что ресурс будет автоматически подстраиваться под разрешение экрана. Для реализации используется: HTML5, JavaScript(ES6), CSS3, TypeScript, ReactJS, AngularJS, D3, Gulp, Webpack, SASS.</p>
                </li>

                <li>
                    <h3>BACK-END</h3>
                    <p>Для того, чтобы создать необычный уникальный функционал и добиться высокого уровня нагруженности. Для этого используются: Nginx, Redis, Varnish, PhantomJS, AsyncIO, Django REST Framework, Celery.</p>
                </li>

                <li>
                    <h3>БАЗЫ ДАННЫХ</h3>
                    <p>Для того, чтобы можно было безопасно хранить данные в больших объемах. При необходимости их можно будет извлечь, обновить, добавить или удалить. Для этого используются следующие технологии: PostgreSQL, MySQL, MongoDB, Oracle.</p>
                </li>



            </ol>
        </div>

    </div>
</template>

<script>

    export default {
        name: 'individual-site',
        data() {
            return {

            }
        },
        components: {
        },
        computed: {
        },
        methods: {
        },
    }
</script>

<style lang="scss" scoped>

    .business-site{

    }

</style>


