<template>
    <div>
        <!--set meta data-->
        <vue-headful
                title="Веб-студия Mobios - разработка и продвижение сайтов"
                description="Web-студия Mobios ✔️ Разработка сайтов ✔️ Веб-дизайн ✔️ SEO продвижение ✔️ SMM ✔️ Контекстная реклама ✔️ Мобильные приложения. Звоните ☎️(048) 772-52-54; ☎️(067) 888-75-16."
                keywords="веб студия в одессе, разработка и продвижение сайтов"
        />
        <!--end set meta data-->
        <home v-if="desktop"></home>
        <mobileHome v-else></mobileHome>
    </div>
</template>

<script>

    import home from "../components/HomePage/Homepage"
    import mobileHome from "../components/HomePage/MobileHome"

    export default {
        name: "MainHomepage",
        data: function () {
            return {
                desktop: false
            }
        },
        components: {
            mobileHome,
            home
        },
        methods: {
            checkWidth: function () {
                if(window.innerWidth > 1024) {
                   return this.desktop = true
                }else{
                   return this.desktop = false
                }
            }
        },
        mounted() {
            this.checkWidth();
            window.addEventListener('resize', () => {
                this.checkWidth();
            });
        }
    }
</script>

<style lang="scss">

</style>
