<template>
    <div id="motion-design"
         @wheel="onMouseScroll">


        <!--set meta data-->
        <vue-headful
                title="Моушн дизайн - заказать создание и монтаж видеороликов и презентаций"
                description="Создание видео анимации: 2D, 3D, Motion Design под Ваш бюджет. ⭐Разработка инфографики ⭐Cовременных призентаций ⭐ Монтаж видеороликов. Звоните ☎: +38(063) 726-70-70"
                keywords="моушн дизайн, motion design"
                url="motion-design"
        />
        <!--end set meta data-->

        <div class="scrollLine" :data-section="namePage">
            <span
                    class="dot"
                    v-for="(dot , index) in pages"
                    :class="{active: dot === namePage}"
                    @click="currentPage = index"
            >

            </span>
        </div>
        <transition name="slide-right" appear>
            <div class="return_to_prev_page">
                <router-link to="/services"
                             tag="a"
                             class="return_to_prev_page_link">Services
                </router-link>
            </div>
        </transition>
        <div class="fullpage-container">
            <div class="fullpage-wp" ref="fullpage">
                <header class="header section" id="header headerMotion">

                    <video
                            id="headerVideo"
                            class="header__video"
                            autoplay
                            loop
                            muted
                            v-if="showVideo">
                        <source :src="require('@/assets/motion-design/videos/banner.webm')"
                                type="video/webm">
                    </video>
                    <div class="container">
                        <div class="breedcrumbs">
                            <div class="breedcrumbs_wrap" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="http://mobios.ua/">
                                        <span class="breed_active" itemprop="name">Веб студия</span></a>
                                    <meta itemprop="position" content="1" />
                                </div>
                                <div class="breedcrumbs_line"></div>
                                <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <link itemprop="item" href="http://mobios.ua/motion-design">
                                    <span class="breed_current" itemprop="name">Создание анимационных роликов</span>
                                    <meta itemprop="position" content="2" />
                                </div>
                            </div>
                        </div>
                        <div class="header__caption">
                            <div class="title__animated_str">
                                <h1 class="title__animated_str_text one">
                                    <span class="title__animated_str_moving_block one"></span>
                                    <span class="title__animated_str_moving_text one">Motion Design</span>
                                </h1>
                            </div>
                            <p class="header__description">Production video for any task.</p>
                            <button class="cbtn cbtn-white header__btn" @click="scrollToForm">Let’s talk :)</button>
                        </div>
                    </div>
                </header>

                <portfolio id="portfolio"></portfolio>
                <div id="process"
                     :class="{active: namePage === 'process'}">
                    <div id="services process"
                         class="process">
                        <span class="additional_services__page_title">Process</span>
                        <div class="process__container">
                            <div class="process__wrapper">
                                <div class="process__item">
                                    <div class="process__item-wrap">
                                        <div class="process__img process__img-svg1"></div>
                                        <div class="process__img-hover process__img-hover-svg1"></div>
                                    </div>
                                    <p>Idea</p>
                                </div>
                                <div class="process__item">
                                    <div class="process__item-wrap">
                                        <div class="process__img process__img-svg2"></div>
                                        <div class="process__img-hover process__img-hover-svg2"></div>
                                    </div>
                                    <p>Scenario</p>
                                </div>
                                <div class="process__item">

                                    <div class="process__item-wrap">
                                        <div class="process__img process__img-svg3"></div>
                                        <div class="process__img-hover process__img-hover-svg3"></div>
                                    </div>
                                    <p>Storyboard</p>
                                </div>
                                <div class="process__item">

                                    <div class="process__item-wrap">
                                        <div class="process__img process__img-svg4"></div>
                                        <div class="process__img-hover process__img-hover-svg4"></div>
                                    </div>
                                    <p>Shooting video</p>
                                </div>
                                <div class="process__item">

                                    <div class="process__item-wrap">
                                        <div class="process__img process__img-svg5"></div>
                                        <div class="process__img-hover process__img-hover-svg5"></div>
                                    </div>
                                    <p>Production</p>
                                </div>
                                <div class="process__item">

                                    <div class="process__item-wrap">
                                        <div class="process__img process__img-svg6"></div>
                                        <div class="process__img-hover process__img-hover-svg6"></div>
                                    </div>
                                    <p>2d/3d VFX</p>
                                </div>
                                <div class="process__item">

                                    <div class="process__item-wrap">
                                        <div class="process__img process__img-svg7"></div>
                                        <div class="process__img-hover process__img-hover-svg7"></div>
                                    </div>
                                    <p>Post production</p>
                                </div>
                                <div class="process__item">

                                    <div class="process__item-wrap">
                                        <div class="process__img process__img-svg8"></div>
                                        <div class="process__img-hover process__img-hover-svg8"></div>
                                    </div>
                                    <p>Result</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="direction" class="direction">
                    <video
                            id="directionVideo"
                            class="direction__video"
                            autoplay
                            loop
                            muted
                            v-if="showVideo">
                        <source :src="require('@/assets/motion-design/videos/direction-bg.webm')"
                                type="video/webm">
                    </video>
                    <span class="title">Direction of work</span>
                    <div class="direction__wrapper">
                        <div class="direction__box">
                            <ul class="direction__list">
                                <li class="item">
                                    <span class="number">1</span>
                                    <div class="title">Motion <br>graphic</div>
                                    <p class="description">
                                        Моушн-графика объединяет видео, аудио и текст в единый анимационный сюжет. Одновременно используется три канала передачи информации — изображение, звук, текст.
                                    </p>
                                </li>
                                <li class="item">
                                    <span class="number">2</span>
                                    <div class="title">Рекламные ролики</div>
                                    <p class="description">
                                        Короткие видео или анимация, цель которых - максимально привлекательно показать продукт или услугу для потенциальных покупателей.
                                    </p>
                                </li>
                                <li class="item">
                                    <span class="number">3</span>
                                    <div class="title">Промо видео</div>
                                    <p class="description">
                                        Вид рекламных роликов, позволяет представить товар либо услугу для пользователей, также подходит для анонса новинки для целевой аудитории.
                                    </p>
                                </li>
                                <li class="item">
                                    <span class="number">4</span>
                                    <div class="title">Анимация логотипов</div>
                                    <p class="description">
                                        Тренд в дизайне, который используют как динамический контент в дизайне веб-сайтов, мобильных приложениях и видеороликах. Анимировное лого будет выгодно отличатся от статичных конкурентов.
                                    </p>
                                </li>
                                <li class="item">
                                    <span class="number">5</span>
                                    <div class="title">Видеомонтаж</div>
                                    <p class="description">
                                        Процесс обработки видеоконтента в который входит - удаление ненужных моментов, раскадровка, добавление спецэффектов, сведение фрагментов видео в одну целую картинку.

                                    </p>
                                </li>
                                <li class="item">
                                    <span class="number">6</span>
                                    <div class="title">Кеинг</div>
                                    <p class="description">
                                        Работа с зеленым фоном (хромокеем), обработка двух и более кадров в рамках одной композиции для избавления от зеленого фона изображений.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <section class="additional_services"
                         id="addServices">
                    <div class="additional_services__body">
                        <div class="container">
                            <span class="additional_services__page_title">Additional services</span>

                            <div class="additional_services__grid">

                                <a href="/website-development" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/web-dev.svg"
                                             alt="">
                                    </div>
                                    <p>Web <br>Development</p>
                                </a>

                                <a href="/seo-optimization" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/seo.svg"
                                             alt="">
                                    </div>
                                    <p>SEO <br> promotion</p>
                                </a>

                                <a href="/smm"  class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/smm.svg"
                                             alt="">
                                    </div>
                                    <p>Smm/smo</p>
                                </a>

                                <a href="/analysis-of-competitors" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/analysis.svg"
                                             alt="">
                                    </div>
                                    <p>Competitor <br>analysis</p>
                                </a>

                                <a href="/branding" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/branding.svg"
                                             alt="">
                                    </div>
                                    <p>branding</p>
                                </a>

                                <a href="/seo-audit" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/seo-audit.svg"
                                             alt="">
                                    </div>
                                    <p>Seo audit</p>
                                </a>

                                <a href="/crowd-marketing" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/marketing.svg"
                                             alt="">
                                    </div>
                                    <p>crowd<br> marketing</p>
                                </a>

                                <a href="/ppc" class="additional_services__item">
                                    <div class="additional_services__icon">
                                        <img src="~@/assets/web-development/contextual.svg"
                                             alt="">
                                    </div>
                                    <p>contextual <br>advertising</p>
                                </a>

                            </div>

                        </div>
                    </div>
                    <div class="additional_services__footer"
                         ref="seoFooter"
                         :class="showForm ? 'expanded' : 'hideForm'">
                        <div class="container">
                            <span class="shrink_footer_btn"
                                  @click="toggleFooter"
                                  v-show="showForm"></span>
                            <div class="additional_services__footer__grid">
                                <div class="additional_services__footer_col">
                                    <a class="additional_services__footer_tel"
                                       href="tel:+380678887516">+38 (067) 888 75 16</a>
                                    <a class="additional_services__footer_email"
                                       href="mailto:pm.mobios@gmail.com">pm.mobios@gmail.com</a>
                                </div>
                                <div class="additional_services__footer_col">
                                    <transition name="scale">
                                        <div class="send_mail_form__wrapper"
                                             v-show="showForm">
                                            <send-mail-form :btnText="btnText"
                                                            @closeForm="toggleFooter"
                                                            v-if="showForm"></send-mail-form>
                                        </div>
                                    </transition>
                                    <button class="additional_services__footer_btn"
                                            @click="toggleFooter"
                                            v-show="!showForm">{{ btnText }}</button>
                                </div>
                                <div class="additional_services__footer_col right">
                                    <span class="additional_services__footer_adress">Odessa, Kiev<br/>Ukraine</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <vue-recaptcha
                :sitekey="sitekey"
                ref="invisibleRecaptcha"
                size="invisible"
                :loadRecaptchaScript="true"></vue-recaptcha>
    </div>
</template>

<script>
    import portfolio from "../components/MotionDesign/portfolio"

    import SendMailForm from "../components/SendMailForm.vue";

    import * as bodymovin from 'bodymovin/build/player/bodymovin'

    import VueRecaptcha from 'vue-recaptcha';

    export default {
        name: "MotionDesign",
        data: function () {
            return {
                sitekey: '6Le9SsUUAAAAAJ-I7GFodhZ7QQ5oQadzKlhYP9Jv',

                slidePage: false,
                currentPage: 0,
                pages: ['headerMotion','portfolio','process','direction','services'],

                showForm: false,

                items: {
                    svg1: {
                        animation: require('@/assets/motion-design/svg/idea.json'),
                        anim:     {},
                        hover: require('@/assets/motion-design/svg/hover/idea.json'),
                        animHov:     {},
                    },
                    svg2: {
                        animation: require('@/assets/motion-design/svg/script.json'),
                        anim:     {},
                        hover: require('@/assets/motion-design/svg/hover/Script.json'),
                        animHov:     {},
                    },
                    svg3: {
                        animation: require('@/assets/motion-design/svg/storyboard.json'),
                        anim:     {},
                        hover: require('@/assets/motion-design/svg/hover/storyboard gray.json'),
                        animHov:     {},
                    },
                    svg4: {
                        animation: require('@/assets/motion-design/svg/video.json'),
                        anim:     {},
                        hover: require('@/assets/motion-design/svg/hover/video gray.json'),
                        animHov:     {},
                    },
                    svg5: {
                        animation: require('@/assets/motion-design/svg/manufacturing.json'),
                        anim:     {},
                        hover: require('@/assets/motion-design/svg/hover/manufacturing.json'),
                        animHov:     {},
                    },
                    svg6: {
                        animation: require('@/assets/motion-design/svg/modeling.json'),
                        anim:     {},
                        hover: require('@/assets/motion-design/svg/hover/3D model.json'),
                        animHov:     {},
                    },
                    svg7: {
                        animation: require('@/assets/motion-design/svg/post producting.json'),
                        anim:     {},
                        hover: require('@/assets/motion-design/svg/hover/post product full.json'),
                        animHov:     {},
                    },
                    svg8: {
                        animation: require('@/assets/motion-design/svg/resuslt.json'),
                        hover: require('@/assets/motion-design/svg/hover/result full.json'),
                        animHov:     {},
                        anim:     {},
                    },
                },
                runAnimation: false,
                animationElem: false,
                outAnimation: false,

                showVideo: true,
            }
        },
        components:{
            portfolio,
            'send-mail-form': SendMailForm, VueRecaptcha},
        computed:{
            namePage(){
                return this.pages[this.currentPage];
            },

            btnText: function () {
                return this.showForm ? 'hide form' : 'Let’s talk :)';
            },

        },

        created() {
            window.addEventListener('resize', this.handleResize)
        },

        mounted(){
            this.touchListener();


            this.runAnimationSvgHover();

            this.createSvg();

            if(window.innerWidth < 1025) {
                this.playSvg()
            }

            this.handleResize();

        },
        watch: {
            currentPage(newIndex,oldIndex){
                if(window.innerWidth > 1025){
                    let pagesLen = this.pages.length;
                    let scroll = window.innerHeight;
                    let el = document.querySelector('.fullpage-wp');
                    if(newIndex => 0 && pagesLen >= newIndex){
                        el.style.transform = "translate3d(0, " + -(scroll * this.currentPage) + "px, 0)"
                    }
                }
            },
        },
        methods: {
            touchListener(){
                let touchstartY = 0;
                let touchendY = 0;
                let el = document.querySelector('#motion-design');
                el.addEventListener('touchstart', (event)=> {
                    touchstartY = event.changedTouches[0].screenY;
                }, false);

                el.addEventListener('touchend', (event)=> {
                    touchendY = event.changedTouches[0].screenY;
                    if (touchendY < touchstartY && (touchstartY - touchendY) > 150) this.onMouseScroll({deltaY: 1});
                    if (touchendY > touchstartY && (touchendY - touchstartY) > 150) this.onMouseScroll({deltaY: -1});
                }, false);
            },
            onMouseScroll(e){
                if(window.innerWidth > 1024) {
                    if (!this.slidePage) {
                        let pagesLen = this.pages.length;
                        this.slidePage = true;
                        if (Math.sign(e.deltaY) === 1 && pagesLen !== (this.currentPage + 1)) {
                            this.currentPage < pagesLen ? this.currentPage++ : false;
                        } else if (Math.sign(e.deltaY) !== 1) {
                            this.currentPage !== 0 ? this.currentPage-- : false;
                        }
                        setTimeout(() => {
                            this.slidePage = false;
                        }, 1000)
                    }

                    if(this.namePage === 'process' ){
                        this.playSvg()
                    }else{
                        this.stopSvg()
                    }

                }
            },

            handleResize() {
                if(window.innerWidth < 1025){
                    this.showVideo = false
                }else{
                    this.showVideo = true
                }
            },

            scrollToForm: function() {
                this.showForm = true;
                if(window.innerWidth > 1025) {
                    this.currentPage = 4;
                }else{
                    setTimeout(() => {
                        window.scrollTo(0,document.body.scrollHeight);
                    }, 300)
                }
            },

            toggleFooter: function () {
                this.showForm = !this.showForm;
            },


            runAnimationSvgHover(){
                for (let field in this.items) {

                    let animation = this.items[field].hover;

                    let svgContainer = document.querySelector('.process__img-hover-' + field);

                    let settings = {
                        wrapper: svgContainer,
                        animType: 'svg',
                        loop: true,
                        animationData: animation,
                    };


                    this.items[field].animHov = bodymovin.loadAnimation(settings);
                }


            },

            createSvg(){
                for (let field in this.items) {

                    let animation = this.items[field].animation;

                    let svgContainer = document.querySelector('.process__img-' + field);

                    let settings = {
                        wrapper: svgContainer,
                        animType: 'svg',
                        loop: false,
                        autoplay: false,
                        animationData: animation,
                    };

                    this.items[field].anim = bodymovin.loadAnimation(settings);



                }
            },

            playSvg(){
                for (let field in this.items) {
                    this.items[field].anim.play()
                }
            },

            stopSvg(){
                for (let field in this.items) {
                    this.items[field].anim.pause()
                }
            },
        }
    }
</script>

<style lang="scss">
    #app.motion-design{
        padding-right: 0;
        .owl-nav{
            display: none;
        }
        .title__animated_str_text {
            display: inline-block;
            position: relative;
            left: 0;
            top: 0;
            font: 900 86px 'Geometria', Sans-Serif;
            line-height: 86px;
            color: #fff;
            text-transform: uppercase;
            @media (max-width: 1550px) {
                font-size: 56px;
                line-height: 1.2;
            }
            @media screen and (max-width: 1024px){
                position: fixed;
                top: 0px;
                z-index: 99999;
                color: #00b4db;
                font-size: 18px;
                left: calc(50% + 14px);
                transform: translateX(-50%);
                text-align: center;
                line-height: 18px;
                height: 36px;
                display: flex;
                align-items: center;
            }
        }
        .title__animated_str_moving_text {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            width: 0%;

        }
        .title__animated_str_moving_block {
            left: -100%;
            display: block;
            height: 100%;
            background: #fff;
            position: absolute;
            width: 100%;
            @media (max-width: 1024px) {
                display: none;
            }
        }
        .title__animated_str_moving_block {
            animation: whiteBlockLeft 0.7s ease-out 1.2s;
            animation-fill-mode: forwards;
        }
        .title__animated_str_moving_text {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            animation: textWidth 0.8s ease-out 1.3s 1 normal forwards;
            @media (max-width: 1024px) {
                white-space: inherit;
                animation: none !important;
                width: auto;

            }
        }
        .return_to_prev_page {
            position: absolute;
            top: 0;
            right: 0;
            width: 70px;
            height: 100%;
            background: #fff;
            @media screen and (max-width: 1024px){
                display: none;
            }
        }
        .container{
            max-width: 1570px;
            padding: 0 60px;
            width: 100%;
            @media screen and (max-width: 1024px){
                padding: 0 15px;
            }
        }
        .return_to_prev_page_link {
            cursor: pointer;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(180deg);
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            top: 110px;
            display: block;
            width: 21px;
            font-size: 18px;
            line-height: 18px;
            color: #000;
            text-decoration: none;
            transition: .5s;
            z-index: 9999;
            @media screen and (max-width: 1024px){
                display: none;
            }
            &:hover {
                text-decoration: none;
                color: #000;
                top: 125px;
                &::before {
                    height: 115px;
                }
            }
            &::before {
                content: '';
                transition: height .5s;
                display: block;
                width: 1px;
                height: 100px;
                position: absolute;
                top: 85px;
                left: 0;
                right: 0;
                margin: auto;
                background: #000;
                pointer-events: none;
            }
            @media (max-width: 1024px){
                display: none;
            }
        }
        .section{
            height: 100vh;
            @media screen and (max-width: 1024px){
                height: auto;
            }
        }
        .fullpage-wp{
            align-items: initial !important;
            transition: all 1s ease-in-out;
            @media screen and (max-width: 1024px){
                transform: none!important;
            }
        }
        .scrollLine{
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            left: 80px;
            display: flex;
            flex-direction: column;
            z-index: 1;
            counter-reset: dots;
            align-items: center;
            @media screen and (max-width: 1024px){
                display: none;
            }
            .dot{
                width: 10px;
                height: 10px;
                border: 2px solid #ffffff;
                background-color: #ffffff;
                border-radius: 100%;
                display: inline-block;
                margin-bottom: 16px;
                position: relative;
                transition: .25s;
                cursor: pointer;
                &:after{
                    counter-increment: dots;
                    content: "0" counter(dots);
                    color: #ffffff;
                    font-size: 16px;
                    left: 100%;
                    position: absolute;
                    font-weight: 500;
                    line-height: 20px;
                    margin-left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: .25s;
                }
                &:before{
                    content: '';
                    width: 25px;
                    height: 2px;
                    background-color: #ffffff;
                    display: inline-block;
                    position: absolute;
                    left: -25px;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: .25s;
                }
                &.active{
                    width: 16px;
                    height: 16px;
                }
            }
            &[data-section="headerMotion"],
            &[data-section="direction"]{
                .dot.active{
                    &:after,&:before{
                        opacity: 1;
                    }
                }
            }
            &[data-section="portfolio"]{
                .dot.active{
                    &:before,&:after{
                        opacity: 1;
                    }
                    &:after{
                        background-color: transparent;
                    }
                }
            }
            &[data-section="process"],
            &[data-section="services"]{
                .dot{
                    background-color: #979797;
                    border-color: #979797;
                    &:before,&:after{
                        color: #979797;
                        background-color: #979797;
                    }
                }
                .dot.active{
                    &:before,&:after{
                        opacity: 1;
                    }
                    &:after{
                        background-color: transparent;
                    }
                }
            }
            @media (max-width: 1024px){
                left: 15px;
            }
        }

        .v--modal-overlay {
            z-index: 99999;
        }


        .header{
            transform: translate(0);
            background-size: cover;
            background-position: center center;
            display: flex;
            align-items: center;
            position: relative;
            &:before{
                content: '';
                background-color: rgba(152, 152, 152, 0.85);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            &__video{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -2;
                object-fit: cover;
            }
            @media screen and (max-width: 1024px){
                transform: none;
                background-image: url('~@/assets/motion-design/header__bg.png');
            }
            @media screen and (max-width: 1024px){
                height: 391px;
                justify-content: center;
            }
            &__caption{
                @media screen and (max-width: 1024px) {
                    padding-left: 0;
                }
            }
            &__title{
                color: #ffffff;
                font-size: 86px;
                line-height: 86px;
                font-weight: 900;
                text-transform: uppercase;
                margin: 0;
                &_mob-fixed{
                    display: none;
                    @media screen and (max-width: 1024px) {
                        display: block;
                        position: fixed;
                        top: 17px;
                        z-index: 99999;
                        color: #00b4db;
                        font-size: 18px;
                        font-weight: 900;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                        text-align: center;
                        line-height: 18px;
                        text-transform: uppercase;
                    }
                }
            }
            &__description{
                color: #ffffff;
                font-size: 28px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 1.68px;
                margin-top: 20px;
                padding-bottom: 20px;
                max-width: 1100px;
                @media screen and (max-width: 1550px){
                    font-size: 18px;
                    line-height: 21px;
                    max-width: 60%;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 16px;
                    margin:0 auto;
                    padding-bottom: 35px;
                    text-align: center;
                }
                @media screen and (max-width: 767px) {
                    max-width: 100%;
                }
            }
            &__btn{
                color: #fff;
                font-size: 16px;
                background: transparent;
                border: 1px solid #fff;
                padding: 13px 50px;

                display: block;
                overflow: hidden;
                position: relative;
                z-index: 1;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                @media screen and (max-width: 1024px){
                    margin: 0 auto;
                }
                &::after {
                    background: #fff;
                    content: '';
                    position: absolute;
                    z-index: -1;
                    height: 100%;
                    left: -35%;
                    top: 0;
                    transform: skew(50deg);
                    transition-duration: 0.6s;
                    transform-origin: top left;
                    width: 0;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                }
                &:hover{
                    color: #000;
                    &:after {
                        height: 100%;
                        width: 135%;
                    }
                }

            }
            @media (max-width: 1200px){
                &__title{
                    font-size: 56px;
                    line-height: 56px;
                }
            }
            @media screen and (max-width: 1024px) {
                &__title{
                    font-size: 32px;
                }
            }
        }

        .process {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            @media screen and (max-width: 1024px) {
                height: auto;
                padding: 40px 0;
            }
            .additional_services__page_title {
                font-size: 64px;
                color: #222222;
                text-align: center;
                text-transform: uppercase;
                font-weight: 900;
                margin: 0;
                display: block;
                @media screen and (max-width: 1550px){
                    font-size: 50px;
                }
                @media screen and (max-width: 1023px){
                    font-size: 36px;
                }
                @media screen and (max-width: 768px){
                    font-size: 18px;
                }
            }

            &__wrapper{
                display: flex;
                flex-wrap: wrap;
            }
            &__item{
                flex-basis: 25%;
                margin-top: 70px;
                @media screen and (max-width: 480px){
                    flex-basis: 50%;
                    margin-top: 30px;
                }
                &-wrap{
                    width: 171px;
                    height: 171px;
                    margin: 0 auto;
                    position: relative;
                    @media screen and (max-width: 1550px){
                        width: 120px;
                        height: 120px;
                    }
                    @media screen and (max-width: 520px){
                        width: 83px;
                        height: 83px;
                    }
                    &:hover{
                        .process__img{
                            opacity: 0;
                            @media screen and (max-width: 1024px){
                                opacity: 1;
                            }
                        }
                        .process__img-hover{
                            opacity: 1;
                            @media screen and (max-width: 1024px){
                                opacity: 0;
                            }
                        }
                    }
                }
            }
            &__img{
                transition: all 0.3s;
                &-hover{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.3s;
                    &-svg2{
                        //top: 5px;
                        //left: -3px;
                    }
                }
            }
            p{
                color: #222222;
                font-family: 'Geometria-Bold';
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                @media screen and (max-width: 1366px) {
                    font-size: 14px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }

        .direction{
            @keyframes circleRight {
                0% {
                    transform: rotate(0deg);
                }
                50%{
                    transform: rotate(180deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            position: relative;
            background-size: cover;
            color: white;
            &__video{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -2;
                object-fit: cover;
            }
            @media screen and (max-width: 1024px){
                height: auto;
                padding: 40px 0;
                background: url('~@/assets/motion-design/direction_img.png');
            }
            &:after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.9;
                background-size: cover;
                background-image: url('~@/assets/motion-design/direction_bg.png');
            }
            .title{
                font-size: 64px;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                font-weight: 900;
                z-index: 1;
                position: relative;
                margin: 0;
                display: block;
                @media screen and (max-width: 1550px){
                    font-size: 48px;
                }
                @media screen and (max-width: 1280px){
                    font-size: 42px;
                }
                @media screen and (max-width: 1024px){
                    font-size: 36px;
                }
                @media screen and (max-width: 768px){
                    font-size: 18px;
                }
            }
            &__wrapper{
                color: #ffffff;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0.96px;
                position: relative;
                z-index: 1;
                display: flex;
                justify-content: center;
                width: calc(100% - 68px);
                @media screen and (max-width:1500px){
                    padding: 0 55px;
                }
                @media screen and (max-width: 1024px) {
                    width: 100%;
                    padding: 0;
                }

            }
            &__box{
                max-width: 1470px;
                width: 100%;
            }
            &__list{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0 0 0 5px;
                @media screen and (max-width: 600px) {
                    padding: 0 15px;
                }
                .item{
                    height: 290px;
                    width: 33.1%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                    border: 1px solid #d4d4d4;
                    position: relative;
                    overflow: hidden;
                    padding: 35px;
                    @media screen and (max-width: 1550px){
                        padding: 20px 15px;
                        height: 220px;
                    }
                    @media screen and (max-width: 1024px){
                        height: 160px;
                        justify-content: flex-start;
                    }
                    @media screen and (max-width: 680px) {
                        height: 96px;
                    }
                    @media screen and (max-width: 600px) {
                        width: 50%;
                        justify-content: flex-start;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: url('~@/assets/motion-design/direction_screen.png');
                        background-size: cover;
                        transform: translateY(100%);
                        transition: transform .2s linear;
                    }
                    .number{
                        width: 77px;
                        height: 77px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #ffffff;
                        font-size: 36px;
                        font-weight: 400;
                        line-height: 20px;
                        flex-shrink: 0;
                        transition: .3s linear;
                        position: relative;
                        &:before{
                            content: '';
                            width: 77px;
                            height: 77px;
                            border-radius: 100%;
                            background-image: url('~@/assets/motion-design/direction__number-border.png');
                            -webkit-background-size: 100%;
                            background-size: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            transition: .3s linear;
                        }
                        @media screen and (max-width: 1400px){
                            width: 55px;
                            height: 55px;
                            font-size: 30px;
                            line-height: 55px;
                            &:before{
                                width: 55px;
                                height: 55px;
                            }
                        }
                        @media screen and (max-width: 850px){
                            width: 35px;
                            height: 35px;
                            font-size: 20px;
                            line-height: 35px;
                            &:before{
                                width: 35px;
                                height: 35px;
                            }
                        }
                        @media screen and (max-width: 600px){
                            width: 25px;
                            height: 25px;
                            font-size: 12px;
                            line-height: 25px;
                            &:before{
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                    .title{
                        color: #ffffff;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: 0.96px;
                        transition: .3s linear;
                        text-align: left;
                        margin-left: 30px;
                        width: calc(100% - 110px);
                        @media screen and (max-width: 1550px){
                            font-size: 20px;
                            line-height: 24px;
                        }
                        @media screen and (max-width: 1280px){
                            margin-left: 20px;
                        }
                        @media screen and (max-width: 850px){
                            font-size: 16px;
                            line-height: 18px;
                            margin-left: 7px;
                        }
                        @media screen and (max-width: 680px) {
                            font-size: 14px;
                        }
                        @media screen and (max-width: 600px){
                            font-size: 12px;
                            line-height: 14px;
                            margin-left: 10x;
                            text-transform: inherit;
                        }
                    }
                    .description{
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0.56px;
                        width: 100%;
                        padding-left: 45px;

                        transition: all .6s;
                        overflow: hidden;
                        height: 0;
                        margin: 0;
                        display: none;
                        @media screen and (max-width: 1400px){
                            padding-left: 0;
                        }
                        @media screen and (max-width: 1200px){
                            line-height: 14px;
                        }
                        @media screen and (max-width: 1010px){
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                        }
                    }
                    &__right{
                        display: flex;
                        align-items: center;
                    }
                    @media screen and (min-width: 1025px){

                        &:hover{
                            justify-content: flex-start;
                            align-items: flex-start;
                            &:before{
                                transform: translateY(0);
                            }
                            .number{
                                width: 32px;
                                height: 32px;
                                font-size: 15px;
                                transition-delay: 0s;
                                &:before{
                                    width: 32px;
                                    height: 32px;
                                    transition-delay: 0s;
                                    animation: circleRight 5s linear forwards;
                                    animation-iteration-count: infinite;
                                }
                            }
                            .title {
                                font-size: 24px;
                                line-height: 28px;
                                margin-left: 13px;
                                transition-delay: 0s;
                                text-align: left;
                                @media screen and (max-width: 1550px) {
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                                @media screen and (max-width: 1010px) {
                                    font-size: 12px;
                                    line-height: 15px;
                                }
                                @media screen and (max-width: 768px) {
                                    font-size: 14px;
                                    line-height: 18px;
                                    margin-left: 7px;
                                }
                            }
                            .description{
                                @media screen and (max-width: 1024px){
                                    display: none;
                                }
                                height: 60%;
                                position: static;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .additional_services{
            background: #f1f1f1;
            position: relative;
            height: 100vh;
            @media screen and (max-width: 1024px) {
                height: auto;
                overflow: initial;
            }
            .container{
                max-width: 1540px;
                padding: 0 30px;
                width: 100%;
                @media screen and (max-width: 1540px){
                    padding: 0 95px 0 15px;
                }
                @media screen and (max-width: 1024px){
                    padding: 0 15px;
                }
            }

            &__page_title{
                font-size: 64px;
                color: #222222;
                text-align: center;
                text-transform: uppercase;
                font-weight: 900;
                display: block;
                &--white{
                    color: #fff;
                }
                @media screen and (max-width: 1550px){
                    font-size: 48px;
                }
                @media screen and (max-width: 1280px){
                    font-size: 42px;
                }
                @media screen and (max-width: 1024px){
                    font-size: 36px;
                }
                @media screen and (max-width: 768px){
                    font-size: 18px;
                }
            }
            &__grid{
                display: flex;
                flex-wrap: wrap;
                margin-top: 50px;
                @media screen and (max-width: 1500px){
                    padding: 0 40px;
                }
                @media screen and (max-width: 1024px){
                    padding: 0;
                }
            }
            &__item{
                flex-basis: 25%;
                padding: 50px 0 50px 50px;
                border-right: 1px solid #d0d0d0;
                border-bottom: 1px solid #d0d0d0;
                transition: all .3s;
                &:hover{
                    text-decoration: none;
                    .additional_services__icon{
                        img{
                            transform: scale(1.1);
                            @media screen and (max-width: 1024px){
                                transform: none;
                            }
                        }
                    }
                }
                &:nth-child(4n){
                    border-right: none;
                }
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8){
                    border-bottom: none;
                }
                @media screen and (max-width: 1550px){
                    padding: 25px 0 25px 30px;
                }
                @media screen and (max-width: 1366px){
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                @media screen and (max-width: 1023px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 30px 0;
                }
                @media screen and (max-width: 550px) {
                    flex-basis: 50%;
                    padding: 20px 0;
                    &:nth-child(2n){
                        border-right: none;
                    }
                    &:nth-child(5),
                    &:nth-child(6){
                        border-bottom: 1px solid #d0d0d0;
                    }
                }
            }
            &__icon{
                height: 100px;
                width: 110px;
                text-align: center;
                position: relative;
                transition: all .3s;
                @media screen and (max-width: 1550px){
                    height: 70px;
                    width: 80px;
                }
                @media screen and (max-width: 1200px){
                    height: 55px;
                    width: 60px;
                }
                &:after{
                    content: '';
                    width: 2px;
                    height: 55px;
                    background-color: #00b4db;
                    position: absolute;
                    top: calc(100% + 15px);
                    left: calc(50% - 1px);
                    @media screen and (max-width: 1200px) {
                        left: 14px;
                    }
                    @media screen and (max-width: 1023px){
                        display: none;
                    }
                }
                img{
                    height: 100%;
                    max-width: 100%;
                    transition: all .3s;
                }
            }
            p{
                color: #222222;
                font-size: 20px;
                line-height: 24px;
                font-weight: 900;
                text-transform: uppercase;
                padding: 0 0 0 70px;
                margin: 15px 0px;
                display: flex;
                align-items: center;
                min-height: 60px;
                @media screen and (max-width: 1366px){
                    font-size: 16px;
                    line-height: 20px;
                }
                @media screen and (max-width: 1200px){
                    font-size: 14px;
                    line-height: 16px;
                    padding: 0 0 0 35px;
                }
                @media screen and (max-width: 1023px){
                    padding-left: 0;
                    font-size: 12px;
                    text-align: center;
                }
                @media screen and (max-width: 550px){
                    margin: 14px 0 0;
                    min-height: auto;
                }
            }
            &__body{
                height: 85vh;
                display: flex;
                align-items: center;
                @media screen and (max-width:1366px){
                    height: 88vh;
                }
                @media screen and (max-width:1024px){
                    height: auto;
                }
            }

            &__footer{
                background-color: #222831;
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 15vh;
                -webkit-transition: 1s ease-in-out;
                transition: 1s ease-in-out;
                overflow: hidden;
                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    background-image: url("~@/assets/slice.png");
                    background-repeat: repeat;
                    background-size: 8px;
                    z-index: 2;
                }
                .container{
                    position: relative;
                    z-index: 2;
                }

                a{
                    &:hover,&:focus{
                        color: #fff;
                        text-decoration: none;
                    }
                }

                #setka{
                    width: 300px;
                    height: 300px;
                }
                .canvas_wrapper{
                    z-index: 1;
                    width: 300px;
                    height: 300px;
                }
                @keyframes slidein {
                    0% {
                        height: 15vh;
                    }

                    100% {
                        height: 543px;
                    }
                }
                @keyframes slideout {
                    0% {
                        height: 543px;
                    }

                    100% {
                        height: 15vh;
                    }
                }
                @media screen and (max-width: 1550px){
                    @keyframes slidein {
                        0% {
                            height: 112px;
                        }

                        100% {
                            height: 450px;
                        }
                    }
                    @keyframes slideout {
                        0% {
                            height: 450px;
                        }

                        100% {
                            height: 112px;
                        }
                    }
                }
                @media screen and (max-width: 1024px){
                    @keyframes slidein {
                        0% {
                            height: 265px;
                        }

                        100% {
                            height: 600px;
                        }
                    }
                    @keyframes slideout {
                        0% {
                            height: 600px;
                        }

                        100% {
                            height: 265px;
                        }
                    }
                }
                @media screen and (max-width: 480px){
                    @keyframes slidein {
                        0% {
                            height: 265px;
                        }

                        100% {
                            height: 500px;
                        }
                    }
                    @keyframes slideout {
                        0% {
                            height: 500px;
                        }

                        100% {
                            height: 265px;
                        }
                    }
                }
                &.hideForm{
                    animation-duration: 1s;
                    animation-name: slideout;
                }
                &.expanded{
                    height: 543px;
                    padding: 20px 0;
                    animation-duration: 1s;
                    animation-name: slidein;
                    @media screen and (max-width: 1550px){
                        height: 450px;
                    }
                    @media screen and (max-width: 1024px){
                        height: 600px;
                        position: absolute;
                        bottom: 0;
                        top: inherit;
                        .additional_services__footer__grid{
                            flex-direction: column;
                        }
                    }
                    @media screen and (max-width: 480px){
                        height: 500px;
                        padding-top: 45px;
                    }
                    .send_mail_form__wrapper{
                        height: auto;
                    }
                    .contacts__form_wrapper{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .send_mail_form__wrapper{
                    -webkit-transition: 1s ease-in-out;
                    transition: 1s ease-in-out;
                    height: 0;
                }
                .contacts__form_wrapper{
                    -webkit-transition: 0.5s ease-in-out;
                    transition: 0.5s ease-in-out;
                    position: relative;
                    opacity: 0;
                    visibility: hidden;
                }
                &__grid{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    -webkit-transition: .35s ease-in-out;
                    transition: .35s ease-in-out;
                    @media screen and (max-width: 1024px){
                        flex-direction: column;
                    }
                }
                &_col{
                    @media screen and (max-width: 1024px){
                        &:first-of-type{
                            text-align: center;
                            margin-bottom: 30px;
                        }
                        &:last-of-type{
                            margin-top: 30px;
                        }
                    }
                }
                &_tel {
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 700;
                    color: #fff;
                    letter-spacing: .48px;
                    padding-left: 70px;
                    display: block;
                    @media screen and (max-width: 1366px){
                        font-size: 22px;
                    }
                    @media screen and (max-width: 1200px){
                        padding: 0;
                        font-size: 18px;
                    }
                    @media screen and (max-width: 550px){
                        font-size: 24px;
                    }
                }
                &_email {
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 700;
                    color: #fff;
                    letter-spacing: .36px;
                    padding-left: 70px;
                    @media screen and (max-width: 1366px){
                        font-size: 16px;
                        line-height: 18px;
                    }
                    @media screen and (max-width: 1200px){
                        padding: 0;
                        font-size: 14px;
                    }
                    @media screen and (max-width: 550px){
                        font-size: 18px;
                    }
                }
                &_adress {
                    font-size: 14px;
                    letter-spacing: .28px;
                    font-weight: 700;
                    color: #fff;
                    display: inline-block;
                    text-align: left;
                    margin-right: 130px;
                    @media screen and (max-width: 1200px){
                        margin: 0;
                    }
                    @media screen and (max-width: 1024px){
                        text-align: center;
                    }
                }
                &_btn {
                    display: block;
                    width: 223px;
                    height: 52px;
                    background-color: #fff;
                    border: 2px solid #fff;
                    color: #222;
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: .36px;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0 auto;
                    cursor: pointer;
                    transition: all .3s;
                    &:hover{
                        background-color: transparent;
                        color: #fff;
                    }
                    @media screen and (max-width: 1366px){
                        font-size: 14px;
                        height: 45px;
                    }
                }
                .scale-enter-active{
                    animation: scale-in .3s;
                }
                .scale-leave-active {
                    animation: scale-in .3s reverse;
                }
                @keyframes scale-in {
                    0% {
                        transform: scale(0);
                    }
                    100% {
                        transform: scale(1);
                    }
                }

                @media screen and (max-width:1366px){
                    height: 12vh;
                }
                @media screen and (max-width:1024px){
                    height: 265px;
                    position: relative;
                    top: 0;
                    left: 0;
                    padding: 40px 0 30px;
                    margin-top: 30px;
                }

            }
            .shrink_footer_btn {
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 15px;
                top: 15px;
                cursor: pointer;
                @media screen and (max-width:480px) {
                    top: -20px;
                }
                &:before,
                &:after{
                    content: "";
                    width: 12px;
                    height: 12px;
                    border: 2px solid #fff;
                    position: absolute;
                    display: block;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:before {
                    border-left: 0;
                    border-bottom: 0;
                    top: 5px;
                    left: -7px;
                }
                &:after {
                    border-right: 0;
                    border-top: 0;
                    top: 5px;
                    left: 7px;
                }
            }

            @media screen and (max-width: 1024px) {
                padding: 35px 0 0;
            }
        }
    }

</style>
