<template>
    <div id="our-projects"
         @wheel="onMouseScroll">

        <!--set meta data-->
        <vue-headful
                title="Кейсы по разработке сайтов - Mobios"
                description="В нашем портфолио Вы можете посмотреть сайты которые мы разработали, оценить дизайн, функционал и сроки разработки."
                url=""
        />
        <!--end set meta data-->

        <div class="animation toNext" :class="{isActive:isActive}">
            <div class="circle"></div>
        </div>
        <transition-group name="fade"
                          mode="out-in">
            <div :key="1" v-if="!loading">
                <div class="animation">
                    <div class="line-loading"
                         :class="{reverse: refresh}"
                         v-show="!loading"></div>
                </div>
            </div>
            <div :key="2" v-else
                 class="page__wrapper"
                 :class="{refresh:refresh}">
                <transition name="fade">
                    <h1 class="our_projects__page_title"
                        v-show="loadingCarousel">
                        Our projects</h1>
                </transition>
                <canvas class="noise"
                        id="noise"
                        ref="noise"
                        :class="!refresh ? 'visible' : ''">
                </canvas>
                <transition name="fade"
                            mode="out-in">
                    <carousel :items="4"
                              :dots="false"
                              :nav="true"
                              v-if="!reloadCarousel"
                              :slideBy="1"
                              :lazyLoad="false"
                              ref="carousel"
                              :loop="false">
                        <template slot="prev">
                            <transition
                                    name="fade">
                                <span class="custom__prev">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="14.38"
                                         height="8.968"
                                         viewBox="0 0 14.38 8.968">
                                      <path id="Прямоугольник_5_копия"
                                            data-name="Прямоугольник 5 копия"
                                            class="cls-1"
                                            d="M1877,540.313h12.78v0.593H1877v-0.593Zm9.34-3.7-0.43.43,3.87,3.874,0.43-.43Zm3.62,3.69,0.42,0.427-3.82,3.839-0.42-.426Z"
                                            transform="translate(-1876.5 -536.094)"/>
                                    </svg>
                                </span>
                            </transition>
                        </template>
                        <template slot="next">
                            <transition
                                    name="fade">
                                <span class="custom__next">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="14.38"
                                         height="8.968"
                                         viewBox="0 0 14.38 8.968">
                                      <path id="Прямоугольник_5_копия"
                                            data-name="Прямоугольник 5 копия"
                                            class="cls-1"
                                            d="M1877,540.313h12.78v0.593H1877v-0.593Zm9.34-3.7-0.43.43,3.87,3.874,0.43-.43Zm3.62,3.69,0.42,0.427-3.82,3.839-0.42-.426Z"
                                            transform="translate(-1876.5 -536.094)"/>
                                    </svg>
                                </span>
                            </transition>
                        </template>
                        <div class="projects-column"
                             v-for="(array,index) in itemCarousel"
                             v-if="itemCarousel.length > 0"
                             :key="index">
                            <div class="project-card project"
                                 v-for="(item,i) in array"
                                 :key="i">
                                <div class="project__load"
                                     :class="{running : !refresh,reverse: refresh}">
                                    <div class="project__overlay"></div>
                                    <div class="project__overlay project__overlay-hover"
                                         :style="'background:'+item.color"></div>
                                    <div class="project__image"
                                         :style="'background-image: url('+item.image+')'">
                                    </div>
                                </div>
                                <router-link
                                        :to="item.link"
                                        tag="a"
                                        class="project__info-link"
                                        :class="{running : !refresh,reverse: refresh}">
                                    <div class="project__info"
                                         :class="{running : !refresh,reverse: refresh}">
                                        <span class="project__title">{{item.title}}</span>
                                        <p class="project__description">
                                            {{item.description}}</p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </carousel>
                </transition>
                <transition name="slide-right"
                            appear>
                    <div class="return_to_prev_page">
                        <router-link to="/"
                                     tag="a"
                                     class="return_to_prev_page_link">
                            <span>Home</span>
                        </router-link>
                    </div>
                </transition>
                <div class="filter filter-box">
                    <transition name="slide-fade"
                                mode="out-in">
                        <div key="button"
                             class="filter__btn"
                             @click="filterOpen = !filterOpen"
                             v-if="!filterOpen">
                            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 62 50" style="enable-background:new 0 0 62 50;" xml:space="preserve">
                            <path d="M12,6H1C0.4,6,0,5.6,0,5s0.4-1,1-1h11c0.6,0,1,0.4,1,1S12.6,6,12,6z"/>
                            <path d="M61,6H21c-0.6,0-1-0.4-1-1s0.4-1,1-1h40c0.6,0,1,0.4,1,1S61.6,6,61,6z"/>
                            <path d="M16.1,10c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S18.9,10,16.1,10z M16.1,2c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3
                                S17.8,2,16.1,2z"/>
                            <path d="M42,26H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h41c0.6,0,1,0.4,1,1S42.6,26,42,26z"/>
                            <path d="M61,26H51c-0.6,0-1-0.4-1-1s0.4-1,1-1h10c0.6,0,1,0.4,1,1S61.6,26,61,26z"/>
                            <path d="M46.1,30c-2.8,0-5-2.2-5-5s2.2-5,5-5c2.8,0,5,2.2,5,5S48.9,30,46.1,30z M46.1,22c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3
                                S47.8,22,46.1,22z"/>
                            <path d="M22,46H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h21c0.6,0,1,0.4,1,1S22.6,46,22,46z"/>
                            <path d="M61,46H31c-0.6,0-1-0.4-1-1s0.4-1,1-1h30c0.6,0,1,0.4,1,1S61.6,46,61,46z"/>
                            <path d="M26.1,50c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S28.9,50,26.1,50z M26.1,42c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3
                                S27.8,42,26.1,42z"/>
                            </svg>
                        </div>
                        <div key="box"
                             class="filter__wrapper"
                             v-if="filterOpen">
                            <div class="close__btn"
                                 @click="filterOpen = false"></div>
                            <div class="filter__box">
                                <ul class="filter__list">
                                    <li
                                            @click="changeFilter('')"
                                            :class="{active: filter === ''}">
                                        All
                                    </li>
                                    <li
                                            @click="changeFilter('e-commerce')"
                                            :class="{active: filter === 'e-commerce'}">
                                        E-commers
                                    </li>
                                    <li
                                            @click="changeFilter('corporate site')"
                                            :class="{active: filter === 'corporate site'}">
                                        Corporate
                                        site
                                    </li>
                                    <li
                                            @click="changeFilter('portal')"
                                            :class="{active: filter === 'portal'}">
                                        Portal
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </transition>
                </div>
                <div class="swipe-up">
                    <img src="~@/assets/swipe-up.svg"
                         alt="">
                </div>
            </div>
        </transition-group>

    </div>
</template>

<script>

    import carousel from "vue-owl-carousel";

    import itemsAll from '../config/portfolio.js'

    export default {
        name: 'our-projects',
        data() {
            return {
                itemsAll: itemsAll,
                items: [],
                loading: false,
                filterOpen: false,
                filter: '',
                loadingCarousel: true,
                refresh: false,
                changePage: true,
                countItems: 2,
                reloadCarousel: false,

                isActive: false,

            }
        },
        components: {
            carousel
        },
        computed: {
            itemCarousel() {
                const COUNT_ITEMS = this.countItems;
                let resultArray = [[]];
                let counterItems = 0;
                this.items.map((item, index) => {
                    if (resultArray[counterItems].length === COUNT_ITEMS) {
                        counterItems++;
                        resultArray[counterItems] = [];
                    }
                    resultArray[counterItems].push(item);
                });
                return resultArray

            },
        },
        watch: {
            countItems(old, newVal) {
                this.reloadCarousel = true;
                this.$nextTick(() => {
                    this.reloadCarousel = false;
                })
            }
        },
        mounted: function () {
            global.app = this;
            this.items = this.itemsAll;
            this.touchListener();
            setTimeout(() => {
                this.loading = true;
                setTimeout(() => {
                    this.noiseFX();
                    this.changePage = false
                }, 0)
            }, 0)

        },
        updated: function () {
            /*this.carouselIsReloading = false;*/
        },
        beforeRouteLeave(to, from, next) {

            this.refresh = true;
            if (to.path === '/services') {
                setTimeout(() => {
                    this.loading = false;
                    this.isActive = true
                }, 1350);
                setTimeout(() => {
                    next();
                }, 2000)
            } else {
                setTimeout(() => {
                    this.loading = false
                }, 800);
                setTimeout(() => {
                    next();
                }, 1000)
            }


        },
        methods: {
            touchListener() {
                let touchstartY = 0;
                let touchendY = 0;
                let el = document.querySelector('#our-projects');
                el.addEventListener('touchstart', (event) => {
                    touchstartY = event.changedTouches[0].screenY;
                }, false);

                el.addEventListener('touchend', (event) => {
                    touchendY = event.changedTouches[0].screenY;
                    if (touchendY < touchstartY && (touchstartY - touchendY) > 150) this.onMouseScroll({deltaY: 1});
                    if (touchendY > touchstartY && (touchendY - touchstartY) > 150) this.onMouseScroll({deltaY: -1});
                }, false);
            },
            onMouseScroll(e) {
                if (!this.changePage) {
                    this.changePage = true;
                    if (Math.sign(e.deltaY) === 1) {
                        this.$router.push('/services')
                    } else {
                        this.$router.push('/')
                    }
                }

            },
            changeFilter(filter) {
                this.reloadCarousel = true;
                this.refresh = true;
                this.filter = filter;

                setTimeout(() => {
                    if (filter.length === 0) {
                        this.items = this.itemsAll;
                    } else {
                        this.items = this.itemsAll.filter(item => item.category === filter);
                    }
                    this.refresh = false;
                    this.$nextTick(() => {
                        this.reloadCarousel = false;
                    })
                }, 300)

            },
            noiseFX: function () {
                const vue = this;
                const noise = () => {
                    let canvas, ctx;

                    let wWidth, wHeight;

                    let noiseData = [];
                    let frame = 0;

                    let loopTimeout;

                    // Create Noise
                    const createNoise = () => {
                        const idata = ctx.createImageData(wWidth, wHeight);
                        const buffer32 = new Uint32Array(idata.data.buffer);
                        const len = buffer32.length;

                        for (let i = 0; i < len; i++) {
                            if (Math.random() < 0.5) {
                                buffer32[i] = 0xff000000;
                            }
                        }

                        noiseData.push(idata);
                    };


                    // Play Noise
                    const paintNoise = () => {
                        if (frame === 9) {
                            frame = 0;
                        } else {
                            frame++;
                        }

                        ctx.putImageData(noiseData[frame], 0, 0);
                    };


                    // Loop
                    const loop = () => {
                        paintNoise(frame);

                        loopTimeout = window.setTimeout(() => {
                            window.requestAnimationFrame(loop);
                        }, (1000 / 25));
                    };


                    // Setup
                    const setup = () => {
                        wWidth = window.innerWidth;
                        wHeight = window.innerHeight;

                        canvas.width = wWidth;
                        canvas.height = wHeight;

                        for (let i = 0; i < 10; i++) {
                            createNoise();
                        }

                        loop();
                    };


                    // Reset
                    let resizeThrottle;
                    const reset = () => {
                        window.addEventListener('resize', () => {
                            window.clearTimeout(resizeThrottle);

                            resizeThrottle = window.setTimeout(() => {
                                window.clearTimeout(loopTimeout);
                                setup();
                            }, 200);
                        }, false);
                    };


                    // Init
                    const init = (() => {
                        //canvas = document.getElementById('noise');
                        canvas = vue.$refs.noise;
                        ctx = canvas.getContext('2d');
                        setup();
                    })();
                };
                noise();
            }
        }
    }
</script>

<style lang="scss">
    // Fade эффект
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0;
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(-50%);
        opacity: 0;
    }

    #app.our-projects {

    }

    // Page
    #our-projects {
        .animation {
            .toNext {
                visibility: hidden;
            }
            &.isActive {
                visibility: visible;
                z-index: 99999;
                .circle {
                    width: 2850px;
                    height: 2850px;
                }
            }
            .circle {
                width: 0px;
                height: 0px;
                background: #222831;
                position: absolute;
                z-index: 99999;
                border-radius: 50%;
                -webkit-transition: all 0.8s;
                transition: all 0.8s;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .owl-carousel {
            height: 100vh;
            background: #dedede;
            @media (max-width: 768px) {
                height: calc(100vh - 55px);
            }
        }
        @keyframes nextLinkTop {
            0% {
                top: -100%;
            }
            100% {
                top: 0;
            }
        }
        @keyframes nextLinkText {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .return_to_prev_page {
            position: absolute;
            top: -100%;
            right: 0;
            width: 70px;
            z-index: 1;
            height: 100%;
            -webkit-animation-name: nextLinkTop;
            animation-name: nextLinkTop;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
            -webkit-animation-duration: 1.3s;
            animation-duration: 1.3s;
            span {
                -webkit-animation-name: nextLinkText;
                animation-name: nextLinkText;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-delay: 2s;
                animation-delay: 2s;
                -webkit-animation-duration: 2s;
                animation-duration: 2s;
                opacity: 0;
            }
        }

        .return_to_prev_page_link {
            cursor: pointer;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(180deg);
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            top: 110px;
            display: block;
            width: 21px;
            font-size: 18px;
            line-height: 18px;
            color: #000;
            text-decoration: none;
            transition: .5s;
            &:hover {
                text-decoration: none;
                color: #000;
                top: 125px;
                &::before {
                    height: 115px;
                }
            }
            &::before {
                content: '';
                transition: height .5s;
                display: block;
                width: 1px;
                height: 100px;
                position: absolute;
                top: 95px;
                left: 0;
                right: 0;
                margin: auto;
                background: #000;
                pointer-events: none;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        .noise {
            z-index: 2;
            padding-right: 70px;
            right: 0px;
            left: auto;
            opacity: 0;
            transition: .5s ease-in-out;
            &.visible {
                opacity: .05;
                transition: 1s ease-in-out;
            }
            @media screen and(max-width: 768px) {
                padding-right: 0;
            }
        }

        .owl-item{
            .project-card{
                &:nth-child(2){
                    .project__load{
                        animation-name: projectStartBottom;
                        animation-fill-mode: forwards;
                        animation-delay: 0.7s;
                        animation-duration: 0.8s;

                        &.reverse {
                            animation-name: projectStartTopReverse;
                            animation-fill-mode: backwards;
                            animation-duration: 0.8s;
                            animation-delay: 0.25s;
                            animation-direction: reverse;
                            @media (max-width: 768px) {
                                animation: none;
                            }
                        }
                    }
                    .project__info{
                        &.running {
                            animation-name: textBottom;
                        }
                        &.reverse {
                            animation-name: textBottomReverse;
                        }
                    }
                }
            }
            &:nth-child(1) {
                .project-card{
                    .project__load {
                        animation-delay: 0.65s;
                        &.reverse{
                            animation-delay: 0.45s;
                        }
                    }
                    .project__info{
                        animation-delay: 1.45s;
                        &.reverse{
                            animation-delay: 0.35s;
                        }
                    }
                }
            }
            &:nth-child(2) {
                .project-card{
                    .project__load {
                        animation-delay: 0.85s;
                        &.reverse{
                            animation-delay: 0.35s;
                        }
                    }
                    .project__info{
                        animation-delay: 1.55s;
                        &.reverse{
                            animation-delay: 0.25s;
                        }
                    }
                }
            }
            &:nth-child(3){
                .project-card{
                    .project__load {
                        animation-delay: 1.05s;
                        &.reverse{
                            animation-delay: 0.25s;
                        }
                    }
                    .project__info{
                        animation-delay: 1.65s;
                        &.reverse{
                            animation-delay: 0.15s;
                        }
                    }
                }
            }
            &:nth-child(4){
                .project-card{
                    .project__load {
                        animation-delay: 1.25s;
                        &.reverse{
                            animation-delay: 0.15s;
                        }
                    }
                    .project__info{
                        animation-delay: 1.75s;
                        &.reverse{
                            animation-delay: 0.05s;
                        }
                    }
                }
            }
        }

        .projects-column {
            display: flex;
            height: 100vh;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            .project-card {
                width: 100%;
                border-right: 1px solid #fff;
                height: calc(50% - 0.5px);
            }
            .project {
                overflow: hidden;
                position: relative;
                text-align: center;
                &__load {
                    position: absolute;
                    width: 100%;
                    bottom: -100%;
                    height: 100%;
                    animation: none;
                    &.running {
                        animation-name: projectStartTop;
                        animation-fill-mode: forwards;
                        animation-delay: 0.7s;
                        animation-duration: 0.8s;
                        @media (max-width: 768px) {
                            animation: none;
                            bottom: 0;
                        }
                    }
                    &.reverse {
                        animation-name: projectStartBottomReverse;
                        animation-fill-mode: backwards;
                        animation-duration: 0.8s;
                        animation-delay: 0.25s;
                        animation-direction: reverse;
                        @media (max-width: 768px) {
                            animation: none;
                        }
                    }
                }
                &__image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    background-size: cover;
                    background-position: center center;
                    @media (max-width: 1400px) {
                        img {
                            width: auto;
                            max-height: 100%;
                            height: 100%;
                        }
                    }
                }
                &__title {
                    color: #f1f1f1;

                    font-size: 28px;
                    font-weight: 700;
                    line-height: 22px;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 12px;
                    @media (max-width: 768px) {
                        font-size: 18px;
                        margin: 0;
                    }
                }
                &__description {
                    color: #f1f1f1;
                    font-family: Geometria-Light;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 300;
                }
                &__info {
                    display: block;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    text-decoration: none;
                    position: absolute;
                    &.running {
                        animation-name: textTop;
                        animation-fill-mode: forwards;
                        animation-delay: 0.9s;
                        animation-duration: 0.8s;
                        @media (max-width: 768px) {
                            animation: none;
                            opacity: 1;
                        }
                    }
                    &.reverse {
                        animation-name: textTopReverse;
                        animation-fill-mode: backwards;
                        animation-duration: 0.8s;
                        animation-delay: 0.15s;
                        animation-direction: reverse;
                        @media (max-width: 768px) {
                            animation: none;
                            opacity: 1;
                        }
                    }
                    &-link {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        &:hover,
                        &:focus {
                            text-decoration: none;
                        }
                    }
                    @media (max-width: 768px) {
                        top: 90px !important;
                    }
                }
                &__overlay {
                    background: rgba(255, 255, 255, 0.5);
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    position: absolute;
                    transition: .5s;
                    &-hover {
                        opacity: 0
                    }
                }
                &:hover {
                    .project__overlay {
                        opacity: 0;
                        &-hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
            @media screen and (max-width: 768px) {
                height: calc(100vh - 55px);
            }
        }
        .our_projects__page_title { 
            position: absolute;
            z-index: 2;
            color: #ffffff;
            font-size: 86px;
            font-weight: 900;
            line-height: 22px;
            text-transform: uppercase;
            left: 50%;
            top: 50%;
            margin: 0;
            width: 100%;
            text-align: center;
            cursor: default;
            transform: translate(-50%, -50%);
            @media screen and (max-width: 1550px) {
                font-size: 48px;
            }
            @media screen and (max-width: 768px) {
                font-size: 20px;
                color: #00b4db;
                top: 28px;
                z-index: 9999999;
            }
        }

        .custom__prev, .custom__next {
            position: absolute;
            width: 42px;
            height: 42px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #272727;
            background: #fff;
            border-radius: 100%;
            transition: all .3s;
            &:hover {
                transform: scale(1.2) translateY(calc(-50% + 2px));
            }
            svg {
                fill: #272727;
            }
            @media screen and (max-width: 768px) {
                border: 0;
                height: 34px;
                width: 34px;
                margin-top: 27px;
                svg {
                    fill: #8e8e8e;
                }
            }
        }
        .custom__prev {
            left: 15px;
            transform: rotate(-180deg) translateY(50%);
            position: fixed;
            z-index: 99999;
            &:hover {
                transform: scale(1.2) rotate(-180deg) translateY(calc(50% - 2px));
            }
        }
        .custom__next {
            right: 15px;
            z-index: 2;
        }
        .owl-dots {
            bottom: 25px;
            position: fixed;
            display: flex;
            counter-reset: dots;
            @media (max-width: 768px) {
                bottom: 5px;
                max-width: calc(100% - 60px);
                overflow: hidden;
            }
        }
        .owl-dot {
            font-size: 24px;
            color: white;
            font-weight: 300;
            margin-left: 40px;
            transition: .35s ease-in-out;
            position: relative;
            width: 45px;
            height: 45px;
            &:after {
                content: "";
                width: 7px;
                height: 7px;
                background: #fff;
                border-radius: 50%;
                position: absolute;
                left: -23px;
                bottom: 15px;
                transition: .35s ease-in-out;
            }
            &:before {
                counter-increment: dots;
                transition: font-size 0.25s linear;
                content: "0" counter(dots);

            }
            &.active, &:hover {
                &:before {
                    font-size: 36px;
                    transition: .35s ease-in-out;
                    color: #9e171a;
                }
            }
            span {
                display: none;
            }
            &:first-child {
                &:after {
                    display: none;
                }
            }
            @media screen and(max-width: 768px) {
                font-size: 18px;
                margin-left: 25px;
                width: 32px;
                height: 32px;
                &.active {
                    font-size: 24px;
                }
                &:after {
                    width: 3px;
                    height: 3px;
                    left: -13px;
                }
                &.active, &:hover {
                    &:before {
                        font-size: 28px;
                        line-height: 28px;
                    }
                }
            }
            @media screen and(max-width: 540px) {
                &.active, &:hover {
                    font-size: 16px;
                    &:before {
                        font-size: 22px;
                        transition: .35s ease-in-out;
                    }
                }
            }
        }
        .owl-carousel .owl-stage {
            transition: all 0.7s ease 0s !important;
        }
        .filter {
            position: absolute;
            top: 0;
            z-index: 999;
            &__btn {
                cursor: pointer;
                width: 39px;
                height: 32px;
                padding-top: 18px;
                padding-left: 15px;
                position: relative;
                &:hover {
                    svg {
                        transform: scale(1.2);
                    }
                }
                svg {
                    fill: #fff;
                    transition: all .2s;
                }
            }
            &__wrapper {
                display: flex;
                align-items: center;
                height: 63px;
                padding-top: 5px;
                background-color: rgba(255, 255, 255, .85);
                position: relative;
                padding-right: 55px;
                @media (max-width: 650px) {
                    height: auto;
                    padding-right: 0;
                    align-items: flex-start;
                }
            }
            &__list {
                display: flex;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    color: #222222;
                    letter-spacing: 1.44px;
                    border-bottom: 2px solid transparent;
                    padding-bottom: 5px;
                    display: flex;
                    align-items: center;
                    margin-right: 55px;
                    transition: .25s;
                    position: relative;
                    cursor: pointer;
                    &:after {
                        width: 1px;
                        height: 27px;
                        background-color: #222222;
                        content: '';
                        position: absolute;
                        display: block;
                        right: -25px;
                    }
                    &.active {
                        font-weight: 900;
                        border-color: #222;
                    }
                    &:hover {
                        border-color: #222;
                    }
                    &:last-child {
                        margin-right: 0;
                        &:after {
                            display: none;
                        }
                    }
                }
                @media (max-width: 650px) {
                    display: block;
                    padding-right: 45px;
                    li {
                        flex-basis: 100%;
                        margin-right: 0;
                        margin-bottom: 7px;
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            .close__btn {
                width: 21px;
                height: 21px;
                display: inline-block;
                position: relative;
                top: -3px;
                margin-left: 25px;
                margin-right: 55px;
                cursor: pointer;
                &::before,
                &::after {
                    content: '';
                    display: block;
                    background: #000;
                    width: 21px;
                    height: 1px;
                    position: absolute;

                    left: 0;
                    top: 10px;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    margin-top: 0px;

                }
                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
                @media (max-width: 650px) {
                    margin-top: 10px;
                }
            }
            @media screen and (max-width: 768px) {
                &__btn {
                    top: 65px;
                    left: 10px;
                    width: 29px;
                    padding: 0;
                }
                &__wrapper {
                    top: 55px;
                    background: #00b4db;
                    color: white;

                }
                &__list {
                    li {
                        color: white;
                        white-space: nowrap;
                        font-size: 14px;
                        padding-bottom: 2px;
                        &.active, &:hover {
                            border-color: white;
                        }
                        &:after {
                            background: #fff;
                            opacity: 0.5;
                        }
                    }
                }
                .close__btn {
                    margin-left: 15px;
                    margin-right: 23px;
                }
                .close__btn::after, .close__btn::before {
                    background: white;
                }
            }
        }
        .swipe-up {
            position: absolute;
            bottom: 7px;
            z-index: 1;
            right: 16px;
            width: 22px;
            height: 22px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

    }

    @media (max-width: 768px) {
        @keyframes textTop {
            0% {
                top: 100%;
            }
            100% {
                top: 90px;
                opacity: 1;
            }

        }
    }

    @media (min-width: 768px) {
        @keyframes textTop {
            0% {
                top: 100%;
            }
            100% {
                top: 135px;
                opacity: 1;
            }

        }
    }

    @keyframes textBottom {
        0% {
            bottom: 100%;
        }
        100% {
            bottom: 135px;
            opacity: 1;
        }

    }

    @keyframes textTopReverse {
        0% {
            top: 100%;

        }
        100% {
            top: 135px;
            opacity: 1;
        }

    }

    @keyframes textBottomReverse {
        0% {
            bottom: 100%;
        }
        100% {
            bottom: 135px;
            opacity: 1;
        }

    }

    @keyframes projectStartTop {
        0% {
            bottom: -100%;
        }
        100% {
            bottom: 0;
        }

    }

    @keyframes projectStartBottom {
        0% {
            bottom: 100%;
        }
        100% {
            bottom: 0;
        }

    }

    @keyframes projectStartBottomReverse {
        0% {
            bottom: -100%;
        }
        100% {
            bottom: 0;

        }

    }

    @keyframes projectStartTopReverse {
        0% {
            bottom: 100%;
        }
        100% {
            bottom: 0;
        }

    }
</style>
