<template>
    <div id="services"
         @wheel="onMouseScroll($event)"
         :class="{loaded: loading,bgBlue: !animationCircle}"
         ref="services">
        <!--set meta data-->
        <vue-headful
                title="Услуги веб-студии Mobios"
                description="Web-студия Mobios предлагает услуги разработки и продвижения сайтов, порталов и интернет магазинов, а также разработку мобильных приложений, настройку контекстной рекламы Google, SEO оптимизацию и SMM продвижение в соц. сетях."
        />
        <!--end set meta data-->
        <div class="setka"></div>
        <div class="animation_back circle" :class="{active:routerBack}"></div>
        <transition name="slide-left-title" appear>
            <h1 class="services__page_title" v-if="!outAnimation">Services</h1>
        </transition>
        <div class="services__container">
            <div class="services__wrapper">
                <div class="col-md-4 services__col"
                     @mouseover="runAnimationSvg(item,index)"
                     @mouseleave="stopAnimationSvg(item,index)"
                     v-for="(item,index) in items">
                    <a :href="item.link"
                        class="wrapCol">
                        <div class="services__title">
                            <div class="services__img services__card_img">
                                <transition name="scale">
                                    <img class="services__card_img"
                                         :src="item.image"
                                         v-if="animationElem"
                                         :alt="item.title">
                                </transition>
                                <div class="services__img services__img-svg services__card_img"></div>
                            </div>
                            <transition name="fade">
                                <span v-if="animationElem" :class="{animation__el: animationElem}" class="services__card_text" v-html="item.title"></span>
                            </transition>
                
                        </div>
                        <div class="services__card_hover_block">
                            <div class="services__card_hover_border top"></div>
                            <div class="services__card_hover_border right"></div>
                            <div class="services__card_hover_border bottom"></div>
                            <div class="services__card_hover_border left"></div>
                            <a href="#"
                            class="services__card_show_more">
                                More
                            <span class="services__card_arrow"></span>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="swipe-up" apper>
            <transition name="scale">
                <img v-if="animationElem" src="~@/assets/swipe-up.png" alt="">
            </transition>
        </div>
        <transition name="slide-right" appear>
            <div class="return_to_prev_page">
                <router-link to="/portfolio"
                             tag="a"
                             class="return_to_prev_page_link">
                    <span>Our projects</span>
                </router-link>
            </div>
        </transition>
        <div class="canvas_wrapper"
             ref="networkImg">
            <div class="canvas_overlay"></div>
            <canvas ref="canvas"
                    id="setka"
                    width="800"
                    height="800"></canvas>
        </div>
    </div>
</template>

<script>
    import * as bodymovin from 'bodymovin/build/player/bodymovin'
    let animationCircle = true;
    export default {
        name: 'services',
        data() {
            return {
                loading: false,
                animationCircle: true,
                items: [
                    {
                        title: 'Website<br/> development',
                        link: '/website-development',
                        image: require('@/assets/services/web-development.svg'),
                        animation: require('@/assets/services/animation/web_dev.json'),
                        hover:    false,
                        anim:     {},
                    },
                    {
                        title: 'SEO<br/> advancement',
                        link: '/seo-optimization',
                        image: require('@/assets/services/seo-advancment.svg'),
                        animation: require('@/assets/services/animation/seo_adv.json'),
                        hover:    false,
                        anim:     {},
                    },
                    {
                        title: 'Motion<br/>design',
                        link: '/motion-design',
                        image: require('@/assets/services/motion-design.svg'),
                        animation: require('@/assets/services/animation/motion.json'),
                        hover:    false,
                        anim:     {},
                    },
                    {
                        title: 'IOS / Android<br/>apps',
                        link: '/mobile-app',
                        image: require('@/assets/services/ios-android-apps.svg'),
                        animation: require('@/assets/services/animation/Ios.json'),
                        hover:    false,
                        anim:     {},
                    },
                    {
                        title: 'Branding',
                        link: '/branding',
                        image: require('@/assets/services/branding.svg'),
                        animation: require('@/assets/services/animation/branding.json'),
                        hover:    false,
                        anim:     {},
                    },
                    {
                        title: 'Contextual<br /> advertising',
                        link: '/ppc',
                        image: require('@/assets/services/contextual-advertising.svg'),
                        animation: require('@/assets/services/animation/contextual_advertising.json'),
                        hover:    false,
                        anim:     {},
                    },
                ],
                runAnimation: false,
                animationElem: false,
                outAnimation: false,
                routerBack: false,
            }
        },
        beforeCreate(){
        },
        beforeRouteEnter(to,from,next){
            if(from.path === '/about-us'){
                animationCircle = false;
                next();
            }else{
                animationCircle = true;
                next();
            }
        },
        beforeRouteLeave(to, from, next){
            // this.loading = false;
            if(to.path === '/about-us'){
                setTimeout(()=>{
                    this.animationElem = false;
                    this.outAnimation  = true;
                    setTimeout(()=>{
                        next();
                    },1000)
                },400)
            }else{
                setTimeout(()=>{
                    this.routerBack = true;
                    setTimeout(()=>{
                        next();
                    },1000);
                },400)
            }
        },
        methods: {
            animation(){
                this.loading = false;
                if(window.innerWidth > 768){
                    setTimeout(()=>{
                        this.animationElem = true;
                    },500);
                    setTimeout(()=>{
                        this.loading = true;
                        this.getMouseCoordinates();
                    },700)
                }else{
                    this.animationElem = true;
                    this.loading = true;
                    this.getMouseCoordinates();
                }
            },
            touchListener(){
                let touchstartY = 0;
                let touchendY = 0;
                let el = document.querySelector('#services');
                el.addEventListener('touchstart', (event)=> {
                    touchstartY = event.changedTouches[0].screenY;
                }, false);

                el.addEventListener('touchend', (event)=> {
                    touchendY = event.changedTouches[0].screenY;
                    if (touchendY < touchstartY && (touchstartY - touchendY) > 150) this.onMouseScroll({deltaY: 1});
                    if (touchendY > touchstartY && (touchendY - touchstartY) > 150) this.onMouseScroll({deltaY: -1});
                }, false);
            },
            runAnimationSvg(item,index){
                if(!this.loading) return;
                if(!item.hover){
                    item.hover = true;
                    
                    if(Object.keys(item.anim).length > 0){
                        item.anim.play();
                        return
                    }
                    let animation = item.animation;
                    let svgContainer = document.querySelectorAll('.services__col')[index]
                        .querySelector('.services__img-svg');
                    let settings = {
                        wrapper: svgContainer,
                        animType: 'svg',
                        loop: true,
                        animationData: animation,
                    };

                    item.anim = bodymovin.loadAnimation(settings);
                }
            },
            stopAnimationSvg(item,e){
                if(item.hover){
                    setTimeout(()=>{
                        item.anim.goToAndPlay(0);
                        item.anim.stop();
                        item.hover = false;
                    },500)
                }
               
            },
            onMouseMove: function () {
                const div = this.$refs.services;
                const img = this.$refs.networkImg;
                div.onmousemove = function(e){
                    img.style.top = (e.clientY - (img.clientHeight / 2)) + "px";
                    img.style.left = (e.clientX - (img.clientWidth / 1.7)) + "px";
                }
            },
            renderCanvas: function () {
                const c_canvas = this.$refs.canvas;
                const context = c_canvas.getContext("2d");

                // Create gradient
                const grd = context.createRadialGradient(400.000, 400.000, 0.000, 400.000, 400.000, 400.000);

                // Add colors
                grd.addColorStop(0.000, 'rgba(255, 255, 255, .300)');
                grd.addColorStop(1.000, 'rgba(34, 40, 49, .500)');

                // Fill with gradient
                context.fillStyle = grd;
                context.fillRect(0, 0, 800.000, 800.000);

            },
            getMouseCoordinates: function () {
                const el = document.querySelectorAll('.services__card_text');
                this.$refs.services.addEventListener('mousemove', function (e) {
                    let ShadowValVertical = e.pageX / 80;
                    let ShadowValHorizontal = e.pageY / 80;
                    for (let i = 0; i < el.length; i++) {
                        el[i].style.textShadow = -(Math.round(ShadowValVertical) + -12) + 'px ' + (-(Math.round(ShadowValHorizontal) -6)) + 'px 16px rgba(0, 0, 0, 0.4)';
                    }
                });
            },
            onMouseScroll: function (e) {
                if (!this.changePage) {
                    this.changePage = true;
                    if (Math.sign(e.deltaY) === 1) {
                        this.$router.push('/about-us')
                    }else{
                        this.$router.push('/portfolio')
                    }
                }
            },
            cardHoverEffects: function () {
                const columns = document.querySelectorAll('.services__col');
                for (let i = 0; i < columns.length; i++) {
                    let parent = columns[i];
                    let child = (parent.childNodes[0]).childNodes[1];
                    console.log(child);
                    parent.addEventListener('mouseover', function (e) {
                        child.classList.remove('animationOut');
                        child.classList.add('animationIn');
                    });
                    parent.addEventListener('mouseout', function (e) {
                        child.classList.remove('animationIn');
                        child.classList.add('animationOut');
                    })
                }
            }
        },
        async mounted() {
            this.animationCircle = animationCircle;
            await this.touchListener();
            await this.cardHoverEffects();
            await this.renderCanvas();
            await this.onMouseMove();
            this.$nextTick(()=>{
                this.animation();
            });
            setTimeout(()=>{
                this.getMouseCoordinates();
            },1000);
        }
    }
</script>

<style lang="scss" scoped>
    /*card animation in*/
    @keyframes topBorder {
        0% {
            width: 0;
        }
        100% {
            width: calc(100% - 73px);
        }
    }

    @keyframes rightBorder {
        0% {
            height: 0;
        }
        100% {
            height: 100%;
        }
    }

    @keyframes bottomBorder {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes leftBorder {
        0% {
            height: 54px;
        }
        100% {
            height: 94px;
        }
    }

    /*card animation out*/
    @keyframes topBorderOut {
        0% {
            width: calc(100% - 73px);
        }
        100% {
            width: 0;
        }
    }

    @keyframes rightBorderOut {
        0% {
            height: 100%;
        }
        100% {
            height: 0;
        }
    }

    @keyframes bottomBorderOut {
        0% {
            width: 100%;
        }
        100% {
            width: 0;
        }
    }

    @keyframes leftBorderOut {
        0% {
            height: 94px;
        }
        100% {
            height: 54px;
        }
    }

    /*read more btn flash animation*/
    @keyframes flash {
        0% {
            opacity: .25;
        }
        20% {
            opacity: 1;
        }
        40% {
            opacity: .25;
        }
        60% {
            opacity: 1;
        }
        80% {
            opacity: .25;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes  circleLoading{
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(0);
        }
    }
    @keyframes drawLine {
        0%{
            height: 0;
        }
        100%{
            height: 54px;
        }
    }
    #services {
        background: #222831;
        height: 100%;
        position: fixed;
        top: 0;
        /*z-index: 99999;*/
        width: calc(100% - 70px);
        a{
            text-decoration: none;
        }
        // Slide-left
        .slide-left-title-enter-active {
            transition: all .3s ease;
        }
        .slide-left-title-leave-active {
            transition: all .5s linear 0.5s;
        }
        .slide-left-title-enter {
            opacity: 0;
        }
        .slide-left-title-leave-to{
            transform: translateX(-100%);
            opacity: 0;
        }
        // Circle-large
        .circle-large-enter-active, .circle-large-leave-active {
            transition: all .5s;
        }
        .circle-large-enter, .circle-large-leave-to /* .fade-leave-active below version 2.1.8 */ {
            width: 200px;
            height: 200px;
        }
        .fade-enter-active {
            transition: all .7s ease-in 0s;
        }
        .fade-leave-active {
            transition: all 1s ease-out 0s
        }
        .fade-enter, .slide-fade-leave-to{
            opacity: 0;
        }
        
        .services__card_text {
            font-size: 24px;
            line-height: 24px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 900;
            text-shadow: 0 13px 16px rgba(0, 0, 0, 0.14);
            display: block;
            margin-left: 51px;
            padding-left: 20px;
            margin-top: 15px;
            position: relative;
            text-decoration: none;
            &::before {
                content: '';
                width: 2px;
                height: 0;
                transition: height .5s linear 2s;
                display: block;
                position: absolute;
                left: 0;
                top: -2px;
                animation: drawLine .35s linear 0.1s;
                animation-fill-mode: forwards;
                background: #fff;
            }
            
            
        }
        .return_to_prev_page_link {
            cursor: pointer;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(180deg);
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            top: 110px;
            display: block;
            width: 21px;
            font-size: 18px;
            line-height: 18px;
            color: #fff;
            text-decoration: none;
            transition: .5s;
            &:hover {
                text-decoration: none;
                color: #fff;
                top: 125px;
                &::before {
                    height: 115px;
                }
            }
            &::before {
                content: '';
                transition: height .5s;
                display: block;
                width: 1px;
                height: 100px;
                position: absolute;
                top: 145px;
                left: 0;
                right: 0;
                margin: auto;
                background: #fff;
                pointer-events: none;
            }
            @media (max-width: 768px){
                display: none;
            }
        }
        .services__page_title {
            font-size: 86px;
            color: #fff;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            margin-top: 100px;
            margin-bottom: 0;
            position: relative;
            @media (max-width: 1550px){
                font-size: 48px;
                margin-top: 40px;
            }
            @media (max-width: 768px){
                position: absolute;
                top: 15px;
                z-index: 9999999;
                color: blue;
            }
        }
        .services__card_img {
            width: 105px;
            min-height: 40px;
            display: block;
            @media (max-width:1550px) {
                width: 80px;
            }
        }
        .services__col {
            margin-bottom: 50px;
            text-align: center;
            padding-bottom: 70px;
            &:nth-child(3){
                .services__img .services__img-svg{
                    top: -2px!important;
                }
            }

        }
        @keyframes nextLinkTop {
            0% {
                top: -100%;
            }
            100% {
                top: 0;
            }
        }
        @keyframes nextLinkText {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .return_to_prev_page {
            position: absolute;
            top: -100%;
            right: 0;
            width: 70px;
            z-index: 999;
            height: 100%;
            -webkit-animation-name: nextLinkTop;
            animation-name: nextLinkTop;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
            -webkit-animation-duration: 1.3s;
            animation-duration: 1.3s;
            span{
                -webkit-animation-name: nextLinkText;
                animation-name: nextLinkText;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-delay: 2s;
                animation-delay: 2s;
                -webkit-animation-duration: 2s;
                animation-duration: 2s;
                opacity: 0;
            }
        }
        .services__card_img_wrapper {
            display: inline-block;
            position: relative;
            &:hover {
                text-decoration: none;
            }
        }
        .swipe-up{
            display: none;
            @media (max-width: 768px){
                display: block;
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%)
            }
        }
        .services__container{
            height: calc(100% - 208px);
            display: flex;
            align-items: center;
            @media (max-width: 1550px){
                height: calc(100% - 42px);
            }
            @media (max-width: 768px){
                position: relative;
            }
        }
        .services__wrapper {
            max-width: 1500px;
            margin: 0 auto;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            justify-content: center;
            height: fit-content;
            .services__col{
                width: 33.3%;
                position: relative;
                padding-left: 100px;
                box-sizing: border-box;
                svg.draw_line{
                    fill: none;
                    stroke: #fff;
                    width: 297px;
                    height: 401px;
                    position: absolute;
                    left: 51px;
                    top: 40px;
                    stroke-dasharray: 2800;
                    stroke-dashoffset: -2800;
                    stroke-width: 4px;
                    transition: 1.5s linear;
                    z-index: -1;
                }
                &:hover{
                    svg.draw_line{
                        stroke-dashoffset: -70;
                    }
                    img{
                        opacity: 0;
                    }
                    .services__img svg{
                        opacity: 1;
                    }
                }
                .services__img{
                    position: relative;
                    .services__img-svg{
                        width: 105px;
                        height: 105px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        &.motion{
                            top: -2px;
                        }
                        @media (max-width: 1550px){
                            width: 80px;
                            height: 80px;
                        }
                    }
                    svg{
                        width: 105px ;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
                    &:hover{
                        img{
                            opacity: 0;
                        }
                    }
                }
                &:nth-child(3){
                    .services__img{
                        svg{
                            margin-top: -2px;
                        }
                    }
                }
                @media (max-width: 1550px){
                    box-sizing: border-box;
                    padding-left: 120px;
                }
            }
            .services__card_text{
                text-align: left;
                position: relative;
                z-index: 1;
                transform-origin: left;
            }
            .services__card-list{
                text-align: left;
                list-style: none;
                padding-left: 0;
                margin-left: 85px;
                li{
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 36px;
                    letter-spacing: 0.32px;
                    position: relative;
                    padding-left: 20px;
                    &:before{
                        content: '';
                        width: 4px;
                        height: 4px;
                        background: #fff;
                        position: absolute;
                        left: 0;
                        display: block;
                        border-radius: 100%;
                        top: 50%;
                        margin-top: -2px;
                    }
                }
            }
            @media (max-width: 1550px){
                padding: 0 50px;
                .services__col{
                    .services__card_text{
                        margin-left: 21px !important;
                    }
                    svg{
                        left: 21px;
                    }
                    &:hover{
                        svg{
                            stroke-dashoffset: -100;
                        }
                    }
                }
            }
            @media (max-width: 1550px){
                padding: 0 20px;
                display: flex;
                flex-wrap: wrap;
                .services__col{
                    /*svg{*/
                        /*display: none;*/
                    /*}*/
                    &:hover{
                        svg{
                            stroke-dashoffset: -100;
                        }
                    }
                }

                .services__card_text{
                    font-size: 18px;
                    line-height: 18px;
                }
            }
            @media (max-width: 1200px){
                padding-top: 100px;
                .services__col{
                    margin-bottom: 20px;
                    display: flex;
                    padding-left: 0;
                    justify-content: center;
                    padding-bottom: 120px;
                    height: fit-content;
                    .services__title{
                        text-align: center;
                        min-width: 33.3%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .services__card_text{
                        margin-left: 0 !important;
                        padding-left: 0 !important;
                        text-align: center;
                        &:before{
                            display: none !important;
                        }
                    }
                    .services__card-list{
                        li{
                            line-height: 22px;
                        }
                    }
                }
            }
            @media (max-width: 768px){
                .services__col{
                    width: 50%;
                    padding: 38px 0;
                    margin-bottom: 0;
                    height: auto;
                    align-items: center;
                    margin-top: -1px;
                    border-bottom: 1px solid rgba(#ffffff,0.5);
                    .services__card_text{
                        text-shadow: none !important;
                        font-weight: 700;
                        line-height: 26px;
                    }
                    .services__img .services__img-svg{
                        width: 40px;
                        height: 40px;
                    }
                    &:nth-child(2n){
                        border-left: 1px solid rgba(#ffffff,0.5);
                    }
                    &:last-of-type,
                    &:nth-last-child(2){
                        border-bottom: none;
                    }
                }
            }
            @media (max-width: 500px) {
                .services__col {
                    .services__card_text{
                        font-size: 12px;
                        line-height: 14px;
                    }
                    .services__card_img {
                        width: 40px;
                    }
                }
            }
        
        }
        .services__card_img_link {
            width: 105px;
            display: block;
        }
        .services__card_hover_block {
            width: 228px;
            height: 168px;
            position: absolute;
            left: 151px;
            top: 44px;
            overflow: hidden;
            &.animationIn {
                .services__card_hover_border {
                    &.top {
                        animation-delay: 750ms;
                        animation-name: topBorder;
                        animation-duration: 250ms;
                        animation-timing-function: ease-in-out;
                        width: calc(100% - 73px);
                        transition-delay: 750ms;
                        opacity: 1;
                    }
                    &.right {
                        animation-delay: 500ms;
                        animation-name: rightBorder;
                        animation-duration: 250ms;
                        animation-timing-function: ease-in-out;
                        height: 100%;
                        transition-delay: 500ms;
                        opacity: 1;
                    }
                    &.bottom {
                        animation-delay: 250ms;
                        animation-name: bottomBorder;
                        animation-duration: 250ms;
                        animation-timing-function: ease-in-out;
                        width: 100%;
                        transition-delay: 250ms;
                        opacity: 1;
                    }
                    &.left {
                        animation-delay: 0s;
                        animation-name: leftBorder;
                        animation-duration: 250ms;
                        animation-timing-function: ease-in-out;
                        height: 94px;
                        opacity: 1;
                        transition-delay: 0ms;
                    }
                }
                .services__card_show_more {
                    opacity: 1;
                    transition-duration: 250ms;
                    transition-delay: 1000ms;
                    animation-delay: 1000ms;
                    animation-name: flash;
                    animation-duration: 1s;
                    animation-timing-function: ease-in-out;
                }
            }
            &.animationOut {
                .services__card_hover_border {
                    &.top {
                        animation-delay: 0ms;
                        animation-name: topBorderOut;
                        animation-duration: 250ms;
                        animation-timing-function: ease-in-out;
                        transition-delay: 250ms;
                        opacity: 0;
                    }
                    &.right {
                        animation-delay: 250ms;
                        animation-name: rightBorderOut;
                        animation-duration: 250ms;
                        animation-timing-function: ease-in-out;
                        transition-delay: 500ms;
                        opacity: 0;
                    }
                    &.bottom {
                        animation-delay: 500ms;
                        animation-name: bottomBorderOut;
                        animation-duration: 250ms;
                        animation-timing-function: ease-in-out;
                        transition-delay: 750ms;
                        opacity: 0;
                    }
                    &.left {
                        animation-delay: 750ms;
                        animation-name: leftBorderOut;
                        animation-duration: 250ms;
                        animation-timing-function: ease-in-out;
                        height: 94px;
                        transition-delay: 1000ms;
                        opacity: 0;
                    }
                }
            }
            @media (max-width: 1550px){
                left: 141px;
            }
            @media (max-width: 1200px){
                display: none;
            }
        }
        .services__card_hover_border {
            background: #fff;
            position: absolute;
            pointer-events: none;
            &.top {
                height: 2px;
                //width: calc(100% - 73px);
                width: 0;
                right: 0;
                top: 0;
                //opacity: 0;
                //transition-delay: 0ms;
            }
            &.right {
                width: 2px;
                //height: 100%;
                height: 0;
                right: 0;
                bottom: 0;
                //opacity: 0;
                //transition-delay: 250ms;
            }
            &.bottom {
                height: 2px;
                width: 0;
                //width: 100%;
                left: 0;
                bottom: 0;
                //opacity: 0;
                //transition-delay: 500ms;
            }
            &.left {
                width: 2px;
                height: 0;
                //height: 94px;
                left: 0;
                top: 74px;
            }
        }
        .services__card_show_more {
            color: #fff;
            font-size: 16px;
            position: absolute;
            right: 53px;
            bottom: 12px;
            pointer-events: none;
            opacity: 0;
            transition-delay: 1000ms;
            transition-duration: 250ms;
            &:hover {
                text-decoration: none;
            }
        }
        .services__card_arrow {
            position: absolute;
            right: -28px;
            top: 2px;
            width: 22px;
            height: 2px;
            background: #fff;
            display: block;
            bottom: 0;
            margin: auto;
            &::before,
            &::after {
                content: '';
                width: 6px;
                height: 2px;
                background: #fff;
                display: block;
                position: absolute;
                right: -2px;
                top: 0;
            }
            &::before {
                transform: rotate(45deg);
                top: -2px
            }
            &::after {
                transform: rotate(-45deg);
                top: 2px
            }
        }
        .services__card_img_link {
            width: 105px;
            display: block;
        }
        
        .animation{
            display: flex;
            position: fixed;
            z-index: 99999;
            width: 100%;
            height: 100%;
            background-color: transparent;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px){
                display: none;
            }
            &_back.circle{
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 0px;
                height: 0px;
                transition: 2s all;
                background: #fff;
                border-radius: 50%;
                z-index: 9999;
                &.active{
                    width: 4000px;
                    height: 4000px;
                }
                @media (max-width: 768px){
                    display: none;
                }
            }
        }
        &.isActive{
             /*z-index: 1;*/
            .animation{
                .circle{
                
                }
            }
         }
        
        @media (max-width: 1200px){
            position: fixed;
            .services__page_title{
                margin: 20px 0;
                font-size: 32px;
                color: white;
                width: 100%;
                text-align: center;
                position: relative;
            }
            .canvas_wrapper{
                display: none;
            }
        }
        @media (max-width: 768px){
            position: relative;
            width: 100%;
            margin-top: 0px;
            .services__page_title{
                margin: 15px auto;
                font-size: 32px;
                color: #00b4db;
                width: fit-content;
                text-align: center;
                top: -56px;
                font-size: 20px;
            }
        }
    }
    
 </style>
