<template>
    <div class="smm">

        <!--set meta data-->
        <vue-headful
                title="Продвижение в социальных сетях. SMM продвижение в соц. сетях"
                description="Продвижение в социальных сетях. SMO и SMM: Instagram, Facebook, Vkontakte. ⭐Ведение групп ⭐Увеличение подписчиков ⭐Повышение узнаваемости бренда ☎: +38(063) 726-70-70"
                keywords="продвижение в социальных сетях, smm продвижение"
                url="smm"
        />
        <!--end set meta data-->

        <div class="container">
            <h1>SMM ПРОДВИЖЕНИЕ И РЕКЛАМА В СОЦИАЛЬНЫХ СЕТЯХ</h1>
            <p>Мы поможем Вам рассказать о своей компании или бренде Вашим существующим и
                потенциальным клиентам, которые используют SMM социальные сети</p>
            <ul>
                <li>Программа
                    продвижения</li>
                <li>Наполнение
                    контентом</li>
                <li>Массфолловинг,
                    масслайкинг</li>
                <li>Модерация
                    контроль отзывов</li>
                <li>Публикации в
                    авторитетных
                    пабликах</li>
            </ul>
            <p>БОЛЕЕ 90% ПОЛЬЗОВАТЕЛЕЙ ВСЕМИРНОЙ ПАУТИНЫ
                сегодня зарегистрированы хотя бы в одной соц. сети</p>
            <h2>ssm больше, чем просто инструмент продаж</h2>
            <ul>
                <li>
                    <h3>ФОРМИРУЕТ ПОЛОЖИТЕЛЬНЫЙ ОБРАЗ БРЕНДА</h3>
                    <p>Путем налаживания крепкой связи с ЦА и удовлетворения
                        положительной характеристики бренда перед потребителем</p>
                </li>
                <li>
                    <h3>СТИМУЛИРУЕТ ПРОДАЖИ</h3>
                    <p>Путем разработки тактики продаж основываясь на
                        индивидуальности клиентов, его потребности и ЦА в целом</p>
                </li>
                <li>
                    <h3>ФОРМИРУЕТ ЛОЯЛЬНОСТЬ К БРЕНДУ</h3>
                    <p>Через оперативную обратную связь, коммуникацию с
                        подписчиками на корпоративных страницах в соц. сетях</p>
                </li>
            </ul>
            <h2>Как мы работаем?</h2>
            <p>Прежде чем приступить к продвижению, мы составим и вышлем Вам на утверждение SMM-стратегию со всеми деталями работы и контент-план с подробным календарем: что и в какие дни публикуем, а также варианты дизайна (по запросу). Если у Вас возникнут какие-либо пожелания, они будут реализованы</p>
            <h2>ЧТО ПОЛУЧАЕТЕ ВЫ?</h2>
            <ul>
                <li>Построение долгосрочных
                отношений с целевой
                    аудиторией</li>

                <li>Увеличение количества
                фактических клиентов (регулярно
                    делающих покупки)</li>

                <li>Прямой контакт с
                    потенциальным клиентом</li>

                <li>Достижение целей Вашей
                    компании</li>
            </ul>
        </div>

    </div>
</template>

<script>

    export default {
        name: 'smm',
        data() {
            return {

            }
        },
        components: {
        },
        computed: {
        },
        methods: {
        },
    }
</script>

<style lang="scss" scoped>

    .business-site{

    }

</style>


