<template>
    <section class="thxPage">
        <div class="container">
            <img class="thxPage-img" src="@/assets/images/smiley.svg" alt="smile">
            <h3 class="section__title section__title_black section__title_underline mb50">
                Спасибо за заявку!
            </h3>
            <div class="thx__inner">
                <span class="section__subtitle">
                    Наши менеджеры свяжутся с вами в ближайшее время.
                </span>
                <div class="result__btn-wrap">
                    <a class="result__btn" href="/">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'tnx-page',
        data() {
            return {
            }
        },
        beforeCreate(){
        },
        mounted: function () {
        },
    }
</script>

<style lang="scss">
    .thxPage{
        padding-top: 80px;
        h3{
            font-size: 30px;
            font-weight: bold;
            color: #000
        }
        span{
            font-size: 16px;
        }
        a{
            font-size: 16px;
        }
        &-img{
            width: 40px
        }
    }
</style>
