<template>
    <div class="vizitka-site">

        <!--set meta data-->
        <vue-headful
                title="Заказать сайт-визитку, разработка сайта-визитки под ключи"
                description="Создание сайта-визитки от веб-студии Mobios в Киеве и Одессе. Выгодные цены и качественно выполненная работа. Телефон ☎ (067) 888-75-16."
                keywords="заказать сайт визитку, разработка сайта визитки, в киеве, одессе"
                url="business-card-website"
        />
        <!--end set meta data-->

        <div class="container">
            <h1>РАЗРАБОТКА САЙТА-ВИЗИТКИ</h1>
            <p>Состоит из 1 - 10 страниц, на которых размещается основная информация о бренде и о товаре, а также об услугах, которые вы предлагаете. Обязательно указываются и способы связи.</p>
            <h2>САЙТ-ВИЗИТКА</h2>
            <ol>
                <li>
                    <h3>УПРАВЛЕНИЕ УСЛУГАМИ</h3>
                    <p>Создание, обновление информации, которая описывает основные направления деятельности компании.</p>
                </li>

                <li>
                    <h3>УПРАВЛЕНИЕ ИЗОБРАЖЕНИЯМИ</h3>
                    <p>Формирование фотогалерей, разбитых на отдельные альбомы. Это упрощает просмотр пользователям.</p>
                </li>

                <li>
                    <h3>УПРАВЛЕНИЕ ОТЗЫВАМИ</h3>
                    <p>Пользователи получают возможность писать отзывы о бренде или о товарах. Перед публикацией они проходят модерацию.</p>
                </li>

                <li>
                    <h3>УПРАВЛЕНИЕ НОВОСТНЫМИ СТАТЬЯМИ</h3>
                    <p>На сайте формируется новостная лента. Статьи могут быть разбиты на отдельные группы, которые показаны на сайте в сокращенном виде.</p>
                </li>

                <li>
                    <h3>УПРАВЛЕНИЕ ОТЧЕТАМИ</h3>
                    <p>Коррекция, анализ полученной информации, перемещение сводок.</p>
                </li>

                <li>
                    <h3>УЛУЧШЕНИЕ ПОИСКОВОЙ ОПТИМИЗАЦИИ</h3>
                    <p>Коррекция отдельных заголовков и формирование мета-тегов.</p>
                </li>

                <li>
                    <h3>УПРАВЛЕНИЕ КОНТЕНТОМ</h3>
                    <p>Настройка страниц, на которых размещена основная информация.</p>
                </li>

                <li>
                    <h3>УПРАВЛЕНИЕ ПРАВАМИ, КОТОРЫЕ ПОЛУЧАЮТ ПОЛЬЗОВАТЕЛИ</h3>
                    <p>Удаление и добавление учетных записей администраторов</p>
                </li>

             

            </ol>
        </div>

    </div>
</template>

<script>

    export default {
        name: 'vizitka-site',
        data() {
            return {

            }
        },
        components: {
        },
        computed: {
        },
        methods: {
        },
    }
</script>

<style lang="scss" scoped>

    .business-site{

    }

</style>


