<!--suppress ALL -->
<style lang="scss">
    @keyframes fromLeftToRight {
        0% {
            right: -80px;
        }
        50% {
            right: 0px;
        }
        100% {
            right: -80px;
        }
    }
</style>

<style lang="scss" scoped>
    #who_are_we {
        overflow: hidden;
    }

    .who_are_we__background-video{
        position: relative;
        &:before{
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            position: fixed;
            z-index: 1;
            background-color: rgba(170, 170, 170, 0.8);
        }
    }


    a:hover {
        text-decoration: none !important;
    }

    .yak {
        cursor: pointer;
        position: absolute;
        width: 80px;
        height: 80px;
        z-index: 10000;
        right: -80px;
        background-size: 100% auto;
    }

    .yak img {
        width: 100%;
    }

    #who_are_we {
        height: 100vh;
        width: calc(100% - 70px);
        margin-left: auto;
        background-color: transparent;
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 768px){
            width: 100%;
            background-color: #00b4db;
            z-index: inherit;
        }
    }

    .who_are_we__text_block{
        display: none;
        @media (max-width: 768px){
            display: block;
            height: 100%;
        }
    }

    .mob__video{
        width: 100%;
    }

    .who_are_we__page_title {
        font-size: 86px;
        color: #fff;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 5vw;
        padding-top: 4vw;
        @media (max-width: 768px){
            padding-top: 0;
            margin: 20px auto;
            color: #00b4db;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            text-align: center;
            top: -5px;
            font-size: 20px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            position: fixed;
            z-index: 99999;
        }
    }

    .who_are_we__background-video {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        @media (max-width: 768px) {
            display: none;
        }
    }

    .text__wrap{
        padding: 15px;
        p{
            font-size: 16px;
            color: #fff;
            margin-bottom: 15px;
            line-height: 26px;
            span{
                font-weight: 900;
                font-size: 24px;
            }
            @media (max-width:520px){
                font-size: 12px;
                line-height: 17px;
                span{
                    font-size: 20px;
                }
            }
        }
    }

    .who_are_we__background-video video {
        width: 100%;
    }

    .video_controls {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        width: 180px;
        margin-right: 70px;
        @media (max-width: 768px){
            display: none;
        }
    }

    @-webkit-keyframes rotating {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    @keyframes rotating {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }


    button {
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        width: 70px;
        height: 70px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:768px){
            width: 60px;
            height: 60px;
        }

        &:before{
            content: '';
            border-radius: 50%;
            border: 2px dotted #fff;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            animation: rotating 1s linear infinite;
            animation: rotating 1s linear infinite;
        }

    }

    .video__wrap{
        position: relative;
        &:before{
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            position: absolute;
            z-index: 1;
            background-color: rgba(170, 170, 170, 0.8);
        }
    }

    .controls_buttons {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: block;
        margin: auto;
        z-index: 5;
        width: 70px;
        height: 70px;
        @media (max-width: 768px){
            width: 60px;
            height: 60px;
            &.desk_butns{
                display: none;
            }
        }
    }

    .control_button{
        &:hover{
            svg{
                transform: scale(1.1);
            }
        }
    }

    .control_button svg {
        padding: 10px;
        transition: all .3s;
    }

    .control_button:first-child svg {
        padding: 6px;
        padding-left: 14px;
        @media (max-width: 768px){
            padding: 12px 10px 12px 14px;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .video__input_volume_block {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .video__input_volume {
        width: 130px;
        background: transparent;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .video__output_volume {
        width: 50px;
        text-align: center;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 18px 0 8px;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        background: #d1d1d1;
        border-radius: 1.3px;
        position: relative;
        bottom: -9px;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        background: #d1d1d1;
        border-radius: 1.3px;
    }

    input[type=range]::-moz-range-thumb {
        height: 16px;
        width: 16px;
        border-radius: 16px;
        background: #d1d1d1;
        cursor: pointer;
        position: relative;
        bottom: -9px;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
    }

    input[type=range]::-ms-thumb {
        height: 16px;
        width: 16px;
        border-radius: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 16px;
        width: 16px;
        border-radius: 16px;
        background: #ffffff;
        cursor: pointer;
        position: relative;
        bottom: -9px;
        -webkit-appearance: none;
        margin-top: -14px;
    }

    .video__output_volume {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }

    .change_page {
        position: fixed;
        bottom: 30px;
        width: calc(100% - 70px);
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px){
            width: 100%;
            justify-content: center;
        }
    }

    .change_page__page_slider {
        display: flex;
        justify-content: space-between;
        width: 150px;
    }

    .change_page__page_slider_nums_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.active {
            .page_slider__circle::before {
                opacity: 1;
                transition: .2s;
            }
        }
        &:hover {
            .page_slider__circle::before {
                opacity: 1;
                transition: .2s;
            }
        }
    }

    .change_page__page_slider_nums_block p {
        color: #fff;
        font-size: 18px;
        margin-bottom: 6px;
        margin-top: 0;
    }

    .page_slider__circle {
        width: 17px;
        height: 17px;
        border: 1px solid #fff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        position: relative;
    }

    .page_slider__circle::before {
        content: '';
        position: absolute;
        display: block;
        opacity: 0;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 10px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: .2s;
    }

    .page_slider__line {
        width: 100%;
        height: 1px;
        background: #fff;
        align-self: flex-end;
        margin-bottom: 8px;
    }

    .change_page__next_page,
    .change_page__prev_page {
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 70px;
        cursor: pointer;
        transition: all .3s;
        p {
            color: #fff;
            margin-bottom: 0;
            font-size: 18px;
            letter-spacing: 1.44px;
            line-height: 100%;
            transition: all .3s;
        }
        &:hover{
            p{
                padding: 0 15px;
            }
        }
        @media (max-width: 768px) {
            display: flex;
            justify-content: flex-end;
            margin-left: 15px!important;
            width: 45px;
            position: absolute;
            left: 5px;
            margin-top: 12px;
            p{
                display: none;
            }
            svg{
                width: 27px;
                height: 23px;
            }
        }
    }

    .change_page__prev_page {
        flex-direction: row-reverse;
        margin-left: 70px;
        margin-right: 0 !important;
        height: inherit;
        p {
            margin-left: 5px;
            margin-top: 0;
        }
    }

    .change_page__next_page_arrow,
    .change_page__prev_page_arrow {
        width: 45px;
        height: 37px;
        .st0 {
            fill: #fff;
        }
    }


    @keyframes nextLinkTop {
        0% {
            top: -100%;
        }
        100% {
            top: 0;
        }
    }
    @keyframes nextLinkText {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .return_to_prev_page {
        position: absolute;
        top: -100%;
        right: 0;
        width: 70px;
        z-index: 999;
        height: 100%;
        -webkit-animation-name: nextLinkTop;
        animation-name: nextLinkTop;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
        -webkit-animation-duration: 1.3s;
        animation-duration: 1.3s;
        span{
            -webkit-animation-name: nextLinkText;
            animation-name: nextLinkText;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            opacity: 0;
        }
    }

    .return_to_prev_page_link {
        cursor: pointer;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: 110px;
        display: block;
        width: 21px;
        font-size: 18px;
        line-height: 18px;
        color: #fff;
        text-decoration: none;
        transition: .5s;
        &:hover {
            text-decoration: none;
            color: #fff;
            top: 125px;
            &::before {
                height: 115px;
            }
        }
        &::before {
            content: '';
            transition: height .5s;
            display: block;
            width: 1px;
            height: 100px;
            position: absolute;
            top: 90px;
            left: 0;
            right: 0;
            margin: auto;
            background: #fff;
            pointer-events: none;
        }
        @media (max-width: 768px){
            display: none;
        }
    }

    .change_page__prev_page .change_page__prev_page_arrow {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    @keyframes changeBackground {
        from {
            background-color: rgba(0, 0, 0, 0.5)
        }
        to {
            background-color: rgba(0, 0, 0, 0)
        }
    }
</style>

<template>
    <div id="who_are_we" @wheel="onMouseScroll($event)" @mousemove="onMouseMove($event)">
        <div class="yak" ref="yak" @click="changeVideoYak()">
            <img src="/dist/images/who-we-are/yak.png" alt="">
        </div>
        <div id="videoBackground" class="who_are_we__background-video">
            <video
                   id="video"
                   class="homepage__video"
                   ref="video"
                   loop="loop">
                <source src="~@/assets/homepage-video.mp4"
                        type="video/mp4">
            </video>
        </div>

        <div class="controls_buttons desk_butns" v-show="!killYak" ref="controls">
            <button class="control_button" v-show="playVideoStyle" @click="playVideo()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 357 357" style="enable-background:new 0 0 357 357;" xml:space="preserve"><g><g>
                                                <g id="play-arrow">
                                                <polygon points="38.25,0 38.25,357 318.75,178.5   " data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"/>
                                                </g>
                                                </g></g>
                                        </svg>
            </button>
            <button ref="controlBtnPause" id="controlBtnPause" class="control_button control_button_pause"
                    v-show="pauseVideoStyle" @click="pauseVideo()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 357 357" style="enable-background:new 0 0 357 357;" xml:space="preserve"><g><g>
                                                <g id="pause">
                                                <path d="M25.5,357h102V0h-102V357z M229.5,0v357h102V0H229.5z" data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"/>
                                                </g>
                                                </g></g>
                                        </svg>
            </button>
        </div>
        <div class="return_to_prev_page" :class="{hidden:hidden}">
            <router-link to="/services"
                         tag="a"
                         class="return_to_prev_page_link"><span>Services</span>
            </router-link>
        </div>
        <h1 class="who_are_we__page_title" :class="{hidden:hidden}" ref="pageTitle">Who are we?</h1>

        <div class="change_page">
            <router-link to="/our-team" tag="a">
                <div class="change_page__prev_page" :class="{hidden:hidden}">
                    <p>Our team</p>
                    <svg class="change_page__prev_page_arrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 32.6 32.6" style="enable-background:new 0 0 32.6 32.6;" xml:space="preserve">
                                                <path class="st0" d="M32.6,16.3c0-0.1,0-0.1,0-0.2c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1c0,0,0,0,0-0.1L20,3.4c-0.2-0.2-0.5-0.2-0.7,0
                                                    s-0.2,0.5,0,0.7l11.7,11.7H0.5C0.2,15.8,0,16,0,16.3s0.2,0.5,0.5,0.5h30.4L19.2,28.5c-0.2,0.2-0.2,0.5,0,0.7
                                                    c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1l12.5-12.5C32.6,16.6,32.6,16.5,32.6,16.3z"/>
                                        </svg>
                </div>
            </router-link>
            <div class="change_page__page_slider" :class="{hidden:hidden}">
                <router-link to="/about-us" tag="a">
                    <div class="change_page__page_slider_nums_block">
                        <p>1</p>
                        <div class="page_slider__circle"></div>
                    </div>
                </router-link>
                <div class="page_slider__line"></div>
                <router-link to="/our-team" tag="a">
                    <div class="change_page__page_slider_nums_block">
                        <p>2</p>
                        <div class="page_slider__circle"></div>
                    </div>
                </router-link>
                <div class="page_slider__line"></div>
                <div class="change_page__page_slider_nums_block active">
                    <p>3</p>
                    <div class="page_slider__circle"></div>
                </div>
            </div>
            <div class="video_controls">
                <div class="video__input_volume_block">
                    <input class="video__input_volume"
                           type="range"
                           id="videoVolume"
                           name="volume"
                           min="0"
                           max="10"
                           step="0.1"
                           value="5"
                           @input="getVolumeValue($event)">
                    <output class="video__output_volume" name="volume" id="videoVolumeOutput">{{ currentVolume }}
                    </output>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'who-are-we',
        data() {
            return {
                videoSrc: 'dist/video/homepage-video.mp4',
                currentVolume: '50%',
                currentVol: null,
                playVideoStyle: false,
                pauseVideoStyle: true,
                timedelay: 1,
                _delay: null,
                isActive: false,
                killYak: false,
                animateYak: null,

                hidden: false
            }
        },
        beforeCreate(){
            if(window.innerWidth < 769) {window.location.replace("/mobile#page4")};
        },
        mounted: function () {
            this.pauseVideo();
            this.startTimer();
            //this.getPositionTop();
            window.addEventListener('resize', () => {
                if(window.innerWidth < 769) {window.location.replace("/mobile#page4")};
            })
        },
        watch: {
            killYak: function () {
                let that = this;
                function getRandomColor() {
                    let letters = '0123456789ABCDEF';
                    let color = '#';
                    for (let i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    that.$refs.pageTitle.style.color = color;
                }
                if (this.killYak) {
                    clearInterval(this.animateYak)
                    this.$refs.yak.style.animation = '';
                    this.$refs.pageTitle.innerHTML = "Yakubovich MODE";
                    that.$refs.pageTitle.style.transition = ".5s linear";
                    getRandomColor();
                    this.$refs.video.play();
                    setInterval(function () {
                        getRandomColor()
                    }, 1000)
                }
            }
        },
        methods: {
            onMouseScroll: function (e) {
                // if (Math.sign(e.deltaY) == -1) {
                //     return this.$router.push('/services')
                // }
            },
            getPositionTop: function () {
                let that = this;
                let height = window.innerHeight;
                let min = 1;
                let max = height;
                this.animateYak = setInterval(function () {
                    //console.log(this.killYak)
                    let positionTop = Math.floor(Math.random() * (max - min) + min);
                    if (this.$refs.yak !== undefined) {
                        this.$refs.yak.style.top = positionTop + 'px';
                        this.$refs.yak.style.animation = "fromLeftToRight 2s infinite";
                    }
                }.bind(this), 2000)
            },
            changeVideoYak: function () {
                this.killYak = true;
                if (this.isActive) {
                    this.$refs.video.src = 'dist/video/homepage-video.mp4';
                    this.isActive = false;
                }
                else {
                    this.$refs.video.src = 'dist/video/baraban.mp4';
                    this.isActive = true;
                }
            },
            delayCheck: function () {
                if (this.timedelay == 5 && this.$refs.controlBtnPause !== undefined) {
                    this.$refs.controlBtnPause.style.animation = "fadeOut 0.5s forwards";
                    this.timedelay = 1;
                }
                else {
                    this.timedelay = this.timedelay + 1;
                }
            },
            onMouseMove: function (e) {
                this.$refs.controlBtnPause.style.animation = "fadeIn 0.5s forwards";
                this.timedelay = 1;
                clearInterval(this._delay);
                this._delay = setInterval(this.delayCheck, 300);
            },
            startTimer: function () {
                this._delay = setInterval(this.delayCheck, 300)
            },
            getVolumeValue: function (e) {
                this.currentVolume = e.target.value * 10 + '%';
                this.currentVol = e.target.value / 10;
                this.$refs.video.volume = this.currentVol;
            },
            playVideo: function () {
                this.$refs.video.play();
                this.playVideoStyle = false;
                this.pauseVideoStyle = true;
                this.$refs.video.volume = 0.5;
                this.$refs.controlBtnPause.style.animation = "fadeOut 0.2s forwards";
                this.hidden = true;
            },
            pauseVideo: function () {
                this.$refs.video.pause();
                this.pauseVideoStyle = false;
                this.playVideoStyle = true;
                this.$refs.video.volume = 0;
                this.hidden = false;
            }
        },
    }
</script>
