<style lang="scss">

    #sectionTitle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
        color: #222831;
        font-size: 20px;
        transition: all 1s;
        text-transform: uppercase;
        @media screen and (max-width: 480px){
            font-size: 16px;
        }
    }

    .prevPageBtn{
        display: flex;
        align-items: center;
        svg{
            transform: rotate(180deg);
            width: 20px;
            height: 20px;
        }
    }


    .left_menu__link{
        @media (max-width: 1024px){
            span{
                font-size: 40px;
                line-height: 75px;
                color: #fff;
                font-weight: 900;
                text-transform: uppercase;
            }
        }
        @media screen and (max-width: 767px){
            span{
                font-size: 34px;
                line-height: 50px;
            }
        }
    }

    .left_menu__hamburger_icon {
        &.active {
            .hamburger_stripe {
                &:nth-child(1) {
                    transition: .35s ease-in-out;
                    transition-delay: .2s;
                    transform: rotate(45deg);
                    bottom: 0;
                    top: 0;
                }
                &:nth-child(2) {
                    transition: .35s ease-in-out;
                    width: 0;
                    bottom: 0;
                    top: 0;
                }
                &:nth-child(3) {
                    transition: .35s ease-in-out;
                    transition-delay: .4s;
                    transform: rotate(-45deg);
                    bottom: 0;
                    top: 0;
                }
            }
        }
    }

    .mobileMenu{
        &__phone {
            display: none;
        }
    }

    .fp-viewing-page1{
        .mobileMenu{
            &__phone{
                color: #fff;
                font-size: 16px;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                &:hover{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

</style>

<template>
        <div  id="left-menu" class="mobileMenu">
            <div class="left_menu__wrapper">
                <div class="logo">
                    <a v-if="!($route.path === '/')" onclick="window.history.go(-1); return false;" class="prevPageBtn"><svg xmlns="http://www.w3.org/2000/svg" width="14.38" height="8.968" viewBox="0 0 14.38 8.968"><path id="Прямоугольник_5_копия" data-name="Прямоугольник 5 копия" d="M1877,540.313h12.78v0.593H1877v-0.593Zm9.34-3.7-0.43.43,3.87,3.874,0.43-.43Zm3.62,3.69,0.42,0.427-3.82,3.839-0.42-.426Z" transform="translate(-1876.5 -536.094)" class="cls-1"></path></svg>
                    </a>
                    <router-link to="/"
                                 tag="a"
                                 class="logo__link">
                        <img src="@/assets/home/logo.svg" alt="logo" class="logo__img">
                    </router-link>
                </div>
                <span id="sectionTitle" v-if="$route.path === '/'"></span>
                <a class="mobileMenu__phone" href="tel:+380678887516">+38 (067) 888 75 16</a>
                <span class="left_menu__hamburger_icon"
                      :class="leftMenuVisible ? 'active' : ''"
                      @click="toggleLeftMenu">
                <span class="hamburger_stripe"></span>
                <span class="hamburger_stripe"></span>
                <span class="hamburger_stripe"></span>
            </span>
        </div>
            <nav class="left_menu">
                <ul class="left_menu__list"
                    :class="leftMenuVisible ? 'visible' : ''">
                    <li class="left_menu__item" @click="closeLeftMenu">
                        <a class="left_menu__link" href="/#page2"><span>Our projects</span></a>
                    </li>
                    <li class="left_menu__item" @click="closeLeftMenu">
                        <a class="left_menu__link" href="/#page3"><span>Services</span></a>
                    </li>
                    <li class="left_menu__item" @click="closeLeftMenu">
                        <a class="left_menu__link" href="/#page4"><span>About us</span></a>
                    </li>
                    <li class="left_menu__item" @click="closeLeftMenu">
                        <a class="left_menu__link" href="/#page5"><span>Contacts</span></a>
                    </li>
                    <li class="social-link left_menu__item">
                        <span>To contact us</span>
                        <div class="social-link__wrap">
                            <a href="viber://chat?number=%2B380678887516" class="viber-link">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="left_menu__social_img left_menu__social_img-white"
                                 viewBox="0 0 283.6 293.1" style="enable-background:new 0 0 283.6 293.1;" xml:space="preserve"><path class="st0" d="M277.2,70.4l-0.1-0.3c-6.8-27.7-37.7-57.3-66-63.5l-0.3-0.1c-45.8-8.7-92.3-8.7-138,0l-0.3,0.1
                                c-28.3,6.2-59.1,35.8-66,63.5l-0.1,0.3c-8.5,38.6-8.5,77.8,0,116.4l0.1,0.3c6.6,26.5,35.1,54.8,62.4,62.6v30.9
                                c0,11.2,13.6,16.7,21.4,8.6l31.3-32.5c6.8,0.4,13.6,0.6,20.4,0.6c23.1,0,46.1-2.2,69-6.5l0.3-0.1c28.3-6.2,59.2-35.8,66-63.5
                                l0.1-0.3C285.7,148.2,285.7,109,277.2,70.4z M206.5,183.6c-3.7,7.9-9.1,14.5-16.9,18.7c-2.2,1.4-4.8,1.8-7.3,2.5
                                c-2.9-0.9-5.6-1.5-8.1-2.5c-26.2-10.9-50.4-24.9-69.5-46.4c-10.9-12.2-19.4-26.1-26.6-40.7c-3.4-6.9-6.3-14.1-9.2-21.3
                                c-2.7-6.5,1.3-13.3,5.4-18.2c3.9-4.6,8.9-8.1,14.3-10.8c4.2-2,8.4-0.9,11.5,2.7c6.7,7.8,12.8,15.9,17.8,24.9
                                c3.1,5.5,2.2,12.3-3.3,16c-1.3,0.9-2.6,2-3.8,3c-1.1,0.9-2.1,1.8-2.9,3c-1.4,2.2-1.4,4.9-0.6,7.3c6.8,18.8,18.3,33.4,37.2,41.2
                                c3,1.3,6.1,2.7,9.5,2.3c5.8-0.7,7.7-7.1,11.8-10.4c4-3.3,9.1-3.3,13.4-0.6c4.3,2.7,8.5,5.6,12.6,8.6c4.1,2.9,8.1,5.7,11.9,9
                                C207.3,175.1,208.6,179.2,206.5,183.6z M172.7,122.7c-1.3,0-1.2,0-0.8,0c-2.4-0.2-3.6-1.7-3.9-4.2c-0.2-1.8-0.4-3.7-0.8-5.5
                                c-0.9-3.5-2.7-6.8-5.7-8.9c-1.4-1-3-1.8-4.6-2.2c-2.1-0.6-4.3-0.4-6.4-1c-2.3-0.6-3.5-2.4-3.2-4.5c0.3-1.9,2.2-3.5,4.3-3.3
                                c13.3,1,22.8,7.8,24.2,23.5c0.1,1.1,0.2,2.3,0,3.3c-0.5,1.7-1.6,2.6-2.9,2.8C173,122.7,172.9,122.7,172.7,122.7z M164.4,86.9
                                c-4.1-2-8.5-3.2-13-4c-2-0.3-3.9-0.5-5.9-0.8c-2.4-0.3-3.7-1.8-3.5-4.2c0.1-2.2,1.7-3.8,4.1-3.6c7.9,0.4,15.5,2.1,22.5,5.9
                                c14.2,7.5,22.4,19.4,24.7,35.3c0.1,0.7,0.3,1.4,0.3,2.2c0.2,1.5,0.3,3,0.4,4.9c0,0,0,0.3,0,0.9c0,0,0,0,0,0
                                c-0.1,0.4-0.1,1.4-0.3,2.4c-0.9,3.4-6.1,3.9-7.3,0.4c-0.4-1-0.4-2.2-0.4-3.3c0-7.3-1.6-14.5-5.3-20.8
                                C176.9,95.7,171.2,90.2,164.4,86.9z M208.4,136c-2.8,0-4-2.3-4.2-4.7c-0.4-4.9-0.6-9.8-1.3-14.6C199.3,91.1,179,70,153.5,65.5
                                c-3.8-0.7-7.7-0.9-11.6-1.3c-2.5-0.3-5.7-0.4-6.2-3.5c-0.5-2.6,1.7-4.6,4.1-4.7c0.7-0.1,1.4-0.1,2.1-0.1c32.7,1,2.5,0.1,0.1,0
                                c34.2,1.1,62.4,23.7,68.4,57.7c1,5.8,1.4,11.7,1.9,17.6C212.5,133.7,211.1,136,208.4,136z"/>
                            </svg>
                            </a>
                            <a href="tg://resolve?domain=msstudio" class="tg-link">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve" class="left_menu__social_img left_menu__social_img-white"><g id="XMLID_496_"><path id="XMLID_497_" d="M9,246.9l118,44l45.7,146.9c2.9,9.4,14.4,12.9,22.1,6.6l65.8-53.6c6.9-5.6,16.7-5.9,23.9-0.7
                        L403,476.2c8.2,5.9,19.7,1.5,21.8-8.4l86.9-417.9c2.2-10.8-8.4-19.8-18.6-15.8L8.9,220.8C-3,225.5-2.9,242.4,9,246.9z M165.3,267.5
                        l230.6-142c4.1-2.5,8.4,3.1,4.8,6.4L210.5,308.7c-6.7,6.2-11,14.6-12.2,23.6l-6.5,48c-0.9,6.4-9.9,7.1-11.6,0.8l-24.9-87.6
                        C152.3,283.6,156.5,272.9,165.3,267.5z" class="st0"></path></g></svg>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
</template>

<script>
    export default {
        name: 'mobile-menu',
        data () {
            return {
                refresh: false,
                leftMenuVisible: false,
                currentPage: this.$router.currentRoute.path,
            }
        },
        methods: {
            toggleLeftMenu: function () {
                this.leftMenuVisible = !this.leftMenuVisible;
            },
            closeLeftMenu: function () {
                this.leftMenuVisible = !this.leftMenuVisible;
            }
        },
        watch:{
            $route (to, from) {
                this.currentPage = this.$router.currentRoute.path;
                this.leftMenuVisible = false;
            }
        },
    }
</script>
