<style lang="scss">
    .portfolio-arrows{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);

        width: 42px;
        height: 42px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #272727;
        background: #fff;
        border-radius: 100%;
        transition: all .3s;
        @media screen and (max-width: 1024px) {
            z-index: 1;
        }
        &:hover{
            span{
                transform: scale(0.9);
            }
        }
        &__left{
            left: 12px;
            z-index: 99999;
            transform: translateY(-50%) rotate(180deg);
            &:hover{
                transform: translateY(-50%) rotate(180deg) scale(1.1);
                @media screen and (max-width:1024px) {
                    transform: none;
                    text-decoration: none;
                }
            }
        }
        &__right{
            right: 12px;
            z-index: 9999;
            &:hover{
                transform: translateY(-50%) scale(1.1);
                @media screen and (max-width:1024px) {
                    transform: none;
                    text-decoration: none;
                }
            }
        }

        svg{
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }

        span{
            display: none;
            @media screen and (max-width: 1024px) {
                display: block;
                font-size: 14px;
                color: #222;
                transition: all .3s;
            }
        }
        @media screen and (max-width: 1024px){
            bottom: 0;
            top: inherit;
            border: none;
            border-radius: 0;
            transform: none;
            width: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            &__left{
                left: 0;
                border-right: 1px solid #f0f0f0;
                z-index: 999;
            }
            &__right{
                right: 0;
                border-left: 1px solid #f0f0f0;
            }
        }
    }
</style>

<template>
    <div class="portfolio-arrows__wrapper">
        <a :href="prevPage" v-if="prevPage" class="portfolio-arrows portfolio-arrows__left" id="portfolio-arrows__left">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="14.38"
                 height="8.968"
                 viewBox="0 0 14.38 8.968">
                <path id="Прямоугольник_5_копия"
                      data-name="Прямоугольник 5 копия"
                      class="cls-1"
                      d="M1877,540.313h12.78v0.593H1877v-0.593Zm9.34-3.7-0.43.43,3.87,3.874,0.43-.43Zm3.62,3.69,0.42,0.427-3.82,3.839-0.42-.426Z"
                      transform="translate(-1876.5 -536.094)"/>
            </svg>
            <span>Назад</span>
        </a>
        <a :href="nextPage" v-if="nextPage" class="portfolio-arrows portfolio-arrows__right" id="portfolio-arrows__right">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="14.38"
                 height="8.968"
                 viewBox="0 0 14.38 8.968">
                <path id="Прямоугольник_5_копия"
                      data-name="Прямоугольник 5 копия"
                      class="cls-1"
                      d="M1877,540.313h12.78v0.593H1877v-0.593Zm9.34-3.7-0.43.43,3.87,3.874,0.43-.43Zm3.62,3.69,0.42,0.427-3.82,3.839-0.42-.426Z"
                      transform="translate(-1876.5 -536.094)"/>
            </svg>
            <span>Следующий</span>
        </a>
    </div>
</template>

<script>
    import itemsAll from '../config/portfolio.js'
    export default {
        name: 'portfolio-arrows',
        data() {
            return {
                listPrj: itemsAll,

                prevPage: '',
                nextPage: ''
            }
        },
        methods: {
        },
        mounted: function () {
            let route = this.$route.path;
            let list = this.listPrj;
            let prev;
            let next;

            list.forEach(function(item, i, arr) {
                if(item.link === route){
                    switch (i) {
                        case 0:
                            next = list[i+1].link;
                            break;
                        case (arr.length - 1):
                            prev = list[i-1].link;
                            break;
                        default:
                            prev = list[i-1].link;
                            next = list[i+1].link;
                    }

                }
            });
            this.prevPage = prev;
            this.nextPage = next;
        },
        watch: {},
    }
</script>
