<style lang="scss" score>
    .right_menu {
        width: 70px;
        height: 100vh;
        background: #fff;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        @media (max-width: 1024px) {
            display: none;
        }

        .return_to_prev_page_link {
            cursor: pointer;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(180deg);
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            top: 110px;
            display: block;
            width: 21px;
            font-size: 18px;
            line-height: 18px;
            color: #000;
            text-decoration: none;
            transition: .5s;
            white-space: nowrap;
            &:hover {
                text-decoration: none;
                color: #000;
                top: 125px;
                &::before {
                    height: 115px;
                }
            }
            &::before {
                content: '';
                transition: height .5s;
                display: block;
                width: 1px;
                height: 100px;
                position: absolute;
                top: 155px;
                left: 0;
                right: 0;
                margin: auto;
                background: #000;
                pointer-events: none;
            }
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }
    .top-link{
        @media screen and (min-width: 1025px){
            display: none;
        }
        position: absolute;
        left: 10px;
        top: 70px;
        z-index: 5;
        .prev_page_link{
            font-size: 14px;
            line-height: 18px;
            color: #000;
            display: flex;
            align-items: center;
            &:hover{
                text-decoration: none;
            }
            svg{
                fill: #000;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                margin-right: 5px;
                height: 16px;
            }
        }
        .change_page__prev_page_arrow .st0{
            fill:#000 !important
        }
    }
</style>

<template>
    <div>
        <div class="top-link">
            <a href="/#page2"
                         class="prev_page_link">
                <svg data-v-699929ff="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32.6 32.6" xml:space="preserve" class="change_page__prev_page_arrow"><path data-v-699929ff="" d="M32.6,16.3c0-0.1,0-0.1,0-0.2c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1c0,0,0,0,0-0.1L20,3.4c-0.2-0.2-0.5-0.2-0.7,0
                                                s-0.2,0.5,0,0.7l11.7,11.7H0.5C0.2,15.8,0,16,0,16.3s0.2,0.5,0.5,0.5h30.4L19.2,28.5c-0.2,0.2-0.2,0.5,0,0.7
                                                c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1l12.5-12.5C32.6,16.6,32.6,16.5,32.6,16.3z" class="st0"></path></svg>
                <span>Вернуться к нашим проектам</span>
            </a>
        </div>
        <div id="right-menu" class="right_menu">
            <div class="right_menu__wrapper">

                <transition name="slide-right"
                            appear>
                    <div class="return_to_prev_page">
                        <router-link to="/portfolio"
                                     tag="a"
                                     class="return_to_prev_page_link">
                            <span>Our projects</span>
                        </router-link>
                    </div>
                </transition>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'left-menu',
        data() {
            return {
                currentPage: this.$router.currentRoute.path,
            }
        },
        methods: {},
        watch: {},
    }
</script>
