<template>
    <div id="app"
         :class="[
             {home:$route.path === '/'},$route.path.slice(1),
             {isPortfolio:$route.path.slice(1,11) === 'portfolio/'}
         ]"
    >
        <div id="alertTitle" v-if="!checkDevice">please rotate your device</div>
        <left-menu v-if="checkDevice"></left-menu>
        <mobile-menu v-else></mobile-menu>
        <router-view/>
        <div class="animation" v-if="lineLoading">
            <div class="line-loading white"></div>
        </div>
        <right-menu v-if="$route.path.slice(1,11) === 'portfolio/'"></right-menu>
        <portfolio-arrows v-if="$route.path.slice(1,11) === 'portfolio/'"></portfolio-arrows>

    </div>
</template>

<script>
    import LeftMenu from "./components/LeftMenu.vue";
    import RightMenu from "./components/RightMenu.vue";
    import MobileMenu from "./components/MobileMenu.vue";
    import PortfolioArrows from "./components/PortfolioArrows.vue";
    import {mapGetters} from 'vuex';


    require('first-input-delay');


    export default {
        name: 'app',
        data() {
            return {
                checkDevice: true,
            }
        },
        computed:{
            ...mapGetters({
                lineLoading: 'LINE',
            }),
        },
        components: {
            'left-menu': LeftMenu,
            'right-menu': RightMenu,
            'mobile-menu': MobileMenu,
            'portfolio-arrows': PortfolioArrows,
        },
        mounted: function () {
            this.isDesktop();
            window.addEventListener('resize', () => {
                this.isDesktop();
            });
            window.addEventListener("orientationchange", function() {
                if(window.innerWidth < 768){
                    if(window.orientation === -90 || window.orientation === 90){
                        document.getElementById('alertTitle').style.display = "flex"
                    }else {
                        document.getElementById('alertTitle').style.display = "none"
                    }
                }
            }, false);

        },
        beforeCreate(){
            perfMetrics.onFirstInputDelay(function(delay, evt) {
                console.log(delay,evt);
            });


        },
        methods: {
            isDesktop: function() {
                if(window.innerWidth < 1025){
                    this.checkDevice = false;

                    if(this.$route.path == '/portfolio'){
                        this.$router.push('/#page2');
                    } else if(this.$route.path == '/services'){
                        this.$router.push('/#page3');
                    } else if(this.$route.path == '/about-us'){
                        this.$router.push('/#page4');
                    } else if(this.$route.path == '/contacts'){
                        this.$router.push('/#page5');
                    }

                }else{
                    this.checkDevice = true;

                    if(this.$route.path == '/') {
                        this.$router.push('/');
                    }
                }
            }
        },
    }
</script>

<style lang="scss">
    @font-face {
        font-display: swap-Heavy;
        font-family: 'Geometria';
        src: url('~@/assets/fonts/Geometria/Geometria-Heavy.woff') format('woff');
        font-weight: 900;
        font-style: normal;
    }
    
    @font-face {
        font-display: swap;
        font-family: 'Geometria-Medium';
        src:url('~@/assets/fonts/Geometria/Geometria-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-display: swap;
        font-family: 'Geometria';
        src: url('~@/assets/fonts/Geometria/Geometria.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-display: swap;
        font-family: 'Geometria-Bold';
        src: url('~@/assets/fonts/Geometria/Geometria-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-display: swap;
        font-family: 'Geometria-Light';
        src: url('~@/assets/fonts/Geometria/Geometria-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-display: swap;
        font-family: 'Geometria-ExtraBold';
        src: url('~@/assets/fonts/Geometria/Geometria-ExtraBold.woff') format('woff');
        font-weight: 300;
        font-style: normal;
    }

    .breedcrumbs{
        margin-bottom: 10px;
        &_wrap{
            display: flex;
            a, span{
                color: #fff;
                font-size: 14px;
            }
        }
        &_line{
            margin: 0 5px;
            position: relative;
            &:before{
                content: '/';
                color: #fff;
                font-size: 12px;
            }
        }
        @media screen and (max-width: 767px){
            display: none;
        }
    }

    .grecaptcha-badge{
        display: none!important;
    }



    .grecaptcha-badge{
        z-index: 999;
    }

    html {
        min-width: 320px;
    }

    body {
        margin: 0;
        min-width: 320px;

    }

    #alertTitle{
        display: none;
        position: fixed;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        background-color: #337ab7;
        z-index: 999999999;
        color: #fff;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-transform: uppercase;
        top: 0;
        left: 0;
    }


    #app {
        padding: 0 70px;
        transform: translate(0);
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        box-sizing: border-box;
        min-width: 320px;
        &.isPortfolio{
            overflow-y: auto;
            padding: 0 70px;
            transform: none;
            height: 100%;
            @media (max-width:1024px){
                padding: 0;
                main{
                    margin-top: 110px;
                    padding-bottom: 42px;
                }
            }

        }

        &.business-site,
        &.individual-site,
        &.business-card-website,
        &.crowd-marketing,
        &.analysis-of-competitors,
        &.seo-audit,
        &.smm,
        &.landing,
        &.promotion,
        &.brief,
        /*&.ppc,*/
        &.brief-seo,
        &.brief-style{
            overflow-y: auto;
            padding: 0 70px;
            transform: none;
            height: 100%;
            @media (max-width:1024px){
                padding: 0 15px;
            }
        }


        &.our-team{
            background-color: #222831;
        }
        &.our-projects,
        &.website-development,
        &.motion-design,
        &.seo-optimization,
        &.mobile-app,
        &.branding,
        &.brandbook,
        &.context,
        &.online-shop,
        &.corporate-site,
        &.ppc{
            @media screen and(max-width: 1024px) {
                display: block;
                transform: none;
            }
        }
        @media screen and(max-width: 1024px) {
            padding: 0;
            padding-top: 55px;
            display: flex;
            &.website-development,
            &.motion-design,
            &.seo-optimization,
            &.mobile-app,
            &.branding,
            &.context,
            &.online-shop,
            &.corporate-site,
            &.ppc,
            &.brandbook{
                overflow: auto;
                height: auto;
            }
        }

        &.home{
            @media screen and (max-width: 1024px){
                padding-top: 0;
                display: block;
            }
        }
    }

    // Slide-up
    .slide-up-enter-active,.slide-up-leave-active{
        transition: all .75s ease 1s;
    }
    .slide-up-leave-to,.slide-up-enter{
        transform: translateY(370px);
    }
    
    .animation {
        background: #000;
    }
    
    .setka {
        /*background-image: url("~@/assets/services/network-cells.png");*/
        background-image: url("~@/assets/slice.png");
        background-repeat: repeat;
        background-size: 8px;
        background-attachment: fixed;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    
    // Keyframes
    @keyframes lineCenter {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }
    
    .animation {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background: transparent;
        width: 100%;
        overflow: hidden;
        .line-loading {
            width: 100%;
            left: -100%;
            top: 50%;
            position: absolute;
            height: 1px;
            background-color: grey;
            animation: lineCenter .3s;
            animation-fill-mode: backwards;
            &.reverse {
                animation: lineCenter 0.7s;
                animation-fill-mode: backwards;
                animation-direction: reverse;
            }
            &.white{
                background-color: white;
                animation: lineCenter .4s;
            }
        }
    }
    
    // Slide-left
    .slide-left-enter-active {
        transition: all .3s ease 0.7s;
    }
    
    .slide-left-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    
    .slide-left-enter, .slide-left-leave-to {
        transform: translateX(-100%);
        opacity: 0;
    }
    
    // Slide-left
    .fade-delay-enter-active, .fade-delay-leave-active {
        transition: all .5s ease 1s;
    }
    
    .fade-delay-enter, .fade-delay-leave-to {
        opacity: 0;
    }
    
    // Slide-right
    .slide-right-enter-active {
        transition: all .3s ease 0.7s;
    }
    
    .slide-right-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    
    .slide-right-enter, .slide-right-leave-to {
        transform: translateX(100%);
        opacity: 0;
    }
    
    // Circle
    .circle-enter-active {
        transition: all .3s linear 0.7s;
    }
    
    .circle-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    
    .circle-enter, .circle-leave-to {
        width: 0;
        height: 0;
    }
    
    .slide-home {
        /*display: none;*/
        &__blue__screen {
            width: 100%;
            height: 100%;
            background: #222831;
            position: absolute;
            left: 100%;
            top: 0;
            animation: slideInLeft 1s;
            z-index: 99999;
            animation-fill-mode: forwards;
        }
        &__grey__screen {
            opacity: 0;
            width: 100%;
            height: 100%;
            background: #808080;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 99998;
            animation: grayBg 1s;
        }
    }
    
    .slide-out {
        display: none;
        &__blue__screen {
            width: 100%;
            height: 100%;
            background:#222831;
            position: fixed;
            left: 0;
            bottom: -100%;
            animation: slideInBottom 1s;
            z-index: 9999;
            animation-fill-mode: forwards;
        }
        &__white__screen {
            width: 100%;
            height: 100%;
            background: white;
            position: absolute;
            left: 0;
            bottom: -100%;
            animation: slideInBottom 1.2s;
            animation-delay: 0.4s;
            z-index: 9999;
            animation-fill-mode: forwards;
        }
    }
    
    .scale-enter-active {
        transition: all .3s ease;
        transform-origin: left;
    }
    
    .scale-leave-active {
        transition: all 1s ease;
    }
    
    .scale-enter, .scale-leave-to {
        transform: scale(0);
        opacity: 0;
    }
    
    .return_to_prev_page_link {
        top: 90px;
        transition: .5s;
        &:before {
            height: 85px;
            transition: .5s;
        }
        &:hover {
            top: 115px;
            &:before {
                height: 120px;
            }
        }
    }
    
    @keyframes slideInLeft {
        0% {
            left: -100%;
        }
        40% {
            left: 0;
        }
        60% {
            left: 0;
        }
        100% {
            left: 100%;
        }
    }
    
    @keyframes slideInBottom {
        0% {
            bottom: -100%;
        }
        40% {
            bottom: 0;
        }
        60% {
            bottom: 0;
        }
        100% {
            bottom: 100%;
        }
    }
    
    @keyframes grayBg {
        0% {
            opacity: 1;
        }
        49% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    /*common styles*/
    #app {
        font-family: 'Geometria', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #000;
    }
    
    button {
        &:focus {
            outline: none;
        }
    }
    
    /*mouse move effect (canvas)*/
    #setka {
        position: absolute;
        width: 800px;
        height: 800px;
        z-index: 1;
        opacity: .3;
    }
    
    .canvas_wrapper {
        position: absolute;
        width: 800px;
        height: 800px;
        z-index: -2;
    }

    /*scrolling mouse styles*/
    .mouse {
        position: absolute;
        left: 0;
        top: -3px;
        width: 29px;
        height: 42px;
        display: inline-block;
        margin-right: 15px;
        border-radius: 15px;
        border: 2px solid #fff;
        -webkit-animation: intro 1s;
        animation: intro 1s;
        @media (max-width: 1024px) {
            display: none;
        }
    }
    
    .swipe-up {
        display: none;
        @media (max-width: 1024px) {
            display: block;
        }
    }
    
    .scroll {
        display: block;
        width: 3px;
        height: 3px;
        margin: 6px auto;
        border-radius: 4px;
        background: #fff;
        -webkit-animation: finger 1s infinite;
        animation: finger 1s infinite;
    }
    
    @-webkit-keyframes intro {
        0% {
            opacity: 0;
            -webkit-transform: translateY(40px);
            transform: translateY(40px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    
    @keyframes intro {
        0% {
            opacity: 0;
            -webkit-transform: translateY(40px);
            transform: translateY(40px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    
    @-webkit-keyframes finger {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
        }
    }
    
    @keyframes finger {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
        }
    }
    
    /*pagination styles*/
    .pagination__list {
        padding: 0;
        position: fixed;
        display: block;
        height: auto;
        left: 80px;
        top: 50%;
        margin: 0;
        z-index: 1000;
        transform: translateY(-50%);
        &.change_color {
            .pagination__item {
                background: #979797;
                &::before {
                    background: #979797;
                }
            }
            .pagination__text {
                color: #979797;
            }
        }
    }
    
    .pagination__item {
        cursor: pointer;
        list-style: none;
        position: relative;
        background: #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 14px 0;
        transition: all 1s;
        &.active {
            width: 17px;
            height: 17px;
            left: -3px;
            &::before {
                content: '';
                width: 28px;
                height: 2px;
                background: #fff;
                position: absolute;
                left: -27px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
            }
            .pagination__text {
                display: block;
            }
        }
    }
    
    .pagination__text {
        display: none;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        top: -4px;
        left: 21px;
        position: absolute;
    }
    
    .pagination__label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }
    
    .pagination__radio {
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
    }
    
    /*noise fx*/
    .noise {
        position: fixed;
        left: 70px;
        top: 0;
        width: calc(100% - 140px);
        height: 100%;
        z-index: 1;
        opacity: .05;
        pointer-events: none;
    }
</style>
